:root
{
  --critical-url: url("./assets/images/critical.png") !important;
  --exclamation-url: url("./assets/images/exclamation.png") !important;
  --information-url: url("./assets/images/information.png") !important;
  --question-url: url("./assets/images/question.png") !important;
}

html, body
{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
}

body
{
  font-family: system-ui, sans-serif;
  font-size: 10px;

  line-height: 1.2;

  background-color: #396DA5;
  background-image: url("assets/images/wallpaper.jpg");
  background-size: cover;
  color: windowtext;
}

.appIcon
{
  background-image: url("assets/images/appIcon.svg");
}


[coolfontfamily="Courier Bold Italic"]
{
	font-family: Courier !important;
	font-weight: bold;
	font-style: italic;
}

[coolfontfamily="Tahoma"],
[coolfontfamily="ARB3270"]
{
  font-family: Tahoma !important;
}

[coolfontfamily="Helv"]
{
  font-family: 'Helvetica', 'Arial', sans-serif  !important;
}

[coolfontfamily="Lucida Console"]
{
  font-family: "Lucida Console", monospace  !important;
}

[coolfontfamily="Courier New"]
{
  font-family: "Courier New"  !important;
}

[coolfontfamily="Comic Sans MS"]
{
	font-family: "Comic Sans MS", cursive, sans-serif  !important;
}

[coolfontfamily="Arial Narrow"]
{
  font-family: "Arial Narrow", Arial, sans-serif  !important;
}

[coolfontsize="7"]
{
  font-size: 7pt;
  /* font-weight: 700; */
}

[coolfontsize="8"],
[coolfontsize="8"] > table td
{
  font-size: 8pt;
  /* font-weight: 700; */
}

[coolfontsize="9"]
{
  font-size: 9pt;
  /* font-weight: 700; */
}

[coolfontsize="10"]
{
  font-size: 10pt;
}

[coolfontsize="11"]
{
  font-size: 11pt;
}

[coolfontsize="14"]
{
  font-size: 14pt;
}

[coolfontsize="16"]
{
  font-size: 16pt;
}

[coolfontsize="18"]
{
  font-size: 18pt;
}

[coolfontsize="22"]
{
  font-size: 22pt;
}

[coolfontsize="24"]
{
  font-size: 24pt;
}

[coolfontsize="26"]
{
  font-size: 26pt;
}

[coolfontsize="36"]
{
  font-size: 36pt;
}

[coolFontStyle~=italic i]
{
	font-style: italic;
}

[coolFontStyle~=bold i]
{
	font-weight: bold;
}

[coolFontStyle~=not i][coolFontStyle~=bold i]
{
	font-weight: normal;
}

[coolFontFamily="Courier Bold Italic" i]
{
	font-family: Courier  !important;
	font-weight: bold;
}

[coolHeader] [coolPrompt][coolFontSize="8"]
{
  display: block;
  font-size: 8pt ! important;
}

[coolFontFamily=Arial i]
{
  font-family: Arial ! important;
}

[coolType=PUSHBTN]
{
  padding-top: 0;
  padding-bottom: 0;
  background-color: #D6D3CE !important;
}

[coolType=PUSHBTN]:not(coolFontSize)
{
  font-size: inherit;
}


[coolBackground=c0c0c0]
{
  background-color: #C0C0C0 !important;
}

input[type=date][coolType]
{
  font-size: 77%;
}

[coolintensity=high][coolhighlight=reverseVideo]
{
  color: white;
  background-color: black;
}

[cooltype][disabled]:not(:read-only)
{
	pointer-events: none;
	opacity: 0.5;
}
