div {
    color: white;
}

h1, h3 {
    font-weight: bold;
    width: 100%;
    color: white;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

table {
    color: white;
    width: 100%;
    font-size: larger;
}

th
{
    text-align: right;
    width: 45%;
}

td 
{
    text-align: left;
    width: 55%;
}

input[type=text],
input[list]
{
    width: 230px;
}