<!--Name: AA_SI_PPFX_FIX_CSE_PERSON_PROGRA, ID: 372885584, model: 746-->
<div coolContent coolName="AA_SI_PPFX_FIX_CSE_PERSON_PROGRA" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 0; width: 57.5%; height: 4%;" coolCol="18"
     coolRow="1" coolLength="46">Limited use to fix CSE person program problems</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 2.5%; top: 8%; width: 15%; height: 4%;"
     coolCol="3" coolRow="3" coolLength="12">CSE Person #</div>
   <input type="text" coolType="field" name="field_3_16"
     [(ngModel)]="in.csePerson.number"
     [coolVideo]="out.csePerson.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 18.75%; top: 8%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="3" coolLength="10">
   <input type="text" coolType="field" name="field_3_29"
     [(ngModel)]="in.workArea.text3"
     [coolVideo]="out.workArea.screenField?.text3" coolAutotab coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 8%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="3" coolLength="3">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="4" coolLength="10">Start Date</div>
   <input type="text" coolType="field" name="field_4_14"
     [(ngModel)]="in.start.timestamp"
     [coolVideo]="out.start.screenField?.timestamp" coolAutotab
     coolColor="green" coolHighlight="underscore"
     coolDate="yyyy-MM-dd-HH.mm.ss.zzzzzz" [attr.maxlength]="26"
     style="left: 16.25%; top: 12%; width: 32.5%; height: 4%;" coolCol="14"
     coolRow="4" coolLength="26">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 12%; width: 11.25%; height: 4%;" coolCol="44"
     coolRow="4" coolLength="9">Stop Date</div>
   <input type="text" coolType="field" name="field_4_54"
     [(ngModel)]="in.stop.timestamp"
     [coolVideo]="out.stop.screenField?.timestamp" coolAutotab coolColor="green"
     coolHighlight="underscore" coolDate="yyyy-MM-dd-HH.mm.ss.zzzzzz"
     [attr.maxlength]="26"
     style="left: 66.25%; top: 12%; width: 32.5%; height: 4%;" coolCol="54"
     coolRow="4" coolLength="26">
   
   <div coolType="literal"
     style="left: 1.25%; top: 20%; width: 15%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="12">CSE Person #</div>
   
   <div coolType="literal"
     style="left: 18.75%; top: 20%; width: 2.5%; height: 4%;" coolCol="16"
     coolRow="6" coolLength="2">RC</div>
   
   <div coolType="literal"
     style="left: 26.25%; top: 20%; width: 15%; height: 4%;" coolCol="22"
     coolRow="6" coolLength="12">CSE Person #</div>
   
   <div coolType="literal"
     style="left: 43.75%; top: 20%; width: 2.5%; height: 4%;" coolCol="36"
     coolRow="6" coolLength="2">RC</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 20%; width: 15%; height: 4%;" coolCol="42"
     coolRow="6" coolLength="12">CSE Person #</div>
   
   <div coolType="literal"
     style="left: 68.75%; top: 20%; width: 2.5%; height: 4%;" coolCol="56"
     coolRow="6" coolLength="2">RC</div>
   
   <div coolType="literal"
     style="left: 76.25%; top: 20%; width: 15%; height: 4%;" coolCol="62"
     coolRow="6" coolLength="12">CSE Person #</div>
   
   <div coolType="literal"
     style="left: 93.75%; top: 20%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="6" coolLength="2">RC</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 24%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="10">{{in.import1?.[0]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 24%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="7" coolLength="3">{{in.import1?.[0]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 24%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="10">{{in.import1?.[1]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 24%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="7" coolLength="3">{{in.import1?.[1]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 24%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="7" coolLength="10">{{in.import1?.[2]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 24%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="7" coolLength="3">{{in.import1?.[2]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 24%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="7" coolLength="10">{{in.import1?.[3]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 24%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="7" coolLength="3">{{in.import1?.[3]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 28%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="10">{{in.import1?.[4]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 28%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="8" coolLength="3">{{in.import1?.[4]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 28%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="8" coolLength="10">{{in.import1?.[5]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 28%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="8" coolLength="3">{{in.import1?.[5]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 28%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="8" coolLength="10">{{in.import1?.[6]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 28%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="8" coolLength="3">{{in.import1?.[6]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 28%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="8" coolLength="10">{{in.import1?.[7]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 28%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="8" coolLength="3">{{in.import1?.[7]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="10">{{in.import1?.[8]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 32%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="9" coolLength="3">{{in.import1?.[8]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="9" coolLength="10">{{in.import1?.[9]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 32%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="9" coolLength="3">{{in.import1?.[9]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="9" coolLength="10">{{in.import1?.[10]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 32%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="9" coolLength="3">{{in.import1?.[10]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="9" coolLength="10">{{in.import1?.[11]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 32%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="9" coolLength="3">{{in.import1?.[11]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 36%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="10" coolLength="10">{{in.import1?.[12]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 36%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="10" coolLength="3">{{in.import1?.[12]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 36%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="10" coolLength="10">{{in.import1?.[13]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 36%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="10" coolLength="3">{{in.import1?.[13]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 36%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="10" coolLength="10">{{in.import1?.[14]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 36%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="10" coolLength="3">{{in.import1?.[14]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 36%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="10" coolLength="10">{{in.import1?.[15]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 36%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="10" coolLength="3">{{in.import1?.[15]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 40%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="10">{{in.import1?.[16]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 40%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="11" coolLength="3">{{in.import1?.[16]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 40%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="11" coolLength="10">{{in.import1?.[17]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 40%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="11" coolLength="3">{{in.import1?.[17]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 40%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="11" coolLength="10">{{in.import1?.[18]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 40%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="11" coolLength="3">{{in.import1?.[18]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 40%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="11" coolLength="10">{{in.import1?.[19]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 40%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="11" coolLength="3">{{in.import1?.[19]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="10">{{in.import1?.[20]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 44%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="12" coolLength="3">{{in.import1?.[20]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="12" coolLength="10">{{in.import1?.[21]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 44%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="12" coolLength="3">{{in.import1?.[21]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="12" coolLength="10">{{in.import1?.[22]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 44%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="3">{{in.import1?.[22]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="12" coolLength="10">{{in.import1?.[23]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 44%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="12" coolLength="3">{{in.import1?.[23]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 48%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="10">{{in.import1?.[24]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 48%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="13" coolLength="3">{{in.import1?.[24]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 48%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="13" coolLength="10">{{in.import1?.[25]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 48%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="13" coolLength="3">{{in.import1?.[25]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 48%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="13" coolLength="10">{{in.import1?.[26]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 48%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="13" coolLength="3">{{in.import1?.[26]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 48%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="13" coolLength="10">{{in.import1?.[27]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 48%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="13" coolLength="3">{{in.import1?.[27]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="10">{{in.import1?.[28]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 52%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="14" coolLength="3">{{in.import1?.[28]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="14" coolLength="10">{{in.import1?.[29]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 52%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="14" coolLength="3">{{in.import1?.[29]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="14" coolLength="10">{{in.import1?.[30]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 52%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="14" coolLength="3">{{in.import1?.[30]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="14" coolLength="10">{{in.import1?.[31]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 52%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="14" coolLength="3">{{in.import1?.[31]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="10">{{in.import1?.[32]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="15" coolLength="3">{{in.import1?.[32]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="15" coolLength="10">{{in.import1?.[33]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="15" coolLength="3">{{in.import1?.[33]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="15" coolLength="10">{{in.import1?.[34]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="3">{{in.import1?.[34]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="15" coolLength="10">{{in.import1?.[35]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="15" coolLength="3">{{in.import1?.[35]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="10">{{in.import1?.[36]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 60%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="16" coolLength="3">{{in.import1?.[36]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="16" coolLength="10">{{in.import1?.[37]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 60%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="16" coolLength="3">{{in.import1?.[37]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="16" coolLength="10">{{in.import1?.[38]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 60%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="16" coolLength="3">{{in.import1?.[38]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="16" coolLength="10">{{in.import1?.[39]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 60%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="16" coolLength="3">{{in.import1?.[39]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 64%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="10">{{in.import1?.[40]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 64%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="17" coolLength="3">{{in.import1?.[40]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 64%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="17" coolLength="10">{{in.import1?.[41]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 64%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="17" coolLength="3">{{in.import1?.[41]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 64%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="17" coolLength="10">{{in.import1?.[42]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 64%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="17" coolLength="3">{{in.import1?.[42]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 64%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="17" coolLength="10">{{in.import1?.[43]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 64%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="17" coolLength="3">{{in.import1?.[43]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 2.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="18" coolLength="10">{{in.import1?.[44]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 18.75%; top: 68%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="18" coolLength="3">{{in.import1?.[44]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 27.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="18" coolLength="10">{{in.import1?.[45]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 43.75%; top: 68%; width: 3.75%; height: 4%;" coolCol="36"
     coolRow="18" coolLength="3">{{in.import1?.[45]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 52.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="18" coolLength="10">{{in.import1?.[46]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 68.75%; top: 68%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="18" coolLength="3">{{in.import1?.[46]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 77.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="18" coolLength="10">{{in.import1?.[47]?.mbrCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 93.75%; top: 68%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="18" coolLength="3">{{in.import1?.[47]?.mbrWorkArea.text3}}</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 0; top: 76%; width: 100%; height: 4%;" coolCol="1"
     coolRow="20" coolLength="80">{{in.message.text80}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="TRIAL" tabindex="2" href="#"
     coolAccesskey="F2">F02=TRIAL</a>
   <a coolType="action" coolCommand="FIX" tabindex="2" href="#"
     coolAccesskey="F6">F06=FIX</a>
   <a coolType="action" coolCommand="CONTINUE" tabindex="2" href="#"
     coolAccesskey="F8">F08=CONTINUE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     coolAccesskey="F12">F12=SIGNOFF</a>
   </div>