<!--Name: CO_RPRT_REPRINT_OPTION_SELECTION, ID: 371141546, model: 746-->
<div coolContent coolName="CO_RPRT_REPRINT_OPTION_SELECTION" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 26.25%; top: 0; width: 46.25%; height: 4%;" coolCol="22"
     coolRow="1" coolLength="37">CSE - Reprint Option Selection - RPRT</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 7.5%; top: 12%; width: 3.75%; height: 4%;" coolCol="7"
     coolRow="4" coolLength="3">Job</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 12%; width: 10%; height: 4%;" coolCol="11"
     coolRow="4" coolLength="8">{{in.job.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 12%; width: 50%; height: 4%;" coolCol="20"
     coolRow="4" coolLength="40">{{in.job.description}}</div>
   
   <div coolType="prompt" style="left: 12.5%; top: 20%; width: 15%; height: 4%;"
     coolCol="11" coolRow="6" coolLength="12">Submitted By</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 28.75%; top: 20%; width: 6.25%; height: 4%;" coolCol="24"
     coolRow="6" coolLength="5">{{in.serviceProvider.systemGeneratedId|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 20%; width: 10%; height: 4%;" coolCol="30"
     coolRow="6" coolLength="8">{{in.serviceProvider.userId}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 20%; width: 41.25%; height: 4%;" coolCol="39"
     coolRow="6" coolLength="33">{{in.srvPrvdr.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 12.5%; top: 28%; width: 11.25%; height: 4%;" coolCol="11"
     coolRow="8" coolLength="9">Job Start</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 25%; top: 28%; width: 17.5%; height: 4%;" coolCol="21"
     coolRow="8" coolLength="14">{{in.jobRun.startTimestamp|coolDate:'MMddyyyy HH:mm':0}}</div>
   
   <div coolType="prompt"
     style="left: 56.25%; top: 28%; width: 7.5%; height: 4%;" coolCol="46"
     coolRow="8" coolLength="6">Status</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 65%; top: 28%; width: 12.5%; height: 4%;" coolCol="53"
     coolRow="8" coolLength="10">{{in.jobRun.status}}</div>
   
   <div coolType="prompt"
     style="left: 12.5%; top: 32%; width: 8.75%; height: 4%;" coolCol="11"
     coolRow="9" coolLength="7">Job End</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 25%; top: 32%; width: 17.5%; height: 4%;" coolCol="21"
     coolRow="9" coolLength="14">{{in.jobRun.endTimestamp|coolDate:'MMddyyyy HH:mm':0}}</div>
   
   <div coolType="prompt"
     style="left: 12.5%; top: 40%; width: 16.25%; height: 4%;" coolCol="11"
     coolRow="11" coolLength="13">Output Format</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 40%; width: 12.5%; height: 4%;" coolCol="25"
     coolRow="11" coolLength="10">{{in.jobRun.outputType}}</div>
   
   <div coolType="prompt"
     style="left: 17.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="15"
     coolRow="12" coolLength="10">Printer ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 35%; top: 44%; width: 10%; height: 4%;" coolCol="29"
     coolRow="12" coolLength="8">{{in.jobRun.printerId}}</div>
   
   <div coolType="prompt"
     style="left: 17.5%; top: 48%; width: 16.25%; height: 4%;" coolCol="15"
     coolRow="13" coolLength="13">Email Address</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 35%; top: 48%; width: 62.5%; height: 4%;" coolCol="29"
     coolRow="13" coolLength="50">{{in.jobRun.emailAddress}}</div>
   
   <div coolType="prompt"
     style="left: 7.5%; top: 56%; width: 16.25%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="13">Output Format</div>
   <input type="text" coolType="field" name="field_15_21"
     [(ngModel)]="in.selectedJobRun.outputType"
     [coolVideo]="out.selectedJobRun.screenField?.outputType" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 25%; top: 56%; width: 12.5%; height: 4%;" coolCol="21"
     coolRow="15" coolLength="10">
   <input type="text" coolType="field" name="field_15_32"
     [(ngModel)]="in.promptToCdvl.selectChar"
     [coolVideo]="out.promptToCdvl.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 38.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="32"
     coolRow="15" coolLength="1">
   
   <div coolType="prompt" style="left: 7.5%; top: 64%; width: 7.5%; height: 4%;"
     coolCol="7" coolRow="17" coolLength="6">Office</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 21.25%; top: 64%; width: 5%; height: 4%;" coolCol="18"
     coolRow="17" coolLength="4">{{in.selectedOffice.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 64%; width: 37.5%; height: 4%;" coolCol="23"
     coolRow="17" coolLength="30">{{in.selectedOffice.name}}</div>
   <input type="text" coolType="field" name="field_17_54"
     [(ngModel)]="in.promptToOcfl.selectChar"
     [coolVideo]="out.promptToOfcl.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 66.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="54"
     coolRow="17" coolLength="1">
   
   <div coolType="prompt"
     style="left: 7.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="7"
     coolRow="18" coolLength="10">Printer ID</div>
   <input type="text" coolType="field" name="field_18_18"
     [(ngModel)]="in.selectedPrinterOutputDestination.vtamPrinterId"
     [coolVideo]="out.selectedPrinterOutputDestination.screenField?.vtamPrinterId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8"
     style="left: 21.25%; top: 68%; width: 10%; height: 4%;" coolCol="18"
     coolRow="18" coolLength="8">
   
   <div coolType="prompt" style="left: 7.5%; top: 76%; width: 20%; height: 4%;"
     coolCol="7" coolRow="20" coolLength="16">Service Provider</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 28.75%; top: 76%; width: 6.25%; height: 4%;" coolCol="24"
     coolRow="20" coolLength="5">{{in.selectedServiceProvider.systemGeneratedId|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 76%; width: 10%; height: 4%;" coolCol="30"
     coolRow="20" coolLength="8">{{in.selectedServiceProvider.userId}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 76%; width: 41.25%; height: 4%;" coolCol="39"
     coolRow="20" coolLength="33">{{in.srvPrvdrSelected.formattedName}}</div>
   <input type="text" coolType="field" name="field_20_73"
     [(ngModel)]="in.promptToSpvl.selectChar"
     [coolVideo]="out.promptToSpvl.screenField?.selectChar" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 90%; top: 76%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="20" coolLength="1">
   
   <div coolType="prompt"
     style="left: 7.5%; top: 80%; width: 16.25%; height: 4%;" coolCol="7"
     coolRow="21" coolLength="13">Email Address</div>
   <input type="text" coolType="field" name="field_21_24"
     [(ngModel)]="in.selectedServiceProvider.emailAddress"
     [coolVideo]="out.selectedServiceProvider.screenField?.emailAddress"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="50"
     style="left: 28.75%; top: 80%; width: 62.5%; height: 4%;" coolCol="24"
     coolRow="21" coolLength="50">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 92.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="74">PF Key:  1 Help  2 Display  3 Exit  4 List  9 Return  11 Clear  12 Signoff</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 11.25%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="9">15 Submit</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="SUBMIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=SUBMIT</a>
   </div>