<!--Name: FN_ASUS_LST_MTN_ACCRNG_OBLG_SUSP, ID: 372082430, model: 746-->
<div coolContent coolName="FN_ASUS_LST_MTN_ACCRNG_OBLG_SUSP" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 15%; top: 0; width: 72.5%; height: 4%;"
     coolCol="13" coolRow="1" coolLength="58">CSE - List Maintain Accruing Obligation Suspensions - ASUS</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 8%; width: 10%; height: 4%;"
     coolCol="2" coolRow="3" coolLength="8">AP/Payor</div>
   <input type="text" coolType="field" name="field_3_20"
     [(ngModel)]="in.csePerson.number"
     [coolVideo]="out.csePerson.screenField?.number" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 23.75%; top: 8%; width: 12.5%; height: 4%;" coolCol="20"
     coolRow="3" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 8%; width: 41.25%; height: 4%;" coolCol="31"
     coolRow="3" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 13.75%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="11">Court Order</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 12%; width: 15%; height: 4%;" coolCol="20"
     coolRow="4" coolLength="12">{{in.legalAction.standardNumber}}</div>
   
   <div coolType="prompt"
     style="left: 63.75%; top: 12%; width: 15%; height: 4%;" coolCol="52"
     coolRow="4" coolLength="12">Current Owed</div>
   <input type="text" coolType="field" name="field_4_67"
     [(ngModel)]="in.screenOwedAmounts.currentAmountOwed"
     [coolVideo]="out.screenOwedAmounts.screenField?.currentAmountOwed"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="######0.00 ;######0.00-" coolBlankWhenZero
     [attr.maxlength]="11"
     style="left: 82.5%; top: 12%; width: 13.75%; height: 4%;" coolCol="67"
     coolRow="4" coolLength="11">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 16.25%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="13">Obligation No</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 23.75%; top: 16%; width: 3.75%; height: 4%;" coolCol="20"
     coolRow="5" coolLength="3">{{in.obligation.systemGeneratedIdentifier|coolNumber:'000;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 63.75%; top: 16%; width: 15%; height: 4%;" coolCol="52"
     coolRow="5" coolLength="12">Arrears Owed</div>
   <input type="text" coolType="field" name="field_5_67"
     [(ngModel)]="in.screenOwedAmounts.arrearsAmountOwed"
     [coolVideo]="out.screenOwedAmounts.screenField?.arrearsAmountOwed"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="######0.00 ;######0.00-" coolBlankWhenZero
     [attr.maxlength]="11"
     style="left: 82.5%; top: 16%; width: 13.75%; height: 4%;" coolCol="67"
     coolRow="5" coolLength="11">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 18.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="15">Obligation Type</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 20%; width: 8.75%; height: 4%;" coolCol="20"
     coolRow="6" coolLength="7">{{in.obligationType.code}}</div>
   
   <div coolType="prompt"
     style="left: 63.75%; top: 20%; width: 16.25%; height: 4%;" coolCol="52"
     coolRow="6" coolLength="13">Interest Owed</div>
   <input type="text" coolType="field" name="field_6_67"
     [(ngModel)]="in.screenOwedAmounts.interestAmountOwed"
     [coolVideo]="out.screenOwedAmounts.screenField?.interestAmountOwed"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="######0.00 ;######0.00-" coolBlankWhenZero
     [attr.maxlength]="11"
     style="left: 82.5%; top: 20%; width: 13.75%; height: 4%;" coolCol="67"
     coolRow="6" coolLength="11">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="10">Start Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 23.75%; top: 24%; width: 10%; height: 4%;" coolCol="20"
     coolRow="7" coolLength="8">{{in.accrualInstructions.asOfDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 63.75%; top: 24%; width: 12.5%; height: 4%;" coolCol="52"
     coolRow="7" coolLength="10">Total Owed</div>
   <input type="text" coolType="field" name="field_7_67"
     [(ngModel)]="in.screenOwedAmounts.totalAmountOwed"
     [coolVideo]="out.screenOwedAmounts.screenField?.totalAmountOwed"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="######0.00 ;######0.00-" coolBlankWhenZero
     [attr.maxlength]="11"
     style="left: 82.5%; top: 24%; width: 13.75%; height: 4%;" coolCol="67"
     coolRow="7" coolLength="11">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 28%; width: 17.5%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="14">Obligation Amt</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 23.75%; top: 28%; width: 12.5%; height: 4%;" coolCol="20"
     coolRow="8" coolLength="10">{{in.obligationAmt.totalCurrency|coolNumber:'###,##0.00;#':0}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 32%; width: 11.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="9">Frequency</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 32%; width: 2.5%; height: 4%;" coolCol="20"
     coolRow="9" coolLength="2">{{in.frequencyWorkSet.frequencyCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 32%; width: 16.25%; height: 4%;" coolCol="23"
     coolRow="9" coolLength="13">{{in.frequencyWorkSet.frequencyDescription}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 45%; top: 32%; width: 2.5%; height: 4%;" coolCol="37"
     coolRow="9" coolLength="2">{{in.frequencyWorkSet.day1|coolNumber:'##;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 48.75%; top: 32%; width: 2.5%; height: 4%;" coolCol="40"
     coolRow="9" coolLength="2">{{in.frequencyWorkSet.day2|coolNumber:'##;#':1}}</div>
   <input type="text" coolType="field" name="field_9_44"
     [(ngModel)]="in.screenOwedAmounts.errorInformationLine"
     [coolVideo]="out.screenOwedAmounts.screenField?.errorInformationLine"
     coolAutotab coolReadonly coolColor="red" coolUpper [attr.maxlength]="30"
     style="left: 53.75%; top: 32%; width: 37.5%; height: 4%;" coolCol="44"
     coolRow="9" coolLength="30">
   
   <div coolType="prompt" style="left: 1.25%; top: 36%; width: 20%; height: 4%;"
     coolCol="2" coolRow="10" coolLength="16">Supported person</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 36%; width: 12.5%; height: 4%;" coolCol="20"
     coolRow="10" coolLength="10">{{in.supportedCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 36%; width: 41.25%; height: 4%;" coolCol="31"
     coolRow="10" coolLength="33">{{in.supportedCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 40%; width: 32.5%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="26">Accrual Amount This Person</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 36.25%; top: 40%; width: 12.5%; height: 4%;" coolCol="30"
     coolRow="11" coolLength="10">{{in.obligationTransaction.amount|coolNumber:'#####0.00 ;#####0.00-':1}}</div>
   
   <div coolType="prompt"
     style="left: 53.75%; top: 40%; width: 21.25%; height: 4%;" coolCol="44"
     coolRow="11" coolLength="17">Last Accrual Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 77.5%; top: 40%; width: 10%; height: 4%;" coolCol="63"
     coolRow="11" coolLength="8">{{in.accrualInstructions.lastAccrualDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 60%; top: 44%; width: 15%; height: 4%;"
     coolCol="49" coolRow="12" coolLength="12">Show History</div>
   <input type="text" coolType="field" name="field_12_63"
     [(ngModel)]="in.showHistory.flag"
     [coolVideo]="out.showHistory.screenField?.flag" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 77.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="63"
     coolRow="12" coolLength="1">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 52%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="3">Act</div>
   
   <div coolType="prompt" style="left: 7.5%; top: 52%; width: 15%; height: 4%;"
     coolCol="7" coolRow="14" coolLength="12">Suspend Date</div>
   
   <div coolType="prompt"
     style="left: 25%; top: 52%; width: 11.25%; height: 4%;" coolCol="21"
     coolRow="14" coolLength="9">Resume Dt</div>
   
   <div coolType="prompt"
     style="left: 38.75%; top: 52%; width: 21.25%; height: 4%;" coolCol="32"
     coolRow="14" coolLength="17">Reduction Percent</div>
   
   <div coolType="prompt" style="left: 62.5%; top: 52%; width: 20%; height: 4%;"
     coolCol="51" coolRow="14" coolLength="16">Reduction Amount</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="in.common.selectChar"
     [coolVideo]="out.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1">
   <input type="text" coolType="field" name="field_15_8"
     [(ngModel)]="in.accrualSuspension.suspendDt"
     [coolVideo]="out.accrualSuspension.screenField?.suspendDt" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 8.75%; top: 56%; width: 10%; height: 4%;"
     coolCol="8" coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_21"
     [(ngModel)]="in.accrualSuspension.resumeDt"
     [coolVideo]="out.accrualSuspension.screenField?.resumeDt" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 25%; top: 56%; width: 10%; height: 4%;"
     coolCol="21" coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_37"
     [(ngModel)]="in.accrualSuspension.reductionPercentage"
     [coolVideo]="out.accrualSuspension.screenField?.reductionPercentage"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="##0.00;#" coolBlankWhenZero [attr.maxlength]="6"
     style="left: 45%; top: 56%; width: 7.5%; height: 4%;" coolCol="37"
     coolRow="15" coolLength="6">
   <input type="text" coolType="field" name="field_15_54"
     [(ngModel)]="in.accrualSuspension.reductionAmount"
     [coolVideo]="out.accrualSuspension.screenField?.reductionAmount"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="####0.00;#" coolBlankWhenZero [attr.maxlength]="8"
     style="left: 66.25%; top: 56%; width: 10%; height: 4%;" coolCol="54"
     coolRow="15" coolLength="8">
   
   <div coolType="prompt" style="left: 0; top: 64%; width: 13.75%; height: 4%;"
     coolCol="1" coolRow="17" coolLength="11">Reason Text</div>
   <textarea coolType="field" name="field_18_1"
     [(ngModel)]="in.accrualSuspension.reasonTxt"
     [coolVideo]="out.accrualSuspension.screenField?.reasonTxt" coolAutotab
     coolColor="green" coolHighlight="underscore" [attr.maxlength]="240"
     style="left: 0; top: 68%; width: 100%; height: 12%;" coolCol="1"
     coolRow="18" coolLength="80" coolHeight="3"></textarea>
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 1.25%; top: 80%; width: 77.5%; height: 4%;" coolCol="2"
     coolRow="21" coolLength="62">{{in.protectQuestionLiteral.text80}}</div>
   <input type="text" coolType="field" name="field_21_65"
     [(ngModel)]="in.collProtAnswer.selectChar"
     [coolVideo]="out.collProtAnswer.screenField?.selectChar" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" style="left: 80%; top: 80%; width: 1.25%; height: 4%;"
     coolCol="65" coolRow="21" coolLength="1">
   
   <div coolType="prompt"
     style="left: 86.25%; top: 80%; width: 6.25%; height: 4%;" coolCol="70"
     coolRow="21" coolLength="5">More:</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 93.75%; top: 80%; width: 5%; height: 4%;" coolCol="76"
     coolRow="21" coolLength="4">{{in.scrollIndicator.text4}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 87.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="70">PF Key:  1 Help  2 Display  3 Exit  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 38.75%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="31">12 Signoff  15 Process  20 COLP</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="PROCESS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=PROCESS</a>
   <a coolType="action" coolCommand="COLP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F8">F20=COLP</a>
   </div>