<!--Name: FN_CAFM_MTN_COLL_AGNCY_FEE_INFO, ID: 371803187, model: 746-->
<div coolContent coolName="FN_CAFM_MTN_COLL_AGNCY_FEE_INFO" coolType="SCREEN"
  (coolInit)="scrollSize = 100; pageSize = 15">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 16.25%; top: 0; width: 61.25%; height: 4%;" coolCol="14"
     coolRow="1" coolLength="49">CSE - Maintain Collection Agency Fee Rates - CAFM</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 8%; width: 21.25%; height: 4%;" coolCol="2"
     coolRow="3" coolLength="17">Collection Agency</div>
   <input type="text" coolType="field" name="field_3_22"
     [(ngModel)]="in.office.systemGeneratedId"
     [coolVideo]="out.office.screenField?.systemGeneratedId" coolAutotab
     coolFocus coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="####;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 26.25%; top: 8%; width: 5%; height: 4%;" coolCol="22"
     coolRow="3" coolLength="4">
   <input type="text" coolType="field" name="field_3_27"
     [(ngModel)]="in.prompt.text1" [coolVideo]="out.prompt.screenField?.text1"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 8%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="3" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 35%; top: 8%; width: 37.5%; height: 4%;" coolCol="29"
     coolRow="3" coolLength="30">{{in.office.name}}</div>
   
   <div coolType="literal"
     style="left: 6.25%; top: 20%; width: 10%; height: 4%;" coolCol="6"
     coolRow="6" coolLength="8">Judicial</div>
   
   <div coolType="literal"
     style="left: 20%; top: 20%; width: 8.75%; height: 4%;" coolCol="17"
     coolRow="6" coolLength="7">Program</div>
   
   <div coolType="literal"
     style="left: 30%; top: 20%; width: 12.5%; height: 4%;" coolCol="25"
     coolRow="6" coolLength="10">Obligation</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="38"
     coolRow="6" coolLength="3">Fee</div>
   
   <div coolType="literal"
     style="left: 55%; top: 20%; width: 6.25%; height: 4%;" coolCol="45"
     coolRow="6" coolLength="5">Effec</div>
   
   <div coolType="literal" style="left: 70%; top: 20%; width: 5%; height: 4%;"
     coolCol="57" coolRow="6" coolLength="4">Disc</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="3" coolColor="white">Sel</div>
   
   <div coolType="literal"
     style="left: 6.25%; top: 24%; width: 10%; height: 4%;" coolCol="6"
     coolRow="7" coolLength="8">District</div>
   
   <div coolType="literal" style="left: 22.5%; top: 24%; width: 5%; height: 4%;"
     coolCol="19" coolRow="7" coolLength="4">Type</div>
   
   <div coolType="literal" style="left: 32.5%; top: 24%; width: 5%; height: 4%;"
     coolCol="27" coolRow="7" coolLength="4">Type</div>
   
   <div coolType="literal"
     style="left: 47.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="7" coolLength="1">%</div>
   
   <div coolType="literal" style="left: 55%; top: 24%; width: 5%; height: 4%;"
     coolCol="45" coolRow="7" coolLength="4">Date</div>
   
   <div coolType="literal" style="left: 70%; top: 24%; width: 5%; height: 4%;"
     coolCol="57" coolRow="7" coolLength="4">Date</div>
   <input type="text" coolType="field" name="field_8_3"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_8_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="1" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_8_9"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_8_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 28%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="8" coolLength="2" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_8_19"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_8_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 28%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="8" coolLength="2" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_8_26"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailObligationType.screenField?.code"
     coolAutotab #field_8_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 28%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="8" coolLength="7" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_8_37"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_8_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 28%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="8" coolLength="5" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_8_45"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_8_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 28%; width: 10%; height: 4%;" coolCol="45"
     coolRow="8" coolLength="8" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_8_57"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_8_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 28%; width: 10%; height: 4%;" coolCol="57"
     coolRow="8" coolLength="8" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_9_3"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_9_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_9_9"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_9_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 32%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="9" coolLength="2" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_9_19"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_9_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 32%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="9" coolLength="2" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_9_26"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailObligationType.screenField?.code"
     coolAutotab #field_9_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 32%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="9" coolLength="7" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_9_37"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_9_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 32%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="9" coolLength="5" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_9_45"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_9_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 32%; width: 10%; height: 4%;" coolCol="45"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_9_57"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_9_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 32%; width: 10%; height: 4%;" coolCol="57"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_10_3"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_10_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_10_9"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_10_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 36%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="10" coolLength="2" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_10_19"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_10_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 36%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="10" coolLength="2" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_10_26"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailObligationType.screenField?.code"
     coolAutotab #field_10_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 36%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="10" coolLength="7" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_10_37"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_10_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 36%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="10" coolLength="5" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_10_45"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_10_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 36%; width: 10%; height: 4%;" coolCol="45"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_10_57"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_10_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 36%; width: 10%; height: 4%;" coolCol="57"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_11_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_11_9"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_11_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 40%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="11" coolLength="2" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_11_19"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_11_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 40%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="2" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_11_26"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailObligationType.screenField?.code"
     coolAutotab #field_11_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 40%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="11" coolLength="7" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_11_37"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_11_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 40%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="11" coolLength="5" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_11_45"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_11_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 40%; width: 10%; height: 4%;" coolCol="45"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_11_57"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_11_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 40%; width: 10%; height: 4%;" coolCol="57"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_12_3"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_12_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_12_9"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_12_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 44%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="12" coolLength="2" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_12_19"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_12_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 44%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="12" coolLength="2" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_12_26"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailObligationType.screenField?.code"
     coolAutotab #field_12_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 44%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="12" coolLength="7" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_12_37"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_12_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 44%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="12" coolLength="5" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_12_45"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_12_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 44%; width: 10%; height: 4%;" coolCol="45"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_12_57"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_12_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 44%; width: 10%; height: 4%;" coolCol="57"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_13_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_13_9"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_13_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 48%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="13" coolLength="2" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_13_19"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_13_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 48%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="2" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_13_26"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailObligationType.screenField?.code"
     coolAutotab #field_13_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 48%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="13" coolLength="7" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_13_37"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_13_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 48%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="13" coolLength="5" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_13_45"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_13_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 48%; width: 10%; height: 4%;" coolCol="45"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_13_57"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_13_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 48%; width: 10%; height: 4%;" coolCol="57"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_14_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_14_9"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_14_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 52%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="14" coolLength="2" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_14_19"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_14_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 52%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="14" coolLength="2" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_14_26"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailObligationType.screenField?.code"
     coolAutotab #field_14_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 52%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="14" coolLength="7" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_14_37"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_14_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 52%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="14" coolLength="5" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_14_45"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_14_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 52%; width: 10%; height: 4%;" coolCol="45"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_14_57"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_14_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 52%; width: 10%; height: 4%;" coolCol="57"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_15_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_15_9"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_15_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 56%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="15" coolLength="2" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_15_19"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_15_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 56%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="15" coolLength="2" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_15_26"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailObligationType.screenField?.code"
     coolAutotab #field_15_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 56%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="15" coolLength="7" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_15_37"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_15_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 56%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="15" coolLength="5" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_15_45"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_15_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 56%; width: 10%; height: 4%;" coolCol="45"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_15_57"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_15_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 56%; width: 10%; height: 4%;" coolCol="57"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_16_3"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_16_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_16_9"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_16_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 60%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="16" coolLength="2" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_16_19"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_16_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 60%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="16" coolLength="2" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_16_26"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailObligationType.screenField?.code"
     coolAutotab #field_16_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 60%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="16" coolLength="7" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_16_37"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_16_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 60%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="16" coolLength="5" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_16_45"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_16_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 60%; width: 10%; height: 4%;" coolCol="45"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_16_57"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_16_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 60%; width: 10%; height: 4%;" coolCol="57"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_17_3"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_17_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_17_9"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_17_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 64%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="17" coolLength="2" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_17_19"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_17_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 64%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="17" coolLength="2" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_17_26"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailObligationType.screenField?.code"
     coolAutotab #field_17_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 64%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="17" coolLength="7" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_17_37"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_17_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 64%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="17" coolLength="5" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_17_45"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_17_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 64%; width: 10%; height: 4%;" coolCol="45"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_17_57"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_17_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 64%; width: 10%; height: 4%;" coolCol="57"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_18_3"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_18_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 10 >= 100">
   <input type="text" coolType="field" name="field_18_9"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_18_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 68%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="18" coolLength="2" [hidden]="pageOffset + 10 >= 100">
   <input type="text" coolType="field" name="field_18_19"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_18_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 68%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="18" coolLength="2" [hidden]="pageOffset + 10 >= 100">
   <input type="text" coolType="field" name="field_18_26"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailObligationType.screenField?.code"
     coolAutotab #field_18_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 68%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="18" coolLength="7" [hidden]="pageOffset + 10 >= 100">
   <input type="text" coolType="field" name="field_18_37"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_18_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 68%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="18" coolLength="5" [hidden]="pageOffset + 10 >= 100">
   <input type="text" coolType="field" name="field_18_45"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_18_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 68%; width: 10%; height: 4%;" coolCol="45"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 10 >= 100">
   <input type="text" coolType="field" name="field_18_57"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_18_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 68%; width: 10%; height: 4%;" coolCol="57"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 10 >= 100">
   <input type="text" coolType="field" name="field_19_3"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_19_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 11 >= 100">
   <input type="text" coolType="field" name="field_19_9"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_19_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 72%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="19" coolLength="2" [hidden]="pageOffset + 11 >= 100">
   <input type="text" coolType="field" name="field_19_19"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_19_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 72%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="19" coolLength="2" [hidden]="pageOffset + 11 >= 100">
   <input type="text" coolType="field" name="field_19_26"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailObligationType.screenField?.code"
     coolAutotab #field_19_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 72%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="19" coolLength="7" [hidden]="pageOffset + 11 >= 100">
   <input type="text" coolType="field" name="field_19_37"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_19_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 72%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="19" coolLength="5" [hidden]="pageOffset + 11 >= 100">
   <input type="text" coolType="field" name="field_19_45"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_19_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 72%; width: 10%; height: 4%;" coolCol="45"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 11 >= 100">
   <input type="text" coolType="field" name="field_19_57"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_19_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 72%; width: 10%; height: 4%;" coolCol="57"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 11 >= 100">
   <input type="text" coolType="field" name="field_20_3"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_20_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 12 >= 100">
   <input type="text" coolType="field" name="field_20_9"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_20_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 76%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="20" coolLength="2" [hidden]="pageOffset + 12 >= 100">
   <input type="text" coolType="field" name="field_20_19"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_20_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 76%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="20" coolLength="2" [hidden]="pageOffset + 12 >= 100">
   <input type="text" coolType="field" name="field_20_26"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailObligationType.screenField?.code"
     coolAutotab #field_20_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 76%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="20" coolLength="7" [hidden]="pageOffset + 12 >= 100">
   <input type="text" coolType="field" name="field_20_37"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_20_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 76%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="20" coolLength="5" [hidden]="pageOffset + 12 >= 100">
   <input type="text" coolType="field" name="field_20_45"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_20_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 76%; width: 10%; height: 4%;" coolCol="45"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 12 >= 100">
   <input type="text" coolType="field" name="field_20_57"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_20_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 76%; width: 10%; height: 4%;" coolCol="57"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 12 >= 100">
   <input type="text" coolType="field" name="field_21_3"
     [(ngModel)]="ref(in.import1, pageOffset + 13, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 13]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_21_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 80%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="21" coolLength="1" [hidden]="pageOffset + 13 >= 100">
   <input type="text" coolType="field" name="field_21_9"
     [(ngModel)]="ref(in.import1, pageOffset + 13, 'detailContractorFeeInformation.judicialDistrict').value"
     [coolVideo]="out.export1?.[pageOffset + 13]?.detailContractorFeeInformation.screenField?.judicialDistrict"
     coolAutotab #field_21_9 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 10%; top: 80%; width: 2.5%; height: 4%;" coolCol="9"
     coolRow="21" coolLength="2" [hidden]="pageOffset + 13 >= 100">
   <input type="text" coolType="field" name="field_21_19"
     [(ngModel)]="ref(in.import1, pageOffset + 13, 'detailContractorFeeInformation.distributionProgramType').value"
     [coolVideo]="out.export1?.[pageOffset + 13]?.detailContractorFeeInformation.screenField?.distributionProgramType"
     coolAutotab #field_21_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 22.5%; top: 80%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="21" coolLength="2" [hidden]="pageOffset + 13 >= 100">
   <input type="text" coolType="field" name="field_21_26"
     [(ngModel)]="ref(in.import1, pageOffset + 13, 'detailObligationType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 13]?.detailObligationType.screenField?.code"
     coolAutotab #field_21_26 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 31.25%; top: 80%; width: 8.75%; height: 4%;" coolCol="26"
     coolRow="21" coolLength="7" [hidden]="pageOffset + 13 >= 100">
   <input type="text" coolType="field" name="field_21_37"
     [(ngModel)]="ref(in.import1, pageOffset + 13, 'detailContractorFeeInformation.rate').value"
     [coolVideo]="out.export1?.[pageOffset + 13]?.detailContractorFeeInformation.screenField?.rate"
     coolAutotab #field_21_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0.00;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 45%; top: 80%; width: 6.25%; height: 4%;"
     coolCol="37" coolRow="21" coolLength="5" [hidden]="pageOffset + 13 >= 100">
   <input type="text" coolType="field" name="field_21_45"
     [(ngModel)]="ref(in.import1, pageOffset + 13, 'detailContractorFeeInformation.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 13]?.detailContractorFeeInformation.screenField?.effectiveDate"
     coolAutotab #field_21_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 80%; width: 10%; height: 4%;" coolCol="45"
     coolRow="21" coolLength="8" [hidden]="pageOffset + 13 >= 100">
   <input type="text" coolType="field" name="field_21_57"
     [(ngModel)]="ref(in.import1, pageOffset + 13, 'detailContractorFeeInformation.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 13]?.detailContractorFeeInformation.screenField?.discontinueDate"
     coolAutotab #field_21_57 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 70%; top: 80%; width: 10%; height: 4%;" coolCol="57"
     coolRow="21" coolLength="8" [hidden]="pageOffset + 13 >= 100">
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="69" coolRow="21" coolLength="9"
     style="left: 85%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 88%; width: 90%; height: 4%;" coolCol="2"
     coolRow="23" coolLength="72">PF KEYS: 1 Help  2 Disp  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 97.5%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="78">9 Return 10 Delete 11 Clear 12 Signoff 15 Lst Dist 16 Lst Pgms 17 OBTL 18 CAFL</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="LST_DIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=LST_DIST</a>
   <a coolType="action" coolCommand="LST_PGMS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=LST_PGMS</a>
   <a coolType="action" coolCommand="OBTL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=OBTL</a>
   <a coolType="action" coolCommand="CAFL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=CAFL</a>
   </div>