<!--Name: FN_CSAM_CASH_MGT_ADMIN_MENU, ID: 371800285, model: 746-->
<div coolContent coolName="FN_CSAM_CASH_MGT_ADMIN_MENU" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 20%; top: 0; width: 60%; height: 4%;"
     coolCol="17" coolRow="1" coolLength="48">CSE - Cash Management Administration Menu - CSAM</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 12%; width: 13.75%; height: 4%;" coolCol="15"
     coolRow="4" coolLength="11">MAINTENANCE</div>
   
   <div coolType="literal" style="left: 70%; top: 12%; width: 5%; height: 4%;"
     coolCol="57" coolRow="4" coolLength="4">LIST</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 16%; width: 36.25%; height: 4%;" coolCol="3"
     coolRow="5" coolLength="29">1.  CRSM  Cash Receipt Source</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 16%; width: 37.5%; height: 4%;" coolCol="42"
     coolRow="5" coolLength="30">10. CRSL  Cash Receipt Sources</div>
   
   <div coolType="literal" style="left: 2.5%; top: 20%; width: 45%; height: 4%;"
     coolCol="3" coolRow="6" coolLength="36">2.  CRAS  Cash Receipt Delete Reason</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 20%; width: 45%; height: 4%;" coolCol="42"
     coolRow="6" coolLength="36">11. CRDR  Cash Receipt Delete Reason</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 24%; width: 33.75%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="27">3.  CRTM  Cash Receipt Type</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 24%; width: 35%; height: 4%;" coolCol="42"
     coolRow="7" coolLength="28">12. CRTL  Cash Receipt Types</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 28%; width: 46.25%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="37">4.  CMBR  Cash Receipt Balance Reason</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 28%; width: 46.25%; height: 4%;" coolCol="42"
     coolRow="8" coolLength="37">13. CLBR  Cash Receipt Balance Reason</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 32%; width: 46.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="37">5.  CMDR  Cash Receipt Detail Balance</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 32%; width: 46.25%; height: 4%;" coolCol="42"
     coolRow="9" coolLength="37">14. CLDR  Cash Receipt Detail Balance</div>
   
   <div coolType="literal" style="left: 15%; top: 36%; width: 7.5%; height: 4%;"
     coolCol="13" coolRow="10" coolLength="6">Reason</div>
   
   <div coolType="literal"
     style="left: 63.75%; top: 36%; width: 7.5%; height: 4%;" coolCol="52"
     coolRow="10" coolLength="6">Reason</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 40%; width: 38.75%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="31">6.  RSTM  Cash Receipt Statuses</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 40%; width: 38.75%; height: 4%;" coolCol="42"
     coolRow="11" coolLength="31">15. RSTL  Cash Receipt Statuses</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 44%; width: 31.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="25">7.  CMCT  Collection Type</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 44%; width: 38.75%; height: 4%;" coolCol="42"
     coolRow="12" coolLength="31">16. CLCT  List Collection Types</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 48%; width: 47.5%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="38">8.  RSDM  Cash Receipt Detail Statuses</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 48%; width: 47.5%; height: 4%;" coolCol="42"
     coolRow="13" coolLength="38">17. RSDL  Cash Receipt Detail Statuses</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 52%; width: 22.5%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="18">9.  FETM  Fee Type</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 52%; width: 30%; height: 4%;" coolCol="42"
     coolRow="14" coolLength="24">18. FETL  List Fee Types</div>
   
   <div coolType="prompt"
     style="left: 32.5%; top: 80%; width: 28.75%; height: 4%;" coolCol="27"
     coolRow="21" coolLength="23">Please select an option</div>
   <input type="text" coolType="field" name="field_21_53"
     [(ngModel)]="in.standard.menuOption"
     [coolVideo]="out.standard.screenField?.menuOption" coolAutotab coolFocus
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 65%; top: 80%; width: 2.5%; height: 4%;" coolCol="53"
     coolRow="21" coolLength="2">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="78"
     style="left: 0; top: 88%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 43.75%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="35">PF KEY:  1 Help  3 Exit  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="REFRESH" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=REFRESH</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>