<!--Name: FN_DISR_LST_MTN_DIST_PLCY_RULE, ID: 371961725, model: 746-->
<div coolContent coolName="FN_DISR_LST_MTN_DIST_PLCY_RULE" coolType="SCREEN"
  (coolInit)="scrollSize = 100; pageSize = 10">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 20%; top: 0; width: 58.75%; height: 4%;"
     coolCol="17" coolRow="1" coolLength="47">CSE - Maintain Distribution Policy Rules - DISR</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">Next</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="literal"
     style="left: 32.5%; top: 4%; width: 31.25%; height: 4%;" coolCol="27"
     coolRow="2" coolLength="25" coolColor="red">POTENTIAL FTI INFORMATION</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 18.75%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="15">Collection Type</div>
   <input type="text" coolType="field" name="field_4_23"
     [(ngModel)]="in.searchCollectionType.code"
     [coolVideo]="out.searchCollectionType.screenField?.code" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 27.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="4" coolLength="10">
   <input type="text" coolType="field" name="field_4_34"
     [(ngModel)]="in.sourceTypePrompt.selectChar"
     [coolVideo]="out.sourceTypePrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 41.25%; top: 12%; width: 1.25%; height: 4%;" coolCol="34"
     coolRow="4" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 12%; width: 50%; height: 4%;" coolCol="36"
     coolRow="4" coolLength="40">{{in.searchCollectionType.name}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 23.75%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="19">Distribution Policy</div>
   <input type="text" coolType="field" name="field_5_23"
     [(ngModel)]="in.searchDistributionPolicy.name"
     [coolVideo]="out.searchDistributionPolicy.screenField?.name" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 27.5%; top: 16%; width: 47.5%; height: 4%;" coolCol="23"
     coolRow="5" coolLength="38">
   <input type="text" coolType="field" name="field_5_62"
     [(ngModel)]="in.distPlcyPrompt.selectChar"
     [coolVideo]="out.distPlcyPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 76.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="62"
     coolRow="5" coolLength="1">
   
   <div coolType="prompt"
     style="left: 6.25%; top: 24%; width: 17.5%; height: 4%;" coolCol="6"
     coolRow="7" coolLength="14">Effective Date</div>
   <input type="text" coolType="field" name="field_7_24"
     [(ngModel)]="in.searchDistributionPolicy.effectiveDt"
     [coolVideo]="out.searchDistributionPolicy.screenField?.effectiveDt"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 28.75%; top: 24%; width: 10%; height: 4%;" coolCol="24"
     coolRow="7" coolLength="8">
   
   <div coolType="prompt" style="left: 6.25%; top: 28%; width: 20%; height: 4%;"
     coolCol="6" coolRow="8" coolLength="16">Discontinue Date</div>
   <input type="text" coolType="field" name="field_8_24"
     [(ngModel)]="in.searchDistributionPolicy.discontinueDt"
     [coolVideo]="out.searchDistributionPolicy.screenField?.discontinueDt"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 28.75%; top: 28%; width: 10%; height: 4%;" coolCol="24"
     coolRow="8" coolLength="8">
   
   <div coolType="literal"
     style="left: 13.75%; top: 32%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="9" coolLength="3">DPR</div>
   
   <div coolType="prompt" style="left: 90%; top: 32%; width: 6.25%; height: 4%;"
     coolCol="73" coolRow="9" coolLength="5">Inter</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 36%; width: 2.5%; height: 4%;" coolCol="12"
     coolRow="10" coolLength="2">ID</div>
   
   <div coolType="prompt"
     style="left: 22.5%; top: 36%; width: 16.25%; height: 4%;" coolCol="19"
     coolRow="10" coolLength="13">Function Type</div>
   
   <div coolType="prompt"
     style="left: 47.5%; top: 36%; width: 12.5%; height: 4%;" coolCol="39"
     coolRow="10" coolLength="10">Debt State</div>
   
   <div coolType="prompt"
     style="left: 68.75%; top: 36%; width: 10%; height: 4%;" coolCol="56"
     coolRow="10" coolLength="8">Apply To</div>
   
   <div coolType="literal"
     style="left: 86.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="70"
     coolRow="10" coolLength="10">State Flag</div>
   <input type="text" coolType="field" name="field_11_7"
     [(ngModel)]="ref(in.import1, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab #field_11_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 40%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="11" coolLength="3" [hidden]="pageOffset >= 100">{{in.import1?.[pageOffset]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_11_19"
     [(ngModel)]="ref(in.import1, pageOffset, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_11_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_11_22"
     [(ngModel)]="ref(in.import1, pageOffset, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset]?.functionType.screenField?.text13"
     coolAutotab #field_11_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 40%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="11" coolLength="13" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_11_39"
     [(ngModel)]="ref(in.import1, pageOffset, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_11_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_11_42"
     [(ngModel)]="ref(in.import1, pageOffset, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset]?.debtState.screenField?.textLine10"
     coolAutotab #field_11_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 40%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="11" coolLength="10" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_11_56"
     [(ngModel)]="ref(in.import1, pageOffset, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_11_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_11_59"
     [(ngModel)]="ref(in.import1, pageOffset, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset]?.apply.screenField?.textLine10"
     coolAutotab #field_11_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 40%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="11" coolLength="10" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_11_75"
     [(ngModel)]="ref(in.import1, pageOffset, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_11_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 100">
   <input type="text" coolType="field" name="field_12_7"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab #field_12_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 44%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="12" coolLength="3" [hidden]="pageOffset + 1 >= 100">{{in.import1?.[pageOffset + 1]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_12_19"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_12_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_12_22"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.functionType.screenField?.text13"
     coolAutotab #field_12_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 44%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="12" coolLength="13" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_12_39"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_12_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_12_42"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.debtState.screenField?.textLine10"
     coolAutotab #field_12_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 44%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="12" coolLength="10" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_12_56"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_12_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_12_59"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.apply.screenField?.textLine10"
     coolAutotab #field_12_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="12" coolLength="10" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_12_75"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_12_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 100">
   <input type="text" coolType="field" name="field_13_7"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab #field_13_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 48%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="13" coolLength="3" [hidden]="pageOffset + 2 >= 100">{{in.import1?.[pageOffset + 2]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_13_19"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_13_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_13_22"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.functionType.screenField?.text13"
     coolAutotab #field_13_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 48%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="13" coolLength="13" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_13_39"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_13_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_13_42"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.debtState.screenField?.textLine10"
     coolAutotab #field_13_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 48%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="13" coolLength="10" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_13_56"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_13_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_13_59"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.apply.screenField?.textLine10"
     coolAutotab #field_13_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 48%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="13" coolLength="10" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_13_75"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_13_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 100">
   <input type="text" coolType="field" name="field_14_7"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab #field_14_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 52%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="14" coolLength="3" [hidden]="pageOffset + 3 >= 100">{{in.import1?.[pageOffset + 3]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_14_19"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_14_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_14_22"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.functionType.screenField?.text13"
     coolAutotab #field_14_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 52%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="14" coolLength="13" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_14_39"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_14_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_14_42"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.debtState.screenField?.textLine10"
     coolAutotab #field_14_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 52%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="14" coolLength="10" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_14_56"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_14_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_14_59"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.apply.screenField?.textLine10"
     coolAutotab #field_14_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="14" coolLength="10" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_14_75"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_14_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 100">
   <input type="text" coolType="field" name="field_15_7"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab #field_15_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 4 >= 100">{{in.import1?.[pageOffset + 4]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_15_19"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_15_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_15_22"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.functionType.screenField?.text13"
     coolAutotab #field_15_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 56%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="15" coolLength="13" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_15_39"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_15_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_15_42"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.debtState.screenField?.textLine10"
     coolAutotab #field_15_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 56%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="15" coolLength="10" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_15_56"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_15_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_15_59"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.apply.screenField?.textLine10"
     coolAutotab #field_15_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="15" coolLength="10" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_15_75"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_15_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 100">
   <input type="text" coolType="field" name="field_16_7"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.common.screenField?.selectChar"
     coolAutotab #field_16_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 60%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="16" coolLength="3" [hidden]="pageOffset + 5 >= 100">{{in.import1?.[pageOffset + 5]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_16_19"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_16_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_16_22"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.functionType.screenField?.text13"
     coolAutotab #field_16_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 60%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="16" coolLength="13" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_16_39"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_16_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_16_42"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.debtState.screenField?.textLine10"
     coolAutotab #field_16_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 60%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="16" coolLength="10" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_16_56"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_16_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_16_59"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.apply.screenField?.textLine10"
     coolAutotab #field_16_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="16" coolLength="10" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_16_75"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_16_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 100">
   <input type="text" coolType="field" name="field_17_7"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.common.screenField?.selectChar"
     coolAutotab #field_17_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 64%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="17" coolLength="3" [hidden]="pageOffset + 6 >= 100">{{in.import1?.[pageOffset + 6]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_17_19"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_17_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_17_22"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.functionType.screenField?.text13"
     coolAutotab #field_17_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 64%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="17" coolLength="13" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_17_39"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_17_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_17_42"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.debtState.screenField?.textLine10"
     coolAutotab #field_17_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 64%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="17" coolLength="10" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_17_56"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_17_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_17_59"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.apply.screenField?.textLine10"
     coolAutotab #field_17_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 64%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="17" coolLength="10" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_17_75"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_17_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 100">
   <input type="text" coolType="field" name="field_18_7"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.common.screenField?.selectChar"
     coolAutotab #field_18_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 68%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="18" coolLength="3" [hidden]="pageOffset + 7 >= 100">{{in.import1?.[pageOffset + 7]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_18_19"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_18_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_18_22"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.functionType.screenField?.text13"
     coolAutotab #field_18_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 68%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="18" coolLength="13" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_18_39"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_18_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_18_42"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.debtState.screenField?.textLine10"
     coolAutotab #field_18_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="18" coolLength="10" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_18_56"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_18_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_18_59"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.apply.screenField?.textLine10"
     coolAutotab #field_18_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="18" coolLength="10" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_18_75"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_18_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 100">
   <input type="text" coolType="field" name="field_19_7"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.common.screenField?.selectChar"
     coolAutotab #field_19_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 72%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="19" coolLength="3" [hidden]="pageOffset + 8 >= 100">{{in.import1?.[pageOffset + 8]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_19_19"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_19_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_19_22"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.functionType.screenField?.text13"
     coolAutotab #field_19_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 72%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="19" coolLength="13" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_19_39"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_19_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_19_42"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.debtState.screenField?.textLine10"
     coolAutotab #field_19_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 72%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="19" coolLength="10" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_19_56"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_19_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_19_59"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.apply.screenField?.textLine10"
     coolAutotab #field_19_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 72%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="19" coolLength="10" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_19_75"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_19_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 100">
   <input type="text" coolType="field" name="field_20_7"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.common.screenField?.selectChar"
     coolAutotab #field_20_7 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 100">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 13.75%; top: 76%; width: 3.75%; height: 4%;" coolCol="12"
     coolRow="20" coolLength="3" [hidden]="pageOffset + 9 >= 100">{{in.import1?.[pageOffset + 9]?.distributionPolicyRule.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   <input type="text" coolType="field" name="field_20_19"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'distributionPolicyRule.debtFunctionType').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.distributionPolicyRule.screenField?.debtFunctionType"
     coolAutotab #field_20_19 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['A',' ','R','O','W']"
     style="left: 22.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_20_22"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'functionType.text13').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.functionType.screenField?.text13"
     coolAutotab #field_20_22 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="13"
     style="left: 26.25%; top: 76%; width: 16.25%; height: 4%;" coolCol="22"
     coolRow="20" coolLength="13" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_20_39"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'distributionPolicyRule.debtState').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.distributionPolicyRule.screenField?.debtState"
     coolAutotab #field_20_39 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['C','A']"
     style="left: 47.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_20_42"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'debtState.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.debtState.screenField?.textLine10"
     coolAutotab #field_20_42 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 51.25%; top: 76%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="20" coolLength="10" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_20_56"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'distributionPolicyRule.applyTo').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.distributionPolicyRule.screenField?.applyTo"
     coolAutotab #field_20_56 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I','D']"
     style="left: 68.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_20_59"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'applyTo.textLine10').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.apply.screenField?.textLine10"
     coolAutotab #field_20_59 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 72.5%; top: 76%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="20" coolLength="10" [hidden]="pageOffset + 9 >= 100">
   <input type="text" coolType="field" name="field_20_75"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'distributionPolicyRule.distributeToOrderTypeCode').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.distributionPolicyRule.screenField?.distributeToOrderTypeCode"
     coolAutotab #field_20_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1" [coolPermittedValues]="['I',' ','K']"
     style="left: 92.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 100">
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 92.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="74">PF KEY: 1 Help  2 Display  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 83.75%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="67">        9 Return  10 Delete  11 Clear  12 Signoff  16 OBRL  17 PGRL</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="OBRL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=OBRL</a>
   <a coolType="action" coolCommand="PGRL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=PGRL</a>
   </div>