<!--Name: FN_DMTL_LST_DISB_METHOD_TYPES, ID: 371777579, model: 746-->
<div coolContent coolName="FN_DMTL_LST_DISB_METHOD_TYPES" coolType="SCREEN"
  (coolInit)="scrollSize = 100; pageSize = 13">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 51.25%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="41">CSE-List Disbursement Method Types - DMTL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 3.75%; top: 12%; width: 15%; height: 4%;"
     coolCol="4" coolRow="4" coolLength="12" coolColor="white">Show History</div>
   <input type="text" coolType="field" name="field_4_17"
     [(ngModel)]="in.showHistory.selectChar"
     [coolVideo]="out.showHistory.screenField?.selectChar" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" placeholder="N" coolUpper
     [attr.maxlength]="1" style="left: 20%; top: 12%; width: 1.25%; height: 4%;"
     coolCol="17" coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 71.25%; top: 16%; width: 11.25%; height: 4%;" coolCol="58"
     coolRow="5" coolLength="9" coolColor="white">Effective</div>
   
   <div coolType="prompt"
     style="left: 85%; top: 16%; width: 13.75%; height: 4%;" coolCol="69"
     coolRow="5" coolLength="11" coolColor="white">Discontinue</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 20%; width: 3.75%; height: 4%;" coolCol="3"
     coolRow="6" coolLength="3" coolColor="white">Sel</div>
   
   <div coolType="prompt" style="left: 8.75%; top: 20%; width: 5%; height: 4%;"
     coolCol="8" coolRow="6" coolLength="4" coolColor="white">Code</div>
   
   <div coolType="prompt" style="left: 23.75%; top: 20%; width: 5%; height: 4%;"
     coolCol="20" coolRow="6" coolLength="4" coolColor="white">Name</div>
   
   <div coolType="literal" style="left: 75%; top: 20%; width: 5%; height: 4%;"
     coolCol="61" coolRow="6" coolLength="4" coolColor="white">Date</div>
   
   <div coolType="literal"
     style="left: 88.75%; top: 20%; width: 5%; height: 4%;" coolCol="72"
     coolRow="6" coolLength="4" coolColor="white">Date</div>
   <input type="text" coolType="field" name="field_7_4"
     [(ngModel)]="ref(in.import1, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="7" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 24%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="7" coolLength="10" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 24%; width: 45%; height: 4%;" coolCol="20"
     coolRow="7" coolLength="36" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 24%; width: 10%; height: 4%;" coolCol="59"
     coolRow="7" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 24%; width: 10%; height: 4%;" coolCol="70"
     coolRow="7" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_8_4"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="8" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 28%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="8" coolLength="10" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 28%; width: 45%; height: 4%;" coolCol="20"
     coolRow="8" coolLength="36" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 28%; width: 10%; height: 4%;" coolCol="59"
     coolRow="8" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 28%; width: 10%; height: 4%;" coolCol="70"
     coolRow="8" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_9_4"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 32%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="9" coolLength="10" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 32%; width: 45%; height: 4%;" coolCol="20"
     coolRow="9" coolLength="36" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 32%; width: 10%; height: 4%;" coolCol="59"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 32%; width: 10%; height: 4%;" coolCol="70"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_10_4"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 36%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="10" coolLength="10"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 36%; width: 45%; height: 4%;" coolCol="20"
     coolRow="10" coolLength="36"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 36%; width: 10%; height: 4%;" coolCol="59"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 36%; width: 10%; height: 4%;" coolCol="70"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_11_4"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 40%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="11" coolLength="10"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 40%; width: 45%; height: 4%;" coolCol="20"
     coolRow="11" coolLength="36"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 40%; width: 10%; height: 4%;" coolCol="59"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 40%; width: 10%; height: 4%;" coolCol="70"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_12_4"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 44%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="12" coolLength="10"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 44%; width: 45%; height: 4%;" coolCol="20"
     coolRow="12" coolLength="36"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 44%; width: 10%; height: 4%;" coolCol="59"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 44%; width: 10%; height: 4%;" coolCol="70"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_13_4"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 48%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="13" coolLength="10"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 48%; width: 45%; height: 4%;" coolCol="20"
     coolRow="13" coolLength="36"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 48%; width: 10%; height: 4%;" coolCol="59"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 48%; width: 10%; height: 4%;" coolCol="70"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_14_4"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 52%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="14" coolLength="10"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 52%; width: 45%; height: 4%;" coolCol="20"
     coolRow="14" coolLength="36"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 52%; width: 10%; height: 4%;" coolCol="59"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 52%; width: 10%; height: 4%;" coolCol="70"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_15_4"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 56%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="15" coolLength="10"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 56%; width: 45%; height: 4%;" coolCol="20"
     coolRow="15" coolLength="36"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 56%; width: 10%; height: 4%;" coolCol="59"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 56%; width: 10%; height: 4%;" coolCol="70"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_16_4"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 60%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="16" coolLength="10"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 60%; width: 45%; height: 4%;" coolCol="20"
     coolRow="16" coolLength="36"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 60%; width: 10%; height: 4%;" coolCol="59"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 60%; width: 10%; height: 4%;" coolCol="70"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_17_4"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="17" coolLength="1"
     [hidden]="pageOffset + 10 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 64%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="17" coolLength="10"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 64%; width: 45%; height: 4%;" coolCol="20"
     coolRow="17" coolLength="36"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 64%; width: 10%; height: 4%;" coolCol="59"
     coolRow="17" coolLength="8"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 64%; width: 10%; height: 4%;" coolCol="70"
     coolRow="17" coolLength="8"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_18_4"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="18" coolLength="1"
     [hidden]="pageOffset + 11 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 68%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="18" coolLength="10"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 68%; width: 45%; height: 4%;" coolCol="20"
     coolRow="18" coolLength="36"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 68%; width: 10%; height: 4%;" coolCol="59"
     coolRow="18" coolLength="8"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 68%; width: 10%; height: 4%;" coolCol="70"
     coolRow="18" coolLength="8"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_19_4"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="19" coolLength="1"
     [hidden]="pageOffset + 12 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 72%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="19" coolLength="10"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.paymentMethodType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 72%; width: 45%; height: 4%;" coolCol="20"
     coolRow="19" coolLength="36"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.paymentMethodType.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 72.5%; top: 72%; width: 10%; height: 4%;" coolCol="59"
     coolRow="19" coolLength="8"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.paymentMethodType.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 86.25%; top: 72%; width: 10%; height: 4%;" coolCol="70"
     coolRow="19" coolLength="8"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.paymentMethodType.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="69" coolRow="21" coolLength="9"
     style="left: 85%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 86.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="69">PF KEY: 1 Help  2 Display  3 Exit  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 23.75%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="19">12 Signoff  15 DMTM</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="DMTM" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=DMTM</a>
   </div>