<!--Name: FN_DPYL_LST_DESIGNATED_PAYEES, ID: 371753463, model: 746-->
<div coolContent coolName="FN_DPYL_LST_DESIGNATED_PAYEES" coolType="SCREEN"
  (coolInit)="scrollSize = 100; pageSize = 6">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 0; width: 43.75%; height: 4%;" coolCol="23"
     coolRow="1" coolLength="35">CSE - List Designated Payees - DPYL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal" style="left: 2.5%; top: 12%; width: 20%; height: 4%;"
     coolCol="3" coolRow="4" coolLength="16">CSE PERSON/PAYEE</div>
   <input type="text" coolType="field" name="field_4_21"
     [(ngModel)]="in.payeeCsePerson.number"
     [coolVideo]="out.payeeCsePerson.screenField?.number" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 25%; top: 12%; width: 12.5%; height: 4%;" coolCol="21"
     coolRow="4" coolLength="10">
   <input type="text" coolType="field" name="field_4_32"
     [(ngModel)]="in.payeePrompt.selectChar"
     [coolVideo]="out.payeePrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 38.75%; top: 12%; width: 1.25%; height: 4%;" coolCol="32"
     coolRow="4" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 41.25%; top: 12%; width: 41.25%; height: 4%;" coolCol="34"
     coolRow="4" coolLength="33">{{in.payeeCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 16%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="5" coolLength="13">Starting Date</div>
   <input type="text" coolType="field" name="field_5_21"
     [(ngModel)]="in.startingDate.date"
     [coolVideo]="out.startingDate.screenField?.date" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 25%; top: 16%; width: 10%; height: 4%;"
     coolCol="21" coolRow="5" coolLength="8">
   
   <div coolType="literal"
     style="left: 13.75%; top: 24%; width: 20%; height: 4%;" coolCol="12"
     coolRow="7" coolLength="16">Designated Payee</div>
   
   <div coolType="literal"
     style="left: 63.75%; top: 24%; width: 11.25%; height: 4%;" coolCol="52"
     coolRow="7" coolLength="9">Effective</div>
   
   <div coolType="literal"
     style="left: 77.5%; top: 24%; width: 13.75%; height: 4%;" coolCol="63"
     coolRow="7" coolLength="11">Discontinue</div>
   
   <div coolType="literal" style="left: 0; top: 28%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="8" coolLength="3">Sel</div>
   
   <div coolType="literal"
     style="left: 7.5%; top: 28%; width: 7.5%; height: 4%;" coolCol="7"
     coolRow="8" coolLength="6">Number</div>
   
   <div coolType="literal" style="left: 22.5%; top: 28%; width: 5%; height: 4%;"
     coolCol="19" coolRow="8" coolLength="4">Name</div>
   
   <div coolType="literal"
     style="left: 63.75%; top: 28%; width: 5%; height: 4%;" coolCol="52"
     coolRow="8" coolLength="4">Date</div>
   
   <div coolType="literal" style="left: 77.5%; top: 28%; width: 5%; height: 4%;"
     coolCol="63" coolRow="8" coolLength="4">Date</div>
   <input type="text" coolType="field" name="field_9_2"
     [(ngModel)]="ref(in.import1, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 32%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="10" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.designatedPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 32%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="9" coolLength="33" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.designatedPayeeName.text33}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 32%; width: 10%; height: 4%;" coolCol="52"
     coolRow="9" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.desigPayee.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 77.5%; top: 32%; width: 10%; height: 4%;" coolCol="63"
     coolRow="9" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.desigPayee.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="10" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.supported.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 36%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="10" coolLength="33" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.supported.formattedName}}</div>
   <input type="text" coolType="field" name="field_11_2"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 40%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="11" coolLength="10"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.designatedPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 40%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="11" coolLength="33"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.designatedPayeeName.text33}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 40%; width: 10%; height: 4%;" coolCol="52"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.desigPayee.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 77.5%; top: 40%; width: 10%; height: 4%;" coolCol="63"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.desigPayee.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 44%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="10"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.supported.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 44%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="12" coolLength="33"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.supported.formattedName}}</div>
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 48%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="10"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.designatedPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 48%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="13" coolLength="33"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.designatedPayeeName.text33}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 48%; width: 10%; height: 4%;" coolCol="52"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.desigPayee.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 77.5%; top: 48%; width: 10%; height: 4%;" coolCol="63"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.desigPayee.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 52%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="10"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.supported.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 52%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="14" coolLength="33"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.supported.formattedName}}</div>
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 56%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="10"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.designatedPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 56%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="15" coolLength="33"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.designatedPayeeName.text33}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 56%; width: 10%; height: 4%;" coolCol="52"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.desigPayee.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 77.5%; top: 56%; width: 10%; height: 4%;" coolCol="63"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.desigPayee.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 60%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="10"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.supported.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 60%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="16" coolLength="33"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.supported.formattedName}}</div>
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 64%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="10"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.designatedPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 64%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="17" coolLength="33"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.designatedPayeeName.text33}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 64%; width: 10%; height: 4%;" coolCol="52"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.desigPayee.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 77.5%; top: 64%; width: 10%; height: 4%;" coolCol="63"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.desigPayee.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="10"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.supported.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 68%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="18" coolLength="33"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.supported.formattedName}}</div>
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.common.screenField?.selectChar"
     coolAutotab coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 72%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="19" coolLength="10"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.designatedPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 72%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="19" coolLength="33"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.designatedPayeeName.text33}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 72%; width: 10%; height: 4%;" coolCol="52"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.desigPayee.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 77.5%; top: 72%; width: 10%; height: 4%;" coolCol="63"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.desigPayee.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 76%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="20" coolLength="10"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.supported.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 76%; width: 41.25%; height: 4%;" coolCol="18"
     coolRow="20" coolLength="33"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.supported.formattedName}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="71" coolRow="21" coolLength="9"
     style="left: 87.5%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 92.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="74">PFKEY:  1 Help  2 Disp  3 Exit  4 List  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 35%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="28">12 Signoff  15 PACC  16 DPAY</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="PACC" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=PACC</a>
   <a coolType="action" coolCommand="DPAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=DPAY</a>
   </div>