<!--Name: FN_DPAY_MTN_DESIGNATED_PAYEE, ID: 371752426, model: 746-->
<div coolContent coolName="FN_DPAY_MTN_DESIGNATED_PAYEE" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 0; width: 46.25%; height: 4%;" coolCol="23"
     coolRow="1" coolLength="37">CSE- Maintain Designated Payee - DPAY</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal" style="left: 5%; top: 12%; width: 20%; height: 4%;"
     coolCol="5" coolRow="4" coolLength="16">CSE Person/Payee</div>
   <input type="text" coolType="field" name="field_4_23"
     [(ngModel)]="in.payee.number" [coolVideo]="out.payee.screenField?.number"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 27.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="4" coolLength="10">
   <input type="text" coolType="field" name="field_4_34"
     [(ngModel)]="in.arpayeePrompt.flag"
     [coolVideo]="out.arpayeePrompt.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 41.25%; top: 12%; width: 1.25%; height: 4%;" coolCol="34"
     coolRow="4" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 12%; width: 41.25%; height: 4%;" coolCol="39"
     coolRow="4" coolLength="33">{{in.payee.formattedName}}</div>
   
   <div coolType="literal" style="left: 5%; top: 16%; width: 20%; height: 4%;"
     coolCol="5" coolRow="5" coolLength="16">Designated Payee</div>
   <input type="text" coolType="field" name="field_5_23"
     [(ngModel)]="in.designatedPayee.number"
     [coolVideo]="out.designatedPayee.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 27.5%; top: 16%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="5" coolLength="10">
   <input type="text" coolType="field" name="field_5_34"
     [(ngModel)]="in.designatedPayeePrompt.flag"
     [coolVideo]="out.designatedPayeePrompt.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 41.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="34"
     coolRow="5" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 16%; width: 41.25%; height: 4%;" coolCol="39"
     coolRow="5" coolLength="33">{{in.designatedPayee.formattedName}}</div>
   
   <div coolType="prompt" style="left: 5%; top: 24%; width: 17.5%; height: 4%;"
     coolCol="5" coolRow="7" coolLength="14">Effective Date</div>
   <input type="text" coolType="field" name="field_7_23"
     [(ngModel)]="in.bothTypeOfDpIn1View.effectiveDate"
     [coolVideo]="out.bothTypeOfDpIn1View.screenField?.effectiveDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 27.5%; top: 24%; width: 10%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="8">
   
   <div coolType="prompt"
     style="left: 41.25%; top: 24%; width: 10%; height: 4%;" coolCol="34"
     coolRow="7" coolLength="8">Street 1</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 24%; width: 31.25%; height: 4%;" coolCol="44"
     coolRow="7" coolLength="25">{{in.csePersonAddress.street1}}</div>
   
   <div coolType="prompt" style="left: 5%; top: 28%; width: 20%; height: 4%;"
     coolCol="5" coolRow="8" coolLength="16">Discontinue Date</div>
   <input type="text" coolType="field" name="field_8_23"
     [(ngModel)]="in.bothTypeOfDpIn1View.discontinueDate"
     [coolVideo]="out.bothTypeOfDpIn1View.screenField?.discontinueDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 27.5%; top: 28%; width: 10%; height: 4%;" coolCol="23"
     coolRow="8" coolLength="8">
   
   <div coolType="prompt"
     style="left: 41.25%; top: 28%; width: 10%; height: 4%;" coolCol="34"
     coolRow="8" coolLength="8">Street 2</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 28%; width: 31.25%; height: 4%;" coolCol="44"
     coolRow="8" coolLength="25">{{in.csePersonAddress.street2}}</div>
   
   <div coolType="prompt" style="left: 5%; top: 32%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="9" coolLength="10">Created By</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 32%; width: 10%; height: 4%;" coolCol="23"
     coolRow="9" coolLength="8">{{in.bothTypeOfDpIn1View.createdBy}}</div>
   
   <div coolType="prompt"
     style="left: 41.25%; top: 32%; width: 10%; height: 4%;" coolCol="34"
     coolRow="9" coolLength="8">Street 3</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 32%; width: 31.25%; height: 4%;" coolCol="44"
     coolRow="9" coolLength="25">{{in.csePersonAddress.street3}}</div>
   
   <div coolType="prompt" style="left: 5%; top: 36%; width: 18.75%; height: 4%;"
     coolCol="5" coolRow="10" coolLength="15">Last Updated By</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 36%; width: 10%; height: 4%;" coolCol="23"
     coolRow="10" coolLength="8">{{in.bothTypeOfDpIn1View.lastUpdatedBy}}</div>
   
   <div coolType="prompt"
     style="left: 41.25%; top: 36%; width: 10%; height: 4%;" coolCol="34"
     coolRow="10" coolLength="8">Street 4</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 36%; width: 31.25%; height: 4%;" coolCol="44"
     coolRow="10" coolLength="25">{{in.csePersonAddress.street4}}</div>
   
   <div coolType="prompt" style="left: 41.25%; top: 40%; width: 5%; height: 4%;"
     coolCol="34" coolRow="11" coolLength="4">City</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 40%; width: 18.75%; height: 4%;" coolCol="44"
     coolRow="11" coolLength="15">{{in.csePersonAddress.city}}</div>
   
   <div coolType="prompt"
     style="left: 41.25%; top: 44%; width: 6.25%; height: 4%;" coolCol="34"
     coolRow="12" coolLength="5">State</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 44%; width: 2.5%; height: 4%;" coolCol="44"
     coolRow="12" coolLength="2">{{in.csePersonAddress.state}}</div>
   
   <div coolType="prompt"
     style="left: 61.25%; top: 44%; width: 3.75%; height: 4%;" coolCol="50"
     coolRow="12" coolLength="3">Zip</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 44%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="12" coolLength="5">{{in.csePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 44%; width: 5%; height: 4%;" coolCol="68"
     coolRow="12" coolLength="4">{{in.csePersonAddress.zip4}}</div>
   
   <div coolType="prompt"
     style="left: 41.25%; top: 48%; width: 10%; height: 4%;" coolCol="34"
     coolRow="13" coolLength="8">Province</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 48%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="13" coolLength="5">{{in.csePersonAddress.province}}</div>
   
   <div coolType="prompt"
     style="left: 61.25%; top: 48%; width: 13.75%; height: 4%;" coolCol="50"
     coolRow="13" coolLength="11">Postal Code</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 48%; width: 12.5%; height: 4%;" coolCol="62"
     coolRow="13" coolLength="10">{{in.csePersonAddress.postalCode}}</div>
   
   <div coolType="prompt"
     style="left: 41.25%; top: 52%; width: 8.75%; height: 4%;" coolCol="34"
     coolRow="14" coolLength="7">Country</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 52%; width: 2.5%; height: 4%;" coolCol="44"
     coolRow="14" coolLength="2">{{in.csePersonAddress.country}}</div>
   
   <div coolType="prompt" style="left: 0; top: 60%; width: 11.25%; height: 4%;"
     coolCol="1" coolRow="16" coolLength="9">Narrative</div>
   <textarea coolType="field" name="field_17_1"
     [(ngModel)]="in.bothTypeOfDpIn1View.notes"
     [coolVideo]="out.bothTypeOfDpIn1View.screenField?.notes" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="240" style="left: 0; top: 64%; width: 100%; height: 12%;"
     coolCol="1" coolRow="17" coolLength="80" coolHeight="3"></textarea>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 96.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="77">PF KEY:  1 Help  2 Disp  3 Exit  4 List  5 Add  6 Update  9 Return  10 Delete</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 43.75%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="35">11 Clear 12 Signoff 15 PACC 16 DPYL</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="PACC" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=PACC</a>
   <a coolType="action" coolCommand="DPYL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=DPYL</a>
   </div>