<!--Name: FN_DSAM_DISB_SYSTEM_ADM_MENU, ID: 371743013, model: 746-->
<div coolContent coolName="FN_DSAM_DISB_SYSTEM_ADM_MENU" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 16.25%; top: 0; width: 66.25%; height: 4%;" coolCol="14"
     coolRow="1" coolLength="53">CSE - Disbursements System Administration Menu - DSAM</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 15%; top: 12%; width: 13.75%; height: 4%;" coolCol="13"
     coolRow="4" coolLength="11">Maintenance</div>
   
   <div coolType="literal" style="left: 70%; top: 12%; width: 5%; height: 4%;"
     coolCol="57" coolRow="4" coolLength="4">List</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 16%; width: 22.5%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="18">1. DTPM  Disb Type</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 16%; width: 23.75%; height: 4%;" coolCol="44"
     coolRow="5" coolLength="19">20. DTYP  Disb Type</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 20%; width: 28.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="23">2. PSTM  Payment Status</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 20%; width: 32.5%; height: 4%;" coolCol="44"
     coolRow="6" coolLength="26">21. PSTL  Payment Statuses</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 24%; width: 25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="20">3. DSTM  Disb Status</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 24%; width: 26.25%; height: 4%;" coolCol="44"
     coolRow="7" coolLength="21">22. DSTL  Disb Status</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 28%; width: 28.75%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="23">4. DTTM  Disb Tran Type</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 28%; width: 30%; height: 4%;" coolCol="44"
     coolRow="8" coolLength="24">23. DTTL  Disb Tran Type</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 32%; width: 31.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="25">5. DMTM  Disb Method Type</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 32%; width: 32.5%; height: 4%;" coolCol="44"
     coolRow="9" coolLength="26">24. DMTL  Disb Method Type</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 36%; width: 42.5%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="34">6. DTRM  Disb Tran Relation Reason</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 36%; width: 43.75%; height: 4%;" coolCol="44"
     coolRow="10" coolLength="35">25. DTRL  Disb Tran Relation Reason</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 44%; width: 48.75%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="39">7. RDEF  Default Recapture Instructions</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 44%; width: 41.25%; height: 4%;" coolCol="44"
     coolRow="12" coolLength="33">26. RDRL  Default Recapture Rules</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 48%; width: 31.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="25">8. MXPT  Maximum Passthru</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 48%; width: 42.5%; height: 4%;" coolCol="44"
     coolRow="13" coolLength="34">27. PHST  Maximum Passthru History</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 52%; width: 38.75%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="31">9. REFI  Cost Recovery Fee Info</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 52%; width: 40%; height: 4%;" coolCol="44"
     coolRow="14" coolLength="32">28. RECF  Cost Recovery Fee Info</div>
   
   <div coolType="literal" style="left: 0; top: 60%; width: 51.25%; height: 4%;"
     coolCol="1" coolRow="16" coolLength="41">10. CAFM  Maintain Collection Agency Fees</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 60%; width: 46.25%; height: 4%;" coolCol="44"
     coolRow="16" coolLength="37">30. CAFL  List Collection Agency Fees</div>
   
   <div coolType="prompt"
     style="left: 32.5%; top: 80%; width: 28.75%; height: 4%;" coolCol="27"
     coolRow="21" coolLength="23">Please select an option</div>
   <input type="text" coolType="field" name="field_21_52"
     [(ngModel)]="in.standard.menuOption"
     [coolVideo]="out.standard.screenField?.menuOption" coolAutotab coolFocus
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 63.75%; top: 80%; width: 2.5%; height: 4%;" coolCol="52"
     coolRow="21" coolLength="2">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="78"
     style="left: 0; top: 88%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 92%; width: 45%; height: 4%;" coolCol="2"
     coolRow="24" coolLength="36">PF Keys:  1 Help  3 Exit  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="DMEN" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=DMEN</a>
   </div>