<!--Name: FN_DSTL_LST_DISB_STATUSES, ID: 371777694, model: 746-->
<div coolContent coolName="FN_DSTL_LST_DISB_STATUSES" coolType="SCREEN"
  (coolInit)="scrollSize = 100; pageSize = 12">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 0; width: 46.25%; height: 4%;" coolCol="23"
     coolRow="1" coolLength="37">CSE-List Disbursement Statuses - DSTL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 15%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="12" coolColor="white">Show History</div>
   <input type="text" coolType="field" name="field_4_16"
     [(ngModel)]="in.showHistory.selectChar"
     [coolVideo]="out.showHistory.screenField?.selectChar" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" placeholder="N" coolUpper
     [attr.maxlength]="1"
     style="left: 18.75%; top: 12%; width: 1.25%; height: 4%;" coolCol="16"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 68.75%; top: 16%; width: 11.25%; height: 4%;" coolCol="56"
     coolRow="5" coolLength="9" coolColor="white">Effective</div>
   
   <div coolType="prompt"
     style="left: 81.25%; top: 16%; width: 13.75%; height: 4%;" coolCol="66"
     coolRow="5" coolLength="11" coolColor="white">Discontinue</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="3">Sel</div>
   
   <div coolType="prompt" style="left: 6.25%; top: 20%; width: 5%; height: 4%;"
     coolCol="6" coolRow="6" coolLength="4" coolColor="white">Code</div>
   
   <div coolType="prompt" style="left: 21.25%; top: 20%; width: 5%; height: 4%;"
     coolCol="18" coolRow="6" coolLength="4" coolColor="white">Name</div>
   
   <div coolType="literal"
     style="left: 71.25%; top: 20%; width: 5%; height: 4%;" coolCol="58"
     coolRow="6" coolLength="4" coolColor="white">Date</div>
   
   <div coolType="literal" style="left: 85%; top: 20%; width: 5%; height: 4%;"
     coolCol="69" coolRow="6" coolLength="4" coolColor="white">Date</div>
   <input type="text" coolType="field" name="field_7_3"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 24%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="7" coolLength="10" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 24%; width: 45%; height: 4%;" coolCol="18"
     coolRow="7" coolLength="36" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 24%; width: 10%; height: 4%;" coolCol="56"
     coolRow="7" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 24%; width: 10%; height: 4%;" coolCol="67"
     coolRow="7" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_8_3"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 28%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="8" coolLength="10" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 28%; width: 45%; height: 4%;" coolCol="18"
     coolRow="8" coolLength="36" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 28%; width: 10%; height: 4%;" coolCol="56"
     coolRow="8" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 28%; width: 10%; height: 4%;" coolCol="67"
     coolRow="8" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_9_3"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 32%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="10" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 32%; width: 45%; height: 4%;" coolCol="18"
     coolRow="9" coolLength="36" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 32%; width: 10%; height: 4%;" coolCol="56"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 32%; width: 10%; height: 4%;" coolCol="67"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_10_3"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="10"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 36%; width: 45%; height: 4%;" coolCol="18"
     coolRow="10" coolLength="36"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 36%; width: 10%; height: 4%;" coolCol="56"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 36%; width: 10%; height: 4%;" coolCol="67"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 40%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="11" coolLength="10"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 40%; width: 45%; height: 4%;" coolCol="18"
     coolRow="11" coolLength="36"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 40%; width: 10%; height: 4%;" coolCol="56"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 40%; width: 10%; height: 4%;" coolCol="67"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_12_3"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 44%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="10"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 44%; width: 45%; height: 4%;" coolCol="18"
     coolRow="12" coolLength="36"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 44%; width: 10%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 44%; width: 10%; height: 4%;" coolCol="67"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 48%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="10"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 48%; width: 45%; height: 4%;" coolCol="18"
     coolRow="13" coolLength="36"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 48%; width: 10%; height: 4%;" coolCol="56"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 48%; width: 10%; height: 4%;" coolCol="67"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 52%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="10"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 52%; width: 45%; height: 4%;" coolCol="18"
     coolRow="14" coolLength="36"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 52%; width: 10%; height: 4%;" coolCol="56"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 52%; width: 10%; height: 4%;" coolCol="67"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 56%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="10"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 56%; width: 45%; height: 4%;" coolCol="18"
     coolRow="15" coolLength="36"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 56%; width: 10%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 56%; width: 10%; height: 4%;" coolCol="67"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_16_3"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 60%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="10"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 60%; width: 45%; height: 4%;" coolCol="18"
     coolRow="16" coolLength="36"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 60%; width: 10%; height: 4%;" coolCol="56"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 60%; width: 10%; height: 4%;" coolCol="67"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_17_3"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="1"
     [hidden]="pageOffset + 10 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 64%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="10"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 64%; width: 45%; height: 4%;" coolCol="18"
     coolRow="17" coolLength="36"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 64%; width: 10%; height: 4%;" coolCol="56"
     coolRow="17" coolLength="8"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 64%; width: 10%; height: 4%;" coolCol="67"
     coolRow="17" coolLength="8"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_18_3"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailCommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="18" coolLength="1"
     [hidden]="pageOffset + 11 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="10"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailDisbursementStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 68%; width: 45%; height: 4%;" coolCol="18"
     coolRow="18" coolLength="36"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailDisbursementStatus.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 68%; width: 10%; height: 4%;" coolCol="56"
     coolRow="18" coolLength="8"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailDisbursementStatus.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 82.5%; top: 68%; width: 10%; height: 4%;" coolCol="67"
     coolRow="18" coolLength="8"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailDisbursementStatus.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="68" coolRow="20" coolLength="9"
     style="left: 83.75%; top: 76%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 18.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="15">PF KEYS: 1 Help</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 88%; width: 11.25%; height: 4%;" coolCol="18"
     coolRow="23" coolLength="9">2 Display</div>
   
   <div coolType="literal" style="left: 35%; top: 88%; width: 7.5%; height: 4%;"
     coolCol="29" coolRow="23" coolLength="6">3 Exit</div>
   
   <div coolType="literal" style="left: 45%; top: 88%; width: 7.5%; height: 4%;"
     coolCol="37" coolRow="23" coolLength="6">7 Prev</div>
   
   <div coolType="literal" style="left: 55%; top: 88%; width: 7.5%; height: 4%;"
     coolCol="45" coolRow="23" coolLength="6">8 Next</div>
   
   <div coolType="literal" style="left: 65%; top: 88%; width: 10%; height: 4%;"
     coolCol="53" coolRow="23" coolLength="8" coolColor="white">9 Return</div>
   
   <div coolType="literal"
     style="left: 77.5%; top: 88%; width: 10%; height: 4%;" coolCol="63"
     coolRow="23" coolLength="8">11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 13.75%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="11"> 12 Signoff</div>
   
   <div coolType="literal"
     style="left: 26.25%; top: 92%; width: 8.75%; height: 4%;" coolCol="22"
     coolRow="24" coolLength="7">15 DSTM</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="DSTM" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=DSTM</a>
   </div>