<!--Name: FN_DXUA_DISBURSE_EXCESS_URA, ID: 372550512, model: 746-->
<div coolContent coolName="FN_DXUA_DISBURSE_EXCESS_URA" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 0; width: 52.5%; height: 4%;" coolCol="18"
     coolRow="1" coolLength="42">CSE - Disburse Excess URA To Family - DXUA</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 16%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="5" coolLength="13">Excess Coll #</div>
   <input type="text" coolType="field" name="field_5_19"
     [(ngModel)]="in.uraExcessCollection.sequenceNumber"
     [coolVideo]="out.uraExcessCollection.screenField?.sequenceNumber"
     coolAutotab coolFocus coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000000000;#" coolBlankWhenZero
     [attr.maxlength]="9"
     style="left: 22.5%; top: 16%; width: 11.25%; height: 4%;" coolCol="19"
     coolRow="5" coolLength="9">
   
   <div coolType="literal"
     style="left: 46.25%; top: 16%; width: 8.75%; height: 4%;" coolCol="38"
     coolRow="5" coolLength="7">Payee #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 16%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="5" coolLength="10">{{in.csePerson.number}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 24%; width: 13.75%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="11">Type of URA</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="7" coolLength="1">{{in.uraExcessCollection.action}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 25%; top: 24%; width: 18.75%; height: 4%;" coolCol="21"
     coolRow="7" coolLength="15">{{in.description.text30}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 24%; width: 5%; height: 4%;" coolCol="38"
     coolRow="7" coolLength="4">Name</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 24%; width: 41.25%; height: 4%;" coolCol="47"
     coolRow="7" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 28%; width: 10%; height: 4%;" coolCol="38"
     coolRow="8" coolLength="8">Street 1</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 28%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="8" coolLength="25">{{in.csePersonAddress.street1}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 32%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="13">Reference Nbr</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 32%; width: 17.5%; height: 4%;" coolCol="19"
     coolRow="9" coolLength="14">{{in.crdCrComboNo.crdCrCombo}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 32%; width: 10%; height: 4%;" coolCol="38"
     coolRow="9" coolLength="8">Street 2</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 32%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="9" coolLength="25">{{in.csePersonAddress.street2}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 36%; width: 5%; height: 4%;" coolCol="38"
     coolRow="10" coolLength="4">City</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 36%; width: 18.75%; height: 4%;" coolCol="47"
     coolRow="10" coolLength="15">{{in.csePersonAddress.city}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 40%; width: 13.75%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="11">Coll Number</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 22.5%; top: 40%; width: 11.25%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="9">{{in.uraExcessCollection.initiatingCollection|coolNumber:'000000000;#':1}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 40%; width: 6.25%; height: 4%;" coolCol="38"
     coolRow="11" coolLength="5">State</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 40%; width: 2.5%; height: 4%;" coolCol="47"
     coolRow="11" coolLength="2">{{in.csePersonAddress.state}}</div>
   
   <div coolType="literal"
     style="left: 62.5%; top: 40%; width: 3.75%; height: 4%;" coolCol="51"
     coolRow="11" coolLength="3">Zip</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 40%; width: 6.25%; height: 4%;" coolCol="55"
     coolRow="11" coolLength="5">{{in.csePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 75%; top: 40%; width: 5%; height: 4%;" coolCol="61"
     coolRow="11" coolLength="4">{{in.csePersonAddress.zip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 81.25%; top: 40%; width: 3.75%; height: 4%;" coolCol="66"
     coolRow="11" coolLength="3">{{in.csePersonAddress.zip3}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 44%; width: 10%; height: 4%;" coolCol="38"
     coolRow="12" coolLength="8">Street 3</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 44%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="12" coolLength="25">{{in.csePersonAddress.street3}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 48%; width: 17.5%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="14">Coll Adjusted?</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="1">{{in.collection.adjustedInd}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 48%; width: 10%; height: 4%;" coolCol="38"
     coolRow="13" coolLength="8">Street 4</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 48%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="13" coolLength="25">{{in.csePersonAddress.street4}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 52%; width: 10%; height: 4%;" coolCol="38"
     coolRow="14" coolLength="8">Province</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 52%; width: 6.25%; height: 4%;" coolCol="47"
     coolRow="14" coolLength="5">{{in.csePersonAddress.province}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 56%; width: 13.75%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="11">Coll Amount</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 22.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="19"
     coolRow="15" coolLength="10">{{in.collection.amount|coolNumber:'###,##0.00;#':1}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 56%; width: 8.75%; height: 4%;" coolCol="38"
     coolRow="15" coolLength="7">Country</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 56%; width: 2.5%; height: 4%;" coolCol="47"
     coolRow="15" coolLength="2">{{in.csePersonAddress.country}}</div>
   
   <div coolType="literal"
     style="left: 62.5%; top: 56%; width: 13.75%; height: 4%;" coolCol="51"
     coolRow="15" coolLength="11">Postal Code</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="63"
     coolRow="15" coolLength="10">{{in.csePersonAddress.postalCode}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 64%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="13">Excess Amount</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 22.5%; top: 64%; width: 12.5%; height: 4%;" coolCol="19"
     coolRow="17" coolLength="10">{{in.uraExcessCollection.amount|coolNumber:'###,##0.00;#':1}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 72%; width: 13.75%; height: 4%;" coolCol="3"
     coolRow="19" coolLength="11">Disb Amount</div>
   <input type="text" coolType="field" name="field_19_19"
     [(ngModel)]="in.entered.disbAmount"
     [coolVideo]="out.entered.screenField?.disbAmount" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="###,##0.00;#" coolBlankWhenZero [attr.maxlength]="10"
     style="left: 22.5%; top: 72%; width: 12.5%; height: 4%;" coolCol="19"
     coolRow="19" coolLength="10">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="80"
     style="left: 0; top: 84%; width: 100%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 83.75%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="67">PFKEY: 1 Help  2 Display  3 Exit  11 Clear  12 Signoff  15 Disburse</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="DISBURSE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=DISBURSE</a>
   </div>