<!--Name: FN_FEES_REC_CASH_RCPT_COLL_FEES, ID: 371774266, model: 746-->
<div coolContent coolName="FN_FEES_REC_CASH_RCPT_COLL_FEES" coolType="SCREEN"
  (coolInit)="scrollSize = 52; pageSize = 13">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 22.5%; top: 0; width: 60%; height: 4%;"
     coolCol="19" coolRow="1" coolLength="48">CSE - Record Cash Receipt Collection Fees - FEES</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 12%; width: 17.5%; height: 4%;" coolCol="3"
     coolRow="4" coolLength="14" coolColor="white">Receipt Number</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 33.75%; top: 12%; width: 11.25%; height: 4%;" coolCol="28"
     coolRow="4" coolLength="9">{{in.cashReceipt.sequentialNumber|coolNumber:'########0;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 16%; width: 23.75%; height: 4%;" coolCol="3"
     coolRow="5" coolLength="19" coolColor="white">Collection Detail #</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 40%; top: 16%; width: 5%; height: 4%;" coolCol="33"
     coolRow="5" coolLength="4">{{in.cashReceiptDetail.sequentialIdentifier|coolNumber:'###0;#':1}}</div>
   
   <div coolType="prompt" style="left: 2.5%; top: 20%; width: 20%; height: 4%;"
     coolCol="3" coolRow="6" coolLength="16">Total Fee Amount</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 32.5%; top: 20%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="6" coolLength="10">{{in.totalFee.totalCurrency|coolNumber:'######0.00;#':0}}</div>
   
   <div coolType="prompt" style="left: 10%; top: 28%; width: 3.75%; height: 4%;"
     coolCol="9" coolRow="8" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 17.5%; top: 28%; width: 16.25%; height: 4%;" coolCol="15"
     coolRow="8" coolLength="13">Fee Type Code</div>
   
   <div coolType="prompt" style="left: 45%; top: 28%; width: 12.5%; height: 4%;"
     coolCol="37" coolRow="8" coolLength="10">Fee Amount</div>
   <input type="text" coolType="field" name="field_9_10"
     [(ngModel)]="ref(in.import1, pageOffset, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.selection1.screenField?.selectChar"
     coolAutotab #field_9_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= 52">
   <input type="text" coolType="field" name="field_9_16"
     [(ngModel)]="ref(in.import1, pageOffset, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_9_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 32%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="9" coolLength="10" [hidden]="pageOffset >= 52">
   <input type="text" coolType="field" name="field_9_27"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.selectChar"
     coolAutotab #field_9_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= 52">
   <input type="text" coolType="field" name="field_9_37"
     [(ngModel)]="ref(in.import1, pageOffset, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_9_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 32%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="9" coolLength="10" [hidden]="pageOffset >= 52">
   <input type="text" coolType="field" name="field_10_10"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.selection1.screenField?.selectChar"
     coolAutotab #field_10_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 1 >= 52">
   <input type="text" coolType="field" name="field_10_16"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_10_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 36%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="10" coolLength="10" [hidden]="pageOffset + 1 >= 52">
   <input type="text" coolType="field" name="field_10_27"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.selectChar"
     coolAutotab #field_10_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 1 >= 52">
   <input type="text" coolType="field" name="field_10_37"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_10_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 36%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="10" coolLength="10" [hidden]="pageOffset + 1 >= 52">
   <input type="text" coolType="field" name="field_11_10"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.selection1.screenField?.selectChar"
     coolAutotab #field_11_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 2 >= 52">
   <input type="text" coolType="field" name="field_11_16"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_11_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 40%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="11" coolLength="10" [hidden]="pageOffset + 2 >= 52">
   <input type="text" coolType="field" name="field_11_27"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.selectChar"
     coolAutotab #field_11_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 2 >= 52">
   <input type="text" coolType="field" name="field_11_37"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_11_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 40%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="11" coolLength="10" [hidden]="pageOffset + 2 >= 52">
   <input type="text" coolType="field" name="field_12_10"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.selection1.screenField?.selectChar"
     coolAutotab #field_12_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 3 >= 52">
   <input type="text" coolType="field" name="field_12_16"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_12_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 44%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="12" coolLength="10" [hidden]="pageOffset + 3 >= 52">
   <input type="text" coolType="field" name="field_12_27"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.selectChar"
     coolAutotab #field_12_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 3 >= 52">
   <input type="text" coolType="field" name="field_12_37"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_12_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 44%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="12" coolLength="10" [hidden]="pageOffset + 3 >= 52">
   <input type="text" coolType="field" name="field_13_10"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.selection1.screenField?.selectChar"
     coolAutotab #field_13_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 4 >= 52">
   <input type="text" coolType="field" name="field_13_16"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_13_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 48%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="13" coolLength="10" [hidden]="pageOffset + 4 >= 52">
   <input type="text" coolType="field" name="field_13_27"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detail.screenField?.selectChar"
     coolAutotab #field_13_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 4 >= 52">
   <input type="text" coolType="field" name="field_13_37"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_13_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 48%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="13" coolLength="10" [hidden]="pageOffset + 4 >= 52">
   <input type="text" coolType="field" name="field_14_10"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.selection1.screenField?.selectChar"
     coolAutotab #field_14_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 5 >= 52">
   <input type="text" coolType="field" name="field_14_16"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_14_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 52%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="14" coolLength="10" [hidden]="pageOffset + 5 >= 52">
   <input type="text" coolType="field" name="field_14_27"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detail.screenField?.selectChar"
     coolAutotab #field_14_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 5 >= 52">
   <input type="text" coolType="field" name="field_14_37"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_14_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 52%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="14" coolLength="10" [hidden]="pageOffset + 5 >= 52">
   <input type="text" coolType="field" name="field_15_10"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.selection1.screenField?.selectChar"
     coolAutotab #field_15_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 6 >= 52">
   <input type="text" coolType="field" name="field_15_16"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_15_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 56%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="15" coolLength="10" [hidden]="pageOffset + 6 >= 52">
   <input type="text" coolType="field" name="field_15_27"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detail.screenField?.selectChar"
     coolAutotab #field_15_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 6 >= 52">
   <input type="text" coolType="field" name="field_15_37"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_15_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 56%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="15" coolLength="10" [hidden]="pageOffset + 6 >= 52">
   <input type="text" coolType="field" name="field_16_10"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.selection1.screenField?.selectChar"
     coolAutotab #field_16_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 7 >= 52">
   <input type="text" coolType="field" name="field_16_16"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_16_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 60%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="16" coolLength="10" [hidden]="pageOffset + 7 >= 52">
   <input type="text" coolType="field" name="field_16_27"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detail.screenField?.selectChar"
     coolAutotab #field_16_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 7 >= 52">
   <input type="text" coolType="field" name="field_16_37"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_16_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 60%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="16" coolLength="10" [hidden]="pageOffset + 7 >= 52">
   <input type="text" coolType="field" name="field_17_10"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.selection1.screenField?.selectChar"
     coolAutotab #field_17_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 8 >= 52">
   <input type="text" coolType="field" name="field_17_16"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_17_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 64%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="17" coolLength="10" [hidden]="pageOffset + 8 >= 52">
   <input type="text" coolType="field" name="field_17_27"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detail.screenField?.selectChar"
     coolAutotab #field_17_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 8 >= 52">
   <input type="text" coolType="field" name="field_17_37"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_17_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 64%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="17" coolLength="10" [hidden]="pageOffset + 8 >= 52">
   <input type="text" coolType="field" name="field_18_10"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.selection1.screenField?.selectChar"
     coolAutotab #field_18_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 9 >= 52">
   <input type="text" coolType="field" name="field_18_16"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_18_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 68%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="18" coolLength="10" [hidden]="pageOffset + 9 >= 52">
   <input type="text" coolType="field" name="field_18_27"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detail.screenField?.selectChar"
     coolAutotab #field_18_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 9 >= 52">
   <input type="text" coolType="field" name="field_18_37"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_18_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 68%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="18" coolLength="10" [hidden]="pageOffset + 9 >= 52">
   <input type="text" coolType="field" name="field_19_10"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.selection1.screenField?.selectChar"
     coolAutotab #field_19_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 10 >= 52">
   <input type="text" coolType="field" name="field_19_16"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_19_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 72%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="19" coolLength="10" [hidden]="pageOffset + 10 >= 52">
   <input type="text" coolType="field" name="field_19_27"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detail.screenField?.selectChar"
     coolAutotab #field_19_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 10 >= 52">
   <input type="text" coolType="field" name="field_19_37"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_19_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 72%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="19" coolLength="10" [hidden]="pageOffset + 10 >= 52">
   <input type="text" coolType="field" name="field_20_10"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.selection1.screenField?.selectChar"
     coolAutotab #field_20_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 11 >= 52">
   <input type="text" coolType="field" name="field_20_16"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_20_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 76%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="20" coolLength="10" [hidden]="pageOffset + 11 >= 52">
   <input type="text" coolType="field" name="field_20_27"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detail.screenField?.selectChar"
     coolAutotab #field_20_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 11 >= 52">
   <input type="text" coolType="field" name="field_20_37"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_20_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 76%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="20" coolLength="10" [hidden]="pageOffset + 11 >= 52">
   <input type="text" coolType="field" name="field_21_10"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'selection1.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.selection1.screenField?.selectChar"
     coolAutotab #field_21_10 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 80%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="21" coolLength="1" [hidden]="pageOffset + 12 >= 52">
   <input type="text" coolType="field" name="field_21_16"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'cashReceiptDetailFeeType.code').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.cashReceiptDetailFeeType.screenField?.code"
     coolAutotab #field_21_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 80%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="21" coolLength="10" [hidden]="pageOffset + 12 >= 52">
   <input type="text" coolType="field" name="field_21_27"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detail.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detail.screenField?.selectChar"
     coolAutotab #field_21_27 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 32.5%; top: 80%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="21" coolLength="1" [hidden]="pageOffset + 12 >= 52">
   <input type="text" coolType="field" name="field_21_37"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'cashReceiptDetailFee.amount').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.cashReceiptDetailFee.screenField?.amount"
     coolAutotab #field_21_37 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0.00;#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 45%; top: 80%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="21" coolLength="10" [hidden]="pageOffset + 12 >= 52">
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="53" coolRow="21" coolLength="9"
     style="left: 65%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 92.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="74">PF KEY:  1 Help  2 Display  3 Exit  4 List  5 Add  6 Update 7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 92%; width: 51.25%; height: 4%;" coolCol="10"
     coolRow="24" coolLength="41">9 Return  10 Delete  11 Clear  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>