<!--Name: FN_FMEN_FNCL_MGMT_MAIN_MENU, ID: 371727538, model: 746-->
<div coolContent coolName="FN_FMEN_FNCL_MGMT_MAIN_MENU" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 22.5%; top: 0; width: 53.75%; height: 4%;" coolCol="19"
     coolRow="1" coolLength="43">CSE - Financial Management Main Menu - FMEN</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">Next</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 20%; top: 20%; width: 36.25%; height: 4%;" coolCol="17"
     coolRow="6" coolLength="29">1. CAMM  Cash Management Menu</div>
   
   <div coolType="literal"
     style="left: 20%; top: 24%; width: 52.5%; height: 4%;" coolCol="17"
     coolRow="7" coolLength="42">2. DDMM  Debt/Distribution Management Menu</div>
   
   <div coolType="literal"
     style="left: 20%; top: 28%; width: 46.25%; height: 4%;" coolCol="17"
     coolRow="8" coolLength="37">3. DMEN  Disbursement Management Menu</div>
   
   <div coolType="literal"
     style="left: 20%; top: 36%; width: 43.75%; height: 4%;" coolCol="17"
     coolRow="10" coolLength="35">4. CSAM  Cash System Administration</div>
   
   <div coolType="literal" style="left: 20%; top: 40%; width: 60%; height: 4%;"
     coolCol="17" coolRow="11" coolLength="48">5. DDAM  Debt/Distribution System Administration</div>
   
   <div coolType="literal"
     style="left: 20%; top: 44%; width: 53.75%; height: 4%;" coolCol="17"
     coolRow="12" coolLength="43">6. DSAM  Disbursement System Administration</div>
   
   <div coolType="prompt"
     style="left: 31.25%; top: 72%; width: 30%; height: 4%;" coolCol="26"
     coolRow="19" coolLength="24">Please select an option:</div>
   <input type="text" coolType="field" name="field_19_52"
     [(ngModel)]="in.standard.menuOption"
     [coolVideo]="out.standard.screenField?.menuOption" coolAutotab coolFocus
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="1"
     style="left: 63.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="19" coolLength="1">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="78"
     style="left: 0; top: 88%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 43.75%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="35">PF KEY:  1 Help  3 Exit  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>