<!--Name: FN_LPSP_LST_PYEES_WTH_DISB_SUPP, ID: 371754760, model: 746-->
<div coolContent coolName="FN_LPSP_LST_PYEES_WTH_DISB_SUPP" coolType="SCREEN"
  (coolInit)="scrollSize = 170; pageSize = 10">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 16.25%; top: 0; width: 67.5%; height: 4%;" coolCol="14"
     coolRow="1" coolLength="54">CSE - List Payees With Disbursements Suppressed - LPSP</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="literal"
     style="left: 33.75%; top: 4%; width: 31.25%; height: 4%;" coolCol="28"
     coolRow="2" coolLength="25" coolColor="red">POTENTIAL FTI INFORMATION</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 12%; width: 20%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="16">Case Coordinator</div>
   <input type="text" coolType="field" name="field_4_22"
     [(ngModel)]="in.workerServiceProvider.userId"
     [coolVideo]="out.workerServiceProvider.screenField?.userId" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8"
     style="left: 26.25%; top: 12%; width: 10%; height: 4%;" coolCol="22"
     coolRow="4" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 12%; width: 41.25%; height: 4%;" coolCol="31"
     coolRow="4" coolLength="33">{{in.workerCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 16%; width: 22.5%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="18">Suppressing Worker</div>
   <input type="text" coolType="field" name="field_5_22"
     [(ngModel)]="in.suppressingDisbSuppressionStatusHistory.createdBy"
     [coolVideo]="out.suppressingDisbSuppressionStatusHistory.screenField?.createdBy"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8"
     style="left: 26.25%; top: 16%; width: 10%; height: 4%;" coolCol="22"
     coolRow="5" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 16%; width: 41.25%; height: 4%;" coolCol="31"
     coolRow="5" coolLength="33">{{in.suppressingCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 20%; width: 15%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="12">Payee Number</div>
   <input type="text" coolType="field" name="field_6_16"
     [(ngModel)]="in.searchPayee.number"
     [coolVideo]="out.searchPayee.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 18.75%; top: 20%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="6" coolLength="10">
   <input type="text" coolType="field" name="field_6_27"
     [(ngModel)]="in.payeeNumberPrompt.text1"
     [coolVideo]="out.payeeNumberPrompt.screenField?.text1" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 32.5%; top: 20%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="6" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 35%; top: 20%; width: 41.25%; height: 4%;" coolCol="29"
     coolRow="6" coolLength="33">{{in.searchPayee.formattedName}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 24%; width: 15%; height: 4%;"
     coolCol="2" coolRow="7" coolLength="12">Show History</div>
   <input type="text" coolType="field" name="field_7_16"
     [(ngModel)]="in.showHistory.flag"
     [coolVideo]="out.showHistory.screenField?.flag" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" placeholder="N" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 18.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="16"
     coolRow="7" coolLength="1">
   
   <div coolType="prompt"
     style="left: 25%; top: 24%; width: 11.25%; height: 4%;" coolCol="21"
     coolRow="7" coolLength="9">Coll Type</div>
   <input type="text" coolType="field" name="field_7_32"
     [(ngModel)]="in.filterCollectionType.code"
     [coolVideo]="out.filterCollectionType.screenField?.code" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 38.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="32"
     coolRow="7" coolLength="1">
   <input type="text" coolType="field" name="field_7_34"
     [(ngModel)]="in.collectionTypePrompt.text1"
     [coolVideo]="out.collectionTypePrompt.screenField?.text1" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 41.25%; top: 24%; width: 1.25%; height: 4%;" coolCol="34"
     coolRow="7" coolLength="1">
   
   <div coolType="prompt"
     style="left: 46.25%; top: 24%; width: 10%; height: 4%;" coolCol="38"
     coolRow="7" coolLength="8">Sup Type</div>
   <input type="text" coolType="field" name="field_7_47"
     [(ngModel)]="in.filterDisbSuppressionStatusHistory.type1"
     [coolVideo]="out.filterDisbSuppressionStatusHistory.screenField?.type1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     [coolPermittedValues]="['D','O','P','C','A','X','Y','Z']"
     style="left: 57.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="7" coolLength="1">
   <input type="text" coolType="field" name="field_7_49"
     [(ngModel)]="in.suppressionTypePrompt.text1"
     [coolVideo]="out.suppressionTypePrompt.screenField?.text1" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 60%; top: 24%; width: 1.25%; height: 4%;"
     coolCol="49" coolRow="7" coolLength="1">
   <input type="text" coolType="field" name="field_7_51"
     [(ngModel)]="in.suppressionType.description"
     [coolVideo]="out.suppressionType.screenField?.description" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="20"
     style="left: 62.5%; top: 24%; width: 25%; height: 4%;" coolCol="51"
     coolRow="7" coolLength="20">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 28%; width: 11.25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="9">From Date</div>
   <input type="text" coolType="field" name="field_8_12"
     [(ngModel)]="in.fromDate.effectiveDate"
     [coolVideo]="out.fromDate.screenField?.effectiveDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 13.75%; top: 28%; width: 10%; height: 4%;" coolCol="12"
     coolRow="8" coolLength="8">
   
   <div coolType="prompt" style="left: 25%; top: 28%; width: 8.75%; height: 4%;"
     coolCol="21" coolRow="8" coolLength="7">To Date</div>
   <input type="text" coolType="field" name="field_8_29"
     [(ngModel)]="in.toDate.discontinueDate"
     [coolVideo]="out.toDate.screenField?.discontinueDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 35%; top: 28%; width: 10%; height: 4%;"
     coolCol="29" coolRow="8" coolLength="8">
   
   <div coolType="prompt"
     style="left: 56.25%; top: 32%; width: 3.75%; height: 4%;" coolCol="46"
     coolRow="9" coolLength="3">Sup</div>
   
   <div coolType="literal" style="left: 62.5%; top: 32%; width: 5%; height: 4%;"
     coolCol="51" coolRow="9" coolLength="4">Coll</div>
   
   <div coolType="literal"
     style="left: 70%; top: 32%; width: 6.25%; height: 4%;" coolCol="57"
     coolRow="9" coolLength="5">Effec</div>
   
   <div coolType="literal"
     style="left: 81.25%; top: 32%; width: 5%; height: 4%;" coolCol="66"
     coolRow="9" coolLength="4">Disc</div>
   
   <div coolType="literal"
     style="left: 91.25%; top: 32%; width: 6.25%; height: 4%;" coolCol="74"
     coolRow="9" coolLength="5">Suppr</div>
   
   <div coolType="prompt" style="left: 0; top: 36%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="10" coolLength="3">Sel</div>
   
   <div coolType="literal" style="left: 5%; top: 36%; width: 7.5%; height: 4%;"
     coolCol="5" coolRow="10" coolLength="6">Number</div>
   
   <div coolType="literal"
     style="left: 18.75%; top: 36%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="10" coolLength="10">Payee Name</div>
   
   <div coolType="literal"
     style="left: 56.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="46"
     coolRow="10" coolLength="3">Typ</div>
   
   <div coolType="literal"
     style="left: 62.5%; top: 36%; width: 3.75%; height: 4%;" coolCol="51"
     coolRow="10" coolLength="3">Typ</div>
   
   <div coolType="literal" style="left: 70%; top: 36%; width: 5%; height: 4%;"
     coolCol="57" coolRow="10" coolLength="4">Date</div>
   
   <div coolType="literal"
     style="left: 81.25%; top: 36%; width: 5%; height: 4%;" coolCol="66"
     coolRow="10" coolLength="4">Date</div>
   
   <div coolType="literal"
     style="left: 91.25%; top: 36%; width: 7.5%; height: 4%;" coolCol="74"
     coolRow="10" coolLength="6">Worker</div>
   <input type="text" coolType="field" name="field_11_2"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 40%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="11" coolLength="10" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 40%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="11" coolLength="29" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 40%; width: 10%; height: 4%;" coolCol="55"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 40%; width: 10%; height: 4%;" coolCol="64"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 40%; width: 10%; height: 4%;" coolCol="73"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 44%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="12" coolLength="10"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 44%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="12" coolLength="29"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 44%; width: 10%; height: 4%;" coolCol="55"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 44%; width: 10%; height: 4%;" coolCol="64"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 44%; width: 10%; height: 4%;" coolCol="73"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 48%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="13" coolLength="10"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 48%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="13" coolLength="29"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 48%; width: 10%; height: 4%;" coolCol="55"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 48%; width: 10%; height: 4%;" coolCol="64"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 48%; width: 10%; height: 4%;" coolCol="73"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 52%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="14" coolLength="10"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 52%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="14" coolLength="29"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 52%; width: 10%; height: 4%;" coolCol="55"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 52%; width: 10%; height: 4%;" coolCol="64"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 52%; width: 10%; height: 4%;" coolCol="73"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 56%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="15" coolLength="10"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 56%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="15" coolLength="29"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 56%; width: 10%; height: 4%;" coolCol="55"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 56%; width: 10%; height: 4%;" coolCol="64"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 56%; width: 10%; height: 4%;" coolCol="73"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 60%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="16" coolLength="10"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 60%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="16" coolLength="29"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 60%; width: 10%; height: 4%;" coolCol="55"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 60%; width: 10%; height: 4%;" coolCol="64"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 60%; width: 10%; height: 4%;" coolCol="73"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 64%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="17" coolLength="10"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 64%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="17" coolLength="29"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 64%; width: 10%; height: 4%;" coolCol="55"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 64%; width: 10%; height: 4%;" coolCol="64"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 64%; width: 10%; height: 4%;" coolCol="73"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 68%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="18" coolLength="10"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 68%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="18" coolLength="29"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 68%; width: 10%; height: 4%;" coolCol="55"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 68%; width: 10%; height: 4%;" coolCol="64"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 68%; width: 10%; height: 4%;" coolCol="73"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 72%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="19" coolLength="10"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 72%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="19" coolLength="29"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 72%; width: 10%; height: 4%;" coolCol="55"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 72%; width: 10%; height: 4%;" coolCol="64"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 72%; width: 10%; height: 4%;" coolCol="73"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 76%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="20" coolLength="10"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailPayee.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 76%; width: 36.25%; height: 4%;" coolCol="16"
     coolRow="20" coolLength="29"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailPayee.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDisbSuppressionStatusHistory.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailCollectionType.code}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 67.5%; top: 76%; width: 10%; height: 4%;" coolCol="55"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDisbSuppressionStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 76%; width: 10%; height: 4%;" coolCol="64"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDisbSuppressionStatusHistory.discontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 76%; width: 10%; height: 4%;" coolCol="73"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDisbSuppressionStatusHistory.createdBy}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="71" coolRow="21" coolLength="9"
     style="left: 87.5%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 96.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="77">PF KEY: 1 Help  2 Display  3 Exit  4 List  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 46.25%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="37">12 Signoff  15 PSUP  16 CSUP  17 LDSP</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="PSUP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=PSUP</a>
   <a coolType="action" coolCommand="CSUP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=CSUP</a>
   <a coolType="action" coolCommand="LDSP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=LDSP</a>
   </div>