<!--Name: FN_MCOL_MANUAL_DISTRIBUTION, ID: 372287852, model: 746-->
<div coolContent coolName="FN_MCOL_MANUAL_DISTRIBUTION" coolType="SCREEN"
  (coolInit)="scrollSize = 85; pageSize = 4">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 0; width: 58.75%; height: 4%;" coolCol="18"
     coolRow="1" coolLength="47">CSE - Manual Distribution of Collections - MCOL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="literal"
     style="left: 32.5%; top: 4%; width: 31.25%; height: 4%;" coolCol="27"
     coolRow="2" coolLength="25" coolColor="red">POTENTIAL FTI INFORMATION</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 0; top: 12%; width: 10%; height: 4%;"
     coolCol="1" coolRow="4" coolLength="8" coolColor="white">AP/Payor</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="4" coolLength="10">{{in.obligorCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 12%; width: 41.25%; height: 4%;" coolCol="22"
     coolRow="4" coolLength="33">{{in.obligorCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 68.75%; top: 12%; width: 11.25%; height: 4%;" coolCol="56"
     coolRow="4" coolLength="9">Coll Type</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="68"
     coolRow="4" coolLength="10">{{in.collectionType.code}}</div>
   
   <div coolType="prompt" style="left: 0; top: 16%; width: 10%; height: 4%;"
     coolCol="1" coolRow="5" coolLength="8">Coll Amt</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 12.5%; top: 16%; width: 11.25%; height: 4%;" coolCol="11"
     coolRow="5" coolLength="9">{{in.cashReceiptDetail.collectionAmount|coolNumber:'#####0.00;#':0}}</div>
   
   <div coolType="prompt" style="left: 25%; top: 16%; width: 8.75%; height: 4%;"
     coolCol="21" coolRow="5" coolLength="7">Coll Dt</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 35%; top: 16%; width: 10%; height: 4%;" coolCol="29"
     coolRow="5" coolLength="8">{{in.cashReceiptDetail.collectionDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 16%; width: 7.5%; height: 4%;" coolCol="38"
     coolRow="5" coolLength="6">Source</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 55%; top: 16%; width: 12.5%; height: 4%;" coolCol="45"
     coolRow="5" coolLength="10">{{in.cashReceiptSourceType.code}}</div>
   
   <div coolType="prompt"
     style="left: 68.75%; top: 16%; width: 10%; height: 4%;" coolCol="56"
     coolRow="5" coolLength="8">Amt Dist</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 86.25%; top: 16%; width: 10%; height: 4%;" coolCol="70"
     coolRow="5" coolLength="8">{{in.cashReceiptDetail.distributedAmount|coolNumber:'####0.00;#':0}}</div>
   
   <div coolType="prompt" style="left: 0; top: 20%; width: 11.25%; height: 4%;"
     coolCol="1" coolRow="6" coolLength="9">CR Ct Ord</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 20%; width: 21.25%; height: 4%;" coolCol="11"
     coolRow="6" coolLength="17">{{in.cashReceiptDetail.courtOrderNumber}}</div>
   
   <div coolType="literal"
     style="left: 35%; top: 20%; width: 11.25%; height: 4%;" coolCol="29"
     coolRow="6" coolLength="9">Rcpt/Ref#</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 20%; width: 20%; height: 4%;" coolCol="39"
     coolRow="6" coolLength="16">{{in.crRefNumber.crdCrCombo}}</div>
   
   <div coolType="prompt"
     style="left: 68.75%; top: 20%; width: 15%; height: 4%;" coolCol="56"
     coolRow="6" coolLength="12">Amt Refunded</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 86.25%; top: 20%; width: 10%; height: 4%;" coolCol="70"
     coolRow="6" coolLength="8">{{in.cashReceiptDetail.refundedAmount|coolNumber:'####0.00;#':0}}</div>
   
   <div coolType="prompt" style="left: 0; top: 24%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="7" coolLength="3">Pgm</div>
   <input type="text" coolType="field" name="field_7_5"
     [(ngModel)]="in.pgm.text3" [coolVideo]="out.pgm.screenField?.text3"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3" style="left: 5%; top: 24%; width: 3.75%; height: 4%;"
     coolCol="5" coolRow="7" coolLength="3">
   <input type="text" coolType="field" name="field_7_9"
     [(ngModel)]="in.promptPgm.selectChar"
     [coolVideo]="out.promptPgm.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 10%; top: 24%; width: 1.25%; height: 4%;"
     coolCol="9" coolRow="7" coolLength="1">
   
   <div coolType="prompt"
     style="left: 13.75%; top: 24%; width: 11.25%; height: 4%;" coolCol="12"
     coolRow="7" coolLength="9">Dsply All</div>
   <input type="text" coolType="field" name="field_7_22"
     [(ngModel)]="in.displayAllObligInd.flag"
     [coolVideo]="out.displayAllObligInd.screenField?.flag" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 26.25%; top: 24%; width: 1.25%; height: 4%;" coolCol="22"
     coolRow="7" coolLength="1">
   
   <div coolType="literal"
     style="left: 28.75%; top: 24%; width: 6.25%; height: 4%;" coolCol="24"
     coolRow="7" coolLength="5">(Y/N)</div>
   <input type="text" coolType="field" name="field_7_31"
     [(ngModel)]="in.screenOwedAmounts.errorInformationLine"
     [coolVideo]="out.screenOwedAmounts.screenField?.errorInformationLine"
     coolAutotab coolReadonly coolColor="red" coolIntensity="dark" coolUpper
     [attr.maxlength]="24"
     style="left: 37.5%; top: 24%; width: 30%; height: 4%;" coolCol="31"
     coolRow="7" coolLength="24">
   
   <div coolType="prompt"
     style="left: 68.75%; top: 24%; width: 12.5%; height: 4%;" coolCol="56"
     coolRow="7" coolLength="10">Amt Undist</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 86.25%; top: 24%; width: 10%; height: 4%;" coolCol="70"
     coolRow="7" coolLength="8">{{in.totalCollToDist.totalCurrency|coolNumber:'####0.00;#':0}}</div>
   
   <div coolType="literal" style="left: 0; top: 28%; width: 10%; height: 4%;"
     coolCol="1" coolRow="8" coolLength="8">Ct Order</div>
   <input type="text" coolType="field" name="field_8_11"
     [(ngModel)]="in.filterLegalAction.standardNumber"
     [coolVideo]="out.filterLegalAction.screenField?.standardNumber" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="12"
     style="left: 12.5%; top: 28%; width: 15%; height: 4%;" coolCol="11"
     coolRow="8" coolLength="12">
   <input type="text" coolType="field" name="field_8_24"
     [(ngModel)]="in.promptLegalAction.text1"
     [coolVideo]="out.promptLegalAction.screenField?.text1" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 28.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="24"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt"
     style="left: 31.25%; top: 28%; width: 10%; height: 4%;" coolCol="26"
     coolRow="8" coolLength="8">Due From</div>
   <input type="text" coolType="field" name="field_8_35"
     [(ngModel)]="in.fromDateFilter.dueDt"
     [coolVideo]="out.fromDateFilter.screenField?.dueDt" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 42.5%; top: 28%; width: 10%; height: 4%;"
     coolCol="35" coolRow="8" coolLength="8">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 28%; width: 2.5%; height: 4%;" coolCol="44"
     coolRow="8" coolLength="2">to</div>
   <input type="text" coolType="field" name="field_8_47"
     [(ngModel)]="in.toDateFilter.dueDt"
     [coolVideo]="out.toDateFilter.screenField?.dueDt" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 57.5%; top: 28%; width: 10%; height: 4%;"
     coolCol="47" coolRow="8" coolLength="8">
   
   <div coolType="prompt"
     style="left: 68.75%; top: 28%; width: 8.75%; height: 4%;" coolCol="56"
     coolRow="8" coolLength="7">Ob Type</div>
   <input type="text" coolType="field" name="field_8_64"
     [(ngModel)]="in.filterObligationType.code"
     [coolVideo]="out.filterObligationType.screenField?.code" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="7"
     style="left: 78.75%; top: 28%; width: 12.5%; height: 4%;" coolCol="64"
     coolRow="8" coolLength="10">
   <input type="text" coolType="field" name="field_8_75"
     [(ngModel)]="in.promptObligationType.text1"
     [coolVideo]="out.promptObligationType.screenField?.text1" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 92.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 32%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="3">Sel</div>
   
   <div coolType="literal"
     style="left: 6.25%; top: 32%; width: 7.5%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="6">OB Typ</div>
   
   <div coolType="prompt"
     style="left: 16.25%; top: 32%; width: 2.5%; height: 4%;" coolCol="14"
     coolRow="9" coolLength="2">ID</div>
   
   <div coolType="prompt" style="left: 20%; top: 32%; width: 6.25%; height: 4%;"
     coolCol="17" coolRow="9" coolLength="5">Order</div>
   
   <div coolType="prompt"
     style="left: 36.25%; top: 32%; width: 7.5%; height: 4%;" coolCol="30"
     coolRow="9" coolLength="6">Due Dt</div>
   
   <div coolType="prompt"
     style="left: 47.5%; top: 32%; width: 8.75%; height: 4%;" coolCol="39"
     coolRow="9" coolLength="7">Amt Due</div>
   
   <div coolType="prompt"
     style="left: 58.75%; top: 32%; width: 10%; height: 4%;" coolCol="48"
     coolRow="9" coolLength="8">Bal Owed</div>
   
   <div coolType="prompt" style="left: 70%; top: 32%; width: 10%; height: 4%;"
     coolCol="57" coolRow="9" coolLength="8">Int Owed</div>
   
   <div coolType="prompt" style="left: 82.5%; top: 32%; width: 10%; height: 4%;"
     coolCol="67" coolRow="9" coolLength="8">Dist Amt</div>
   
   <div coolType="prompt"
     style="left: 93.75%; top: 32%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="9" coolLength="3">B/I</div>
   
   <div coolType="prompt" style="left: 5%; top: 36%; width: 20%; height: 4%;"
     coolCol="5" coolRow="10" coolLength="16">Supported Person</div>
   
   <div coolType="literal"
     style="left: 61.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="50"
     coolRow="10" coolLength="10">CV Strt Dt</div>
   
   <div coolType="literal"
     style="left: 75%; top: 36%; width: 11.25%; height: 4%;" coolCol="61"
     coolRow="10" coolLength="9">CV End Dt</div>
   
   <div coolType="prompt"
     style="left: 88.75%; top: 36%; width: 3.75%; height: 4%;" coolCol="72"
     coolRow="10" coolLength="3">Ord</div>
   
   <div coolType="prompt"
     style="left: 93.75%; top: 36%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="10" coolLength="3">Pgm</div>
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.group, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 40%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="11" coolLength="7" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.obligationType.code}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 15%; top: 40%; width: 3.75%; height: 4%;" coolCol="13"
     coolRow="11" coolLength="3" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.obligation.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 20%; top: 40%; width: 15%; height: 4%;" coolCol="17"
     coolRow="11" coolLength="12" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 40%; width: 7.5%; height: 4%;" coolCol="30"
     coolRow="11" coolLength="6" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.debtDetail.dueDt|coolDate:'MMddyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 45%; top: 40%; width: 11.25%; height: 4%;" coolCol="37"
     coolRow="11" coolLength="9" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.debt.amount|coolNumber:'####0.00 ;####0.00-':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 57.5%; top: 40%; width: 11.25%; height: 4%;" coolCol="47"
     coolRow="11" coolLength="9" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.debtDetail.balanceDueAmt|coolNumber:'####0.00 ;####0.00-':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 70%; top: 40%; width: 10%; height: 4%;" coolCol="57"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.debtDetail.interestBalanceDueAmt|coolNumber:'###0.00 ;###0.00-':1}}</div>
   <input type="text" coolType="field" name="field_11_66"
     [(ngModel)]="ref(in.group, pageOffset, 'collection.amount').value"
     [coolVideo]="out.group?.[pageOffset]?.collection.screenField?.amount"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="####0.00 ;####0.00-" coolBlankWhenZero [attr.maxlength]="9"
     style="left: 81.25%; top: 40%; width: 11.25%; height: 4%;" coolCol="66"
     coolRow="11" coolLength="9" [hidden]="pageOffset >= length(in.group)">
   <input type="text" coolType="field" name="field_11_76"
     [(ngModel)]="ref(in.group, pageOffset, 'applyToCode.text1').value"
     [coolVideo]="out.group?.[pageOffset]?.applyToCode.screenField?.text1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 93.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 96.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.obligation.primarySecondaryCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 44%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="12" coolLength="10" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.suppPrsnCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 44%; width: 41.25%; height: 4%;" coolCol="16"
     coolRow="12" coolLength="33" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.suppPrsnCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 44%; width: 10%; height: 4%;" coolCol="52"
     coolRow="12" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.debtDetail.coveredPrdStartDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 44%; width: 10%; height: 4%;" coolCol="62"
     coolRow="12" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.debtDetail.coveredPrdEndDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 44%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="12" coolLength="1" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.obligation.orderTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 44%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="12" coolLength="3" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.pgm.text3}}</div>
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 48%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="13" coolLength="7" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.obligationType.code}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 15%; top: 48%; width: 3.75%; height: 4%;" coolCol="13"
     coolRow="13" coolLength="3" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.obligation.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 20%; top: 48%; width: 15%; height: 4%;" coolCol="17"
     coolRow="13" coolLength="12" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 48%; width: 7.5%; height: 4%;" coolCol="30"
     coolRow="13" coolLength="6" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.debtDetail.dueDt|coolDate:'MMddyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 45%; top: 48%; width: 11.25%; height: 4%;" coolCol="37"
     coolRow="13" coolLength="9" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.debt.amount|coolNumber:'####0.00 ;####0.00-':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 57.5%; top: 48%; width: 11.25%; height: 4%;" coolCol="47"
     coolRow="13" coolLength="9" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.debtDetail.balanceDueAmt|coolNumber:'####0.00 ;####0.00-':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 70%; top: 48%; width: 10%; height: 4%;" coolCol="57"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.debtDetail.interestBalanceDueAmt|coolNumber:'###0.00
      ;###0.00-':1}}</div>
   <input type="text" coolType="field" name="field_13_66"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'collection.amount').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.collection.screenField?.amount"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="####0.00 ;####0.00-" coolBlankWhenZero [attr.maxlength]="9"
     style="left: 81.25%; top: 48%; width: 11.25%; height: 4%;" coolCol="66"
     coolRow="13" coolLength="9" [hidden]="pageOffset + 1 >= length(in.group)">
   <input type="text" coolType="field" name="field_13_76"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'applyToCode.text1').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.applyToCode.screenField?.text1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 93.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 96.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.obligation.primarySecondaryCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 52%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="14" coolLength="10" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.suppPrsnCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 52%; width: 41.25%; height: 4%;" coolCol="16"
     coolRow="14" coolLength="33" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.suppPrsnCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 52%; width: 10%; height: 4%;" coolCol="52"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.debtDetail.coveredPrdStartDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 52%; width: 10%; height: 4%;" coolCol="62"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.debtDetail.coveredPrdEndDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 52%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.obligation.orderTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 52%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="14" coolLength="3" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.pgm.text3}}</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 56%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="15" coolLength="7" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.obligationType.code}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 15%; top: 56%; width: 3.75%; height: 4%;" coolCol="13"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.obligation.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 20%; top: 56%; width: 15%; height: 4%;" coolCol="17"
     coolRow="15" coolLength="12" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 56%; width: 7.5%; height: 4%;" coolCol="30"
     coolRow="15" coolLength="6" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.debtDetail.dueDt|coolDate:'MMddyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 45%; top: 56%; width: 11.25%; height: 4%;" coolCol="37"
     coolRow="15" coolLength="9" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.debt.amount|coolNumber:'####0.00 ;####0.00-':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 57.5%; top: 56%; width: 11.25%; height: 4%;" coolCol="47"
     coolRow="15" coolLength="9" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.debtDetail.balanceDueAmt|coolNumber:'####0.00 ;####0.00-':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 70%; top: 56%; width: 10%; height: 4%;" coolCol="57"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.debtDetail.interestBalanceDueAmt|coolNumber:'###0.00
      ;###0.00-':1}}</div>
   <input type="text" coolType="field" name="field_15_66"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'collection.amount').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.collection.screenField?.amount"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="####0.00 ;####0.00-" coolBlankWhenZero [attr.maxlength]="9"
     style="left: 81.25%; top: 56%; width: 11.25%; height: 4%;" coolCol="66"
     coolRow="15" coolLength="9" [hidden]="pageOffset + 2 >= length(in.group)">
   <input type="text" coolType="field" name="field_15_76"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'applyToCode.text1').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.applyToCode.screenField?.text1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 93.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 96.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.obligation.primarySecondaryCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 60%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="16" coolLength="10" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.suppPrsnCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 60%; width: 41.25%; height: 4%;" coolCol="16"
     coolRow="16" coolLength="33" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.suppPrsnCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 60%; width: 10%; height: 4%;" coolCol="52"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.debtDetail.coveredPrdStartDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 60%; width: 10%; height: 4%;" coolCol="62"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.debtDetail.coveredPrdEndDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 60%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.obligation.orderTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 60%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="16" coolLength="3" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.pgm.text3}}</div>
   <input type="text" coolType="field" name="field_17_3"
     [(ngModel)]="ref(in.group, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 64%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="17" coolLength="7" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.obligationType.code}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 15%; top: 64%; width: 3.75%; height: 4%;" coolCol="13"
     coolRow="17" coolLength="3" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.obligation.systemGeneratedIdentifier|coolNumber:'##0;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 20%; top: 64%; width: 15%; height: 4%;" coolCol="17"
     coolRow="17" coolLength="12" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 64%; width: 7.5%; height: 4%;" coolCol="30"
     coolRow="17" coolLength="6" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.debtDetail.dueDt|coolDate:'MMddyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 45%; top: 64%; width: 11.25%; height: 4%;" coolCol="37"
     coolRow="17" coolLength="9" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.debt.amount|coolNumber:'####0.00 ;####0.00-':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 57.5%; top: 64%; width: 11.25%; height: 4%;" coolCol="47"
     coolRow="17" coolLength="9" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.debtDetail.balanceDueAmt|coolNumber:'####0.00 ;####0.00-':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 70%; top: 64%; width: 10%; height: 4%;" coolCol="57"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.debtDetail.interestBalanceDueAmt|coolNumber:'###0.00
      ;###0.00-':1}}</div>
   <input type="text" coolType="field" name="field_17_66"
     [(ngModel)]="ref(in.group, pageOffset + 3, 'collection.amount').value"
     [coolVideo]="out.group?.[pageOffset + 3]?.collection.screenField?.amount"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="####0.00 ;####0.00-" coolBlankWhenZero [attr.maxlength]="9"
     style="left: 81.25%; top: 64%; width: 11.25%; height: 4%;" coolCol="66"
     coolRow="17" coolLength="9" [hidden]="pageOffset + 3 >= length(in.group)">
   <input type="text" coolType="field" name="field_17_76"
     [(ngModel)]="ref(in.group, pageOffset + 3, 'applyToCode.text1').value"
     [coolVideo]="out.group?.[pageOffset + 3]?.applyToCode.screenField?.text1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 93.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 96.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.obligation.primarySecondaryCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 68%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="18" coolLength="10" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.suppPrsnCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 68%; width: 41.25%; height: 4%;" coolCol="16"
     coolRow="18" coolLength="33" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.suppPrsnCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 68%; width: 10%; height: 4%;" coolCol="52"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.debtDetail.coveredPrdStartDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 68%; width: 10%; height: 4%;" coolCol="62"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.debtDetail.coveredPrdEndDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 68%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.obligation.orderTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 68%; width: 3.75%; height: 4%;" coolCol="76"
     coolRow="18" coolLength="3" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.pgm.text3}}</div>
   
   <div coolType="prompt" style="left: 0; top: 72%; width: 15%; height: 4%;"
     coolCol="1" coolRow="19" coolLength="12">Reason Text:</div>
   <textarea coolType="field" name="field_19_14"
     [(ngModel)]="in.collection.manualDistributionReasonText"
     [coolVideo]="out.collection.screenField?.manualDistributionReasonText"
     coolAutotab coolColor="green" coolHighlight="underscore"
     [attr.maxlength]="240"
     style="left: 16.25%; top: 72%; width: 83.75%; height: 8%;" coolCol="14"
     coolRow="19" coolLength="67" coolHeight="2"></textarea>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="71" coolRow="21" coolLength="9"
     style="left: 87.5%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 83.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="67">PF Key: 1 Help  2 Display  3 Exit  4 List  7 Prev  8 Next  9 Return</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 90%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="72">11 Clear  12 Signoff  15 Distribute  16 MDIS  17 No Manual Dist  18 DEBT</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="RELEASE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=RELEASE</a>
   <a coolType="action" coolCommand="MDIS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=MDIS</a>
   <a coolType="action" coolCommand="NOMANDIS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=NOMANDIS</a>
   <a coolType="action" coolCommand="DEBT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=DEBT</a>
   </div>