<!--Name: FN_OACC_MTN_ACCRUING_OBLIGATION, ID: 372084040, model: 746-->
<div coolContent coolName="FN_OACC_MTN_ACCRUING_OBLIGATION" coolType="SCREEN"
  (coolInit)="scrollSize = 20; pageSize = 3">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 25%; top: 0; width: 51.25%; height: 4%;"
     coolCol="21" coolRow="1" coolLength="41">CSE - Maintain Accruing Obligation - OACC</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 8%; width: 10%; height: 4%;"
     coolCol="2" coolRow="3" coolLength="8">AP/Payor</div>
   <input type="text" coolType="field" name="field_3_16"
     [(ngModel)]="in.obligorCsePerson.number"
     [coolVideo]="out.obligorCsePerson.screenField?.number" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 8%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="3" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 35%; top: 8%; width: 37.5%; height: 4%;" coolCol="29"
     coolRow="3" coolLength="30">{{in.obligorCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 8%; width: 12.5%; height: 4%;" coolCol="60"
     coolRow="3" coolLength="10">Created By</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 8%; width: 10%; height: 4%;" coolCol="73"
     coolRow="3" coolLength="8">{{in.obligorObligation.createdBy}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 16.25%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="13">Joint/Several</div>
   <input type="text" coolType="field" name="field_4_16"
     [(ngModel)]="in.concurrentObligorCsePerson.number"
     [coolVideo]="out.concurrentObligorCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 18.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="4" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 35%; top: 12%; width: 37.5%; height: 4%;" coolCol="29"
     coolRow="4" coolLength="30">{{in.concurrentObligorCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 12%; width: 15%; height: 4%;" coolCol="60"
     coolRow="4" coolLength="12" coolColor="white">Created Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 12%; width: 10%; height: 4%;" coolCol="73"
     coolRow="4" coolLength="8">{{in.obligorObligation.createdTmst|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 16%; width: 15%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="12">Alt Bill Loc</div>
   <input type="text" coolType="field" name="field_5_16"
     [(ngModel)]="in.alternate.number"
     [coolVideo]="out.alternate.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 18.75%; top: 16%; width: 12.5%; height: 4%;" coolCol="16"
     coolRow="5" coolLength="10">
   <input type="text" coolType="field" name="field_5_27"
     [(ngModel)]="in.altAddrPrompt.text1"
     [coolVideo]="out.altAddrPrompt.screenField?.text1" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 32.5%; top: 16%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="5" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 35%; top: 16%; width: 37.5%; height: 4%;" coolCol="29"
     coolRow="5" coolLength="30">{{in.alternate.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 16%; width: 12.5%; height: 4%;" coolCol="60"
     coolRow="5" coolLength="10">Updated By</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 16%; width: 10%; height: 4%;" coolCol="73"
     coolRow="5" coolLength="8">{{in.obligorObligation.lastUpdatedBy}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="10">Interstate</div>
   <input type="text" coolType="field" name="field_6_13"
     [(ngModel)]="in.obligorObligation.orderTypeCode"
     [coolVideo]="out.obligation.screenField?.orderTypeCode" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['K','I']"
     style="left: 15%; top: 20%; width: 1.25%; height: 4%;" coolCol="13"
     coolRow="6" coolLength="1">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 20%; width: 15%; height: 4%;" coolCol="16"
     coolRow="6" coolLength="12">Int St.Case#</div>
   <input type="text" coolType="field" name="field_6_29"
     [(ngModel)]="in.interstateRequest.otherStateCaseId"
     [coolVideo]="out.interstateRequest.screenField?.otherStateCaseId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 35%; top: 20%; width: 18.75%; height: 4%;" coolCol="29"
     coolRow="6" coolLength="15">
   
   <div coolType="prompt"
     style="left: 73.75%; top: 20%; width: 15%; height: 4%;" coolCol="60"
     coolRow="6" coolLength="12" coolColor="white">Last Updated</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 20%; width: 10%; height: 4%;" coolCol="73"
     coolRow="6" coolLength="8">{{in.obligorObligation.lastUpdateTmst|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 24%; width: 10%; height: 4%;"
     coolCol="2" coolRow="7" coolLength="8">Other St</div>
   <input type="text" coolType="field" name="field_7_13"
     [(ngModel)]="in.obligorObligation.otherStateAbbr"
     [coolVideo]="out.obligation.screenField?.otherStateAbbr" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 15%; top: 24%; width: 2.5%; height: 4%;" coolCol="13"
     coolRow="7" coolLength="2">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 24%; width: 8.75%; height: 4%;" coolCol="16"
     coolRow="7" coolLength="7">Country</div>
   <input type="text" coolType="field" name="field_7_24"
     [(ngModel)]="in.interstateRequest.country"
     [coolVideo]="out.interstateRequest.screenField?.country" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 28.75%; top: 24%; width: 2.5%; height: 4%;" coolCol="24"
     coolRow="7" coolLength="2">
   
   <div coolType="prompt"
     style="left: 32.5%; top: 24%; width: 16.25%; height: 4%;" coolCol="27"
     coolRow="7" coolLength="13">Tribal Agency</div>
   <input type="text" coolType="field" name="field_7_41"
     [(ngModel)]="in.interstateRequest.tribalAgency"
     [coolVideo]="out.interstateRequest.screenField?.tribalAgency" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 50%; top: 24%; width: 5%; height: 4%;" coolCol="41"
     coolRow="7" coolLength="4">
   <input type="text" coolType="field" name="field_7_47"
     [(ngModel)]="in.country.description"
     [coolVideo]="out.country.screenField?.description" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="30"
     style="left: 57.5%; top: 24%; width: 37.5%; height: 4%;" coolCol="47"
     coolRow="7" coolLength="30">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 28%; width: 16.25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="13">Court Order #</div>
   <input type="text" coolType="field" name="field_8_16"
     [(ngModel)]="in.legalAction.standardNumber"
     [coolVideo]="out.legalAction.screenField?.standardNumber" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="12"
     style="left: 18.75%; top: 28%; width: 15%; height: 4%;" coolCol="16"
     coolRow="8" coolLength="12">
   
   <div coolType="prompt"
     style="left: 37.5%; top: 28%; width: 8.75%; height: 4%;" coolCol="31"
     coolRow="8" coolLength="7">Ob Type</div>
   <input type="text" coolType="field" name="field_8_39"
     [(ngModel)]="in.obligationType.code"
     [coolVideo]="out.obligationType.screenField?.code" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="7"
     style="left: 47.5%; top: 28%; width: 8.75%; height: 4%;" coolCol="39"
     coolRow="8" coolLength="7">
   
   <div coolType="prompt"
     style="left: 71.25%; top: 28%; width: 6.25%; height: 4%;" coolCol="58"
     coolRow="8" coolLength="5">Ob Id</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 95%; top: 28%; width: 3.75%; height: 4%;" coolCol="77"
     coolRow="8" coolLength="3">{{in.obligorObligation.systemGeneratedIdentifier|coolNumber:'000;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 36%; width: 11.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="9">Frequency</div>
   <input type="text" coolType="field" name="field_10_16"
     [(ngModel)]="in.obligationPaymentSchedule.frequencyCode"
     [coolVideo]="out.obligationPaymentSchedule.screenField?.frequencyCode"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['BM','M','W','BW','SM']"
     style="left: 18.75%; top: 36%; width: 2.5%; height: 4%;" coolCol="16"
     coolRow="10" coolLength="2">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 36%; width: 16.25%; height: 4%;" coolCol="19"
     coolRow="10" coolLength="13">{{in.frequencyWorkSet.frequencyDescription}}</div>
   
   <div coolType="prompt" style="left: 48.75%; top: 36%; width: 5%; height: 4%;"
     coolCol="40" coolRow="10" coolLength="4">DOM1</div>
   
   <div coolType="prompt" style="left: 55%; top: 36%; width: 5%; height: 4%;"
     coolCol="45" coolRow="10" coolLength="4">DOM2</div>
   
   <div coolType="prompt"
     style="left: 61.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="50"
     coolRow="10" coolLength="3">DOW</div>
   
   <div coolType="prompt"
     style="left: 71.25%; top: 36%; width: 8.75%; height: 4%;" coolCol="58"
     coolRow="10" coolLength="7">P/S Ind</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="10" coolLength="1">{{in.obligorObligation.primarySecondaryCode}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 40%; width: 30%; height: 4%;"
     coolCol="2" coolRow="11" coolLength="24">History Obligation &lt;Y/N&gt;</div>
   <input type="text" coolType="field" name="field_11_28"
     [(ngModel)]="in.historyIndicator.flag"
     [coolVideo]="out.historyIndicator.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 33.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_41"
     [(ngModel)]="in.obligationPaymentSchedule.dayOfMonth1"
     [coolVideo]="out.obligationPaymentSchedule.screenField?.dayOfMonth1"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="#0;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 50%; top: 40%; width: 2.5%; height: 4%;" coolCol="41"
     coolRow="11" coolLength="2">
   <input type="text" coolType="field" name="field_11_46"
     [(ngModel)]="in.obligationPaymentSchedule.dayOfMonth2"
     [coolVideo]="out.obligationPaymentSchedule.screenField?.dayOfMonth2"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="#0;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 56.25%; top: 40%; width: 2.5%; height: 4%;" coolCol="46"
     coolRow="11" coolLength="2">
   <input type="text" coolType="field" name="field_11_51"
     [(ngModel)]="in.obligationPaymentSchedule.dayOfWeek"
     [coolVideo]="out.obligationPaymentSchedule.screenField?.dayOfWeek"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="0;#" coolBlankWhenZero [attr.maxlength]="1"
     style="left: 62.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="51"
     coolRow="11" coolLength="1">
   
   <div coolType="prompt"
     style="left: 71.25%; top: 40%; width: 20%; height: 4%;" coolCol="58"
     coolRow="11" coolLength="16">Suspend Interest</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="11" coolLength="1">{{in.interestSuspendedInd.flag}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 44%; width: 22.5%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="18">Accrual Start Date</div>
   <input type="text" coolType="field" name="field_12_22"
     [(ngModel)]="in.obligationPaymentSchedule.startDt"
     [coolVideo]="out.obligationPaymentSchedule.screenField?.startDt"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 26.25%; top: 44%; width: 10%; height: 4%;" coolCol="22"
     coolRow="12" coolLength="8">
   
   <div coolType="prompt"
     style="left: 71.25%; top: 44%; width: 23.75%; height: 4%;" coolCol="58"
     coolRow="12" coolLength="19">Manually Distribute</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="12" coolLength="1">{{in.manualDistributionInd.flag}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 48%; width: 20%; height: 4%;"
     coolCol="2" coolRow="13" coolLength="16">Discontinue Date</div>
   <input type="text" coolType="field" name="field_13_22"
     [(ngModel)]="in.discontinueDate.date"
     [coolVideo]="out.discontinueDate.screenField?.date" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 26.25%; top: 48%; width: 10%; height: 4%;" coolCol="22"
     coolRow="13" coolLength="8">
   
   <div coolType="prompt"
     style="left: 37.5%; top: 48%; width: 17.5%; height: 4%;" coolCol="31"
     coolRow="13" coolLength="14" coolColor="white">Accrual Amount</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 56.25%; top: 48%; width: 13.75%; height: 4%;" coolCol="46"
     coolRow="13" coolLength="11">{{in.accrualAmount.totalCurrency|coolNumber:'######0.00 ;######0.00-':1}}</div>
   
   <div coolType="prompt"
     style="left: 71.25%; top: 48%; width: 20%; height: 4%;" coolCol="58"
     coolRow="13" coolLength="16">Coll Prot Exists</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="13" coolLength="1">{{in.obCollProtAct.flag}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 52%; width: 5%; height: 4%;"
     coolCol="2" coolRow="14" coolLength="4">Note</div>
   <input type="text" coolType="field" name="field_14_8"
     [(ngModel)]="in.obligorObligation.description"
     [coolVideo]="out.obligation.screenField?.description" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="72"
     style="left: 8.75%; top: 52%; width: 90%; height: 4%;" coolCol="8"
     coolRow="14" coolLength="72">
   
   <div coolType="literal"
     style="left: 55%; top: 56%; width: 6.25%; height: 4%;" coolCol="45"
     coolRow="15" coolLength="5">Birth</div>
   
   <div coolType="literal" style="left: 65%; top: 56%; width: 7.5%; height: 4%;"
     coolCol="53" coolRow="15" coolLength="6">   Obl</div>
   
   <div coolType="literal" style="left: 77.5%; top: 56%; width: 5%; height: 4%;"
     coolCol="63" coolRow="15" coolLength="4">Last</div>
   
   <div coolType="literal" style="left: 85%; top: 56%; width: 5%; height: 4%;"
     coolCol="69" coolRow="15" coolLength="4">Acrl</div>
   
   <div coolType="literal" style="left: 92.5%; top: 56%; width: 5%; height: 4%;"
     coolCol="75" coolRow="15" coolLength="4">Disc</div>
   
   <div coolType="literal" style="left: 0; top: 60%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="16" coolLength="3">Sel</div>
   
   <div coolType="literal"
     style="left: 5%; top: 60%; width: 13.75%; height: 4%;" coolCol="5"
     coolRow="16" coolLength="11">Sup Person#</div>
   
   <div coolType="literal" style="left: 22.5%; top: 60%; width: 5%; height: 4%;"
     coolCol="19" coolRow="16" coolLength="4">Name</div>
   
   <div coolType="literal"
     style="left: 56.25%; top: 60%; width: 5%; height: 4%;" coolCol="46"
     coolRow="16" coolLength="4">Date</div>
   
   <div coolType="literal"
     style="left: 66.25%; top: 60%; width: 7.5%; height: 4%;" coolCol="54"
     coolRow="16" coolLength="6">Amount</div>
   
   <div coolType="literal"
     style="left: 75%; top: 60%; width: 8.75%; height: 4%;" coolCol="61"
     coolRow="16" coolLength="7">Acrl Dt</div>
   
   <div coolType="literal" style="left: 85%; top: 60%; width: 5%; height: 4%;"
     coolCol="69" coolRow="16" coolLength="4">Susp</div>
   
   <div coolType="literal" style="left: 92.5%; top: 60%; width: 5%; height: 4%;"
     coolCol="75" coolRow="16" coolLength="4">Date</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.group, pageOffset, 'sel.selectChar').value"
     [coolVideo]="out.group?.[pageOffset]?.sel.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1" [hidden]="pageOffset >= length(in.group)">
   <input type="text" coolType="field" name="field_18_5"
     [(ngModel)]="ref(in.group, pageOffset, 'supportedCsePerson.number').value"
     [coolVideo]="out.group?.[pageOffset]?.supportedCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 5%; top: 68%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="18" coolLength="10" [hidden]="pageOffset >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 68%; width: 32.5%; height: 4%;" coolCol="16"
     coolRow="18" coolLength="26" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.supportedCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 53.75%; top: 68%; width: 10%; height: 4%;" coolCol="44"
     coolRow="18" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.supportedCsePersonsWorkSet.dob|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 65%; top: 68%; width: 10%; height: 4%;" coolCol="53"
     coolRow="18" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.obligationTransaction.amount|coolNumber:'####0.00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 68%; width: 10%; height: 4%;" coolCol="62"
     coolRow="18" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.accrualInstructions.lastAccrualDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 87.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="18" coolLength="1" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.accrualSuspended.flag}}</div>
   <input type="text" coolType="field" name="field_18_73"
     [(ngModel)]="ref(in.group, pageOffset, 'accrualInstructions.discontinueDt').value"
     [coolVideo]="out.group?.[pageOffset]?.accrualInstructions.screenField?.discontinueDt"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 90%; top: 68%; width: 10%; height: 4%;" coolCol="73"
     coolRow="18" coolLength="8" [hidden]="pageOffset >= length(in.group)">
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'sel.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.sel.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">
   <input type="text" coolType="field" name="field_19_5"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'supportedCsePerson.number').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.supportedCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 5%; top: 72%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="19" coolLength="10" [hidden]="pageOffset + 1 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 72%; width: 32.5%; height: 4%;" coolCol="16"
     coolRow="19" coolLength="26" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.supportedCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 53.75%; top: 72%; width: 10%; height: 4%;" coolCol="44"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.supportedCsePersonsWorkSet.dob|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 65%; top: 72%; width: 10%; height: 4%;" coolCol="53"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.obligationTransaction.amount|coolNumber:'####0.00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 72%; width: 10%; height: 4%;" coolCol="62"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.accrualInstructions.lastAccrualDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 87.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.accrualSuspended.flag}}</div>
   <input type="text" coolType="field" name="field_19_73"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'accrualInstructions.discontinueDt').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.accrualInstructions.screenField?.discontinueDt"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 90%; top: 72%; width: 10%; height: 4%;" coolCol="73"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'sel.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.sel.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">
   <input type="text" coolType="field" name="field_20_5"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'supportedCsePerson.number').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.supportedCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 5%; top: 76%; width: 12.5%; height: 4%;" coolCol="5"
     coolRow="20" coolLength="10" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 76%; width: 32.5%; height: 4%;" coolCol="16"
     coolRow="20" coolLength="26" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.supportedCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 53.75%; top: 76%; width: 10%; height: 4%;" coolCol="44"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.supportedCsePersonsWorkSet.dob|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 65%; top: 76%; width: 10%; height: 4%;" coolCol="53"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.obligationTransaction.amount|coolNumber:'####0.00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 76%; width: 10%; height: 4%;" coolCol="62"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.accrualInstructions.lastAccrualDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 87.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.accrualSuspended.flag}}</div>
   <input type="text" coolType="field" name="field_20_73"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'accrualInstructions.discontinueDt').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.accrualInstructions.screenField?.discontinueDt"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 90%; top: 76%; width: 10%; height: 4%;" coolCol="73"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 1.25%; top: 80%; width: 77.5%; height: 4%;" coolCol="2"
     coolRow="21" coolLength="62">{{in.protectQuestionLiteral.text80}}</div>
   <input type="text" coolType="field" name="field_21_65"
     [(ngModel)]="in.collProtAnswer.selectChar"
     [coolVideo]="out.collProtAnswer.screenField?.selectChar" coolAutotab
     coolReadonly coolIntensity="dark" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" style="left: 80%; top: 80%; width: 1.25%; height: 4%;"
     coolCol="65" coolRow="21" coolLength="1">
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="71" coolRow="21" coolLength="9"
     style="left: 87.5%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 100%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="80">PF Key: 1 Help 2 Dsp 3 Ext 4 Lst 5 Add 6 Upd 7 Prv 8 Nxt 9 Ret 10 Del 12 Signoff</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 88.75%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="71">15 MDIS 16 INMS 17 CSPM 18 ASUS 19 OPAY 20 OCTO 21 REIP 22 PEPR 23 COLP</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="MDIS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=MDIS</a>
   <a coolType="action" coolCommand="INMS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=INMS</a>
   <a coolType="action" coolCommand="CSPM" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=CSPM</a>
   <a coolType="action" coolCommand="ASUS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=ASUS</a>
   <a coolType="action" coolCommand="OPAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=OPAY</a>
   <a coolType="action" coolCommand="OCTO" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F8">F20=OCTO</a>
   <a coolType="action" coolCommand="REIP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F9">F21=REIP</a>
   <a coolType="action" coolCommand="PEPR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F10">F22=PEPR</a>
   <a coolType="action" coolCommand="COLP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F11">F23=COLP</a>
   </div>