<!--Name: FN_OBRL_LST_MTN_OBLIG_TYPE_RLNS, ID: 371966152, model: 746-->
<div coolContent coolName="FN_OBRL_LST_MTN_OBLIG_TYPE_RLNS" coolType="SCREEN"
  (coolInit)="scrollSize = 100; pageSize = 9">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 0; width: 63.75%; height: 4%;" coolCol="15"
     coolRow="1" coolLength="51">CSE - List/Maintain Obligation Type Relations- OBRL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 7.5%; top: 4%; width: 5%; height: 4%;"
     coolCol="7" coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 3.75%; top: 12%; width: 23.75%; height: 4%;" coolCol="4"
     coolRow="4" coolLength="19">Distribution Policy</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 12%; width: 50%; height: 4%;" coolCol="25"
     coolRow="4" coolLength="40">{{in.passedDistributionPolicy.name}}</div>
   
   <div coolType="literal" style="left: 2.5%; top: 20%; width: 95%; height: 4%;"
     coolCol="3" coolRow="6" coolLength="76">----------------------- Distribution Policy Rule ---------------------------</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 24%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="13">Function Type</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 20%; top: 24%; width: 1.25%; height: 4%;" coolCol="17"
     coolRow="7" coolLength="1">{{in.passedDistributionPolicyRule.debtFunctionType}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 24%; width: 16.25%; height: 4%;" coolCol="19"
     coolRow="7" coolLength="13">{{in.function.text13}}</div>
   
   <div coolType="prompt" style="left: 40%; top: 24%; width: 12.5%; height: 4%;"
     coolCol="33" coolRow="7" coolLength="10">Debt State</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="44"
     coolRow="7" coolLength="1">{{in.passedDistributionPolicyRule.debtState}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 56.25%; top: 24%; width: 12.5%; height: 4%;" coolCol="46"
     coolRow="7" coolLength="10">{{in.debtState.textLine10}}</div>
   
   <div coolType="prompt"
     style="left: 71.25%; top: 24%; width: 10%; height: 4%;" coolCol="58"
     coolRow="7" coolLength="8">Apply To</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 82.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="67"
     coolRow="7" coolLength="1">{{in.passedDistributionPolicyRule.applyTo}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 24%; width: 12.5%; height: 4%;" coolCol="69"
     coolRow="7" coolLength="10">{{in.apply.textLine10}}</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 28%; width: 21.25%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="17">Show Related Only</div>
   <input type="text" coolType="field" name="field_8_21"
     [(ngModel)]="in.related.selectChar"
     [coolVideo]="out.related.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 25%; top: 28%; width: 1.25%; height: 4%;" coolCol="21"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt" style="left: 5%; top: 36%; width: 3.75%; height: 4%;"
     coolCol="5" coolRow="10" coolLength="3">Act</div>
   
   <div coolType="literal"
     style="left: 3.75%; top: 40%; width: 6.25%; height: 4%;" coolCol="4"
     coolRow="11" coolLength="5">S/A/D</div>
   
   <div coolType="prompt" style="left: 12.5%; top: 40%; width: 5%; height: 4%;"
     coolCol="11" coolRow="11" coolLength="4">Code</div>
   
   <div coolType="prompt" style="left: 30%; top: 40%; width: 25%; height: 4%;"
     coolCol="25" coolRow="11" coolLength="20">Obligation Type Name</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 40%; width: 8.75%; height: 4%;" coolCol="62"
     coolRow="11" coolLength="7">Sup Ind</div>
   
   <div coolType="prompt"
     style="left: 87.5%; top: 40%; width: 8.75%; height: 4%;" coolCol="71"
     coolRow="11" coolLength="7">Related</div>
   <input type="text" coolType="field" name="field_12_6"
     [(ngModel)]="ref(in.import1, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="12" coolLength="10" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 44%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="12" coolLength="37" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 44%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="12" coolLength="1" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="12" coolLength="1" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.related.selectChar}}</div>
   <input type="text" coolType="field" name="field_13_6"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 48%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="13" coolLength="10"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 48%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="13" coolLength="37"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 48%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.related.selectChar}}</div>
   <input type="text" coolType="field" name="field_14_6"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="14" coolLength="10"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 52%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="14" coolLength="37"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 52%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.related.selectChar}}</div>
   <input type="text" coolType="field" name="field_15_6"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="15" coolLength="10"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 56%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="15" coolLength="37"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 56%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.related.selectChar}}</div>
   <input type="text" coolType="field" name="field_16_6"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="16" coolLength="10"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 60%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="16" coolLength="37"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 60%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.related.selectChar}}</div>
   <input type="text" coolType="field" name="field_17_6"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 64%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="17" coolLength="10"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 64%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="17" coolLength="37"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 64%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.related.selectChar}}</div>
   <input type="text" coolType="field" name="field_18_6"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="18" coolLength="10"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 68%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="18" coolLength="37"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 68%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.related.selectChar}}</div>
   <input type="text" coolType="field" name="field_19_6"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 72%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="19" coolLength="10"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 72%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="19" coolLength="37"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 72%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.related.selectChar}}</div>
   <input type="text" coolType="field" name="field_20_6"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 76%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="20" coolLength="10"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 76%; width: 46.25%; height: 4%;" coolCol="25"
     coolRow="20" coolLength="37"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 76%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.obligationType.supportedPersonReqInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.related.selectChar}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="67" coolRow="21" coolLength="9"
     style="left: 82.5%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 86.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="69">PF KEY:  1 Help  2 Display  3 Exit  7 Prev 8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 27.5%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="22">12 Signoff  15 Process</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="PROCESS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=PROCESS</a>
   </div>