<!--Name: FN_OREC_MTN_RECOVERY_OBLIGATION, ID: 372163760, model: 746-->
<div coolContent coolName="FN_OREC_MTN_RECOVERY_OBLIGATION" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 52.5%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="42">CSE - Maintain Recovery Obligations - OREC</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 2.5%; top: 8%; width: 8.75%; height: 4%;"
     coolCol="3" coolRow="3" coolLength="7">Obligor</div>
   <input type="text" coolType="field" name="field_3_17"
     [(ngModel)]="in.obligorCsePerson.number"
     [coolVideo]="out.obligorCsePerson.screenField?.number" coolAutotab
     coolFocus coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 20%; top: 8%; width: 12.5%; height: 4%;" coolCol="17"
     coolRow="3" coolLength="10">
   <input type="text" coolType="field" name="field_3_28"
     [(ngModel)]="in.obligorPrompt.selectChar"
     [coolVideo]="out.obligorPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 33.75%; top: 8%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="3" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 8%; width: 35%; height: 4%;" coolCol="30"
     coolRow="3" coolLength="28">{{in.obligorCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 8%; width: 12.5%; height: 4%;" coolCol="60"
     coolRow="3" coolLength="10">Created By</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 8%; width: 10%; height: 4%;" coolCol="73"
     coolRow="3" coolLength="8">{{in.obligation.createdBy}}</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 12%; width: 13.75%; height: 4%;" coolCol="3"
     coolRow="4" coolLength="11">Assigned To</div>
   <input type="text" coolType="field" name="field_4_17"
     [(ngModel)]="in.assignServiceProvider.userId"
     [coolVideo]="out.assignServiceProvider.screenField?.userId" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="8"
     style="left: 20%; top: 12%; width: 12.5%; height: 4%;" coolCol="17"
     coolRow="4" coolLength="10">
   <input type="text" coolType="field" name="field_4_28"
     [(ngModel)]="in.assignPrompt.selectChar"
     [coolVideo]="out.assignPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 33.75%; top: 12%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="4" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 12%; width: 35%; height: 4%;" coolCol="30"
     coolRow="4" coolLength="28">{{in.assignCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 12%; width: 15%; height: 4%;" coolCol="60"
     coolRow="4" coolLength="12">Created Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 12%; width: 10%; height: 4%;" coolCol="73"
     coolRow="4" coolLength="8">{{in.setupDate.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 2.5%; top: 16%; width: 15%; height: 4%;"
     coolCol="3" coolRow="5" coolLength="12">Alt Bill Loc</div>
   <input type="text" coolType="field" name="field_5_17"
     [(ngModel)]="in.alternateAddr.number"
     [coolVideo]="out.alternateAddr.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 20%; top: 16%; width: 12.5%; height: 4%;" coolCol="17"
     coolRow="5" coolLength="10">
   <input type="text" coolType="field" name="field_5_28"
     [(ngModel)]="in.altAddPrompt.text1"
     [coolVideo]="out.altAddPrompt.screenField?.text1" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 33.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="5" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 16%; width: 35%; height: 4%;" coolCol="30"
     coolRow="5" coolLength="28">{{in.alternateAddr.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 16%; width: 12.5%; height: 4%;" coolCol="60"
     coolRow="5" coolLength="10">Updated By</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 16%; width: 10%; height: 4%;" coolCol="73"
     coolRow="5" coolLength="8">{{in.obligation.lastUpdatedBy}}</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 20%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="6" coolLength="10">Interstate</div>
   <input type="text" coolType="field" name="field_6_14"
     [(ngModel)]="in.obligation.orderTypeCode"
     [coolVideo]="out.obligation.screenField?.orderTypeCode" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['K','I']"
     style="left: 16.25%; top: 20%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="6" coolLength="1">
   
   <div coolType="prompt" style="left: 20%; top: 20%; width: 15%; height: 4%;"
     coolCol="17" coolRow="6" coolLength="12">Int St.Case#</div>
   <input type="text" coolType="field" name="field_6_30"
     [(ngModel)]="in.interstateRequest.otherStateCaseId"
     [coolVideo]="out.interstateRequest.screenField?.otherStateCaseId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 36.25%; top: 20%; width: 18.75%; height: 4%;" coolCol="30"
     coolRow="6" coolLength="15">
   
   <div coolType="prompt"
     style="left: 73.75%; top: 20%; width: 15%; height: 4%;" coolCol="60"
     coolRow="6" coolLength="12">Updated Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 20%; width: 10%; height: 4%;" coolCol="73"
     coolRow="6" coolLength="8">{{in.lastUpdDate.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 2.5%; top: 24%; width: 10%; height: 4%;"
     coolCol="3" coolRow="7" coolLength="8">Other St</div>
   <input type="text" coolType="field" name="field_7_12"
     [(ngModel)]="in.obligation.otherStateAbbr"
     [coolVideo]="out.obligation.screenField?.otherStateAbbr" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 13.75%; top: 24%; width: 2.5%; height: 4%;" coolCol="12"
     coolRow="7" coolLength="2">
   
   <div coolType="prompt" style="left: 20%; top: 24%; width: 8.75%; height: 4%;"
     coolCol="17" coolRow="7" coolLength="7">Country</div>
   <input type="text" coolType="field" name="field_7_25"
     [(ngModel)]="in.interstateRequest.country"
     [coolVideo]="out.interstateRequest.screenField?.country" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 24%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="7" coolLength="2">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 24%; width: 35%; height: 4%;" coolCol="30"
     coolRow="7" coolLength="28">{{in.country.description}}</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 32%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="13">Court Order #</div>
   <input type="text" coolType="field" name="field_9_21"
     [(ngModel)]="in.legalAction.standardNumber"
     [coolVideo]="out.legalAction.screenField?.standardNumber" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="12"
     style="left: 25%; top: 32%; width: 15%; height: 4%;" coolCol="21"
     coolRow="9" coolLength="12">
   
   <div coolType="literal"
     style="left: 46.25%; top: 32%; width: 22.5%; height: 4%;" coolCol="38"
     coolRow="9" coolLength="18">CSE Person Address</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 32%; width: 12.5%; height: 4%;" coolCol="60"
     coolRow="9" coolLength="10">Type (M/R)</div>
   <input type="text" coolType="field" name="field_9_71"
     [(ngModel)]="in.csePersonAddress.type1"
     [coolVideo]="out.csePersonAddress.screenField?.type1" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="9" coolLength="1">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 36%; width: 18.75%; height: 4%;" coolCol="3"
     coolRow="10" coolLength="15">Obligation Type</div>
   <input type="text" coolType="field" name="field_10_21"
     [(ngModel)]="in.obligationType.code"
     [coolVideo]="out.obligationType.screenField?.code" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="7"
     style="left: 25%; top: 36%; width: 8.75%; height: 4%;" coolCol="21"
     coolRow="10" coolLength="7">
   <input type="text" coolType="field" name="field_10_29"
     [(ngModel)]="in.obligationTypePrompt.selectChar"
     [coolVideo]="out.obligationTypePrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 35%; top: 36%; width: 1.25%; height: 4%;"
     coolCol="29" coolRow="10" coolLength="1">
   
   <div coolType="prompt"
     style="left: 55%; top: 36%; width: 31.25%; height: 4%;" coolCol="45"
     coolRow="10" coolLength="25">Foreign or Domestic (F/D)</div>
   <input type="text" coolType="field" name="field_10_71"
     [(ngModel)]="in.csePersonAddress.locationType"
     [coolVideo]="out.csePersonAddress.screenField?.locationType" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['D','F']"
     style="left: 87.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="10" coolLength="1">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 40%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="13">Obligation No</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 33.75%; top: 40%; width: 3.75%; height: 4%;" coolCol="28"
     coolRow="11" coolLength="3">{{in.obligation.systemGeneratedIdentifier|coolNumber:'000;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 40%; width: 10%; height: 4%;" coolCol="38"
     coolRow="11" coolLength="8">Street 1</div>
   <input type="text" coolType="field" name="field_11_47"
     [(ngModel)]="in.csePersonAddress.street1"
     [coolVideo]="out.csePersonAddress.screenField?.street1" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 57.5%; top: 40%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="11" coolLength="25">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 44%; width: 21.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="17">Obligation Amount</div>
   <input type="text" coolType="field" name="field_12_21"
     [(ngModel)]="in.obligationTransaction.amount"
     [coolVideo]="out.obligationTransaction.screenField?.amount" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="######0.00;#" coolBlankWhenZero [attr.maxlength]="10"
     style="left: 25%; top: 44%; width: 12.5%; height: 4%;" coolCol="21"
     coolRow="12" coolLength="10">
   
   <div coolType="prompt"
     style="left: 46.25%; top: 44%; width: 10%; height: 4%;" coolCol="38"
     coolRow="12" coolLength="8">Street 2</div>
   <input type="text" coolType="field" name="field_12_47"
     [(ngModel)]="in.csePersonAddress.street2"
     [coolVideo]="out.csePersonAddress.screenField?.street2" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 57.5%; top: 44%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="12" coolLength="25">
   
   <div coolType="prompt" style="left: 2.5%; top: 48%; width: 10%; height: 4%;"
     coolCol="3" coolRow="13" coolLength="8">Due Date</div>
   <input type="text" coolType="field" name="field_13_23"
     [(ngModel)]="in.debtDetail.dueDt"
     [coolVideo]="out.debtDetail.screenField?.dueDt" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 27.5%; top: 48%; width: 10%; height: 4%;"
     coolCol="23" coolRow="13" coolLength="8">
   
   <div coolType="prompt" style="left: 46.25%; top: 48%; width: 5%; height: 4%;"
     coolCol="38" coolRow="13" coolLength="4">City</div>
   <input type="text" coolType="field" name="field_13_47"
     [(ngModel)]="in.csePersonAddress.city"
     [coolVideo]="out.csePersonAddress.screenField?.city" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 57.5%; top: 48%; width: 18.75%; height: 4%;" coolCol="47"
     coolRow="13" coolLength="15">
   
   <div coolType="prompt" style="left: 2.5%; top: 52%; width: 15%; height: 4%;"
     coolCol="3" coolRow="14" coolLength="12">Balance Owed</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 25%; top: 52%; width: 12.5%; height: 4%;" coolCol="21"
     coolRow="14" coolLength="10">{{in.balanceOwed.totalCurrency|coolNumber:'######0.00;#':0}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 52%; width: 6.25%; height: 4%;" coolCol="38"
     coolRow="14" coolLength="5">State</div>
   <input type="text" coolType="field" name="field_14_47"
     [(ngModel)]="in.csePersonAddress.state"
     [coolVideo]="out.csePersonAddress.screenField?.state" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 57.5%; top: 52%; width: 2.5%; height: 4%;" coolCol="47"
     coolRow="14" coolLength="2">
   
   <div coolType="prompt" style="left: 65%; top: 52%; width: 3.75%; height: 4%;"
     coolCol="53" coolRow="14" coolLength="3">Zip</div>
   <input type="text" coolType="field" name="field_14_57"
     [(ngModel)]="in.csePersonAddress.zipCode"
     [coolVideo]="out.csePersonAddress.screenField?.zipCode" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="5"
     style="left: 70%; top: 52%; width: 6.25%; height: 4%;" coolCol="57"
     coolRow="14" coolLength="5">
   <input type="text" coolType="field" name="field_14_63"
     [(ngModel)]="in.csePersonAddress.zip4"
     [coolVideo]="out.csePersonAddress.screenField?.zip4" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 77.5%; top: 52%; width: 5%; height: 4%;" coolCol="63"
     coolRow="14" coolLength="4">
   <input type="text" coolType="field" name="field_14_68"
     [(ngModel)]="in.csePersonAddress.zip3"
     [coolVideo]="out.csePersonAddress.screenField?.zip3" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 83.75%; top: 52%; width: 3.75%; height: 4%;" coolCol="68"
     coolRow="14" coolLength="3">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 56%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="13">Interest Owed</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 25%; top: 56%; width: 12.5%; height: 4%;" coolCol="21"
     coolRow="15" coolLength="10">{{in.interestOwed.totalCurrency|coolNumber:'######0.00;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 56%; width: 10%; height: 4%;" coolCol="38"
     coolRow="15" coolLength="8">Street 3</div>
   <input type="text" coolType="field" name="field_15_47"
     [(ngModel)]="in.csePersonAddress.street3"
     [coolVideo]="out.csePersonAddress.screenField?.street3" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 57.5%; top: 56%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="15" coolLength="25">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="10">Total Owed</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 25%; top: 60%; width: 12.5%; height: 4%;" coolCol="21"
     coolRow="16" coolLength="10">{{in.totalOwed.totalCurrency|coolNumber:'######0.00;#':0}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 60%; width: 10%; height: 4%;" coolCol="38"
     coolRow="16" coolLength="8">Street 4</div>
   <input type="text" coolType="field" name="field_16_47"
     [(ngModel)]="in.csePersonAddress.street4"
     [coolVideo]="out.csePersonAddress.screenField?.street4" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 57.5%; top: 60%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="16" coolLength="25">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 64%; width: 17.5%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="14">Pymt Frequency</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 25%; top: 64%; width: 2.5%; height: 4%;" coolCol="21"
     coolRow="17" coolLength="2">{{in.obligationPaymentSchedule.frequencyCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 64%; width: 15%; height: 4%;" coolCol="24"
     coolRow="17" coolLength="12">{{in.frequencyWorkSet.frequencyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 64%; width: 10%; height: 4%;" coolCol="38"
     coolRow="17" coolLength="8">Province</div>
   <input type="text" coolType="field" name="field_17_47"
     [(ngModel)]="in.csePersonAddress.province"
     [coolVideo]="out.csePersonAddress.screenField?.province" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="5"
     style="left: 57.5%; top: 64%; width: 6.25%; height: 4%;" coolCol="47"
     coolRow="17" coolLength="5">
   
   <div coolType="prompt" style="left: 65%; top: 64%; width: 8.75%; height: 4%;"
     coolCol="53" coolRow="17" coolLength="7">Post Cd</div>
   <input type="text" coolType="field" name="field_17_61"
     [(ngModel)]="in.csePersonAddress.postalCode"
     [coolVideo]="out.csePersonAddress.screenField?.postalCode" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 75%; top: 64%; width: 12.5%; height: 4%;" coolCol="61"
     coolRow="17" coolLength="10">
   
   <div coolType="prompt"
     style="left: 88.75%; top: 64%; width: 6.25%; height: 4%;" coolCol="72"
     coolRow="17" coolLength="5">Cntry</div>
   <input type="text" coolType="field" name="field_17_78"
     [(ngModel)]="in.csePersonAddress.country"
     [coolVideo]="out.csePersonAddress.screenField?.country" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 96.25%; top: 64%; width: 2.5%; height: 4%;" coolCol="78"
     coolRow="17" coolLength="2">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 68%; width: 21.25%; height: 4%;" coolCol="3"
     coolRow="18" coolLength="17">Pymt Schedule Amt</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 25%; top: 68%; width: 12.5%; height: 4%;" coolCol="21"
     coolRow="18" coolLength="10">{{in.obligationPaymentSchedule.amount|coolNumber:'######0.00;#':1}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 68%; width: 20%; height: 4%;" coolCol="38"
     coolRow="18" coolLength="16">Suspend Interest</div>
   
   <div coolType="field" coolColor="cyan" placeholder="Y" coolUpper
     style="left: 76.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="62"
     coolRow="18" coolLength="1">{{in.suspendInterestInd.flag}}</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 72%; width: 16.25%; height: 4%;" coolCol="3"
     coolRow="19" coolLength="13">Deactive Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 27.5%; top: 72%; width: 10%; height: 4%;" coolCol="23"
     coolRow="19" coolLength="8">{{in.debtDetailStatusHistory.effectiveDt|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 72%; width: 23.75%; height: 4%;" coolCol="38"
     coolRow="19" coolLength="19">Manually Distribute</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="62"
     coolRow="19" coolLength="1">{{in.manualDistributionInd.flag}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 76%; width: 20%; height: 4%;" coolCol="38"
     coolRow="20" coolLength="16">Coll Prot Exists</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="62"
     coolRow="20" coolLength="1">{{in.obCollProtAct.flag}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 80%; width: 5%; height: 4%;"
     coolCol="2" coolRow="21" coolLength="4">Note</div>
   <input type="text" coolType="field" name="field_21_7"
     [(ngModel)]="in.obligation.description"
     [coolVideo]="out.obligation.screenField?.description" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="72" style="left: 7.5%; top: 80%; width: 90%; height: 4%;"
     coolCol="7" coolRow="21" coolLength="72">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 98.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="79">PF Key: 1 Help  2 Disp  3 Exit 4 List  5 Add  6 Upd 9 Return 10 Delete 11 Clear</div>
   
   <div coolType="literal"
     style="left: 6.25%; top: 92%; width: 92.5%; height: 4%;" coolCol="6"
     coolRow="24" coolLength="74">12 Signoff 15 MDIS 16 INMS 17 CSPM 18 OPSC 19 OPAY 20 OCTO 21 CADS 22 COLP</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="MDIS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=MDIS</a>
   <a coolType="action" coolCommand="INMS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=INMS</a>
   <a coolType="action" coolCommand="CSPM" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=CSPM</a>
   <a coolType="action" coolCommand="OPSC" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=OPSC</a>
   <a coolType="action" coolCommand="OPAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=OPAY</a>
   <a coolType="action" coolCommand="OCTO" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F8">F20=OCTO</a>
   <a coolType="action" coolCommand="CADS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F9">F21=CADS</a>
   <a coolType="action" coolCommand="COLP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F10">F22=COLP</a>
   <a coolType="action" coolCommand="PRINT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F12">F24=PRINT</a>
   </div>