<!--Name: FN_RCOL_RESEARCH_COLLECTION, ID: 371774919, model: 746-->
<div coolContent coolName="FN_RCOL_RESEARCH_COLLECTION" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 33.75%; top: 0; width: 40%; height: 4%;"
     coolCol="28" coolRow="1" coolLength="32">CSE - Research Collection - RCOL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">Next</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal" style="left: 0; top: 12%; width: 16.25%; height: 4%;"
     coolCol="1" coolRow="4" coolLength="13">Obligor Info:</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 12%; width: 11.25%; height: 4%;" coolCol="18"
     coolRow="4" coolLength="9">Last Name</div>
   
   <div coolType="prompt" style="left: 40%; top: 12%; width: 6.25%; height: 4%;"
     coolCol="33" coolRow="4" coolLength="5">First</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 12%; width: 2.5%; height: 4%;" coolCol="42"
     coolRow="4" coolLength="2">MI</div>
   
   <div coolType="literal"
     style="left: 57.5%; top: 12%; width: 22.5%; height: 4%;" coolCol="47"
     coolRow="4" coolLength="18">Full Name/ Address</div>
   <input type="text" coolType="field" name="field_5_13"
     [(ngModel)]="in.apCsePersonsWorkSet.lastName"
     [coolVideo]="out.apCsePersonsWorkSet.screenField?.lastName" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 15%; top: 16%; width: 21.25%; height: 4%;" coolCol="13"
     coolRow="5" coolLength="17">
   <input type="text" coolType="field" name="field_5_31"
     [(ngModel)]="in.apCsePersonsWorkSet.firstName"
     [coolVideo]="out.apCsePersonsWorkSet.screenField?.firstName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 37.5%; top: 16%; width: 12.5%; height: 4%;" coolCol="31"
     coolRow="5" coolLength="10">
   <input type="text" coolType="field" name="field_5_42"
     [(ngModel)]="in.apCsePersonsWorkSet.middleInitial"
     [coolVideo]="out.apCsePersonsWorkSet.screenField?.middleInitial"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 51.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="42"
     coolRow="5" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 16%; width: 41.25%; height: 4%;" coolCol="47"
     coolRow="5" coolLength="33">{{in.apCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 0; top: 20%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="6" coolLength="3">SSN</div>
   <input type="text" coolType="field" name="field_6_5"
     [(ngModel)]="in.apCsePersonsWorkSet.ssn"
     [coolVideo]="out.apCsePersonsWorkSet.screenField?.ssn" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="9"
     style="left: 5%; top: 20%; width: 11.25%; height: 4%;" coolCol="5"
     coolRow="6" coolLength="9">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 20%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="6" coolLength="3">Sex</div>
   <input type="text" coolType="field" name="field_6_20"
     [(ngModel)]="in.apCsePersonsWorkSet.sex"
     [coolVideo]="out.apCsePersonsWorkSet.screenField?.sex" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 23.75%; top: 20%; width: 1.25%; height: 4%;" coolCol="20"
     coolRow="6" coolLength="1">
   
   <div coolType="prompt"
     style="left: 27.5%; top: 20%; width: 3.75%; height: 4%;" coolCol="23"
     coolRow="6" coolLength="3">DOB</div>
   <input type="text" coolType="field" name="field_6_27"
     [(ngModel)]="in.apCsePersonsWorkSet.dob"
     [coolVideo]="out.apCsePersonsWorkSet.screenField?.dob" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 32.5%; top: 20%; width: 10%; height: 4%;"
     coolCol="27" coolRow="6" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 20%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="6" coolLength="25">{{in.apCsePersonAddress.street1}}</div>
   
   <div coolType="literal" style="left: 0; top: 24%; width: 12.5%; height: 4%;"
     coolCol="1" coolRow="7" coolLength="10">CSE Person</div>
   <input type="text" coolType="field" name="field_7_12"
     [(ngModel)]="in.apCsePerson.number"
     [coolVideo]="out.apCsePerson.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 13.75%; top: 24%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="7" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 24%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="7" coolLength="25">{{in.apCsePersonAddress.street2}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 28%; width: 18.75%; height: 4%;" coolCol="47"
     coolRow="8" coolLength="15">{{in.apCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 28%; width: 2.5%; height: 4%;" coolCol="63"
     coolRow="8" coolLength="2">{{in.apCsePersonAddress.state}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 81.25%; top: 28%; width: 6.25%; height: 4%;" coolCol="66"
     coolRow="8" coolLength="5">{{in.apCsePersonAddress.zipCode}}</div>
   
   <div coolType="prompt"
     style="left: 57.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="9" coolLength="10">Home Phone</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 71.25%; top: 32%; width: 12.5%; height: 4%;" coolCol="58"
     coolRow="9" coolLength="10">{{in.apCsePersonsWorkSet.char10}}</div>
   
   <div coolType="literal" style="left: 0; top: 40%; width: 13.75%; height: 4%;"
     coolCol="1" coolRow="11" coolLength="11">Legal Info:</div>
   
   <div coolType="prompt" style="left: 15%; top: 40%; width: 7.5%; height: 4%;"
     coolCol="13" coolRow="11" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_11_21"
     [(ngModel)]="in.case1.number" [coolVideo]="out.case1.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 25%; top: 40%; width: 12.5%; height: 4%;" coolCol="21"
     coolRow="11" coolLength="10">
   
   <div coolType="prompt"
     style="left: 38.75%; top: 40%; width: 16.25%; height: 4%;" coolCol="32"
     coolRow="11" coolLength="13">Court Order #</div>
   <input type="text" coolType="field" name="field_11_46"
     [(ngModel)]="in.legalAction.standardNumber"
     [coolVideo]="out.legalAction.screenField?.standardNumber" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="12"
     style="left: 56.25%; top: 40%; width: 15%; height: 4%;" coolCol="46"
     coolRow="11" coolLength="12">
   
   <div coolType="literal" style="left: 0; top: 48%; width: 20%; height: 4%;"
     coolCol="1" coolRow="13" coolLength="16">Obligee/AR Info:</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 48%; width: 11.25%; height: 4%;" coolCol="18"
     coolRow="13" coolLength="9">Last Name</div>
   
   <div coolType="prompt" style="left: 40%; top: 48%; width: 6.25%; height: 4%;"
     coolCol="33" coolRow="13" coolLength="5">First</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 48%; width: 2.5%; height: 4%;" coolCol="42"
     coolRow="13" coolLength="2">MI</div>
   
   <div coolType="literal"
     style="left: 57.5%; top: 48%; width: 22.5%; height: 4%;" coolCol="47"
     coolRow="13" coolLength="18">Full Name/ Address</div>
   <input type="text" coolType="field" name="field_14_13"
     [(ngModel)]="in.arCsePersonsWorkSet.lastName"
     [coolVideo]="out.arCsePersonsWorkSet.screenField?.lastName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 15%; top: 52%; width: 21.25%; height: 4%;" coolCol="13"
     coolRow="14" coolLength="17">
   <input type="text" coolType="field" name="field_14_31"
     [(ngModel)]="in.arCsePersonsWorkSet.firstName"
     [coolVideo]="out.arCsePersonsWorkSet.screenField?.firstName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 37.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="31"
     coolRow="14" coolLength="10">
   <input type="text" coolType="field" name="field_14_42"
     [(ngModel)]="in.arCsePersonsWorkSet.middleInitial"
     [coolVideo]="out.arCsePersonsWorkSet.screenField?.middleInitial"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 51.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="42"
     coolRow="14" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 52%; width: 41.25%; height: 4%;" coolCol="47"
     coolRow="14" coolLength="33">{{in.arCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 0; top: 56%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="15" coolLength="3">SSN</div>
   <input type="text" coolType="field" name="field_15_5"
     [(ngModel)]="in.arCsePersonsWorkSet.ssn"
     [coolVideo]="out.arCsePersonsWorkSet.screenField?.ssn" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="9"
     style="left: 5%; top: 56%; width: 11.25%; height: 4%;" coolCol="5"
     coolRow="15" coolLength="9">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="16"
     coolRow="15" coolLength="3">Sex</div>
   <input type="text" coolType="field" name="field_15_20"
     [(ngModel)]="in.arCsePersonsWorkSet.sex"
     [coolVideo]="out.arCsePersonsWorkSet.screenField?.sex" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 23.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="20"
     coolRow="15" coolLength="1">
   
   <div coolType="prompt"
     style="left: 27.5%; top: 56%; width: 3.75%; height: 4%;" coolCol="23"
     coolRow="15" coolLength="3">DOB</div>
   <input type="text" coolType="field" name="field_15_27"
     [(ngModel)]="in.arCsePersonsWorkSet.dob"
     [coolVideo]="out.arCsePersonsWorkSet.screenField?.dob" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 32.5%; top: 56%; width: 10%; height: 4%;"
     coolCol="27" coolRow="15" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 56%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="15" coolLength="25">{{in.arCsePersonAddress.street1}}</div>
   
   <div coolType="literal" style="left: 0; top: 60%; width: 12.5%; height: 4%;"
     coolCol="1" coolRow="16" coolLength="10">CSE Person</div>
   <input type="text" coolType="field" name="field_16_12"
     [(ngModel)]="in.arCsePerson.number"
     [coolVideo]="out.arCsePerson.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 13.75%; top: 60%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="16" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 60%; width: 31.25%; height: 4%;" coolCol="47"
     coolRow="16" coolLength="25">{{in.arCsePersonAddress.street2}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 64%; width: 18.75%; height: 4%;" coolCol="47"
     coolRow="17" coolLength="15">{{in.arCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 64%; width: 2.5%; height: 4%;" coolCol="63"
     coolRow="17" coolLength="2">{{in.arCsePersonAddress.state}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 81.25%; top: 64%; width: 6.25%; height: 4%;" coolCol="66"
     coolRow="17" coolLength="5">{{in.arCsePersonAddress.zipCode}}</div>
   
   <div coolType="prompt"
     style="left: 57.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="18" coolLength="10">Home Phone</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 71.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="58"
     coolRow="18" coolLength="10">{{in.arCsePersonsWorkSet.char10}}</div>
   
   <div coolType="literal" style="left: 0; top: 76%; width: 17.5%; height: 4%;"
     coolCol="1" coolRow="20" coolLength="14">Employer Info:</div>
   
   <div coolType="prompt" style="left: 18.75%; top: 76%; width: 5%; height: 4%;"
     coolCol="16" coolRow="20" coolLength="4">Name</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 76%; width: 41.25%; height: 4%;" coolCol="24"
     coolRow="20" coolLength="33">{{in.employer.name}}</div>
   <input type="text" coolType="field" name="field_20_58"
     [(ngModel)]="in.empPrompt.promptField"
     [coolVideo]="out.empPrompt.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 71.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="58"
     coolRow="20" coolLength="1">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 80%; width: 8.75%; height: 4%;" coolCol="16"
     coolRow="21" coolLength="7">Phone #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 80%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="21" coolLength="10">{{in.employerPhone.text10}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 88.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="71">PF KEY: 1 Help  3 Exit  4 List  9 Return  11 Clear  12 Signoff  15 OCTO</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 76.25%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="61">16 LAPS  17 LACS  18 LACN  19 NAME  20 RLEG  21 RARS  22 RAPS</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="OCTO" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=OCTO</a>
   <a coolType="action" coolCommand="LAPS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=LAPS</a>
   <a coolType="action" coolCommand="LACS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=LACS</a>
   <a coolType="action" coolCommand="LACN" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=LACN</a>
   <a coolType="action" coolCommand="NAME" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=NAME</a>
   <a coolType="action" coolCommand="RLEG" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F8">F20=RLEG</a>
   <a coolType="action" coolCommand="RARS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F9">F21=RARS</a>
   <a coolType="action" coolCommand="RAPS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F10">F22=RAPS</a>
   </div>