<!--Name: FN_WHST_LST_WARRANT_STATUS_HIST, ID: 371871533, model: 746-->
<div coolContent coolName="FN_WHST_LST_WARRANT_STATUS_HIST" coolType="SCREEN"
  (coolInit)="scrollSize = 20; pageSize = 3">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 23.75%; top: 0; width: 50%; height: 4%;"
     coolCol="20" coolRow="1" coolLength="40">CSE - List Warrant Status History - WHST</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 8%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="3" coolLength="5">Payee</div>
   <input type="text" coolType="field" name="field_3_20"
     [(ngModel)]="in.paymentRequest.csePersonNumber"
     [coolVideo]="out.paymentRequest.screenField?.csePersonNumber" coolAutotab
     coolReadonly coolAlign="right" coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 23.75%; top: 8%; width: 12.5%; height: 4%;" coolCol="20"
     coolRow="3" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 8%; width: 41.25%; height: 4%;" coolCol="32"
     coolRow="3" coolLength="33">{{in.payee.formattedName}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 20%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="16">Designated Payee</div>
   <input type="text" coolType="field" name="field_4_20"
     [(ngModel)]="in.paymentRequest.designatedPayeeCsePersonNo"
     [coolVideo]="out.paymentRequest.screenField?.designatedPayeeCsePersonNo"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 23.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="20"
     coolRow="4" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 12%; width: 41.25%; height: 4%;" coolCol="32"
     coolRow="4" coolLength="33">{{in.desigPayee.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 17.5%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="14">Warrant Number</div>
   <input type="text" coolType="field" name="field_5_20"
     [(ngModel)]="in.paymentRequest.number"
     [coolVideo]="out.paymentRequest.screenField?.number" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="9"
     style="left: 23.75%; top: 16%; width: 11.25%; height: 4%;" coolCol="20"
     coolRow="5" coolLength="9">
   <input type="text" coolType="field" name="field_5_30"
     [(ngModel)]="in.warrantNoPrompt.selectChar"
     [coolVideo]="out.warrantNumberPromptIn.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 36.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="30"
     coolRow="5" coolLength="1">
   
   <div coolType="prompt"
     style="left: 41.25%; top: 16%; width: 27.5%; height: 4%;" coolCol="34"
     coolRow="5" coolLength="22">Mailed To Name/Address</div>
   
   <div coolType="literal"
     style="left: 46.25%; top: 20%; width: 5%; height: 4%;" coolCol="38"
     coolRow="6" coolLength="4">Name</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 20%; width: 41.25%; height: 4%;" coolCol="47"
     coolRow="6" coolLength="33">{{in.localFnWorkArea.name}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="6">Amount</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 24%; width: 12.5%; height: 4%;" coolCol="17"
     coolRow="7" coolLength="10">{{in.paymentRequest.amount|coolNumber:'######0.00;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 24%; width: 10%; height: 4%;" coolCol="38"
     coolRow="7" coolLength="8">Street 1</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 24%; width: 25%; height: 4%;" coolCol="47"
     coolRow="7" coolLength="20">{{in.localFnWorkArea.addressLine1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 28%; width: 15%; height: 4%;"
     coolCol="2" coolRow="8" coolLength="12">Request Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 22.5%; top: 28%; width: 10%; height: 4%;" coolCol="19"
     coolRow="8" coolLength="8">{{in.paymentRequest.processDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 28%; width: 10%; height: 4%;" coolCol="38"
     coolRow="8" coolLength="8">Street 2</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 28%; width: 25%; height: 4%;" coolCol="47"
     coolRow="8" coolLength="20">{{in.localFnWorkArea.addressLine2}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 32%; width: 18.75%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="15">Orig Print Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 22.5%; top: 32%; width: 10%; height: 4%;" coolCol="19"
     coolRow="9" coolLength="8">{{in.paymentRequest.printDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 46.25%; top: 32%; width: 5%; height: 4%;"
     coolCol="38" coolRow="9" coolLength="4">City</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 32%; width: 25%; height: 4%;" coolCol="47"
     coolRow="9" coolLength="20">{{in.localFnWorkArea.city}}</div>
   
   <div coolType="prompt" style="left: 85%; top: 32%; width: 6.25%; height: 4%;"
     coolCol="69" coolRow="9" coolLength="5">State</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 32%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="9" coolLength="2">{{in.localFnWorkArea.state}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="38"
     coolRow="10" coolLength="3">Zip</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 36%; width: 17.5%; height: 4%;" coolCol="47"
     coolRow="10" coolLength="14">{{in.localFnWorkArea.zipCode|coolString:'XXXXX XXXX XXX'}}</div>
   
   <div coolType="prompt" style="left: 0; top: 40%; width: 12.5%; height: 4%;"
     coolCol="1" coolRow="11" coolLength="10">Effec Date</div>
   
   <div coolType="prompt" style="left: 15%; top: 40%; width: 7.5%; height: 4%;"
     coolCol="13" coolRow="11" coolLength="6">Status</div>
   
   <div coolType="prompt"
     style="left: 28.75%; top: 40%; width: 11.25%; height: 4%;" coolCol="24"
     coolRow="11" coolLength="9">Worker ID</div>
   
   <div coolType="prompt"
     style="left: 42.5%; top: 40%; width: 11.25%; height: 4%;" coolCol="35"
     coolRow="11" coolLength="9">Narrative</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 1.25%; top: 44%; width: 10%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailPaymentStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 44%; width: 12.5%; height: 4%;" coolCol="13"
     coolRow="12" coolLength="10" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailPaymentStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 44%; width: 10%; height: 4%;" coolCol="25"
     coolRow="12" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailPaymentStatusHistory.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 42.5%; top: 44%; width: 57.5%; height: 8%;" coolCol="35"
     coolRow="12" coolLength="46" coolHeight="2"
     [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailPaymentStatusHistory.reasonText}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 1.25%; top: 56%; width: 10%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailPaymentStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 56%; width: 12.5%; height: 4%;" coolCol="13"
     coolRow="15" coolLength="10"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailPaymentStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 56%; width: 10%; height: 4%;" coolCol="25"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailPaymentStatusHistory.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 42.5%; top: 56%; width: 57.5%; height: 8%;" coolCol="35"
     coolRow="15" coolLength="46" coolHeight="2"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailPaymentStatusHistory.reasonText}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 1.25%; top: 68%; width: 10%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailPaymentStatusHistory.effectiveDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 68%; width: 12.5%; height: 4%;" coolCol="13"
     coolRow="18" coolLength="10"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailPaymentStatus.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 68%; width: 10%; height: 4%;" coolCol="25"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailPaymentStatusHistory.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 42.5%; top: 68%; width: 57.5%; height: 8%;" coolCol="35"
     coolRow="18" coolLength="46" coolHeight="2"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailPaymentStatusHistory.reasonText}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 96.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="77">PF KEY: 1 Help  2 Display  3 Exit  4 List  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 68.75%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="55">12 Signoff  15 PACC  16 WARR  17 WDTL  18 WAST  19 WARA</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="PACC" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=PACC</a>
   <a coolType="action" coolCommand="WARR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=WARR</a>
   <a coolType="action" coolCommand="WDTL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=WDTL</a>
   <a coolType="action" coolCommand="WAST" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=WAST</a>
   <a coolType="action" coolCommand="WARA" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=WARA</a>
   </div>