<!--Name: GB_LPPI_LST_PGM_PROCESSING_INFO, ID: 371743775, model: 746-->
<div coolContent coolName="GB_LPPI_LST_PGM_PROCESSING_INFO" coolType="SCREEN"
  (coolInit)="scrollSize = 75; pageSize = 13">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 51.25%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="41">CSE - List Program Processing Info - LPPI</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 2.5%; top: 12%; width: 15%; height: 4%;"
     coolCol="3" coolRow="4" coolLength="12">Program Name</div>
   <input type="text" coolType="field" name="field_4_18"
     [(ngModel)]="in.search.name" [coolVideo]="out.search.screenField?.name"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 21.25%; top: 12%; width: 10%; height: 4%;" coolCol="18"
     coolRow="4" coolLength="8">
   
   <div coolType="prompt"
     style="left: 76.25%; top: 12%; width: 15%; height: 4%;" coolCol="62"
     coolRow="4" coolLength="12">Show History</div>
   <input type="text" coolType="field" name="field_4_76"
     [(ngModel)]="in.showHistory.flag"
     [coolVideo]="out.showHistory.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="N" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 93.75%; top: 12%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="4" coolLength="1">
   
   <div coolType="literal"
     style="left: 8.75%; top: 20%; width: 8.75%; height: 4%;" coolCol="8"
     coolRow="6" coolLength="7">Program</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 20%; width: 8.75%; height: 4%;" coolCol="18"
     coolRow="6" coolLength="7">Created</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 24%; width: 3.75%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="3">Sel</div>
   
   <div coolType="prompt" style="left: 11.25%; top: 24%; width: 5%; height: 4%;"
     coolCol="10" coolRow="7" coolLength="4">Name</div>
   
   <div coolType="prompt" style="left: 23.75%; top: 24%; width: 5%; height: 4%;"
     coolCol="20" coolRow="7" coolLength="4">Date</div>
   
   <div coolType="literal"
     style="left: 57.5%; top: 24%; width: 13.75%; height: 4%;" coolCol="47"
     coolRow="7" coolLength="11">Description</div>
   <input type="text" coolType="field" name="field_8_4"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="8" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 28%; width: 10%; height: 4%;" coolCol="8"
     coolRow="8" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 28%; width: 10%; height: 4%;" coolCol="18"
     coolRow="8" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 28%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="8" coolLength="50" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_9_4"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 32%; width: 10%; height: 4%;" coolCol="8"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 32%; width: 10%; height: 4%;" coolCol="18"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 32%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="9" coolLength="50" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_10_4"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 36%; width: 10%; height: 4%;" coolCol="8"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 36%; width: 10%; height: 4%;" coolCol="18"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 36%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="10" coolLength="50"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_11_4"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 40%; width: 10%; height: 4%;" coolCol="8"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 40%; width: 10%; height: 4%;" coolCol="18"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 40%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="11" coolLength="50"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_12_4"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 44%; width: 10%; height: 4%;" coolCol="8"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 44%; width: 10%; height: 4%;" coolCol="18"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 44%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="12" coolLength="50"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_13_4"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 48%; width: 10%; height: 4%;" coolCol="8"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 48%; width: 10%; height: 4%;" coolCol="18"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 48%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="13" coolLength="50"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_14_4"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 52%; width: 10%; height: 4%;" coolCol="8"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 52%; width: 10%; height: 4%;" coolCol="18"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 52%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="14" coolLength="50"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_15_4"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 56%; width: 10%; height: 4%;" coolCol="8"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 56%; width: 10%; height: 4%;" coolCol="18"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 56%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="15" coolLength="50"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_16_4"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 60%; width: 10%; height: 4%;" coolCol="8"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 60%; width: 10%; height: 4%;" coolCol="18"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 60%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="16" coolLength="50"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_17_4"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 64%; width: 10%; height: 4%;" coolCol="8"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 64%; width: 10%; height: 4%;" coolCol="18"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 64%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="17" coolLength="50"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_18_4"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="18" coolLength="1"
     [hidden]="pageOffset + 10 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 68%; width: 10%; height: 4%;" coolCol="8"
     coolRow="18" coolLength="8"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 68%; width: 10%; height: 4%;" coolCol="18"
     coolRow="18" coolLength="8"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 68%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="18" coolLength="50"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_19_4"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="19" coolLength="1"
     [hidden]="pageOffset + 11 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 72%; width: 10%; height: 4%;" coolCol="8"
     coolRow="19" coolLength="8"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 72%; width: 10%; height: 4%;" coolCol="18"
     coolRow="19" coolLength="8"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 72%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="19" coolLength="50"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailDescription.text50}}</div>
   <input type="text" coolType="field" name="field_20_4"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="20" coolLength="1"
     [hidden]="pageOffset + 12 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 76%; width: 10%; height: 4%;" coolCol="8"
     coolRow="20" coolLength="8"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailProgramProcessingInfo.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 76%; width: 10%; height: 4%;" coolCol="18"
     coolRow="20" coolLength="8"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailCreated.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 76%; width: 62.5%; height: 4%;" coolCol="28"
     coolRow="20" coolLength="50"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailDescription.text50}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="69" coolRow="21" coolLength="9"
     style="left: 85%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 88%; width: 86.25%; height: 4%;" coolCol="2"
     coolRow="23" coolLength="69">PFKEYS:  1 Help  2 Disp  3 Exit  7 Prev  8 Next  9 Return  12 Signoff</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 92%; width: 8.75%; height: 4%;" coolCol="10"
     coolRow="24" coolLength="7">15 MPPI</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="MPPI" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=MPPI</a>
   </div>