<!--Name: GB_MPNI_MTN_PGM_NAME, ID: 373403483, model: 746-->
<div coolContent coolName="GB_MPNI_MTN_PGM_NAME" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 25%; top: 0; width: 48.75%; height: 4%;"
     coolCol="21" coolRow="1" coolLength="39">CSE - Maintain Program Name Info - MPNI</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 16%; width: 5%; height: 4%;"
     coolCol="2" coolRow="5" coolLength="4">Name</div>
   <input type="text" coolType="field" name="field_5_7"
     [(ngModel)]="in.pgmNameTable.pgmName"
     [coolVideo]="out.pgmNameTable.screenField?.pgmName" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="8"
     style="left: 7.5%; top: 16%; width: 10%; height: 4%;" coolCol="7"
     coolRow="5" coolLength="8">
   <input type="text" coolType="field" name="field_5_18"
     [(ngModel)]="in.prompt.selectChar"
     [coolVideo]="out.prompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 21.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="18"
     coolRow="5" coolLength="1">
   
   <div coolType="prompt"
     style="left: 66.25%; top: 16%; width: 12.5%; height: 4%;" coolCol="54"
     coolRow="5" coolLength="10">Created By</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 85%; top: 16%; width: 10%; height: 4%;" coolCol="69"
     coolRow="5" coolLength="8">{{in.pgmNameTable.createdBy}}</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 20%; width: 15%; height: 4%;" coolCol="54"
     coolRow="6" coolLength="12">Created Date</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore"
     style="left: 85%; top: 20%; width: 12.5%; height: 4%;" coolCol="69"
     coolRow="6" coolLength="10">{{in.pgmNameTable.createdTimestamp|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 24%; width: 5%; height: 4%;"
     coolCol="2" coolRow="7" coolLength="4">Type</div>
   <input type="text" coolType="field" name="field_7_7"
     [(ngModel)]="in.pgmNameTable.pgmType"
     [coolVideo]="out.pgmNameTable.screenField?.pgmType" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 7.5%; top: 24%; width: 3.75%; height: 4%;" coolCol="7"
     coolRow="7" coolLength="3">
   
   <div coolType="literal"
     style="left: 13.75%; top: 24%; width: 40%; height: 4%;" coolCol="12"
     coolRow="7" coolLength="32">(Type Codes: DAY, WEK, MON, QTR,</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 24%; width: 12.5%; height: 4%;" coolCol="54"
     coolRow="7" coolLength="10">Updated By</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore" coolUpper
     style="left: 85%; top: 24%; width: 10%; height: 4%;" coolCol="69"
     coolRow="7" coolLength="8">{{in.pgmNameTable.updatedBy}}</div>
   
   <div coolType="literal"
     style="left: 18.75%; top: 28%; width: 35%; height: 4%;" coolCol="16"
     coolRow="8" coolLength="28">YRL, EOM, MAX, FLM, and FOM)</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 28%; width: 15%; height: 4%;" coolCol="54"
     coolRow="8" coolLength="12">Updated Date</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore"
     style="left: 85%; top: 28%; width: 12.5%; height: 4%;" coolCol="69"
     coolRow="8" coolLength="10">{{in.pgmNameTable.updatedTimestamp|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 32%; width: 16.25%; height: 4%;" coolCol="54"
     coolRow="9" coolLength="13">Last Run Date</div>
   
   <div coolType="field" coolColor="cyan" coolHighlight="underscore"
     style="left: 85%; top: 32%; width: 10%; height: 4%;" coolCol="69"
     coolRow="9" coolLength="8">{{in.pgmNameTable.lastRunDate|coolDate:'MM-dd-yy':0}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 36%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="6">Active</div>
   <input type="text" coolType="field" name="field_10_9"
     [(ngModel)]="in.pgmNameTable.pgmActive"
     [coolVideo]="out.pgmNameTable.screenField?.pgmActive" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 10%; top: 36%; width: 1.25%; height: 4%;" coolCol="9"
     coolRow="10" coolLength="1">
   
   <div coolType="literal"
     style="left: 13.75%; top: 36%; width: 25%; height: 4%;" coolCol="12"
     coolRow="10" coolLength="20">(Y = Yes and N = No)</div>
   
   <div coolType="prompt" style="left: 0; top: 48%; width: 13.75%; height: 4%;"
     coolCol="1" coolRow="13" coolLength="11">Description</div>
   <textarea coolType="field" name="field_13_14"
     [(ngModel)]="in.pgmNameTable.pgmDescription"
     [coolVideo]="out.pgmNameTable.screenField?.pgmDescription" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="240"
     style="left: 16.25%; top: 48%; width: 83.75%; height: 12%;" coolCol="14"
     coolRow="13" coolLength="67" coolHeight="3"></textarea>
   
   <div coolType="prompt" style="left: 0; top: 68%; width: 17.5%; height: 4%;"
     coolCol="1" coolRow="18" coolLength="14">Parameter List</div>
   <input type="text" coolType="field" name="field_18_16"
     [(ngModel)]="in.pgmNameTable.pgmParmList"
     [coolVideo]="out.pgmNameTable.screenField?.pgmParmList" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="100"
     style="left: 18.75%; top: 68%; width: 81.25%; height: 4%;" coolCol="16"
     coolRow="18" coolLength="65">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="79"
     style="left: 0; top: 84%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 88%; width: 97.5%; height: 4%;" coolCol="2"
     coolRow="23" coolLength="78">PFKEYS:   1  Help  2  Display  3  Exit  4  List  5  Add  6  Update  10  Delete</div>
   
   <div coolType="literal"
     style="left: 13.75%; top: 92%; width: 60%; height: 4%;" coolCol="12"
     coolRow="24" coolLength="48">11  Clear    12  Signoff    15  MPPI    16  MPCR</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="MPPI" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=MPPI</a>
   <a coolType="action" coolCommand="MPCR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=MPCR</a>
   </div>