<!--Name: LE_ADAA_LST_ADMIN_ACTIONS_AVAIL, ID: 372581895, model: 746-->
<div coolContent coolName="LE_ADAA_LST_ADMIN_ACTIONS_AVAIL" coolType="SCREEN"
  (coolInit)="scrollSize = 102; pageSize = 17">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 20%; top: 0; width: 56.25%; height: 4%;"
     coolCol="17" coolRow="1" coolLength="45">CSE - Administrative Actions Available - ADAA</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 12%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="4" coolLength="3" coolColor="white">Sel</div>
   
   <div coolType="prompt" style="left: 16.25%; top: 12%; width: 5%; height: 4%;"
     coolCol="14" coolRow="4" coolLength="4">Type</div>
   
   <div coolType="prompt"
     style="left: 28.75%; top: 12%; width: 13.75%; height: 4%;" coolCol="24"
     coolRow="4" coolLength="11">Description</div>
   
   <div coolType="prompt" style="left: 70%; top: 12%; width: 20%; height: 4%;"
     coolCol="57" coolRow="4" coolLength="16" coolColor="white">Automatic/Manual</div>
   <input type="text" coolType="field" name="field_5_7"
     [(ngModel)]="ref(in.group, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 16%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="5" coolLength="1" [hidden]="pageOffset >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 16%; width: 5%; height: 4%;" coolCol="14"
     coolRow="5" coolLength="4" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 16%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="5" coolLength="30" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="5" coolLength="1" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_6_7"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 20%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="6" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 20%; width: 5%; height: 4%;" coolCol="14"
     coolRow="6" coolLength="4" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 20%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="6" coolLength="30" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 20%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="6" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_7_7"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="7" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 24%; width: 5%; height: 4%;" coolCol="14"
     coolRow="7" coolLength="4" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 24%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="7" coolLength="30" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="7" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_8_7"
     [(ngModel)]="ref(in.group, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="8" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 28%; width: 5%; height: 4%;" coolCol="14"
     coolRow="8" coolLength="4" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 28%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="8" coolLength="30" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="8" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_9_7"
     [(ngModel)]="ref(in.group, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 4 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 32%; width: 5%; height: 4%;" coolCol="14"
     coolRow="9" coolLength="4" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 32%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="9" coolLength="30" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_10_7"
     [(ngModel)]="ref(in.group, pageOffset + 5, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 5]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 5 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 36%; width: 5%; height: 4%;" coolCol="14"
     coolRow="10" coolLength="4" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 36%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="10" coolLength="30" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_11_7"
     [(ngModel)]="ref(in.group, pageOffset + 6, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 6]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 6 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 40%; width: 5%; height: 4%;" coolCol="14"
     coolRow="11" coolLength="4" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 40%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="11" coolLength="30" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_12_7"
     [(ngModel)]="ref(in.group, pageOffset + 7, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 7]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 7 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 44%; width: 5%; height: 4%;" coolCol="14"
     coolRow="12" coolLength="4" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 44%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="12" coolLength="30" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_13_7"
     [(ngModel)]="ref(in.group, pageOffset + 8, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 8]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 8 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 48%; width: 5%; height: 4%;" coolCol="14"
     coolRow="13" coolLength="4" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 48%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="13" coolLength="30" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_14_7"
     [(ngModel)]="ref(in.group, pageOffset + 9, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 9]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 9 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 52%; width: 5%; height: 4%;" coolCol="14"
     coolRow="14" coolLength="4" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 52%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="14" coolLength="30" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_15_7"
     [(ngModel)]="ref(in.group, pageOffset + 10, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 10]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 10 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 56%; width: 5%; height: 4%;" coolCol="14"
     coolRow="15" coolLength="4" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 56%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="15" coolLength="30" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_16_7"
     [(ngModel)]="ref(in.group, pageOffset + 11, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 11]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 11 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 60%; width: 5%; height: 4%;" coolCol="14"
     coolRow="16" coolLength="4" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 60%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="16" coolLength="30" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_17_7"
     [(ngModel)]="ref(in.group, pageOffset + 12, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 12]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 12 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 64%; width: 5%; height: 4%;" coolCol="14"
     coolRow="17" coolLength="4" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 64%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="17" coolLength="30" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_18_7"
     [(ngModel)]="ref(in.group, pageOffset + 13, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 13]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 13 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 68%; width: 5%; height: 4%;" coolCol="14"
     coolRow="18" coolLength="4" [hidden]="pageOffset + 13 >= length(in.group)">{{in.group?.[pageOffset + 13]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 68%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="18" coolLength="30" [hidden]="pageOffset + 13 >= length(in.group)">{{in.group?.[pageOffset + 13]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 13 >= length(in.group)">{{in.group?.[pageOffset + 13]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_19_7"
     [(ngModel)]="ref(in.group, pageOffset + 14, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 14]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 14 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 72%; width: 5%; height: 4%;" coolCol="14"
     coolRow="19" coolLength="4" [hidden]="pageOffset + 14 >= length(in.group)">{{in.group?.[pageOffset + 14]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 72%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="19" coolLength="30" [hidden]="pageOffset + 14 >= length(in.group)">{{in.group?.[pageOffset + 14]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 14 >= length(in.group)">{{in.group?.[pageOffset + 14]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_20_7"
     [(ngModel)]="ref(in.group, pageOffset + 15, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 15]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 15 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 76%; width: 5%; height: 4%;" coolCol="14"
     coolRow="20" coolLength="4" [hidden]="pageOffset + 15 >= length(in.group)">{{in.group?.[pageOffset + 15]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 76%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="20" coolLength="30" [hidden]="pageOffset + 15 >= length(in.group)">{{in.group?.[pageOffset + 15]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 15 >= length(in.group)">{{in.group?.[pageOffset + 15]?.administrativeAction.indicator}}</div>
   <input type="text" coolType="field" name="field_21_7"
     [(ngModel)]="ref(in.group, pageOffset + 16, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 16]?.common.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 7.5%; top: 80%; width: 1.25%; height: 4%;" coolCol="7"
     coolRow="21" coolLength="1" [hidden]="pageOffset + 16 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 80%; width: 5%; height: 4%;" coolCol="14"
     coolRow="21" coolLength="4" [hidden]="pageOffset + 16 >= length(in.group)">{{in.group?.[pageOffset + 16]?.administrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 80%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="21" coolLength="30" [hidden]="pageOffset + 16 >= length(in.group)">{{in.group?.[pageOffset + 16]?.administrativeAction.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 80%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="21" coolLength="1" [hidden]="pageOffset + 16 >= length(in.group)">{{in.group?.[pageOffset + 16]?.administrativeAction.indicator}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="78"
     style="left: 0; top: 88%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 87.5%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="70">PF KEY:  1 Help  3 Exit  7 Prev  8 Next  9 Return  12 Signoff  15 CRIT</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="CRIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=CRIT</a>
   </div>