<!--Name: LE_AHEA_ADMIN_APPEAL_HEARING, ID: 372582438, model: 746-->
<div coolContent coolName="LE_AHEA_ADMIN_APPEAL_HEARING" coolType="SCREEN"
  (coolInit)="scrollSize = 3; pageSize = 1">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 22.5%; top: 0; width: 52.5%; height: 4%;" coolCol="19"
     coolRow="1" coolLength="42">CSE - Administrative Appeal Hearing - AHEA</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 15%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="12">CSE Person #</div>
   <input type="text" coolType="field" name="field_4_15"
     [(ngModel)]="in.csePersonsWorkSet.number"
     [coolVideo]="out.csePersonsWorkSet.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 17.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="15"
     coolRow="4" coolLength="10">
   
   <div coolType="prompt"
     style="left: 32.5%; top: 12%; width: 3.75%; height: 4%;" coolCol="27"
     coolRow="4" coolLength="3" coolColor="white">SSN</div>
   <input type="text" coolType="field" name="field_4_31"
     [(ngModel)]="in.ssnWorkArea.ssnNumPart1"
     [coolVideo]="out.ssnWorkArea.screenField?.ssnNumPart1" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 37.5%; top: 12%; width: 3.75%; height: 4%;" coolCol="31"
     coolRow="4" coolLength="3">
   <input type="text" coolType="field" name="field_4_35"
     [(ngModel)]="in.ssnWorkArea.ssnNumPart2"
     [coolVideo]="out.ssnWorkArea.screenField?.ssnNumPart2" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 42.5%; top: 12%; width: 2.5%; height: 4%;" coolCol="35"
     coolRow="4" coolLength="2">
   <input type="text" coolType="field" name="field_4_38"
     [(ngModel)]="in.ssnWorkArea.ssnNumPart3"
     [coolVideo]="out.ssnWorkArea.screenField?.ssnNumPart3" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 46.25%; top: 12%; width: 5%; height: 4%;" coolCol="38"
     coolRow="4" coolLength="4">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 12%; width: 41.25%; height: 4%;" coolCol="47"
     coolRow="4" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 16%; width: 35%; height: 4%;"
     coolCol="2" coolRow="5" coolLength="28">Administrative Appeal Number</div>
   <input type="text" coolType="field" name="field_5_31"
     [(ngModel)]="in.administrativeAppeal.number"
     [coolVideo]="out.administrativeAppeal.screenField?.number" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 37.5%; top: 16%; width: 18.75%; height: 4%;" coolCol="31"
     coolRow="5" coolLength="15">
   <input type="text" coolType="field" name="field_5_47"
     [(ngModel)]="in.appealSelection.selectChar"
     [coolVideo]="out.appealSelection.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 57.5%; top: 16%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="5" coolLength="1">
   
   <div coolType="prompt" style="left: 62.5%; top: 16%; width: 5%; height: 4%;"
     coolCol="51" coolRow="5" coolLength="4">Type</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 70%; top: 16%; width: 1.25%; height: 4%;" coolCol="57"
     coolRow="5" coolLength="1">{{in.administrativeAppeal.type1}}</div>
   
   <div coolType="prompt"
     style="left: 21.25%; top: 20%; width: 15%; height: 4%;" coolCol="18"
     coolRow="6" coolLength="12">Admin Action</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 20%; width: 5%; height: 4%;" coolCol="31"
     coolRow="6" coolLength="4">{{in.appealedAgainst.type1}}</div>
   
   <div coolType="prompt"
     style="left: 47.5%; top: 20%; width: 12.5%; height: 4%;" coolCol="39"
     coolRow="6" coolLength="10">Taken Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 20%; width: 10%; height: 4%;" coolCol="51"
     coolRow="6" coolLength="8">{{in.admActTakenDate.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 24%; width: 15%; height: 4%;"
     coolCol="2" coolRow="7" coolLength="12">Hearing Date</div>
   <input type="text" coolType="field" name="field_7_16"
     [(ngModel)]="in.dateTime.conductedDate"
     [coolVideo]="out.hearing.screenField?.conductedDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 24%; width: 10%; height: 4%;" coolCol="16"
     coolRow="7" coolLength="8">
   
   <div coolType="prompt" style="left: 32.5%; top: 24%; width: 5%; height: 4%;"
     coolCol="27" coolRow="7" coolLength="4" coolColor="white">Time</div>
   <input type="text" coolType="field" name="field_7_32"
     [(ngModel)]="in.dateTime.conductedTime"
     [coolVideo]="out.hearing.screenField?.conductedTime" coolAutotab
     coolColor="green" coolHighlight="underscore" coolTime="HHmm"
     coolBlankWhenZero [attr.maxlength]="4"
     style="left: 38.75%; top: 24%; width: 5%; height: 4%;" coolCol="32"
     coolRow="7" coolLength="4">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 28%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="5">Title</div>
   <input type="text" coolType="field" name="field_8_8"
     [(ngModel)]="in.dateTime.title"
     [coolVideo]="out.hearing.screenField?.title" coolAutotab coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="15"
     style="left: 8.75%; top: 28%; width: 18.75%; height: 4%;" coolCol="8"
     coolRow="8" coolLength="15">
   
   <div coolType="prompt"
     style="left: 30%; top: 28%; width: 26.25%; height: 4%;" coolCol="25"
     coolRow="8" coolLength="21">Presiding Person Name</div>
   <input type="text" coolType="field" name="field_8_48"
     [(ngModel)]="in.dateTime.lastName"
     [coolVideo]="out.hearing.screenField?.lastName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 58.75%; top: 28%; width: 21.25%; height: 4%;" coolCol="48"
     coolRow="8" coolLength="17">
   <input type="text" coolType="field" name="field_8_66"
     [(ngModel)]="in.dateTime.firstName"
     [coolVideo]="out.hearing.screenField?.firstName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="12"
     style="left: 81.25%; top: 28%; width: 15%; height: 4%;" coolCol="66"
     coolRow="8" coolLength="12">
   <input type="text" coolType="field" name="field_8_79"
     [(ngModel)]="in.dateTime.middleInt"
     [coolVideo]="out.hearing.screenField?.middleInt" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 97.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 32%; width: 16.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="13">Decision Date</div>
   <input type="text" coolType="field" name="field_9_16"
     [(ngModel)]="in.dateTime.outcomeReceivedDate"
     [coolVideo]="out.hearing.screenField?.outcomeReceivedDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 32%; width: 10%; height: 4%;" coolCol="16"
     coolRow="9" coolLength="8">
   
   <div coolType="prompt" style="left: 1.25%; top: 36%; width: 10%; height: 4%;"
     coolCol="2" coolRow="10" coolLength="8">Decision</div>
   <textarea coolType="field" name="field_10_11"
     [(ngModel)]="in.dateTime.outcome"
     [coolVideo]="out.hearing.screenField?.outcome" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="240"
     style="left: 12.5%; top: 36%; width: 87.5%; height: 12%;" coolCol="11"
     coolRow="10" coolLength="70" coolHeight="3"></textarea>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 52%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="3">Sel</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailCommon.selectChar').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_15_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1" [hidden]="pageOffset >= 3">
   
   <div coolType="prompt" style="left: 11.25%; top: 56%; width: 5%; height: 4%;"
     coolCol="10" coolRow="15" coolLength="4">Type</div>
   <input type="text" coolType="field" name="field_15_16"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.type1').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.type1"
     coolAutotab #field_15_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 18.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="16"
     coolRow="15" coolLength="1" [hidden]="pageOffset >= 3">
   <input type="text" coolType="field" name="field_15_18"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailAddrtpPrmpt.selectChar').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailAddrtpPrmpt.screenField?.selectChar"
     coolAutotab #field_15_18 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 21.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="18"
     coolRow="15" coolLength="1" [hidden]="pageOffset >= 3">
   
   <div coolType="prompt"
     style="left: 28.75%; top: 56%; width: 10%; height: 4%;" coolCol="24"
     coolRow="15" coolLength="8">Location</div>
   <input type="text" coolType="field" name="field_15_40"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.location').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.location"
     coolAutotab #field_15_40 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="15"
     style="left: 48.75%; top: 56%; width: 18.75%; height: 4%;" coolCol="40"
     coolRow="15" coolLength="15" [hidden]="pageOffset >= 3">
   
   <div coolType="prompt"
     style="left: 28.75%; top: 60%; width: 17.5%; height: 4%;" coolCol="24"
     coolRow="16" coolLength="14">Street Address</div>
   <input type="text" coolType="field" name="field_16_40"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.street1').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.street1"
     coolAutotab #field_16_40 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 48.75%; top: 60%; width: 31.25%; height: 4%;" coolCol="40"
     coolRow="16" coolLength="25" [hidden]="pageOffset >= 3">
   <input type="text" coolType="field" name="field_17_40"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.street2').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.street2"
     coolAutotab #field_17_40 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 48.75%; top: 64%; width: 31.25%; height: 4%;" coolCol="40"
     coolRow="17" coolLength="25" [hidden]="pageOffset >= 3">
   
   <div coolType="prompt" style="left: 28.75%; top: 68%; width: 5%; height: 4%;"
     coolCol="24" coolRow="18" coolLength="4">City</div>
   <input type="text" coolType="field" name="field_18_40"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.city').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.city"
     coolAutotab #field_18_40 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="15"
     style="left: 48.75%; top: 68%; width: 18.75%; height: 4%;" coolCol="40"
     coolRow="18" coolLength="15" [hidden]="pageOffset >= 3">
   
   <div coolType="prompt"
     style="left: 28.75%; top: 72%; width: 6.25%; height: 4%;" coolCol="24"
     coolRow="19" coolLength="5">State</div>
   <input type="text" coolType="field" name="field_19_40"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.stateProvince').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.stateProvince"
     coolAutotab #field_19_40 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 48.75%; top: 72%; width: 2.5%; height: 4%;" coolCol="40"
     coolRow="19" coolLength="2" [hidden]="pageOffset >= 3">
   <input type="text" coolType="field" name="field_19_43"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailStatePrompt.selectChar').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailStatePrompt.screenField?.selectChar"
     coolAutotab #field_19_43 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 52.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="43"
     coolRow="19" coolLength="1" [hidden]="pageOffset >= 3">
   
   <div coolType="prompt" style="left: 60%; top: 72%; width: 3.75%; height: 4%;"
     coolCol="49" coolRow="19" coolLength="3">Zip</div>
   <input type="text" coolType="field" name="field_19_53"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.zipCode').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.zipCode"
     coolAutotab #field_19_53 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="5"
     style="left: 65%; top: 72%; width: 6.25%; height: 4%;" coolCol="53"
     coolRow="19" coolLength="5" [hidden]="pageOffset >= 3">
   <input type="text" coolType="field" name="field_19_59"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.zip4').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.zip4"
     coolAutotab #field_19_59 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 72.5%; top: 72%; width: 5%; height: 4%;" coolCol="59"
     coolRow="19" coolLength="4" [hidden]="pageOffset >= 3">
   <input type="text" coolType="field" name="field_19_64"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.zip3').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.zip3"
     coolAutotab #field_19_64 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 78.75%; top: 72%; width: 3.75%; height: 4%;" coolCol="64"
     coolRow="19" coolLength="3" [hidden]="pageOffset >= 3">
   
   <div coolType="prompt"
     style="left: 28.75%; top: 76%; width: 7.5%; height: 4%;" coolCol="24"
     coolRow="20" coolLength="6">County</div>
   <input type="text" coolType="field" name="field_20_40"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailHearingAddress.county').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailHearingAddress.screenField?.county"
     coolAutotab #field_20_40 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 48.75%; top: 76%; width: 2.5%; height: 4%;" coolCol="40"
     coolRow="20" coolLength="2" [hidden]="pageOffset >= 3">
   <input type="text" coolType="field" name="field_20_43"
     [(ngModel)]="ref(in.hearingAddress, pageOffset, 'detailCountyPrmpt.selectChar').value"
     [coolVideo]="out.hearingAddress?.[pageOffset]?.detailCountyPrmpt.screenField?.selectChar"
     coolAutotab #field_20_43 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 52.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="43"
     coolRow="20" coolLength="1" [hidden]="pageOffset >= 3">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 55%; top: 76%; width: 25%; height: 4%;" coolCol="45"
     coolRow="20" coolLength="20" [hidden]="pageOffset >= 3">{{in.hearingAddress?.[pageOffset]?.detailFips.countyDescription}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="56" coolRow="21" coolLength="9"
     style="left: 68.75%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 88.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="71">PF KEY: 1 Help  2 Disp  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal" style="left: 10%; top: 92%; width: 85%; height: 4%;"
     coolCol="9" coolRow="24" coolLength="68">9 Return  10 Delete  11 Clear  12 SignOff  15 AAPP  16 AAAD  17 POST</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="AAPP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=AAPP</a>
   <a coolType="action" coolCommand="AAAD" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=AAAD</a>
   <a coolType="action" coolCommand="POST" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=POST</a>
   </div>