<!--Name: LE_GLDV_CS_GUIDELINES_DEVIATION, ID: 1625350691, model: 746-->
<div coolContent coolName="LE_GLDV_CS_GUIDELINES_DEVIATION" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 18.75%; top: 0; width: 60%; height: 4%;"
     coolCol="16" coolRow="1" coolLength="48">CSE - Child Support Guidelines Deviations - GLDV</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 12.5%; top: 12%; width: 2.5%; height: 4%;" coolCol="11"
     coolRow="4" coolLength="2">AP</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 12%; width: 41.25%; height: 4%;" coolCol="14"
     coolRow="4" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 60%; top: 12%; width: 12.5%; height: 4%;"
     coolCol="49" coolRow="4" coolLength="10">CSE Case #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 73.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="60"
     coolRow="4" coolLength="10">{{in.lactCase.number}}</div>
   
   <div coolType="prompt"
     style="left: 12.5%; top: 16%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="5" coolLength="10">Standard #</div>
   <input type="text" coolType="field" name="field_5_22"
     [(ngModel)]="in.legalAction.standardNumber"
     [coolVideo]="out.legalAction.screenField?.standardNumber" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="20"
     style="left: 26.25%; top: 16%; width: 25%; height: 4%;" coolCol="22"
     coolRow="5" coolLength="20">
   <input type="text" coolType="field" name="field_8_11"
     [(ngModel)]="ref(in.group, 0, 'question.text50').value"
     [coolVideo]="out.group?.[0]?.question.screenField?.text50" coolAutotab
     #field_8_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 28%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="8" coolLength="50">
   <input type="text" coolType="field" name="field_8_65"
     [(ngModel)]="ref(in.group, 0, 'answer.text1').value"
     [coolVideo]="out.group?.[0]?.answer.screenField?.text1" coolAutotab
     #field_8_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 28%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="8" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 28%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="8" coolLength="3">{{in.group?.[0]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_9_11"
     [(ngModel)]="ref(in.group, 1, 'question.text50').value"
     [coolVideo]="out.group?.[1]?.question.screenField?.text50" coolAutotab
     #field_9_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 32%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="9" coolLength="50">
   <input type="text" coolType="field" name="field_9_65"
     [(ngModel)]="ref(in.group, 1, 'answer.text1').value"
     [coolVideo]="out.group?.[1]?.answer.screenField?.text1" coolAutotab
     #field_9_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 32%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="9" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 32%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="9" coolLength="3">{{in.group?.[1]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_10_11"
     [(ngModel)]="ref(in.group, 2, 'question.text50').value"
     [coolVideo]="out.group?.[2]?.question.screenField?.text50" coolAutotab
     #field_10_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 36%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="10" coolLength="50">
   <input type="text" coolType="field" name="field_10_65"
     [(ngModel)]="ref(in.group, 2, 'answer.text1').value"
     [coolVideo]="out.group?.[2]?.answer.screenField?.text1" coolAutotab
     #field_10_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 36%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="10" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 36%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="10" coolLength="3">{{in.group?.[2]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_11_11"
     [(ngModel)]="ref(in.group, 3, 'question.text50').value"
     [coolVideo]="out.group?.[3]?.question.screenField?.text50" coolAutotab
     #field_11_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 40%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="11" coolLength="50">
   <input type="text" coolType="field" name="field_11_65"
     [(ngModel)]="ref(in.group, 3, 'answer.text1').value"
     [coolVideo]="out.group?.[3]?.answer.screenField?.text1" coolAutotab
     #field_11_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 40%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="11" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 40%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="11" coolLength="3">{{in.group?.[3]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_12_11"
     [(ngModel)]="ref(in.group, 4, 'question.text50').value"
     [coolVideo]="out.group?.[4]?.question.screenField?.text50" coolAutotab
     #field_12_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 44%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="12" coolLength="50">
   <input type="text" coolType="field" name="field_12_65"
     [(ngModel)]="ref(in.group, 4, 'answer.text1').value"
     [coolVideo]="out.group?.[4]?.answer.screenField?.text1" coolAutotab
     #field_12_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 44%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="12" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 44%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="12" coolLength="3">{{in.group?.[4]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_13_11"
     [(ngModel)]="ref(in.group, 5, 'question.text50').value"
     [coolVideo]="out.group?.[5]?.question.screenField?.text50" coolAutotab
     #field_13_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 48%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="13" coolLength="50">
   <input type="text" coolType="field" name="field_13_65"
     [(ngModel)]="ref(in.group, 5, 'answer.text1').value"
     [coolVideo]="out.group?.[5]?.answer.screenField?.text1" coolAutotab
     #field_13_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 48%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="13" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 48%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="13" coolLength="3">{{in.group?.[5]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_14_11"
     [(ngModel)]="ref(in.group, 6, 'question.text50').value"
     [coolVideo]="out.group?.[6]?.question.screenField?.text50" coolAutotab
     #field_14_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 52%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="14" coolLength="50">
   <input type="text" coolType="field" name="field_14_65"
     [(ngModel)]="ref(in.group, 6, 'answer.text1').value"
     [coolVideo]="out.group?.[6]?.answer.screenField?.text1" coolAutotab
     #field_14_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 52%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="14" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 52%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="14" coolLength="3">{{in.group?.[6]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_15_11"
     [(ngModel)]="ref(in.group, 7, 'question.text50').value"
     [coolVideo]="out.group?.[7]?.question.screenField?.text50" coolAutotab
     #field_15_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 56%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="15" coolLength="50">
   <input type="text" coolType="field" name="field_15_65"
     [(ngModel)]="ref(in.group, 7, 'answer.text1').value"
     [coolVideo]="out.group?.[7]?.answer.screenField?.text1" coolAutotab
     #field_15_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 56%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="15" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 56%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="15" coolLength="3">{{in.group?.[7]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_16_11"
     [(ngModel)]="ref(in.group, 8, 'question.text50').value"
     [coolVideo]="out.group?.[8]?.question.screenField?.text50" coolAutotab
     #field_16_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 60%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="16" coolLength="50">
   <input type="text" coolType="field" name="field_16_65"
     [(ngModel)]="ref(in.group, 8, 'answer.text1').value"
     [coolVideo]="out.group?.[8]?.answer.screenField?.text1" coolAutotab
     #field_16_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 60%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="16" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 60%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="16" coolLength="3">{{in.group?.[8]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_17_11"
     [(ngModel)]="ref(in.group, 9, 'question.text50').value"
     [coolVideo]="out.group?.[9]?.question.screenField?.text50" coolAutotab
     #field_17_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 64%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="17" coolLength="50">
   <input type="text" coolType="field" name="field_17_65"
     [(ngModel)]="ref(in.group, 9, 'answer.text1').value"
     [coolVideo]="out.group?.[9]?.answer.screenField?.text1" coolAutotab
     #field_17_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 64%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="17" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 64%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="17" coolLength="3">{{in.group?.[9]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_18_11"
     [(ngModel)]="ref(in.group, 10, 'question.text50').value"
     [coolVideo]="out.group?.[10]?.question.screenField?.text50" coolAutotab
     #field_18_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 68%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="18" coolLength="50">
   <input type="text" coolType="field" name="field_18_65"
     [(ngModel)]="ref(in.group, 10, 'answer.text1').value"
     [coolVideo]="out.group?.[10]?.answer.screenField?.text1" coolAutotab
     #field_18_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 68%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="18" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 68%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="18" coolLength="3">{{in.group?.[10]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_19_11"
     [(ngModel)]="ref(in.group, 11, 'question.text50').value"
     [coolVideo]="out.group?.[11]?.question.screenField?.text50" coolAutotab
     #field_19_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 72%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="19" coolLength="50">
   <input type="text" coolType="field" name="field_19_65"
     [(ngModel)]="ref(in.group, 11, 'answer.text1').value"
     [coolVideo]="out.group?.[11]?.answer.screenField?.text1" coolAutotab
     #field_19_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 72%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="19" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 72%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="19" coolLength="3">{{in.group?.[11]?.legend.text3}}</div>
   <input type="text" coolType="field" name="field_20_11"
     [(ngModel)]="ref(in.group, 12, 'question.text50').value"
     [coolVideo]="out.group?.[12]?.question.screenField?.text50" coolAutotab
     #field_20_11 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 12.5%; top: 76%; width: 62.5%; height: 4%;" coolCol="11"
     coolRow="20" coolLength="50">
   <input type="text" coolType="field" name="field_20_65"
     [(ngModel)]="ref(in.group, 12, 'answer.text1').value"
     [coolVideo]="out.group?.[12]?.answer.screenField?.text1" coolAutotab
     #field_20_65 coolFocus coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 80%; top: 76%; width: 1.25%; height: 4%;" coolCol="65"
     coolRow="20" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 82.5%; top: 76%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="20" coolLength="3">{{in.group?.[12]?.legend.text3}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 96.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="77">PF Keys :  1 Help  2 Display  3 Exit  4 List  5 Add  7 Prev  8 Next  9 Return</div>
   
   <div coolType="literal"
     style="left: 13.75%; top: 92%; width: 25%; height: 4%;" coolCol="12"
     coolRow="24" coolLength="20">11 Clear  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>