<!--Name: LE_LCCC_LST_CSE_CASES_BY_CT_CASE, ID: 371978057, model: 746-->
<div coolContent coolName="LE_LCCC_LST_CSE_CASES_BY_CT_CASE" coolType="SCREEN"
  (coolInit)="scrollSize = 100; pageSize = 12">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 18.75%; top: 0; width: 60%; height: 4%;"
     coolCol="16" coolRow="1" coolLength="48">CSE - List CSE Cases by Court Case Number - LCCC</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 8%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="3" coolLength="1">P</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 8%; width: 41.25%; height: 4%;" coolCol="4"
     coolRow="3" coolLength="33">{{in.petitionerRespondentDetails.petitionerName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 8%; width: 1.25%; height: 4%;" coolCol="38"
     coolRow="3" coolLength="1">{{in.petitionerRespondentDetails.morePetitionerInd}}</div>
   
   <div coolType="prompt" style="left: 50%; top: 8%; width: 1.25%; height: 4%;"
     coolCol="41" coolRow="3" coolLength="1">R</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 8%; width: 41.25%; height: 4%;" coolCol="43"
     coolRow="3" coolLength="33">{{in.petitionerRespondentDetails.respondentName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 8%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="3" coolLength="1">{{in.petitionerRespondentDetails.moreRespondentInd}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 21.25%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="17" coolColor="white">Court Case Number</div>
   <input type="text" coolType="field" name="field_4_21"
     [(ngModel)]="in.legalAction.courtCaseNumber"
     [coolVideo]="out.legalAction.screenField?.courtCaseNumber" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 25%; top: 12%; width: 21.25%; height: 4%;" coolCol="21"
     coolRow="4" coolLength="17">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="10">Trib State</div>
   <input type="text" coolType="field" name="field_5_13"
     [(ngModel)]="in.fips.stateAbbreviation"
     [coolVideo]="out.fips.screenField?.stateAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 15%; top: 16%; width: 2.5%; height: 4%;" coolCol="13"
     coolRow="5" coolLength="2">
   <input type="text" coolType="field" name="field_5_16"
     [(ngModel)]="in.promptTribunal.selectChar"
     [coolVideo]="out.promptTribunal.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 18.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="16"
     coolRow="5" coolLength="1">
   
   <div coolType="prompt"
     style="left: 21.25%; top: 16%; width: 7.5%; height: 4%;" coolCol="18"
     coolRow="5" coolLength="6">County</div>
   <input type="text" coolType="field" name="field_5_25"
     [(ngModel)]="in.fips.countyAbbreviation"
     [coolVideo]="out.fips.screenField?.countyAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 16%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="5" coolLength="2">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 16%; width: 25%; height: 4%;" coolCol="28"
     coolRow="5" coolLength="20">{{in.fips.countyDescription}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 16%; width: 37.5%; height: 4%;" coolCol="49"
     coolRow="5" coolLength="30">{{in.tribunal.name}}</div>
   
   <div coolType="prompt" style="left: 5%; top: 20%; width: 8.75%; height: 4%;"
     coolCol="5" coolRow="6" coolLength="7">Country</div>
   <input type="text" coolType="field" name="field_6_13"
     [(ngModel)]="in.foreign.country"
     [coolVideo]="out.foreign.screenField?.country" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 15%; top: 20%; width: 2.5%; height: 4%;" coolCol="13"
     coolRow="6" coolLength="2">
   
   <div coolType="prompt" style="left: 22.5%; top: 20%; width: 5%; height: 4%;"
     coolCol="19" coolRow="6" coolLength="4">Dist</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 20%; width: 6.25%; height: 4%;" coolCol="24"
     coolRow="6" coolLength="5">{{in.tribunal.judicialDistrict}}</div>
   
   <div coolType="prompt"
     style="left: 37.5%; top: 20%; width: 3.75%; height: 4%;" coolCol="31"
     coolRow="6" coolLength="3">Div</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 42.5%; top: 20%; width: 7.5%; height: 4%;" coolCol="35"
     coolRow="6" coolLength="6">{{in.tribunal.judicialDivision}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 28%; width: 7.5%; height: 4%;" coolCol="6"
     coolRow="8" coolLength="6">Case #</div>
   
   <div coolType="prompt" style="left: 20%; top: 28%; width: 5%; height: 4%;"
     coolCol="17" coolRow="8" coolLength="4">Offc</div>
   
   <div coolType="prompt"
     style="left: 26.25%; top: 28%; width: 7.5%; height: 4%;" coolCol="22"
     coolRow="8" coolLength="6">Worker</div>
   
   <div coolType="prompt"
     style="left: 62.5%; top: 28%; width: 8.75%; height: 4%;" coolCol="51"
     coolRow="8" coolLength="7">AP Name</div>
   <input type="text" coolType="field" name="field_9_3"
     [(ngModel)]="ref(in.cases, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 32%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="10" [hidden]="pageOffset >= length(in.cases)">{{in.cases?.[pageOffset]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 32%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="9" coolLength="3" [hidden]="pageOffset >= length(in.cases)">{{in.cases?.[pageOffset]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 32%; width: 35%; height: 4%;" coolCol="22"
     coolRow="9" coolLength="28" [hidden]="pageOffset >= length(in.cases)">{{in.cases?.[pageOffset]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 32%; width: 35%; height: 4%;" coolCol="51"
     coolRow="9" coolLength="28" [hidden]="pageOffset >= length(in.cases)">{{in.cases?.[pageOffset]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_10_3"
     [(ngModel)]="ref(in.cases, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 1 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="10" [hidden]="pageOffset + 1 >= length(in.cases)">{{in.cases?.[pageOffset + 1]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 36%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="10" coolLength="3" [hidden]="pageOffset + 1 >= length(in.cases)">{{in.cases?.[pageOffset + 1]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 36%; width: 35%; height: 4%;" coolCol="22"
     coolRow="10" coolLength="28" [hidden]="pageOffset + 1 >= length(in.cases)">{{in.cases?.[pageOffset + 1]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 36%; width: 35%; height: 4%;" coolCol="51"
     coolRow="10" coolLength="28" [hidden]="pageOffset + 1 >= length(in.cases)">{{in.cases?.[pageOffset + 1]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.cases, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 2 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 40%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="11" coolLength="10" [hidden]="pageOffset + 2 >= length(in.cases)">{{in.cases?.[pageOffset + 2]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 40%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="11" coolLength="3" [hidden]="pageOffset + 2 >= length(in.cases)">{{in.cases?.[pageOffset + 2]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 40%; width: 35%; height: 4%;" coolCol="22"
     coolRow="11" coolLength="28" [hidden]="pageOffset + 2 >= length(in.cases)">{{in.cases?.[pageOffset + 2]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 40%; width: 35%; height: 4%;" coolCol="51"
     coolRow="11" coolLength="28" [hidden]="pageOffset + 2 >= length(in.cases)">{{in.cases?.[pageOffset + 2]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_12_3"
     [(ngModel)]="ref(in.cases, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 3 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 44%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="10" [hidden]="pageOffset + 3 >= length(in.cases)">{{in.cases?.[pageOffset + 3]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 44%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="12" coolLength="3" [hidden]="pageOffset + 3 >= length(in.cases)">{{in.cases?.[pageOffset + 3]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 44%; width: 35%; height: 4%;" coolCol="22"
     coolRow="12" coolLength="28" [hidden]="pageOffset + 3 >= length(in.cases)">{{in.cases?.[pageOffset + 3]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 44%; width: 35%; height: 4%;" coolCol="51"
     coolRow="12" coolLength="28" [hidden]="pageOffset + 3 >= length(in.cases)">{{in.cases?.[pageOffset + 3]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.cases, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 4 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 48%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="10" [hidden]="pageOffset + 4 >= length(in.cases)">{{in.cases?.[pageOffset + 4]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 48%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="13" coolLength="3" [hidden]="pageOffset + 4 >= length(in.cases)">{{in.cases?.[pageOffset + 4]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 48%; width: 35%; height: 4%;" coolCol="22"
     coolRow="13" coolLength="28" [hidden]="pageOffset + 4 >= length(in.cases)">{{in.cases?.[pageOffset + 4]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 48%; width: 35%; height: 4%;" coolCol="51"
     coolRow="13" coolLength="28" [hidden]="pageOffset + 4 >= length(in.cases)">{{in.cases?.[pageOffset + 4]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.cases, pageOffset + 5, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 5]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 5 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 52%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="10" [hidden]="pageOffset + 5 >= length(in.cases)">{{in.cases?.[pageOffset + 5]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 52%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="14" coolLength="3" [hidden]="pageOffset + 5 >= length(in.cases)">{{in.cases?.[pageOffset + 5]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 52%; width: 35%; height: 4%;" coolCol="22"
     coolRow="14" coolLength="28" [hidden]="pageOffset + 5 >= length(in.cases)">{{in.cases?.[pageOffset + 5]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 52%; width: 35%; height: 4%;" coolCol="51"
     coolRow="14" coolLength="28" [hidden]="pageOffset + 5 >= length(in.cases)">{{in.cases?.[pageOffset + 5]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.cases, pageOffset + 6, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 6]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 6 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 56%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="10" [hidden]="pageOffset + 6 >= length(in.cases)">{{in.cases?.[pageOffset + 6]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 56%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 6 >= length(in.cases)">{{in.cases?.[pageOffset + 6]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 56%; width: 35%; height: 4%;" coolCol="22"
     coolRow="15" coolLength="28" [hidden]="pageOffset + 6 >= length(in.cases)">{{in.cases?.[pageOffset + 6]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 56%; width: 35%; height: 4%;" coolCol="51"
     coolRow="15" coolLength="28" [hidden]="pageOffset + 6 >= length(in.cases)">{{in.cases?.[pageOffset + 6]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_16_3"
     [(ngModel)]="ref(in.cases, pageOffset + 7, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 7]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 7 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 60%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="10" [hidden]="pageOffset + 7 >= length(in.cases)">{{in.cases?.[pageOffset + 7]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 60%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="16" coolLength="3" [hidden]="pageOffset + 7 >= length(in.cases)">{{in.cases?.[pageOffset + 7]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 60%; width: 35%; height: 4%;" coolCol="22"
     coolRow="16" coolLength="28" [hidden]="pageOffset + 7 >= length(in.cases)">{{in.cases?.[pageOffset + 7]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 60%; width: 35%; height: 4%;" coolCol="51"
     coolRow="16" coolLength="28" [hidden]="pageOffset + 7 >= length(in.cases)">{{in.cases?.[pageOffset + 7]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_17_3"
     [(ngModel)]="ref(in.cases, pageOffset + 8, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 8]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 8 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 64%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="10" [hidden]="pageOffset + 8 >= length(in.cases)">{{in.cases?.[pageOffset + 8]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 64%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="17" coolLength="3" [hidden]="pageOffset + 8 >= length(in.cases)">{{in.cases?.[pageOffset + 8]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 64%; width: 35%; height: 4%;" coolCol="22"
     coolRow="17" coolLength="28" [hidden]="pageOffset + 8 >= length(in.cases)">{{in.cases?.[pageOffset + 8]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 64%; width: 35%; height: 4%;" coolCol="51"
     coolRow="17" coolLength="28" [hidden]="pageOffset + 8 >= length(in.cases)">{{in.cases?.[pageOffset + 8]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_18_3"
     [(ngModel)]="ref(in.cases, pageOffset + 9, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 9]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 9 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="10" [hidden]="pageOffset + 9 >= length(in.cases)">{{in.cases?.[pageOffset + 9]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 68%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="18" coolLength="3" [hidden]="pageOffset + 9 >= length(in.cases)">{{in.cases?.[pageOffset + 9]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 68%; width: 35%; height: 4%;" coolCol="22"
     coolRow="18" coolLength="28" [hidden]="pageOffset + 9 >= length(in.cases)">{{in.cases?.[pageOffset + 9]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 68%; width: 35%; height: 4%;" coolCol="51"
     coolRow="18" coolLength="28" [hidden]="pageOffset + 9 >= length(in.cases)">{{in.cases?.[pageOffset + 9]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_19_3"
     [(ngModel)]="ref(in.cases, pageOffset + 10, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 10]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 10 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 72%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="19" coolLength="10" [hidden]="pageOffset + 10 >= length(in.cases)">{{in.cases?.[pageOffset + 10]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 72%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="19" coolLength="3" [hidden]="pageOffset + 10 >= length(in.cases)">{{in.cases?.[pageOffset + 10]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 72%; width: 35%; height: 4%;" coolCol="22"
     coolRow="19" coolLength="28" [hidden]="pageOffset + 10 >= length(in.cases)">{{in.cases?.[pageOffset + 10]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 72%; width: 35%; height: 4%;" coolCol="51"
     coolRow="19" coolLength="28" [hidden]="pageOffset + 10 >= length(in.cases)">{{in.cases?.[pageOffset + 10]?.csePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_20_3"
     [(ngModel)]="ref(in.cases, pageOffset + 11, 'common.selectChar').value"
     [coolVideo]="out.cases?.[pageOffset + 11]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 11 >= length(in.cases)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 76%; width: 12.5%; height: 4%;" coolCol="6"
     coolRow="20" coolLength="10" [hidden]="pageOffset + 11 >= length(in.cases)">{{in.cases?.[pageOffset + 11]?.case1.number}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 20%; top: 76%; width: 3.75%; height: 4%;" coolCol="17"
     coolRow="20" coolLength="3" [hidden]="pageOffset + 11 >= length(in.cases)">{{in.cases?.[pageOffset + 11]?.detailOffice.systemGeneratedId|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 76%; width: 35%; height: 4%;" coolCol="22"
     coolRow="20" coolLength="28" [hidden]="pageOffset + 11 >= length(in.cases)">{{in.cases?.[pageOffset + 11]?.textWorkArea.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 76%; width: 35%; height: 4%;" coolCol="51"
     coolRow="20" coolLength="28" [hidden]="pageOffset + 11 >= length(in.cases)">{{in.cases?.[pageOffset + 11]?.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 93.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="75">PF KEY:  1 Help  2 Disp  3 Exit  4 List  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 12.5%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="10">12 Signoff</div>
   
   <div coolType="literal"
     style="left: 25%; top: 92%; width: 8.75%; height: 4%;" coolCol="21"
     coolRow="24" coolLength="7">15 COMP</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="COMP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=COMP</a>
   </div>