<!--Name: LE_LTRB_LIST_TRIBUNALS, ID: 371964622, model: 746-->
<div coolContent coolName="LE_LTRB_LIST_TRIBUNALS" coolType="SCREEN"
  (coolInit)="scrollSize = 112; pageSize = 7">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 31.25%; top: 0; width: 33.75%; height: 4%;" coolCol="26"
     coolRow="1" coolLength="27">CSE - List Tribunals - LTRB</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 8%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="3" coolLength="5" coolColor="white">State</div>
   <input type="text" coolType="field" name="field_3_10"
     [(ngModel)]="in.searchFips.stateAbbreviation"
     [coolVideo]="out.searchFips.screenField?.stateAbbreviation" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 11.25%; top: 8%; width: 2.5%; height: 4%;" coolCol="10"
     coolRow="3" coolLength="2">
   <input type="text" coolType="field" name="field_3_13"
     [(ngModel)]="in.promptState.selectChar"
     [coolVideo]="out.promptState.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 15%; top: 8%; width: 1.25%; height: 4%;"
     coolCol="13" coolRow="3" coolLength="1">
   
   <div coolType="prompt"
     style="left: 21.25%; top: 8%; width: 18.75%; height: 4%;" coolCol="18"
     coolRow="3" coolLength="15">Starting County</div>
   <input type="text" coolType="field" name="field_3_36"
     [(ngModel)]="in.searchFips.countyDescription"
     [coolVideo]="out.searchFips.screenField?.countyDescription" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="20"
     style="left: 43.75%; top: 8%; width: 25%; height: 4%;" coolCol="36"
     coolRow="3" coolLength="20">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 8.75%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="7" coolColor="white">Country</div>
   <input type="text" coolType="field" name="field_4_10"
     [(ngModel)]="in.fipsTribAddress.country"
     [coolVideo]="out.fipsTribAddress.screenField?.country" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 11.25%; top: 12%; width: 2.5%; height: 4%;" coolCol="10"
     coolRow="4" coolLength="2">
   <input type="text" coolType="field" name="field_4_13"
     [(ngModel)]="in.promptCountry.selectChar"
     [coolVideo]="out.promptCountry.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 15%; top: 12%; width: 1.25%; height: 4%;"
     coolCol="13" coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 21.25%; top: 12%; width: 21.25%; height: 4%;" coolCol="18"
     coolRow="4" coolLength="17">Starting District</div>
   <input type="text" coolType="field" name="field_4_36"
     [(ngModel)]="in.searchTribunal.judicialDistrict"
     [coolVideo]="out.searchTribunal.screenField?.judicialDistrict" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="5"
     style="left: 43.75%; top: 12%; width: 6.25%; height: 4%;" coolCol="36"
     coolRow="4" coolLength="5">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 12%; width: 21.25%; height: 4%;" coolCol="44"
     coolRow="4" coolLength="17">Starting Division</div>
   <input type="text" coolType="field" name="field_4_62"
     [(ngModel)]="in.searchTribunal.judicialDivision"
     [coolVideo]="out.searchTribunal.screenField?.judicialDivision" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="6"
     style="left: 76.25%; top: 12%; width: 7.5%; height: 4%;" coolCol="62"
     coolRow="4" coolLength="6">
   
   <div coolType="literal"
     style="left: 76.25%; top: 16%; width: 10%; height: 4%;" coolCol="62"
     coolRow="5" coolLength="8">Judicial</div>
   
   <div coolType="literal"
     style="left: 88.75%; top: 16%; width: 10%; height: 4%;" coolCol="72"
     coolRow="5" coolLength="8">Judicial</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 20%; width: 13.75%; height: 4%;" coolCol="6"
     coolRow="6" coolLength="11">Tribunal ID</div>
   
   <div coolType="prompt"
     style="left: 22.5%; top: 20%; width: 16.25%; height: 4%;" coolCol="19"
     coolRow="6" coolLength="13" coolColor="white">Tribunal Name</div>
   
   <div coolType="prompt"
     style="left: 62.5%; top: 20%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="6" coolLength="9">FIPS Code</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 20%; width: 10%; height: 4%;" coolCol="62"
     coolRow="6" coolLength="8">District</div>
   
   <div coolType="prompt"
     style="left: 88.75%; top: 20%; width: 10%; height: 4%;" coolCol="72"
     coolRow="6" coolLength="8">Division</div>
   <input type="text" coolType="field" name="field_7_3"
     [(ngModel)]="ref(in.tribunals, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.tribunals?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="1" [hidden]="pageOffset >= length(in.tribunals)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 7.5%; top: 24%; width: 11.25%; height: 4%;" coolCol="7"
     coolRow="7" coolLength="9" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.tribunal.identifier|coolNumber:'000000000;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 24%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="7" coolLength="30" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.tribunal.name}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 24%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="7" coolLength="2" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.fips.state|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 66.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="54"
     coolRow="7" coolLength="3" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.fips.county|coolNumber:'000;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 71.25%; top: 24%; width: 2.5%; height: 4%;" coolCol="58"
     coolRow="7" coolLength="2" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.fips.location|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 24%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="7" coolLength="5" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.tribunal.judicialDistrict}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 24%; width: 7.5%; height: 4%;" coolCol="72"
     coolRow="7" coolLength="6" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.tribunal.judicialDivision}}</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 28%; width: 7.5%; height: 4%;" coolCol="12"
     coolRow="8" coolLength="6">County</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 28%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="8" coolLength="2" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.fips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 28%; width: 25%; height: 4%;" coolCol="22"
     coolRow="8" coolLength="20" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.fips.countyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 52.5%; top: 28%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="8" coolLength="6">Tax ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 28%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="8" coolLength="9" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.tribunal.taxId}}</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 28%; width: 16.25%; height: 4%;" coolCol="62"
     coolRow="8" coolLength="13">Tax ID Suffix</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 28%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="8" coolLength="2" [hidden]="pageOffset >= length(in.tribunals)">{{in.tribunals?.[pageOffset]?.tribunal.taxIdSuffix}}</div>
   <input type="text" coolType="field" name="field_9_3"
     [(ngModel)]="ref(in.tribunals, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.tribunals?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="1"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 7.5%; top: 32%; width: 11.25%; height: 4%;" coolCol="7"
     coolRow="9" coolLength="9"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.tribunal.identifier|coolNumber:'000000000;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 32%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="9" coolLength="30"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.tribunal.name}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 32%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="9" coolLength="2"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.fips.state|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 66.25%; top: 32%; width: 3.75%; height: 4%;" coolCol="54"
     coolRow="9" coolLength="3"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.fips.county|coolNumber:'000;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 71.25%; top: 32%; width: 2.5%; height: 4%;" coolCol="58"
     coolRow="9" coolLength="2"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.fips.location|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 32%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="9" coolLength="5"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.tribunal.judicialDistrict}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 32%; width: 7.5%; height: 4%;" coolCol="72"
     coolRow="9" coolLength="6"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.tribunal.judicialDivision}}</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 36%; width: 7.5%; height: 4%;" coolCol="12"
     coolRow="10" coolLength="6">County</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 36%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="10" coolLength="2"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.fips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 36%; width: 25%; height: 4%;" coolCol="22"
     coolRow="10" coolLength="20"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.fips.countyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 52.5%; top: 36%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="10" coolLength="6">Tax ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 36%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="10" coolLength="9"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.tribunal.taxId}}</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 36%; width: 16.25%; height: 4%;" coolCol="62"
     coolRow="10" coolLength="13">Tax ID Suffix</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 36%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="10" coolLength="2"
     [hidden]="pageOffset + 1 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 1]?.tribunal.taxIdSuffix}}</div>
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.tribunals, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.tribunals?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 7.5%; top: 40%; width: 11.25%; height: 4%;" coolCol="7"
     coolRow="11" coolLength="9"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.tribunal.identifier|coolNumber:'000000000;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 40%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="30"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.tribunal.name}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 40%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="11" coolLength="2"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.fips.state|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 66.25%; top: 40%; width: 3.75%; height: 4%;" coolCol="54"
     coolRow="11" coolLength="3"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.fips.county|coolNumber:'000;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 71.25%; top: 40%; width: 2.5%; height: 4%;" coolCol="58"
     coolRow="11" coolLength="2"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.fips.location|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 40%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="11" coolLength="5"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.tribunal.judicialDistrict}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 40%; width: 7.5%; height: 4%;" coolCol="72"
     coolRow="11" coolLength="6"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.tribunal.judicialDivision}}</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 44%; width: 7.5%; height: 4%;" coolCol="12"
     coolRow="12" coolLength="6">County</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 44%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="12" coolLength="2"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.fips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 44%; width: 25%; height: 4%;" coolCol="22"
     coolRow="12" coolLength="20"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.fips.countyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 52.5%; top: 44%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="12" coolLength="6">Tax ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 44%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="12" coolLength="9"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.tribunal.taxId}}</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 44%; width: 16.25%; height: 4%;" coolCol="62"
     coolRow="12" coolLength="13">Tax ID Suffix</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 44%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="12" coolLength="2"
     [hidden]="pageOffset + 2 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 2]?.tribunal.taxIdSuffix}}</div>
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.tribunals, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.tribunals?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 7.5%; top: 48%; width: 11.25%; height: 4%;" coolCol="7"
     coolRow="13" coolLength="9"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.tribunal.identifier|coolNumber:'000000000;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 48%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="30"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.tribunal.name}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 48%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="13" coolLength="2"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.fips.state|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 66.25%; top: 48%; width: 3.75%; height: 4%;" coolCol="54"
     coolRow="13" coolLength="3"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.fips.county|coolNumber:'000;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 71.25%; top: 48%; width: 2.5%; height: 4%;" coolCol="58"
     coolRow="13" coolLength="2"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.fips.location|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 48%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="13" coolLength="5"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.tribunal.judicialDistrict}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 48%; width: 7.5%; height: 4%;" coolCol="72"
     coolRow="13" coolLength="6"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.tribunal.judicialDivision}}</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 52%; width: 7.5%; height: 4%;" coolCol="12"
     coolRow="14" coolLength="6">County</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 52%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="14" coolLength="2"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.fips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 52%; width: 25%; height: 4%;" coolCol="22"
     coolRow="14" coolLength="20"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.fips.countyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 52.5%; top: 52%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="14" coolLength="6">Tax ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 52%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="14" coolLength="9"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.tribunal.taxId}}</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 52%; width: 16.25%; height: 4%;" coolCol="62"
     coolRow="14" coolLength="13">Tax ID Suffix</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 52%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="14" coolLength="2"
     [hidden]="pageOffset + 3 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 3]?.tribunal.taxIdSuffix}}</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.tribunals, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.tribunals?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 7.5%; top: 56%; width: 11.25%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="9"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.tribunal.identifier|coolNumber:'000000000;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 56%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="15" coolLength="30"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.tribunal.name}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 56%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="15" coolLength="2"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.fips.state|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 66.25%; top: 56%; width: 3.75%; height: 4%;" coolCol="54"
     coolRow="15" coolLength="3"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.fips.county|coolNumber:'000;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 71.25%; top: 56%; width: 2.5%; height: 4%;" coolCol="58"
     coolRow="15" coolLength="2"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.fips.location|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 56%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="15" coolLength="5"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.tribunal.judicialDistrict}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 56%; width: 7.5%; height: 4%;" coolCol="72"
     coolRow="15" coolLength="6"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.tribunal.judicialDivision}}</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 60%; width: 7.5%; height: 4%;" coolCol="12"
     coolRow="16" coolLength="6">County</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 60%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="16" coolLength="2"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.fips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 60%; width: 25%; height: 4%;" coolCol="22"
     coolRow="16" coolLength="20"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.fips.countyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 52.5%; top: 60%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="16" coolLength="6">Tax ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 60%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="16" coolLength="9"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.tribunal.taxId}}</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 60%; width: 16.25%; height: 4%;" coolCol="62"
     coolRow="16" coolLength="13">Tax ID Suffix</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 60%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="16" coolLength="2"
     [hidden]="pageOffset + 4 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 4]?.tribunal.taxIdSuffix}}</div>
   <input type="text" coolType="field" name="field_17_3"
     [(ngModel)]="ref(in.tribunals, pageOffset + 5, 'common.selectChar').value"
     [coolVideo]="out.tribunals?.[pageOffset + 5]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="1"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 7.5%; top: 64%; width: 11.25%; height: 4%;" coolCol="7"
     coolRow="17" coolLength="9"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.tribunal.identifier|coolNumber:'000000000;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 64%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="17" coolLength="30"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.tribunal.name}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 64%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="17" coolLength="2"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.fips.state|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 66.25%; top: 64%; width: 3.75%; height: 4%;" coolCol="54"
     coolRow="17" coolLength="3"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.fips.county|coolNumber:'000;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 71.25%; top: 64%; width: 2.5%; height: 4%;" coolCol="58"
     coolRow="17" coolLength="2"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.fips.location|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 64%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="17" coolLength="5"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.tribunal.judicialDistrict}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 64%; width: 7.5%; height: 4%;" coolCol="72"
     coolRow="17" coolLength="6"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.tribunal.judicialDivision}}</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 68%; width: 7.5%; height: 4%;" coolCol="12"
     coolRow="18" coolLength="6">County</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 68%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="18" coolLength="2"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.fips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 68%; width: 25%; height: 4%;" coolCol="22"
     coolRow="18" coolLength="20"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.fips.countyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 52.5%; top: 68%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="18" coolLength="6">Tax ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 68%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="18" coolLength="9"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.tribunal.taxId}}</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 68%; width: 16.25%; height: 4%;" coolCol="62"
     coolRow="18" coolLength="13">Tax ID Suffix</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 68%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="18" coolLength="2"
     [hidden]="pageOffset + 5 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 5]?.tribunal.taxIdSuffix}}</div>
   <input type="text" coolType="field" name="field_19_3"
     [(ngModel)]="ref(in.tribunals, pageOffset + 6, 'common.selectChar').value"
     [coolVideo]="out.tribunals?.[pageOffset + 6]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="19" coolLength="1"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 7.5%; top: 72%; width: 11.25%; height: 4%;" coolCol="7"
     coolRow="19" coolLength="9"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.tribunal.identifier|coolNumber:'000000000;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 72%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="19" coolLength="30"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.tribunal.name}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 72%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="19" coolLength="2"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.fips.state|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 66.25%; top: 72%; width: 3.75%; height: 4%;" coolCol="54"
     coolRow="19" coolLength="3"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.fips.county|coolNumber:'000;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 71.25%; top: 72%; width: 2.5%; height: 4%;" coolCol="58"
     coolRow="19" coolLength="2"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.fips.location|coolNumber:'00;#':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 72%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="19" coolLength="5"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.tribunal.judicialDistrict}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 72%; width: 7.5%; height: 4%;" coolCol="72"
     coolRow="19" coolLength="6"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.tribunal.judicialDivision}}</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 76%; width: 7.5%; height: 4%;" coolCol="12"
     coolRow="20" coolLength="6">County</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 76%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="20" coolLength="2"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.fips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 76%; width: 25%; height: 4%;" coolCol="22"
     coolRow="20" coolLength="20"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.fips.countyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 52.5%; top: 76%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="20" coolLength="6">Tax ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 76%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="20" coolLength="9"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.tribunal.taxId}}</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 76%; width: 16.25%; height: 4%;" coolCol="62"
     coolRow="20" coolLength="13">Tax ID Suffix</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 76%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="20" coolLength="2"
     [hidden]="pageOffset + 6 >= length(in.tribunals)">{{in.tribunals?.[pageOffset + 6]?.tribunal.taxIdSuffix}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 93.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="75">PF KEY:  1 Help  2 Disp  3 Exit  4 List  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 36.25%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="29">12 Signoff  15 TRIB  24 Print</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="TRIB" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=TRIB</a>
   <a coolType="action" coolCommand="PRINT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F12">F24=PRINT</a>
   </div>