<!--Name: LE_OBLG_ADMIN_ACTIONS_BY_OBLIGN, ID: 372599646, model: 746-->
<div coolContent coolName="LE_OBLG_ADMIN_ACTIONS_BY_OBLIGN" coolType="SCREEN"
  (coolInit)="scrollSize = 100; pageSize = 10">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 15%; top: 0; width: 68.75%; height: 4%;"
     coolCol="13" coolRow="1" coolLength="55">CSE - Administrative Actions Taken by Obligation - OBLG</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 3.75%; top: 8%; width: 16.25%; height: 4%;" coolCol="4"
     coolRow="3" coolLength="13">CSE Person No</div>
   <input type="text" coolType="field" name="field_3_18"
     [(ngModel)]="in.csePersonsWorkSet.number"
     [coolVideo]="out.csePersonsWorkSet.screenField?.number" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 21.25%; top: 8%; width: 12.5%; height: 4%;" coolCol="18"
     coolRow="3" coolLength="10">
   
   <div coolType="prompt"
     style="left: 36.25%; top: 8%; width: 3.75%; height: 4%;" coolCol="30"
     coolRow="3" coolLength="3" coolColor="white">SSN</div>
   <input type="text" coolType="field" name="field_3_34"
     [(ngModel)]="in.ssnWorkArea.ssnNumPart1"
     [coolVideo]="out.ssnWorkArea.screenField?.ssnNumPart1" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 41.25%; top: 8%; width: 3.75%; height: 4%;" coolCol="34"
     coolRow="3" coolLength="3">
   <input type="text" coolType="field" name="field_3_38"
     [(ngModel)]="in.ssnWorkArea.ssnNumPart2"
     [coolVideo]="out.ssnWorkArea.screenField?.ssnNumPart2" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 46.25%; top: 8%; width: 2.5%; height: 4%;" coolCol="38"
     coolRow="3" coolLength="2">
   <input type="text" coolType="field" name="field_3_41"
     [(ngModel)]="in.ssnWorkArea.ssnNumPart3"
     [coolVideo]="out.ssnWorkArea.screenField?.ssnNumPart3" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 50%; top: 8%; width: 5%; height: 4%;" coolCol="41" coolRow="3"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 8%; width: 41.25%; height: 4%;" coolCol="47"
     coolRow="3" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 3.75%; top: 12%; width: 37.5%; height: 4%;" coolCol="4"
     coolRow="4" coolLength="30">List Manual or Automatic (M/A)</div>
   <input type="text" coolType="field" name="field_4_35"
     [(ngModel)]="in.listOptAutoManualActs.oneChar"
     [coolVideo]="out.listOptAutoManualActs.screenField?.oneChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 42.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="35"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt" style="left: 51.25%; top: 12%; width: 5%; height: 4%;"
     coolCol="42" coolRow="4" coolLength="4">Type</div>
   <input type="text" coolType="field" name="field_4_47"
     [(ngModel)]="in.required.type1"
     [coolVideo]="out.required.screenField?.type1" coolAutotab coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 57.5%; top: 12%; width: 5%; height: 4%;" coolCol="47"
     coolRow="4" coolLength="4">
   <input type="text" coolType="field" name="field_4_52"
     [(ngModel)]="in.promptAdminActType.promptField"
     [coolVideo]="out.promptAdminActType.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 63.75%; top: 12%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 3.75%; top: 16%; width: 31.25%; height: 4%;" coolCol="4"
     coolRow="5" coolLength="25">List actions earlier than</div>
   <input type="text" coolType="field" name="field_5_35"
     [(ngModel)]="in.startDate.date"
     [coolVideo]="out.startDate.screenField?.date" coolAutotab coolColor="green"
     coolHighlight="underscore" coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 42.5%; top: 16%; width: 10%; height: 4%;" coolCol="35"
     coolRow="5" coolLength="8">
   
   <div coolType="literal"
     style="left: 1.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="3">Obl</div>
   
   <div coolType="prompt" style="left: 8.75%; top: 20%; width: 20%; height: 4%;"
     coolCol="8" coolRow="6" coolLength="16">Oblig Type, Name</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="3">Nbr</div>
   
   <div coolType="prompt"
     style="left: 8.75%; top: 24%; width: 21.25%; height: 4%;" coolCol="8"
     coolRow="7" coolLength="17">Oblig Description</div>
   <input type="text" coolType="field" name="field_8_2"
     [(ngModel)]="in.obligation.systemGeneratedIdentifier"
     [coolVideo]="out.obligation.screenField?.systemGeneratedIdentifier"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 1.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_6"
     [(ngModel)]="in.listObligations.promptField"
     [coolVideo]="out.listObligations.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 6.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="8" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 28%; width: 8.75%; height: 4%;" coolCol="8"
     coolRow="8" coolLength="7">{{in.obligationType.code}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 28%; width: 50%; height: 4%;" coolCol="16"
     coolRow="8" coolLength="40">{{in.obligationType.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 32%; width: 90%; height: 4%;" coolCol="8"
     coolRow="9" coolLength="72">{{in.obligation.description}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="3">Sel</div>
   
   <div coolType="prompt" style="left: 7.5%; top: 36%; width: 5%; height: 4%;"
     coolCol="7" coolRow="10" coolLength="4">Type</div>
   
   <div coolType="prompt" style="left: 17.5%; top: 36%; width: 5%; height: 4%;"
     coolCol="15" coolRow="10" coolLength="4">Date</div>
   
   <div coolType="prompt"
     style="left: 31.25%; top: 36%; width: 7.5%; height: 4%;" coolCol="26"
     coolRow="10" coolLength="6">Amount</div>
   
   <div coolType="prompt"
     style="left: 41.25%; top: 36%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="10" coolLength="9">Amt(NADC)</div>
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.selOpt, pageOffset, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 40%; width: 5%; height: 4%;" coolCol="7"
     coolRow="11" coolLength="4" [hidden]="pageOffset >= length(in.adminAction)">{{in.adminAction?.[pageOffset]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 40%; width: 10%; height: 4%;" coolCol="13"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= length(in.adminAction)">{{in.adminAction?.[pageOffset]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 40%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="11" coolLength="9" [hidden]="pageOffset >= length(in.adminAction)">{{in.adminAction?.[pageOffset]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 40%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="11" coolLength="9" [hidden]="pageOffset >= length(in.adminAction)">{{in.adminAction?.[pageOffset]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_12_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 1, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 1]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 44%; width: 5%; height: 4%;" coolCol="7"
     coolRow="12" coolLength="4"
     [hidden]="pageOffset + 1 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 1]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 44%; width: 10%; height: 4%;" coolCol="13"
     coolRow="12" coolLength="8"
     [hidden]="pageOffset + 1 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 1]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 44%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="12" coolLength="9"
     [hidden]="pageOffset + 1 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 1]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 44%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="12" coolLength="9"
     [hidden]="pageOffset + 1 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 1]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 2, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 2]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 48%; width: 5%; height: 4%;" coolCol="7"
     coolRow="13" coolLength="4"
     [hidden]="pageOffset + 2 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 2]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 48%; width: 10%; height: 4%;" coolCol="13"
     coolRow="13" coolLength="8"
     [hidden]="pageOffset + 2 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 2]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 48%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="13" coolLength="9"
     [hidden]="pageOffset + 2 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 2]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 48%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="13" coolLength="9"
     [hidden]="pageOffset + 2 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 2]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 3, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 3]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 52%; width: 5%; height: 4%;" coolCol="7"
     coolRow="14" coolLength="4"
     [hidden]="pageOffset + 3 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 3]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 52%; width: 10%; height: 4%;" coolCol="13"
     coolRow="14" coolLength="8"
     [hidden]="pageOffset + 3 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 3]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 52%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="14" coolLength="9"
     [hidden]="pageOffset + 3 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 3]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 52%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="14" coolLength="9"
     [hidden]="pageOffset + 3 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 3]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 4, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 4]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 56%; width: 5%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="4"
     [hidden]="pageOffset + 4 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 4]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 56%; width: 10%; height: 4%;" coolCol="13"
     coolRow="15" coolLength="8"
     [hidden]="pageOffset + 4 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 4]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 56%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="15" coolLength="9"
     [hidden]="pageOffset + 4 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 4]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 56%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="15" coolLength="9"
     [hidden]="pageOffset + 4 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 4]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_16_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 5, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 5]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 60%; width: 5%; height: 4%;" coolCol="7"
     coolRow="16" coolLength="4"
     [hidden]="pageOffset + 5 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 5]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 60%; width: 10%; height: 4%;" coolCol="13"
     coolRow="16" coolLength="8"
     [hidden]="pageOffset + 5 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 5]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 60%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="16" coolLength="9"
     [hidden]="pageOffset + 5 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 5]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 60%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="16" coolLength="9"
     [hidden]="pageOffset + 5 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 5]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_17_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 6, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 6]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 64%; width: 5%; height: 4%;" coolCol="7"
     coolRow="17" coolLength="4"
     [hidden]="pageOffset + 6 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 6]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 64%; width: 10%; height: 4%;" coolCol="13"
     coolRow="17" coolLength="8"
     [hidden]="pageOffset + 6 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 6]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 64%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="17" coolLength="9"
     [hidden]="pageOffset + 6 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 6]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 64%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="17" coolLength="9"
     [hidden]="pageOffset + 6 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 6]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_18_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 7, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 7]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 68%; width: 5%; height: 4%;" coolCol="7"
     coolRow="18" coolLength="4"
     [hidden]="pageOffset + 7 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 7]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 68%; width: 10%; height: 4%;" coolCol="13"
     coolRow="18" coolLength="8"
     [hidden]="pageOffset + 7 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 7]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 68%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="18" coolLength="9"
     [hidden]="pageOffset + 7 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 7]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 68%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="18" coolLength="9"
     [hidden]="pageOffset + 7 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 7]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_19_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 8, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 8]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 72%; width: 5%; height: 4%;" coolCol="7"
     coolRow="19" coolLength="4"
     [hidden]="pageOffset + 8 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 8]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 72%; width: 10%; height: 4%;" coolCol="13"
     coolRow="19" coolLength="8"
     [hidden]="pageOffset + 8 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 8]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 72%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="19" coolLength="9"
     [hidden]="pageOffset + 8 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 8]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 72%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="19" coolLength="9"
     [hidden]="pageOffset + 8 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 8]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   <input type="text" coolType="field" name="field_20_3"
     [(ngModel)]="ref(in.selOpt, pageOffset + 9, 'detailSelOpt.selectChar').value"
     [coolVideo]="out.selOpt?.[pageOffset + 9]?.detailSelOpt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= length(in.selOpt)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 76%; width: 5%; height: 4%;" coolCol="7"
     coolRow="20" coolLength="4"
     [hidden]="pageOffset + 9 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 9]?.detailAdministrativeAction.type1}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 76%; width: 10%; height: 4%;" coolCol="13"
     coolRow="20" coolLength="8"
     [hidden]="pageOffset + 9 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 9]?.detailAdministrativeActCertification.currentAmountDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 27.5%; top: 76%; width: 11.25%; height: 4%;" coolCol="23"
     coolRow="20" coolLength="9"
     [hidden]="pageOffset + 9 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 9]?.detailAdministrativeActCertification.currentAmount|coolNumber:'########0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="green"
     style="left: 41.25%; top: 76%; width: 11.25%; height: 4%;" coolCol="34"
     coolRow="20" coolLength="9"
     [hidden]="pageOffset + 9 >= length(in.adminAction)">{{in.adminAction?.[pageOffset + 9]?.detailFederalDebtSetoff.nonAdcAmount|coolNumber:'#########;#':1}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 93.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="75">PF KEY:  1 Help  2 Disp  3 Exit  4 List  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 26.25%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="21">12 SignOff  15 Detail</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="DETAIL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=DETAIL</a>
   </div>