<!--Name: OE_CAL3_CALCULATE_WKSHEET_PAGE_3, ID: 371397373, model: 746-->
<div coolContent coolName="OE_CAL3_CALCULATE_WKSHEET_PAGE_3" coolType="SCREEN">
   <div coolType="field" coolColor="cyan" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 18.75%; top: 0; width: 60%; height: 4%;"
     coolCol="16" coolRow="1" coolLength="48" coolColor="white">CSE - WORKSHEET CALCULATOR - WORK  Screen 3 of 3</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 8%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="3" coolLength="6">In The</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     coolUpper style="left: 10%; top: 8%; width: 6.25%; height: 4%;" coolCol="9"
     coolRow="3" coolLength="5">{{in.tribunal.judicialDistrict}}</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 8%; width: 42.5%; height: 4%;" coolCol="15"
     coolRow="3" coolLength="34">Judicial District, District Court,</div>
   
   <div coolType="field" coolColor="cyan" coolIntensity="high" coolUpper
     style="left: 61.25%; top: 8%; width: 18.75%; height: 4%;" coolCol="50"
     coolRow="3" coolLength="15">{{in.county.textLength16}}</div>
   
   <div coolType="literal"
     style="left: 81.25%; top: 8%; width: 17.5%; height: 4%;" coolCol="66"
     coolRow="3" coolLength="14">County, Kansas</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 10%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="8">Case   #</div>
   
   <div coolType="field" coolColor="cyan" coolIntensity="high" coolUpper
     style="left: 12.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="4" coolLength="10">{{in.case1.number}}</div>
   
   <div coolType="prompt" style="left: 35%; top: 12%; width: 12.5%; height: 4%;"
     coolCol="29" coolRow="4" coolLength="10" coolColor="white">Parent A #</div>
   
   <div coolType="field" coolColor="cyan" coolIntensity="high" coolUpper
     style="left: 48.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="40"
     coolRow="4" coolLength="10">{{in.parentACsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolIntensity="high" coolUpper
     style="left: 62.5%; top: 12%; width: 37.5%; height: 4%;" coolCol="51"
     coolRow="4" coolLength="30">{{in.parentAName.formattedNameText}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 16%; width: 10%; height: 4%;"
     coolCol="2" coolRow="5" coolLength="8">Ct Ord #</div>
   
   <div coolType="field" coolColor="cyan" coolIntensity="high" coolUpper
     style="left: 12.5%; top: 16%; width: 21.25%; height: 4%;" coolCol="11"
     coolRow="5" coolLength="17">{{in.legalAction.courtCaseNumber}}</div>
   
   <div coolType="prompt" style="left: 35%; top: 16%; width: 12.5%; height: 4%;"
     coolCol="29" coolRow="5" coolLength="10" coolColor="white">Parent B #</div>
   
   <div coolType="field" coolColor="cyan" coolIntensity="high" coolUpper
     style="left: 48.75%; top: 16%; width: 12.5%; height: 4%;" coolCol="40"
     coolRow="5" coolLength="10">{{in.parentBCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolIntensity="high" coolUpper
     style="left: 62.5%; top: 16%; width: 37.5%; height: 4%;" coolCol="51"
     coolRow="5" coolLength="30">{{in.parentBName.formattedNameText}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 24%; width: 31.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="25" coolColor="white" coolHighlight="underscore">CHILD SUPPORT ADJUSTMENTS</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 28%; width: 23.75%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="19" coolColor="white">Applicable Category</div>
   
   <div coolType="literal"
     style="left: 68.75%; top: 28%; width: 17.5%; height: 4%;" coolCol="56"
     coolRow="8" coolLength="14" coolColor="white" coolHighlight="underscore">Amount Allowed</div>
   
   <div coolType="literal"
     style="left: 62.5%; top: 32%; width: 10%; height: 4%;" coolCol="51"
     coolRow="9" coolLength="8" coolColor="white">PARENT A</div>
   
   <div coolType="literal"
     style="left: 83.75%; top: 32%; width: 10%; height: 4%;" coolCol="68"
     coolRow="9" coolLength="8" coolColor="white">PARENT B</div>
   
   <div coolType="literal"
     style="left: 5%; top: 36%; width: 33.75%; height: 4%;" coolCol="5"
     coolRow="10" coolLength="27" coolColor="white">Long Dist. Visitation Costs</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 36%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="10" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_10_51"
     [(ngModel)]="ref(in.import1, 0, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[0]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_10_51 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8" style="left: 62.5%; top: 36%; width: 10%; height: 4%;"
     coolCol="51" coolRow="10" coolLength="8">
   
   <div coolType="literal"
     style="left: 75%; top: 36%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="10" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_10_68"
     [(ngModel)]="ref(in.import1, 0, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[0]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_10_68 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8"
     style="left: 83.75%; top: 36%; width: 10%; height: 4%;" coolCol="68"
     coolRow="10" coolLength="8">
   
   <div coolType="literal"
     style="left: 5%; top: 40%; width: 26.25%; height: 4%;" coolCol="5"
     coolRow="11" coolLength="21" coolColor="white">Visitation Adjustment</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 40%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="11" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_11_51"
     [(ngModel)]="ref(in.import1, 1, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[1]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_11_51 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8" style="left: 62.5%; top: 40%; width: 10%; height: 4%;"
     coolCol="51" coolRow="11" coolLength="8">
   
   <div coolType="literal"
     style="left: 75%; top: 40%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="11" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_11_68"
     [(ngModel)]="ref(in.import1, 1, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[1]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_11_68 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8"
     style="left: 83.75%; top: 40%; width: 10%; height: 4%;" coolCol="68"
     coolRow="11" coolLength="8">
   
   <div coolType="literal" style="left: 5%; top: 44%; width: 30%; height: 4%;"
     coolCol="5" coolRow="12" coolLength="24" coolColor="white">Income Tax Consideration</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 44%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="12" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_12_51"
     [(ngModel)]="ref(in.import1, 2, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[2]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_12_51 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8" style="left: 62.5%; top: 44%; width: 10%; height: 4%;"
     coolCol="51" coolRow="12" coolLength="8">
   
   <div coolType="literal"
     style="left: 75%; top: 44%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="12" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_12_68"
     [(ngModel)]="ref(in.import1, 2, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[2]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_12_68 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8"
     style="left: 83.75%; top: 44%; width: 10%; height: 4%;" coolCol="68"
     coolRow="12" coolLength="8">
   
   <div coolType="literal"
     style="left: 5%; top: 48%; width: 16.25%; height: 4%;" coolCol="5"
     coolRow="13" coolLength="13" coolColor="white">Special Needs</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 48%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="13" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_13_51"
     [(ngModel)]="ref(in.import1, 3, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[3]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_13_51 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8" style="left: 62.5%; top: 48%; width: 10%; height: 4%;"
     coolCol="51" coolRow="13" coolLength="8">
   
   <div coolType="literal"
     style="left: 75%; top: 48%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="13" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_13_68"
     [(ngModel)]="ref(in.import1, 3, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[3]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_13_68 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8"
     style="left: 83.75%; top: 48%; width: 10%; height: 4%;" coolCol="68"
     coolRow="13" coolLength="8">
   
   <div coolType="literal"
     style="left: 5%; top: 52%; width: 28.75%; height: 4%;" coolCol="5"
     coolRow="14" coolLength="23" coolColor="white">Agreement Past Minority</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 52%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="14" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_14_51"
     [(ngModel)]="ref(in.import1, 4, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[4]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_14_51 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8" style="left: 62.5%; top: 52%; width: 10%; height: 4%;"
     coolCol="51" coolRow="14" coolLength="8">
   
   <div coolType="literal"
     style="left: 75%; top: 52%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="14" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_14_68"
     [(ngModel)]="ref(in.import1, 4, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[4]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_14_68 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8"
     style="left: 83.75%; top: 52%; width: 10%; height: 4%;" coolCol="68"
     coolRow="14" coolLength="8">
   
   <div coolType="literal"
     style="left: 5%; top: 56%; width: 33.75%; height: 4%;" coolCol="5"
     coolRow="15" coolLength="27" coolColor="white">Overall Financial Condition</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 56%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="15" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_15_51"
     [(ngModel)]="ref(in.import1, 5, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[5]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_15_51 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8" style="left: 62.5%; top: 56%; width: 10%; height: 4%;"
     coolCol="51" coolRow="15" coolLength="8">
   
   <div coolType="literal"
     style="left: 75%; top: 56%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="15" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_15_68"
     [(ngModel)]="ref(in.import1, 5, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[5]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_15_68 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8"
     style="left: 83.75%; top: 56%; width: 10%; height: 4%;" coolCol="68"
     coolRow="15" coolLength="8">
   
   <div coolType="literal"
     style="left: 5%; top: 60%; width: 31.25%; height: 4%;" coolCol="5"
     coolRow="16" coolLength="25" coolColor="white">Deviation from Guidelines</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 60%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="16" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_16_51"
     [(ngModel)]="ref(in.import1, 6, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[6]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_16_51 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8" style="left: 62.5%; top: 60%; width: 10%; height: 4%;"
     coolCol="51" coolRow="16" coolLength="8">
   
   <div coolType="literal"
     style="left: 75%; top: 60%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="16" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_16_68"
     [(ngModel)]="ref(in.import1, 6, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[6]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_16_68 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="######0;-#" coolBlankWhenZero
     [attr.maxlength]="8"
     style="left: 83.75%; top: 60%; width: 10%; height: 4%;" coolCol="68"
     coolRow="16" coolLength="8">
   
   <div coolType="literal"
     style="left: 8.75%; top: 64%; width: 46.25%; height: 4%;" coolCol="8"
     coolRow="17" coolLength="37" coolColor="white">Total Adjustments from all Categories</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 62.5%; top: 64%; width: 10%; height: 4%;" coolCol="51"
     coolRow="17" coolLength="8">{{in.parentAE7F2TotAdjust.totalCurrency|coolNumber:'######0;-#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 83.75%; top: 64%; width: 10%; height: 4%;" coolCol="68"
     coolRow="17" coolLength="8">{{in.parentBE7F2TotAdjust.totalCurrency|coolNumber:'######0;-#':1}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 72%; width: 58.75%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="47" coolColor="white" coolHighlight="underscore">DEVIATION(S) FROM REBUTTABLE PRESUMPTION AMOUNT</div>
   
   <div coolType="literal"
     style="left: 5%; top: 76%; width: 46.25%; height: 4%;" coolCol="5"
     coolRow="20" coolLength="37" coolColor="white">Net Parental Child Support Obligation</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 63.75%; top: 76%; width: 8.75%; height: 4%;" coolCol="52"
     coolRow="20" coolLength="7">{{in.parentAD9F1NetCs.totalCurrency|coolNumber:'######0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 85%; top: 76%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="20" coolLength="7">{{in.parentBD9F1NetCs.totalCurrency|coolNumber:'######0;#':0}}</div>
   
   <div coolType="literal"
     style="left: 5%; top: 80%; width: 38.75%; height: 4%;" coolCol="5"
     coolRow="21" coolLength="31" coolColor="white">Total Child Support Adjustments</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 80%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="21" coolLength="5" coolColor="white">(+/-)</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 62.5%; top: 80%; width: 10%; height: 4%;" coolCol="51"
     coolRow="21" coolLength="8">{{in.parentAF2TotalCsAdj.totalCurrency|coolNumber:'######0;-#':1}}</div>
   
   <div coolType="literal"
     style="left: 75%; top: 80%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="21" coolLength="5" coolColor="white">(+/-)</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 83.75%; top: 80%; width: 10%; height: 4%;" coolCol="68"
     coolRow="21" coolLength="8">{{in.parentBF2TotalCsAdj.totalCurrency|coolNumber:'######0;-#':1}}</div>
   
   <div coolType="literal"
     style="left: 5%; top: 84%; width: 41.25%; height: 4%;" coolCol="5"
     coolRow="22" coolLength="33" coolColor="white">Adjusted Child Support Obligation</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 63.75%; top: 84%; width: 8.75%; height: 4%;" coolCol="52"
     coolRow="22" coolLength="7">{{in.parentAF3AdjCsOblig.totalCurrency|coolNumber:'######0;#':0}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolIntensity="high"
     style="left: 85%; top: 84%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="22" coolLength="7">{{in.parentBF3AdjCsOblig.totalCurrency|coolNumber:'######0;#':0}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="79"
     style="left: 0; top: 88%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 78.75%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="63" coolColor="white">PF Keys :  1 Help  7 Prev  8 Next  12 Sign Off  Enter Calculate</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>