<!--Name: OE_FACL_KS_CORRECTIONAL_FACILITY, ID: 374582416, model: 746-->
<div coolContent coolName="OE_FACL_KS_CORRECTIONAL_FACILITY" coolType="SCREEN"
  (coolInit)="scrollSize = 4; pageSize = 4">
   <div coolType="field" coolColor="cyan" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 26.25%; top: 0; width: 37.5%; height: 4%;" coolCol="22"
     coolRow="1" coolLength="30" coolColor="white">CORRECTIONAL FACILITIES - FACL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 47.5%; top: 8%; width: 5%; height: 4%;"
     coolCol="39" coolRow="3" coolLength="4">City</div>
   <input type="text" coolType="field" name="field_3_44"
     [(ngModel)]="in.filter.city" [coolVideo]="out.filter.screenField?.city"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 53.75%; top: 8%; width: 18.75%; height: 4%;" coolCol="44"
     coolRow="3" coolLength="15">
   
   <div coolType="prompt"
     style="left: 73.75%; top: 8%; width: 6.25%; height: 4%;" coolCol="60"
     coolRow="3" coolLength="5">State</div>
   <input type="text" coolType="field" name="field_3_66"
     [(ngModel)]="in.filter.state" [coolVideo]="out.filter.screenField?.state"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 81.25%; top: 8%; width: 2.5%; height: 4%;" coolCol="66"
     coolRow="3" coolLength="2">
   <input type="text" coolType="field" name="field_3_69"
     [(ngModel)]="in.filterStatePrompt.flag"
     [coolVideo]="out.filterStatePrompt.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 85%; top: 8%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="3" coolLength="1">
   
   <div coolType="literal"
     style="left: 2.5%; top: 12%; width: 3.75%; height: 4%;" coolCol="3"
     coolRow="4" coolLength="3" coolColor="white">Sel</div>
   <input type="text" coolType="field" name="field_5_4"
     [(ngModel)]="ref(in.import1, pageOffset, 'selChar.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.selChar.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="5" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_5_7"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.jailName').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.jailName"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 7.5%; top: 16%; width: 41.25%; height: 4%;" coolCol="7"
     coolRow="5" coolLength="33" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_6_7"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.street1').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.street1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 7.5%; top: 20%; width: 31.25%; height: 4%;" coolCol="7"
     coolRow="6" coolLength="25" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_6_34"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.street2').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.street2"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 41.25%; top: 20%; width: 31.25%; height: 4%;" coolCol="34"
     coolRow="6" coolLength="25" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_7"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.city').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.city"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 7.5%; top: 24%; width: 18.75%; height: 4%;" coolCol="7"
     coolRow="7" coolLength="15" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_23"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.state').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.state"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 27.5%; top: 24%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="2" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_26"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailStatePrompt.flag').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailStatePrompt.screenField?.flag"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 24%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="7" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_29"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.zipCode5').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.zipCode5"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5" style="left: 35%; top: 24%; width: 6.25%; height: 4%;"
     coolCol="29" coolRow="7" coolLength="5"
     [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_36"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.zipCode4').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.zipCode4"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 43.75%; top: 24%; width: 5%; height: 4%;"
     coolCol="36" coolRow="7" coolLength="4"
     [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 24%; width: 8.75%; height: 4%;" coolCol="44"
     coolRow="7" coolLength="7">Phone #</div>
   <input type="text" coolType="field" name="field_7_52"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.phoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.phoneAreaCode"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 63.75%; top: 24%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="7" coolLength="3" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_56"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.phone').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.phone"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000000;#" coolBlankWhenZero [attr.maxlength]="7"
     style="left: 68.75%; top: 24%; width: 8.75%; height: 4%;" coolCol="56"
     coolRow="7" coolLength="7" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_64"
     [(ngModel)]="ref(in.import1, pageOffset, 'detail.phoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset]?.detail.screenField?.phoneExtension"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5"
     style="left: 78.75%; top: 24%; width: 6.25%; height: 4%;" coolCol="64"
     coolRow="7" coolLength="5" [hidden]="pageOffset >= length(in.import1)">
   <input type="text" coolType="field" name="field_9_4"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'selChar.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.selChar.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_9_7"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.jailName').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.jailName"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 7.5%; top: 32%; width: 41.25%; height: 4%;" coolCol="7"
     coolRow="9" coolLength="33" [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_10_7"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.street1').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.street1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 7.5%; top: 36%; width: 31.25%; height: 4%;" coolCol="7"
     coolRow="10" coolLength="25"
     [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_10_34"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.street2').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.street2"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 41.25%; top: 36%; width: 31.25%; height: 4%;" coolCol="34"
     coolRow="10" coolLength="25"
     [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_7"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.city').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.city"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 7.5%; top: 40%; width: 18.75%; height: 4%;" coolCol="7"
     coolRow="11" coolLength="15"
     [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_23"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.state').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.state"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 27.5%; top: 40%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="11" coolLength="2" [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_26"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailStatePrompt.flag').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailStatePrompt.screenField?.flag"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_29"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.zipCode5').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.zipCode5"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5" style="left: 35%; top: 40%; width: 6.25%; height: 4%;"
     coolCol="29" coolRow="11" coolLength="5"
     [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_36"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.zipCode4').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.zipCode4"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 43.75%; top: 40%; width: 5%; height: 4%;"
     coolCol="36" coolRow="11" coolLength="4"
     [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 40%; width: 8.75%; height: 4%;" coolCol="44"
     coolRow="11" coolLength="7">Phone #</div>
   <input type="text" coolType="field" name="field_11_52"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.phoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.phoneAreaCode"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 63.75%; top: 40%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="11" coolLength="3" [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_56"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.phone').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.phone"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000000;#" coolBlankWhenZero [attr.maxlength]="7"
     style="left: 68.75%; top: 40%; width: 8.75%; height: 4%;" coolCol="56"
     coolRow="11" coolLength="7" [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_64"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detail.phoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detail.screenField?.phoneExtension"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5"
     style="left: 78.75%; top: 40%; width: 6.25%; height: 4%;" coolCol="64"
     coolRow="11" coolLength="5" [hidden]="pageOffset + 1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_13_4"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'selChar.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.selChar.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_13_7"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.jailName').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.jailName"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 7.5%; top: 48%; width: 41.25%; height: 4%;" coolCol="7"
     coolRow="13" coolLength="33"
     [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_14_7"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.street1').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.street1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 7.5%; top: 52%; width: 31.25%; height: 4%;" coolCol="7"
     coolRow="14" coolLength="25"
     [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_14_34"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.street2').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.street2"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 41.25%; top: 52%; width: 31.25%; height: 4%;" coolCol="34"
     coolRow="14" coolLength="25"
     [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_7"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.city').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.city"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 7.5%; top: 56%; width: 18.75%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="15"
     [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_23"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.state').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.state"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 27.5%; top: 56%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="15" coolLength="2" [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_26"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailStatePrompt.flag').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailStatePrompt.screenField?.flag"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_29"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.zipCode5').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.zipCode5"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5" style="left: 35%; top: 56%; width: 6.25%; height: 4%;"
     coolCol="29" coolRow="15" coolLength="5"
     [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_36"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.zipCode4').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.zipCode4"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 43.75%; top: 56%; width: 5%; height: 4%;"
     coolCol="36" coolRow="15" coolLength="4"
     [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 56%; width: 8.75%; height: 4%;" coolCol="44"
     coolRow="15" coolLength="7">Phone #</div>
   <input type="text" coolType="field" name="field_15_52"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.phoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.phoneAreaCode"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 63.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_56"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.phone').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.phone"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000000;#" coolBlankWhenZero [attr.maxlength]="7"
     style="left: 68.75%; top: 56%; width: 8.75%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="7" [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_64"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detail.phoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detail.screenField?.phoneExtension"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5"
     style="left: 78.75%; top: 56%; width: 6.25%; height: 4%;" coolCol="64"
     coolRow="15" coolLength="5" [hidden]="pageOffset + 2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_17_4"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'selChar.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.selChar.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_17_7"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.jailName').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.jailName"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 7.5%; top: 64%; width: 41.25%; height: 4%;" coolCol="7"
     coolRow="17" coolLength="33"
     [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_18_7"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.street1').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.street1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 7.5%; top: 68%; width: 31.25%; height: 4%;" coolCol="7"
     coolRow="18" coolLength="25"
     [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_18_34"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.street2').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.street2"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="25"
     style="left: 41.25%; top: 68%; width: 31.25%; height: 4%;" coolCol="34"
     coolRow="18" coolLength="25"
     [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_19_7"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.city').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.city"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 7.5%; top: 72%; width: 18.75%; height: 4%;" coolCol="7"
     coolRow="19" coolLength="15"
     [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_19_23"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.state').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.state"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 27.5%; top: 72%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="19" coolLength="2" [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_19_26"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailStatePrompt.flag').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailStatePrompt.screenField?.flag"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_19_29"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.zipCode5').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.zipCode5"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5" style="left: 35%; top: 72%; width: 6.25%; height: 4%;"
     coolCol="29" coolRow="19" coolLength="5"
     [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_19_36"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.zipCode4').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.zipCode4"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 43.75%; top: 72%; width: 5%; height: 4%;"
     coolCol="36" coolRow="19" coolLength="4"
     [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 72%; width: 8.75%; height: 4%;" coolCol="44"
     coolRow="19" coolLength="7">Phone #</div>
   <input type="text" coolType="field" name="field_19_52"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.phoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.phoneAreaCode"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 63.75%; top: 72%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="19" coolLength="3" [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_19_56"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.phone').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.phone"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000000;#" coolBlankWhenZero [attr.maxlength]="7"
     style="left: 68.75%; top: 72%; width: 8.75%; height: 4%;" coolCol="56"
     coolRow="19" coolLength="7" [hidden]="pageOffset + 3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_19_64"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detail.phoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detail.screenField?.phoneExtension"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5"
     style="left: 78.75%; top: 72%; width: 6.25%; height: 4%;" coolCol="64"
     coolRow="19" coolLength="5" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 87.5%; top: 80%; width: 11.25%; height: 4%;" coolCol="71"
     coolRow="21" coolLength="9">{{in.scrollIndicator.text9}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="79"
     style="left: 0; top: 84%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 97.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="78">PF Keys  :  1 Help  2 Display  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 12.5%; top: 92%; width: 55%; height: 4%;" coolCol="11"
     coolRow="24" coolLength="44">  9 Return  10 Delete  11 Clear  12 Sign Off</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT1" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT1</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>