<!--Name: OE_FCRP_PROACTIVE_MATCH_RESPONSE, ID: 373543760, model: 746-->
<div coolContent coolName="OE_FCRP_PROACTIVE_MATCH_RESPONSE" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 28.75%; top: 0; width: 50%; height: 4%;"
     coolCol="24" coolRow="1" coolLength="40">CSE - FCR- Proactive Match Response-FCRP</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 8%; width: 7.5%; height: 4%;"
     coolCol="2" coolRow="3" coolLength="6">Person</div>
   <input type="text" coolType="field" name="field_3_9"
     [(ngModel)]="in.startingCsePerson.number"
     [coolVideo]="out.startingCsePerson.screenField?.number" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 10%; top: 8%; width: 12.5%; height: 4%;"
     coolCol="9" coolRow="3" coolLength="10">
   
   <div coolType="prompt" style="left: 23.75%; top: 8%; width: 5%; height: 4%;"
     coolCol="20" coolRow="3" coolLength="4">Case</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 8%; width: 12.5%; height: 4%;" coolCol="25"
     coolRow="3" coolLength="10" [hidden]="!length(in.cases)">{{in.cases?.[0]?.g.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 8%; width: 12.5%; height: 4%;" coolCol="36"
     coolRow="3" coolLength="10" [hidden]="1 >= length(in.cases)">{{in.cases?.[1]?.g.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 8%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="3" coolLength="10" [hidden]="2 >= length(in.cases)">{{in.cases?.[2]?.g.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 71.25%; top: 8%; width: 12.5%; height: 4%;" coolCol="58"
     coolRow="3" coolLength="10" [hidden]="3 >= length(in.cases)">{{in.cases?.[3]?.g.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 8%; width: 12.5%; height: 4%;" coolCol="69"
     coolRow="3" coolLength="10" [hidden]="4 >= length(in.cases)">{{in.cases?.[4]?.g.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 12%; width: 12.5%; height: 4%;" coolCol="25"
     coolRow="4" coolLength="10" [hidden]="5 >= length(in.cases)">{{in.cases?.[5]?.g.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="36"
     coolRow="4" coolLength="10" [hidden]="6 >= length(in.cases)">{{in.cases?.[6]?.g.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="4" coolLength="10" [hidden]="7 >= length(in.cases)">{{in.cases?.[7]?.g.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 71.25%; top: 12%; width: 12.5%; height: 4%;" coolCol="58"
     coolRow="4" coolLength="10" [hidden]="8 >= length(in.cases)">{{in.cases?.[8]?.g.number}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="6">State:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 16%; width: 25%; height: 4%;" coolCol="9"
     coolRow="5" coolLength="20">{{in.fips.stateDescription}}</div>
   
   <div coolType="prompt"
     style="left: 38.75%; top: 16%; width: 8.75%; height: 4%;" coolCol="32"
     coolRow="5" coolLength="7">Reason:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 16%; width: 37.5%; height: 4%;" coolCol="40"
     coolRow="5" coolLength="30">{{in.message.text30}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 8.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="7">County:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 20%; width: 25%; height: 4%;" coolCol="10"
     coolRow="6" coolLength="20">{{in.fips.countyDescription}}</div>
   
   <div coolType="prompt"
     style="left: 38.75%; top: 20%; width: 11.25%; height: 4%;" coolCol="32"
     coolRow="6" coolLength="9">Received:</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 51.25%; top: 20%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="6" coolLength="10">{{in.fcrProactiveMatchResponse.dateReceived|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 20%; width: 13.75%; height: 4%;" coolCol="54"
     coolRow="6" coolLength="11">Registered:</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 81.25%; top: 20%; width: 12.5%; height: 4%;" coolCol="66"
     coolRow="6" coolLength="10">{{in.fcrProactiveMatchResponse.matchedFcrCaseRegDate|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="5">Case:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 24%; width: 18.75%; height: 4%;" coolCol="8"
     coolRow="7" coolLength="15">{{in.fcrProactiveMatchResponse.matchedCaseId}}</div>
   
   <div coolType="prompt"
     style="left: 38.75%; top: 24%; width: 15%; height: 4%;" coolCol="32"
     coolRow="7" coolLength="12">Court Order:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 55%; top: 24%; width: 1.25%; height: 4%;" coolCol="45"
     coolRow="7" coolLength="1">{{in.fcrProactiveMatchResponse.matchedCaseOrderInd}}</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 24%; width: 6.25%; height: 4%;" coolCol="54"
     coolRow="7" coolLength="5">Type:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 73.75%; top: 24%; width: 10%; height: 4%;" coolCol="60"
     coolRow="7" coolLength="8">{{in.caseType.text8}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 32%; width: 2.5%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="2">RL</div>
   
   <div coolType="literal" style="left: 5%; top: 32%; width: 3.75%; height: 4%;"
     coolCol="5" coolRow="9" coolLength="3">SSN</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 32%; width: 38.75%; height: 4%;" coolCol="15"
     coolRow="9" coolLength="31">Matched Person's Name &amp; Aliases</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 32%; width: 18.75%; height: 4%;" coolCol="54"
     coolRow="9" coolLength="15">Other State's #</div>
   
   <div coolType="literal"
     style="left: 87.5%; top: 32%; width: 10%; height: 4%;" coolCol="71"
     coolRow="9" coolLength="8">Kansas #</div>
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="in.matchedPersonWorkArea.text2"
     [coolVideo]="out.matchedPersonWorkArea.screenField?.text2" coolAutotab
     coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 1.25%; top: 36%; width: 2.5%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="2">
   <input type="text" coolType="field" name="field_10_5"
     [(ngModel)]="in.matchedPersonCsePersonsWorkSet.ssn"
     [coolVideo]="out.matchedPersonCsePersonsWorkSet.screenField?.ssn"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="9"
     style="left: 5%; top: 36%; width: 11.25%; height: 4%;" coolCol="5"
     coolRow="10" coolLength="9">
   <input type="text" coolType="field" name="field_10_15"
     [(ngModel)]="in.matchedPersonCsePersonsWorkSet.formattedName"
     [coolVideo]="out.matchedPersonCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 17.5%; top: 36%; width: 41.25%; height: 4%;" coolCol="15"
     coolRow="10" coolLength="33">
   <input type="text" coolType="field" name="field_10_54"
     [(ngModel)]="in.matchedPersonFcrProactiveMatchResponse.matchedMemberId"
     [coolVideo]="out.matchedPersonFcrProactiveMatchResponse.screenField?.matchedMemberId"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="15"
     style="left: 66.25%; top: 36%; width: 18.75%; height: 4%;" coolCol="54"
     coolRow="10" coolLength="15">
   <input type="text" coolType="field" name="field_10_70"
     [(ngModel)]="in.matchedPersonCsePerson.number"
     [coolVideo]="out.matchedPersonCsePerson.screenField?.number" coolAutotab
     coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 86.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="70"
     coolRow="10" coolLength="10">
   <input type="text" coolType="field" name="field_11_15"
     [(ngModel)]="ref(in.matchedPersonAliases, 0, 'galiases.formattedName').value"
     [coolVideo]="out.matchedPersonAliases?.[0]?.galiases.screenField?.formattedName"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="32"
     style="left: 17.5%; top: 40%; width: 40%; height: 4%;" coolCol="15"
     coolRow="11" coolLength="32" [hidden]="!length(in.matchedPersonAliases)">
   <input type="text" coolType="field" name="field_11_48"
     [(ngModel)]="ref(in.matchedPersonAliases, 1, 'galiases.formattedName').value"
     [coolVideo]="out.matchedPersonAliases?.[1]?.galiases.screenField?.formattedName"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="32"
     style="left: 58.75%; top: 40%; width: 40%; height: 4%;" coolCol="48"
     coolRow="11" coolLength="32"
     [hidden]="1 >= length(in.matchedPersonAliases)">
   <input type="text" coolType="field" name="field_12_15"
     [(ngModel)]="ref(in.matchedPersonAliases, 2, 'galiases.formattedName').value"
     [coolVideo]="out.matchedPersonAliases?.[2]?.galiases.screenField?.formattedName"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="32"
     style="left: 17.5%; top: 44%; width: 40%; height: 4%;" coolCol="15"
     coolRow="12" coolLength="32"
     [hidden]="2 >= length(in.matchedPersonAliases)">
   <input type="text" coolType="field" name="field_12_48"
     [(ngModel)]="ref(in.matchedPersonAliases, 3, 'galiases.formattedName').value"
     [coolVideo]="out.matchedPersonAliases?.[3]?.galiases.screenField?.formattedName"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="32"
     style="left: 58.75%; top: 44%; width: 40%; height: 4%;" coolCol="48"
     coolRow="12" coolLength="32"
     [hidden]="3 >= length(in.matchedPersonAliases)">
   
   <div coolType="literal"
     style="left: 1.25%; top: 48%; width: 2.5%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="2">RL</div>
   
   <div coolType="literal" style="left: 5%; top: 48%; width: 3.75%; height: 4%;"
     coolCol="5" coolRow="13" coolLength="3">SSN</div>
   
   <div coolType="prompt" style="left: 17.5%; top: 48%; width: 30%; height: 4%;"
     coolCol="15" coolRow="13" coolLength="24">Associated Person's Name</div>
   
   <div coolType="literal"
     style="left: 50%; top: 48%; width: 3.75%; height: 4%;" coolCol="41"
     coolRow="13" coolLength="3">Sex</div>
   
   <div coolType="literal"
     style="left: 56.25%; top: 48%; width: 3.75%; height: 4%;" coolCol="46"
     coolRow="13" coolLength="3">DOB</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 48%; width: 18.75%; height: 4%;" coolCol="54"
     coolRow="13" coolLength="15">Other State's #</div>
   
   <div coolType="prompt" style="left: 87.5%; top: 48%; width: 10%; height: 4%;"
     coolCol="71" coolRow="13" coolLength="8">Kansas #</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.associatedPersons, 0, 'groleAssociated.text2').value"
     [coolVideo]="out.associatedPersons?.[0]?.groleAssociated.screenField?.text2"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 1.25%; top: 52%; width: 2.5%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="2" [hidden]="!length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_14_5"
     [(ngModel)]="ref(in.associatedPersons, 0, 'gassociatedCsePersonsWorkSet.ssn').value"
     [coolVideo]="out.associatedPersons?.[0]?.gassociatedCsePersonsWorkSet.screenField?.ssn"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="9"
     style="left: 5%; top: 52%; width: 11.25%; height: 4%;" coolCol="5"
     coolRow="14" coolLength="9" [hidden]="!length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_14_15"
     [(ngModel)]="ref(in.associatedPersons, 0, 'gassociatedCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.associatedPersons?.[0]?.gassociatedCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 17.5%; top: 52%; width: 41.25%; height: 4%;" coolCol="15"
     coolRow="14" coolLength="33" [hidden]="!length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_14_54"
     [(ngModel)]="ref(in.associatedPersons, 0, 'gassociatedFcrProactiveMatchResponse.matchedMemberId').value"
     [coolVideo]="out.associatedPersons?.[0]?.gassociatedFcrProactiveMatchResponse.screenField?.matchedMemberId"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="15"
     style="left: 66.25%; top: 52%; width: 18.75%; height: 4%;" coolCol="54"
     coolRow="14" coolLength="15" [hidden]="!length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_14_70"
     [(ngModel)]="ref(in.associatedPersons, 0, 'gassociatedCsePerson.number').value"
     [coolVideo]="out.associatedPersons?.[0]?.gassociatedCsePerson.screenField?.number"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 86.25%; top: 52%; width: 12.5%; height: 4%;" coolCol="70"
     coolRow="14" coolLength="10" [hidden]="!length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_15_42"
     [(ngModel)]="ref(in.associatedPersons, 0, 'gassociatedCsePersonsWorkSet.sex').value"
     [coolVideo]="out.associatedPersons?.[0]?.gassociatedCsePersonsWorkSet.screenField?.sex"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="1"
     style="left: 51.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="42"
     coolRow="15" coolLength="1" [hidden]="!length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_15_44"
     [(ngModel)]="ref(in.associatedPersons, 0, 'gassociatedCsePersonsWorkSet.dob').value"
     [coolVideo]="out.associatedPersons?.[0]?.gassociatedCsePersonsWorkSet.screenField?.dob"
     coolAutotab coolColor="cyan" coolDate="MM-dd-yyyy" [attr.maxlength]="10"
     style="left: 53.75%; top: 56%; width: 12.5%; height: 4%;" coolCol="44"
     coolRow="15" coolLength="10" [hidden]="!length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.associatedPersons, 1, 'groleAssociated.text2').value"
     [coolVideo]="out.associatedPersons?.[1]?.groleAssociated.screenField?.text2"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 1.25%; top: 60%; width: 2.5%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="2" [hidden]="1 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_16_5"
     [(ngModel)]="ref(in.associatedPersons, 1, 'gassociatedCsePersonsWorkSet.ssn').value"
     [coolVideo]="out.associatedPersons?.[1]?.gassociatedCsePersonsWorkSet.screenField?.ssn"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="9"
     style="left: 5%; top: 60%; width: 11.25%; height: 4%;" coolCol="5"
     coolRow="16" coolLength="9" [hidden]="1 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_16_15"
     [(ngModel)]="ref(in.associatedPersons, 1, 'gassociatedCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.associatedPersons?.[1]?.gassociatedCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 17.5%; top: 60%; width: 41.25%; height: 4%;" coolCol="15"
     coolRow="16" coolLength="33" [hidden]="1 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_16_54"
     [(ngModel)]="ref(in.associatedPersons, 1, 'gassociatedFcrProactiveMatchResponse.matchedMemberId').value"
     [coolVideo]="out.associatedPersons?.[1]?.gassociatedFcrProactiveMatchResponse.screenField?.matchedMemberId"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="15"
     style="left: 66.25%; top: 60%; width: 18.75%; height: 4%;" coolCol="54"
     coolRow="16" coolLength="15" [hidden]="1 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_16_70"
     [(ngModel)]="ref(in.associatedPersons, 1, 'gassociatedCsePerson.number').value"
     [coolVideo]="out.associatedPersons?.[1]?.gassociatedCsePerson.screenField?.number"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 86.25%; top: 60%; width: 12.5%; height: 4%;" coolCol="70"
     coolRow="16" coolLength="10" [hidden]="1 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_17_42"
     [(ngModel)]="ref(in.associatedPersons, 1, 'gassociatedCsePersonsWorkSet.sex').value"
     [coolVideo]="out.associatedPersons?.[1]?.gassociatedCsePersonsWorkSet.screenField?.sex"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="1"
     style="left: 51.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="42"
     coolRow="17" coolLength="1" [hidden]="1 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_17_44"
     [(ngModel)]="ref(in.associatedPersons, 1, 'gassociatedCsePersonsWorkSet.dob').value"
     [coolVideo]="out.associatedPersons?.[1]?.gassociatedCsePersonsWorkSet.screenField?.dob"
     coolAutotab coolColor="cyan" coolDate="MM-dd-yyyy" [attr.maxlength]="10"
     style="left: 53.75%; top: 64%; width: 12.5%; height: 4%;" coolCol="44"
     coolRow="17" coolLength="10" [hidden]="1 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.associatedPersons, 2, 'groleAssociated.text2').value"
     [coolVideo]="out.associatedPersons?.[2]?.groleAssociated.screenField?.text2"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 1.25%; top: 68%; width: 2.5%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="2" [hidden]="2 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_18_5"
     [(ngModel)]="ref(in.associatedPersons, 2, 'gassociatedCsePersonsWorkSet.ssn').value"
     [coolVideo]="out.associatedPersons?.[2]?.gassociatedCsePersonsWorkSet.screenField?.ssn"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="9"
     style="left: 5%; top: 68%; width: 11.25%; height: 4%;" coolCol="5"
     coolRow="18" coolLength="9" [hidden]="2 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_18_15"
     [(ngModel)]="ref(in.associatedPersons, 2, 'gassociatedCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.associatedPersons?.[2]?.gassociatedCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 17.5%; top: 68%; width: 41.25%; height: 4%;" coolCol="15"
     coolRow="18" coolLength="33" [hidden]="2 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_18_54"
     [(ngModel)]="ref(in.associatedPersons, 2, 'gassociatedFcrProactiveMatchResponse.matchedMemberId').value"
     [coolVideo]="out.associatedPersons?.[2]?.gassociatedFcrProactiveMatchResponse.screenField?.matchedMemberId"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="15"
     style="left: 66.25%; top: 68%; width: 18.75%; height: 4%;" coolCol="54"
     coolRow="18" coolLength="15" [hidden]="2 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_18_70"
     [(ngModel)]="ref(in.associatedPersons, 2, 'gassociatedCsePerson.number').value"
     [coolVideo]="out.associatedPersons?.[2]?.gassociatedCsePerson.screenField?.number"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 86.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="70"
     coolRow="18" coolLength="10" [hidden]="2 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_19_42"
     [(ngModel)]="ref(in.associatedPersons, 2, 'gassociatedCsePersonsWorkSet.sex').value"
     [coolVideo]="out.associatedPersons?.[2]?.gassociatedCsePersonsWorkSet.screenField?.sex"
     coolAutotab coolColor="cyan" coolUpper [attr.maxlength]="1"
     style="left: 51.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="42"
     coolRow="19" coolLength="1" [hidden]="2 >= length(in.associatedPersons)">
   <input type="text" coolType="field" name="field_19_44"
     [(ngModel)]="ref(in.associatedPersons, 2, 'gassociatedCsePersonsWorkSet.dob').value"
     [coolVideo]="out.associatedPersons?.[2]?.gassociatedCsePersonsWorkSet.screenField?.dob"
     coolAutotab coolColor="cyan" coolDate="MM-dd-yyyy" [attr.maxlength]="10"
     style="left: 53.75%; top: 72%; width: 12.5%; height: 4%;" coolCol="44"
     coolRow="19" coolLength="10" [hidden]="2 >= length(in.associatedPersons)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 1.25%; top: 80%; width: 62.5%; height: 4%;" coolCol="2"
     coolRow="21" coolLength="50">{{in.response.text50}}</div>
   
   <div coolType="literal"
     style="left: 83.75%; top: 80%; width: 5%; height: 4%;" coolCol="68"
     coolRow="21" coolLength="4">More</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 91.25%; top: 80%; width: 1.25%; height: 4%;" coolCol="74"
     coolRow="21" coolLength="1">{{in.scrolling.plusFlag}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 93.75%; top: 80%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="21" coolLength="1">{{in.scrolling.minusFlag}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 85%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="68">PF KEY:1 Help  2 Display 3 Exit 7  Prev  8 Next  11 Clear 12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="ADDR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=ADDR</a>
   <a coolType="action" coolCommand="INCS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=INCS</a>
   <a coolType="action" coolCommand="PAGE_2" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=PAGE_2</a>
   </div>