<!--Name: OE_FIDM_FINANCIAL_DATA_MATCH, ID: 1902618848, model: 746-->
<div coolContent coolName="OE_FIDM_FINANCIAL_DATA_MATCH" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 18.75%; top: 0; width: 56.25%; height: 4%;" coolCol="16"
     coolRow="1" coolLength="45">CSE - Financial Institution Data Match - FIDM</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 10%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="8">Person #</div>
   <input type="text" coolType="field" name="field_4_11"
     [(ngModel)]="in.financialInstitutionDataMatch.csePersonNumber"
     [coolVideo]="out.financialInstitutionDataMatch.screenField?.csePersonNumber"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 12.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="4" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 12%; width: 41.25%; height: 4%;" coolCol="22"
     coolRow="4" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 70%; top: 12%; width: 12.5%; height: 4%;"
     coolCol="57" coolRow="4" coolLength="10">File Date:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 12%; width: 7.5%; height: 4%;" coolCol="68"
     coolRow="4" coolLength="6">{{in.financialInstitutionDataMatch.matchRunDate}}</div>
   
   <div coolType="literal" style="left: 0; top: 16%; width: 26.25%; height: 4%;"
     coolCol="1" coolRow="5" coolLength="21">Financial Institution</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 16%; width: 50%; height: 4%;" coolCol="23"
     coolRow="5" coolLength="40">{{in.financialInstitutionDataMatch.institutionName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 20%; width: 50%; height: 4%;" coolCol="23"
     coolRow="6" coolLength="40">{{in.financialInstitutionDataMatch.secondInstitutionName}}</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 24%; width: 8.75%; height: 4%;" coolCol="15"
     coolRow="7" coolLength="7">Address</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 24%; width: 50%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="40">{{in.financialInstitutionDataMatch.institutionStreetAddress}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 28%; width: 37.5%; height: 4%;" coolCol="23"
     coolRow="8" coolLength="30">{{in.financialInstitutionDataMatch.institutionCity}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 66.25%; top: 28%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="8" coolLength="2">{{in.financialInstitutionDataMatch.institutionState}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 70%; top: 28%; width: 6.25%; height: 4%;" coolCol="57"
     coolRow="8" coolLength="5">{{in.financialInstitutionDataMatch.institutionZipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 28%; width: 5%; height: 4%;" coolCol="63"
     coolRow="8" coolLength="4">{{in.financialInstitutionDataMatch.institutionZip4}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 0; top: 32%; width: 17.5%; height: 4%;" coolCol="1"
     coolRow="9" coolLength="14">{{in.displayStatus1.text30}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="16"
     coolRow="9" coolLength="1">{{in.financialInstitutionDataMatch.accountStatusIndicator}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 32%; width: 18.75%; height: 4%;" coolCol="18"
     coolRow="9" coolLength="15">{{in.displayStatus2.text30}}</div>
   
   <div coolType="prompt"
     style="left: 63.75%; top: 32%; width: 22.5%; height: 4%;" coolCol="52"
     coolRow="9" coolLength="18">Institution Tax ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 87.5%; top: 32%; width: 11.25%; height: 4%;" coolCol="71"
     coolRow="9" coolLength="9">{{in.financialInstitutionDataMatch.institutionTin}}</div>
   
   <div coolType="literal" style="left: 0; top: 36%; width: 17.5%; height: 4%;"
     coolCol="1" coolRow="10" coolLength="14">Account Holder</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 36%; width: 50%; height: 4%;" coolCol="16"
     coolRow="10" coolLength="40">{{in.financialInstitutionDataMatch.matchedPayeeName}}</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 40%; width: 8.75%; height: 4%;" coolCol="8"
     coolRow="11" coolLength="7">Address</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 40%; width: 50%; height: 4%;" coolCol="16"
     coolRow="11" coolLength="40">{{in.financialInstitutionDataMatch.matchedPayeeStreetAddress}}</div>
   
   <div coolType="literal"
     style="left: 70%; top: 40%; width: 17.5%; height: 4%;" coolCol="57"
     coolRow="11" coolLength="14">Name/SSN Match</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 40%; width: 10%; height: 4%;" coolCol="72"
     coolRow="11" coolLength="8">{{in.fidmResourceType.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 44%; width: 37.5%; height: 4%;" coolCol="16"
     coolRow="12" coolLength="30">{{in.financialInstitutionDataMatch.matchedPayeeCity}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 44%; width: 2.5%; height: 4%;" coolCol="47"
     coolRow="12" coolLength="2">{{in.financialInstitutionDataMatch.matchedPayeeState}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 44%; width: 6.25%; height: 4%;" coolCol="50"
     coolRow="12" coolLength="5">{{in.financialInstitutionDataMatch.matchedPayeeZipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 44%; width: 5%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="4">{{in.financialInstitutionDataMatch.matchedPayeeZip4}}</div>
   
   <div coolType="literal"
     style="left: 77.5%; top: 44%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="12" coolLength="15">Foreign Country</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="12" coolLength="1">{{in.foreignCountry.flag}}</div>
   
   <div coolType="prompt" style="left: 0; top: 48%; width: 22.5%; height: 4%;"
     coolCol="1" coolRow="13" coolLength="18">Account Holder SSN</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 48%; width: 13.75%; height: 4%;" coolCol="20"
     coolRow="13" coolLength="11">{{in.financialInstitutionDataMatch.primarySsn|coolString:'XXX XX XXXX'}}</div>
   
   <div coolType="prompt"
     style="left: 38.75%; top: 48%; width: 3.75%; height: 4%;" coolCol="32"
     coolRow="13" coolLength="3">DOB</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 43.75%; top: 48%; width: 10%; height: 4%;" coolCol="36"
     coolRow="13" coolLength="8">{{in.financialInstitutionDataMatch.dateOfBirth|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal"
     style="left: 67.5%; top: 48%; width: 28.75%; height: 4%;" coolCol="55"
     coolRow="13" coolLength="23">Primary/Secondary Owner</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="13" coolLength="1">{{in.primarySecondaryOwner1.selectChar}}</div>
   
   <div coolType="literal" style="left: 0; top: 56%; width: 17.5%; height: 4%;"
     coolCol="1" coolRow="15" coolLength="14">Account Number</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 56%; width: 25%; height: 4%;" coolCol="16"
     coolRow="15" coolLength="20">{{in.financialInstitutionDataMatch.matchedPayeeAccountNumber}}</div>
   
   <div coolType="literal" style="left: 0; top: 60%; width: 15%; height: 4%;"
     coolCol="1" coolRow="16" coolLength="12">Account Type</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 60%; width: 38.75%; height: 4%;" coolCol="16"
     coolRow="16" coolLength="31">{{in.fidmAccountType.description}}</div>
   
   <div coolType="prompt"
     style="left: 60%; top: 60%; width: 18.75%; height: 4%;" coolCol="49"
     coolRow="16" coolLength="15">Account Balance</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 60%; width: 18.75%; height: 4%;" coolCol="65"
     coolRow="16" coolLength="15">{{in.financialInstitutionDataMatch.accountBalance|coolNumber:'###,###,##0.00 ;###,###,##0.00-':1}}</div>
   
   <div coolType="literal" style="left: 0; top: 64%; width: 25%; height: 4%;"
     coolCol="1" coolRow="17" coolLength="20">Trust Fund Indicator</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 64%; width: 32.5%; height: 4%;" coolCol="22"
     coolRow="17" coolLength="26">{{in.fidmTrustFundType.description}}</div>
   
   <div coolType="literal"
     style="left: 72.5%; top: 64%; width: 21.25%; height: 4%;" coolCol="59"
     coolRow="17" coolLength="17">Balance Indicator</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 64%; width: 3.75%; height: 4%;" coolCol="77"
     coolRow="17" coolLength="3">{{in.fidmBalanceIndicator.description}}</div>
   
   <div coolType="prompt" style="left: 0; top: 68%; width: 23.75%; height: 4%;"
     coolCol="1" coolRow="18" coolLength="19">Account Legal Title</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 68%; width: 72.5%; height: 4%;" coolCol="22"
     coolRow="18" coolLength="58">{{in.financialInstitutionDataMatch.accountFullLegalTitle}}</div>
   
   <div coolType="prompt" style="left: 0; top: 72%; width: 25%; height: 4%;"
     coolCol="1" coolRow="19" coolLength="20">Other Account Holder</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 72%; width: 50%; height: 4%;" coolCol="22"
     coolRow="19" coolLength="40">{{in.financialInstitutionDataMatch.secondPayeeName}}</div>
   
   <div coolType="prompt" style="left: 0; top: 76%; width: 30%; height: 4%;"
     coolCol="1" coolRow="20" coolLength="24">Other Account Holder SSN</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 32.5%; top: 76%; width: 13.75%; height: 4%;" coolCol="27"
     coolRow="20" coolLength="11">{{in.financialInstitutionDataMatch.secondPayeeSsn|coolString:'XXX XX XXXX'}}</div>
   
   <div coolType="literal"
     style="left: 67.5%; top: 76%; width: 28.75%; height: 4%;" coolCol="55"
     coolRow="20" coolLength="23">Primary/Secondary Owner</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="20" coolLength="1">{{in.primarySecondaryOwner2.selectChar}}</div>
   
   <div coolType="prompt" style="left: 0; top: 80%; width: 5%; height: 4%;"
     coolCol="1" coolRow="21" coolLength="4">Note</div>
   <input type="text" coolType="field" name="field_21_7"
     [(ngModel)]="in.financialInstitutionDataMatch.note"
     [coolVideo]="out.financialInstitutionDataMatch.screenField?.note"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="65"
     style="left: 7.5%; top: 80%; width: 81.25%; height: 4%;" coolCol="7"
     coolRow="21" coolLength="65">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 97.5%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="78">PF KEY:  1 Help  3 Exit  6 Update  9 Return 12 Signoff 15 ADDR 17 RESL 18 RESO</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="ADDR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=ADDR</a>
   <a coolType="action" coolCommand="RESL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=RESL</a>
   <a coolType="action" coolCommand="RESO" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=RESO</a>
   <a coolType="action" coolCommand="PRINT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F12">F24=PRINT</a>
   </div>