<!--Name: OE_FPLS_PROCESS_FPLS, ID: 372354493, model: 746-->
<div coolContent coolName="OE_FPLS_PROCESS_FPLS" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 32.5%; top: 0; width: 31.25%; height: 4%;" coolCol="27"
     coolRow="1" coolLength="25">CSE - FPLS Process - FPLS</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt" style="left: 22.5%; top: 4%; width: 5%; height: 4%;"
     coolCol="19" coolRow="2" coolLength="4">Case</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.startingCase.number"
     [coolVideo]="out.startingCase.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="literal"
     style="left: 46.25%; top: 4%; width: 31.25%; height: 4%;" coolCol="38"
     coolRow="2" coolLength="25" coolColor="red">POTENTIAL FTI INFORMATION</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 8%; width: 10%; height: 4%;"
     coolCol="2" coolRow="3" coolLength="8">Person #</div>
   <input type="text" coolType="field" name="field_3_11"
     [(ngModel)]="in.startingCsePerson.number"
     [coolVideo]="out.startingCsePerson.screenField?.number" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 12.5%; top: 8%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="3" coolLength="10">
   <input type="text" coolType="field" name="field_3_22"
     [(ngModel)]="in.csePersonPrompt.selectChar"
     [coolVideo]="out.csePersonPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 26.25%; top: 8%; width: 1.25%; height: 4%;" coolCol="22"
     coolRow="3" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 8%; width: 41.25%; height: 4%;" coolCol="24"
     coolRow="3" coolLength="33">{{in.startingCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 71.25%; top: 8%; width: 13.75%; height: 4%;" coolCol="58"
     coolRow="3" coolLength="11">{{in.startingCsePersonsWorkSet.ssn|coolString:'XXX-XX-XXXX'}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="10" coolColor="white">Identifier</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 15%; top: 12%; width: 3.75%; height: 4%;" coolCol="13"
     coolRow="4" coolLength="3">{{in.fplsLocateRequest.identifier|coolNumber:'000;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 22.5%; top: 12%; width: 7.5%; height: 4%;" coolCol="19"
     coolRow="4" coolLength="6" coolColor="white">Status</div>
   <input type="text" coolType="field" name="field_4_26"
     [(ngModel)]="in.fplsLocateRequest.transactionStatus"
     [coolVideo]="out.fplsLocateRequest.screenField?.transactionStatus"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="1"
     style="left: 31.25%; top: 12%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt" style="left: 40%; top: 12%; width: 17.5%; height: 4%;"
     coolCol="33" coolRow="4" coolLength="14">Requested Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 58.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="48"
     coolRow="4" coolLength="10">{{in.dateUpdated.date|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 12%; width: 10%; height: 4%;" coolCol="68"
     coolRow="4" coolLength="8">{{in.updatedBy.createdBy}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 11.25%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="9">Sent Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 15%; top: 16%; width: 12.5%; height: 4%;" coolCol="13"
     coolRow="5" coolLength="10">{{in.fplsLocateRequest.requestSentDate|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 40%; top: 16%; width: 11.25%; height: 4%;" coolCol="33"
     coolRow="5" coolLength="9">Case Type</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 16%; width: 1.25%; height: 4%;" coolCol="43"
     coolRow="5" coolLength="1">{{in.fplsLocateRequest.typeOfCase}}</div>
   
   <div coolType="prompt"
     style="left: 71.25%; top: 16%; width: 22.5%; height: 4%;" coolCol="58"
     coolRow="5" coolLength="18">Send to FPLS (Y/N)</div>
   <input type="text" coolType="field" name="field_5_77"
     [(ngModel)]="in.fplsLocateRequest.usersField"
     [coolVideo]="out.fplsLocateRequest.screenField?.usersField" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 95%; top: 16%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="5" coolLength="1">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="10">Error Code</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 20%; width: 2.5%; height: 4%;" coolCol="13"
     coolRow="6" coolLength="2">{{in.fplsLocateRequest.transactionError}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 18.75%; top: 20%; width: 80%; height: 4%;" coolCol="16"
     coolRow="6" coolLength="64">{{in.errorCodeDesc.description}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 24%; width: 83.75%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="67">------------------------ RESPONSE RECEIVED ------------------------</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 28%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="10" coolColor="white">Identifier</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 15%; top: 28%; width: 3.75%; height: 4%;" coolCol="13"
     coolRow="8" coolLength="3">{{in.fplsLocateResponse.identifier|coolNumber:'000;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 22.5%; top: 28%; width: 16.25%; height: 4%;" coolCol="19"
     coolRow="8" coolLength="13" coolColor="white">Source Agency</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 40%; top: 28%; width: 3.75%; height: 4%;" coolCol="33"
     coolRow="8" coolLength="3">{{in.fplsLocateResponse.agencyCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 28%; width: 42.5%; height: 4%;" coolCol="37"
     coolRow="8" coolLength="34">{{in.fplsAgency.description}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 32%; width: 16.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="13">Date Received</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 22.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="19"
     coolRow="9" coolLength="10">{{in.fplsLocateResponse.dateReceived|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 40%; top: 32%; width: 18.75%; height: 4%;" coolCol="33"
     coolRow="9" coolLength="15">Date Of Address</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 60%; top: 32%; width: 12.5%; height: 4%;" coolCol="49"
     coolRow="9" coolLength="10">{{in.fplsLocateResponse.dateOfAddress|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 32%; width: 15%; height: 4%;" coolCol="60"
     coolRow="9" coolLength="12">IRS Tax Year</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 90%; top: 32%; width: 5%; height: 4%;" coolCol="73"
     coolRow="9" coolLength="4">{{in.fplsLocateResponse.irsTaxYear|coolNumber:'0000;#':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 36%; width: 20%; height: 4%;"
     coolCol="2" coolRow="10" coolLength="16">AP Name Returned</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 36%; width: 62.5%; height: 4%;" coolCol="19"
     coolRow="10" coolLength="50">{{in.fplsLocateResponse.apNameReturned}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 40%; width: 15%; height: 4%;"
     coolCol="2" coolRow="11" coolLength="12">SSN Returned</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 40%; width: 13.75%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="11">{{in.fplsLocateResponse.ssnReturned|coolString:'XXX-XX-XXXX'}}</div>
   
   <div coolType="prompt"
     style="left: 68.75%; top: 40%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="11" coolLength="15" coolColor="white">SESA Wage Claim</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 88.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="72"
     coolRow="11" coolLength="1">{{in.fplsLocateResponse.sesaWageClaimInd}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 44%; width: 20%; height: 4%;"
     coolCol="2" coolRow="12" coolLength="16">Responding State</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 44%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="12" coolLength="2">{{in.fplsLocateResponse.sesaRespondingState}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 44%; width: 25%; height: 4%;" coolCol="22"
     coolRow="12" coolLength="20">{{in.sesaRespondingState.description}}</div>
   
   <div coolType="prompt"
     style="left: 68.75%; top: 44%; width: 16.25%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="13">SESA Wage Amt</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 86.25%; top: 44%; width: 11.25%; height: 4%;" coolCol="70"
     coolRow="12" coolLength="9">{{in.fplsLocateResponse.sesaWageAmount|coolNumber:'######.00;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 48%; width: 16.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="13" coolColor="white">Response Code</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 48%; width: 2.5%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="2">{{in.fplsLocateResponse.responseCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 48%; width: 62.5%; height: 4%;" coolCol="22"
     coolRow="13" coolLength="50">{{in.fplsResp.description}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 52%; width: 20%; height: 4%;"
     coolCol="2" coolRow="14" coolLength="16">Address/Employer</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 52%; width: 48.75%; height: 4%;" coolCol="42"
     coolRow="14" coolLength="39">------- Federal Information -----------</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 56%; width: 48.75%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="39">{{in.fplsAddr?.[0]?.fplsAddrGroupDet.text39}}</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 56%; width: 7.5%; height: 4%;" coolCol="42"
     coolRow="15" coolLength="6">Status</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 56%; width: 31.25%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="25">{{in.dodStatusDesc.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 60%; width: 48.75%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="39">{{in.fplsAddr?.[1]?.fplsAddrGroupDet.text39}}</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 60%; width: 15%; height: 4%;" coolCol="42"
     coolRow="16" coolLength="12">Service Code</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 60%; width: 31.25%; height: 4%;" coolCol="56"
     coolRow="16" coolLength="25">{{in.dodServiceDesc.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 64%; width: 48.75%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="39">{{in.fplsAddr?.[2]?.fplsAddrGroupDet.text39}}</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 64%; width: 10%; height: 4%;" coolCol="42"
     coolRow="17" coolLength="8">Pay Code</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 64%; width: 31.25%; height: 4%;" coolCol="56"
     coolRow="17" coolLength="25">{{in.dodPayGradeDesc.description}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 68%; width: 48.75%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="39">{{in.fplsAddr?.[3]?.fplsAddrGroupDet.text39}}</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 68%; width: 16.25%; height: 4%;" coolCol="42"
     coolRow="18" coolLength="13">Annual Salary</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 68.75%; top: 68%; width: 8.75%; height: 4%;" coolCol="56"
     coolRow="18" coolLength="7">{{in.fplsLocateResponse.dodAnnualSalary|coolNumber:'###,##0;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 72%; width: 48.75%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="39">{{in.fplsAddr?.[4]?.fplsAddrGroupDet.text39}}</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 72%; width: 16.25%; height: 4%;" coolCol="42"
     coolRow="19" coolLength="13">Date Of Birth</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 72%; width: 12.5%; height: 4%;" coolCol="56"
     coolRow="19" coolLength="10">{{in.fplsLocateResponse.dodDateOfBirth|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 76%; width: 48.75%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="39">{{in.fplsAddr?.[5]?.fplsAddrGroupDet.text39}}</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 76%; width: 16.25%; height: 4%;" coolCol="42"
     coolRow="20" coolLength="13">Date Of Death</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 76%; width: 12.5%; height: 4%;" coolCol="56"
     coolRow="20" coolLength="10">{{in.fplsLocateResponse.dodDateOfDeathOrSeparation|coolDate:'MM-dd-yyyy':0}}</div>
   
   <div coolType="field" coolColor="yellow" coolIntensity="high" coolUpper
     style="left: 28.75%; top: 80%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="21" coolLength="10">{{in.page2Message.text10}}</div>
   
   <div coolType="prompt"
     style="left: 51.25%; top: 80%; width: 21.25%; height: 4%;" coolCol="42"
     coolRow="21" coolLength="17">Submitting Office</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 73.75%; top: 80%; width: 5%; height: 4%;" coolCol="60"
     coolRow="21" coolLength="4">{{in.fplsLocateResponse.submittingOffice}}</div>
   
   <div coolType="literal" style="left: 87.5%; top: 80%; width: 5%; height: 4%;"
     coolCol="71" coolRow="21" coolLength="4">More</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 80%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="21" coolLength="1">{{in.scrollingAttributes.minusFlag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 96.25%; top: 80%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="21" coolLength="1">{{in.scrollingAttributes.plusFlag}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 93.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="75">PF KEY:  1 Help  2 Display  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 92%; width: 72.5%; height: 4%;" coolCol="10"
     coolRow="24" coolLength="58">9 Return  11 Clear  12 SignOff  15 ADDR  16 INCS  17 Page2</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="ADDR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=ADDR</a>
   <a coolType="action" coolCommand="INCS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=INCS</a>
   <a coolType="action" coolCommand="PAGE_2" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=PAGE_2</a>
   </div>