<!--Name: OE_GTAL_GENETIC_TEST_AC_LIST, ID: 371792877, model: 746-->
<div coolContent coolName="OE_GTAL_GENETIC_TEST_AC_LIST" coolType="SCREEN"
  (coolInit)="scrollSize = 70; pageSize = 15">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 26.25%; top: 0; width: 47.5%; height: 4%;" coolCol="22"
     coolRow="1" coolLength="38">CSE - Genetic Test Account List - GTAL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 11.25%; top: 8%; width: 31.25%; height: 4%;" coolCol="10"
     coolRow="3" coolLength="25">Starting Person Last Name</div>
   <input type="text" coolType="field" name="field_3_37"
     [(ngModel)]="in.serviceProvider.lastName"
     [coolVideo]="out.serviceProvider.screenField?.lastName" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 45%; top: 8%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="3" coolLength="17">
   
   <div coolType="prompt"
     style="left: 11.25%; top: 12%; width: 25%; height: 4%;" coolCol="10"
     coolRow="4" coolLength="20">Starting Office Name</div>
   <input type="text" coolType="field" name="field_4_37"
     [(ngModel)]="in.office.name" [coolVideo]="out.office.screenField?.name"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 45%; top: 12%; width: 31.25%; height: 4%;" coolCol="37"
     coolRow="4" coolLength="25">
   
   <div coolType="literal" style="left: 5%; top: 20%; width: 3.75%; height: 4%;"
     coolCol="5" coolRow="6" coolLength="3">Sel</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 20%; width: 8.75%; height: 4%;" coolCol="10"
     coolRow="6" coolLength="7">Account</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 20%; width: 23.75%; height: 4%;" coolCol="20"
     coolRow="6" coolLength="19">Contact Person Name</div>
   
   <div coolType="literal"
     style="left: 67.5%; top: 20%; width: 23.75%; height: 4%;" coolCol="55"
     coolRow="6" coolLength="19">CSE Office Location</div>
   <input type="text" coolType="field" name="field_7_6"
     [(ngModel)]="ref(in.group, pageOffset, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset]?.sel.screenField?.oneChar" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 6.25%; top: 24%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="7" coolLength="1" [hidden]="pageOffset >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 24%; width: 10%; height: 4%;" coolCol="10"
     coolRow="7" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 24%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="7" coolLength="33" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 24%; width: 25%; height: 4%;" coolCol="55"
     coolRow="7" coolLength="20" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_8_6"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="8" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 28%; width: 10%; height: 4%;" coolCol="10"
     coolRow="8" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 28%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="8" coolLength="33" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 28%; width: 25%; height: 4%;" coolCol="55"
     coolRow="8" coolLength="20" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_9_6"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 32%; width: 10%; height: 4%;" coolCol="10"
     coolRow="9" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 32%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="9" coolLength="33" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 32%; width: 25%; height: 4%;" coolCol="55"
     coolRow="9" coolLength="20" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_10_6"
     [(ngModel)]="ref(in.group, pageOffset + 3, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 3]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 36%; width: 10%; height: 4%;" coolCol="10"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 36%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="10" coolLength="33" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 36%; width: 25%; height: 4%;" coolCol="55"
     coolRow="10" coolLength="20" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_11_6"
     [(ngModel)]="ref(in.group, pageOffset + 4, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 4]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 4 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 40%; width: 10%; height: 4%;" coolCol="10"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 40%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="11" coolLength="33" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 40%; width: 25%; height: 4%;" coolCol="55"
     coolRow="11" coolLength="20" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_12_6"
     [(ngModel)]="ref(in.group, pageOffset + 5, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 5]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 5 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 44%; width: 10%; height: 4%;" coolCol="10"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 44%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="12" coolLength="33" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 44%; width: 25%; height: 4%;" coolCol="55"
     coolRow="12" coolLength="20" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_13_6"
     [(ngModel)]="ref(in.group, pageOffset + 6, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 6]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 6 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 48%; width: 10%; height: 4%;" coolCol="10"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 48%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="13" coolLength="33" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 48%; width: 25%; height: 4%;" coolCol="55"
     coolRow="13" coolLength="20" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_14_6"
     [(ngModel)]="ref(in.group, pageOffset + 7, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 7]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 7 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 52%; width: 10%; height: 4%;" coolCol="10"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 52%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="14" coolLength="33" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 52%; width: 25%; height: 4%;" coolCol="55"
     coolRow="14" coolLength="20" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_15_6"
     [(ngModel)]="ref(in.group, pageOffset + 8, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 8]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 8 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 56%; width: 10%; height: 4%;" coolCol="10"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 56%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="15" coolLength="33" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 56%; width: 25%; height: 4%;" coolCol="55"
     coolRow="15" coolLength="20" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_16_6"
     [(ngModel)]="ref(in.group, pageOffset + 9, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 9]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 9 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 60%; width: 10%; height: 4%;" coolCol="10"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 60%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="16" coolLength="33" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 60%; width: 25%; height: 4%;" coolCol="55"
     coolRow="16" coolLength="20" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_17_6"
     [(ngModel)]="ref(in.group, pageOffset + 10, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 10]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 10 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 64%; width: 10%; height: 4%;" coolCol="10"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 64%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="17" coolLength="33" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 64%; width: 25%; height: 4%;" coolCol="55"
     coolRow="17" coolLength="20" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_18_6"
     [(ngModel)]="ref(in.group, pageOffset + 11, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 11]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 11 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 68%; width: 10%; height: 4%;" coolCol="10"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 68%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="18" coolLength="33" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 68%; width: 25%; height: 4%;" coolCol="55"
     coolRow="18" coolLength="20" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_19_6"
     [(ngModel)]="ref(in.group, pageOffset + 12, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 12]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 12 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 72%; width: 10%; height: 4%;" coolCol="10"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 72%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="19" coolLength="33" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 72%; width: 25%; height: 4%;" coolCol="55"
     coolRow="19" coolLength="20" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_20_6"
     [(ngModel)]="ref(in.group, pageOffset + 13, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 13]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 13 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 76%; width: 10%; height: 4%;" coolCol="10"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 13 >= length(in.group)">{{in.group?.[pageOffset + 13]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 76%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="20" coolLength="33" [hidden]="pageOffset + 13 >= length(in.group)">{{in.group?.[pageOffset + 13]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 76%; width: 25%; height: 4%;" coolCol="55"
     coolRow="20" coolLength="20" [hidden]="pageOffset + 13 >= length(in.group)">{{in.group?.[pageOffset + 13]?.detOffice.name}}</div>
   <input type="text" coolType="field" name="field_21_6"
     [(ngModel)]="ref(in.group, pageOffset + 14, 'sel.oneChar').value"
     [coolVideo]="out.group?.[pageOffset + 14]?.sel.screenField?.oneChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 80%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="21" coolLength="1" [hidden]="pageOffset + 14 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 11.25%; top: 80%; width: 10%; height: 4%;" coolCol="10"
     coolRow="21" coolLength="8" [hidden]="pageOffset + 14 >= length(in.group)">{{in.group?.[pageOffset + 14]?.detGeneticTestAccount.accountNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 80%; width: 41.25%; height: 4%;" coolCol="20"
     coolRow="21" coolLength="33" [hidden]="pageOffset + 14 >= length(in.group)">{{in.group?.[pageOffset + 14]?.detCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 80%; width: 25%; height: 4%;" coolCol="55"
     coolRow="21" coolLength="20" [hidden]="pageOffset + 14 >= length(in.group)">{{in.group?.[pageOffset + 14]?.detOffice.name}}</div>
   
   <div coolType="prompt" style="left: 82.5%; top: 84%; width: 5%; height: 4%;"
     coolCol="67" coolRow="22" coolLength="4">More</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="72" coolRow="22" coolLength="3"
     style="left: 88.75%; top: 84%; width: 3.75%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="78"
     style="left: 0; top: 88%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 90%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="72">PF KEY:  1 Help  2 Display  3 Exit  7 Prev  8 Next  9 Return  12 SignOff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>