<!--Name: OE_GTSC_MAINT_GENETIC_TEST_DETLS, ID: 371797125, model: 746-->
<div coolContent coolName="OE_GTSC_MAINT_GENETIC_TEST_DETLS" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 52.5%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="42">CSE - Genetic Test Schedule/Results - GTSC</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 4%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.geneticTestInformation.caseNumber"
     [coolVideo]="out.geneticTestInformation.screenField?.caseNumber"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 4%; width: 43.75%; height: 4%;" coolCol="37"
     coolRow="2" coolLength="35">{{in.headerLine.text35}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 27.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="22">Genetic Test Account #</div>
   <input type="text" coolType="field" name="field_4_26"
     [(ngModel)]="in.geneticTestInformation.geneticTestAccountNo"
     [coolVideo]="out.geneticTestInformation.screenField?.geneticTestAccountNo"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8"
     style="left: 31.25%; top: 12%; width: 10%; height: 4%;" coolCol="26"
     coolRow="4" coolLength="8">
   <input type="text" coolType="field" name="field_4_35"
     [(ngModel)]="in.listGenTestAccount.promptField"
     [coolVideo]="out.listGenTestAccount.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 42.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="35"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 51.25%; top: 12%; width: 16.25%; height: 4%;" coolCol="42"
     coolRow="4" coolLength="13">Court Order #</div>
   <input type="text" coolType="field" name="field_4_57"
     [(ngModel)]="in.geneticTestInformation.courtOrderNo"
     [coolVideo]="out.geneticTestInformation.screenField?.courtOrderNo"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="17"
     style="left: 70%; top: 12%; width: 21.25%; height: 4%;" coolCol="57"
     coolRow="4" coolLength="17">
   <input type="text" coolType="field" name="field_4_75"
     [(ngModel)]="in.listLegalActionsLacs.promptField"
     [coolVideo]="out.listLegalActionsLacs.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 92.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 17.5%; top: 16%; width: 11.25%; height: 4%;" coolCol="15"
     coolRow="5" coolLength="9">Test Type</div>
   <input type="text" coolType="field" name="field_5_26"
     [(ngModel)]="in.geneticTestInformation.testType"
     [coolVideo]="out.geneticTestInformation.screenField?.testType" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 31.25%; top: 16%; width: 2.5%; height: 4%;" coolCol="26"
     coolRow="5" coolLength="2">
   <input type="text" coolType="field" name="field_5_29"
     [(ngModel)]="in.listGenTestType.promptField"
     [coolVideo]="out.listGenTestType.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 35%; top: 16%; width: 1.25%; height: 4%;"
     coolCol="29" coolRow="5" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 16%; width: 56.25%; height: 4%;" coolCol="31"
     coolRow="5" coolLength="45">{{in.geneticTestType.description}}</div>
   
   <div coolType="prompt"
     style="left: 41.25%; top: 20%; width: 16.25%; height: 4%;" coolCol="34"
     coolRow="6" coolLength="13">- Scheduled -</div>
   
   <div coolType="literal"
     style="left: 60%; top: 20%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="6" coolLength="1">S</div>
   
   <div coolType="literal"
     style="left: 62.5%; top: 20%; width: 1.25%; height: 4%;" coolCol="51"
     coolRow="6" coolLength="1">C</div>
   
   <div coolType="literal"
     style="left: 65%; top: 20%; width: 1.25%; height: 4%;" coolCol="53"
     coolRow="6" coolLength="1">R</div>
   
   <div coolType="literal"
     style="left: 67.5%; top: 20%; width: 1.25%; height: 4%;" coolCol="55"
     coolRow="6" coolLength="1">S</div>
   
   <div coolType="literal"
     style="left: 91.25%; top: 20%; width: 5%; height: 4%;" coolCol="74"
     coolRow="6" coolLength="4">Test</div>
   
   <div coolType="prompt" style="left: 8.75%; top: 24%; width: 10%; height: 4%;"
     coolCol="8" coolRow="7" coolLength="8">Person #</div>
   
   <div coolType="prompt" style="left: 22.5%; top: 24%; width: 15%; height: 4%;"
     coolCol="19" coolRow="7" coolLength="12">Draw Site ID</div>
   
   <div coolType="literal" style="left: 42.5%; top: 24%; width: 5%; height: 4%;"
     coolCol="35" coolRow="7" coolLength="4">Date</div>
   
   <div coolType="prompt" style="left: 51.25%; top: 24%; width: 5%; height: 4%;"
     coolCol="42" coolRow="7" coolLength="4">Time</div>
   
   <div coolType="literal"
     style="left: 60%; top: 24%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="7" coolLength="1">E</div>
   
   <div coolType="literal"
     style="left: 62.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="51"
     coolRow="7" coolLength="1">S</div>
   
   <div coolType="literal"
     style="left: 65%; top: 24%; width: 1.25%; height: 4%;" coolCol="53"
     coolRow="7" coolLength="1">S</div>
   
   <div coolType="literal"
     style="left: 67.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="55"
     coolRow="7" coolLength="1">C</div>
   
   <div coolType="prompt" style="left: 70%; top: 24%; width: 5%; height: 4%;"
     coolCol="57" coolRow="7" coolLength="4">Show</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 24%; width: 13.75%; height: 4%;" coolCol="62"
     coolRow="7" coolLength="11">Specimen ID</div>
   
   <div coolType="literal"
     style="left: 91.25%; top: 24%; width: 6.25%; height: 4%;" coolCol="74"
     coolRow="7" coolLength="5">Resch</div>
   
   <div coolType="literal" style="left: 0; top: 28%; width: 7.5%; height: 4%;"
     coolCol="1" coolRow="8" coolLength="6">Father</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 28%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="8" coolLength="10">{{in.geneticTestInformation.fatherPersonNo}}</div>
   <input type="text" coolType="field" name="field_8_19"
     [(ngModel)]="in.geneticTestInformation.fatherDrawSiteId"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherDrawSiteId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 22.5%; top: 28%; width: 10%; height: 4%;"
     coolCol="19" coolRow="8" coolLength="8">
   <input type="text" coolType="field" name="field_8_29"
     [(ngModel)]="in.listDrawSiteFather.promptField"
     [coolVideo]="out.listDrawSiteFather.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 35%; top: 28%; width: 1.25%; height: 4%;"
     coolCol="29" coolRow="8" coolLength="1">
   <input type="text" coolType="field" name="field_8_33"
     [(ngModel)]="in.geneticTestInformation.fatherSchedTestDate"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherSchedTestDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 40%; top: 28%; width: 10%; height: 4%;" coolCol="33"
     coolRow="8" coolLength="8">
   <input type="text" coolType="field" name="field_8_42"
     [(ngModel)]="in.geneticTestInformation.fatherSchedTestTime"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherSchedTestTime"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5"
     style="left: 51.25%; top: 28%; width: 6.25%; height: 4%;" coolCol="42"
     coolRow="8" coolLength="5">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 28%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="8" coolLength="1">{{in.geneticTestInformation.fatherPrevSampExistsInd}}</div>
   <input type="text" coolType="field" name="field_8_51"
     [(ngModel)]="in.geneticTestInformation.fatherCollectSampleInd"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherCollectSampleInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 62.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="51"
     coolRow="8" coolLength="1">
   <input type="text" coolType="field" name="field_8_53"
     [(ngModel)]="in.geneticTestInformation.fatherReuseSampleInd"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherReuseSampleInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" style="left: 65%; top: 28%; width: 1.25%; height: 4%;"
     coolCol="53" coolRow="8" coolLength="1">
   <input type="text" coolType="field" name="field_8_55"
     [(ngModel)]="in.geneticTestInformation.fatherSampleCollectedInd"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherSampleCollectedInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 67.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="55"
     coolRow="8" coolLength="1">
   <input type="text" coolType="field" name="field_8_59"
     [(ngModel)]="in.geneticTestInformation.fatherShowInd"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherShowInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 72.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="59"
     coolRow="8" coolLength="1">
   <input type="text" coolType="field" name="field_8_62"
     [(ngModel)]="in.geneticTestInformation.fatherSpecimenId"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherSpecimenId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 76.25%; top: 28%; width: 12.5%; height: 4%;" coolCol="62"
     coolRow="8" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="8" coolLength="1">{{in.geneticTestInformation.fatherRescheduledInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 32%; width: 41.25%; height: 4%;" coolCol="8"
     coolRow="9" coolLength="33">{{in.geneticTestInformation.fatherFormattedName}}</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 32%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="9" coolLength="10">Reuse Samp</div>
   <input type="text" coolType="field" name="field_9_53"
     [(ngModel)]="in.geneticTestInformation.fatherPrevSampTestType"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherPrevSampTestType"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 65%; top: 32%; width: 2.5%; height: 4%;" coolCol="53"
     coolRow="9" coolLength="2">
   <input type="text" coolType="field" name="field_9_56"
     [(ngModel)]="in.geneticTestInformation.fatherPrevSampleLabCaseNo"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherPrevSampleLabCaseNo"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="11"
     style="left: 68.75%; top: 32%; width: 13.75%; height: 4%;" coolCol="56"
     coolRow="9" coolLength="11">
   <input type="text" coolType="field" name="field_9_68"
     [(ngModel)]="in.geneticTestInformation.fatherPrevSampSpecimenId"
     [coolVideo]="out.geneticTestInformation.screenField?.fatherPrevSampSpecimenId"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 83.75%; top: 32%; width: 12.5%; height: 4%;" coolCol="68"
     coolRow="9" coolLength="10">
   <input type="text" coolType="field" name="field_9_79"
     [(ngModel)]="in.listPrevSampFather.promptField"
     [coolVideo]="out.listPrevSampFather.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 97.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="9" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 36%; width: 37.5%; height: 4%;" coolCol="8"
     coolRow="10" coolLength="30">{{in.geneticTestInformation.fatherDrawSiteVendorName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 36%; width: 18.75%; height: 4%;" coolCol="39"
     coolRow="10" coolLength="15">{{in.geneticTestInformation.fatherDrawSiteCity}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 36%; width: 2.5%; height: 4%;" coolCol="55"
     coolRow="10" coolLength="2">{{in.geneticTestInformation.fatherDrawSiteState}}</div>
   
   <div coolType="literal" style="left: 0; top: 40%; width: 7.5%; height: 4%;"
     coolCol="1" coolRow="11" coolLength="6">Mother</div>
   <input type="text" coolType="field" name="field_11_8"
     [(ngModel)]="in.geneticTestInformation.motherPersonNo"
     [coolVideo]="out.geneticTestInformation.screenField?.motherPersonNo"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 8.75%; top: 40%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="11" coolLength="10">
   <input type="text" coolType="field" name="field_11_19"
     [(ngModel)]="in.geneticTestInformation.motherDrawSiteId"
     [coolVideo]="out.geneticTestInformation.screenField?.motherDrawSiteId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 22.5%; top: 40%; width: 10%; height: 4%;"
     coolCol="19" coolRow="11" coolLength="8">
   <input type="text" coolType="field" name="field_11_29"
     [(ngModel)]="in.listDrawSiteMother.promptField"
     [coolVideo]="out.listDrawSiteMother.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 35%; top: 40%; width: 1.25%; height: 4%;"
     coolCol="29" coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_33"
     [(ngModel)]="in.geneticTestInformation.motherSchedTestDate"
     [coolVideo]="out.geneticTestInformation.screenField?.motherSchedTestDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 40%; top: 40%; width: 10%; height: 4%;" coolCol="33"
     coolRow="11" coolLength="8">
   <input type="text" coolType="field" name="field_11_42"
     [(ngModel)]="in.geneticTestInformation.motherSchedTestTime"
     [coolVideo]="out.geneticTestInformation.screenField?.motherSchedTestTime"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5"
     style="left: 51.25%; top: 40%; width: 6.25%; height: 4%;" coolCol="42"
     coolRow="11" coolLength="5">
   <input type="text" coolType="field" name="field_11_49"
     [(ngModel)]="in.geneticTestInformation.motherPrevSampExistsInd"
     [coolVideo]="out.geneticTestInformation.screenField?.motherPrevSampExistsInd"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="1"
     style="left: 60%; top: 40%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_51"
     [(ngModel)]="in.geneticTestInformation.motherCollectSampleInd"
     [coolVideo]="out.geneticTestInformation.screenField?.motherCollectSampleInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 62.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="51"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_53"
     [(ngModel)]="in.geneticTestInformation.motherReuseSampleInd"
     [coolVideo]="out.geneticTestInformation.screenField?.motherReuseSampleInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" style="left: 65%; top: 40%; width: 1.25%; height: 4%;"
     coolCol="53" coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_55"
     [(ngModel)]="in.geneticTestInformation.motherSampleCollectedInd"
     [coolVideo]="out.geneticTestInformation.screenField?.motherSampleCollectedInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 67.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="55"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_59"
     [(ngModel)]="in.geneticTestInformation.motherShowInd"
     [coolVideo]="out.geneticTestInformation.screenField?.motherShowInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 72.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="59"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_62"
     [(ngModel)]="in.geneticTestInformation.motherSpecimenId"
     [coolVideo]="out.geneticTestInformation.screenField?.motherSpecimenId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 76.25%; top: 40%; width: 12.5%; height: 4%;" coolCol="62"
     coolRow="11" coolLength="10">
   <input type="text" coolType="field" name="field_11_76"
     [(ngModel)]="in.geneticTestInformation.motherRescheduledInd"
     [coolVideo]="out.geneticTestInformation.screenField?.motherRescheduledInd"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="1"
     style="left: 93.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_12_8"
     [(ngModel)]="in.geneticTestInformation.motherFormattedName"
     [coolVideo]="out.geneticTestInformation.screenField?.motherFormattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 8.75%; top: 44%; width: 41.25%; height: 4%;" coolCol="8"
     coolRow="12" coolLength="33">
   
   <div coolType="literal"
     style="left: 51.25%; top: 44%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="12" coolLength="10">Reuse Samp</div>
   <input type="text" coolType="field" name="field_12_53"
     [(ngModel)]="in.geneticTestInformation.motherPrevSampTestType"
     [coolVideo]="out.geneticTestInformation.screenField?.motherPrevSampTestType"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 65%; top: 44%; width: 2.5%; height: 4%;" coolCol="53"
     coolRow="12" coolLength="2">
   <input type="text" coolType="field" name="field_12_56"
     [(ngModel)]="in.geneticTestInformation.motherPrevSampLabCaseNo"
     [coolVideo]="out.geneticTestInformation.screenField?.motherPrevSampLabCaseNo"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="11"
     style="left: 68.75%; top: 44%; width: 13.75%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="11">
   <input type="text" coolType="field" name="field_12_68"
     [(ngModel)]="in.geneticTestInformation.motherPrevSampSpecimenId"
     [coolVideo]="out.geneticTestInformation.screenField?.motherPrevSampSpecimenId"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 83.75%; top: 44%; width: 12.5%; height: 4%;" coolCol="68"
     coolRow="12" coolLength="10">
   <input type="text" coolType="field" name="field_12_79"
     [(ngModel)]="in.listPrevSampMother.promptField"
     [coolVideo]="out.listPrevSampMother.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 97.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="12" coolLength="1">
   <input type="text" coolType="field" name="field_13_8"
     [(ngModel)]="in.geneticTestInformation.motherDrawSiteVendorName"
     [coolVideo]="out.geneticTestInformation.screenField?.motherDrawSiteVendorName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="30"
     style="left: 8.75%; top: 48%; width: 37.5%; height: 4%;" coolCol="8"
     coolRow="13" coolLength="30">
   <input type="text" coolType="field" name="field_13_39"
     [(ngModel)]="in.geneticTestInformation.motherDrawSiteCity"
     [coolVideo]="out.geneticTestInformation.screenField?.motherDrawSiteCity"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="15"
     style="left: 47.5%; top: 48%; width: 18.75%; height: 4%;" coolCol="39"
     coolRow="13" coolLength="15">
   <input type="text" coolType="field" name="field_13_55"
     [(ngModel)]="in.geneticTestInformation.motherDrawSiteState"
     [coolVideo]="out.geneticTestInformation.screenField?.motherDrawSiteState"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 67.5%; top: 48%; width: 2.5%; height: 4%;" coolCol="55"
     coolRow="13" coolLength="2">
   
   <div coolType="literal"
     style="left: 1.25%; top: 52%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="5">Child</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 52%; width: 12.5%; height: 4%;" coolCol="8"
     coolRow="14" coolLength="10">{{in.geneticTestInformation.childPersonNo}}</div>
   <input type="text" coolType="field" name="field_14_19"
     [(ngModel)]="in.geneticTestInformation.childDrawSiteId"
     [coolVideo]="out.geneticTestInformation.screenField?.childDrawSiteId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 22.5%; top: 52%; width: 10%; height: 4%;"
     coolCol="19" coolRow="14" coolLength="8">
   <input type="text" coolType="field" name="field_14_29"
     [(ngModel)]="in.listDrawSiteChild.promptField"
     [coolVideo]="out.listDrawSiteChild.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 35%; top: 52%; width: 1.25%; height: 4%;"
     coolCol="29" coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_33"
     [(ngModel)]="in.geneticTestInformation.childSchedTestDate"
     [coolVideo]="out.geneticTestInformation.screenField?.childSchedTestDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 40%; top: 52%; width: 10%; height: 4%;" coolCol="33"
     coolRow="14" coolLength="8">
   <input type="text" coolType="field" name="field_14_42"
     [(ngModel)]="in.geneticTestInformation.childSchedTestTime"
     [coolVideo]="out.geneticTestInformation.screenField?.childSchedTestTime"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5"
     style="left: 51.25%; top: 52%; width: 6.25%; height: 4%;" coolCol="42"
     coolRow="14" coolLength="5">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 52%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="14" coolLength="1">{{in.geneticTestInformation.childPrevSampExistsInd}}</div>
   <input type="text" coolType="field" name="field_14_51"
     [(ngModel)]="in.geneticTestInformation.childCollectSampleInd"
     [coolVideo]="out.geneticTestInformation.screenField?.childCollectSampleInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 62.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="51"
     coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_53"
     [(ngModel)]="in.geneticTestInformation.childReuseSampleInd"
     [coolVideo]="out.geneticTestInformation.screenField?.childReuseSampleInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" style="left: 65%; top: 52%; width: 1.25%; height: 4%;"
     coolCol="53" coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_55"
     [(ngModel)]="in.geneticTestInformation.childSampleCollectedInd"
     [coolVideo]="out.geneticTestInformation.screenField?.childSampleCollectedInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 67.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="55"
     coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_59"
     [(ngModel)]="in.geneticTestInformation.childShowInd"
     [coolVideo]="out.geneticTestInformation.screenField?.childShowInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 72.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="59"
     coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_62"
     [(ngModel)]="in.geneticTestInformation.childSpecimenId"
     [coolVideo]="out.geneticTestInformation.screenField?.childSpecimenId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 76.25%; top: 52%; width: 12.5%; height: 4%;" coolCol="62"
     coolRow="14" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="14" coolLength="1">{{in.geneticTestInformation.childReschedInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 56%; width: 41.25%; height: 4%;" coolCol="8"
     coolRow="15" coolLength="33">{{in.geneticTestInformation.childFormattedName}}</div>
   
   <div coolType="literal"
     style="left: 51.25%; top: 56%; width: 12.5%; height: 4%;" coolCol="42"
     coolRow="15" coolLength="10">Reuse Samp</div>
   <input type="text" coolType="field" name="field_15_53"
     [(ngModel)]="in.geneticTestInformation.childPrevSampTestType"
     [coolVideo]="out.geneticTestInformation.screenField?.childPrevSampTestType"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 65%; top: 56%; width: 2.5%; height: 4%;" coolCol="53"
     coolRow="15" coolLength="2">
   <input type="text" coolType="field" name="field_15_56"
     [(ngModel)]="in.geneticTestInformation.childPrevSampLabCaseNo"
     [coolVideo]="out.geneticTestInformation.screenField?.childPrevSampLabCaseNo"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="11"
     style="left: 68.75%; top: 56%; width: 13.75%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="11">
   <input type="text" coolType="field" name="field_15_68"
     [(ngModel)]="in.geneticTestInformation.childPrevSampSpecimenId"
     [coolVideo]="out.geneticTestInformation.screenField?.childPrevSampSpecimenId"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 83.75%; top: 56%; width: 12.5%; height: 4%;" coolCol="68"
     coolRow="15" coolLength="10">
   <input type="text" coolType="field" name="field_15_79"
     [(ngModel)]="in.listPrevSampChild.promptField"
     [coolVideo]="out.listPrevSampChild.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 97.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="15" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 8.75%; top: 60%; width: 37.5%; height: 4%;" coolCol="8"
     coolRow="16" coolLength="30">{{in.geneticTestInformation.childDrawSiteVendorName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 60%; width: 18.75%; height: 4%;" coolCol="39"
     coolRow="16" coolLength="15">{{in.geneticTestInformation.childDrawSiteCity}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 60%; width: 2.5%; height: 4%;" coolCol="55"
     coolRow="16" coolLength="2">{{in.geneticTestInformation.childDrawSiteState}}</div>
   
   <div coolType="prompt" style="left: 10%; top: 64%; width: 15%; height: 4%;"
     coolCol="9" coolRow="17" coolLength="12">Test Site ID</div>
   <input type="text" coolType="field" name="field_17_22"
     [(ngModel)]="in.geneticTestInformation.testSiteVendorId"
     [coolVideo]="out.geneticTestInformation.screenField?.testSiteVendorId"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 26.25%; top: 64%; width: 12.5%; height: 4%;" coolCol="22"
     coolRow="17" coolLength="10">
   <input type="text" coolType="field" name="field_17_33"
     [(ngModel)]="in.listTestSite.promptField"
     [coolVideo]="out.listTestSite.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 40%; top: 64%; width: 1.25%; height: 4%;"
     coolCol="33" coolRow="17" coolLength="1">
   
   <div coolType="prompt" style="left: 45%; top: 64%; width: 5%; height: 4%;"
     coolCol="37" coolRow="17" coolLength="4">Name</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 51.25%; top: 64%; width: 37.5%; height: 4%;" coolCol="42"
     coolRow="17" coolLength="30">{{in.geneticTestInformation.testSiteVendorName}}</div>
   
   <div coolType="prompt"
     style="left: 12.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="18" coolLength="10">Lab Case #</div>
   <input type="text" coolType="field" name="field_18_22"
     [(ngModel)]="in.geneticTestInformation.labCaseNo"
     [coolVideo]="out.geneticTestInformation.screenField?.labCaseNo" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="11"
     style="left: 26.25%; top: 68%; width: 13.75%; height: 4%;" coolCol="22"
     coolRow="18" coolLength="11">
   
   <div coolType="prompt" style="left: 45%; top: 68%; width: 5%; height: 4%;"
     coolCol="37" coolRow="18" coolLength="4">City</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 51.25%; top: 68%; width: 18.75%; height: 4%;" coolCol="42"
     coolRow="18" coolLength="15">{{in.geneticTestInformation.testSiteCity}}</div>
   
   <div coolType="prompt"
     style="left: 71.25%; top: 68%; width: 6.25%; height: 4%;" coolCol="58"
     coolRow="18" coolLength="5">State</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 68%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="18" coolLength="2">{{in.geneticTestInformation.testSiteState}}</div>
   
   <div coolType="prompt"
     style="left: 11.25%; top: 72%; width: 13.75%; height: 4%;" coolCol="10"
     coolRow="19" coolLength="11">Actual Test</div>
   <input type="text" coolType="field" name="field_19_22"
     [(ngModel)]="in.geneticTestInformation.actualTestDate"
     [coolVideo]="out.geneticTestInformation.screenField?.actualTestDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 26.25%; top: 72%; width: 10%; height: 4%;" coolCol="22"
     coolRow="19" coolLength="8">
   
   <div coolType="prompt"
     style="left: 38.75%; top: 72%; width: 18.75%; height: 4%;" coolCol="32"
     coolRow="19" coolLength="15">Result Received</div>
   <input type="text" coolType="field" name="field_19_48"
     [(ngModel)]="in.geneticTestInformation.resultReceivedDate"
     [coolVideo]="out.geneticTestInformation.screenField?.resultReceivedDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 72%; width: 10%; height: 4%;" coolCol="48"
     coolRow="19" coolLength="8">
   
   <div coolType="prompt" style="left: 10%; top: 76%; width: 22.5%; height: 4%;"
     coolCol="9" coolRow="20" coolLength="18">Pat Excluded (Y/N)</div>
   <input type="text" coolType="field" name="field_20_28"
     [(ngModel)]="in.geneticTestInformation.paternityExcludedInd"
     [coolVideo]="out.geneticTestInformation.screenField?.paternityExcludedInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 33.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="20" coolLength="1">
   
   <div coolType="prompt"
     style="left: 38.75%; top: 76%; width: 18.75%; height: 4%;" coolCol="32"
     coolRow="20" coolLength="15">Pat Probability</div>
   <input type="text" coolType="field" name="field_20_48"
     [(ngModel)]="in.geneticTestInformation.paternityProbability"
     [coolVideo]="out.geneticTestInformation.screenField?.paternityProbability"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="##0.00;#" coolBlankWhenZero [attr.maxlength]="6"
     style="left: 58.75%; top: 76%; width: 7.5%; height: 4%;" coolCol="48"
     coolRow="20" coolLength="6">
   
   <div coolType="literal"
     style="left: 67.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="55"
     coolRow="20" coolLength="1">%</div>
   
   <div coolType="prompt" style="left: 5%; top: 80%; width: 27.5%; height: 4%;"
     coolCol="5" coolRow="21" coolLength="22">Result Contested (Y/N)</div>
   <input type="text" coolType="field" name="field_21_28"
     [(ngModel)]="in.geneticTestInformation.resultContestedInd"
     [coolVideo]="out.geneticTestInformation.screenField?.resultContestedInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 33.75%; top: 80%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="21" coolLength="1">
   
   <div coolType="prompt"
     style="left: 38.75%; top: 80%; width: 18.75%; height: 4%;" coolCol="32"
     coolRow="21" coolLength="15">Contest Started</div>
   <input type="text" coolType="field" name="field_21_48"
     [(ngModel)]="in.geneticTestInformation.contestStartedDate"
     [coolVideo]="out.geneticTestInformation.screenField?.contestStartedDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 80%; width: 10%; height: 4%;" coolCol="48"
     coolRow="21" coolLength="8">
   
   <div coolType="prompt"
     style="left: 71.25%; top: 80%; width: 16.25%; height: 4%;" coolCol="58"
     coolRow="21" coolLength="13" coolColor="white">Contest Ended</div>
   <input type="text" coolType="field" name="field_21_72"
     [(ngModel)]="in.geneticTestInformation.contestEndedDate"
     [coolVideo]="out.geneticTestInformation.screenField?.contestEndedDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 88.75%; top: 80%; width: 10%; height: 4%;" coolCol="72"
     coolRow="21" coolLength="8">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 91.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="73">PF KEY:  1 Help  2 Display  3 Exit  4 List   6 Update  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 67.5%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="54">12 Signoff  15 Schedule/Reschedule  16 COMP   24 Print</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="SCHEDULE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=SCHEDULE</a>
   <a coolType="action" coolCommand="CCOMP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=CCOMP</a>
   <a coolType="action" coolCommand="PRINT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F12">F24=PRINT</a>
   </div>