<!--Name: OE_GTDS_DISPLAY_GEN_TEST_DETLS, ID: 371792992, model: 746-->
<div coolContent coolName="OE_GTDS_DISPLAY_GEN_TEST_DETLS" coolType="SCREEN"
  (coolInit)="scrollSize = 20; pageSize = 3">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 28.75%; top: 0; width: 41.25%; height: 4%;" coolCol="24"
     coolRow="1" coolLength="33">CSE - Genetic Test Details - GTDS</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 4%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="2" coolLength="6" coolColor="white">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.case1.number" [coolVideo]="out.case1.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 17.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="14" coolColor="white">Child Person #</div>
   <input type="text" coolType="field" name="field_4_18"
     [(ngModel)]="in.childCsePerson.number"
     [coolVideo]="out.childCsePerson.screenField?.number" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 21.25%; top: 12%; width: 12.5%; height: 4%;" coolCol="18"
     coolRow="4" coolLength="10">
   <input type="text" coolType="field" name="field_4_29"
     [(ngModel)]="in.listChildCsePersons.promptField"
     [coolVideo]="out.listChildCsePersons.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 35%; top: 12%; width: 1.25%; height: 4%;"
     coolCol="29" coolRow="4" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 12%; width: 41.25%; height: 4%;" coolCol="31"
     coolRow="4" coolLength="33">{{in.childCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 36.25%; top: 16%; width: 27.5%; height: 4%;" coolCol="30"
     coolRow="5" coolLength="22" coolColor="white">Paternity Test Details</div>
   
   <div coolType="literal" style="left: 0; top: 20%; width: 10%; height: 4%;"
     coolCol="1" coolRow="6" coolLength="8">Person #</div>
   
   <div coolType="literal"
     style="left: 13.75%; top: 20%; width: 5%; height: 4%;" coolCol="12"
     coolRow="6" coolLength="4">Name</div>
   
   <div coolType="literal"
     style="left: 62.5%; top: 20%; width: 6.25%; height: 4%;" coolCol="51"
     coolRow="6" coolLength="5">Sched</div>
   
   <div coolType="literal"
     style="left: 76.25%; top: 20%; width: 5%; height: 4%;" coolCol="62"
     coolRow="6" coolLength="4">Time</div>
   
   <div coolType="literal"
     style="left: 83.75%; top: 20%; width: 5%; height: 4%;" coolCol="68"
     coolRow="6" coolLength="4">Show</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 0; top: 24%; width: 12.5%; height: 4%;" coolCol="1"
     coolRow="7" coolLength="10"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 24%; width: 41.25%; height: 4%;" coolCol="12"
     coolRow="7" coolLength="33"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 24%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="7" coolLength="2">FA</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 24%; width: 10%; height: 4%;" coolCol="51"
     coolRow="7" coolLength="8"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherPersonGeneticTest.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 24%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="7" coolLength="5"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detail.fatherSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 24%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="7" coolLength="1"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherPersonGeneticTest.showInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 0; top: 28%; width: 12.5%; height: 4%;" coolCol="1"
     coolRow="8" coolLength="10"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailMotherCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 28%; width: 41.25%; height: 4%;" coolCol="12"
     coolRow="8" coolLength="33"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailMotherCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 28%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="8" coolLength="2">MO</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 28%; width: 10%; height: 4%;" coolCol="51"
     coolRow="8" coolLength="8"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailMotherPersonGeneticTest.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 28%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="8" coolLength="5"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detail.motherSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 28%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="8" coolLength="1"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailMotherPersonGeneticTest.showInd}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 32%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="9" coolLength="2">CH</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 32%; width: 10%; height: 4%;" coolCol="51"
     coolRow="9" coolLength="8"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailChild.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 32%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="9" coolLength="5"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detail.childSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 32%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="9" coolLength="1"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailChild.showInd}}</div>
   
   <div coolType="prompt" style="left: 0; top: 36%; width: 5%; height: 4%;"
     coolCol="1" coolRow="10" coolLength="4" coolColor="white">Test</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 36%; width: 2.5%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="2"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherGeneticTest.testType}}</div>
   
   <div coolType="prompt" style="left: 10%; top: 36%; width: 10%; height: 4%;"
     coolCol="9" coolRow="10" coolLength="8" coolColor="white">Ct Ord #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 36%; width: 21.25%; height: 4%;" coolCol="18"
     coolRow="10" coolLength="17"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherLegalAction.courtCaseNumber}}</div>
   
   <div coolType="prompt"
     style="left: 43.75%; top: 36%; width: 13.75%; height: 4%;" coolCol="36"
     coolRow="10" coolLength="11" coolColor="white">Result Recd</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 58.75%; top: 36%; width: 10%; height: 4%;" coolCol="48"
     coolRow="10" coolLength="8"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherGeneticTest.testResultReceivedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 70%; top: 36%; width: 10%; height: 4%;"
     coolCol="57" coolRow="10" coolLength="8" coolColor="white">Pat Excl</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 81.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="66"
     coolRow="10" coolLength="1"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherGeneticTest.paternityExclusionInd}}</div>
   
   <div coolType="prompt" style="left: 83.75%; top: 36%; width: 5%; height: 4%;"
     coolCol="68" coolRow="10" coolLength="4" coolColor="white">Prob</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 90%; top: 36%; width: 7.5%; height: 4%;" coolCol="73"
     coolRow="10" coolLength="6"
     [hidden]="pageOffset >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset]?.detailFatherGeneticTest.paternityProbability|coolNumber:'##0.00;#':0}}</div>
   
   <div coolType="literal"
     style="left: 98.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="10" coolLength="1">%</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 0; top: 44%; width: 12.5%; height: 4%;" coolCol="1"
     coolRow="12" coolLength="10"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 44%; width: 41.25%; height: 4%;" coolCol="12"
     coolRow="12" coolLength="33"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 44%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="12" coolLength="2">FA</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 44%; width: 10%; height: 4%;" coolCol="51"
     coolRow="12" coolLength="8"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherPersonGeneticTest.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 44%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="12" coolLength="5"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detail.fatherSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 44%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="12" coolLength="1"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherPersonGeneticTest.showInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 0; top: 48%; width: 12.5%; height: 4%;" coolCol="1"
     coolRow="13" coolLength="10"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailMotherCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 48%; width: 41.25%; height: 4%;" coolCol="12"
     coolRow="13" coolLength="33"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailMotherCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 48%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="13" coolLength="2">MO</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 48%; width: 10%; height: 4%;" coolCol="51"
     coolRow="13" coolLength="8"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailMotherPersonGeneticTest.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 48%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="13" coolLength="5"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detail.motherSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 48%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="13" coolLength="1"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailMotherPersonGeneticTest.showInd}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 52%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="14" coolLength="2">CH</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 52%; width: 10%; height: 4%;" coolCol="51"
     coolRow="14" coolLength="8"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailChild.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 52%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="14" coolLength="5"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detail.childSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 52%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="14" coolLength="1"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailChild.showInd}}</div>
   
   <div coolType="prompt" style="left: 0; top: 56%; width: 5%; height: 4%;"
     coolCol="1" coolRow="15" coolLength="4">Test</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 56%; width: 2.5%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="2"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherGeneticTest.testType}}</div>
   
   <div coolType="prompt" style="left: 10%; top: 56%; width: 10%; height: 4%;"
     coolCol="9" coolRow="15" coolLength="8">Ct Ord #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 56%; width: 21.25%; height: 4%;" coolCol="18"
     coolRow="15" coolLength="17"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherLegalAction.courtCaseNumber}}</div>
   
   <div coolType="prompt"
     style="left: 43.75%; top: 56%; width: 13.75%; height: 4%;" coolCol="36"
     coolRow="15" coolLength="11">Result Recd</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 58.75%; top: 56%; width: 10%; height: 4%;" coolCol="48"
     coolRow="15" coolLength="8"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherGeneticTest.testResultReceivedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 70%; top: 56%; width: 10%; height: 4%;"
     coolCol="57" coolRow="15" coolLength="8">Pat Excl</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 81.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="66"
     coolRow="15" coolLength="1"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherGeneticTest.paternityExclusionInd}}</div>
   
   <div coolType="prompt" style="left: 83.75%; top: 56%; width: 5%; height: 4%;"
     coolCol="68" coolRow="15" coolLength="4">Prob</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 90%; top: 56%; width: 7.5%; height: 4%;" coolCol="73"
     coolRow="15" coolLength="6"
     [hidden]="pageOffset + 1 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 1]?.detailFatherGeneticTest.paternityProbability|coolNumber:'##0.00;#':0}}</div>
   
   <div coolType="literal"
     style="left: 98.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="15" coolLength="1">%</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 0; top: 64%; width: 12.5%; height: 4%;" coolCol="1"
     coolRow="17" coolLength="10"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 64%; width: 41.25%; height: 4%;" coolCol="12"
     coolRow="17" coolLength="33"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 64%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="17" coolLength="2">FA</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 64%; width: 10%; height: 4%;" coolCol="51"
     coolRow="17" coolLength="8"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherPersonGeneticTest.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 64%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="17" coolLength="5"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detail.fatherSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 64%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="17" coolLength="1"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherPersonGeneticTest.showInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 0; top: 68%; width: 12.5%; height: 4%;" coolCol="1"
     coolRow="18" coolLength="10"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailMotherCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 68%; width: 41.25%; height: 4%;" coolCol="12"
     coolRow="18" coolLength="33"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailMotherCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 68%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="18" coolLength="2">MO</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 68%; width: 10%; height: 4%;" coolCol="51"
     coolRow="18" coolLength="8"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailMotherPersonGeneticTest.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 68%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="18" coolLength="5"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detail.motherSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 68%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="18" coolLength="1"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailMotherPersonGeneticTest.showInd}}</div>
   
   <div coolType="literal"
     style="left: 58.75%; top: 72%; width: 2.5%; height: 4%;" coolCol="48"
     coolRow="19" coolLength="2">CH</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 72%; width: 10%; height: 4%;" coolCol="51"
     coolRow="19" coolLength="8"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailChild.scheduledTestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 72%; width: 6.25%; height: 4%;" coolCol="62"
     coolRow="19" coolLength="5"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detail.childSchedTestTime}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 72%; width: 1.25%; height: 4%;" coolCol="69"
     coolRow="19" coolLength="1"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailChild.showInd}}</div>
   
   <div coolType="prompt" style="left: 0; top: 76%; width: 5%; height: 4%;"
     coolCol="1" coolRow="20" coolLength="4">Test</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 76%; width: 2.5%; height: 4%;" coolCol="6"
     coolRow="20" coolLength="2"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherGeneticTest.testType}}</div>
   
   <div coolType="prompt" style="left: 10%; top: 76%; width: 10%; height: 4%;"
     coolCol="9" coolRow="20" coolLength="8">Ct Ord #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 76%; width: 21.25%; height: 4%;" coolCol="18"
     coolRow="20" coolLength="17"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherLegalAction.courtCaseNumber}}</div>
   
   <div coolType="prompt"
     style="left: 43.75%; top: 76%; width: 13.75%; height: 4%;" coolCol="36"
     coolRow="20" coolLength="11">Result Recd</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 58.75%; top: 76%; width: 10%; height: 4%;" coolCol="48"
     coolRow="20" coolLength="8"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherGeneticTest.testResultReceivedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 70%; top: 76%; width: 10%; height: 4%;"
     coolCol="57" coolRow="20" coolLength="8">Pat Excl</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 81.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="66"
     coolRow="20" coolLength="1"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherGeneticTest.paternityExclusionInd}}</div>
   
   <div coolType="prompt" style="left: 83.75%; top: 76%; width: 5%; height: 4%;"
     coolCol="68" coolRow="20" coolLength="4">Prob</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 90%; top: 76%; width: 7.5%; height: 4%;" coolCol="73"
     coolRow="20" coolLength="6"
     [hidden]="pageOffset + 2 >= length(in.patTestDetails)">{{in.patTestDetails?.[pageOffset + 2]?.detailFatherGeneticTest.paternityProbability|coolNumber:'##0.00;#':0}}</div>
   
   <div coolType="literal"
     style="left: 98.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="20" coolLength="1">%</div>
   
   <div coolType="prompt" style="left: 87.5%; top: 80%; width: 5%; height: 4%;"
     coolCol="71" coolRow="21" coolLength="4">More</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="76" coolRow="21" coolLength="3"
     style="left: 93.75%; top: 80%; width: 3.75%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 87.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="70">PF KEY:  1 Help    2 Display  3 Exit  4 List  7 Prev  8 Next  9 Return</div>
   
   <div coolType="literal" style="left: 10%; top: 92%; width: 25%; height: 4%;"
     coolCol="9" coolRow="24" coolLength="20">11 Clear  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>