<!--Name: OE_HICL_HEALTH_INSU_COMPANY_LIST, ID: 371860251, model: 746-->
<div coolContent coolName="OE_HICL_HEALTH_INSU_COMPANY_LIST" coolType="SCREEN"
  (coolInit)="scrollSize = 80; pageSize = 14">
   <div coolType="field" coolColor="cyan" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 52.5%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="42" coolColor="white">CSE - HEALTH INSURANCE COMPANY LIST - HICL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':0}}</div>
   
   <div coolType="prompt"
     style="left: 11.25%; top: 8%; width: 38.75%; height: 4%;" coolCol="10"
     coolRow="3" coolLength="31">Starting Insurance Company Name</div>
   <input type="text" coolType="field" name="field_3_42"
     [(ngModel)]="in.startingHealthInsuranceCompany.insurancePolicyCarrier"
     [coolVideo]="out.startingHealthInsuranceCompany.screenField?.insurancePolicyCarrier"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="30"
     style="left: 51.25%; top: 8%; width: 37.5%; height: 4%;" coolCol="42"
     coolRow="3" coolLength="30">
   
   <div coolType="prompt"
     style="left: 11.25%; top: 12%; width: 16.25%; height: 4%;" coolCol="10"
     coolRow="4" coolLength="13">Starting City</div>
   <input type="text" coolType="field" name="field_4_24"
     [(ngModel)]="in.startingHealthInsuranceCompanyAddress.city"
     [coolVideo]="out.startingHealthInsuranceCompanyAddress.screenField?.city"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 28.75%; top: 12%; width: 18.75%; height: 4%;" coolCol="24"
     coolRow="4" coolLength="15">
   
   <div coolType="prompt"
     style="left: 51.25%; top: 12%; width: 17.5%; height: 4%;" coolCol="42"
     coolRow="4" coolLength="14">Starting State</div>
   <input type="text" coolType="field" name="field_4_57"
     [(ngModel)]="in.startingHealthInsuranceCompanyAddress.state"
     [coolVideo]="out.startingHealthInsuranceCompanyAddress.screenField?.state"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2" style="left: 70%; top: 12%; width: 2.5%; height: 4%;"
     coolCol="57" coolRow="4" coolLength="2">
   
   <div coolType="literal" style="left: 5%; top: 16%; width: 5%; height: 4%;"
     coolCol="5" coolRow="5" coolLength="4" coolColor="white">Carr</div>
   
   <div coolType="literal"
     style="left: 22.5%; top: 16%; width: 10%; height: 4%;" coolCol="19"
     coolRow="5" coolLength="8">Show All</div>
   <input type="text" coolType="field" name="field_5_28"
     [(ngModel)]="in.showAll.flag" [coolVideo]="out.showAll.screenField?.flag"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 33.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="5" coolLength="1">
   
   <div coolType="literal"
     style="left: 52.5%; top: 16%; width: 46.25%; height: 4%;" coolCol="43"
     coolRow="5" coolLength="37" coolColor="white">--------   Mailing Address   --------</div>
   
   <div coolType="literal" style="left: 0; top: 20%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="6" coolLength="3" coolColor="white">Sel</div>
   
   <div coolType="literal" style="left: 5%; top: 20%; width: 5%; height: 4%;"
     coolCol="5" coolRow="6" coolLength="4" coolColor="white">Code</div>
   
   <div coolType="literal"
     style="left: 15%; top: 20%; width: 27.5%; height: 4%;" coolCol="13"
     coolRow="6" coolLength="22" coolColor="white">Insurance Company Name</div>
   
   <div coolType="literal"
     style="left: 47.5%; top: 20%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="6" coolLength="3">Exp</div>
   
   <div coolType="literal"
     style="left: 52.5%; top: 20%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="6" coolLength="6" coolColor="white">Street</div>
   
   <div coolType="literal" style="left: 77.5%; top: 20%; width: 5%; height: 4%;"
     coolCol="63" coolRow="6" coolLength="4" coolColor="white">City</div>
   
   <div coolType="literal"
     style="left: 97.5%; top: 20%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="6" coolLength="2" coolColor="white">ST</div>
   <input type="text" coolType="field" name="field_7_2"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 24%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 24%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="7" coolLength="7" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 24%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="7" coolLength="26" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="7" coolLength="1" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 24%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="7" coolLength="19" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 24%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="7" coolLength="15" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 24%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="7" coolLength="2" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_8_2"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 28%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="8" coolLength="7" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 28%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="8" coolLength="26" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="8" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 28%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="8" coolLength="19" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 28%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="8" coolLength="15" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 28%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="8" coolLength="2" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_9_2"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 32%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="9" coolLength="7" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 32%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="9" coolLength="26" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 32%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="9" coolLength="19" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 32%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="9" coolLength="15" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 32%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="9" coolLength="2" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 36%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="10" coolLength="7" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 36%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="10" coolLength="26"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 36%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="10" coolLength="19"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 36%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="10" coolLength="15"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 36%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="10" coolLength="2" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_11_2"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 40%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="11" coolLength="7" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 40%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="11" coolLength="26"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 40%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="11" coolLength="19"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 40%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="11" coolLength="15"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 40%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="11" coolLength="2" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 44%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="12" coolLength="7" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 44%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="12" coolLength="26"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 44%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="12" coolLength="19"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 44%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="12" coolLength="15"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 44%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="12" coolLength="2" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 48%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="13" coolLength="7" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 48%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="13" coolLength="26"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 48%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="13" coolLength="19"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 48%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="13" coolLength="15"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 48%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="13" coolLength="2" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 52%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="14" coolLength="7" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 52%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="14" coolLength="26"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 52%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="14" coolLength="19"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 52%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="14" coolLength="15"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 52%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="14" coolLength="2" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 56%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="15" coolLength="7" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 56%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="15" coolLength="26"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 56%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="15" coolLength="19"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 56%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="15" coolLength="15"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 56%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="15" coolLength="2" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 60%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="16" coolLength="7" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 60%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="16" coolLength="26"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 60%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="16" coolLength="19"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 60%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="16" coolLength="15"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 60%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="16" coolLength="2" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.import1, pageOffset + 10, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 10]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1"
     [hidden]="pageOffset + 10 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 64%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="17" coolLength="7"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 64%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="17" coolLength="26"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="17" coolLength="1"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 64%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="17" coolLength="19"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 64%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="17" coolLength="15"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 64%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="17" coolLength="2"
     [hidden]="pageOffset + 10 >= length(in.import1)">{{in.import1?.[pageOffset + 10]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.import1, pageOffset + 11, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 11]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1"
     [hidden]="pageOffset + 11 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 68%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="18" coolLength="7"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 68%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="18" coolLength="26"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="18" coolLength="1"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 68%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="18" coolLength="19"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 68%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="18" coolLength="15"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 68%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="18" coolLength="2"
     [hidden]="pageOffset + 11 >= length(in.import1)">{{in.import1?.[pageOffset + 11]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.import1, pageOffset + 12, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 12]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1"
     [hidden]="pageOffset + 12 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 72%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="19" coolLength="7"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 72%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="19" coolLength="26"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="19" coolLength="1"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 72%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="19" coolLength="19"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 72%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="19" coolLength="15"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 72%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="19" coolLength="2"
     [hidden]="pageOffset + 12 >= length(in.import1)">{{in.import1?.[pageOffset + 12]?.detailHealthInsuranceCompanyAddress.state}}</div>
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.import1, pageOffset + 13, 'detailWork.selection').value"
     [coolVideo]="out.export1?.[pageOffset + 13]?.detailWork.screenField?.selection"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1"
     [hidden]="pageOffset + 13 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 76%; width: 8.75%; height: 4%;" coolCol="5"
     coolRow="20" coolLength="7"
     [hidden]="pageOffset + 13 >= length(in.import1)">{{in.import1?.[pageOffset + 13]?.detailHealthInsuranceCompany.carrierCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 76%; width: 32.5%; height: 4%;" coolCol="13"
     coolRow="20" coolLength="26"
     [hidden]="pageOffset + 13 >= length(in.import1)">{{in.import1?.[pageOffset + 13]?.detailHealthInsuranceCompany.insurancePolicyCarrier}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="40"
     coolRow="20" coolLength="1"
     [hidden]="pageOffset + 13 >= length(in.import1)">{{in.import1?.[pageOffset + 13]?.detailExpiredFlag.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 76%; width: 23.75%; height: 4%;" coolCol="43"
     coolRow="20" coolLength="19"
     [hidden]="pageOffset + 13 >= length(in.import1)">{{in.import1?.[pageOffset + 13]?.detailHealthInsuranceCompanyAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 76%; width: 18.75%; height: 4%;" coolCol="63"
     coolRow="20" coolLength="15"
     [hidden]="pageOffset + 13 >= length(in.import1)">{{in.import1?.[pageOffset + 13]?.detailHealthInsuranceCompanyAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 76%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="20" coolLength="2"
     [hidden]="pageOffset + 13 >= length(in.import1)">{{in.import1?.[pageOffset + 13]?.detailHealthInsuranceCompanyAddress.state}}</div>
   
   <div coolType="prompt" style="left: 87.5%; top: 80%; width: 5%; height: 4%;"
     coolCol="71" coolRow="21" coolLength="4">More</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="77" coolRow="21" coolLength="3"
     style="left: 95%; top: 80%; width: 3.75%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 90%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="72" coolColor="white">PF Keys :  1 Help  2 Display  3 Exit  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 12.5%; top: 92%; width: 23.75%; height: 4%;" coolCol="11"
     coolRow="24" coolLength="19" coolColor="white">12 SignOff  15 HICO</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="HICO" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=HICO</a>
   </div>