<!--Name: OE_LGRQ_LEGAL_REQUEST, ID: 371912781, model: 746-->
<div coolContent coolName="OE_LGRQ_LEGAL_REQUEST" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 33.75%; top: 0; width: 32.5%; height: 4%;" coolCol="28"
     coolRow="1" coolLength="26">CSE - Legal Request - LGRQ</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt" style="left: 20%; top: 4%; width: 7.5%; height: 4%;"
     coolCol="17" coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 4%; width: 43.75%; height: 4%;" coolCol="37"
     coolRow="2" coolLength="35">{{in.headerLine.text35}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 8%; width: 7.5%; height: 4%;"
     coolCol="2" coolRow="3" coolLength="6" coolColor="white">Case #</div>
   <input type="text" coolType="field" name="field_3_9"
     [(ngModel)]="in.case1.number" [coolVideo]="out.case1.screenField?.number"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 10%; top: 8%; width: 12.5%; height: 4%;" coolCol="9"
     coolRow="3" coolLength="10">
   
   <div coolType="prompt" style="left: 26.25%; top: 8%; width: 15%; height: 4%;"
     coolCol="22" coolRow="3" coolLength="12">Court Case #</div>
   <input type="text" coolType="field" name="field_3_35"
     [(ngModel)]="in.legalReferral.courtCaseNumber"
     [coolVideo]="out.legalReferral.screenField?.courtCaseNumber" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 42.5%; top: 8%; width: 21.25%; height: 4%;" coolCol="35"
     coolRow="3" coolLength="17">
   
   <div coolType="prompt"
     style="left: 66.25%; top: 8%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="3" coolLength="2">ST</div>
   <input type="text" coolType="field" name="field_3_57"
     [(ngModel)]="in.fips.stateAbbreviation"
     [coolVideo]="out.fips.screenField?.stateAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 70%; top: 8%; width: 2.5%; height: 4%;" coolCol="57"
     coolRow="3" coolLength="2">
   
   <div coolType="prompt" style="left: 75%; top: 8%; width: 2.5%; height: 4%;"
     coolCol="61" coolRow="3" coolLength="2">CO</div>
   <input type="text" coolType="field" name="field_3_64"
     [(ngModel)]="in.fips.countyAbbreviation"
     [coolVideo]="out.fips.screenField?.countyAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 78.75%; top: 8%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="3" coolLength="2">
   
   <div coolType="prompt"
     style="left: 83.75%; top: 8%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="3" coolLength="2">CY</div>
   <input type="text" coolType="field" name="field_3_71"
     [(ngModel)]="in.fipsTribAddress.country"
     [coolVideo]="out.fipsTribAddress.screenField?.country" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 87.5%; top: 8%; width: 2.5%; height: 4%;" coolCol="71"
     coolRow="3" coolLength="2">
   
   <div coolType="prompt"
     style="left: 26.25%; top: 12%; width: 2.5%; height: 4%;" coolCol="22"
     coolRow="4" coolLength="2" coolColor="white">AP</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 12%; width: 12.5%; height: 4%;" coolCol="25"
     coolRow="4" coolLength="10">{{in.apCsePersonsWorkSet.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 12%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="4" coolLength="33">{{in.apCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="10" coolColor="white">Identifier</div>
   <input type="text" coolType="field" name="field_5_13"
     [(ngModel)]="in.legalReferral.identifier"
     [coolVideo]="out.legalReferral.screenField?.identifier" coolAutotab
     coolReadonly coolAlign="right" coolColor="cyan" coolNumber="##0;#"
     coolBlankWhenZero [attr.maxlength]="3"
     style="left: 15%; top: 16%; width: 3.75%; height: 4%;" coolCol="13"
     coolRow="5" coolLength="3">
   
   <div coolType="prompt"
     style="left: 26.25%; top: 16%; width: 2.5%; height: 4%;" coolCol="22"
     coolRow="5" coolLength="2" coolColor="white">AR</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 16%; width: 12.5%; height: 4%;" coolCol="25"
     coolRow="5" coolLength="10">{{in.arCsePersonsWorkSet.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 16%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="5" coolLength="33">{{in.arCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 20%; width: 15%; height: 4%;"
     coolCol="2" coolRow="6" coolLength="12">Atty User ID</div>
   <input type="text" coolType="field" name="field_6_15"
     [(ngModel)]="in.serviceProvider.userId"
     [coolVideo]="out.serviceProvider.screenField?.userId" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="8"
     style="left: 17.5%; top: 20%; width: 10%; height: 4%;" coolCol="15"
     coolRow="6" coolLength="8">
   <input type="text" coolType="field" name="field_6_24"
     [(ngModel)]="in.attorney.promptField"
     [coolVideo]="out.attorney.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 28.75%; top: 20%; width: 1.25%; height: 4%;" coolCol="24"
     coolRow="6" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 20%; width: 21.25%; height: 4%;" coolCol="26"
     coolRow="6" coolLength="17">{{in.serviceProvider.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 20%; width: 15%; height: 4%;" coolCol="44"
     coolRow="6" coolLength="12">{{in.serviceProvider.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 70%; top: 20%; width: 1.25%; height: 4%;" coolCol="57"
     coolRow="6" coolLength="1">{{in.serviceProvider.middleInitial}}</div>
   
   <div coolType="prompt"
     style="left: 73.75%; top: 20%; width: 3.75%; height: 4%;" coolCol="60"
     coolRow="6" coolLength="3">Ofc</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 78.75%; top: 20%; width: 5%; height: 4%;" coolCol="64"
     coolRow="6" coolLength="4">{{in.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="prompt" style="left: 85%; top: 20%; width: 5%; height: 4%;"
     coolCol="69" coolRow="6" coolLength="4">Role</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 20%; width: 2.5%; height: 4%;" coolCol="74"
     coolRow="6" coolLength="2">{{in.officeServiceProvider.roleCode}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 26.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="21">Referred By Worker ID</div>
   <input type="text" coolType="field" name="field_7_24"
     [(ngModel)]="in.legalReferral.referredByUserId"
     [coolVideo]="out.legalReferral.screenField?.referredByUserId" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="8"
     style="left: 28.75%; top: 24%; width: 10%; height: 4%;" coolCol="24"
     coolRow="7" coolLength="8">
   
   <div coolType="prompt"
     style="left: 42.5%; top: 24%; width: 16.25%; height: 4%;" coolCol="35"
     coolRow="7" coolLength="13" coolColor="white">Referral Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 60%; top: 24%; width: 10%; height: 4%;" coolCol="49"
     coolRow="7" coolLength="8">{{in.legalReferral.referralDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 28%; width: 20%; height: 4%;"
     coolCol="2" coolRow="8" coolLength="16">Referral Reasons</div>
   <input type="text" coolType="field" name="field_8_19"
     [(ngModel)]="in.listReasonCode.selectChar"
     [coolVideo]="out.listReasonCode.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 22.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="8" coolLength="1">
   <input type="text" coolType="field" name="field_8_22"
     [(ngModel)]="in.legalReferral.referralReason1"
     [coolVideo]="out.legalReferral.screenField?.referralReason1" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 26.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="22"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_26"
     [(ngModel)]="in.legalReferral.referralReason2"
     [coolVideo]="out.legalReferral.screenField?.referralReason2" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 31.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="26"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_30"
     [(ngModel)]="in.legalReferral.referralReason3"
     [coolVideo]="out.legalReferral.screenField?.referralReason3" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 36.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="30"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_34"
     [(ngModel)]="in.legalReferral.referralReason4"
     [coolVideo]="out.legalReferral.screenField?.referralReason4" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 41.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="34"
     coolRow="8" coolLength="3">
   
   <div coolType="literal"
     style="left: 77.5%; top: 28%; width: 20%; height: 4%;" coolCol="63"
     coolRow="8" coolLength="16">Persons Referred</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 32%; width: 5%; height: 4%;"
     coolCol="2" coolRow="9" coolLength="4" coolColor="white">Note</div>
   
   <div coolType="literal" style="left: 77.5%; top: 32%; width: 5%; height: 4%;"
     coolCol="63" coolRow="9" coolLength="4">Role</div>
   
   <div coolType="literal"
     style="left: 83.75%; top: 32%; width: 12.5%; height: 4%;" coolCol="68"
     coolRow="9" coolLength="10">First Name</div>
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="ref(in.lrComments, 0, 'detail.commentLine').value"
     [coolVideo]="out.lrCommentLines?.[0]?.detail.screenField?.commentLine"
     coolAutotab #field_10_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 36%; width: 75%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 36%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="10" coolLength="2">{{in.caseRole?.[0]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 36%; width: 15%; height: 4%;" coolCol="68"
     coolRow="10" coolLength="12">{{in.caseRole?.[0]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_11_2"
     [(ngModel)]="ref(in.lrComments, 1, 'detail.commentLine').value"
     [coolVideo]="out.lrCommentLines?.[1]?.detail.screenField?.commentLine"
     coolAutotab #field_11_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 40%; width: 75%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 40%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="11" coolLength="2">{{in.caseRole?.[1]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 40%; width: 15%; height: 4%;" coolCol="68"
     coolRow="11" coolLength="12">{{in.caseRole?.[1]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.lrComments, 2, 'detail.commentLine').value"
     [coolVideo]="out.lrCommentLines?.[2]?.detail.screenField?.commentLine"
     coolAutotab #field_12_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 44%; width: 75%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 44%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="12" coolLength="2">{{in.caseRole?.[2]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 44%; width: 15%; height: 4%;" coolCol="68"
     coolRow="12" coolLength="12">{{in.caseRole?.[2]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.lrComments, 3, 'detail.commentLine').value"
     [coolVideo]="out.lrCommentLines?.[3]?.detail.screenField?.commentLine"
     coolAutotab #field_13_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 48%; width: 75%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 48%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="13" coolLength="2">{{in.caseRole?.[3]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 48%; width: 15%; height: 4%;" coolCol="68"
     coolRow="13" coolLength="12">{{in.caseRole?.[3]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.lrComments, 4, 'detail.commentLine').value"
     [coolVideo]="out.lrCommentLines?.[4]?.detail.screenField?.commentLine"
     coolAutotab #field_14_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 52%; width: 75%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 52%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="14" coolLength="2">{{in.caseRole?.[4]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 52%; width: 15%; height: 4%;" coolCol="68"
     coolRow="14" coolLength="12">{{in.caseRole?.[4]?.csePersonsWorkSet.firstName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 56%; width: 13.75%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="11" coolColor="white">Attachments</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 56%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="15" coolLength="2">{{in.caseRole?.[5]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 56%; width: 15%; height: 4%;" coolCol="68"
     coolRow="15" coolLength="12">{{in.caseRole?.[5]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.lrAttachmts, 0, 'detailLrAttchmts.commentLine').value"
     [coolVideo]="out.lrAttachmts?.[0]?.detailLrAttachmts.screenField?.commentLine"
     coolAutotab #field_16_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 60%; width: 75%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 60%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="16" coolLength="2">{{in.caseRole?.[6]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 60%; width: 15%; height: 4%;" coolCol="68"
     coolRow="16" coolLength="12">{{in.caseRole?.[6]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.lrAttachmts, 1, 'detailLrAttchmts.commentLine').value"
     [coolVideo]="out.lrAttachmts?.[1]?.detailLrAttachmts.screenField?.commentLine"
     coolAutotab #field_17_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 64%; width: 75%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 64%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="17" coolLength="2">{{in.caseRole?.[7]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 64%; width: 15%; height: 4%;" coolCol="68"
     coolRow="17" coolLength="12">{{in.caseRole?.[7]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.lrAttachmts, 2, 'detailLrAttchmts.commentLine').value"
     [coolVideo]="out.lrAttachmts?.[2]?.detailLrAttachmts.screenField?.commentLine"
     coolAutotab #field_18_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 68%; width: 75%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 68%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="18" coolLength="2">{{in.caseRole?.[8]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 68%; width: 15%; height: 4%;" coolCol="68"
     coolRow="18" coolLength="12">{{in.caseRole?.[8]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.lrAttachmts, 3, 'detailLrAttchmts.commentLine').value"
     [coolVideo]="out.lrAttachmts?.[3]?.detailLrAttachmts.screenField?.commentLine"
     coolAutotab #field_19_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 72%; width: 75%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="60">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 72%; width: 2.5%; height: 4%;" coolCol="64"
     coolRow="19" coolLength="2">{{in.caseRole?.[9]?.caseRole1.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 72%; width: 15%; height: 4%;" coolCol="68"
     coolRow="19" coolLength="12">{{in.caseRole?.[9]?.csePersonsWorkSet.firstName}}</div>
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.lrAttachmts, 4, 'detailLrAttchmts.commentLine').value"
     [coolVideo]="out.lrAttachmts?.[4]?.detailLrAttachmts.screenField?.commentLine"
     coolAutotab #field_20_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="60"
     style="left: 1.25%; top: 76%; width: 75%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="60">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 80%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="21" coolLength="6">Status</div>
   <input type="text" coolType="field" name="field_21_9"
     [(ngModel)]="in.legalReferral.status"
     [coolVideo]="out.legalReferral.screenField?.status" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 10%; top: 80%; width: 1.25%; height: 4%;" coolCol="9"
     coolRow="21" coolLength="1">
   <input type="text" coolType="field" name="field_21_11"
     [(ngModel)]="in.listStatus.selectChar"
     [coolVideo]="out.listStatus.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 12.5%; top: 80%; width: 1.25%; height: 4%;" coolCol="11"
     coolRow="21" coolLength="1">
   
   <div coolType="prompt"
     style="left: 16.25%; top: 80%; width: 13.75%; height: 4%;" coolCol="14"
     coolRow="21" coolLength="11">Status Date</div>
   <input type="text" coolType="field" name="field_21_26"
     [(ngModel)]="in.legalReferral.statusDate"
     [coolVideo]="out.legalReferral.screenField?.statusDate" coolAutotab
     coolReadonly coolColor="cyan" coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 31.25%; top: 80%; width: 10%; height: 4%;" coolCol="26"
     coolRow="21" coolLength="8">
   
   <div coolType="prompt" style="left: 83.75%; top: 80%; width: 5%; height: 4%;"
     coolCol="68" coolRow="21" coolLength="4">More</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 80%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="21" coolLength="1">{{in.scrollingAttributes.minusFlag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 80%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="21" coolLength="1">{{in.scrollingAttributes.plusFlag}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 98.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="79">PF KEY: 1 Help    2 Display  3 Exit     4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 57.5%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="46">9 Return 11 Clear   12 SignOff 15 COMP 16 ASIN</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="CREATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=CREATE</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="COMP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=COMP</a>
   <a coolType="action" coolCommand="ASIN" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=ASIN</a>
   </div>