<!--Name: OE_MARL_MARRIAGE_HISTORY_LIST, ID: 371888965, model: 746-->
<div coolContent coolName="OE_MARL_MARRIAGE_HISTORY_LIST" coolType="SCREEN"
  (coolInit)="scrollSize = 20; pageSize = 10">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 0; width: 42.5%; height: 4%;" coolCol="23"
     coolRow="1" coolLength="34">CSE - Marriage History List - MARL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt" style="left: 17.5%; top: 4%; width: 7.5%; height: 4%;"
     coolCol="15" coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_23"
     [(ngModel)]="in.case1.number" [coolVideo]="out.case1.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 27.5%; top: 4%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 15%; top: 12%; width: 10%; height: 4%;"
     coolCol="13" coolRow="4" coolLength="8">Person #</div>
   <input type="text" coolType="field" name="field_4_23"
     [(ngModel)]="in.csePerson.number"
     [coolVideo]="out.csePerson.screenField?.number" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 27.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="4" coolLength="10">
   <input type="text" coolType="field" name="field_4_34"
     [(ngModel)]="in.listCsePersons.promptField"
     [coolVideo]="out.listCsePersons.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 41.25%; top: 12%; width: 1.25%; height: 4%;" coolCol="34"
     coolRow="4" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 12%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="4" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal" style="left: 7.5%; top: 24%; width: 10%; height: 4%;"
     coolCol="7" coolRow="7" coolLength="8">Marriage</div>
   
   <div coolType="literal"
     style="left: 20%; top: 24%; width: 8.75%; height: 4%;" coolCol="17"
     coolRow="7" coolLength="7">Divorce</div>
   
   <div coolType="literal"
     style="left: 31.25%; top: 24%; width: 55%; height: 4%;" coolCol="26"
     coolRow="7" coolLength="44">------------------ Spouse ------------------</div>
   
   <div coolType="literal"
     style="left: 88.75%; top: 24%; width: 8.75%; height: 4%;" coolCol="72"
     coolRow="7" coolLength="7">Contact</div>
   
   <div coolType="literal"
     style="left: 2.5%; top: 28%; width: 3.75%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="3">Sel</div>
   
   <div coolType="literal" style="left: 10%; top: 28%; width: 5%; height: 4%;"
     coolCol="9" coolRow="8" coolLength="4">Date</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 28%; width: 5%; height: 4%;" coolCol="18"
     coolRow="8" coolLength="4">Date</div>
   
   <div coolType="literal"
     style="left: 31.25%; top: 28%; width: 10%; height: 4%;" coolCol="26"
     coolRow="8" coolLength="8">Person #</div>
   
   <div coolType="literal"
     style="left: 45%; top: 28%; width: 11.25%; height: 4%;" coolCol="37"
     coolRow="8" coolLength="9">Last Name</div>
   
   <div coolType="literal"
     style="left: 67.5%; top: 28%; width: 6.25%; height: 4%;" coolCol="55"
     coolRow="8" coolLength="5">First</div>
   
   <div coolType="literal"
     style="left: 83.75%; top: 28%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="8" coolLength="2">MI</div>
   
   <div coolType="literal"
     style="left: 90%; top: 28%; width: 6.25%; height: 4%;" coolCol="73"
     coolRow="8" coolLength="5">(Y/N)</div>
   <input type="text" coolType="field" name="field_9_4"
     [(ngModel)]="ref(in.import1, pageOffset, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 32%; width: 10%; height: 4%;" coolCol="7"
     coolRow="9" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 32%; width: 10%; height: 4%;" coolCol="17"
     coolRow="9" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 32%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="9" coolLength="10" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 32%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="9" coolLength="17" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 32%; width: 15%; height: 4%;" coolCol="55"
     coolRow="9" coolLength="12" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_10_4"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 36%; width: 10%; height: 4%;" coolCol="7"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 36%; width: 10%; height: 4%;" coolCol="17"
     coolRow="10" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="10" coolLength="10"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 36%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="10" coolLength="17"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 36%; width: 15%; height: 4%;" coolCol="55"
     coolRow="10" coolLength="12"
     [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_11_4"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 40%; width: 10%; height: 4%;" coolCol="7"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 40%; width: 10%; height: 4%;" coolCol="17"
     coolRow="11" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 40%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="11" coolLength="10"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 40%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="11" coolLength="17"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 40%; width: 15%; height: 4%;" coolCol="55"
     coolRow="11" coolLength="12"
     [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_12_4"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 44%; width: 10%; height: 4%;" coolCol="7"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 44%; width: 10%; height: 4%;" coolCol="17"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 44%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="12" coolLength="10"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 44%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="12" coolLength="17"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 44%; width: 15%; height: 4%;" coolCol="55"
     coolRow="12" coolLength="12"
     [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_13_4"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 48%; width: 10%; height: 4%;" coolCol="7"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 48%; width: 10%; height: 4%;" coolCol="17"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 48%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="13" coolLength="10"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 48%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="13" coolLength="17"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 48%; width: 15%; height: 4%;" coolCol="55"
     coolRow="13" coolLength="12"
     [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_14_4"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 52%; width: 10%; height: 4%;" coolCol="7"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 52%; width: 10%; height: 4%;" coolCol="17"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 52%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="14" coolLength="10"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 52%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="14" coolLength="17"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 52%; width: 15%; height: 4%;" coolCol="55"
     coolRow="14" coolLength="12"
     [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_15_4"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 56%; width: 10%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 56%; width: 10%; height: 4%;" coolCol="17"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 56%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="15" coolLength="10"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 56%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="15" coolLength="17"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 56%; width: 15%; height: 4%;" coolCol="55"
     coolRow="15" coolLength="12"
     [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_16_4"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 60%; width: 10%; height: 4%;" coolCol="7"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 60%; width: 10%; height: 4%;" coolCol="17"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 60%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="16" coolLength="10"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 60%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="16" coolLength="17"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 60%; width: 15%; height: 4%;" coolCol="55"
     coolRow="16" coolLength="12"
     [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_17_4"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 64%; width: 10%; height: 4%;" coolCol="7"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 64%; width: 10%; height: 4%;" coolCol="17"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 64%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="17" coolLength="10"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 64%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="17" coolLength="17"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 64%; width: 15%; height: 4%;" coolCol="55"
     coolRow="17" coolLength="12"
     [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.detailContactInd.oneChar}}</div>
   <input type="text" coolType="field" name="field_18_4"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'detailSelectOpt.oneChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.detailSelectOpt.screenField?.oneChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 7.5%; top: 68%; width: 10%; height: 4%;" coolCol="7"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailSpouseMarriageHistory.marriageDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 68%; width: 10%; height: 4%;" coolCol="17"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailSpouseMarriageHistory.divorceDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="18" coolLength="10"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailSpouseCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 68%; width: 21.25%; height: 4%;" coolCol="37"
     coolRow="18" coolLength="17"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailSpouseCsePersonsWorkSet.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 68%; width: 15%; height: 4%;" coolCol="55"
     coolRow="18" coolLength="12"
     [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailSpouseCsePersonsWorkSet.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="68"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailSpouseCsePersonsWorkSet.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.detailContactInd.oneChar}}</div>
   
   <div coolType="prompt" style="left: 85%; top: 76%; width: 5%; height: 4%;"
     coolCol="69" coolRow="20" coolLength="4">More</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="74" coolRow="20" coolLength="3"
     style="left: 91.25%; top: 76%; width: 3.75%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 90%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="72">PF KEY:  1 Help    2 Display   3 Exit   4 List  7 Prev  8 Next  9 Return</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 47.5%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="38">11 Clear  12 SignOff  15 PCOL  16 MARH</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="PCOL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=PCOL</a>
   <a coolType="action" coolCommand="MARH" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=MARH</a>
   </div>