<!--Name: OE_URAL_LIST_URA_ADJ, ID: 374465627, model: 746-->
<div coolContent coolName="OE_URAL_LIST_URA_ADJ" coolType="SCREEN"
  (coolInit)="scrollSize = 70; pageSize = 3">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 28.75%; top: 0; width: 41.25%; height: 4%;" coolCol="24"
     coolRow="1" coolLength="33">CSE - List URA Adjustments - URAL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 12%; width: 11.25%; height: 4%;" coolCol="3"
     coolRow="4" coolLength="9">AE Case #</div>
   <input type="text" coolType="field" name="field_4_13"
     [(ngModel)]="in.imHousehold.aeCaseNo"
     [coolVideo]="out.imHousehold.screenField?.aeCaseNo" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="8"
     style="left: 15%; top: 12%; width: 10%; height: 4%;" coolCol="13"
     coolRow="4" coolLength="8">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 16%; width: 11.25%; height: 4%;" coolCol="3"
     coolRow="5" coolLength="9">Person  #</div>
   <input type="text" coolType="field" name="field_5_13"
     [(ngModel)]="in.csePersonsWorkSet.number"
     [coolVideo]="out.csePersonsWorkSet.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 15%; top: 16%; width: 12.5%; height: 4%;" coolCol="13"
     coolRow="5" coolLength="10">
   <input type="text" coolType="field" name="field_5_24"
     [(ngModel)]="in.csePerson2.promptField"
     [coolVideo]="out.csePersonStandard.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 28.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="24"
     coolRow="5" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 16%; width: 41.25%; height: 4%;" coolCol="26"
     coolRow="5" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 75%; top: 16%; width: 15%; height: 4%;"
     coolCol="61" coolRow="5" coolLength="12">Relationship</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 16%; width: 2.5%; height: 4%;" coolCol="74"
     coolRow="5" coolLength="2">{{in.imHouseholdMbrMnthlySum.relationship}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="33">List : Adj's For All Mbrs (Y/N) :</div>
   <input type="text" coolType="field" name="field_7_37"
     [(ngModel)]="in.listAdjsForAllMbrs.flag"
     [coolVideo]="out.listAdjsForAllMbrs.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 45%; top: 24%; width: 1.25%; height: 4%;" coolCol="37"
     coolRow="7" coolLength="1">
   
   <div coolType="literal"
     style="left: 48.75%; top: 24%; width: 21.25%; height: 4%;" coolCol="40"
     coolRow="7" coolLength="17">From  Month/Year:</div>
   <input type="text" coolType="field" name="field_7_58"
     [(ngModel)]="in.fromYearNMonth.month"
     [coolVideo]="out.fromYearNMonth.screenField?.month" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 71.25%; top: 24%; width: 2.5%; height: 4%;" coolCol="58"
     coolRow="7" coolLength="2">
   <input type="text" coolType="field" name="field_7_61"
     [(ngModel)]="in.fromYearNMonth.year"
     [coolVideo]="out.fromYearNMonth.screenField?.year" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 75%; top: 24%; width: 5%; height: 4%;" coolCol="61"
     coolRow="7" coolLength="4">
   
   <div coolType="literal"
     style="left: 81.25%; top: 24%; width: 2.5%; height: 4%;" coolCol="66"
     coolRow="7" coolLength="2">to</div>
   <input type="text" coolType="field" name="field_7_69"
     [(ngModel)]="in.toYearNMonth.month"
     [coolVideo]="out.toYearNMonth.screenField?.month" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 85%; top: 24%; width: 2.5%; height: 4%;" coolCol="69"
     coolRow="7" coolLength="2">
   <input type="text" coolType="field" name="field_7_72"
     [(ngModel)]="in.toYearNMonth.year"
     [coolVideo]="out.toYearNMonth.screenField?.year" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 88.75%; top: 24%; width: 5%; height: 4%;" coolCol="72"
     coolRow="7" coolLength="4">
   
   <div coolType="literal" style="left: 0; top: 32%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="9" coolLength="3">Sel</div>
   
   <div coolType="literal" style="left: 5%; top: 32%; width: 3.75%; height: 4%;"
     coolCol="5" coolRow="9" coolLength="3">Mth</div>
   
   <div coolType="literal" style="left: 10%; top: 32%; width: 5%; height: 4%;"
     coolCol="9" coolRow="9" coolLength="4">Year</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 32%; width: 8.75%; height: 4%;" coolCol="15"
     coolRow="9" coolLength="7">Adj-Amt</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 32%; width: 3.75%; height: 4%;" coolCol="23"
     coolRow="9" coolLength="3">Typ</div>
   
   <div coolType="literal"
     style="left: 32.5%; top: 32%; width: 3.75%; height: 4%;" coolCol="27"
     coolRow="9" coolLength="3">Lvl</div>
   
   <div coolType="literal"
     style="left: 37.5%; top: 32%; width: 18.75%; height: 4%;" coolCol="31"
     coolRow="9" coolLength="15">Created-By/Date</div>
   
   <div coolType="literal"
     style="left: 60%; top: 32%; width: 12.5%; height: 4%;" coolCol="49"
     coolRow="9" coolLength="10">CSE Person</div>
   
   <div coolType="literal"
     style="left: 73.75%; top: 32%; width: 7.5%; height: 4%;" coolCol="60"
     coolRow="9" coolLength="6">#/Name</div>
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="ref(in.group, pageOffset, 'gcommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset]?.gcommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="1" [hidden]="pageOffset >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 36%; width: 2.5%; height: 4%;" coolCol="5"
     coolRow="10" coolLength="2" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gimHouseholdMbrMnthlySum.month|coolNumber:'00;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 10%; top: 36%; width: 5%; height: 4%;" coolCol="9"
     coolRow="10" coolLength="4" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gimHouseholdMbrMnthlySum.year|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 16.25%; top: 36%; width: 11.25%; height: 4%;" coolCol="14"
     coolRow="10" coolLength="9" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gimHouseholdMbrMnthlyAdj.adjustmentAmount|coolNumber:'####0.00
      ;####0.00-':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="24"
     coolRow="10" coolLength="1" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gimHouseholdMbrMnthlyAdj.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="10" coolLength="1" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gimHouseholdMbrMnthlyAdj.levelAppliedTo}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 36%; width: 10%; height: 4%;" coolCol="31"
     coolRow="10" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gimHouseholdMbrMnthlyAdj.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 48.75%; top: 36%; width: 10%; height: 4%;" coolCol="40"
     coolRow="10" coolLength="8" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gimHouseholdMbrMnthlyAdj.createdTmst|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 36%; width: 12.5%; height: 4%;" coolCol="49"
     coolRow="10" coolLength="10" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gcsePersonsWorkSet.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 73.75%; top: 36%; width: 22.5%; height: 4%;" coolCol="60"
     coolRow="10" coolLength="18" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gcsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 0; top: 40%; width: 8.75%; height: 4%;"
     coolCol="1" coolRow="11" coolLength="7">Reason:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 40%; width: 90%; height: 8%;" coolCol="9"
     coolRow="11" coolLength="72" coolHeight="2"
     [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.gimHouseholdMbrMnthlyAdj.adjustmentReason}}</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'gcommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.gcommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 52%; width: 2.5%; height: 4%;" coolCol="5"
     coolRow="14" coolLength="2" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gimHouseholdMbrMnthlySum.month|coolNumber:'00;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 10%; top: 52%; width: 5%; height: 4%;" coolCol="9"
     coolRow="14" coolLength="4" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gimHouseholdMbrMnthlySum.year|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 16.25%; top: 52%; width: 11.25%; height: 4%;" coolCol="14"
     coolRow="14" coolLength="9" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gimHouseholdMbrMnthlyAdj.adjustmentAmount|coolNumber:'####0.00
      ;####0.00-':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="24"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gimHouseholdMbrMnthlyAdj.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gimHouseholdMbrMnthlyAdj.levelAppliedTo}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 52%; width: 10%; height: 4%;" coolCol="31"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gimHouseholdMbrMnthlyAdj.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 48.75%; top: 52%; width: 10%; height: 4%;" coolCol="40"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gimHouseholdMbrMnthlyAdj.createdTmst|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 52%; width: 12.5%; height: 4%;" coolCol="49"
     coolRow="14" coolLength="10" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gcsePersonsWorkSet.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 73.75%; top: 52%; width: 22.5%; height: 4%;" coolCol="60"
     coolRow="14" coolLength="18" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gcsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 0; top: 56%; width: 8.75%; height: 4%;"
     coolCol="1" coolRow="15" coolLength="7">Reason:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 56%; width: 90%; height: 8%;" coolCol="9"
     coolRow="15" coolLength="72" coolHeight="2"
     [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.gimHouseholdMbrMnthlyAdj.adjustmentReason}}</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'gcommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.gcommon.screenField?.selectChar"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 68%; width: 2.5%; height: 4%;" coolCol="5"
     coolRow="18" coolLength="2" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gimHouseholdMbrMnthlySum.month|coolNumber:'00;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 10%; top: 68%; width: 5%; height: 4%;" coolCol="9"
     coolRow="18" coolLength="4" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gimHouseholdMbrMnthlySum.year|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 16.25%; top: 68%; width: 11.25%; height: 4%;" coolCol="14"
     coolRow="18" coolLength="9" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gimHouseholdMbrMnthlyAdj.adjustmentAmount|coolNumber:'####0.00
      ;####0.00-':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="24"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gimHouseholdMbrMnthlyAdj.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gimHouseholdMbrMnthlyAdj.levelAppliedTo}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 68%; width: 10%; height: 4%;" coolCol="31"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gimHouseholdMbrMnthlyAdj.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 48.75%; top: 68%; width: 10%; height: 4%;" coolCol="40"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gimHouseholdMbrMnthlyAdj.createdTmst|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 68%; width: 12.5%; height: 4%;" coolCol="49"
     coolRow="18" coolLength="10" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gcsePersonsWorkSet.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 73.75%; top: 68%; width: 22.5%; height: 4%;" coolCol="60"
     coolRow="18" coolLength="18" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gcsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt" style="left: 0; top: 72%; width: 8.75%; height: 4%;"
     coolCol="1" coolRow="19" coolLength="7">Reason:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 72%; width: 90%; height: 8%;" coolCol="9"
     coolRow="19" coolLength="72" coolHeight="2"
     [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.gimHouseholdMbrMnthlyAdj.adjustmentReason}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="8"
     style="left: 86.25%; top: 80%; width: 10%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 96.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="77">PF Key: 1 Help  2 Display  3 Exit  4 List  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 87.5%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="70">12 Signoff  15 IMHH  16 URAH  17 URAC  18 CURA 19 URAA 21 UCOL 22 UHMM</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="IMHH" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=IMHH</a>
   <a coolType="action" coolCommand="URAH" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=URAH</a>
   <a coolType="action" coolCommand="URAC" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=URAC</a>
   <a coolType="action" coolCommand="CURA" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=CURA</a>
   <a coolType="action" coolCommand="URAA" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=URAA</a>
   <a coolType="action" coolCommand="UCOL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F9">F21=UCOL</a>
   <a coolType="action" coolCommand="UHMM" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F10">F22=UHMM</a>
   </div>