<!--Name: OE_WOR3_CS_WORKSHEET_PAGE_3, ID: 371896340, model: 746-->
<div coolContent coolName="OE_WOR3_CS_WORKSHEET_PAGE_3" coolType="SCREEN">
   <div coolType="field" coolColor="cyan" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 0; width: 63.75%; height: 4%;" coolCol="15"
     coolRow="1" coolLength="51" coolColor="white">CSE - CHILD SUPPORT WORKSHEET - WORK  screen 3 of 4</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt" style="left: 17.5%; top: 4%; width: 7.5%; height: 4%;"
     coolCol="15" coolRow="2" coolLength="6">Case #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 26.25%; top: 4%; width: 12.5%; height: 4%;" coolCol="22"
     coolRow="2" coolLength="10">{{in.next.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 50%; top: 4%; width: 3.75%; height: 4%;" coolCol="41"
     coolRow="2" coolLength="3">{{in.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 55%; top: 4%; width: 1.25%; height: 4%;" coolCol="45"
     coolRow="2" coolLength="1">{{in.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 4%; width: 21.25%; height: 4%;" coolCol="47"
     coolRow="2" coolLength="17">{{in.serviceProvider.lastName}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 8%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="3" coolLength="6">In The</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 8%; width: 6.25%; height: 4%;" coolCol="9"
     coolRow="3" coolLength="5">{{in.tribunal.judicialDistrict}}</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 8%; width: 42.5%; height: 4%;" coolCol="15"
     coolRow="3" coolLength="34">Judicial District, District Court,</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 8%; width: 18.75%; height: 4%;" coolCol="50"
     coolRow="3" coolLength="15">{{in.county.description}}</div>
   
   <div coolType="literal"
     style="left: 81.25%; top: 8%; width: 17.5%; height: 4%;" coolCol="66"
     coolRow="3" coolLength="14">County, Kansas</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 10%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="8">Case   #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="4" coolLength="10">{{in.case1.number}}</div>
   
   <div coolType="prompt" style="left: 35%; top: 12%; width: 12.5%; height: 4%;"
     coolCol="29" coolRow="4" coolLength="10">Person   #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="40"
     coolRow="4" coolLength="10">{{in.parentACsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 12%; width: 36.25%; height: 4%;" coolCol="51"
     coolRow="4" coolLength="29">{{in.parentAName.formattedName}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 16%; width: 10%; height: 4%;"
     coolCol="2" coolRow="5" coolLength="8">Ct Ord #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 16%; width: 21.25%; height: 4%;" coolCol="11"
     coolRow="5" coolLength="17">{{in.legalAction.courtCaseNumber}}</div>
   
   <div coolType="prompt" style="left: 35%; top: 16%; width: 12.5%; height: 4%;"
     coolCol="29" coolRow="5" coolLength="10">Person   #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 16%; width: 12.5%; height: 4%;" coolCol="40"
     coolRow="5" coolLength="10">{{in.parentBCsePerson.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 62.5%; top: 16%; width: 36.25%; height: 4%;" coolCol="51"
     coolRow="5" coolLength="29">{{in.parentBName.formattedName}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 20%; width: 31.25%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="25" coolColor="white" coolHighlight="underscore">CHILD SUPPORT ADJUSTMENTS</div>
   
   <div coolType="prompt"
     style="left: 38.75%; top: 20%; width: 8.75%; height: 4%;" coolCol="32"
     coolRow="6" coolLength="7">GL Year</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 48.75%; top: 20%; width: 5%; height: 4%;" coolCol="40"
     coolRow="6" coolLength="4">{{in.childSupportWorksheet.csGuidelineYear|coolNumber:'0000;#':1}}</div>
   
   <div coolType="literal"
     style="left: 68.75%; top: 20%; width: 17.5%; height: 4%;" coolCol="56"
     coolRow="6" coolLength="14" coolColor="white" coolHighlight="underscore">Amount Allowed</div>
   
   <div coolType="literal"
     style="left: 5%; top: 24%; width: 23.75%; height: 4%;" coolCol="5"
     coolRow="7" coolLength="19" coolColor="white">Applicable Category</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 62.5%; top: 24%; width: 11.25%; height: 4%;" coolCol="51"
     coolRow="7" coolLength="9">{{in.parentAName.firstName}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 83.75%; top: 24%; width: 11.25%; height: 4%;" coolCol="68"
     coolRow="7" coolLength="9">{{in.parentBName.firstName}}</div>
   
   <div coolType="literal" style="left: 5%; top: 28%; width: 42.5%; height: 4%;"
     coolCol="5" coolRow="8" coolLength="34" coolColor="white">Long Distance Parenting Time Costs</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 28%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="8" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_8_50"
     [(ngModel)]="ref(in.import1, 0, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[0]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_8_50 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 61.25%; top: 28%; width: 12.5%; height: 4%;" coolCol="50"
     coolRow="8" coolLength="10">
   
   <div coolType="literal"
     style="left: 75%; top: 28%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="8" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_8_67"
     [(ngModel)]="ref(in.import1, 0, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[0]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_8_67 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 82.5%; top: 28%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="8" coolLength="10">
   
   <div coolType="literal" style="left: 5%; top: 32%; width: 30%; height: 4%;"
     coolCol="5" coolRow="9" coolLength="24" coolColor="white">Income Tax Consideration</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 32%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="9" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_9_50"
     [(ngModel)]="ref(in.import1, 1, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[1]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_9_50 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 61.25%; top: 32%; width: 12.5%; height: 4%;" coolCol="50"
     coolRow="9" coolLength="10">
   
   <div coolType="literal"
     style="left: 75%; top: 32%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="9" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_9_67"
     [(ngModel)]="ref(in.import1, 1, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[1]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_9_67 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 82.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="9" coolLength="10">
   
   <div coolType="literal"
     style="left: 5%; top: 36%; width: 16.25%; height: 4%;" coolCol="5"
     coolRow="10" coolLength="13" coolColor="white">Special Needs</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 36%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="10" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_10_50"
     [(ngModel)]="ref(in.import1, 2, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[2]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_10_50 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 61.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="50"
     coolRow="10" coolLength="10">
   
   <div coolType="literal"
     style="left: 75%; top: 36%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="10" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_10_67"
     [(ngModel)]="ref(in.import1, 2, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[2]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_10_67 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 82.5%; top: 36%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="10" coolLength="10">
   
   <div coolType="literal"
     style="left: 5%; top: 40%; width: 28.75%; height: 4%;" coolCol="5"
     coolRow="11" coolLength="23" coolColor="white">Agreement Past Majority</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 40%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="11" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_11_50"
     [(ngModel)]="ref(in.import1, 3, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[3]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_11_50 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 61.25%; top: 40%; width: 12.5%; height: 4%;" coolCol="50"
     coolRow="11" coolLength="10">
   
   <div coolType="literal"
     style="left: 75%; top: 40%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="11" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_11_67"
     [(ngModel)]="ref(in.import1, 3, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[3]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_11_67 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 82.5%; top: 40%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="11" coolLength="10">
   
   <div coolType="literal"
     style="left: 5%; top: 44%; width: 33.75%; height: 4%;" coolCol="5"
     coolRow="12" coolLength="27" coolColor="white">Overall Financial Condition</div>
   
   <div coolType="literal"
     style="left: 53.75%; top: 44%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="12" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_12_50"
     [(ngModel)]="ref(in.import1, 4, 'parentA.adjustmentAmount').value"
     [coolVideo]="out.export1?.[4]?.parentA.screenField?.adjustmentAmount"
     coolAutotab #field_12_50 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 61.25%; top: 44%; width: 12.5%; height: 4%;" coolCol="50"
     coolRow="12" coolLength="10">
   
   <div coolType="literal"
     style="left: 75%; top: 44%; width: 6.25%; height: 4%;" coolCol="61"
     coolRow="12" coolLength="5" coolColor="white">(+/-)</div>
   <input type="text" coolType="field" name="field_12_67"
     [(ngModel)]="ref(in.import1, 4, 'parentB.adjustmentAmount').value"
     [coolVideo]="out.export1?.[4]?.parentB.screenField?.adjustmentAmount"
     coolAutotab #field_12_67 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="#####0.00;-#" coolBlankWhenZero
     [attr.maxlength]="10"
     style="left: 82.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="12" coolLength="10">
   
   <div coolType="literal"
     style="left: 13.75%; top: 48%; width: 46.25%; height: 4%;" coolCol="12"
     coolRow="13" coolLength="37" coolColor="white">Total Adjustments from all Categories</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 61.25%; top: 48%; width: 10%; height: 4%;" coolCol="50"
     coolRow="13" coolLength="8">{{in.parentAF2TotalCsAdj.totalCurrency|coolNumber:'######0;-#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 82.5%; top: 48%; width: 10%; height: 4%;" coolCol="67"
     coolRow="13" coolLength="8">{{in.parentBF2TotalCsAdj.totalCurrency|coolNumber:'######0;-#':1}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="2" coolRow="23" coolLength="79"
     style="left: 1.25%; top: 88%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 92%; width: 77.5%; height: 4%;" coolCol="2"
     coolRow="24" coolLength="62" coolColor="white">PF Keys :  1 Help  7 Prev  8 Next  12 SignOff  Enter Calculate</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>