<!--Name: QA_QCHD_QUICK_CHILD_DATA, ID: 372233286, model: 746-->
<div coolContent coolName="QA_QCHD_QUICK_CHILD_DATA" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 30%; top: 0; width: 40%; height: 4%;"
     coolCol="25" coolRow="1" coolLength="32">CSE  -  Quick Child Data  - QCHD</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt" style="left: 17.5%; top: 4%; width: 7.5%; height: 4%;"
     coolCol="15" coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_22"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 26.25%; top: 4%; width: 12.5%; height: 4%;" coolCol="22"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 42.5%; top: 4%; width: 43.75%; height: 4%;" coolCol="35"
     coolRow="2" coolLength="35">{{in.headerLine.text35}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="6">Case #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 12%; width: 12.5%; height: 4%;" coolCol="9"
     coolRow="4" coolLength="10">{{in.case1.number}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 12%; width: 2.5%; height: 4%;" coolCol="20"
     coolRow="4" coolLength="2">AP</div>
   <input type="text" coolType="field" name="field_4_23"
     [(ngModel)]="in.apCsePersonsWorkSet.number"
     [coolVideo]="out.apCsePersonsWorkSet.screenField?.number" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 27.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="4" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 41.25%; top: 12%; width: 41.25%; height: 4%;" coolCol="34"
     coolRow="4" coolLength="33">{{in.apCsePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_4_69"
     [(ngModel)]="in.apPrompt.selectChar"
     [coolVideo]="out.apPrompt.screenField?.selectChar" coolAutotab coolReadonly
     coolColor="cyan" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 85%; top: 12%; width: 1.25%; height: 4%;"
     coolCol="69" coolRow="4" coolLength="1">
   
   <div coolType="literal"
     style="left: 23.75%; top: 16%; width: 2.5%; height: 4%;" coolCol="20"
     coolRow="5" coolLength="2">AR</div>
   <input type="text" coolType="field" name="field_5_23"
     [(ngModel)]="in.arCsePersonsWorkSet.number"
     [coolVideo]="out.ar.screenField?.number" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 27.5%; top: 16%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="5" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 41.25%; top: 16%; width: 41.25%; height: 4%;" coolCol="34"
     coolRow="5" coolLength="33">{{in.arCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 11.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="9">Case Stat</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="12"
     coolRow="7" coolLength="1">{{in.case1.status}}</div>
   
   <div coolType="prompt"
     style="left: 16.25%; top: 24%; width: 8.75%; height: 4%;" coolCol="14"
     coolRow="7" coolLength="7">Open Dt</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 26.25%; top: 24%; width: 10%; height: 4%;" coolCol="22"
     coolRow="7" coolLength="8">{{in.case1.cseOpenDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 38.75%; top: 24%; width: 12.5%; height: 4%;" coolCol="32"
     coolRow="7" coolLength="10">Close Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 52.5%; top: 24%; width: 10%; height: 4%;" coolCol="43"
     coolRow="7" coolLength="8">{{in.case1.statusDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 63.75%; top: 24%; width: 11.25%; height: 4%;" coolCol="52"
     coolRow="7" coolLength="9">Close Rsn</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 77.5%; top: 24%; width: 21.25%; height: 4%;" coolCol="63"
     coolRow="7" coolLength="17">{{in.caseCloseRsn.description}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 28%; width: 10%; height: 4%;"
     coolCol="2" coolRow="8" coolLength="8">Case Prg</div>
   <input type="text" coolType="field" name="field_8_11"
     [(ngModel)]="in.progCodeDescription.description"
     [coolVideo]="out.progCodeDescription.screenField?.description" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="16"
     style="left: 12.5%; top: 28%; width: 20%; height: 4%;" coolCol="11"
     coolRow="8" coolLength="16">
   
   <div coolType="prompt"
     style="left: 33.75%; top: 28%; width: 7.5%; height: 4%;" coolCol="28"
     coolRow="8" coolLength="6">AP SSN</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 42.5%; top: 28%; width: 13.75%; height: 4%;" coolCol="35"
     coolRow="8" coolLength="11">{{in.apCsePersonsWorkSet.ssn|coolString:'XXX XX XXXX'}}</div>
   
   <div coolType="prompt" style="left: 75%; top: 28%; width: 17.5%; height: 4%;"
     coolCol="61" coolRow="8" coolLength="14">AP Other Cases</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="8" coolLength="1">{{in.apMultiCases.flag}}</div>
   <input type="text" coolType="field" name="field_8_78"
     [(ngModel)]="in.apMultiCasesPrompt.flag"
     [coolVideo]="out.apMultiCasesPrompt.screenField?.flag" coolAutotab
     coolReadonly coolColor="cyan" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 96.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt" style="left: 1.25%; top: 32%; width: 10%; height: 4%;"
     coolCol="2" coolRow="9" coolLength="8">Case Fun</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 32%; width: 3.75%; height: 4%;" coolCol="11"
     coolRow="9" coolLength="3">{{in.caseFuncWorkSet.funcText3}}</div>
   
   <div coolType="prompt"
     style="left: 17.5%; top: 32%; width: 2.5%; height: 4%;" coolCol="15"
     coolRow="9" coolLength="2">Dt</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 32%; width: 10%; height: 4%;" coolCol="18"
     coolRow="9" coolLength="8">{{in.caseFuncWorkSet.funcDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 33.75%; top: 32%; width: 7.5%; height: 4%;" coolCol="28"
     coolRow="9" coolLength="6">AR SSN</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 42.5%; top: 32%; width: 13.75%; height: 4%;" coolCol="35"
     coolRow="9" coolLength="11">{{in.arCsePersonsWorkSet.ssn|coolString:'XXX XX XXXX'}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 32%; width: 16.25%; height: 4%;" coolCol="47"
     coolRow="9" coolLength="13">{{in.altSsnAlias.text30}}</div>
   
   <div coolType="prompt" style="left: 75%; top: 32%; width: 17.5%; height: 4%;"
     coolCol="61" coolRow="9" coolLength="14">AR Other Cases</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="9" coolLength="1">{{in.arMultiCases.flag}}</div>
   <input type="text" coolType="field" name="field_9_78"
     [(ngModel)]="in.arMultiCasesPrompt.flag"
     [coolVideo]="out.arMultiCasesPrompt.screenField?.flag" coolAutotab
     coolReadonly coolColor="cyan" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 96.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="9" coolLength="1">
   
   <div coolType="literal"
     style="left: 1.25%; top: 40%; width: 18.75%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="15">S St  Last Name</div>
   
   <div coolType="literal"
     style="left: 31.25%; top: 40%; width: 6.25%; height: 4%;" coolCol="26"
     coolRow="11" coolLength="5">First</div>
   
   <div coolType="literal"
     style="left: 47.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="11" coolLength="1">M</div>
   
   <div coolType="literal" style="left: 50%; top: 40%; width: 10%; height: 4%;"
     coolCol="41" coolRow="11" coolLength="8">Person #</div>
   
   <div coolType="literal"
     style="left: 68.75%; top: 40%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="11" coolLength="3">SSN</div>
   
   <div coolType="literal"
     style="left: 81.25%; top: 40%; width: 3.75%; height: 4%;" coolCol="66"
     coolRow="11" coolLength="3">DOB</div>
   
   <div coolType="literal"
     style="left: 88.75%; top: 40%; width: 10%; height: 4%;" coolCol="72"
     coolRow="11" coolLength="8">SEX  PGM</div>
   
   <div coolType="literal"
     style="left: 7.5%; top: 44%; width: 11.25%; height: 4%;" coolCol="7"
     coolRow="12" coolLength="9">Rel to AR</div>
   
   <div coolType="literal"
     style="left: 22.5%; top: 44%; width: 10%; height: 4%;" coolCol="19"
     coolRow="12" coolLength="8">Pat Estb</div>
   
   <div coolType="literal"
     style="left: 38.75%; top: 44%; width: 10%; height: 4%;" coolCol="32"
     coolRow="12" coolLength="8">Hlth Ins</div>
   
   <div coolType="literal"
     style="left: 55%; top: 44%; width: 12.5%; height: 4%;" coolCol="45"
     coolRow="12" coolLength="10">AR Wvd Ins</div>
   
   <div coolType="literal"
     style="left: 71.25%; top: 44%; width: 10%; height: 4%;" coolCol="58"
     coolRow="12" coolLength="8">Emncp Dt</div>
   
   <div coolType="literal"
     style="left: 86.25%; top: 44%; width: 8.75%; height: 4%;" coolCol="70"
     coolRow="12" coolLength="7">Absence</div>
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.child, 0, 'gcommon.selectChar').value"
     [coolVideo]="out.child?.[0]?.gcommon.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1" [hidden]="!length(in.child)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 48%; width: 1.25%; height: 4%;" coolCol="5"
     coolRow="13" coolLength="1" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportStatus.text1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 48%; width: 21.25%; height: 4%;" coolCol="7"
     coolRow="13" coolLength="17" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportCh.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 48%; width: 15%; height: 4%;" coolCol="25"
     coolRow="13" coolLength="12" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportCh.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="13" coolLength="1" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportCh.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 50%; top: 48%; width: 12.5%; height: 4%;" coolCol="41"
     coolRow="13" coolLength="10" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportCh.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 65%; top: 48%; width: 11.25%; height: 4%;" coolCol="53"
     coolRow="13" coolLength="9" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportCh.ssn}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 48%; width: 10%; height: 4%;" coolCol="64"
     coolRow="13" coolLength="8" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportCh.dob|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 48%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="13" coolLength="1" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportCh.sex}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 48%; width: 3.75%; height: 4%;" coolCol="77"
     coolRow="13" coolLength="3" [hidden]="!length(in.child)">{{in.child?.[0]?.gprogram.code}}</div>
   <input type="text" coolType="field" name="field_14_5"
     [(ngModel)]="ref(in.child, 0, 'gimportRelToAr.description').value"
     [coolVideo]="out.child?.[0]?.gexportRelToAr.screenField?.description"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="14"
     style="left: 5%; top: 52%; width: 17.5%; height: 4%;" coolCol="5"
     coolRow="14" coolLength="14" [hidden]="!length(in.child)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="23"
     coolRow="14" coolLength="1" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportCh.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 42.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="35"
     coolRow="14" coolLength="1" [hidden]="!length(in.child)">{{in.child?.[0]?.gimportChHealthInsuInd.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 52%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="14" coolLength="1" [hidden]="!length(in.child)">{{in.child?.[0]?.gcaseRole.arWaivedInsurance}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 71.25%; top: 52%; width: 10%; height: 4%;" coolCol="58"
     coolRow="14" coolLength="8" [hidden]="!length(in.child)">{{in.child?.[0]?.gcaseRole.dateOfEmancipation|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_14_67"
     [(ngModel)]="ref(in.child, 0, 'gimportAbsenceRsn.description').value"
     [coolVideo]="out.child?.[0]?.gexportAbsenceRsn.screenField?.description"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="13"
     style="left: 82.5%; top: 52%; width: 16.25%; height: 4%;" coolCol="67"
     coolRow="14" coolLength="13" [hidden]="!length(in.child)">
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.child, 1, 'gcommon.selectChar').value"
     [coolVideo]="out.child?.[1]?.gcommon.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1" [hidden]="1 >= length(in.child)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 56%; width: 1.25%; height: 4%;" coolCol="5"
     coolRow="15" coolLength="1" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportStatus.text1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 56%; width: 21.25%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="17" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportCh.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 56%; width: 15%; height: 4%;" coolCol="25"
     coolRow="15" coolLength="12" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportCh.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="15" coolLength="1" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportCh.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 50%; top: 56%; width: 12.5%; height: 4%;" coolCol="41"
     coolRow="15" coolLength="10" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportCh.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 65%; top: 56%; width: 11.25%; height: 4%;" coolCol="53"
     coolRow="15" coolLength="9" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportCh.ssn}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 56%; width: 10%; height: 4%;" coolCol="64"
     coolRow="15" coolLength="8" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportCh.dob|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 56%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="15" coolLength="1" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportCh.sex}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 56%; width: 3.75%; height: 4%;" coolCol="77"
     coolRow="15" coolLength="3" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gprogram.code}}</div>
   <input type="text" coolType="field" name="field_16_5"
     [(ngModel)]="ref(in.child, 1, 'gimportRelToAr.description').value"
     [coolVideo]="out.child?.[1]?.gexportRelToAr.screenField?.description"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="14"
     style="left: 5%; top: 60%; width: 17.5%; height: 4%;" coolCol="5"
     coolRow="16" coolLength="14" [hidden]="1 >= length(in.child)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="23"
     coolRow="16" coolLength="1" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportCh.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 42.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="35"
     coolRow="16" coolLength="1" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gimportChHealthInsuInd.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 60%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="16" coolLength="1" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gcaseRole.arWaivedInsurance}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 71.25%; top: 60%; width: 10%; height: 4%;" coolCol="58"
     coolRow="16" coolLength="8" [hidden]="1 >= length(in.child)">{{in.child?.[1]?.gcaseRole.dateOfEmancipation|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_16_67"
     [(ngModel)]="ref(in.child, 1, 'gimportAbsenceRsn.description').value"
     [coolVideo]="out.child?.[1]?.gexportAbsenceRsn.screenField?.description"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="13"
     style="left: 82.5%; top: 60%; width: 16.25%; height: 4%;" coolCol="67"
     coolRow="16" coolLength="13" [hidden]="1 >= length(in.child)">
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.child, 2, 'gcommon.selectChar').value"
     [coolVideo]="out.child?.[2]?.gcommon.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1" [hidden]="2 >= length(in.child)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 64%; width: 1.25%; height: 4%;" coolCol="5"
     coolRow="17" coolLength="1" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportStatus.text1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 64%; width: 21.25%; height: 4%;" coolCol="7"
     coolRow="17" coolLength="17" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportCh.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 64%; width: 15%; height: 4%;" coolCol="25"
     coolRow="17" coolLength="12" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportCh.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="17" coolLength="1" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportCh.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 50%; top: 64%; width: 12.5%; height: 4%;" coolCol="41"
     coolRow="17" coolLength="10" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportCh.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 65%; top: 64%; width: 11.25%; height: 4%;" coolCol="53"
     coolRow="17" coolLength="9" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportCh.ssn}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 64%; width: 10%; height: 4%;" coolCol="64"
     coolRow="17" coolLength="8" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportCh.dob|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 64%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="17" coolLength="1" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportCh.sex}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 64%; width: 3.75%; height: 4%;" coolCol="77"
     coolRow="17" coolLength="3" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gprogram.code}}</div>
   <input type="text" coolType="field" name="field_18_5"
     [(ngModel)]="ref(in.child, 2, 'gimportRelToAr.description').value"
     [coolVideo]="out.child?.[2]?.gexportRelToAr.screenField?.description"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="14"
     style="left: 5%; top: 68%; width: 17.5%; height: 4%;" coolCol="5"
     coolRow="18" coolLength="14" [hidden]="2 >= length(in.child)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="23"
     coolRow="18" coolLength="1" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportCh.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 42.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="35"
     coolRow="18" coolLength="1" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gimportChHealthInsuInd.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 68%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="18" coolLength="1" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gcaseRole.arWaivedInsurance}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 71.25%; top: 68%; width: 10%; height: 4%;" coolCol="58"
     coolRow="18" coolLength="8" [hidden]="2 >= length(in.child)">{{in.child?.[2]?.gcaseRole.dateOfEmancipation|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_18_67"
     [(ngModel)]="ref(in.child, 2, 'gimportAbsenceRsn.description').value"
     [coolVideo]="out.child?.[2]?.gexportAbsenceRsn.screenField?.description"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="13"
     style="left: 82.5%; top: 68%; width: 16.25%; height: 4%;" coolCol="67"
     coolRow="18" coolLength="13" [hidden]="2 >= length(in.child)">
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.child, 3, 'gcommon.selectChar').value"
     [coolVideo]="out.child?.[3]?.gcommon.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1" [hidden]="3 >= length(in.child)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 72%; width: 1.25%; height: 4%;" coolCol="5"
     coolRow="19" coolLength="1" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportStatus.text1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 7.5%; top: 72%; width: 21.25%; height: 4%;" coolCol="7"
     coolRow="19" coolLength="17" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportCh.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 72%; width: 15%; height: 4%;" coolCol="25"
     coolRow="19" coolLength="12" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportCh.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="19" coolLength="1" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportCh.middleInitial}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 50%; top: 72%; width: 12.5%; height: 4%;" coolCol="41"
     coolRow="19" coolLength="10" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportCh.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 65%; top: 72%; width: 11.25%; height: 4%;" coolCol="53"
     coolRow="19" coolLength="9" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportCh.ssn}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 78.75%; top: 72%; width: 10%; height: 4%;" coolCol="64"
     coolRow="19" coolLength="8" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportCh.dob|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 72%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="19" coolLength="1" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportCh.sex}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 72%; width: 3.75%; height: 4%;" coolCol="77"
     coolRow="19" coolLength="3" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gprogram.code}}</div>
   <input type="text" coolType="field" name="field_20_5"
     [(ngModel)]="ref(in.child, 3, 'gimportRelToAr.description').value"
     [coolVideo]="out.child?.[3]?.gexportRelToAr.screenField?.description"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="14"
     style="left: 5%; top: 76%; width: 17.5%; height: 4%;" coolCol="5"
     coolRow="20" coolLength="14" [hidden]="3 >= length(in.child)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="23"
     coolRow="20" coolLength="1" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportCh.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 42.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="35"
     coolRow="20" coolLength="1" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gimportChHealthInsuInd.flag}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 60%; top: 76%; width: 1.25%; height: 4%;" coolCol="49"
     coolRow="20" coolLength="1" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gcaseRole.arWaivedInsurance}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 71.25%; top: 76%; width: 10%; height: 4%;" coolCol="58"
     coolRow="20" coolLength="8" [hidden]="3 >= length(in.child)">{{in.child?.[3]?.gcaseRole.dateOfEmancipation|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_20_67"
     [(ngModel)]="ref(in.child, 3, 'gimportAbsenceRsn.description').value"
     [coolVideo]="out.child?.[3]?.gexportAbsenceRsn.screenField?.description"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="13"
     style="left: 82.5%; top: 76%; width: 16.25%; height: 4%;" coolCol="67"
     coolRow="20" coolLength="13" [hidden]="3 >= length(in.child)">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 86.25%; top: 80%; width: 10%; height: 4%;" coolCol="70"
     coolRow="21" coolLength="8">{{in.hiddenPage.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 97.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="78">PF KEY:  1  Help  2 Disp  3 Exit  4 List  7 Prev  8 Next  11 Clear  12 Signoff</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 86.25%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="69">15 CHDS 16 PEPR 17 ALTS  18 CURA  19 PvScr  20 NxScr  21 HIPL 22 ROLE</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="CHDS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=CHDS</a>
   <a coolType="action" coolCommand="PEPR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=PEPR</a>
   <a coolType="action" coolCommand="ALTS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=ALTS</a>
   <a coolType="action" coolCommand="CURA" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=CURA</a>
   <a coolType="action" coolCommand="PVSCR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=PVSCR</a>
   <a coolType="action" coolCommand="NXSCR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F8">F20=NXSCR</a>
   <a coolType="action" coolCommand="HIPL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F9">F21=HIPL</a>
   <a coolType="action" coolCommand="ROLE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F10">F22=ROLE</a>
   </div>