<!--Name: SI_EMPL_EMPLOYER_MAINTENANCE, ID: 1902594265, model: 746-->
<div coolContent coolName="SI_EMPL_EMPLOYER_MAINTENANCE" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 28.75%; top: 0; width: 41.25%; height: 4%;" coolCol="24"
     coolRow="1" coolLength="33">CSE - Employer Maintenance - EMPL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 5%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="4">Name</div>
   <input type="text" coolType="field" name="field_4_7"
     [(ngModel)]="in.searchEmployer.name"
     [coolVideo]="out.searchEmployer.screenField?.name" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 7.5%; top: 12%; width: 41.25%; height: 4%;" coolCol="7"
     coolRow="4" coolLength="33">
   
   <div coolType="prompt" style="left: 50%; top: 12%; width: 3.75%; height: 4%;"
     coolCol="41" coolRow="4" coolLength="3">EIN</div>
   <input type="text" coolType="field" name="field_4_45"
     [(ngModel)]="in.searchEmployer.ein"
     [coolVideo]="out.searchEmployer.screenField?.ein" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="9"
     style="left: 55%; top: 12%; width: 11.25%; height: 4%;" coolCol="45"
     coolRow="4" coolLength="9">
   
   <div coolType="prompt" style="left: 67.5%; top: 12%; width: 5%; height: 4%;"
     coolCol="55" coolRow="4" coolLength="4">City</div>
   <input type="text" coolType="field" name="field_4_60"
     [(ngModel)]="in.searchEmployerAddress.city"
     [coolVideo]="out.searchEmployerAddress.screenField?.city" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 73.75%; top: 12%; width: 18.75%; height: 4%;" coolCol="60"
     coolRow="4" coolLength="15">
   <input type="text" coolType="field" name="field_4_76"
     [(ngModel)]="in.searchEmployerAddress.state"
     [coolVideo]="out.searchEmployerAddress.screenField?.state" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 93.75%; top: 12%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="4" coolLength="2">
   <input type="text" coolType="field" name="field_4_79"
     [(ngModel)]="in.statePrompt.flag"
     [coolVideo]="out.statePrompt.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 97.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 2.5%; top: 16%; width: 3.75%; height: 4%;" coolCol="3"
     coolRow="5" coolLength="3">Zip</div>
   <input type="text" coolType="field" name="field_5_7"
     [(ngModel)]="in.searchEmployerAddress.zipCode"
     [coolVideo]="out.searchEmployerAddress.screenField?.zipCode" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="5"
     style="left: 7.5%; top: 16%; width: 6.25%; height: 4%;" coolCol="7"
     coolRow="5" coolLength="5">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 15%; top: 16%; width: 7.5%; height: 4%;" coolCol="13"
     coolRow="5" coolLength="6">{{in.activeLable.text6}}</div>
   <input type="text" coolType="field" name="field_5_20"
     [(ngModel)]="in.active.flag" [coolVideo]="out.active.screenField?.flag"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 23.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="20"
     coolRow="5" coolLength="1">
   
   <div coolType="literal"
     style="left: 1.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="3">Sel</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 20%; width: 5%; height: 4%;" coolCol="18"
     coolRow="6" coolLength="4">Name</div>
   
   <div coolType="literal"
     style="left: 66.25%; top: 20%; width: 8.75%; height: 4%;" coolCol="54"
     coolRow="6" coolLength="7">Address</div>
   
   <div coolType="literal"
     style="left: 88.75%; top: 20%; width: 5%; height: 4%;" coolCol="72"
     coolRow="6" coolLength="4">More</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 95%; top: 20%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="6" coolLength="1">{{in.minus.oneChar}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 97.5%; top: 20%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="6" coolLength="1">{{in.plus.oneChar}}</div>
   <input type="text" coolType="field" name="field_7_3"
     [(ngModel)]="ref(in.group, 0, 'gdetailCommon.selectChar').value"
     [coolVideo]="out.group?.[0]?.gdetailCommon.screenField?.selectChar"
     coolAutotab #field_7_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="1">
   <input type="text" coolType="field" name="field_7_6"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.name').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.name" coolAutotab
     #field_7_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 6.25%; top: 24%; width: 41.25%; height: 4%;" coolCol="6"
     coolRow="7" coolLength="33">
   <input type="text" coolType="field" name="field_7_45"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployerAddress.street1').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployerAddress.screenField?.street1"
     coolAutotab #field_7_45 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 55%; top: 24%; width: 31.25%; height: 4%;" coolCol="45"
     coolRow="7" coolLength="25">
   
   <div coolType="prompt"
     style="left: 6.25%; top: 28%; width: 8.75%; height: 4%;" coolCol="6"
     coolRow="8" coolLength="7">Phone #</div>
   <input type="text" coolType="field" name="field_8_14"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.areaCode').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.areaCode"
     coolAutotab #field_8_14 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 16.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="14"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_18"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.phoneNo').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.phoneNo"
     coolAutotab #field_8_18 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 21.25%; top: 28%; width: 8.75%; height: 4%;" coolCol="18"
     coolRow="8" coolLength="7">
   
   <div coolType="prompt"
     style="left: 31.25%; top: 28%; width: 6.25%; height: 4%;" coolCol="26"
     coolRow="8" coolLength="5">Fax #</div>
   <input type="text" coolType="field" name="field_8_32"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.faxAreaCode').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.faxAreaCode"
     coolAutotab #field_8_32 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 38.75%; top: 28%; width: 3.75%; height: 4%;" coolCol="32"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_36"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.faxPhoneNo').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.faxPhoneNo"
     coolAutotab #field_8_36 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 43.75%; top: 28%; width: 8.75%; height: 4%;" coolCol="36"
     coolRow="8" coolLength="7">
   <input type="text" coolType="field" name="field_8_45"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployerAddress.street2').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployerAddress.screenField?.street2"
     coolAutotab #field_8_45 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 55%; top: 28%; width: 31.25%; height: 4%;" coolCol="45"
     coolRow="8" coolLength="25">
   
   <div coolType="prompt"
     style="left: 6.25%; top: 32%; width: 11.25%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="9">Kansas ID</div>
   <input type="text" coolType="field" name="field_9_16"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.kansasId').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.kansasId"
     coolAutotab #field_9_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="6"
     style="left: 18.75%; top: 32%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="9" coolLength="6">
   
   <div coolType="prompt" style="left: 30%; top: 32%; width: 3.75%; height: 4%;"
     coolCol="25" coolRow="9" coolLength="3">EIN</div>
   <input type="text" coolType="field" name="field_9_30"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.ein').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.ein" coolAutotab
     #field_9_30 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="9"
     style="left: 36.25%; top: 32%; width: 11.25%; height: 4%;" coolCol="30"
     coolRow="9" coolLength="9">
   <input type="text" coolType="field" name="field_9_45"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployerAddress.city').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployerAddress.screenField?.city"
     coolAutotab #field_9_45 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="15"
     style="left: 55%; top: 32%; width: 18.75%; height: 4%;" coolCol="45"
     coolRow="9" coolLength="15">
   <input type="text" coolType="field" name="field_9_61"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployerAddress.state').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployerAddress.screenField?.state"
     coolAutotab #field_9_61 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 75%; top: 32%; width: 2.5%; height: 4%;" coolCol="61"
     coolRow="9" coolLength="2">
   <input type="text" coolType="field" name="field_9_64"
     [(ngModel)]="ref(in.group, 0, 'gdetailPrompt.flag').value"
     [coolVideo]="out.group?.[0]?.gdetailPrompt.screenField?.flag" coolAutotab
     #field_9_64 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 78.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="9" coolLength="1">
   <input type="text" coolType="field" name="field_9_66"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployerAddress.zipCode').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployerAddress.screenField?.zipCode"
     coolAutotab #field_9_66 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 81.25%; top: 32%; width: 6.25%; height: 4%;" coolCol="66"
     coolRow="9" coolLength="5">
   <input type="text" coolType="field" name="field_9_72"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployerAddress.zip4').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployerAddress.screenField?.zip4"
     coolAutotab #field_9_72 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="4"
     style="left: 88.75%; top: 32%; width: 5%; height: 4%;" coolCol="72"
     coolRow="9" coolLength="4">
   
   <div coolType="prompt"
     style="left: 6.25%; top: 36%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="5">Email</div>
   <input type="text" coolType="field" name="field_10_12"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.emailAddress').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.emailAddress"
     coolAutotab #field_10_12 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="65"
     style="left: 13.75%; top: 36%; width: 81.25%; height: 4%;" coolCol="12"
     coolRow="10" coolLength="65">
   
   <div coolType="prompt" style="left: 6.25%; top: 40%; width: 5%; height: 4%;"
     coolCol="6" coolRow="11" coolLength="4">Note</div>
   <input type="text" coolType="field" name="field_11_11"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployerAddress.note').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployerAddress.screenField?.note"
     coolAutotab #field_11_11 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="69"
     style="left: 12.5%; top: 40%; width: 86.25%; height: 4%;" coolCol="11"
     coolRow="11" coolLength="69">
   
   <div coolType="prompt"
     style="left: 6.25%; top: 44%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="5">Start</div>
   <input type="text" coolType="field" name="field_12_12"
     [(ngModel)]="ref(in.group, 0, 'gdetailEmployer.effectiveDate').value"
     [coolVideo]="out.group?.[0]?.gdetailEmployer.screenField?.effectiveDate"
     coolAutotab #field_12_12 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 13.75%; top: 44%; width: 10%; height: 4%;" coolCol="12"
     coolRow="12" coolLength="8">
   
   <div coolType="prompt"
     style="left: 27.5%; top: 44%; width: 3.75%; height: 4%;" coolCol="23"
     coolRow="12" coolLength="3">End</div>
   <input type="text" coolType="field" name="field_12_27"
     [(ngModel)]="ref(in.group, 0, 'gend.date').value"
     [coolVideo]="out.group?.[0]?.gend.screenField?.date" coolAutotab
     #field_12_27 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 32.5%; top: 44%; width: 10%; height: 4%;" coolCol="27"
     coolRow="12" coolLength="8">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 44%; width: 13.75%; height: 4%;" coolCol="44"
     coolRow="12" coolLength="11">e-IWO Start</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 44%; width: 10%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="8">{{in.group?.[0]?.gdetailEmployer.eiwoStartDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal"
     style="left: 80%; top: 44%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="12" coolLength="3">End</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 85%; top: 44%; width: 10%; height: 4%;" coolCol="69"
     coolRow="12" coolLength="8">{{in.group?.[0]?.geiwoEnd.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 48%; width: 13.75%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="11">Create Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 48%; width: 10%; height: 4%;" coolCol="18"
     coolRow="13" coolLength="8">{{in.group?.[0]?.gcreateDate.date|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.group, 1, 'gdetailCommon.selectChar').value"
     [coolVideo]="out.group?.[1]?.gdetailCommon.screenField?.selectChar"
     coolAutotab #field_14_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_6"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.name').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.name" coolAutotab
     #field_14_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 6.25%; top: 52%; width: 41.25%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="33">
   <input type="text" coolType="field" name="field_14_45"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployerAddress.street1').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployerAddress.screenField?.street1"
     coolAutotab #field_14_45 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 55%; top: 52%; width: 31.25%; height: 4%;" coolCol="45"
     coolRow="14" coolLength="25">
   
   <div coolType="literal"
     style="left: 6.25%; top: 56%; width: 8.75%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="7">Phone #</div>
   <input type="text" coolType="field" name="field_15_14"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.areaCode').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.areaCode"
     coolAutotab #field_15_14 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 16.25%; top: 56%; width: 3.75%; height: 4%;" coolCol="14"
     coolRow="15" coolLength="3">
   <input type="text" coolType="field" name="field_15_18"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.phoneNo').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.phoneNo"
     coolAutotab #field_15_18 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 21.25%; top: 56%; width: 8.75%; height: 4%;" coolCol="18"
     coolRow="15" coolLength="7">
   
   <div coolType="literal"
     style="left: 31.25%; top: 56%; width: 6.25%; height: 4%;" coolCol="26"
     coolRow="15" coolLength="5">Fax #</div>
   <input type="text" coolType="field" name="field_15_32"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.faxAreaCode').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.faxAreaCode"
     coolAutotab #field_15_32 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 38.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="32"
     coolRow="15" coolLength="3">
   <input type="text" coolType="field" name="field_15_36"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.faxPhoneNo').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.faxPhoneNo"
     coolAutotab #field_15_36 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="7"
     style="left: 43.75%; top: 56%; width: 8.75%; height: 4%;" coolCol="36"
     coolRow="15" coolLength="7">
   <input type="text" coolType="field" name="field_15_45"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployerAddress.street2').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployerAddress.screenField?.street2"
     coolAutotab #field_15_45 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 55%; top: 56%; width: 31.25%; height: 4%;" coolCol="45"
     coolRow="15" coolLength="25">
   
   <div coolType="literal"
     style="left: 6.25%; top: 60%; width: 11.25%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="9">Kansas ID</div>
   <input type="text" coolType="field" name="field_16_16"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.kansasId').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.kansasId"
     coolAutotab #field_16_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="6"
     style="left: 18.75%; top: 60%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="16" coolLength="6">
   
   <div coolType="literal"
     style="left: 30%; top: 60%; width: 3.75%; height: 4%;" coolCol="25"
     coolRow="16" coolLength="3">EIN</div>
   <input type="text" coolType="field" name="field_16_29"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.ein').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.ein" coolAutotab
     #field_16_29 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="9"
     style="left: 35%; top: 60%; width: 11.25%; height: 4%;" coolCol="29"
     coolRow="16" coolLength="9">
   <input type="text" coolType="field" name="field_16_45"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployerAddress.city').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployerAddress.screenField?.city"
     coolAutotab #field_16_45 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="15"
     style="left: 55%; top: 60%; width: 18.75%; height: 4%;" coolCol="45"
     coolRow="16" coolLength="15">
   <input type="text" coolType="field" name="field_16_61"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployerAddress.state').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployerAddress.screenField?.state"
     coolAutotab #field_16_61 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 75%; top: 60%; width: 2.5%; height: 4%;" coolCol="61"
     coolRow="16" coolLength="2">
   <input type="text" coolType="field" name="field_16_64"
     [(ngModel)]="ref(in.group, 1, 'gdetailPrompt.flag').value"
     [coolVideo]="out.group?.[1]?.gdetailPrompt.screenField?.flag" coolAutotab
     #field_16_64 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 78.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="16" coolLength="1">
   <input type="text" coolType="field" name="field_16_66"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployerAddress.zipCode').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployerAddress.screenField?.zipCode"
     coolAutotab #field_16_66 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 81.25%; top: 60%; width: 6.25%; height: 4%;" coolCol="66"
     coolRow="16" coolLength="5">
   <input type="text" coolType="field" name="field_16_72"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployerAddress.zip4').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployerAddress.screenField?.zip4"
     coolAutotab #field_16_72 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="4"
     style="left: 88.75%; top: 60%; width: 5%; height: 4%;" coolCol="72"
     coolRow="16" coolLength="4">
   
   <div coolType="literal"
     style="left: 6.25%; top: 64%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="5">Email</div>
   <input type="text" coolType="field" name="field_17_12"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.emailAddress').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.emailAddress"
     coolAutotab #field_17_12 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="65"
     style="left: 13.75%; top: 64%; width: 81.25%; height: 4%;" coolCol="12"
     coolRow="17" coolLength="65">
   
   <div coolType="literal" style="left: 6.25%; top: 68%; width: 5%; height: 4%;"
     coolCol="6" coolRow="18" coolLength="4">Note</div>
   <input type="text" coolType="field" name="field_18_11"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployerAddress.note').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployerAddress.screenField?.note"
     coolAutotab #field_18_11 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="69"
     style="left: 12.5%; top: 68%; width: 86.25%; height: 4%;" coolCol="11"
     coolRow="18" coolLength="69">
   
   <div coolType="literal"
     style="left: 6.25%; top: 72%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="19" coolLength="5">Start</div>
   <input type="text" coolType="field" name="field_19_12"
     [(ngModel)]="ref(in.group, 1, 'gdetailEmployer.effectiveDate').value"
     [coolVideo]="out.group?.[1]?.gdetailEmployer.screenField?.effectiveDate"
     coolAutotab #field_19_12 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 13.75%; top: 72%; width: 10%; height: 4%;" coolCol="12"
     coolRow="19" coolLength="8">
   
   <div coolType="literal"
     style="left: 26.25%; top: 72%; width: 3.75%; height: 4%;" coolCol="22"
     coolRow="19" coolLength="3" coolColor="white">End</div>
   <input type="text" coolType="field" name="field_19_26"
     [(ngModel)]="ref(in.group, 1, 'gend.date').value"
     [coolVideo]="out.group?.[1]?.gend.screenField?.date" coolAutotab
     #field_19_26 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 31.25%; top: 72%; width: 10%; height: 4%;" coolCol="26"
     coolRow="19" coolLength="8">
   
   <div coolType="literal"
     style="left: 53.75%; top: 72%; width: 13.75%; height: 4%;" coolCol="44"
     coolRow="19" coolLength="11">e-IWO Start</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 68.75%; top: 72%; width: 10%; height: 4%;" coolCol="56"
     coolRow="19" coolLength="8">{{in.group?.[1]?.gdetailEmployer.eiwoStartDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal"
     style="left: 80%; top: 72%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="19" coolLength="3">End</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 85%; top: 72%; width: 10%; height: 4%;" coolCol="69"
     coolRow="19" coolLength="8">{{in.group?.[1]?.geiwoEnd.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="literal"
     style="left: 6.25%; top: 76%; width: 13.75%; height: 4%;" coolCol="6"
     coolRow="20" coolLength="11">Create Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 21.25%; top: 76%; width: 10%; height: 4%;" coolCol="18"
     coolRow="20" coolLength="8">{{in.group?.[1]?.gcreateDate.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 97.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="78">PFKEY:  1 Help  2 Disp  3 Exit  4 List  5 Add  6 Upd  7 Prev  8 Next  9 Return</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 0; top: 92%; width: 100%; height: 4%;" coolCol="1"
     coolRow="24" coolLength="80">{{in.pfKey.text80}}</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="DEDE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=DEDE</a>
   <a coolType="action" coolCommand="EMPA" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=EMPA</a>
   <a coolType="action" coolCommand="EMPX" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=EMPX</a>
   <a coolType="action" coolCommand="EMPH" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=EMPH</a>
   </div>