<!--Name: SI_IATT_INTERSTATE_REQ_ATTACH, ID: 372381085, model: 746-->
<div coolContent coolName="SI_IATT_INTERSTATE_REQ_ATTACH" coolType="SCREEN"
  (coolInit)="scrollSize = 50; pageSize = 10">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 0; width: 43.75%; height: 4%;" coolCol="23"
     coolRow="1" coolLength="35">CSE - Interstate Attachments - IATT</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt" style="left: 20%; top: 4%; width: 7.5%; height: 4%;"
     coolCol="17" coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 4%; width: 43.75%; height: 4%;" coolCol="37"
     coolRow="2" coolLength="35">{{in.headerLine.text35}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_4_9"
     [(ngModel)]="in.displayOnly.number"
     [coolVideo]="out.displayOnly.screenField?.number" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 10%; top: 12%; width: 12.5%; height: 4%;" coolCol="9"
     coolRow="4" coolLength="10">
   
   <div coolType="prompt"
     style="left: 27.5%; top: 12%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="4" coolLength="2">AP</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 12%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="4" coolLength="10">{{in.ap.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 12%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="4" coolLength="33">{{in.ap.formattedName}}</div>
   <input type="text" coolType="field" name="field_4_71"
     [(ngModel)]="in.promptPerson.selectChar"
     [coolVideo]="out.promptPerson.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 87.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 13.75%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="11">KS Case Ind</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="5" coolLength="1">{{in.interstateRequest.ksCaseInd}}</div>
   
   <div coolType="prompt"
     style="left: 27.5%; top: 16%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="5" coolLength="2">AR</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 16%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="5" coolLength="10">{{in.ar.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 16%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="5" coolLength="33">{{in.ar.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="5">State</div>
   <input type="text" coolType="field" name="field_7_8"
     [(ngModel)]="in.state.state" [coolVideo]="out.state.screenField?.state"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 8.75%; top: 24%; width: 2.5%; height: 4%;" coolCol="8"
     coolRow="7" coolLength="2">
   <input type="text" coolType="field" name="field_7_11"
     [(ngModel)]="in.iattStatePrompt.selectChar"
     [coolVideo]="out.iattStatePrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 12.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="11"
     coolRow="7" coolLength="1">
   
   <div coolType="prompt"
     style="left: 27.5%; top: 24%; width: 22.5%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="18">Other State Case #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 51.25%; top: 24%; width: 18.75%; height: 4%;" coolCol="42"
     coolRow="7" coolLength="15">{{in.interstateRequest.otherStateCaseId}}</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 24%; width: 8.75%; height: 4%;" coolCol="62"
     coolRow="7" coolLength="7">Program</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 86.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="70"
     coolRow="7" coolLength="3">{{in.interstateRequest.caseType}}</div>
   
   <div coolType="literal" style="left: 0; top: 32%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="9" coolLength="3">Sel</div>
   
   <div coolType="literal"
     style="left: 6.25%; top: 32%; width: 18.75%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="15">Attachment Type</div>
   <input type="text" coolType="field" name="field_9_22"
     [(ngModel)]="in.promptAttachment.selectChar"
     [coolVideo]="out.promptAttachment.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 26.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="22"
     coolRow="9" coolLength="1">
   
   <div coolType="literal"
     style="left: 63.75%; top: 32%; width: 8.75%; height: 4%;" coolCol="52"
     coolRow="9" coolLength="7">Send Dt</div>
   
   <div coolType="literal"
     style="left: 76.25%; top: 32%; width: 8.75%; height: 4%;" coolCol="62"
     coolRow="9" coolLength="7">Recd Dt</div>
   
   <div coolType="literal"
     style="left: 87.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="71"
     coolRow="9" coolLength="10">Request Dt</div>
   <input type="text" coolType="field" name="field_11_2"
     [(ngModel)]="ref(in.import1, pageOffset, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 40%; width: 5%; height: 4%;" coolCol="5" coolRow="11"
     coolLength="4" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_11_10"
     [(ngModel)]="ref(in.import1, pageOffset, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 40%; width: 50%; height: 4%;" coolCol="10"
     coolRow="11" coolLength="40" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 40%; width: 10%; height: 4%;" coolCol="52"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_11_62"
     [(ngModel)]="ref(in.import1, pageOffset, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 40%; width: 10%; height: 4%;" coolCol="62"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 40%; width: 10%; height: 4%;" coolCol="72"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= length(in.import1)">{{in.import1?.[pageOffset]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 44%; width: 5%; height: 4%;" coolCol="5" coolRow="12"
     coolLength="4" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_12_10"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 44%; width: 50%; height: 4%;" coolCol="10"
     coolRow="12" coolLength="40"
     [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 44%; width: 10%; height: 4%;" coolCol="52"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_12_62"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 44%; width: 10%; height: 4%;" coolCol="62"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 44%; width: 10%; height: 4%;" coolCol="72"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= length(in.import1)">{{in.import1?.[pageOffset + 1]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 48%; width: 5%; height: 4%;" coolCol="5" coolRow="13"
     coolLength="4" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_13_10"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 48%; width: 50%; height: 4%;" coolCol="10"
     coolRow="13" coolLength="40"
     [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 48%; width: 10%; height: 4%;" coolCol="52"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_13_62"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 48%; width: 10%; height: 4%;" coolCol="62"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 48%; width: 10%; height: 4%;" coolCol="72"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= length(in.import1)">{{in.import1?.[pageOffset + 2]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 52%; width: 5%; height: 4%;" coolCol="5" coolRow="14"
     coolLength="4" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_14_10"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 52%; width: 50%; height: 4%;" coolCol="10"
     coolRow="14" coolLength="40"
     [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 52%; width: 10%; height: 4%;" coolCol="52"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_14_62"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 52%; width: 10%; height: 4%;" coolCol="62"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 52%; width: 10%; height: 4%;" coolCol="72"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 3 >= length(in.import1)">{{in.import1?.[pageOffset + 3]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 56%; width: 5%; height: 4%;" coolCol="5" coolRow="15"
     coolLength="4" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_15_10"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 56%; width: 50%; height: 4%;" coolCol="10"
     coolRow="15" coolLength="40"
     [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 56%; width: 10%; height: 4%;" coolCol="52"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_15_62"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 56%; width: 10%; height: 4%;" coolCol="62"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 56%; width: 10%; height: 4%;" coolCol="72"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 4 >= length(in.import1)">{{in.import1?.[pageOffset + 4]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 60%; width: 5%; height: 4%;" coolCol="5" coolRow="16"
     coolLength="4" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_16_10"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 60%; width: 50%; height: 4%;" coolCol="10"
     coolRow="16" coolLength="40"
     [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 60%; width: 10%; height: 4%;" coolCol="52"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_16_62"
     [(ngModel)]="ref(in.import1, pageOffset + 5, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 5]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 60%; width: 10%; height: 4%;" coolCol="62"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 60%; width: 10%; height: 4%;" coolCol="72"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 5 >= length(in.import1)">{{in.import1?.[pageOffset + 5]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 64%; width: 5%; height: 4%;" coolCol="5" coolRow="17"
     coolLength="4" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_17_10"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 64%; width: 50%; height: 4%;" coolCol="10"
     coolRow="17" coolLength="40"
     [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 64%; width: 10%; height: 4%;" coolCol="52"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_17_62"
     [(ngModel)]="ref(in.import1, pageOffset + 6, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 6]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 64%; width: 10%; height: 4%;" coolCol="62"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 64%; width: 10%; height: 4%;" coolCol="72"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 6 >= length(in.import1)">{{in.import1?.[pageOffset + 6]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 68%; width: 5%; height: 4%;" coolCol="5" coolRow="18"
     coolLength="4" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_18_10"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 68%; width: 50%; height: 4%;" coolCol="10"
     coolRow="18" coolLength="40"
     [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 68%; width: 10%; height: 4%;" coolCol="52"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_18_62"
     [(ngModel)]="ref(in.import1, pageOffset + 7, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 7]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 68%; width: 10%; height: 4%;" coolCol="62"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 68%; width: 10%; height: 4%;" coolCol="72"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 7 >= length(in.import1)">{{in.import1?.[pageOffset + 7]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 72%; width: 5%; height: 4%;" coolCol="5" coolRow="19"
     coolLength="4" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_19_10"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 72%; width: 50%; height: 4%;" coolCol="10"
     coolRow="19" coolLength="40"
     [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 72%; width: 10%; height: 4%;" coolCol="52"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_19_62"
     [(ngModel)]="ref(in.import1, pageOffset + 8, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 8]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 72%; width: 10%; height: 4%;" coolCol="62"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 72%; width: 10%; height: 4%;" coolCol="72"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 8 >= length(in.import1)">{{in.import1?.[pageOffset + 8]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'select.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.select.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 5%; top: 76%; width: 5%; height: 4%;" coolCol="5" coolRow="20"
     coolLength="4" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.details.dataTypeCode}}</div>
   <input type="text" coolType="field" name="field_20_10"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'details.note').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.details.screenField?.note"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="40"
     style="left: 11.25%; top: 76%; width: 50%; height: 4%;" coolCol="10"
     coolRow="20" coolLength="40"
     [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 63.75%; top: 76%; width: 10%; height: 4%;" coolCol="52"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.details.sentDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_20_62"
     [(ngModel)]="ref(in.import1, pageOffset + 9, 'details.receivedDate').value"
     [coolVideo]="out.export1?.[pageOffset + 9]?.details.screenField?.receivedDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 76.25%; top: 76%; width: 10%; height: 4%;" coolCol="62"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 76%; width: 10%; height: 4%;" coolCol="72"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 9 >= length(in.import1)">{{in.import1?.[pageOffset + 9]?.details.requestDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="71" coolRow="21" coolLength="9"
     style="left: 87.5%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="79"
     style="left: 0; top: 84%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 98.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="79">PF KEY:  1 Help    2 Display  3 Exit     4 List    7 Prev     8 Next   9 Return</div>
   
   <div coolType="literal" style="left: 10%; top: 92%; width: 80%; height: 4%;"
     coolCol="9" coolRow="24" coolLength="64">10 Delete 11 Clear   12 Signoff 15 Send   16 Request 17 Received</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="SEND" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=SEND</a>
   <a coolType="action" coolCommand="REQUEST" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=REQUEST</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=UPDATE</a>
   </div>