<!--Name: SI_IIIN_INCOMING_INTERSTATE_INFO, ID: 372503528, model: 746-->
<div coolContent coolName="SI_IIIN_INCOMING_INTERSTATE_INFO" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 22.5%; top: 0; width: 55%; height: 4%;"
     coolCol="19" coolRow="1" coolLength="44">CSE - Incoming Interstate Information - IIIN</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt" style="left: 20%; top: 4%; width: 7.5%; height: 4%;"
     coolCol="17" coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 4%; width: 43.75%; height: 4%;" coolCol="37"
     coolRow="2" coolLength="35">{{in.headerLine.text35}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="6">Case #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 12%; width: 12.5%; height: 4%;" coolCol="9"
     coolRow="4" coolLength="10">{{in.displayOnly.number}}</div>
   
   <div coolType="prompt"
     style="left: 27.5%; top: 12%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="4" coolLength="2">AP</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 12%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="4" coolLength="10">{{in.ap.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 12%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="4" coolLength="33">{{in.ap.formattedName}}</div>
   <input type="text" coolType="field" name="field_4_71"
     [(ngModel)]="in.promptPerson.selectChar"
     [coolVideo]="out.promptPerson.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 87.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 27.5%; top: 16%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="5" coolLength="2">AR</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 16%; width: 12.5%; height: 4%;" coolCol="26"
     coolRow="5" coolLength="10">{{in.ar.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 16%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="5" coolLength="33">{{in.ar.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="5">State</div>
   <input type="text" coolType="field" name="field_7_8"
     [(ngModel)]="in.otherState.stateAbbreviation"
     [coolVideo]="out.otherStateFips1.screenField?.stateAbbreviation"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 8.75%; top: 24%; width: 2.5%; height: 4%;" coolCol="8"
     coolRow="7" coolLength="2">
   <input type="text" coolType="field" name="field_7_11"
     [(ngModel)]="in.ireqStatePrompt.selectChar"
     [coolVideo]="out.ireqStatePrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 12.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="11"
     coolRow="7" coolLength="1">
   
   <div coolType="prompt" style="left: 17.5%; top: 24%; width: 5%; height: 4%;"
     coolCol="15" coolRow="7" coolLength="4">FIPS</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 23.75%; top: 24%; width: 2.5%; height: 4%;" coolCol="20"
     coolRow="7" coolLength="2">{{in.interstateRequest.otherStateFips|coolNumber:'00;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 27.5%; top: 24%; width: 3.75%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="3">{{in.otherStateFips.countyFips}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 32.5%; top: 24%; width: 2.5%; height: 4%;" coolCol="27"
     coolRow="7" coolLength="2">{{in.otherStateFips.locationFips}}</div>
   
   <div coolType="prompt"
     style="left: 38.75%; top: 24%; width: 8.75%; height: 4%;" coolCol="32"
     coolRow="7" coolLength="7">Program</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 48.75%; top: 24%; width: 3.75%; height: 4%;" coolCol="40"
     coolRow="7" coolLength="3">{{in.interstateRequest.caseType}}</div>
   
   <div coolType="prompt"
     style="left: 56.25%; top: 24%; width: 12.5%; height: 4%;" coolCol="46"
     coolRow="7" coolLength="10">KS Open Dt</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 70%; top: 24%; width: 10%; height: 4%;" coolCol="57"
     coolRow="7" coolLength="8">{{in.displayOnly.cseOpenDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt"
     style="left: 83.75%; top: 24%; width: 10%; height: 4%;" coolCol="68"
     coolRow="7" coolLength="8">Dup Case</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 24%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="7" coolLength="1">{{in.displayOnly.duplicateCaseIndicator}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 32%; width: 21.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="17">Initiating Case #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 32%; width: 18.75%; height: 4%;" coolCol="20"
     coolRow="9" coolLength="15">{{in.interstateRequest.otherStateCaseId}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 32%; width: 15%; height: 4%;" coolCol="38"
     coolRow="9" coolLength="12">Closure Date</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 62.5%; top: 32%; width: 10%; height: 4%;" coolCol="51"
     coolRow="9" coolLength="8">{{in.interstateRequest.otherStateCaseClosureDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 75%; top: 32%; width: 17.5%; height: 4%;"
     coolCol="61" coolRow="9" coolLength="14">Closure Reason</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 32%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="9" coolLength="2">{{in.interstateRequest.otherStateCaseClosureReason}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 36%; width: 18.75%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="15">Attachment Sent</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 21.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="18"
     coolRow="10" coolLength="1">{{in.attachmentRcvd.selectChar}}</div>
   
   <div coolType="prompt"
     style="left: 12.5%; top: 44%; width: 8.75%; height: 4%;" coolCol="11"
     coolRow="12" coolLength="7">Contact</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 44%; width: 41.25%; height: 4%;" coolCol="19"
     coolRow="12" coolLength="33">{{in.interstateContact2.formattedNameText}}</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 44%; width: 8.75%; height: 4%;" coolCol="54"
     coolRow="12" coolLength="7">Phone #</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 44%; width: 3.75%; height: 4%;" coolCol="62"
     coolRow="12" coolLength="3">{{in.interstateContact1.areaCode|coolNumber:'###':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 81.25%; top: 44%; width: 8.75%; height: 4%;" coolCol="66"
     coolRow="12" coolLength="7">{{in.interstateContact1.contactPhoneNum|coolNumber:'#######':0}}</div>
   <input type="text" coolType="field" name="field_12_74"
     [(ngModel)]="in.interstateContact1.contactPhoneExtension"
     [coolVideo]="out.interstateContact1.screenField?.contactPhoneExtension"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="6"
     style="left: 91.25%; top: 44%; width: 7.5%; height: 4%;" coolCol="74"
     coolRow="12" coolLength="6">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 48%; width: 31.25%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="25">{{in.interstateContactAddress.street1}}</div>
   
   <div coolType="prompt"
     style="left: 68.75%; top: 48%; width: 6.25%; height: 4%;" coolCol="56"
     coolRow="13" coolLength="5">Fax #</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 76.25%; top: 48%; width: 3.75%; height: 4%;" coolCol="62"
     coolRow="13" coolLength="3">{{in.interstateContact1.contactFaxAreaCode|coolNumber:'###':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 81.25%; top: 48%; width: 8.75%; height: 4%;" coolCol="66"
     coolRow="13" coolLength="7">{{in.interstateContact1.contactFaxNumber|coolNumber:'#######':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 52%; width: 31.25%; height: 4%;" coolCol="19"
     coolRow="14" coolLength="25">{{in.interstateContactAddress.street2}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 56%; width: 22.5%; height: 4%;" coolCol="19"
     coolRow="15" coolLength="18">{{in.interstateContactAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 56%; width: 2.5%; height: 4%;" coolCol="38"
     coolRow="15" coolLength="2">{{in.interstateContactAddress.state}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 50%; top: 56%; width: 6.25%; height: 4%;" coolCol="41"
     coolRow="15" coolLength="5">{{in.interstateContactAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 56%; width: 5%; height: 4%;" coolCol="47"
     coolRow="15" coolLength="4">{{in.interstateContactAddress.zip4}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 60%; width: 20%; height: 4%;"
     coolCol="2" coolRow="16" coolLength="16">Internet Address</div>
   <input type="text" coolType="field" name="field_16_19"
     [(ngModel)]="in.interstateContact1.contactInternetAddress"
     [coolVideo]="out.interstateContact1.screenField?.contactInternetAddress"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="35"
     style="left: 22.5%; top: 60%; width: 43.75%; height: 4%;" coolCol="19"
     coolRow="16" coolLength="35">
   
   <div coolType="prompt"
     style="left: 12.5%; top: 68%; width: 8.75%; height: 4%;" coolCol="11"
     coolRow="18" coolLength="7">Payment</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 68%; width: 41.25%; height: 4%;" coolCol="19"
     coolRow="18" coolLength="33">{{in.interstatePaymentAddress.payableToName}}</div>
   
   <div coolType="prompt"
     style="left: 66.25%; top: 68%; width: 15%; height: 4%;" coolCol="54"
     coolRow="18" coolLength="12">Payment FIPS</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 82.5%; top: 68%; width: 2.5%; height: 4%;" coolCol="67"
     coolRow="18" coolLength="2">{{in.interstatePaymentAddress.fipsState}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 86.25%; top: 68%; width: 3.75%; height: 4%;" coolCol="70"
     coolRow="18" coolLength="3">{{in.interstatePaymentAddress.fipsCounty}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 68%; width: 2.5%; height: 4%;" coolCol="74"
     coolRow="18" coolLength="2">{{in.interstatePaymentAddress.fipsLocation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 72%; width: 31.25%; height: 4%;" coolCol="19"
     coolRow="19" coolLength="25">{{in.interstatePaymentAddress.street1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 76%; width: 31.25%; height: 4%;" coolCol="19"
     coolRow="20" coolLength="25">{{in.interstatePaymentAddress.street2}}</div>
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 0; top: 80%; width: 15%; height: 4%;" coolCol="1" coolRow="21"
     coolLength="12">{{in.foreignInfoMsg.text12}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 80%; width: 22.5%; height: 4%;" coolCol="19"
     coolRow="21" coolLength="18">{{in.interstatePaymentAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 80%; width: 2.5%; height: 4%;" coolCol="38"
     coolRow="21" coolLength="2">{{in.interstatePaymentAddress.state}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 50%; top: 80%; width: 6.25%; height: 4%;" coolCol="41"
     coolRow="21" coolLength="5">{{in.interstatePaymentAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 80%; width: 5%; height: 4%;" coolCol="47"
     coolRow="21" coolLength="4">{{in.interstatePaymentAddress.zip4}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="79"
     style="left: 0; top: 84%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 91.25%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="73">PF KEY:  1 Help   2 Display  3 Exit  4 List  6 Update  9 Return  11 Clear</div>
   
   <div coolType="literal" style="left: 10%; top: 92%; width: 60%; height: 4%;"
     coolCol="9" coolRow="24" coolLength="48">12 Signoff  15 IATT  16 IREQ    17 IIOI  18 IIFI</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="IATT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=IATT</a>
   <a coolType="action" coolCommand="IREQ" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=IREQ</a>
   <a coolType="action" coolCommand="IIOI" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=IIOI</a>
   <a coolType="action" coolCommand="IIFI" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=IIFI</a>
   </div>