<!--Name: SI_INRM_INFORMATION_REQUEST_MENU, ID: 371426955, model: 746-->
<div coolContent coolName="SI_INRM_INFORMATION_REQUEST_MENU" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 46.25%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="37" coolColor="white">CSE - Information Request Menu - INRM</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 4%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 24%; width: 46.25%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="37" coolColor="white">1.  INRD  Information Request Details</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 32%; width: 53.75%; height: 4%;" coolCol="23"
     coolRow="9" coolLength="43" coolColor="white">2.  INRA  Information Requests by Applicant</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 40%; width: 50%; height: 4%;" coolCol="23"
     coolRow="11" coolLength="40" coolColor="white">3.  INRC  Information Requests by Caller</div>
   
   <div coolType="literal"
     style="left: 25%; top: 60%; width: 28.75%; height: 4%;" coolCol="21"
     coolRow="16" coolLength="23">Please select an option</div>
   <input type="text" coolType="field" name="field_16_45"
     [(ngModel)]="in.standard.menuOption"
     [coolVideo]="out.standard.screenField?.menuOption" coolAutotab coolFocus
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0;#" coolBlankWhenZero [attr.maxlength]="1"
     style="left: 55%; top: 60%; width: 1.25%; height: 4%;" coolCol="45"
     coolRow="16" coolLength="1">
   
   <div coolType="prompt"
     style="left: 25%; top: 68%; width: 11.25%; height: 4%;" coolCol="21"
     coolRow="18" coolLength="9" coolColor="white">Request #</div>
   <input type="text" coolType="field" name="field_18_31"
     [(ngModel)]="in.informationRequest.number"
     [coolVideo]="out.informationRequest.screenField?.number" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000000000;#" coolBlankWhenZero [attr.maxlength]="10"
     style="left: 37.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="31"
     coolRow="18" coolLength="10">
   
   <div coolType="literal"
     style="left: 73.75%; top: 68%; width: 12.5%; height: 4%;" coolCol="60"
     coolRow="18" coolLength="10">(Option 1)</div>
   
   <div coolType="prompt" style="left: 25%; top: 72%; width: 5%; height: 4%;"
     coolCol="21" coolRow="19" coolLength="4" coolColor="white">Name</div>
   <input type="text" coolType="field" name="field_19_26"
     [(ngModel)]="in.informationRequest.applicantLastName"
     [coolVideo]="out.informationRequest.screenField?.applicantLastName"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 31.25%; top: 72%; width: 21.25%; height: 4%;" coolCol="26"
     coolRow="19" coolLength="17">
   <input type="text" coolType="field" name="field_19_44"
     [(ngModel)]="in.informationRequest.applicantFirstName"
     [coolVideo]="out.informationRequest.screenField?.applicantFirstName"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="12"
     style="left: 53.75%; top: 72%; width: 15%; height: 4%;" coolCol="44"
     coolRow="19" coolLength="12">
   <input type="text" coolType="field" name="field_19_57"
     [(ngModel)]="in.informationRequest.applicantMiddleInitial"
     [coolVideo]="out.informationRequest.screenField?.applicantMiddleInitial"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" style="left: 70%; top: 72%; width: 1.25%; height: 4%;"
     coolCol="57" coolRow="19" coolLength="1">
   
   <div coolType="literal"
     style="left: 73.75%; top: 72%; width: 21.25%; height: 4%;" coolCol="60"
     coolRow="19" coolLength="17">(Options 2 and 3)</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="2" coolRow="23" coolLength="79"
     style="left: 1.25%; top: 88%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 92%; width: 42.5%; height: 4%;" coolCol="2"
     coolRow="24" coolLength="34">PF KEY: 1 Help  3 Exit  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>