<!--Name: SI_IREQ_INTERSTATE_REQ_HISTORY, ID: 372388761, model: 746-->
<div coolContent coolName="SI_IREQ_INTERSTATE_REQ_HISTORY" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 48.75%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="39">CSE - Interstate Request History - IREQ</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="literal" style="left: 20%; top: 4%; width: 7.5%; height: 4%;"
     coolCol="17" coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.nextCase.number"
     [coolVideo]="out.nextCase.screenField?.number" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 4%; width: 43.75%; height: 4%;" coolCol="37"
     coolRow="2" coolLength="35">{{in.headerLine.text35}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal" style="left: 5%; top: 12%; width: 7.5%; height: 4%;"
     coolCol="5" coolRow="4" coolLength="6">Case #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="4" coolLength="10">{{in.displayOnly.number}}</div>
   
   <div coolType="literal" style="left: 32.5%; top: 12%; width: 5%; height: 4%;"
     coolCol="27" coolRow="4" coolLength="4">AP #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="32"
     coolRow="4" coolLength="10">{{in.apCsePersonsWorkSet.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 12%; width: 41.25%; height: 4%;" coolCol="43"
     coolRow="4" coolLength="33">{{in.apCsePersonsWorkSet.formattedName}}</div>
   <input type="text" coolType="field" name="field_4_77"
     [(ngModel)]="in.promptPerson.selectChar"
     [coolVideo]="out.promptPerson.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 95%; top: 12%; width: 1.25%; height: 4%;"
     coolCol="77" coolRow="4" coolLength="1">
   
   <div coolType="literal" style="left: 32.5%; top: 16%; width: 5%; height: 4%;"
     coolCol="27" coolRow="5" coolLength="4">AR #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 16%; width: 12.5%; height: 4%;" coolCol="32"
     coolRow="5" coolLength="10">{{in.arCsePersonsWorkSet.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 16%; width: 41.25%; height: 4%;" coolCol="43"
     coolRow="5" coolLength="33">{{in.arCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="literal" style="left: 10%; top: 24%; width: 5%; height: 4%;"
     coolCol="9" coolRow="7" coolLength="4">Func</div>
   <input type="text" coolType="field" name="field_7_14"
     [(ngModel)]="in.searchInterstateRequestHistory.functionalTypeCode"
     [coolVideo]="out.searchInterstateRequestHistory.screenField?.functionalTypeCode"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 16.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="14"
     coolRow="7" coolLength="3">
   <input type="text" coolType="field" name="field_7_18"
     [(ngModel)]="in.promptFunctionCd.selectChar"
     [coolVideo]="out.promptFunctionCd.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 21.25%; top: 24%; width: 1.25%; height: 4%;" coolCol="18"
     coolRow="7" coolLength="1">
   
   <div coolType="literal"
     style="left: 27.5%; top: 24%; width: 3.75%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="3">Act</div>
   <input type="text" coolType="field" name="field_7_27"
     [(ngModel)]="in.searchInterstateRequestHistory.actionCode"
     [coolVideo]="out.searchInterstateRequestHistory.screenField?.actionCode"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 32.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="7" coolLength="1">
   <input type="text" coolType="field" name="field_7_29"
     [(ngModel)]="in.promptActionCd.selectChar"
     [coolVideo]="out.promptActionCd.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 35%; top: 24%; width: 1.25%; height: 4%;"
     coolCol="29" coolRow="7" coolLength="1">
   
   <div coolType="literal"
     style="left: 41.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="34"
     coolRow="7" coolLength="3">Rsn</div>
   <input type="text" coolType="field" name="field_7_38"
     [(ngModel)]="in.searchInterstateRequestHistory.actionReasonCode"
     [coolVideo]="out.searchInterstateRequestHistory.screenField?.actionReasonCode"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="5"
     style="left: 46.25%; top: 24%; width: 6.25%; height: 4%;" coolCol="38"
     coolRow="7" coolLength="5">
   <input type="text" coolType="field" name="field_7_44"
     [(ngModel)]="in.promptReason.selectChar"
     [coolVideo]="out.promptReason.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 53.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="44"
     coolRow="7" coolLength="1">
   
   <div coolType="literal"
     style="left: 60%; top: 24%; width: 6.25%; height: 4%;" coolCol="49"
     coolRow="7" coolLength="5">State</div>
   <input type="text" coolType="field" name="field_7_55"
     [(ngModel)]="in.searchFips.stateAbbreviation"
     [coolVideo]="out.searchFips.screenField?.stateAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 67.5%; top: 24%; width: 2.5%; height: 4%;" coolCol="55"
     coolRow="7" coolLength="2">
   <input type="text" coolType="field" name="field_7_58"
     [(ngModel)]="in.promptState.selectChar"
     [coolVideo]="out.promptState.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 71.25%; top: 24%; width: 1.25%; height: 4%;" coolCol="58"
     coolRow="7" coolLength="1">
   
   <div coolType="literal"
     style="left: 76.25%; top: 24%; width: 5%; height: 4%;" coolCol="62"
     coolRow="7" coolLength="4">Date</div>
   <input type="text" coolType="field" name="field_7_67"
     [(ngModel)]="in.searchInterstateRequestHistory.createdTimestamp"
     [coolVideo]="out.searchInterstateRequestHistory.screenField?.createdTimestamp"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 82.5%; top: 24%; width: 10%; height: 4%;" coolCol="67"
     coolRow="7" coolLength="8">
   
   <div coolType="literal"
     style="left: 2.5%; top: 32%; width: 3.75%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="3">Sel</div>
   
   <div coolType="literal"
     style="left: 10%; top: 32%; width: 28.75%; height: 4%;" coolCol="9"
     coolRow="9" coolLength="23">Func Act  Rsn    Status</div>
   
   <div coolType="literal"
     style="left: 43.75%; top: 32%; width: 6.25%; height: 4%;" coolCol="36"
     coolRow="9" coolLength="5">State</div>
   
   <div coolType="literal"
     style="left: 62.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="51"
     coolRow="9" coolLength="10">Referral #</div>
   
   <div coolType="literal"
     style="left: 81.25%; top: 32%; width: 5%; height: 4%;" coolCol="66"
     coolRow="9" coolLength="4">Date</div>
   
   <div coolType="literal"
     style="left: 92.5%; top: 32%; width: 3.75%; height: 4%;" coolCol="75"
     coolRow="9" coolLength="3">Dir</div>
   
   <div coolType="literal"
     style="left: 10%; top: 36%; width: 13.75%; height: 4%;" coolCol="9"
     coolRow="10" coolLength="11">Description</div>
   <input type="text" coolType="field" name="field_11_4"
     [(ngModel)]="ref(in.import1, 0, 'select.selectChar').value"
     [coolVideo]="out.export1?.[0]?.select.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="11" coolLength="1" [hidden]="!length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 40%; width: 3.75%; height: 4%;" coolCol="9"
     coolRow="11" coolLength="3" [hidden]="!length(in.import1)">{{in.import1?.[0]?.detailInterstateRequestHistory.functionalTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="15"
     coolRow="11" coolLength="1" [hidden]="!length(in.import1)">{{in.import1?.[0]?.detailInterstateRequestHistory.actionCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 40%; width: 6.25%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="5" [hidden]="!length(in.import1)">{{in.import1?.[0]?.actionReason.cdvalue}}</div>
   <input type="text" coolType="field" name="field_11_27"
     [(ngModel)]="ref(in.import1, 0, 'statusCd.text4').value"
     [coolVideo]="out.export1?.[0]?.statusCd.screenField?.text4" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 32.5%; top: 40%; width: 5%; height: 4%;" coolCol="27"
     coolRow="11" coolLength="4" [hidden]="!length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 40%; width: 15%; height: 4%;" coolCol="36"
     coolRow="11" coolLength="12" [hidden]="!length(in.import1)">{{in.import1?.[0]?.ivdAgency.text12}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 40%; width: 15%; height: 4%;" coolCol="51"
     coolRow="11" coolLength="12" [hidden]="!length(in.import1)">{{in.import1?.[0]?.detailInterstateRequestHistory.transactionSerialNum|coolNumber:'###########0;#':0}}</div>
   <input type="text" coolType="field" name="field_11_65"
     [(ngModel)]="ref(in.import1, 0, 'detailInterstateRequestHistory.createdTimestamp').value"
     [coolVideo]="out.export1?.[0]?.detailInterstateRequestHistory.screenField?.createdTimestamp"
     coolAutotab coolColor="green" coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 80%; top: 40%; width: 10%; height: 4%;" coolCol="65"
     coolRow="11" coolLength="8" [hidden]="!length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="11" coolLength="1" [hidden]="!length(in.import1)">{{in.import1?.[0]?.detailInterstateRequestHistory.transactionDirectionInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 44%; width: 62.5%; height: 4%;" coolCol="9"
     coolRow="12" coolLength="50" [hidden]="!length(in.import1)">{{in.import1?.[0]?.actionReason.description}}</div>
   <input type="text" coolType="field" name="field_13_4"
     [(ngModel)]="ref(in.import1, 1, 'select.selectChar').value"
     [coolVideo]="out.export1?.[1]?.select.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="13" coolLength="1" [hidden]="1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 48%; width: 3.75%; height: 4%;" coolCol="9"
     coolRow="13" coolLength="3" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.detailInterstateRequestHistory.functionalTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="15"
     coolRow="13" coolLength="1" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.detailInterstateRequestHistory.actionCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 48%; width: 6.25%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="5" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.actionReason.cdvalue}}</div>
   <input type="text" coolType="field" name="field_13_27"
     [(ngModel)]="ref(in.import1, 1, 'statusCd.text4').value"
     [coolVideo]="out.export1?.[1]?.statusCd.screenField?.text4" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 32.5%; top: 48%; width: 5%; height: 4%;" coolCol="27"
     coolRow="13" coolLength="4" [hidden]="1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 48%; width: 15%; height: 4%;" coolCol="36"
     coolRow="13" coolLength="12" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.ivdAgency.text12}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 48%; width: 15%; height: 4%;" coolCol="51"
     coolRow="13" coolLength="12" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.detailInterstateRequestHistory.transactionSerialNum|coolNumber:'###########0;#':0}}</div>
   <input type="text" coolType="field" name="field_13_65"
     [(ngModel)]="ref(in.import1, 1, 'detailInterstateRequestHistory.createdTimestamp').value"
     [coolVideo]="out.export1?.[1]?.detailInterstateRequestHistory.screenField?.createdTimestamp"
     coolAutotab coolColor="green" coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 80%; top: 48%; width: 10%; height: 4%;" coolCol="65"
     coolRow="13" coolLength="8" [hidden]="1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="13" coolLength="1" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.detailInterstateRequestHistory.transactionDirectionInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 52%; width: 62.5%; height: 4%;" coolCol="9"
     coolRow="14" coolLength="50" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.actionReason.description}}</div>
   <input type="text" coolType="field" name="field_15_4"
     [(ngModel)]="ref(in.import1, 2, 'select.selectChar').value"
     [coolVideo]="out.export1?.[2]?.select.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="15" coolLength="1" [hidden]="2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 56%; width: 3.75%; height: 4%;" coolCol="9"
     coolRow="15" coolLength="3" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.detailInterstateRequestHistory.functionalTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="15"
     coolRow="15" coolLength="1" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.detailInterstateRequestHistory.actionCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 56%; width: 6.25%; height: 4%;" coolCol="19"
     coolRow="15" coolLength="5" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.actionReason.cdvalue}}</div>
   <input type="text" coolType="field" name="field_15_27"
     [(ngModel)]="ref(in.import1, 2, 'statusCd.text4').value"
     [coolVideo]="out.export1?.[2]?.statusCd.screenField?.text4" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 32.5%; top: 56%; width: 5%; height: 4%;" coolCol="27"
     coolRow="15" coolLength="4" [hidden]="2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 56%; width: 15%; height: 4%;" coolCol="36"
     coolRow="15" coolLength="12" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.ivdAgency.text12}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 56%; width: 15%; height: 4%;" coolCol="51"
     coolRow="15" coolLength="12" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.detailInterstateRequestHistory.transactionSerialNum|coolNumber:'###########0;#':0}}</div>
   <input type="text" coolType="field" name="field_15_65"
     [(ngModel)]="ref(in.import1, 2, 'detailInterstateRequestHistory.createdTimestamp').value"
     [coolVideo]="out.export1?.[2]?.detailInterstateRequestHistory.screenField?.createdTimestamp"
     coolAutotab coolColor="green" coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 80%; top: 56%; width: 10%; height: 4%;" coolCol="65"
     coolRow="15" coolLength="8" [hidden]="2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="15" coolLength="1" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.detailInterstateRequestHistory.transactionDirectionInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 60%; width: 62.5%; height: 4%;" coolCol="9"
     coolRow="16" coolLength="50" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.actionReason.description}}</div>
   <input type="text" coolType="field" name="field_17_4"
     [(ngModel)]="ref(in.import1, 3, 'select.selectChar').value"
     [coolVideo]="out.export1?.[3]?.select.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="17" coolLength="1" [hidden]="3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 64%; width: 3.75%; height: 4%;" coolCol="9"
     coolRow="17" coolLength="3" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.detailInterstateRequestHistory.functionalTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="15"
     coolRow="17" coolLength="1" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.detailInterstateRequestHistory.actionCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 64%; width: 6.25%; height: 4%;" coolCol="19"
     coolRow="17" coolLength="5" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.actionReason.cdvalue}}</div>
   <input type="text" coolType="field" name="field_17_27"
     [(ngModel)]="ref(in.import1, 3, 'statusCd.text4').value"
     [coolVideo]="out.export1?.[3]?.statusCd.screenField?.text4" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 32.5%; top: 64%; width: 5%; height: 4%;" coolCol="27"
     coolRow="17" coolLength="4" [hidden]="3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 64%; width: 15%; height: 4%;" coolCol="36"
     coolRow="17" coolLength="12" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.ivdAgency.text12}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 64%; width: 15%; height: 4%;" coolCol="51"
     coolRow="17" coolLength="12" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.detailInterstateRequestHistory.transactionSerialNum|coolNumber:'###########0;#':0}}</div>
   <input type="text" coolType="field" name="field_17_65"
     [(ngModel)]="ref(in.import1, 3, 'detailInterstateRequestHistory.createdTimestamp').value"
     [coolVideo]="out.export1?.[3]?.detailInterstateRequestHistory.screenField?.createdTimestamp"
     coolAutotab coolColor="green" coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 80%; top: 64%; width: 10%; height: 4%;" coolCol="65"
     coolRow="17" coolLength="8" [hidden]="3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="17" coolLength="1" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.detailInterstateRequestHistory.transactionDirectionInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 68%; width: 62.5%; height: 4%;" coolCol="9"
     coolRow="18" coolLength="50" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.actionReason.description}}</div>
   <input type="text" coolType="field" name="field_19_4"
     [(ngModel)]="ref(in.import1, 4, 'select.selectChar').value"
     [coolVideo]="out.export1?.[4]?.select.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 3.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="19" coolLength="1" [hidden]="4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 72%; width: 3.75%; height: 4%;" coolCol="9"
     coolRow="19" coolLength="3" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.detailInterstateRequestHistory.functionalTypeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="15"
     coolRow="19" coolLength="1" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.detailInterstateRequestHistory.actionCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 72%; width: 6.25%; height: 4%;" coolCol="19"
     coolRow="19" coolLength="5" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.actionReason.cdvalue}}</div>
   <input type="text" coolType="field" name="field_19_27"
     [(ngModel)]="ref(in.import1, 4, 'statusCd.text4').value"
     [coolVideo]="out.export1?.[4]?.statusCd.screenField?.text4" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 32.5%; top: 72%; width: 5%; height: 4%;" coolCol="27"
     coolRow="19" coolLength="4" [hidden]="4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 72%; width: 15%; height: 4%;" coolCol="36"
     coolRow="19" coolLength="12" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.ivdAgency.text12}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 62.5%; top: 72%; width: 15%; height: 4%;" coolCol="51"
     coolRow="19" coolLength="12" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.detailInterstateRequestHistory.transactionSerialNum|coolNumber:'###########0;#':0}}</div>
   <input type="text" coolType="field" name="field_19_65"
     [(ngModel)]="ref(in.import1, 4, 'detailInterstateRequestHistory.createdTimestamp').value"
     [coolVideo]="out.export1?.[4]?.detailInterstateRequestHistory.screenField?.createdTimestamp"
     coolAutotab coolColor="green" coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 80%; top: 72%; width: 10%; height: 4%;" coolCol="65"
     coolRow="19" coolLength="8" [hidden]="4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="19" coolLength="1" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.detailInterstateRequestHistory.transactionDirectionInd}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 76%; width: 62.5%; height: 4%;" coolCol="9"
     coolRow="20" coolLength="50" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.actionReason.description}}</div>
   
   <div coolType="literal"
     style="left: 85%; top: 80%; width: 6.25%; height: 4%;" coolCol="69"
     coolRow="21" coolLength="5">More:</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 92.5%; top: 80%; width: 1.25%; height: 4%;" coolCol="75"
     coolRow="21" coolLength="1">{{in.plus.text1}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 95%; top: 80%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="21" coolLength="1">{{in.minus.text1}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="79"
     style="left: 0; top: 84%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 97.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="78">PF KEY:  1 Help  2 Display  3 Exit  4 List  7 Prev  8 Next  9 Return  11 Clear</div>
   
   <div coolType="literal" style="left: 10%; top: 92%; width: 60%; height: 4%;"
     coolCol="9" coolRow="24" coolLength="48">12 SignOff  15 ICAS  16 IIMC  17 OINR  19 Resend</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="ICAS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=ICAS</a>
   <a coolType="action" coolCommand="IIMC" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=IIMC</a>
   <a coolType="action" coolCommand="OINR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=OINR</a>
   <a coolType="action" coolCommand="RESEND" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=RESEND</a>
   </div>