<!--Name: SI_ORGZ_ORGANIZATION_MAINTENANCE, ID: 371765709, model: 746-->
<div coolContent coolName="SI_ORGZ_ORGANIZATION_MAINTENANCE" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 46.25%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="37" coolColor="white">CSE - Organization Maintenance - ORGZ</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 4%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 17.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="14">Starting Org #</div>
   <input type="text" coolType="field" name="field_4_18"
     [(ngModel)]="in.startingSearchCsePerson.number"
     [coolVideo]="out.startingSearchCsePerson.screenField?.number" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 21.25%; top: 12%; width: 12.5%; height: 4%;" coolCol="18"
     coolRow="4" coolLength="10">
   
   <div coolType="prompt"
     style="left: 38.75%; top: 12%; width: 16.25%; height: 4%;" coolCol="32"
     coolRow="4" coolLength="13">Starting Name</div>
   <input type="text" coolType="field" name="field_4_46"
     [(ngModel)]="in.startingSearchCsePerson.organizationName"
     [coolVideo]="out.startingSearchCsePerson.screenField?.organizationName"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 56.25%; top: 12%; width: 41.25%; height: 4%;" coolCol="46"
     coolRow="4" coolLength="33">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 18.75%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="15">Starting Tax ID</div>
   <input type="text" coolType="field" name="field_5_18"
     [(ngModel)]="in.startingSearchCsePerson.taxId"
     [coolVideo]="out.startingSearchCsePerson.screenField?.taxId" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="9"
     style="left: 21.25%; top: 16%; width: 11.25%; height: 4%;" coolCol="18"
     coolRow="5" coolLength="9">
   
   <div coolType="prompt"
     style="left: 38.75%; top: 16%; width: 15%; height: 4%;" coolCol="32"
     coolRow="5" coolLength="12">Name Keyword</div>
   <input type="text" coolType="field" name="field_5_46"
     [(ngModel)]="in.searchNamesLike.organizationName"
     [coolVideo]="out.searchNamesLike.screenField?.organizationName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="33"
     style="left: 56.25%; top: 16%; width: 41.25%; height: 4%;" coolCol="46"
     coolRow="5" coolLength="33">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="5">State</div>
   <input type="text" coolType="field" name="field_6_8"
     [(ngModel)]="in.startingSearchFips.stateAbbreviation"
     [coolVideo]="out.startingSearchFips.screenField?.stateAbbreviation"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 8.75%; top: 20%; width: 2.5%; height: 4%;" coolCol="8"
     coolRow="6" coolLength="2">
   <input type="text" coolType="field" name="field_6_11"
     [(ngModel)]="in.promptStateCode.promptField"
     [coolVideo]="out.promptStateCode.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 12.5%; top: 20%; width: 1.25%; height: 4%;" coolCol="11"
     coolRow="6" coolLength="1">
   
   <div coolType="prompt"
     style="left: 21.25%; top: 20%; width: 7.5%; height: 4%;" coolCol="18"
     coolRow="6" coolLength="6">County</div>
   <input type="text" coolType="field" name="field_6_25"
     [(ngModel)]="in.startingSearchFips.countyAbbreviation"
     [coolVideo]="out.startingSearchFips.screenField?.countyAbbreviation"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2" style="left: 30%; top: 20%; width: 2.5%; height: 4%;"
     coolCol="25" coolRow="6" coolLength="2">
   
   <div coolType="prompt" style="left: 38.75%; top: 20%; width: 5%; height: 4%;"
     coolCol="32" coolRow="6" coolLength="4">City</div>
   <input type="text" coolType="field" name="field_6_37"
     [(ngModel)]="in.startingSearchCity.city"
     [coolVideo]="out.startingSearchCity.screenField?.city" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 45%; top: 20%; width: 18.75%; height: 4%;" coolCol="37"
     coolRow="6" coolLength="15">
   
   <div coolType="prompt"
     style="left: 68.75%; top: 20%; width: 3.75%; height: 4%;" coolCol="56"
     coolRow="6" coolLength="3">Zip</div>
   <input type="text" coolType="field" name="field_6_60"
     [(ngModel)]="in.startingSearchCity.zipCode"
     [coolVideo]="out.startingSearchCity.screenField?.zipCode" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="5"
     style="left: 73.75%; top: 20%; width: 6.25%; height: 4%;" coolCol="60"
     coolRow="6" coolLength="5">
   
   <div coolType="prompt" style="left: 0; top: 24%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="7" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 7.5%; top: 24%; width: 6.25%; height: 4%;" coolCol="7"
     coolRow="7" coolLength="5">Org #</div>
   
   <div coolType="prompt" style="left: 17.5%; top: 24%; width: 15%; height: 4%;"
     coolCol="15" coolRow="7" coolLength="12">Tax ID,Suffx</div>
   
   <div coolType="prompt"
     style="left: 33.75%; top: 24%; width: 18.75%; height: 4%;" coolCol="28"
     coolRow="7" coolLength="15">Name, City, ZIP</div>
   
   <div coolType="prompt" style="left: 66.25%; top: 24%; width: 5%; height: 4%;"
     coolCol="54" coolRow="7" coolLength="4">Trib</div>
   
   <div coolType="prompt"
     style="left: 76.25%; top: 24%; width: 2.5%; height: 4%;" coolCol="62"
     coolRow="7" coolLength="2">ST</div>
   
   <div coolType="prompt" style="left: 80%; top: 24%; width: 2.5%; height: 4%;"
     coolCol="65" coolRow="7" coolLength="2">Co</div>
   
   <div coolType="literal"
     style="left: 83.75%; top: 24%; width: 13.75%; height: 4%;" coolCol="68"
     coolRow="7" coolLength="11">---FIPS----</div>
   <input type="text" coolType="field" name="field_8_2"
     [(ngModel)]="ref(in.import1, 0, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[0]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_8_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 28%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="8" coolLength="10">{{in.import1?.[0]?.detailCsePerson.number}}</div>
   <input type="text" coolType="field" name="field_8_15"
     [(ngModel)]="ref(in.import1, 0, 'detailCsePerson.taxId').value"
     [coolVideo]="out.export1?.[0]?.detailCsePerson.screenField?.taxId"
     coolAutotab #field_8_15 coolColor="green" coolUpper [attr.maxlength]="9"
     style="left: 17.5%; top: 28%; width: 11.25%; height: 4%;" coolCol="15"
     coolRow="8" coolLength="9">
   <input type="text" coolType="field" name="field_8_25"
     [(ngModel)]="ref(in.import1, 0, 'detailCsePerson.taxIdSuffix').value"
     [coolVideo]="out.export1?.[0]?.detailCsePerson.screenField?.taxIdSuffix"
     coolAutotab #field_8_25 coolColor="green" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 28%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="8" coolLength="2">
   <input type="text" coolType="field" name="field_8_28"
     [(ngModel)]="ref(in.import1, 0, 'detailCsePerson.organizationName').value"
     [coolVideo]="out.export1?.[0]?.detailCsePerson.screenField?.organizationName"
     coolAutotab #field_8_28 coolColor="green" coolUpper [attr.maxlength]="33"
     style="left: 33.75%; top: 28%; width: 41.25%; height: 4%;" coolCol="28"
     coolRow="8" coolLength="33">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 28%; width: 2.5%; height: 4%;" coolCol="62"
     coolRow="8" coolLength="2">{{in.import1?.[0]?.detailFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 28%; width: 2.5%; height: 4%;" coolCol="65"
     coolRow="8" coolLength="2">{{in.import1?.[0]?.detailFips.countyAbbreviation}}</div>
   <input type="text" coolType="field" name="field_8_68"
     [(ngModel)]="ref(in.import1, 0, 'displayState.text2').value"
     [coolVideo]="out.export1?.[0]?.displayState.screenField?.text2" coolAutotab
     #field_8_68 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 83.75%; top: 28%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="8" coolLength="2">
   <input type="text" coolType="field" name="field_8_71"
     [(ngModel)]="ref(in.import1, 0, 'displayCounty.text3').value"
     [coolVideo]="out.export1?.[0]?.displayCounty.screenField?.text3"
     coolAutotab #field_8_71 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 87.5%; top: 28%; width: 3.75%; height: 4%;" coolCol="71"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_75"
     [(ngModel)]="ref(in.import1, 0, 'displayLocation.text2').value"
     [coolVideo]="out.export1?.[0]?.displayLocation.screenField?.text2"
     coolAutotab #field_8_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 92.5%; top: 28%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="8" coolLength="2">
   <input type="text" coolType="field" name="field_8_78"
     [(ngModel)]="ref(in.import1, 0, 'detailPromptFips.oneChar').value"
     [coolVideo]="out.export1?.[0]?.detailPromptFips.screenField?.oneChar"
     coolAutotab #field_8_78 coolColor="green" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 96.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="8" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 32%; width: 18.75%; height: 4%;" coolCol="28"
     coolRow="9" coolLength="15">{{in.import1?.[0]?.detailCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 32%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="9" coolLength="5">{{in.import1?.[0]?.detailCsePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 32%; width: 5%; height: 4%;" coolCol="50"
     coolRow="9" coolLength="4">{{in.import1?.[0]?.detailCsePersonAddress.zip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="9" coolLength="1">{{in.import1?.[0]?.detailOrgzIsTrib.flag}}</div>
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="ref(in.import1, 1, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[1]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_10_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 36%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="10" coolLength="10">{{in.import1?.[1]?.detailCsePerson.number}}</div>
   <input type="text" coolType="field" name="field_10_15"
     [(ngModel)]="ref(in.import1, 1, 'detailCsePerson.taxId').value"
     [coolVideo]="out.export1?.[1]?.detailCsePerson.screenField?.taxId"
     coolAutotab #field_10_15 coolColor="green" coolUpper [attr.maxlength]="9"
     style="left: 17.5%; top: 36%; width: 11.25%; height: 4%;" coolCol="15"
     coolRow="10" coolLength="9">
   <input type="text" coolType="field" name="field_10_25"
     [(ngModel)]="ref(in.import1, 1, 'detailCsePerson.taxIdSuffix').value"
     [coolVideo]="out.export1?.[1]?.detailCsePerson.screenField?.taxIdSuffix"
     coolAutotab #field_10_25 coolColor="green" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 36%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="10" coolLength="2">
   <input type="text" coolType="field" name="field_10_28"
     [(ngModel)]="ref(in.import1, 1, 'detailCsePerson.organizationName').value"
     [coolVideo]="out.export1?.[1]?.detailCsePerson.screenField?.organizationName"
     coolAutotab #field_10_28 coolColor="green" coolUpper [attr.maxlength]="33"
     style="left: 33.75%; top: 36%; width: 41.25%; height: 4%;" coolCol="28"
     coolRow="10" coolLength="33">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 36%; width: 2.5%; height: 4%;" coolCol="62"
     coolRow="10" coolLength="2">{{in.import1?.[1]?.detailFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 36%; width: 2.5%; height: 4%;" coolCol="65"
     coolRow="10" coolLength="2">{{in.import1?.[1]?.detailFips.countyAbbreviation}}</div>
   <input type="text" coolType="field" name="field_10_68"
     [(ngModel)]="ref(in.import1, 1, 'displayState.text2').value"
     [coolVideo]="out.export1?.[1]?.displayState.screenField?.text2" coolAutotab
     #field_10_68 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 83.75%; top: 36%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="10" coolLength="2">
   <input type="text" coolType="field" name="field_10_71"
     [(ngModel)]="ref(in.import1, 1, 'displayCounty.text3').value"
     [coolVideo]="out.export1?.[1]?.displayCounty.screenField?.text3"
     coolAutotab #field_10_71 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 87.5%; top: 36%; width: 3.75%; height: 4%;" coolCol="71"
     coolRow="10" coolLength="3">
   <input type="text" coolType="field" name="field_10_75"
     [(ngModel)]="ref(in.import1, 1, 'displayLocation.text2').value"
     [coolVideo]="out.export1?.[1]?.displayLocation.screenField?.text2"
     coolAutotab #field_10_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 92.5%; top: 36%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="10" coolLength="2">
   <input type="text" coolType="field" name="field_10_78"
     [(ngModel)]="ref(in.import1, 1, 'detailPromptFips.oneChar').value"
     [coolVideo]="out.export1?.[1]?.detailPromptFips.screenField?.oneChar"
     coolAutotab #field_10_78 coolColor="green" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 96.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="10" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 40%; width: 18.75%; height: 4%;" coolCol="28"
     coolRow="11" coolLength="15">{{in.import1?.[1]?.detailCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 40%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="11" coolLength="5">{{in.import1?.[1]?.detailCsePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 40%; width: 5%; height: 4%;" coolCol="50"
     coolRow="11" coolLength="4">{{in.import1?.[1]?.detailCsePersonAddress.zip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="11" coolLength="1">{{in.import1?.[1]?.detailOrgzIsTrib.flag}}</div>
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.import1, 2, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[2]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_12_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 44%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="12" coolLength="10">{{in.import1?.[2]?.detailCsePerson.number}}</div>
   <input type="text" coolType="field" name="field_12_15"
     [(ngModel)]="ref(in.import1, 2, 'detailCsePerson.taxId').value"
     [coolVideo]="out.export1?.[2]?.detailCsePerson.screenField?.taxId"
     coolAutotab #field_12_15 coolColor="green" coolUpper [attr.maxlength]="9"
     style="left: 17.5%; top: 44%; width: 11.25%; height: 4%;" coolCol="15"
     coolRow="12" coolLength="9">
   <input type="text" coolType="field" name="field_12_25"
     [(ngModel)]="ref(in.import1, 2, 'detailCsePerson.taxIdSuffix').value"
     [coolVideo]="out.export1?.[2]?.detailCsePerson.screenField?.taxIdSuffix"
     coolAutotab #field_12_25 coolColor="green" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 44%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="12" coolLength="2">
   <input type="text" coolType="field" name="field_12_28"
     [(ngModel)]="ref(in.import1, 2, 'detailCsePerson.organizationName').value"
     [coolVideo]="out.export1?.[2]?.detailCsePerson.screenField?.organizationName"
     coolAutotab #field_12_28 coolColor="green" coolUpper [attr.maxlength]="33"
     style="left: 33.75%; top: 44%; width: 41.25%; height: 4%;" coolCol="28"
     coolRow="12" coolLength="33">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 44%; width: 2.5%; height: 4%;" coolCol="62"
     coolRow="12" coolLength="2">{{in.import1?.[2]?.detailFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 44%; width: 2.5%; height: 4%;" coolCol="65"
     coolRow="12" coolLength="2">{{in.import1?.[2]?.detailFips.countyAbbreviation}}</div>
   <input type="text" coolType="field" name="field_12_68"
     [(ngModel)]="ref(in.import1, 2, 'displayState.text2').value"
     [coolVideo]="out.export1?.[2]?.displayState.screenField?.text2" coolAutotab
     #field_12_68 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 83.75%; top: 44%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="12" coolLength="2">
   <input type="text" coolType="field" name="field_12_71"
     [(ngModel)]="ref(in.import1, 2, 'displayCounty.text3').value"
     [coolVideo]="out.export1?.[2]?.displayCounty.screenField?.text3"
     coolAutotab #field_12_71 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 87.5%; top: 44%; width: 3.75%; height: 4%;" coolCol="71"
     coolRow="12" coolLength="3">
   <input type="text" coolType="field" name="field_12_75"
     [(ngModel)]="ref(in.import1, 2, 'displayLocation.text2').value"
     [coolVideo]="out.export1?.[2]?.displayLocation.screenField?.text2"
     coolAutotab #field_12_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 92.5%; top: 44%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="12" coolLength="2">
   <input type="text" coolType="field" name="field_12_78"
     [(ngModel)]="ref(in.import1, 2, 'detailPromptFips.oneChar').value"
     [coolVideo]="out.export1?.[2]?.detailPromptFips.screenField?.oneChar"
     coolAutotab #field_12_78 coolColor="green" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 96.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="12" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 48%; width: 18.75%; height: 4%;" coolCol="28"
     coolRow="13" coolLength="15">{{in.import1?.[2]?.detailCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 48%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="13" coolLength="5">{{in.import1?.[2]?.detailCsePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 48%; width: 5%; height: 4%;" coolCol="50"
     coolRow="13" coolLength="4">{{in.import1?.[2]?.detailCsePersonAddress.zip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="13" coolLength="1">{{in.import1?.[2]?.detailOrgzIsTrib.flag}}</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.import1, 3, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[3]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_14_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 52%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="14" coolLength="10">{{in.import1?.[3]?.detailCsePerson.number}}</div>
   <input type="text" coolType="field" name="field_14_15"
     [(ngModel)]="ref(in.import1, 3, 'detailCsePerson.taxId').value"
     [coolVideo]="out.export1?.[3]?.detailCsePerson.screenField?.taxId"
     coolAutotab #field_14_15 coolColor="green" coolUpper [attr.maxlength]="9"
     style="left: 17.5%; top: 52%; width: 11.25%; height: 4%;" coolCol="15"
     coolRow="14" coolLength="9">
   <input type="text" coolType="field" name="field_14_25"
     [(ngModel)]="ref(in.import1, 3, 'detailCsePerson.taxIdSuffix').value"
     [coolVideo]="out.export1?.[3]?.detailCsePerson.screenField?.taxIdSuffix"
     coolAutotab #field_14_25 coolColor="green" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 52%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="14" coolLength="2">
   <input type="text" coolType="field" name="field_14_28"
     [(ngModel)]="ref(in.import1, 3, 'detailCsePerson.organizationName').value"
     [coolVideo]="out.export1?.[3]?.detailCsePerson.screenField?.organizationName"
     coolAutotab #field_14_28 coolColor="green" coolUpper [attr.maxlength]="33"
     style="left: 33.75%; top: 52%; width: 41.25%; height: 4%;" coolCol="28"
     coolRow="14" coolLength="33">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 52%; width: 2.5%; height: 4%;" coolCol="62"
     coolRow="14" coolLength="2">{{in.import1?.[3]?.detailFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 52%; width: 2.5%; height: 4%;" coolCol="65"
     coolRow="14" coolLength="2">{{in.import1?.[3]?.detailFips.countyAbbreviation}}</div>
   <input type="text" coolType="field" name="field_14_68"
     [(ngModel)]="ref(in.import1, 3, 'displayState.text2').value"
     [coolVideo]="out.export1?.[3]?.displayState.screenField?.text2" coolAutotab
     #field_14_68 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 83.75%; top: 52%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="14" coolLength="2">
   <input type="text" coolType="field" name="field_14_71"
     [(ngModel)]="ref(in.import1, 3, 'displayCounty.text3').value"
     [coolVideo]="out.export1?.[3]?.displayCounty.screenField?.text3"
     coolAutotab #field_14_71 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 87.5%; top: 52%; width: 3.75%; height: 4%;" coolCol="71"
     coolRow="14" coolLength="3">
   <input type="text" coolType="field" name="field_14_75"
     [(ngModel)]="ref(in.import1, 3, 'displayLocation.text2').value"
     [coolVideo]="out.export1?.[3]?.displayLocation.screenField?.text2"
     coolAutotab #field_14_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 92.5%; top: 52%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="14" coolLength="2">
   <input type="text" coolType="field" name="field_14_78"
     [(ngModel)]="ref(in.import1, 3, 'detailPromptFips.oneChar').value"
     [coolVideo]="out.export1?.[3]?.detailPromptFips.screenField?.oneChar"
     coolAutotab #field_14_78 coolColor="green" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 96.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="14" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 56%; width: 18.75%; height: 4%;" coolCol="28"
     coolRow="15" coolLength="15">{{in.import1?.[3]?.detailCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 56%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="15" coolLength="5">{{in.import1?.[3]?.detailCsePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 56%; width: 5%; height: 4%;" coolCol="50"
     coolRow="15" coolLength="4">{{in.import1?.[3]?.detailCsePersonAddress.zip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="1">{{in.import1?.[3]?.detailOrgzIsTrib.flag}}</div>
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.import1, 4, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[4]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_16_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 60%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="16" coolLength="10">{{in.import1?.[4]?.detailCsePerson.number}}</div>
   <input type="text" coolType="field" name="field_16_15"
     [(ngModel)]="ref(in.import1, 4, 'detailCsePerson.taxId').value"
     [coolVideo]="out.export1?.[4]?.detailCsePerson.screenField?.taxId"
     coolAutotab #field_16_15 coolColor="green" coolUpper [attr.maxlength]="9"
     style="left: 17.5%; top: 60%; width: 11.25%; height: 4%;" coolCol="15"
     coolRow="16" coolLength="9">
   <input type="text" coolType="field" name="field_16_25"
     [(ngModel)]="ref(in.import1, 4, 'detailCsePerson.taxIdSuffix').value"
     [coolVideo]="out.export1?.[4]?.detailCsePerson.screenField?.taxIdSuffix"
     coolAutotab #field_16_25 coolColor="green" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 60%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="16" coolLength="2">
   <input type="text" coolType="field" name="field_16_28"
     [(ngModel)]="ref(in.import1, 4, 'detailCsePerson.organizationName').value"
     [coolVideo]="out.export1?.[4]?.detailCsePerson.screenField?.organizationName"
     coolAutotab #field_16_28 coolColor="green" coolUpper [attr.maxlength]="33"
     style="left: 33.75%; top: 60%; width: 41.25%; height: 4%;" coolCol="28"
     coolRow="16" coolLength="33">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 60%; width: 2.5%; height: 4%;" coolCol="62"
     coolRow="16" coolLength="2">{{in.import1?.[4]?.detailFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 60%; width: 2.5%; height: 4%;" coolCol="65"
     coolRow="16" coolLength="2">{{in.import1?.[4]?.detailFips.countyAbbreviation}}</div>
   <input type="text" coolType="field" name="field_16_68"
     [(ngModel)]="ref(in.import1, 4, 'displayState.text2').value"
     [coolVideo]="out.export1?.[4]?.displayState.screenField?.text2" coolAutotab
     #field_16_68 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 83.75%; top: 60%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="16" coolLength="2">
   <input type="text" coolType="field" name="field_16_71"
     [(ngModel)]="ref(in.import1, 4, 'displayCounty.text3').value"
     [coolVideo]="out.export1?.[4]?.displayCounty.screenField?.text3"
     coolAutotab #field_16_71 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 87.5%; top: 60%; width: 3.75%; height: 4%;" coolCol="71"
     coolRow="16" coolLength="3">
   <input type="text" coolType="field" name="field_16_75"
     [(ngModel)]="ref(in.import1, 4, 'displayLocation.text2').value"
     [coolVideo]="out.export1?.[4]?.displayLocation.screenField?.text2"
     coolAutotab #field_16_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 92.5%; top: 60%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="16" coolLength="2">
   <input type="text" coolType="field" name="field_16_78"
     [(ngModel)]="ref(in.import1, 4, 'detailPromptFips.oneChar').value"
     [coolVideo]="out.export1?.[4]?.detailPromptFips.screenField?.oneChar"
     coolAutotab #field_16_78 coolColor="green" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 96.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="16" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 64%; width: 18.75%; height: 4%;" coolCol="28"
     coolRow="17" coolLength="15">{{in.import1?.[4]?.detailCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 64%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="17" coolLength="5">{{in.import1?.[4]?.detailCsePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 64%; width: 5%; height: 4%;" coolCol="50"
     coolRow="17" coolLength="4">{{in.import1?.[4]?.detailCsePersonAddress.zip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="17" coolLength="1">{{in.import1?.[4]?.detailOrgzIsTrib.flag}}</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.import1, 5, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[5]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_18_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 68%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="18" coolLength="10">{{in.import1?.[5]?.detailCsePerson.number}}</div>
   <input type="text" coolType="field" name="field_18_15"
     [(ngModel)]="ref(in.import1, 5, 'detailCsePerson.taxId').value"
     [coolVideo]="out.export1?.[5]?.detailCsePerson.screenField?.taxId"
     coolAutotab #field_18_15 coolColor="green" coolUpper [attr.maxlength]="9"
     style="left: 17.5%; top: 68%; width: 11.25%; height: 4%;" coolCol="15"
     coolRow="18" coolLength="9">
   <input type="text" coolType="field" name="field_18_25"
     [(ngModel)]="ref(in.import1, 5, 'detailCsePerson.taxIdSuffix').value"
     [coolVideo]="out.export1?.[5]?.detailCsePerson.screenField?.taxIdSuffix"
     coolAutotab #field_18_25 coolColor="green" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 68%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="18" coolLength="2">
   <input type="text" coolType="field" name="field_18_28"
     [(ngModel)]="ref(in.import1, 5, 'detailCsePerson.organizationName').value"
     [coolVideo]="out.export1?.[5]?.detailCsePerson.screenField?.organizationName"
     coolAutotab #field_18_28 coolColor="green" coolUpper [attr.maxlength]="33"
     style="left: 33.75%; top: 68%; width: 41.25%; height: 4%;" coolCol="28"
     coolRow="18" coolLength="33">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 68%; width: 2.5%; height: 4%;" coolCol="62"
     coolRow="18" coolLength="2">{{in.import1?.[5]?.detailFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 68%; width: 2.5%; height: 4%;" coolCol="65"
     coolRow="18" coolLength="2">{{in.import1?.[5]?.detailFips.countyAbbreviation}}</div>
   <input type="text" coolType="field" name="field_18_68"
     [(ngModel)]="ref(in.import1, 5, 'displayState.text2').value"
     [coolVideo]="out.export1?.[5]?.displayState.screenField?.text2" coolAutotab
     #field_18_68 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 83.75%; top: 68%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="18" coolLength="2">
   <input type="text" coolType="field" name="field_18_71"
     [(ngModel)]="ref(in.import1, 5, 'displayCounty.text3').value"
     [coolVideo]="out.export1?.[5]?.displayCounty.screenField?.text3"
     coolAutotab #field_18_71 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 87.5%; top: 68%; width: 3.75%; height: 4%;" coolCol="71"
     coolRow="18" coolLength="3">
   <input type="text" coolType="field" name="field_18_75"
     [(ngModel)]="ref(in.import1, 5, 'displayLocation.text2').value"
     [coolVideo]="out.export1?.[5]?.displayLocation.screenField?.text2"
     coolAutotab #field_18_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 92.5%; top: 68%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="18" coolLength="2">
   <input type="text" coolType="field" name="field_18_78"
     [(ngModel)]="ref(in.import1, 5, 'detailPromptFips.oneChar').value"
     [coolVideo]="out.export1?.[5]?.detailPromptFips.screenField?.oneChar"
     coolAutotab #field_18_78 coolColor="green" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 96.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="18" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 72%; width: 18.75%; height: 4%;" coolCol="28"
     coolRow="19" coolLength="15">{{in.import1?.[5]?.detailCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 72%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="19" coolLength="5">{{in.import1?.[5]?.detailCsePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 72%; width: 5%; height: 4%;" coolCol="50"
     coolRow="19" coolLength="4">{{in.import1?.[5]?.detailCsePersonAddress.zip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="19" coolLength="1">{{in.import1?.[5]?.detailOrgzIsTrib.flag}}</div>
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.import1, 6, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[6]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_20_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 76%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="20" coolLength="10">{{in.import1?.[6]?.detailCsePerson.number}}</div>
   <input type="text" coolType="field" name="field_20_15"
     [(ngModel)]="ref(in.import1, 6, 'detailCsePerson.taxId').value"
     [coolVideo]="out.export1?.[6]?.detailCsePerson.screenField?.taxId"
     coolAutotab #field_20_15 coolColor="green" coolUpper [attr.maxlength]="9"
     style="left: 17.5%; top: 76%; width: 11.25%; height: 4%;" coolCol="15"
     coolRow="20" coolLength="9">
   <input type="text" coolType="field" name="field_20_25"
     [(ngModel)]="ref(in.import1, 6, 'detailCsePerson.taxIdSuffix').value"
     [coolVideo]="out.export1?.[6]?.detailCsePerson.screenField?.taxIdSuffix"
     coolAutotab #field_20_25 coolColor="green" coolUpper [attr.maxlength]="2"
     style="left: 30%; top: 76%; width: 2.5%; height: 4%;" coolCol="25"
     coolRow="20" coolLength="2">
   <input type="text" coolType="field" name="field_20_28"
     [(ngModel)]="ref(in.import1, 6, 'detailCsePerson.organizationName').value"
     [coolVideo]="out.export1?.[6]?.detailCsePerson.screenField?.organizationName"
     coolAutotab #field_20_28 coolColor="green" coolUpper [attr.maxlength]="33"
     style="left: 33.75%; top: 76%; width: 41.25%; height: 4%;" coolCol="28"
     coolRow="20" coolLength="33">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 76%; width: 2.5%; height: 4%;" coolCol="62"
     coolRow="20" coolLength="2">{{in.import1?.[6]?.detailFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 76%; width: 2.5%; height: 4%;" coolCol="65"
     coolRow="20" coolLength="2">{{in.import1?.[6]?.detailFips.countyAbbreviation}}</div>
   <input type="text" coolType="field" name="field_20_68"
     [(ngModel)]="ref(in.import1, 6, 'displayState.text2').value"
     [coolVideo]="out.export1?.[6]?.displayState.screenField?.text2" coolAutotab
     #field_20_68 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 83.75%; top: 76%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="20" coolLength="2">
   <input type="text" coolType="field" name="field_20_71"
     [(ngModel)]="ref(in.import1, 6, 'displayCounty.text3').value"
     [coolVideo]="out.export1?.[6]?.displayCounty.screenField?.text3"
     coolAutotab #field_20_71 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 87.5%; top: 76%; width: 3.75%; height: 4%;" coolCol="71"
     coolRow="20" coolLength="3">
   <input type="text" coolType="field" name="field_20_75"
     [(ngModel)]="ref(in.import1, 6, 'displayLocation.text2').value"
     [coolVideo]="out.export1?.[6]?.displayLocation.screenField?.text2"
     coolAutotab #field_20_75 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 92.5%; top: 76%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="20" coolLength="2">
   <input type="text" coolType="field" name="field_20_78"
     [(ngModel)]="ref(in.import1, 6, 'detailPromptFips.oneChar').value"
     [coolVideo]="out.export1?.[6]?.detailPromptFips.screenField?.oneChar"
     coolAutotab #field_20_78 coolColor="green" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 96.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="78"
     coolRow="20" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 80%; width: 18.75%; height: 4%;" coolCol="28"
     coolRow="21" coolLength="15">{{in.import1?.[6]?.detailCsePersonAddress.city}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 80%; width: 6.25%; height: 4%;" coolCol="44"
     coolRow="21" coolLength="5">{{in.import1?.[6]?.detailCsePersonAddress.zipCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 80%; width: 5%; height: 4%;" coolCol="50"
     coolRow="21" coolLength="4">{{in.import1?.[6]?.detailCsePersonAddress.zip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 80%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="21" coolLength="1">{{in.import1?.[6]?.detailOrgzIsTrib.flag}}</div>
   
   <div coolType="field" coolColor="green" coolUpper
     style="left: 86.25%; top: 80%; width: 10%; height: 4%;" coolCol="70"
     coolRow="21" coolLength="8">{{in.standard.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 97.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="78">PFKEY:  1 Help  2 Disp  3 Exit  4 List  5 Add  6 Upd  7 Prev  8 Next  9 Return</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 70%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="56">11 Clear  12 SignOff  15 FIPS  16 TRIB  17 NADR  18 NADS</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="CREATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=CREATE</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="FIPS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=FIPS</a>
   <a coolType="action" coolCommand="TRIB" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=TRIB</a>
   <a coolType="action" coolCommand="NADR" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=NADR</a>
   <a coolType="action" coolCommand="NADS" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=NADS</a>
   </div>