<!--Name: SI_PEPR_PERSON_PROGRAM_MAINT, ID: 372730671, model: 746-->
<div coolContent coolName="SI_PEPR_PERSON_PROGRAM_MAINT" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 25%; top: 0; width: 48.75%; height: 4%;"
     coolCol="21" coolRow="1" coolLength="39" coolColor="white">CSE - Person Program Maintenance - PEPR</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 4%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 45%; top: 4%; width: 43.75%; height: 4%;" coolCol="37"
     coolRow="2" coolLength="35">{{in.headerLine.text35}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 25%; top: 8%; width: 3.75%; height: 4%;"
     coolCol="21" coolRow="3" coolLength="3">Ind</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 10%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="8">Case   #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 12.5%; top: 12%; width: 12.5%; height: 4%;" coolCol="11"
     coolRow="4" coolLength="10">{{in.case1.number}}</div>
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 26.25%; top: 12%; width: 1.25%; height: 4%;" coolCol="22"
     coolRow="4" coolLength="1">{{in.ap.replicationIndicator}}</div>
   
   <div coolType="prompt"
     style="left: 28.75%; top: 12%; width: 2.5%; height: 4%;" coolCol="24"
     coolRow="4" coolLength="2">AP</div>
   <input type="text" coolType="field" name="field_4_28"
     [(ngModel)]="in.ap.number" [coolVideo]="out.ap.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 33.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="28"
     coolRow="4" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 12%; width: 41.25%; height: 4%;" coolCol="39"
     coolRow="4" coolLength="33">{{in.ap.formattedName}}</div>
   <input type="text" coolType="field" name="field_4_74"
     [(ngModel)]="in.apPrompt.flag" [coolVideo]="out.apPrompt.screenField?.flag"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 91.25%; top: 12%; width: 1.25%; height: 4%;" coolCol="74"
     coolRow="4" coolLength="1">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 26.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="22"
     coolRow="5" coolLength="1">{{in.ar.replicationIndicator}}</div>
   
   <div coolType="prompt"
     style="left: 28.75%; top: 16%; width: 2.5%; height: 4%;" coolCol="24"
     coolRow="5" coolLength="2">AR</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 16%; width: 12.5%; height: 4%;" coolCol="28"
     coolRow="5" coolLength="10">{{in.ar.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 16%; width: 41.25%; height: 4%;" coolCol="39"
     coolRow="5" coolLength="33">{{in.ar.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 11.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="10"
     coolRow="6" coolLength="3">Ind</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 24%; width: 10%; height: 4%;"
     coolCol="2" coolRow="7" coolLength="8">Person #</div>
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 12.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="11"
     coolRow="7" coolLength="1">{{in.csePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_7_13"
     [(ngModel)]="in.csePersonsWorkSet.number"
     [coolVideo]="out.csePersonsWorkSet.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 15%; top: 24%; width: 12.5%; height: 4%;" coolCol="13"
     coolRow="7" coolLength="10">
   <input type="text" coolType="field" name="field_7_24"
     [(ngModel)]="in.csePersonsWorkSet.formattedName"
     [coolVideo]="out.csePersonsWorkSet.screenField?.formattedName" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 28.75%; top: 24%; width: 41.25%; height: 4%;" coolCol="24"
     coolRow="7" coolLength="33">
   <input type="text" coolType="field" name="field_7_60"
     [(ngModel)]="in.prompt.flag" [coolVideo]="out.prompt.screenField?.flag"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 73.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="60"
     coolRow="7" coolLength="1">
   
   <div coolType="literal"
     style="left: 36.25%; top: 32%; width: 5%; height: 4%;" coolCol="30"
     coolRow="9" coolLength="4">Last</div>
   
   <div coolType="literal"
     style="left: 48.75%; top: 32%; width: 5%; height: 4%;" coolCol="40"
     coolRow="9" coolLength="4">Last</div>
   
   <div coolType="literal"
     style="left: 57.5%; top: 32%; width: 11.25%; height: 4%;" coolCol="47"
     coolRow="9" coolLength="9">Effective</div>
   
   <div coolType="literal"
     style="left: 73.75%; top: 32%; width: 3.75%; height: 4%;" coolCol="60"
     coolRow="9" coolLength="3">End</div>
   
   <div coolType="literal"
     style="left: 82.5%; top: 32%; width: 3.75%; height: 4%;" coolCol="67"
     coolRow="9" coolLength="3">Med</div>
   
   <div coolType="literal"
     style="left: 88.75%; top: 32%; width: 8.75%; height: 4%;" coolCol="72"
     coolRow="9" coolLength="7">Med End</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="3">Pgm</div>
   
   <div coolType="prompt"
     style="left: 13.75%; top: 36%; width: 13.75%; height: 4%;" coolCol="12"
     coolRow="10" coolLength="11">Description</div>
   
   <div coolType="literal"
     style="left: 33.75%; top: 36%; width: 8.75%; height: 4%;" coolCol="28"
     coolRow="10" coolLength="7">Updated</div>
   
   <div coolType="literal"
     style="left: 45%; top: 36%; width: 12.5%; height: 4%;" coolCol="37"
     coolRow="10" coolLength="10">Updated By</div>
   
   <div coolType="literal"
     style="left: 61.25%; top: 36%; width: 5%; height: 4%;" coolCol="50"
     coolRow="10" coolLength="4">Date</div>
   
   <div coolType="literal"
     style="left: 73.75%; top: 36%; width: 5%; height: 4%;" coolCol="60"
     coolRow="10" coolLength="4">Date</div>
   
   <div coolType="literal" style="left: 82.5%; top: 36%; width: 5%; height: 4%;"
     coolCol="67" coolRow="10" coolLength="4">Type</div>
   
   <div coolType="literal"
     style="left: 91.25%; top: 36%; width: 5%; height: 4%;" coolCol="74"
     coolRow="10" coolLength="4">Date</div>
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.import1, 0, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[0]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_11_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_6"
     [(ngModel)]="ref(in.import1, 0, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[0]?.detailProgram.screenField?.code" coolAutotab
     #field_11_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 40%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="11" coolLength="3">
   <input type="text" coolType="field" name="field_11_10"
     [(ngModel)]="ref(in.import1, 0, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[0]?.detailPrompt.screenField?.flag" coolAutotab
     #field_11_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="11" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 40%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="11" coolLength="15">{{in.import1?.[0]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 40%; width: 10%; height: 4%;" coolCol="28"
     coolRow="11" coolLength="8">{{in.import1?.[0]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 40%; width: 10%; height: 4%;" coolCol="38"
     coolRow="11" coolLength="8">{{in.import1?.[0]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_11_48"
     [(ngModel)]="ref(in.import1, 0, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[0]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_11_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 40%; width: 10%; height: 4%;" coolCol="48"
     coolRow="11" coolLength="8">
   <input type="text" coolType="field" name="field_11_58"
     [(ngModel)]="ref(in.import1, 0, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[0]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_11_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 40%; width: 10%; height: 4%;" coolCol="58"
     coolRow="11" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 40%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="11" coolLength="2">{{in.import1?.[0]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 40%; width: 10%; height: 4%;" coolCol="72"
     coolRow="11" coolLength="8">{{in.import1?.[0]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_12_3"
     [(ngModel)]="ref(in.import1, 1, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[1]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_12_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="1">
   <input type="text" coolType="field" name="field_12_6"
     [(ngModel)]="ref(in.import1, 1, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[1]?.detailProgram.screenField?.code" coolAutotab
     #field_12_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 44%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="3">
   <input type="text" coolType="field" name="field_12_10"
     [(ngModel)]="ref(in.import1, 1, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[1]?.detailPrompt.screenField?.flag" coolAutotab
     #field_12_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="12" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 44%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="12" coolLength="15">{{in.import1?.[1]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 44%; width: 10%; height: 4%;" coolCol="28"
     coolRow="12" coolLength="8">{{in.import1?.[1]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 44%; width: 10%; height: 4%;" coolCol="38"
     coolRow="12" coolLength="8">{{in.import1?.[1]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_12_48"
     [(ngModel)]="ref(in.import1, 1, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[1]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_12_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 44%; width: 10%; height: 4%;" coolCol="48"
     coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_58"
     [(ngModel)]="ref(in.import1, 1, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[1]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_12_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 44%; width: 10%; height: 4%;" coolCol="58"
     coolRow="12" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 44%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="12" coolLength="2">{{in.import1?.[1]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 44%; width: 10%; height: 4%;" coolCol="72"
     coolRow="12" coolLength="8">{{in.import1?.[1]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.import1, 2, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[2]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_13_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1">
   <input type="text" coolType="field" name="field_13_6"
     [(ngModel)]="ref(in.import1, 2, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[2]?.detailProgram.screenField?.code" coolAutotab
     #field_13_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 48%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="3">
   <input type="text" coolType="field" name="field_13_10"
     [(ngModel)]="ref(in.import1, 2, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[2]?.detailPrompt.screenField?.flag" coolAutotab
     #field_13_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="13" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 48%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="13" coolLength="15">{{in.import1?.[2]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 48%; width: 10%; height: 4%;" coolCol="28"
     coolRow="13" coolLength="8">{{in.import1?.[2]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 48%; width: 10%; height: 4%;" coolCol="38"
     coolRow="13" coolLength="8">{{in.import1?.[2]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_13_48"
     [(ngModel)]="ref(in.import1, 2, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[2]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_13_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 48%; width: 10%; height: 4%;" coolCol="48"
     coolRow="13" coolLength="8">
   <input type="text" coolType="field" name="field_13_58"
     [(ngModel)]="ref(in.import1, 2, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[2]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_13_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 48%; width: 10%; height: 4%;" coolCol="58"
     coolRow="13" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 48%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="13" coolLength="2">{{in.import1?.[2]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 48%; width: 10%; height: 4%;" coolCol="72"
     coolRow="13" coolLength="8">{{in.import1?.[2]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.import1, 3, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[3]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_14_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_6"
     [(ngModel)]="ref(in.import1, 3, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[3]?.detailProgram.screenField?.code" coolAutotab
     #field_14_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 52%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="3">
   <input type="text" coolType="field" name="field_14_10"
     [(ngModel)]="ref(in.import1, 3, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[3]?.detailPrompt.screenField?.flag" coolAutotab
     #field_14_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="14" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 52%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="14" coolLength="15">{{in.import1?.[3]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 52%; width: 10%; height: 4%;" coolCol="28"
     coolRow="14" coolLength="8">{{in.import1?.[3]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 52%; width: 10%; height: 4%;" coolCol="38"
     coolRow="14" coolLength="8">{{in.import1?.[3]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_14_48"
     [(ngModel)]="ref(in.import1, 3, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[3]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_14_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 52%; width: 10%; height: 4%;" coolCol="48"
     coolRow="14" coolLength="8">
   <input type="text" coolType="field" name="field_14_58"
     [(ngModel)]="ref(in.import1, 3, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[3]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_14_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 52%; width: 10%; height: 4%;" coolCol="58"
     coolRow="14" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 52%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="14" coolLength="2">{{in.import1?.[3]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 52%; width: 10%; height: 4%;" coolCol="72"
     coolRow="14" coolLength="8">{{in.import1?.[3]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.import1, 4, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[4]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_15_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1">
   <input type="text" coolType="field" name="field_15_6"
     [(ngModel)]="ref(in.import1, 4, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[4]?.detailProgram.screenField?.code" coolAutotab
     #field_15_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 56%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="3">
   <input type="text" coolType="field" name="field_15_10"
     [(ngModel)]="ref(in.import1, 4, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[4]?.detailPrompt.screenField?.flag" coolAutotab
     #field_15_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="15" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 56%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="15" coolLength="15">{{in.import1?.[4]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 56%; width: 10%; height: 4%;" coolCol="28"
     coolRow="15" coolLength="8">{{in.import1?.[4]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 56%; width: 10%; height: 4%;" coolCol="38"
     coolRow="15" coolLength="8">{{in.import1?.[4]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_15_48"
     [(ngModel)]="ref(in.import1, 4, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[4]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_15_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 56%; width: 10%; height: 4%;" coolCol="48"
     coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_58"
     [(ngModel)]="ref(in.import1, 4, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[4]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_15_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 56%; width: 10%; height: 4%;" coolCol="58"
     coolRow="15" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 56%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="15" coolLength="2">{{in.import1?.[4]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 56%; width: 10%; height: 4%;" coolCol="72"
     coolRow="15" coolLength="8">{{in.import1?.[4]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_16_3"
     [(ngModel)]="ref(in.import1, 5, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[5]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_16_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="1">
   <input type="text" coolType="field" name="field_16_6"
     [(ngModel)]="ref(in.import1, 5, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[5]?.detailProgram.screenField?.code" coolAutotab
     #field_16_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 60%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="3">
   <input type="text" coolType="field" name="field_16_10"
     [(ngModel)]="ref(in.import1, 5, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[5]?.detailPrompt.screenField?.flag" coolAutotab
     #field_16_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="16" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 60%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="16" coolLength="15">{{in.import1?.[5]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 60%; width: 10%; height: 4%;" coolCol="28"
     coolRow="16" coolLength="8">{{in.import1?.[5]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 60%; width: 10%; height: 4%;" coolCol="38"
     coolRow="16" coolLength="8">{{in.import1?.[5]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_16_48"
     [(ngModel)]="ref(in.import1, 5, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[5]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_16_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 60%; width: 10%; height: 4%;" coolCol="48"
     coolRow="16" coolLength="8">
   <input type="text" coolType="field" name="field_16_58"
     [(ngModel)]="ref(in.import1, 5, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[5]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_16_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 60%; width: 10%; height: 4%;" coolCol="58"
     coolRow="16" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 60%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="16" coolLength="2">{{in.import1?.[5]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 60%; width: 10%; height: 4%;" coolCol="72"
     coolRow="16" coolLength="8">{{in.import1?.[5]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_17_3"
     [(ngModel)]="ref(in.import1, 6, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[6]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_17_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="1">
   <input type="text" coolType="field" name="field_17_6"
     [(ngModel)]="ref(in.import1, 6, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[6]?.detailProgram.screenField?.code" coolAutotab
     #field_17_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 64%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="3">
   <input type="text" coolType="field" name="field_17_10"
     [(ngModel)]="ref(in.import1, 6, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[6]?.detailPrompt.screenField?.flag" coolAutotab
     #field_17_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="17" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 64%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="17" coolLength="15">{{in.import1?.[6]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 64%; width: 10%; height: 4%;" coolCol="28"
     coolRow="17" coolLength="8">{{in.import1?.[6]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 64%; width: 10%; height: 4%;" coolCol="38"
     coolRow="17" coolLength="8">{{in.import1?.[6]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_17_48"
     [(ngModel)]="ref(in.import1, 6, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[6]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_17_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 64%; width: 10%; height: 4%;" coolCol="48"
     coolRow="17" coolLength="8">
   <input type="text" coolType="field" name="field_17_58"
     [(ngModel)]="ref(in.import1, 6, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[6]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_17_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 64%; width: 10%; height: 4%;" coolCol="58"
     coolRow="17" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 64%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="17" coolLength="2">{{in.import1?.[6]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 64%; width: 10%; height: 4%;" coolCol="72"
     coolRow="17" coolLength="8">{{in.import1?.[6]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_18_3"
     [(ngModel)]="ref(in.import1, 7, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[7]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_18_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="18" coolLength="1">
   <input type="text" coolType="field" name="field_18_6"
     [(ngModel)]="ref(in.import1, 7, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[7]?.detailProgram.screenField?.code" coolAutotab
     #field_18_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 68%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="3">
   <input type="text" coolType="field" name="field_18_10"
     [(ngModel)]="ref(in.import1, 7, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[7]?.detailPrompt.screenField?.flag" coolAutotab
     #field_18_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="18" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 68%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="18" coolLength="15">{{in.import1?.[7]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 68%; width: 10%; height: 4%;" coolCol="28"
     coolRow="18" coolLength="8">{{in.import1?.[7]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 68%; width: 10%; height: 4%;" coolCol="38"
     coolRow="18" coolLength="8">{{in.import1?.[7]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_18_48"
     [(ngModel)]="ref(in.import1, 7, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[7]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_18_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 68%; width: 10%; height: 4%;" coolCol="48"
     coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_58"
     [(ngModel)]="ref(in.import1, 7, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[7]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_18_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 68%; width: 10%; height: 4%;" coolCol="58"
     coolRow="18" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 68%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="18" coolLength="2">{{in.import1?.[7]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 68%; width: 10%; height: 4%;" coolCol="72"
     coolRow="18" coolLength="8">{{in.import1?.[7]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_19_3"
     [(ngModel)]="ref(in.import1, 8, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[8]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_19_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="19" coolLength="1">
   <input type="text" coolType="field" name="field_19_6"
     [(ngModel)]="ref(in.import1, 8, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[8]?.detailProgram.screenField?.code" coolAutotab
     #field_19_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 72%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="19" coolLength="3">
   <input type="text" coolType="field" name="field_19_10"
     [(ngModel)]="ref(in.import1, 8, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[8]?.detailPrompt.screenField?.flag" coolAutotab
     #field_19_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="19" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 72%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="19" coolLength="15">{{in.import1?.[8]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 72%; width: 10%; height: 4%;" coolCol="28"
     coolRow="19" coolLength="8">{{in.import1?.[8]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 72%; width: 10%; height: 4%;" coolCol="38"
     coolRow="19" coolLength="8">{{in.import1?.[8]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_19_48"
     [(ngModel)]="ref(in.import1, 8, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[8]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_19_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 72%; width: 10%; height: 4%;" coolCol="48"
     coolRow="19" coolLength="8">
   <input type="text" coolType="field" name="field_19_58"
     [(ngModel)]="ref(in.import1, 8, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[8]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_19_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 72%; width: 10%; height: 4%;" coolCol="58"
     coolRow="19" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 72%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="19" coolLength="2">{{in.import1?.[8]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 72%; width: 10%; height: 4%;" coolCol="72"
     coolRow="19" coolLength="8">{{in.import1?.[8]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_20_3"
     [(ngModel)]="ref(in.import1, 9, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[9]?.detailCommon.screenField?.selectChar"
     coolAutotab #field_20_3 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="20" coolLength="1">
   <input type="text" coolType="field" name="field_20_6"
     [(ngModel)]="ref(in.import1, 9, 'detailProgram.code').value"
     [coolVideo]="out.export1?.[9]?.detailProgram.screenField?.code" coolAutotab
     #field_20_6 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 6.25%; top: 76%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="20" coolLength="3">
   <input type="text" coolType="field" name="field_20_10"
     [(ngModel)]="ref(in.import1, 9, 'detailPrompt.flag').value"
     [coolVideo]="out.export1?.[9]?.detailPrompt.screenField?.flag" coolAutotab
     #field_20_10 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 11.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="20" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 76%; width: 18.75%; height: 4%;" coolCol="12"
     coolRow="20" coolLength="15">{{in.import1?.[9]?.detailProgram.title}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 33.75%; top: 76%; width: 10%; height: 4%;" coolCol="28"
     coolRow="20" coolLength="8">{{in.import1?.[9]?.detailPersonProgram.lastUpdatdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 76%; width: 10%; height: 4%;" coolCol="38"
     coolRow="20" coolLength="8">{{in.import1?.[9]?.detailPersonProgram.lastUpdatedBy}}</div>
   <input type="text" coolType="field" name="field_20_48"
     [(ngModel)]="ref(in.import1, 9, 'detailPersonProgram.effectiveDate').value"
     [coolVideo]="out.export1?.[9]?.detailPersonProgram.screenField?.effectiveDate"
     coolAutotab #field_20_48 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 58.75%; top: 76%; width: 10%; height: 4%;" coolCol="48"
     coolRow="20" coolLength="8">
   <input type="text" coolType="field" name="field_20_58"
     [(ngModel)]="ref(in.import1, 9, 'detailPersonProgram.discontinueDate').value"
     [coolVideo]="out.export1?.[9]?.detailPersonProgram.screenField?.discontinueDate"
     coolAutotab #field_20_58 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 71.25%; top: 76%; width: 10%; height: 4%;" coolCol="58"
     coolRow="20" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 83.75%; top: 76%; width: 2.5%; height: 4%;" coolCol="68"
     coolRow="20" coolLength="2">{{in.import1?.[9]?.detailPersonProgram.medType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 88.75%; top: 76%; width: 10%; height: 4%;" coolCol="72"
     coolRow="20" coolLength="8">{{in.import1?.[9]?.detailPersonProgram.medTypeDiscontinueDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 87.5%; top: 80%; width: 10%; height: 4%;" coolCol="71"
     coolRow="21" coolLength="8">{{in.standard.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 92.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="74">PFKEY:  1 Help  2 Display  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 67.5%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="54">9 Return  10 Delete  11 Clear  12 SignOff  15 NATE  22</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="CREATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=CREATE</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="NATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=NATE</a>
   <a coolType="action" coolCommand="COPY" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F10">F22=COPY</a>
   </div>