<!--Name: SI_REFM_PA_REFERRAL_MENU, ID: 371761515, model: 746-->
<div coolContent coolName="SI_REFM_PA_REFERRAL_MENU" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 33.75%; top: 0; width: 32.5%; height: 4%;" coolCol="28"
     coolRow="1" coolLength="26">CSE - Referral Menu - REFM</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">Next</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt"
     style="left: 18.75%; top: 4%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_24"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 28.75%; top: 4%; width: 12.5%; height: 4%;" coolCol="24"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 12%; width: 20%; height: 4%;" coolCol="23"
     coolRow="4" coolLength="16">1  New Referrals</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 20%; width: 23.75%; height: 4%;" coolCol="23"
     coolRow="6" coolLength="19">2  Reopen Referrals</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 28%; width: 23.75%; height: 4%;" coolCol="23"
     coolRow="8" coolLength="19">3  Change Referrals</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 36%; width: 21.25%; height: 4%;" coolCol="23"
     coolRow="10" coolLength="17">4  View Referrals</div>
   
   <div coolType="prompt"
     style="left: 25%; top: 48%; width: 28.75%; height: 4%;" coolCol="21"
     coolRow="13" coolLength="23">Please select an option</div>
   <input type="text" coolType="field" name="field_13_45"
     [(ngModel)]="in.standard.menuOption"
     [coolVideo]="out.standard.screenField?.menuOption" coolAutotab coolFocus
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0;#" coolBlankWhenZero [attr.maxlength]="1"
     style="left: 55%; top: 48%; width: 1.25%; height: 4%;" coolCol="45"
     coolRow="13" coolLength="1">
   
   <div coolType="prompt" style="left: 25%; top: 56%; width: 20%; height: 4%;"
     coolCol="21" coolRow="15" coolLength="16">Enter Referral #</div>
   <input type="text" coolType="field" name="field_15_38"
     [(ngModel)]="in.paReferral.number"
     [coolVideo]="out.paReferral.screenField?.number" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 46.25%; top: 56%; width: 12.5%; height: 4%;" coolCol="38"
     coolRow="15" coolLength="10">
   
   <div coolType="literal"
     style="left: 61.25%; top: 56%; width: 12.5%; height: 4%;" coolCol="50"
     coolRow="15" coolLength="10">(Option 4)</div>
   
   <div coolType="prompt"
     style="left: 25%; top: 60%; width: 18.75%; height: 4%;" coolCol="21"
     coolRow="16" coolLength="15">From  (KAE/KSC)</div>
   <input type="text" coolType="field" name="field_16_38"
     [(ngModel)]="in.paReferral.from"
     [coolVideo]="out.paReferral.screenField?.from" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 46.25%; top: 60%; width: 3.75%; height: 4%;" coolCol="38"
     coolRow="16" coolLength="3">
   
   <div coolType="prompt" style="left: 25%; top: 68%; width: 30%; height: 4%;"
     coolCol="21" coolRow="18" coolLength="24">Service Provider User ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 56.25%; top: 68%; width: 10%; height: 4%;" coolCol="46"
     coolRow="18" coolLength="8">{{in.serviceProvider.userId}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 25%; top: 72%; width: 21.25%; height: 4%;" coolCol="21"
     coolRow="19" coolLength="17">{{in.serviceProvider.lastName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 47.5%; top: 72%; width: 15%; height: 4%;" coolCol="39"
     coolRow="19" coolLength="12">{{in.serviceProvider.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="19" coolLength="1">{{in.serviceProvider.middleInitial}}</div>
   
   <div coolType="prompt" style="left: 67.5%; top: 72%; width: 5%; height: 4%;"
     coolCol="55" coolRow="19" coolLength="4">Role</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 73.75%; top: 72%; width: 2.5%; height: 4%;" coolCol="60"
     coolRow="19" coolLength="2">{{in.officeServiceProvider.roleCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 25%; top: 76%; width: 37.5%; height: 4%;" coolCol="21"
     coolRow="20" coolLength="30">{{in.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 63.75%; top: 76%; width: 18.75%; height: 4%;" coolCol="52"
     coolRow="20" coolLength="15">{{in.serviceProviderAddress.city}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="79"
     style="left: 0; top: 88%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 56.25%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="45">PF KEYS:  1 Help  3 Exit  12 SignOff  15 SVPO</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="SVPO" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=SVPO</a>
   </div>