<!--Name: SI_RMAD_ROLE_MAINT_FOR_DISB, ID: 373475205, model: 746-->
<div coolContent coolName="SI_RMAD_ROLE_MAINT_FOR_DISB" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 21.25%; top: 0; width: 57.5%; height: 4%;" coolCol="18"
     coolRow="1" coolLength="46" coolColor="white">CSE - Role Maintenance For Disbursement - RMAD</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 10%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="8">Person #</div>
   <input type="text" coolType="field" name="field_4_12"
     [(ngModel)]="in.csePersonsWorkSet.number"
     [coolVideo]="out.csePersonsWorkSet.screenField?.number" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 13.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="4" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 28.75%; top: 12%; width: 41.25%; height: 4%;" coolCol="24"
     coolRow="4" coolLength="33">{{in.csePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 71.25%; top: 12%; width: 17.5%; height: 4%;" coolCol="58"
     coolRow="4" coolLength="14">Filter by Role</div>
   <input type="text" coolType="field" name="field_4_73"
     [(ngModel)]="in.caseRoleText.text2"
     [coolVideo]="out.caseRoleText.screenField?.text2" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 90%; top: 12%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="4" coolLength="2">
   <input type="text" coolType="field" name="field_4_76"
     [(ngModel)]="in.prompt.selectChar"
     [coolVideo]="out.prompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 93.75%; top: 12%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="3">Sel</div>
   
   <div coolType="prompt" style="left: 6.25%; top: 20%; width: 10%; height: 4%;"
     coolCol="6" coolRow="6" coolLength="8">Start Dt</div>
   
   <div coolType="prompt"
     style="left: 18.75%; top: 20%; width: 7.5%; height: 4%;" coolCol="16"
     coolRow="6" coolLength="6">End Dt</div>
   
   <div coolType="prompt" style="left: 32.5%; top: 20%; width: 10%; height: 4%;"
     coolCol="27" coolRow="6" coolLength="8">Person #</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 20%; width: 40%; height: 4%;" coolCol="38"
     coolRow="6" coolLength="32">Name                    (Case #)</div>
   
   <div coolType="prompt" style="left: 87.5%; top: 20%; width: 5%; height: 4%;"
     coolCol="71" coolRow="6" coolLength="4">Role</div>
   
   <div coolType="prompt" style="left: 93.75%; top: 20%; width: 5%; height: 4%;"
     coolCol="76" coolRow="6" coolLength="4">Stat</div>
   <input type="text" coolType="field" name="field_7_3"
     [(ngModel)]="ref(in.display, 0, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[0]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="1" [hidden]="!length(in.display)">
   <input type="text" coolType="field" name="field_7_6"
     [(ngModel)]="ref(in.display, 0, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[0]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 24%; width: 10%; height: 4%;"
     coolCol="6" coolRow="7" coolLength="8" [hidden]="!length(in.display)">
   <input type="text" coolType="field" name="field_7_16"
     [(ngModel)]="ref(in.display, 0, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[0]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 24%; width: 10%; height: 4%;" coolCol="16"
     coolRow="7" coolLength="8" [hidden]="!length(in.display)">
   <input type="text" coolType="field" name="field_7_27"
     [(ngModel)]="ref(in.display, 0, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[0]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 24%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="7" coolLength="10" [hidden]="!length(in.display)">
   <input type="text" coolType="field" name="field_7_38"
     [(ngModel)]="ref(in.display, 0, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[0]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 24%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="7" coolLength="33" [hidden]="!length(in.display)">
   <input type="text" coolType="field" name="field_7_73"
     [(ngModel)]="ref(in.display, 0, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[0]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 24%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="7" coolLength="2" [hidden]="!length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 24%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="7" coolLength="1" [hidden]="!length(in.display)">{{in.display?.[0]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_8_3"
     [(ngModel)]="ref(in.display, 1, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[1]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="1" [hidden]="1 >= length(in.display)">
   <input type="text" coolType="field" name="field_8_6"
     [(ngModel)]="ref(in.display, 1, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[1]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 28%; width: 10%; height: 4%;"
     coolCol="6" coolRow="8" coolLength="8" [hidden]="1 >= length(in.display)">
   <input type="text" coolType="field" name="field_8_16"
     [(ngModel)]="ref(in.display, 1, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[1]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 28%; width: 10%; height: 4%;" coolCol="16"
     coolRow="8" coolLength="8" [hidden]="1 >= length(in.display)">
   <input type="text" coolType="field" name="field_8_27"
     [(ngModel)]="ref(in.display, 1, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[1]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 28%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="8" coolLength="10" [hidden]="1 >= length(in.display)">
   <input type="text" coolType="field" name="field_8_38"
     [(ngModel)]="ref(in.display, 1, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[1]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 28%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="8" coolLength="33" [hidden]="1 >= length(in.display)">
   <input type="text" coolType="field" name="field_8_73"
     [(ngModel)]="ref(in.display, 1, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[1]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 28%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="8" coolLength="2" [hidden]="1 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 28%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="8" coolLength="1" [hidden]="1 >= length(in.display)">{{in.display?.[1]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_9_3"
     [(ngModel)]="ref(in.display, 2, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[2]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="1" [hidden]="2 >= length(in.display)">
   <input type="text" coolType="field" name="field_9_6"
     [(ngModel)]="ref(in.display, 2, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[2]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 32%; width: 10%; height: 4%;"
     coolCol="6" coolRow="9" coolLength="8" [hidden]="2 >= length(in.display)">
   <input type="text" coolType="field" name="field_9_16"
     [(ngModel)]="ref(in.display, 2, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[2]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 32%; width: 10%; height: 4%;" coolCol="16"
     coolRow="9" coolLength="8" [hidden]="2 >= length(in.display)">
   <input type="text" coolType="field" name="field_9_27"
     [(ngModel)]="ref(in.display, 2, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[2]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="9" coolLength="10" [hidden]="2 >= length(in.display)">
   <input type="text" coolType="field" name="field_9_38"
     [(ngModel)]="ref(in.display, 2, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[2]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 32%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="9" coolLength="33" [hidden]="2 >= length(in.display)">
   <input type="text" coolType="field" name="field_9_73"
     [(ngModel)]="ref(in.display, 2, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[2]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 32%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="9" coolLength="2" [hidden]="2 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 32%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="9" coolLength="1" [hidden]="2 >= length(in.display)">{{in.display?.[2]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_10_3"
     [(ngModel)]="ref(in.display, 3, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[3]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="10" coolLength="1" [hidden]="3 >= length(in.display)">
   <input type="text" coolType="field" name="field_10_6"
     [(ngModel)]="ref(in.display, 3, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[3]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 36%; width: 10%; height: 4%;"
     coolCol="6" coolRow="10" coolLength="8" [hidden]="3 >= length(in.display)">
   <input type="text" coolType="field" name="field_10_16"
     [(ngModel)]="ref(in.display, 3, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[3]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 36%; width: 10%; height: 4%;" coolCol="16"
     coolRow="10" coolLength="8" [hidden]="3 >= length(in.display)">
   <input type="text" coolType="field" name="field_10_27"
     [(ngModel)]="ref(in.display, 3, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[3]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 36%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="10" coolLength="10" [hidden]="3 >= length(in.display)">
   <input type="text" coolType="field" name="field_10_38"
     [(ngModel)]="ref(in.display, 3, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[3]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 36%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="10" coolLength="33" [hidden]="3 >= length(in.display)">
   <input type="text" coolType="field" name="field_10_73"
     [(ngModel)]="ref(in.display, 3, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[3]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 36%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="10" coolLength="2" [hidden]="3 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 36%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="10" coolLength="1" [hidden]="3 >= length(in.display)">{{in.display?.[3]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.display, 4, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[4]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1" [hidden]="4 >= length(in.display)">
   <input type="text" coolType="field" name="field_11_6"
     [(ngModel)]="ref(in.display, 4, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[4]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 40%; width: 10%; height: 4%;"
     coolCol="6" coolRow="11" coolLength="8" [hidden]="4 >= length(in.display)">
   <input type="text" coolType="field" name="field_11_16"
     [(ngModel)]="ref(in.display, 4, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[4]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 40%; width: 10%; height: 4%;" coolCol="16"
     coolRow="11" coolLength="8" [hidden]="4 >= length(in.display)">
   <input type="text" coolType="field" name="field_11_27"
     [(ngModel)]="ref(in.display, 4, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[4]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 40%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="11" coolLength="10" [hidden]="4 >= length(in.display)">
   <input type="text" coolType="field" name="field_11_38"
     [(ngModel)]="ref(in.display, 4, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[4]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 40%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="11" coolLength="33" [hidden]="4 >= length(in.display)">
   <input type="text" coolType="field" name="field_11_73"
     [(ngModel)]="ref(in.display, 4, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[4]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 40%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="11" coolLength="2" [hidden]="4 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 40%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="11" coolLength="1" [hidden]="4 >= length(in.display)">{{in.display?.[4]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_12_3"
     [(ngModel)]="ref(in.display, 5, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[5]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="1" [hidden]="5 >= length(in.display)">
   <input type="text" coolType="field" name="field_12_6"
     [(ngModel)]="ref(in.display, 5, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[5]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 44%; width: 10%; height: 4%;"
     coolCol="6" coolRow="12" coolLength="8" [hidden]="5 >= length(in.display)">
   <input type="text" coolType="field" name="field_12_16"
     [(ngModel)]="ref(in.display, 5, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[5]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 44%; width: 10%; height: 4%;" coolCol="16"
     coolRow="12" coolLength="8" [hidden]="5 >= length(in.display)">
   <input type="text" coolType="field" name="field_12_27"
     [(ngModel)]="ref(in.display, 5, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[5]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="12" coolLength="10" [hidden]="5 >= length(in.display)">
   <input type="text" coolType="field" name="field_12_38"
     [(ngModel)]="ref(in.display, 5, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[5]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 44%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="12" coolLength="33" [hidden]="5 >= length(in.display)">
   <input type="text" coolType="field" name="field_12_73"
     [(ngModel)]="ref(in.display, 5, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[5]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 44%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="12" coolLength="2" [hidden]="5 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 44%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="12" coolLength="1" [hidden]="5 >= length(in.display)">{{in.display?.[5]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.display, 6, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[6]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1" [hidden]="6 >= length(in.display)">
   <input type="text" coolType="field" name="field_13_6"
     [(ngModel)]="ref(in.display, 6, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[6]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 48%; width: 10%; height: 4%;"
     coolCol="6" coolRow="13" coolLength="8" [hidden]="6 >= length(in.display)">
   <input type="text" coolType="field" name="field_13_16"
     [(ngModel)]="ref(in.display, 6, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[6]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 48%; width: 10%; height: 4%;" coolCol="16"
     coolRow="13" coolLength="8" [hidden]="6 >= length(in.display)">
   <input type="text" coolType="field" name="field_13_27"
     [(ngModel)]="ref(in.display, 6, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[6]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 48%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="13" coolLength="10" [hidden]="6 >= length(in.display)">
   <input type="text" coolType="field" name="field_13_38"
     [(ngModel)]="ref(in.display, 6, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[6]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 48%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="13" coolLength="33" [hidden]="6 >= length(in.display)">
   <input type="text" coolType="field" name="field_13_73"
     [(ngModel)]="ref(in.display, 6, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[6]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 48%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="13" coolLength="2" [hidden]="6 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 48%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="13" coolLength="1" [hidden]="6 >= length(in.display)">{{in.display?.[6]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.display, 7, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[7]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1" [hidden]="7 >= length(in.display)">
   <input type="text" coolType="field" name="field_14_6"
     [(ngModel)]="ref(in.display, 7, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[7]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 52%; width: 10%; height: 4%;"
     coolCol="6" coolRow="14" coolLength="8" [hidden]="7 >= length(in.display)">
   <input type="text" coolType="field" name="field_14_16"
     [(ngModel)]="ref(in.display, 7, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[7]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 52%; width: 10%; height: 4%;" coolCol="16"
     coolRow="14" coolLength="8" [hidden]="7 >= length(in.display)">
   <input type="text" coolType="field" name="field_14_27"
     [(ngModel)]="ref(in.display, 7, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[7]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="14" coolLength="10" [hidden]="7 >= length(in.display)">
   <input type="text" coolType="field" name="field_14_38"
     [(ngModel)]="ref(in.display, 7, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[7]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 52%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="14" coolLength="33" [hidden]="7 >= length(in.display)">
   <input type="text" coolType="field" name="field_14_73"
     [(ngModel)]="ref(in.display, 7, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[7]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 52%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="14" coolLength="2" [hidden]="7 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 52%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="14" coolLength="1" [hidden]="7 >= length(in.display)">{{in.display?.[7]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.display, 8, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[8]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1" [hidden]="8 >= length(in.display)">
   <input type="text" coolType="field" name="field_15_6"
     [(ngModel)]="ref(in.display, 8, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[8]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 56%; width: 10%; height: 4%;"
     coolCol="6" coolRow="15" coolLength="8" [hidden]="8 >= length(in.display)">
   <input type="text" coolType="field" name="field_15_16"
     [(ngModel)]="ref(in.display, 8, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[8]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 56%; width: 10%; height: 4%;" coolCol="16"
     coolRow="15" coolLength="8" [hidden]="8 >= length(in.display)">
   <input type="text" coolType="field" name="field_15_27"
     [(ngModel)]="ref(in.display, 8, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[8]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="15" coolLength="10" [hidden]="8 >= length(in.display)">
   <input type="text" coolType="field" name="field_15_38"
     [(ngModel)]="ref(in.display, 8, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[8]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 56%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="15" coolLength="33" [hidden]="8 >= length(in.display)">
   <input type="text" coolType="field" name="field_15_73"
     [(ngModel)]="ref(in.display, 8, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[8]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 56%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="15" coolLength="2" [hidden]="8 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 56%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="15" coolLength="1" [hidden]="8 >= length(in.display)">{{in.display?.[8]?.displayCase.status}}</div>
   <input type="text" coolType="field" name="field_16_3"
     [(ngModel)]="ref(in.display, 9, 'displayCommon.selectChar').value"
     [coolVideo]="out.display?.[9]?.displayCommon.screenField?.selectChar"
     coolAutotab coolReadonly coolColor="green" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="1" [hidden]="9 >= length(in.display)">
   <input type="text" coolType="field" name="field_16_6"
     [(ngModel)]="ref(in.display, 9, 'displayCaseRole.startDate').value"
     [coolVideo]="out.display?.[9]?.displayCaseRole.screenField?.startDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 6.25%; top: 60%; width: 10%; height: 4%;"
     coolCol="6" coolRow="16" coolLength="8" [hidden]="9 >= length(in.display)">
   <input type="text" coolType="field" name="field_16_16"
     [(ngModel)]="ref(in.display, 9, 'displayCaseRole.endDate').value"
     [coolVideo]="out.display?.[9]?.displayCaseRole.screenField?.endDate"
     coolAutotab coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 18.75%; top: 60%; width: 10%; height: 4%;" coolCol="16"
     coolRow="16" coolLength="8" [hidden]="9 >= length(in.display)">
   <input type="text" coolType="field" name="field_16_27"
     [(ngModel)]="ref(in.display, 9, 'displayCsePersonsWorkSet.number').value"
     [coolVideo]="out.display?.[9]?.displayCsePersonsWorkSet.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 32.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="16" coolLength="10" [hidden]="9 >= length(in.display)">
   <input type="text" coolType="field" name="field_16_38"
     [(ngModel)]="ref(in.display, 9, 'displayCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.display?.[9]?.displayCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="33"
     style="left: 46.25%; top: 60%; width: 41.25%; height: 4%;" coolCol="38"
     coolRow="16" coolLength="33" [hidden]="9 >= length(in.display)">
   <input type="text" coolType="field" name="field_16_73"
     [(ngModel)]="ref(in.display, 9, 'displayCaseRole.type1').value"
     [coolVideo]="out.display?.[9]?.displayCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 90%; top: 60%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="16" coolLength="2" [hidden]="9 >= length(in.display)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 95%; top: 60%; width: 1.25%; height: 4%;" coolCol="77"
     coolRow="16" coolLength="1" [hidden]="9 >= length(in.display)">{{in.display?.[9]?.displayCase.status}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 88.75%; top: 64%; width: 10%; height: 4%;" coolCol="72"
     coolRow="17" coolLength="8">{{in.standard.scrollingMessage}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="10">Add Person</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 72%; width: 10%; height: 4%;"
     coolCol="2" coolRow="19" coolLength="8">Person #</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 13.75%; top: 72%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="19" coolLength="10">{{in.newCsePersonsWorkSet.number}}</div>
   
   <div coolType="prompt" style="left: 30%; top: 72%; width: 5%; height: 4%;"
     coolCol="25" coolRow="19" coolLength="4">Name</div>
   <input type="text" coolType="field" name="field_19_31"
     [(ngModel)]="in.newCsePersonsWorkSet.lastName"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.lastName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 37.5%; top: 72%; width: 21.25%; height: 4%;" coolCol="31"
     coolRow="19" coolLength="17">
   <input type="text" coolType="field" name="field_19_49"
     [(ngModel)]="in.newCsePersonsWorkSet.firstName"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.firstName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="12" style="left: 60%; top: 72%; width: 15%; height: 4%;"
     coolCol="49" coolRow="19" coolLength="12">
   <input type="text" coolType="field" name="field_19_62"
     [(ngModel)]="in.newCsePersonsWorkSet.middleInitial"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.middleInitial"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 76.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="62"
     coolRow="19" coolLength="1">
   
   <div coolType="prompt" style="left: 80%; top: 72%; width: 3.75%; height: 4%;"
     coolCol="65" coolRow="19" coolLength="3">Sex</div>
   <input type="text" coolType="field" name="field_19_70"
     [(ngModel)]="in.newCsePersonsWorkSet.sex"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.sex" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 86.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="70"
     coolRow="19" coolLength="1">
   
   <div coolType="prompt" style="left: 1.25%; top: 76%; width: 5%; height: 4%;"
     coolCol="2" coolRow="20" coolLength="4">Role</div>
   <input type="text" coolType="field" name="field_20_7"
     [(ngModel)]="in.newCaseRole.type1"
     [coolVideo]="out.newCaseRole.screenField?.type1" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 7.5%; top: 76%; width: 2.5%; height: 4%;" coolCol="7"
     coolRow="20" coolLength="2">
   
   <div coolType="prompt" style="left: 12.5%; top: 76%; width: 10%; height: 4%;"
     coolCol="11" coolRow="20" coolLength="8">Start Dt</div>
   <input type="text" coolType="field" name="field_20_20"
     [(ngModel)]="in.newCaseRole.startDate"
     [coolVideo]="out.newCaseRole.screenField?.startDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 23.75%; top: 76%; width: 10%; height: 4%;" coolCol="20"
     coolRow="20" coolLength="8">
   
   <div coolType="prompt"
     style="left: 36.25%; top: 76%; width: 7.5%; height: 4%;" coolCol="30"
     coolRow="20" coolLength="6">End Dt</div>
   <input type="text" coolType="field" name="field_20_37"
     [(ngModel)]="in.newCaseRole.endDate"
     [coolVideo]="out.newCaseRole.screenField?.endDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 45%; top: 76%; width: 10%; height: 4%;"
     coolCol="37" coolRow="20" coolLength="8">
   
   <div coolType="prompt"
     style="left: 57.5%; top: 76%; width: 3.75%; height: 4%;" coolCol="47"
     coolRow="20" coolLength="3">SSN</div>
   <input type="text" coolType="field" name="field_20_52"
     [(ngModel)]="in.newSsnWorkArea.ssnNumPart1"
     [coolVideo]="out.newSsnWorkArea.screenField?.ssnNumPart1" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 63.75%; top: 76%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="20" coolLength="3">
   <input type="text" coolType="field" name="field_20_56"
     [(ngModel)]="in.newSsnWorkArea.ssnNumPart2"
     [coolVideo]="out.newSsnWorkArea.screenField?.ssnNumPart2" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 68.75%; top: 76%; width: 2.5%; height: 4%;" coolCol="56"
     coolRow="20" coolLength="2">
   <input type="text" coolType="field" name="field_20_59"
     [(ngModel)]="in.newSsnWorkArea.ssnNumPart3"
     [coolVideo]="out.newSsnWorkArea.screenField?.ssnNumPart3" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 72.5%; top: 76%; width: 5%; height: 4%;" coolCol="59"
     coolRow="20" coolLength="4">
   
   <div coolType="prompt" style="left: 80%; top: 76%; width: 3.75%; height: 4%;"
     coolCol="65" coolRow="20" coolLength="3">DOB</div>
   <input type="text" coolType="field" name="field_20_70"
     [(ngModel)]="in.newCsePersonsWorkSet.dob"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.dob" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 86.25%; top: 76%; width: 10%; height: 4%;" coolCol="70"
     coolRow="20" coolLength="8">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 1.25%; top: 80%; width: 75%; height: 4%;" coolCol="2"
     coolRow="21" coolLength="60">{{in.message.text60}}</div>
   <input type="text" coolType="field" name="field_21_63"
     [(ngModel)]="in.response.flag" [coolVideo]="out.response.screenField?.flag"
     coolAutotab coolReadonly coolColor="yellow" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 77.5%; top: 80%; width: 1.25%; height: 4%;" coolCol="63"
     coolRow="21" coolLength="1">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 88%; width: 97.5%; height: 4%;" coolCol="2"
     coolRow="23" coolLength="78">PFKEY:  1 Help  2 Display  3 Exit  4 List  7 Prev  8 Next  10 Delete  11 Clear</div>
   
   <div coolType="literal"
     style="left: 5%; top: 92%; width: 93.75%; height: 4%;" coolCol="5"
     coolRow="24" coolLength="75">12 SignOff  15 NAME  16 Orgz  17 AddInfo  18 ChgInfo  19 Save  20 Del MO/FA</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="NAME" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=NAME</a>
   <a coolType="action" coolCommand="ORGZ" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=ORGZ</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=UPDATE</a>
   <a coolType="action" coolCommand="SAVE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=SAVE</a>
   <a coolType="action" coolCommand="REMOVE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F8">F20=REMOVE</a>
   </div>