<!--Name: SI_ROLE_CASE_ROLE_MAINTENANCE, ID: 371785523, model: 746-->
<div coolContent coolName="SI_ROLE_CASE_ROLE_MAINTENANCE" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 27.5%; top: 0; width: 42.5%; height: 4%;" coolCol="23"
     coolRow="1" coolLength="34" coolColor="white">CSE - Case Role Maintenance - ROLE</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt" style="left: 17.5%; top: 4%; width: 7.5%; height: 4%;"
     coolCol="15" coolRow="2" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_2_23"
     [(ngModel)]="in.next.number" [coolVideo]="out.next.screenField?.number"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 27.5%; top: 4%; width: 12.5%; height: 4%;" coolCol="23"
     coolRow="2" coolLength="10">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 43.75%; top: 4%; width: 43.75%; height: 4%;" coolCol="36"
     coolRow="2" coolLength="35">{{in.headerLine.text35}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_4_10"
     [(ngModel)]="in.case1.number" [coolVideo]="out.case1.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 11.25%; top: 12%; width: 12.5%; height: 4%;" coolCol="10"
     coolRow="4" coolLength="10">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 7.5%; top: 20%; width: 3.75%; height: 4%;" coolCol="7"
     coolRow="6" coolLength="3">Ind</div>
   
   <div coolType="prompt" style="left: 15%; top: 20%; width: 10%; height: 4%;"
     coolCol="13" coolRow="6" coolLength="8">Person #</div>
   
   <div coolType="prompt" style="left: 43.75%; top: 20%; width: 5%; height: 4%;"
     coolCol="36" coolRow="6" coolLength="4">Name</div>
   
   <div coolType="prompt" style="left: 65%; top: 20%; width: 5%; height: 4%;"
     coolCol="53" coolRow="6" coolLength="4">Role</div>
   
   <div coolType="prompt"
     style="left: 72.5%; top: 20%; width: 12.5%; height: 4%;" coolCol="59"
     coolRow="6" coolLength="10">Start Date</div>
   
   <div coolType="prompt" style="left: 87.5%; top: 20%; width: 10%; height: 4%;"
     coolCol="71" coolRow="6" coolLength="8">End Date</div>
   <input type="text" coolType="field" name="field_7_3"
     [(ngModel)]="ref(in.import1, 0, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[0]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="7" coolLength="1" [hidden]="!length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="7" coolLength="1" [hidden]="!length(in.import1)">{{in.import1?.[0]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_7_12"
     [(ngModel)]="ref(in.import1, 0, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[0]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 24%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="7" coolLength="10" [hidden]="!length(in.import1)">
   <input type="text" coolType="field" name="field_7_24"
     [(ngModel)]="ref(in.import1, 0, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[0]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 24%; width: 35%; height: 4%;" coolCol="24"
     coolRow="7" coolLength="28" [hidden]="!length(in.import1)">
   <input type="text" coolType="field" name="field_7_54"
     [(ngModel)]="ref(in.import1, 0, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[0]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 24%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="7" coolLength="2" [hidden]="!length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 24%; width: 10%; height: 4%;" coolCol="60"
     coolRow="7" coolLength="8" [hidden]="!length(in.import1)">{{in.import1?.[0]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_7_71"
     [(ngModel)]="ref(in.import1, 0, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[0]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 24%; width: 10%; height: 4%;" coolCol="71"
     coolRow="7" coolLength="8" [hidden]="!length(in.import1)">
   <input type="text" coolType="field" name="field_8_3"
     [(ngModel)]="ref(in.import1, 1, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[1]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="1" [hidden]="1 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="8" coolLength="1" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_8_12"
     [(ngModel)]="ref(in.import1, 1, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[1]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 28%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="8" coolLength="10" [hidden]="1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_8_24"
     [(ngModel)]="ref(in.import1, 1, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[1]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 28%; width: 35%; height: 4%;" coolCol="24"
     coolRow="8" coolLength="28" [hidden]="1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_8_54"
     [(ngModel)]="ref(in.import1, 1, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[1]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 28%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="8" coolLength="2" [hidden]="1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 28%; width: 10%; height: 4%;" coolCol="60"
     coolRow="8" coolLength="8" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_8_71"
     [(ngModel)]="ref(in.import1, 1, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[1]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 28%; width: 10%; height: 4%;" coolCol="71"
     coolRow="8" coolLength="8" [hidden]="1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_9_3"
     [(ngModel)]="ref(in.import1, 2, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[2]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="1" [hidden]="2 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="9" coolLength="1" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_9_12"
     [(ngModel)]="ref(in.import1, 2, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[2]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 32%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="9" coolLength="10" [hidden]="2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_9_24"
     [(ngModel)]="ref(in.import1, 2, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[2]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 32%; width: 35%; height: 4%;" coolCol="24"
     coolRow="9" coolLength="28" [hidden]="2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_9_54"
     [(ngModel)]="ref(in.import1, 2, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[2]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 32%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="9" coolLength="2" [hidden]="2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 32%; width: 10%; height: 4%;" coolCol="60"
     coolRow="9" coolLength="8" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_9_71"
     [(ngModel)]="ref(in.import1, 2, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[2]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 32%; width: 10%; height: 4%;" coolCol="71"
     coolRow="9" coolLength="8" [hidden]="2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_10_3"
     [(ngModel)]="ref(in.import1, 3, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[3]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="10" coolLength="1" [hidden]="3 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="10" coolLength="1" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_10_12"
     [(ngModel)]="ref(in.import1, 3, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[3]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 36%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="10" coolLength="10" [hidden]="3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_10_24"
     [(ngModel)]="ref(in.import1, 3, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[3]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 36%; width: 35%; height: 4%;" coolCol="24"
     coolRow="10" coolLength="28" [hidden]="3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_10_54"
     [(ngModel)]="ref(in.import1, 3, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[3]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 36%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="10" coolLength="2" [hidden]="3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 36%; width: 10%; height: 4%;" coolCol="60"
     coolRow="10" coolLength="8" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_10_71"
     [(ngModel)]="ref(in.import1, 3, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[3]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 36%; width: 10%; height: 4%;" coolCol="71"
     coolRow="10" coolLength="8" [hidden]="3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.import1, 4, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[4]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1" [hidden]="4 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="11" coolLength="1" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_11_12"
     [(ngModel)]="ref(in.import1, 4, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[4]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 40%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="11" coolLength="10" [hidden]="4 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_24"
     [(ngModel)]="ref(in.import1, 4, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[4]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 40%; width: 35%; height: 4%;" coolCol="24"
     coolRow="11" coolLength="28" [hidden]="4 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_54"
     [(ngModel)]="ref(in.import1, 4, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[4]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 40%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="11" coolLength="2" [hidden]="4 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 40%; width: 10%; height: 4%;" coolCol="60"
     coolRow="11" coolLength="8" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_11_71"
     [(ngModel)]="ref(in.import1, 4, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[4]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 40%; width: 10%; height: 4%;" coolCol="71"
     coolRow="11" coolLength="8" [hidden]="4 >= length(in.import1)">
   <input type="text" coolType="field" name="field_12_3"
     [(ngModel)]="ref(in.import1, 5, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[5]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="1" [hidden]="5 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="12" coolLength="1" [hidden]="5 >= length(in.import1)">{{in.import1?.[5]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_12_12"
     [(ngModel)]="ref(in.import1, 5, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[5]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 44%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="12" coolLength="10" [hidden]="5 >= length(in.import1)">
   <input type="text" coolType="field" name="field_12_24"
     [(ngModel)]="ref(in.import1, 5, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[5]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 44%; width: 35%; height: 4%;" coolCol="24"
     coolRow="12" coolLength="28" [hidden]="5 >= length(in.import1)">
   <input type="text" coolType="field" name="field_12_54"
     [(ngModel)]="ref(in.import1, 5, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[5]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 44%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="12" coolLength="2" [hidden]="5 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 44%; width: 10%; height: 4%;" coolCol="60"
     coolRow="12" coolLength="8" [hidden]="5 >= length(in.import1)">{{in.import1?.[5]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_12_71"
     [(ngModel)]="ref(in.import1, 5, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[5]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 44%; width: 10%; height: 4%;" coolCol="71"
     coolRow="12" coolLength="8" [hidden]="5 >= length(in.import1)">
   <input type="text" coolType="field" name="field_13_3"
     [(ngModel)]="ref(in.import1, 6, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[6]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="13" coolLength="1" [hidden]="6 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="13" coolLength="1" [hidden]="6 >= length(in.import1)">{{in.import1?.[6]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_13_12"
     [(ngModel)]="ref(in.import1, 6, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[6]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 48%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="13" coolLength="10" [hidden]="6 >= length(in.import1)">
   <input type="text" coolType="field" name="field_13_24"
     [(ngModel)]="ref(in.import1, 6, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[6]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 48%; width: 35%; height: 4%;" coolCol="24"
     coolRow="13" coolLength="28" [hidden]="6 >= length(in.import1)">
   <input type="text" coolType="field" name="field_13_54"
     [(ngModel)]="ref(in.import1, 6, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[6]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 48%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="13" coolLength="2" [hidden]="6 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 48%; width: 10%; height: 4%;" coolCol="60"
     coolRow="13" coolLength="8" [hidden]="6 >= length(in.import1)">{{in.import1?.[6]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_13_71"
     [(ngModel)]="ref(in.import1, 6, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[6]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 48%; width: 10%; height: 4%;" coolCol="71"
     coolRow="13" coolLength="8" [hidden]="6 >= length(in.import1)">
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.import1, 7, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[7]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1" [hidden]="7 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="14" coolLength="1" [hidden]="7 >= length(in.import1)">{{in.import1?.[7]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_14_12"
     [(ngModel)]="ref(in.import1, 7, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[7]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 52%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="14" coolLength="10" [hidden]="7 >= length(in.import1)">
   <input type="text" coolType="field" name="field_14_24"
     [(ngModel)]="ref(in.import1, 7, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[7]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 52%; width: 35%; height: 4%;" coolCol="24"
     coolRow="14" coolLength="28" [hidden]="7 >= length(in.import1)">
   <input type="text" coolType="field" name="field_14_54"
     [(ngModel)]="ref(in.import1, 7, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[7]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 52%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="14" coolLength="2" [hidden]="7 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 52%; width: 10%; height: 4%;" coolCol="60"
     coolRow="14" coolLength="8" [hidden]="7 >= length(in.import1)">{{in.import1?.[7]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_14_71"
     [(ngModel)]="ref(in.import1, 7, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[7]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 52%; width: 10%; height: 4%;" coolCol="71"
     coolRow="14" coolLength="8" [hidden]="7 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.import1, 8, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[8]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1" [hidden]="8 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="15" coolLength="1" [hidden]="8 >= length(in.import1)">{{in.import1?.[8]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_15_12"
     [(ngModel)]="ref(in.import1, 8, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[8]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 56%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="15" coolLength="10" [hidden]="8 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_24"
     [(ngModel)]="ref(in.import1, 8, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[8]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 56%; width: 35%; height: 4%;" coolCol="24"
     coolRow="15" coolLength="28" [hidden]="8 >= length(in.import1)">
   <input type="text" coolType="field" name="field_15_54"
     [(ngModel)]="ref(in.import1, 8, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[8]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 56%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="15" coolLength="2" [hidden]="8 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 56%; width: 10%; height: 4%;" coolCol="60"
     coolRow="15" coolLength="8" [hidden]="8 >= length(in.import1)">{{in.import1?.[8]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_15_71"
     [(ngModel)]="ref(in.import1, 8, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[8]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 56%; width: 10%; height: 4%;" coolCol="71"
     coolRow="15" coolLength="8" [hidden]="8 >= length(in.import1)">
   <input type="text" coolType="field" name="field_16_3"
     [(ngModel)]="ref(in.import1, 9, 'detailCommon.selectChar').value"
     [coolVideo]="out.export1?.[9]?.detailCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="16" coolLength="1" [hidden]="9 >= length(in.import1)">
   
   <div coolType="field" coolColor="yellow" coolUpper
     style="left: 8.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="16" coolLength="1" [hidden]="9 >= length(in.import1)">{{in.import1?.[9]?.detailCsePersonsWorkSet.replicationIndicator}}</div>
   <input type="text" coolType="field" name="field_16_12"
     [(ngModel)]="ref(in.import1, 9, 'detailCsePerson.number').value"
     [coolVideo]="out.export1?.[9]?.detailCsePerson.screenField?.number"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 60%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="16" coolLength="10" [hidden]="9 >= length(in.import1)">
   <input type="text" coolType="field" name="field_16_24"
     [(ngModel)]="ref(in.import1, 9, 'detailCsePersonsWorkSet.formattedName').value"
     [coolVideo]="out.export1?.[9]?.detailCsePersonsWorkSet.screenField?.formattedName"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="28"
     style="left: 28.75%; top: 60%; width: 35%; height: 4%;" coolCol="24"
     coolRow="16" coolLength="28" [hidden]="9 >= length(in.import1)">
   <input type="text" coolType="field" name="field_16_54"
     [(ngModel)]="ref(in.import1, 9, 'detailCaseRole.type1').value"
     [coolVideo]="out.export1?.[9]?.detailCaseRole.screenField?.type1"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 66.25%; top: 60%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="16" coolLength="2" [hidden]="9 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 73.75%; top: 60%; width: 10%; height: 4%;" coolCol="60"
     coolRow="16" coolLength="8" [hidden]="9 >= length(in.import1)">{{in.import1?.[9]?.detailCaseRole.startDate|coolDate:'MMddyyyy':0}}</div>
   <input type="text" coolType="field" name="field_16_71"
     [(ngModel)]="ref(in.import1, 9, 'detailCaseRole.endDate').value"
     [coolVideo]="out.export1?.[9]?.detailCaseRole.screenField?.endDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 87.5%; top: 60%; width: 10%; height: 4%;" coolCol="71"
     coolRow="16" coolLength="8" [hidden]="9 >= length(in.import1)">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 88.75%; top: 64%; width: 10%; height: 4%;" coolCol="72"
     coolRow="17" coolLength="8">{{in.standard.scrollingMessage}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 68%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="10">Add Person</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 72%; width: 10%; height: 4%;"
     coolCol="2" coolRow="19" coolLength="8">Person #</div>
   <input type="text" coolType="field" name="field_19_12"
     [(ngModel)]="in.newCsePersonsWorkSet.number"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.number" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 13.75%; top: 72%; width: 12.5%; height: 4%;" coolCol="12"
     coolRow="19" coolLength="10">
   
   <div coolType="prompt" style="left: 30%; top: 72%; width: 5%; height: 4%;"
     coolCol="25" coolRow="19" coolLength="4">Name</div>
   <input type="text" coolType="field" name="field_19_31"
     [(ngModel)]="in.newCsePersonsWorkSet.lastName"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.lastName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 37.5%; top: 72%; width: 21.25%; height: 4%;" coolCol="31"
     coolRow="19" coolLength="17">
   <input type="text" coolType="field" name="field_19_49"
     [(ngModel)]="in.newCsePersonsWorkSet.firstName"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.firstName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="12" style="left: 60%; top: 72%; width: 15%; height: 4%;"
     coolCol="49" coolRow="19" coolLength="12">
   <input type="text" coolType="field" name="field_19_62"
     [(ngModel)]="in.newCsePersonsWorkSet.middleInitial"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.middleInitial"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 76.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="62"
     coolRow="19" coolLength="1">
   
   <div coolType="prompt" style="left: 80%; top: 72%; width: 3.75%; height: 4%;"
     coolCol="65" coolRow="19" coolLength="3">Sex</div>
   <input type="text" coolType="field" name="field_19_70"
     [(ngModel)]="in.newCsePersonsWorkSet.sex"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.sex" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 86.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="70"
     coolRow="19" coolLength="1">
   
   <div coolType="prompt" style="left: 1.25%; top: 76%; width: 5%; height: 4%;"
     coolCol="2" coolRow="20" coolLength="4">Role</div>
   <input type="text" coolType="field" name="field_20_12"
     [(ngModel)]="in.newCaseRole.type1"
     [coolVideo]="out.newCaseRole.screenField?.type1" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     [coolPermittedValues]="['MO','FA','CH','AR','AP']"
     style="left: 13.75%; top: 76%; width: 2.5%; height: 4%;" coolCol="12"
     coolRow="20" coolLength="2">
   
   <div coolType="prompt" style="left: 30%; top: 76%; width: 10%; height: 4%;"
     coolCol="25" coolRow="20" coolLength="8">Start Dt</div>
   <input type="text" coolType="field" name="field_20_35"
     [(ngModel)]="in.newCaseRole.startDate"
     [coolVideo]="out.newCaseRole.screenField?.startDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 42.5%; top: 76%; width: 10%; height: 4%;"
     coolCol="35" coolRow="20" coolLength="8">
   
   <div coolType="prompt" style="left: 55%; top: 76%; width: 3.75%; height: 4%;"
     coolCol="45" coolRow="20" coolLength="3">SSN</div>
   <input type="text" coolType="field" name="field_20_50"
     [(ngModel)]="in.newSsnWorkArea.ssnNumPart1"
     [coolVideo]="out.newSsnWorkArea.screenField?.ssnNumPart1" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 61.25%; top: 76%; width: 3.75%; height: 4%;" coolCol="50"
     coolRow="20" coolLength="3">
   <input type="text" coolType="field" name="field_20_54"
     [(ngModel)]="in.newSsnWorkArea.ssnNumPart2"
     [coolVideo]="out.newSsnWorkArea.screenField?.ssnNumPart2" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 66.25%; top: 76%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="20" coolLength="2">
   <input type="text" coolType="field" name="field_20_57"
     [(ngModel)]="in.newSsnWorkArea.ssnNumPart3"
     [coolVideo]="out.newSsnWorkArea.screenField?.ssnNumPart3" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 70%; top: 76%; width: 5%; height: 4%;" coolCol="57"
     coolRow="20" coolLength="4">
   
   <div coolType="prompt" style="left: 80%; top: 76%; width: 3.75%; height: 4%;"
     coolCol="65" coolRow="20" coolLength="3">DOB</div>
   <input type="text" coolType="field" name="field_20_70"
     [(ngModel)]="in.newCsePersonsWorkSet.dob"
     [coolVideo]="out.newCsePersonsWorkSet.screenField?.dob" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 86.25%; top: 76%; width: 10%; height: 4%;" coolCol="70"
     coolRow="20" coolLength="8">
   <input type="text" coolType="field" name="field_21_17"
     [(ngModel)]="in.standard.deleteText"
     [coolVideo]="out.standard.screenField?.deleteText" coolAutotab coolReadonly
     coolColor="white" coolIntensity="dark" coolUpper [attr.maxlength]="30"
     style="left: 20%; top: 80%; width: 37.5%; height: 4%;" coolCol="17"
     coolRow="21" coolLength="30">
   <input type="text" coolType="field" name="field_21_48"
     [(ngModel)]="in.standard.deleteConfirmation"
     [coolVideo]="out.standard.screenField?.deleteConfirmation" coolAutotab
     coolReadonly coolColor="green" coolIntensity="dark" coolUpper
     [attr.maxlength]="1"
     style="left: 58.75%; top: 80%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="21" coolLength="1">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 88%; width: 95%; height: 4%;" coolCol="2"
     coolRow="23" coolLength="76">PFKEY:  1 Help  2 Display  3 Exit  5 Add  6 Update  7 Prev  8 Next  9 Return</div>
   
   <div coolType="literal" style="left: 10%; top: 92%; width: 70%; height: 4%;"
     coolCol="9" coolRow="24" coolLength="56">11 Clear  12 SignOff  15 NAME  16 ORGZ  17 COMN  18 CPAT</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="CREATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=CREATE</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="NAME" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=NAME</a>
   <a coolType="action" coolCommand="ORGZ" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=ORGZ</a>
   <a coolType="action" coolCommand="COMN" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=COMN</a>
   <a coolType="action" coolCommand="CPAT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=CPAT</a>
   </div>