<!--Name: SP_ALRT_LIST_OSP_ALERTS, ID: 371924211, model: 746-->
<div coolContent coolName="SP_ALRT_LIST_OSP_ALERTS" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 20%; top: 0; width: 58.75%; height: 4%;"
     coolCol="17" coolRow="1" coolLength="47">CSE - Office Service Provider Alert List - ALRT</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal" style="left: 1.25%; top: 8%; width: 10%; height: 4%;"
     coolCol="2" coolRow="3" coolLength="8">Srv Prvr</div>
   <input type="text" coolType="field" name="field_3_11"
     [(ngModel)]="in.filterServiceProvider.userId"
     [coolVideo]="out.filterServiceProvider.screenField?.userId" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 12.5%; top: 8%; width: 10%; height: 4%;"
     coolCol="11" coolRow="3" coolLength="8">
   <input type="text" coolType="field" name="field_3_20"
     [(ngModel)]="in.svpoPrompt.selectChar"
     [coolVideo]="out.svpoPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 23.75%; top: 8%; width: 1.25%; height: 4%;" coolCol="20"
     coolRow="3" coolLength="1">
   
   <div coolType="literal"
     style="left: 26.25%; top: 8%; width: 3.75%; height: 4%;" coolCol="22"
     coolRow="3" coolLength="3">Off</div>
   <input type="text" coolType="field" name="field_3_26"
     [(ngModel)]="in.filterOffice.systemGeneratedId"
     [coolVideo]="out.filterOffice.screenField?.systemGeneratedId" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 31.25%; top: 8%; width: 5%; height: 4%;" coolCol="26"
     coolRow="3" coolLength="4">
   
   <div coolType="literal" style="left: 37.5%; top: 8%; width: 5%; height: 4%;"
     coolCol="31" coolRow="3" coolLength="4">Role</div>
   <input type="text" coolType="field" name="field_3_36"
     [(ngModel)]="in.filterOfficeServiceProvider.roleCode"
     [coolVideo]="out.filterOfficeServiceProvider.screenField?.roleCode"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="2"
     style="left: 43.75%; top: 8%; width: 2.5%; height: 4%;" coolCol="36"
     coolRow="3" coolLength="2">
   
   <div coolType="literal" style="left: 47.5%; top: 8%; width: 5%; height: 4%;"
     coolCol="39" coolRow="3" coolLength="4">Date</div>
   <input type="text" coolType="field" name="field_3_44"
     [(ngModel)]="in.filterOfficeServiceProviderAlert.distributionDate"
     [coolVideo]="out.filterOfficeServiceProviderAlert.screenField?.distributionDate"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 53.75%; top: 8%; width: 10%; height: 4%;" coolCol="44"
     coolRow="3" coolLength="8">
   
   <div coolType="literal" style="left: 65%; top: 8%; width: 3.75%; height: 4%;"
     coolCol="53" coolRow="3" coolLength="3">Typ</div>
   <input type="text" coolType="field" name="field_3_57"
     [(ngModel)]="in.filterOfficeServiceProviderAlert.typeCode"
     [coolVideo]="out.filterOfficeServiceProviderAlert.screenField?.typeCode"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3" style="left: 70%; top: 8%; width: 3.75%; height: 4%;"
     coolCol="57" coolRow="3" coolLength="3">
   
   <div coolType="literal" style="left: 75%; top: 8%; width: 8.75%; height: 4%;"
     coolCol="61" coolRow="3" coolLength="7">Evt Typ</div>
   <input type="text" coolType="field" name="field_3_69"
     [(ngModel)]="in.filterEventType.cdvalue"
     [coolVideo]="out.filterEventType.screenField?.cdvalue" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 85%; top: 8%; width: 12.5%; height: 4%;"
     coolCol="69" coolRow="3" coolLength="10">
   <input type="text" coolType="field" name="field_3_80"
     [(ngModel)]="in.eventTypePrompt.selectChar"
     [coolVideo]="out.eventTypePrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 98.75%; top: 8%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="3" coolLength="1">
   
   <div coolType="literal"
     style="left: 1.25%; top: 12%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_4_9"
     [(ngModel)]="in.filterInfrastructure.caseNumber"
     [coolVideo]="out.filterInfrastructure.screenField?.caseNumber" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 10%; top: 12%; width: 12.5%; height: 4%;" coolCol="9"
     coolRow="4" coolLength="10">
   
   <div coolType="literal"
     style="left: 25%; top: 12%; width: 8.75%; height: 4%;" coolCol="21"
     coolRow="4" coolLength="7">Persn #</div>
   <input type="text" coolType="field" name="field_4_29"
     [(ngModel)]="in.filterInfrastructure.csePersonNumber"
     [coolVideo]="out.filterInfrastructure.screenField?.csePersonNumber"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 35%; top: 12%; width: 12.5%; height: 4%;" coolCol="29"
     coolRow="4" coolLength="10">
   
   <div coolType="literal"
     style="left: 48.75%; top: 12%; width: 3.75%; height: 4%;" coolCol="40"
     coolRow="4" coolLength="3">CC#</div>
   <input type="text" coolType="field" name="field_4_44"
     [(ngModel)]="in.filterLegalAction.courtCaseNumber"
     [coolVideo]="out.filterLegalAction.screenField?.courtCaseNumber"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 53.75%; top: 12%; width: 21.25%; height: 4%;" coolCol="44"
     coolRow="4" coolLength="17">
   
   <div coolType="literal"
     style="left: 77.5%; top: 12%; width: 2.5%; height: 4%;" coolCol="63"
     coolRow="4" coolLength="2">ST</div>
   <input type="text" coolType="field" name="field_4_66"
     [(ngModel)]="in.filterFips.stateAbbreviation"
     [coolVideo]="out.filterFips.screenField?.stateAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 81.25%; top: 12%; width: 2.5%; height: 4%;" coolCol="66"
     coolRow="4" coolLength="2">
   
   <div coolType="literal" style="left: 85%; top: 12%; width: 2.5%; height: 4%;"
     coolCol="69" coolRow="4" coolLength="2">CO</div>
   <input type="text" coolType="field" name="field_4_72"
     [(ngModel)]="in.filterFips.countyAbbreviation"
     [coolVideo]="out.filterFips.screenField?.countyAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 88.75%; top: 12%; width: 2.5%; height: 4%;" coolCol="72"
     coolRow="4" coolLength="2">
   
   <div coolType="literal"
     style="left: 92.5%; top: 12%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="4" coolLength="2">CY</div>
   <input type="text" coolType="field" name="field_4_78"
     [(ngModel)]="in.filterFipsTribAddress.country"
     [coolVideo]="out.filterFipsTribAddress.screenField?.country" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 96.25%; top: 12%; width: 2.5%; height: 4%;" coolCol="78"
     coolRow="4" coolLength="2">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 12.5%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="10">Alert Name</div>
   <input type="text" coolType="field" name="field_5_13"
     [(ngModel)]="in.filterOfficeServiceProviderAlert.message"
     [coolVideo]="out.filterOfficeServiceProviderAlert.screenField?.message"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="55"
     style="left: 15%; top: 16%; width: 68.75%; height: 4%;" coolCol="13"
     coolRow="5" coolLength="55">
   <input type="text" coolType="field" name="field_5_69"
     [(ngModel)]="in.alertPrompt.selectChar"
     [coolVideo]="out.alertPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 85%; top: 16%; width: 1.25%; height: 4%;"
     coolCol="69" coolRow="5" coolLength="1">
   
   <div coolType="prompt" style="left: 1.25%; top: 20%; width: 5%; height: 4%;"
     coolCol="2" coolRow="6" coolLength="4">Sort</div>
   <input type="text" coolType="field" name="field_6_7"
     [(ngModel)]="in.filterSort.cdvalue"
     [coolVideo]="out.filterSort.screenField?.cdvalue" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 7.5%; top: 20%; width: 2.5%; height: 4%;" coolCol="7"
     coolRow="6" coolLength="2">
   <input type="text" coolType="field" name="field_6_10"
     [(ngModel)]="in.sortPrompt.selectChar"
     [coolVideo]="out.sortPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 11.25%; top: 20%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="6" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 20%; width: 25%; height: 4%;" coolCol="13"
     coolRow="6" coolLength="20">{{in.filterSort.description}}</div>
   
   <div coolType="literal"
     style="left: 1.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="3">Sel</div>
   
   <div coolType="literal"
     style="left: 6.25%; top: 24%; width: 8.75%; height: 4%;" coolCol="6"
     coolRow="7" coolLength="7">Dist Dt</div>
   
   <div coolType="literal"
     style="left: 17.5%; top: 24%; width: 3.75%; height: 4%;" coolCol="15"
     coolRow="7" coolLength="3">Typ</div>
   
   <div coolType="literal"
     style="left: 22.5%; top: 24%; width: 7.5%; height: 4%;" coolCol="19"
     coolRow="7" coolLength="6">Source</div>
   
   <div coolType="literal"
     style="left: 33.75%; top: 24%; width: 7.5%; height: 4%;" coolCol="28"
     coolRow="7" coolLength="6">Case #</div>
   
   <div coolType="literal"
     style="left: 47.5%; top: 24%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="7" coolLength="3">Unt</div>
   
   <div coolType="literal"
     style="left: 52.5%; top: 24%; width: 10%; height: 4%;" coolCol="43"
     coolRow="7" coolLength="8">Person #</div>
   
   <div coolType="literal"
     style="left: 67.5%; top: 24%; width: 15%; height: 4%;" coolCol="55"
     coolRow="7" coolLength="12">Court Case #</div>
   <input type="text" coolType="field" name="field_8_3"
     [(ngModel)]="ref(in.import1, 0, 'giommon.selectChar').value"
     [coolVideo]="out.export1?.[0]?.gxommon.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="1" [hidden]="!length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 6.25%; top: 28%; width: 10%; height: 4%;" coolCol="6"
     coolRow="8" coolLength="8" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gifficeServiceProviderAlert.distributionDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 28%; width: 3.75%; height: 4%;" coolCol="15"
     coolRow="8" coolLength="3" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gifficeServiceProviderAlert.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 28%; width: 10%; height: 4%;" coolCol="19"
     coolRow="8" coolLength="8" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gifficeServiceProviderAlert.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 28%; width: 12.5%; height: 4%;" coolCol="28"
     coolRow="8" coolLength="10" [hidden]="!length(in.import1)">{{in.import1?.[0]?.ginfrastructure.caseNumber}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 47.5%; top: 28%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="8" coolLength="3" [hidden]="!length(in.import1)">{{in.import1?.[0]?.ginfrastructure.caseUnitNumber|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 28%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="8" coolLength="10" [hidden]="!length(in.import1)">{{in.import1?.[0]?.ginfrastructure.csePersonNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 28%; width: 21.25%; height: 4%;" coolCol="55"
     coolRow="8" coolLength="17" [hidden]="!length(in.import1)">{{in.import1?.[0]?.giegalAction.courtCaseNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 28%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="8" coolLength="2" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gianualFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 28%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="8" coolLength="2" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gianualFips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 28%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="8" coolLength="2" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gianualFipsTribAddress.country}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 32%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="55" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gifficeServiceProviderAlert.message}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 32%; width: 23.75%; height: 4%;" coolCol="62"
     coolRow="9" coolLength="19" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gisePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 36%; width: 93.75%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="75" [hidden]="!length(in.import1)">{{in.import1?.[0]?.ginfrastructure.detail}}</div>
   <input type="text" coolType="field" name="field_11_3"
     [(ngModel)]="ref(in.import1, 1, 'giommon.selectChar').value"
     [coolVideo]="out.export1?.[1]?.gxommon.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="11" coolLength="1" [hidden]="1 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 6.25%; top: 40%; width: 10%; height: 4%;" coolCol="6"
     coolRow="11" coolLength="8" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gifficeServiceProviderAlert.distributionDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 40%; width: 3.75%; height: 4%;" coolCol="15"
     coolRow="11" coolLength="3" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gifficeServiceProviderAlert.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 40%; width: 10%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="8" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gifficeServiceProviderAlert.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 40%; width: 12.5%; height: 4%;" coolCol="28"
     coolRow="11" coolLength="10" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.ginfrastructure.caseNumber}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 47.5%; top: 40%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="11" coolLength="3" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.ginfrastructure.caseUnitNumber|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 40%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="11" coolLength="10" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.ginfrastructure.csePersonNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 40%; width: 21.25%; height: 4%;" coolCol="55"
     coolRow="11" coolLength="17" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.giegalAction.courtCaseNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 40%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="11" coolLength="2" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gianualFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 40%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="11" coolLength="2" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gianualFips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 40%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="11" coolLength="2" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gianualFipsTribAddress.country}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 44%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="55" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gifficeServiceProviderAlert.message}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 44%; width: 23.75%; height: 4%;" coolCol="62"
     coolRow="12" coolLength="19" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gisePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 48%; width: 93.75%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="75" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.ginfrastructure.detail}}</div>
   <input type="text" coolType="field" name="field_14_3"
     [(ngModel)]="ref(in.import1, 2, 'giommon.selectChar').value"
     [coolVideo]="out.export1?.[2]?.gxommon.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="14" coolLength="1" [hidden]="2 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 6.25%; top: 52%; width: 10%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="8" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gifficeServiceProviderAlert.distributionDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 52%; width: 3.75%; height: 4%;" coolCol="15"
     coolRow="14" coolLength="3" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gifficeServiceProviderAlert.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 52%; width: 10%; height: 4%;" coolCol="19"
     coolRow="14" coolLength="8" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gifficeServiceProviderAlert.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 52%; width: 12.5%; height: 4%;" coolCol="28"
     coolRow="14" coolLength="10" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.ginfrastructure.caseNumber}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 47.5%; top: 52%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="14" coolLength="3" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.ginfrastructure.caseUnitNumber|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 52%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="14" coolLength="10" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.ginfrastructure.csePersonNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 52%; width: 21.25%; height: 4%;" coolCol="55"
     coolRow="14" coolLength="17" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.giegalAction.courtCaseNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 52%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="14" coolLength="2" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gianualFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 52%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="14" coolLength="2" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gianualFips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 52%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="14" coolLength="2" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gianualFipsTribAddress.country}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 56%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="15" coolLength="55" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gifficeServiceProviderAlert.message}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 56%; width: 23.75%; height: 4%;" coolCol="62"
     coolRow="15" coolLength="19" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gisePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 60%; width: 93.75%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="75" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.ginfrastructure.detail}}</div>
   <input type="text" coolType="field" name="field_17_3"
     [(ngModel)]="ref(in.import1, 3, 'giommon.selectChar').value"
     [coolVideo]="out.export1?.[3]?.gxommon.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="17" coolLength="1" [hidden]="3 >= length(in.import1)">
   
   <div coolType="field" coolColor="cyan"
     style="left: 6.25%; top: 64%; width: 10%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="8" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gifficeServiceProviderAlert.distributionDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 64%; width: 3.75%; height: 4%;" coolCol="15"
     coolRow="17" coolLength="3" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gifficeServiceProviderAlert.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 64%; width: 10%; height: 4%;" coolCol="19"
     coolRow="17" coolLength="8" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gifficeServiceProviderAlert.createdBy}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 64%; width: 12.5%; height: 4%;" coolCol="28"
     coolRow="17" coolLength="10" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.ginfrastructure.caseNumber}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 47.5%; top: 64%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="17" coolLength="3" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.ginfrastructure.caseUnitNumber|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 52.5%; top: 64%; width: 12.5%; height: 4%;" coolCol="43"
     coolRow="17" coolLength="10" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.ginfrastructure.csePersonNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 64%; width: 21.25%; height: 4%;" coolCol="55"
     coolRow="17" coolLength="17" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.giegalAction.courtCaseNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 90%; top: 64%; width: 2.5%; height: 4%;" coolCol="73"
     coolRow="17" coolLength="2" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gianualFips.stateAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 93.75%; top: 64%; width: 2.5%; height: 4%;" coolCol="76"
     coolRow="17" coolLength="2" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gianualFips.countyAbbreviation}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 97.5%; top: 64%; width: 2.5%; height: 4%;" coolCol="79"
     coolRow="17" coolLength="2" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gianualFipsTribAddress.country}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 68%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="55" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gifficeServiceProviderAlert.message}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 76.25%; top: 68%; width: 23.75%; height: 4%;" coolCol="62"
     coolRow="18" coolLength="19" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gisePersonsWorkSet.formattedName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 6.25%; top: 72%; width: 93.75%; height: 4%;" coolCol="6"
     coolRow="19" coolLength="75" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.ginfrastructure.detail}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 87.5%; top: 80%; width: 10%; height: 4%;" coolCol="71"
     coolRow="21" coolLength="8">{{in.scroll.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 95%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="76">PF Key:  1 Help  2 Disp  3 Exit  4 List  7 Prev  8 Next  10 Delete  11 Clear</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 48.75%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="39">12 Signoff  15 SPAD  16 HIST  18 Detail</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="SPAD" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=SPAD</a>
   <a coolType="action" coolCommand="HIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=HIST</a>
   <a coolType="action" coolCommand="DETAIL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=DETAIL</a>
   </div>