<!--Name: SP_CTSV_MAINTAIN_COUNTY_SERVICES, ID: 372328096, model: 746-->
<div coolContent coolName="SP_CTSV_MAINTAIN_COUNTY_SERVICES" coolType="SCREEN"
  (coolInit)="scrollSize = 150; pageSize = 10">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 25%; top: 0; width: 50%; height: 4%;"
     coolCol="21" coolRow="1" coolLength="40">CSE - County Services Maintenance - CTSV</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 21.25%; top: 12%; width: 11.25%; height: 4%;" coolCol="18"
     coolRow="4" coolLength="9">Office No</div>
   <input type="text" coolType="field" name="field_4_31"
     [(ngModel)]="in.select.selectOffice.systemGeneratedId"
     [coolVideo]="out.select.selectOffice.screenField?.systemGeneratedId"
     coolAutotab coolFocus coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0000;#" coolBlankWhenZero
     [attr.maxlength]="4" style="left: 37.5%; top: 12%; width: 5%; height: 4%;"
     coolCol="31" coolRow="4" coolLength="4">
   <input type="text" coolType="field" name="field_4_36"
     [(ngModel)]="in.promptOffice.flag"
     [coolVideo]="out.promptOffice.screenField?.flag" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 43.75%; top: 12%; width: 1.25%; height: 4%;" coolCol="36"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt"
     style="left: 47.5%; top: 12%; width: 6.25%; height: 4%;" coolCol="39"
     coolRow="4" coolLength="5">Type:</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 57.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="47"
     coolRow="4" coolLength="1">{{in.select.selectOffice.typeCode}}</div>
   
   <div coolType="prompt"
     style="left: 21.25%; top: 16%; width: 13.75%; height: 4%;" coolCol="18"
     coolRow="5" coolLength="11" coolColor="white">Office Name</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 37.5%; top: 16%; width: 37.5%; height: 4%;" coolCol="31"
     coolRow="5" coolLength="30">{{in.select.selectOffice.name}}</div>
   
   <div coolType="prompt"
     style="left: 3.75%; top: 24%; width: 47.5%; height: 4%;" coolCol="4"
     coolRow="7" coolLength="38">List Discontinued County Services Only</div>
   <input type="text" coolType="field" name="field_7_43"
     [(ngModel)]="in.select.oldRec.flag"
     [coolVideo]="out.select.oldRec.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 52.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="43"
     coolRow="7" coolLength="1">
   
   <div coolType="prompt"
     style="left: 60%; top: 24%; width: 28.75%; height: 4%;" coolCol="49"
     coolRow="7" coolLength="23">List Function Type Only</div>
   <input type="text" coolType="field" name="field_7_73"
     [(ngModel)]="in.filterSearch.searchFuncOnly.flag"
     [coolVideo]="out.filterSearch.searchFuncOnly.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 90%; top: 24%; width: 1.25%; height: 4%;" coolCol="73"
     coolRow="7" coolLength="1">
   
   <div coolType="prompt"
     style="left: 3.75%; top: 28%; width: 16.25%; height: 4%;" coolCol="4"
     coolRow="8" coolLength="13">CSE Cnty Code</div>
   <input type="text" coolType="field" name="field_8_18"
     [(ngModel)]="in.filterSearch.searchCnty.code"
     [coolVideo]="out.filterSearch.searchCnty.screenField?.code" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 21.25%; top: 28%; width: 2.5%; height: 4%;" coolCol="18"
     coolRow="8" coolLength="2">
   <input type="text" coolType="field" name="field_8_21"
     [(ngModel)]="in.filterSearch.promptScnty.selectChar"
     [coolVideo]="out.filterSearch.promptScnty.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 25%; top: 28%; width: 1.25%; height: 4%;" coolCol="21"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt"
     style="left: 28.75%; top: 28%; width: 21.25%; height: 4%;" coolCol="24"
     coolRow="8" coolLength="17">Starting Pgm Code</div>
   <input type="text" coolType="field" name="field_8_42"
     [(ngModel)]="in.filterSearch.searchPgm.code"
     [coolVideo]="out.filterSearch.searchPgm.screenField?.code" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 51.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="42"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_46"
     [(ngModel)]="in.filterSearch.promptSpgm.selectChar"
     [coolVideo]="out.filterSearch.promptSpgm.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 56.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="46"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt" style="left: 60%; top: 28%; width: 27.5%; height: 4%;"
     coolCol="49" coolRow="8" coolLength="22">Starting Function Code</div>
   <input type="text" coolType="field" name="field_8_72"
     [(ngModel)]="in.filterSearch.searchFunc.function"
     [coolVideo]="out.filterSearch.searchFunc.screenField?.function" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="3"
     style="left: 88.75%; top: 28%; width: 3.75%; height: 4%;" coolCol="72"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_76"
     [(ngModel)]="in.filterSearch.promptSfunction.selectChar"
     [coolVideo]="out.filterSearch.promptSfunction.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 93.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="76"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt"
     style="left: 21.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="18"
     coolRow="10" coolLength="3" coolColor="white">Sel</div>
   
   <div coolType="prompt" style="left: 27.5%; top: 36%; width: 5%; height: 4%;"
     coolCol="23" coolRow="10" coolLength="4" coolColor="white">Cnty</div>
   
   <div coolType="prompt" style="left: 35%; top: 36%; width: 3.75%; height: 4%;"
     coolCol="29" coolRow="10" coolLength="3">Pgm</div>
   
   <div coolType="prompt" style="left: 42.5%; top: 36%; width: 10%; height: 4%;"
     coolCol="35" coolRow="10" coolLength="8">Function</div>
   
   <div coolType="prompt" style="left: 55%; top: 36%; width: 10%; height: 4%;"
     coolCol="45" coolRow="10" coolLength="8" coolColor="white">Eff Date</div>
   
   <div coolType="prompt" style="left: 67.5%; top: 36%; width: 10%; height: 4%;"
     coolCol="55" coolRow="10" coolLength="8" coolColor="white">End Date</div>
   <input type="text" coolType="field" name="field_11_19"
     [(ngModel)]="ref(in.list, pageOffset, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset]?.listSel.screenField?.selectChar"
     coolAutotab #field_11_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_11_23"
     [(ngModel)]="ref(in.list, pageOffset, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset]?.listCseOrganization.screenField?.code"
     coolAutotab #field_11_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 40%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="11" coolLength="2" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_11_26"
     [(ngModel)]="ref(in.list, pageOffset, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset]?.listCnty.screenField?.flag"
     coolAutotab #field_11_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_11_29"
     [(ngModel)]="ref(in.list, pageOffset, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset]?.listProgram.screenField?.code"
     coolAutotab #field_11_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 40%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="11" coolLength="3" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_11_33"
     [(ngModel)]="ref(in.list, pageOffset, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset]?.listPgm.screenField?.flag" coolAutotab
     #field_11_33 coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 40%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_11_37"
     [(ngModel)]="ref(in.list, pageOffset, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset]?.listCountyService.screenField?.function"
     coolAutotab #field_11_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 40%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="11" coolLength="3" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_11_41"
     [(ngModel)]="ref(in.list, pageOffset, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset]?.listFunction.screenField?.flag"
     coolAutotab #field_11_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 40%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="11" coolLength="1" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_11_45"
     [(ngModel)]="ref(in.list, pageOffset, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_11_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 40%; width: 10%; height: 4%;" coolCol="45"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_11_55"
     [(ngModel)]="ref(in.list, pageOffset, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_11_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 40%; width: 10%; height: 4%;" coolCol="55"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= 150">
   <input type="text" coolType="field" name="field_12_19"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listSel.screenField?.selectChar"
     coolAutotab #field_12_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_12_23"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listCseOrganization.screenField?.code"
     coolAutotab #field_12_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 44%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="12" coolLength="2" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_12_26"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listCnty.screenField?.flag"
     coolAutotab #field_12_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_12_29"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listProgram.screenField?.code"
     coolAutotab #field_12_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 44%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="12" coolLength="3" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_12_33"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listPgm.screenField?.flag"
     coolAutotab #field_12_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 44%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_12_37"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listCountyService.screenField?.function"
     coolAutotab #field_12_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 44%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="12" coolLength="3" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_12_41"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listFunction.screenField?.flag"
     coolAutotab #field_12_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 44%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_12_45"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_12_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 44%; width: 10%; height: 4%;" coolCol="45"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_12_55"
     [(ngModel)]="ref(in.list, pageOffset + 1, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 1]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_12_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 44%; width: 10%; height: 4%;" coolCol="55"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= 150">
   <input type="text" coolType="field" name="field_13_19"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listSel.screenField?.selectChar"
     coolAutotab #field_13_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_13_23"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listCseOrganization.screenField?.code"
     coolAutotab #field_13_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 48%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="13" coolLength="2" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_13_26"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listCnty.screenField?.flag"
     coolAutotab #field_13_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_13_29"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listProgram.screenField?.code"
     coolAutotab #field_13_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 48%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="13" coolLength="3" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_13_33"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listPgm.screenField?.flag"
     coolAutotab #field_13_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 48%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_13_37"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listCountyService.screenField?.function"
     coolAutotab #field_13_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 48%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="13" coolLength="3" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_13_41"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listFunction.screenField?.flag"
     coolAutotab #field_13_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 48%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_13_45"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_13_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 48%; width: 10%; height: 4%;" coolCol="45"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_13_55"
     [(ngModel)]="ref(in.list, pageOffset + 2, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 2]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_13_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 48%; width: 10%; height: 4%;" coolCol="55"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 2 >= 150">
   <input type="text" coolType="field" name="field_14_19"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listSel.screenField?.selectChar"
     coolAutotab #field_14_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_14_23"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listCseOrganization.screenField?.code"
     coolAutotab #field_14_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 52%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="14" coolLength="2" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_14_26"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listCnty.screenField?.flag"
     coolAutotab #field_14_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_14_29"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listProgram.screenField?.code"
     coolAutotab #field_14_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 52%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="14" coolLength="3" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_14_33"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listPgm.screenField?.flag"
     coolAutotab #field_14_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 52%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_14_37"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listCountyService.screenField?.function"
     coolAutotab #field_14_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 52%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="14" coolLength="3" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_14_41"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listFunction.screenField?.flag"
     coolAutotab #field_14_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 52%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_14_45"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_14_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 52%; width: 10%; height: 4%;" coolCol="45"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_14_55"
     [(ngModel)]="ref(in.list, pageOffset + 3, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 3]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_14_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 52%; width: 10%; height: 4%;" coolCol="55"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 3 >= 150">
   <input type="text" coolType="field" name="field_15_19"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listSel.screenField?.selectChar"
     coolAutotab #field_15_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_15_23"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listCseOrganization.screenField?.code"
     coolAutotab #field_15_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 56%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="15" coolLength="2" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_15_26"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listCnty.screenField?.flag"
     coolAutotab #field_15_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_15_29"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listProgram.screenField?.code"
     coolAutotab #field_15_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 56%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_15_33"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listPgm.screenField?.flag"
     coolAutotab #field_15_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 56%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_15_37"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listCountyService.screenField?.function"
     coolAutotab #field_15_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 56%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_15_41"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listFunction.screenField?.flag"
     coolAutotab #field_15_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 56%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_15_45"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_15_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 56%; width: 10%; height: 4%;" coolCol="45"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_15_55"
     [(ngModel)]="ref(in.list, pageOffset + 4, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 4]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_15_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 56%; width: 10%; height: 4%;" coolCol="55"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 4 >= 150">
   <input type="text" coolType="field" name="field_16_19"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listSel.screenField?.selectChar"
     coolAutotab #field_16_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_16_23"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listCseOrganization.screenField?.code"
     coolAutotab #field_16_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 60%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="16" coolLength="2" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_16_26"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listCnty.screenField?.flag"
     coolAutotab #field_16_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_16_29"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listProgram.screenField?.code"
     coolAutotab #field_16_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 60%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="16" coolLength="3" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_16_33"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listPgm.screenField?.flag"
     coolAutotab #field_16_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 60%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_16_37"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listCountyService.screenField?.function"
     coolAutotab #field_16_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 60%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="16" coolLength="3" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_16_41"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listFunction.screenField?.flag"
     coolAutotab #field_16_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 60%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_16_45"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_16_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 60%; width: 10%; height: 4%;" coolCol="45"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_16_55"
     [(ngModel)]="ref(in.list, pageOffset + 5, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 5]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_16_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 60%; width: 10%; height: 4%;" coolCol="55"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 5 >= 150">
   <input type="text" coolType="field" name="field_17_19"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listSel.screenField?.selectChar"
     coolAutotab #field_17_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 64%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_17_23"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listCseOrganization.screenField?.code"
     coolAutotab #field_17_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 64%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="17" coolLength="2" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_17_26"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listCnty.screenField?.flag"
     coolAutotab #field_17_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_17_29"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listProgram.screenField?.code"
     coolAutotab #field_17_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 64%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="17" coolLength="3" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_17_33"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listPgm.screenField?.flag"
     coolAutotab #field_17_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 64%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_17_37"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listCountyService.screenField?.function"
     coolAutotab #field_17_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 64%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="17" coolLength="3" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_17_41"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listFunction.screenField?.flag"
     coolAutotab #field_17_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 64%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_17_45"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_17_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 64%; width: 10%; height: 4%;" coolCol="45"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_17_55"
     [(ngModel)]="ref(in.list, pageOffset + 6, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 6]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_17_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 64%; width: 10%; height: 4%;" coolCol="55"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 6 >= 150">
   <input type="text" coolType="field" name="field_18_19"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listSel.screenField?.selectChar"
     coolAutotab #field_18_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_18_23"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listCseOrganization.screenField?.code"
     coolAutotab #field_18_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 68%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="18" coolLength="2" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_18_26"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listCnty.screenField?.flag"
     coolAutotab #field_18_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_18_29"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listProgram.screenField?.code"
     coolAutotab #field_18_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 68%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="18" coolLength="3" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_18_33"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listPgm.screenField?.flag"
     coolAutotab #field_18_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 68%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_18_37"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listCountyService.screenField?.function"
     coolAutotab #field_18_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 68%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="18" coolLength="3" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_18_41"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listFunction.screenField?.flag"
     coolAutotab #field_18_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 68%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_18_45"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_18_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 68%; width: 10%; height: 4%;" coolCol="45"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_18_55"
     [(ngModel)]="ref(in.list, pageOffset + 7, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 7]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_18_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 68%; width: 10%; height: 4%;" coolCol="55"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 7 >= 150">
   <input type="text" coolType="field" name="field_19_19"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listSel.screenField?.selectChar"
     coolAutotab #field_19_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 72%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_19_23"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listCseOrganization.screenField?.code"
     coolAutotab #field_19_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 72%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="19" coolLength="2" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_19_26"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listCnty.screenField?.flag"
     coolAutotab #field_19_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_19_29"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listProgram.screenField?.code"
     coolAutotab #field_19_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 72%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="19" coolLength="3" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_19_33"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listPgm.screenField?.flag"
     coolAutotab #field_19_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 72%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_19_37"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listCountyService.screenField?.function"
     coolAutotab #field_19_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 72%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="19" coolLength="3" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_19_41"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listFunction.screenField?.flag"
     coolAutotab #field_19_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 72%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_19_45"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_19_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 72%; width: 10%; height: 4%;" coolCol="45"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_19_55"
     [(ngModel)]="ref(in.list, pageOffset + 8, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 8]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_19_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 72%; width: 10%; height: 4%;" coolCol="55"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 8 >= 150">
   <input type="text" coolType="field" name="field_20_19"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listSel.selectChar').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listSel.screenField?.selectChar"
     coolAutotab #field_20_19 coolFocus coolColor="green"
     coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 22.5%; top: 76%; width: 1.25%; height: 4%;" coolCol="19"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 150">
   <input type="text" coolType="field" name="field_20_23"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listCseOrganization.code').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listCseOrganization.screenField?.code"
     coolAutotab #field_20_23 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 27.5%; top: 76%; width: 2.5%; height: 4%;" coolCol="23"
     coolRow="20" coolLength="2" [hidden]="pageOffset + 9 >= 150">
   <input type="text" coolType="field" name="field_20_26"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listCnty.flag').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listCnty.screenField?.flag"
     coolAutotab #field_20_26 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 31.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="26"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 150">
   <input type="text" coolType="field" name="field_20_29"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listProgram.code').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listProgram.screenField?.code"
     coolAutotab #field_20_29 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 35%; top: 76%; width: 3.75%; height: 4%;" coolCol="29"
     coolRow="20" coolLength="3" [hidden]="pageOffset + 9 >= 150">
   <input type="text" coolType="field" name="field_20_33"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listPgm.flag').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listPgm.screenField?.flag"
     coolAutotab #field_20_33 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 40%; top: 76%; width: 1.25%; height: 4%;" coolCol="33"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 150">
   <input type="text" coolType="field" name="field_20_37"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listCountyService.function').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listCountyService.screenField?.function"
     coolAutotab #field_20_37 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 45%; top: 76%; width: 3.75%; height: 4%;" coolCol="37"
     coolRow="20" coolLength="3" [hidden]="pageOffset + 9 >= 150">
   <input type="text" coolType="field" name="field_20_41"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listFunction.flag').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listFunction.screenField?.flag"
     coolAutotab #field_20_41 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 50%; top: 76%; width: 1.25%; height: 4%;" coolCol="41"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 9 >= 150">
   <input type="text" coolType="field" name="field_20_45"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listCountyService.effectiveDate').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listCountyService.screenField?.effectiveDate"
     coolAutotab #field_20_45 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 55%; top: 76%; width: 10%; height: 4%;" coolCol="45"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 9 >= 150">
   <input type="text" coolType="field" name="field_20_55"
     [(ngModel)]="ref(in.list, pageOffset + 9, 'listCountyService.discontinueDate').value"
     [coolVideo]="out.list?.[pageOffset + 9]?.listCountyService.screenField?.discontinueDate"
     coolAutotab #field_20_55 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 67.5%; top: 76%; width: 10%; height: 4%;" coolCol="55"
     coolRow="20" coolLength="8" [hidden]="pageOffset + 9 >= 150">
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="69" coolRow="21" coolLength="9"
     style="left: 85%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 93.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="75">PF KEY:  1 Help  2 Display  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 92%; width: 38.75%; height: 4%;" coolCol="10"
     coolRow="24" coolLength="31">10 Delete  11 Clear  12 SignOff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>