<!--Name: SP_DEML_DOCUMENT_EMAIL, ID: 371055494, model: 746-->
<div coolContent coolName="SP_DEML_DOCUMENT_EMAIL" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 32.5%; top: 0; width: 33.75%; height: 4%;" coolCol="27"
     coolRow="1" coolLength="27">CSE - Document eMail - DEML</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 0; width: 10%; height: 4%;" coolCol="64"
     coolRow="1" coolLength="8">{{global.userId}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 78.75%; top: 4%; width: 10%; height: 4%;" coolCol="64"
     coolRow="2" coolLength="8">{{global.localSystemId}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 8%; width: 16.25%; height: 4%;" coolCol="2"
     coolRow="3" coolLength="13">Document Name</div>
   <input type="text" coolType="field" name="field_3_17"
     [(ngModel)]="in.filterDocument.name"
     [coolVideo]="out.filterDocument.screenField?.name" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="8"
     style="left: 20%; top: 8%; width: 10%; height: 4%;" coolCol="17"
     coolRow="3" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 31.25%; top: 8%; width: 50%; height: 4%;" coolCol="26"
     coolRow="3" coolLength="40">{{in.filterDocument.description}}</div>
   
   <div coolType="prompt"
     style="left: 82.5%; top: 8%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="3" coolLength="10">WP Version</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 96.25%; top: 8%; width: 3.75%; height: 4%;" coolCol="78"
     coolRow="3" coolLength="3">{{in.filterDocument.versionNumber}}</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 12%; width: 11.25%; height: 4%;" coolCol="6"
     coolRow="4" coolLength="9">Recipient</div>
   <input type="text" coolType="field" name="field_4_17"
     [(ngModel)]="in.filterServiceProvider.userId"
     [coolVideo]="out.filterServiceProvider.screenField?.userId" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="8"
     style="left: 20%; top: 12%; width: 10%; height: 4%;" coolCol="17"
     coolRow="4" coolLength="8">
   <input type="text" coolType="field" name="field_4_26"
     [(ngModel)]="in.filterServiceProvider.emailAddress"
     [coolVideo]="out.filterServiceProvider.screenField?.emailAddress"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="50"
     style="left: 31.25%; top: 12%; width: 62.5%; height: 4%;" coolCol="26"
     coolRow="4" coolLength="50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 96.25%; top: 12%; width: 3.75%; height: 4%;" coolCol="78"
     coolRow="4" coolLength="3">{{in.emailMessageType.text3}}</div>
   
   <div coolType="literal"
     style="left: 7.5%; top: 16%; width: 12.5%; height: 4%;" coolCol="7"
     coolRow="5" coolLength="10">Field Name</div>
   
   <div coolType="literal"
     style="left: 32.5%; top: 16%; width: 13.75%; height: 4%;" coolCol="27"
     coolRow="5" coolLength="11">Field Value</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 20%; width: 25%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="20">{{in.import1?.[0]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_6_23"
     [(ngModel)]="ref(in.import1, 0, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[0]?.gfieldValue.screenField?.value" coolAutotab
     #field_6_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 20%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="6" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 24%; width: 25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="20">{{in.import1?.[1]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_7_23"
     [(ngModel)]="ref(in.import1, 1, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[1]?.gfieldValue.screenField?.value" coolAutotab
     #field_7_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 24%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="7" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 28%; width: 25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="20">{{in.import1?.[2]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_8_23"
     [(ngModel)]="ref(in.import1, 2, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[2]?.gfieldValue.screenField?.value" coolAutotab
     #field_8_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 28%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="8" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 32%; width: 25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="20">{{in.import1?.[3]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_9_23"
     [(ngModel)]="ref(in.import1, 3, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[3]?.gfieldValue.screenField?.value" coolAutotab
     #field_9_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 32%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="9" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 36%; width: 25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="20">{{in.import1?.[4]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_10_23"
     [(ngModel)]="ref(in.import1, 4, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[4]?.gfieldValue.screenField?.value" coolAutotab
     #field_10_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 36%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="10" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 40%; width: 25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="20">{{in.import1?.[5]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_11_23"
     [(ngModel)]="ref(in.import1, 5, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[5]?.gfieldValue.screenField?.value" coolAutotab
     #field_11_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 40%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="11" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 44%; width: 25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="20">{{in.import1?.[6]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_12_23"
     [(ngModel)]="ref(in.import1, 6, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[6]?.gfieldValue.screenField?.value" coolAutotab
     #field_12_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 44%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="12" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 48%; width: 25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="20">{{in.import1?.[7]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_13_23"
     [(ngModel)]="ref(in.import1, 7, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[7]?.gfieldValue.screenField?.value" coolAutotab
     #field_13_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 48%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="13" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 52%; width: 25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="20">{{in.import1?.[8]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_14_23"
     [(ngModel)]="ref(in.import1, 8, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[8]?.gfieldValue.screenField?.value" coolAutotab
     #field_14_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 52%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="14" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 56%; width: 25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="20">{{in.import1?.[9]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_15_23"
     [(ngModel)]="ref(in.import1, 9, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[9]?.gfieldValue.screenField?.value" coolAutotab
     #field_15_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 56%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="15" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 60%; width: 25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="20">{{in.import1?.[10]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_16_23"
     [(ngModel)]="ref(in.import1, 10, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[10]?.gfieldValue.screenField?.value" coolAutotab
     #field_16_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 60%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="16" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 64%; width: 25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="20">{{in.import1?.[11]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_17_23"
     [(ngModel)]="ref(in.import1, 11, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[11]?.gfieldValue.screenField?.value" coolAutotab
     #field_17_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 64%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="17" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 68%; width: 25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="20">{{in.import1?.[12]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_18_23"
     [(ngModel)]="ref(in.import1, 12, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[12]?.gfieldValue.screenField?.value" coolAutotab
     #field_18_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 68%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="18" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 72%; width: 25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="20">{{in.import1?.[13]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_19_23"
     [(ngModel)]="ref(in.import1, 13, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[13]?.gfieldValue.screenField?.value" coolAutotab
     #field_19_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 72%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="19" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 76%; width: 25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="20">{{in.import1?.[14]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_20_23"
     [(ngModel)]="ref(in.import1, 14, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[14]?.gfieldValue.screenField?.value" coolAutotab
     #field_20_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 76%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="20" coolLength="58">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 80%; width: 25%; height: 4%;" coolCol="2"
     coolRow="21" coolLength="20">{{in.import1?.[15]?.gdocumentField.screenPrompt}}</div>
   <input type="text" coolType="field" name="field_21_23"
     [(ngModel)]="ref(in.import1, 15, 'gfieldValue.value').value"
     [coolVideo]="out.export1?.[15]?.gfieldValue.screenField?.value" coolAutotab
     #field_21_23 coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="58"
     style="left: 27.5%; top: 80%; width: 72.5%; height: 4%;" coolCol="23"
     coolRow="21" coolLength="58">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 86.25%; top: 84%; width: 10%; height: 4%;" coolCol="70"
     coolRow="22" coolLength="8">{{in.scrolling.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="78"
     style="left: 0; top: 88%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 92.5%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="74">PF KEY:  2 Display  7 Prev  8 Next  12 SignOff  20 Next Document  24 Print</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="NEXT1" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F8">F20=NEXT1</a>
   <a coolType="action" coolCommand="PRINT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F12">F24=PRINT</a>
   </div>