<!--Name: SP_DKEY_DOCUMENT_KEY_FIELDS, ID: 372150022, model: 746-->
<div coolContent coolName="SP_DKEY_DOCUMENT_KEY_FIELDS" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 30%; top: 0; width: 40%; height: 4%;"
     coolCol="25" coolRow="1" coolLength="32">CSE - Document Key Fields - DKEY</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 6.25%; top: 8%; width: 10%; height: 4%;"
     coolCol="6" coolRow="3" coolLength="8">Document</div>
   <input type="text" coolType="field" name="field_3_15"
     [(ngModel)]="in.filter.name" [coolVideo]="out.filter.screenField?.name"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="8"
     style="left: 17.5%; top: 8%; width: 10%; height: 4%;" coolCol="15"
     coolRow="3" coolLength="8">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 30%; top: 8%; width: 50%; height: 4%;" coolCol="25"
     coolRow="3" coolLength="40">{{in.filter.description}}</div>
   
   <div coolType="prompt" style="left: 10%; top: 12%; width: 17.5%; height: 4%;"
     coolCol="9" coolRow="4" coolLength="14">Key Field Name</div>
   
   <div coolType="prompt"
     style="left: 58.75%; top: 12%; width: 6.25%; height: 4%;" coolCol="48"
     coolRow="4" coolLength="5">Value</div>
   
   <div coolType="prompt" style="left: 90%; top: 12%; width: 7.5%; height: 4%;"
     coolCol="73" coolRow="4" coolLength="6">Screen</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 16%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="33" [hidden]="!length(in.import1)">{{in.import1?.[0]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_5_37"
     [(ngModel)]="ref(in.import1, 0, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[0]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 16%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="5" coolLength="33" [hidden]="!length(in.import1)">
   <input type="text" coolType="field" name="field_5_71"
     [(ngModel)]="ref(in.import1, 0, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[0]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 16%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="5" coolLength="1" [hidden]="!length(in.import1)">
   <input type="text" coolType="field" name="field_5_74"
     [(ngModel)]="ref(in.import1, 0, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[0]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 16%; width: 5%; height: 4%;" coolCol="74"
     coolRow="5" coolLength="4" [hidden]="!length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 20%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="33" [hidden]="1 >= length(in.import1)">{{in.import1?.[1]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_6_37"
     [(ngModel)]="ref(in.import1, 1, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[1]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 20%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="6" coolLength="33" [hidden]="1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_6_71"
     [(ngModel)]="ref(in.import1, 1, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[1]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 20%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="6" coolLength="1" [hidden]="1 >= length(in.import1)">
   <input type="text" coolType="field" name="field_6_74"
     [(ngModel)]="ref(in.import1, 1, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[1]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 20%; width: 5%; height: 4%;" coolCol="74"
     coolRow="6" coolLength="4" [hidden]="1 >= length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 24%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="33" [hidden]="2 >= length(in.import1)">{{in.import1?.[2]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_7_37"
     [(ngModel)]="ref(in.import1, 2, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[2]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 24%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="7" coolLength="33" [hidden]="2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_71"
     [(ngModel)]="ref(in.import1, 2, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[2]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 24%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="7" coolLength="1" [hidden]="2 >= length(in.import1)">
   <input type="text" coolType="field" name="field_7_74"
     [(ngModel)]="ref(in.import1, 2, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[2]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 24%; width: 5%; height: 4%;" coolCol="74"
     coolRow="7" coolLength="4" [hidden]="2 >= length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 28%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="33" [hidden]="3 >= length(in.import1)">{{in.import1?.[3]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_8_37"
     [(ngModel)]="ref(in.import1, 3, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[3]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 28%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="8" coolLength="33" [hidden]="3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_8_71"
     [(ngModel)]="ref(in.import1, 3, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[3]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 28%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="8" coolLength="1" [hidden]="3 >= length(in.import1)">
   <input type="text" coolType="field" name="field_8_74"
     [(ngModel)]="ref(in.import1, 3, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[3]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 28%; width: 5%; height: 4%;" coolCol="74"
     coolRow="8" coolLength="4" [hidden]="3 >= length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 32%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="33" [hidden]="4 >= length(in.import1)">{{in.import1?.[4]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_9_37"
     [(ngModel)]="ref(in.import1, 4, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[4]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 32%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="9" coolLength="33" [hidden]="4 >= length(in.import1)">
   <input type="text" coolType="field" name="field_9_71"
     [(ngModel)]="ref(in.import1, 4, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[4]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="9" coolLength="1" [hidden]="4 >= length(in.import1)">
   <input type="text" coolType="field" name="field_9_74"
     [(ngModel)]="ref(in.import1, 4, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[4]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 32%; width: 5%; height: 4%;" coolCol="74"
     coolRow="9" coolLength="4" [hidden]="4 >= length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 36%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="33" [hidden]="5 >= length(in.import1)">{{in.import1?.[5]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_10_37"
     [(ngModel)]="ref(in.import1, 5, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[5]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 36%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="10" coolLength="33" [hidden]="5 >= length(in.import1)">
   <input type="text" coolType="field" name="field_10_71"
     [(ngModel)]="ref(in.import1, 5, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[5]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="10" coolLength="1" [hidden]="5 >= length(in.import1)">
   <input type="text" coolType="field" name="field_10_74"
     [(ngModel)]="ref(in.import1, 5, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[5]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 36%; width: 5%; height: 4%;" coolCol="74"
     coolRow="10" coolLength="4" [hidden]="5 >= length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 40%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="33" [hidden]="6 >= length(in.import1)">{{in.import1?.[6]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_11_37"
     [(ngModel)]="ref(in.import1, 6, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[6]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 40%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="11" coolLength="33" [hidden]="6 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_71"
     [(ngModel)]="ref(in.import1, 6, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[6]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 40%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="11" coolLength="1" [hidden]="6 >= length(in.import1)">
   <input type="text" coolType="field" name="field_11_74"
     [(ngModel)]="ref(in.import1, 6, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[6]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 40%; width: 5%; height: 4%;" coolCol="74"
     coolRow="11" coolLength="4" [hidden]="6 >= length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 44%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="33" [hidden]="7 >= length(in.import1)">{{in.import1?.[7]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_12_37"
     [(ngModel)]="ref(in.import1, 7, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[7]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 44%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="12" coolLength="33" [hidden]="7 >= length(in.import1)">
   <input type="text" coolType="field" name="field_12_71"
     [(ngModel)]="ref(in.import1, 7, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[7]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="12" coolLength="1" [hidden]="7 >= length(in.import1)">
   <input type="text" coolType="field" name="field_12_74"
     [(ngModel)]="ref(in.import1, 7, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[7]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 44%; width: 5%; height: 4%;" coolCol="74"
     coolRow="12" coolLength="4" [hidden]="7 >= length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 48%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="33" [hidden]="8 >= length(in.import1)">{{in.import1?.[8]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_13_37"
     [(ngModel)]="ref(in.import1, 8, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[8]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 48%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="13" coolLength="33" [hidden]="8 >= length(in.import1)">
   <input type="text" coolType="field" name="field_13_71"
     [(ngModel)]="ref(in.import1, 8, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[8]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 48%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="13" coolLength="1" [hidden]="8 >= length(in.import1)">
   <input type="text" coolType="field" name="field_13_74"
     [(ngModel)]="ref(in.import1, 8, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[8]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 48%; width: 5%; height: 4%;" coolCol="74"
     coolRow="13" coolLength="4" [hidden]="8 >= length(in.import1)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 52%; width: 41.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="33" [hidden]="9 >= length(in.import1)">{{in.import1?.[9]?.gimportFieldName.text33}}</div>
   <input type="text" coolType="field" name="field_14_37"
     [(ngModel)]="ref(in.import1, 9, 'gimportFieldValue.text33').value"
     [coolVideo]="out.export1?.[9]?.gexportFieldValue.screenField?.text33"
     coolAutotab coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="33"
     style="left: 45%; top: 52%; width: 41.25%; height: 4%;" coolCol="37"
     coolRow="14" coolLength="33" [hidden]="9 >= length(in.import1)">
   <input type="text" coolType="field" name="field_14_71"
     [(ngModel)]="ref(in.import1, 9, 'gimportPrompt.promptField').value"
     [coolVideo]="out.export1?.[9]?.gexportPrompt.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 87.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="71"
     coolRow="14" coolLength="1" [hidden]="9 >= length(in.import1)">
   <input type="text" coolType="field" name="field_14_74"
     [(ngModel)]="ref(in.import1, 9, 'gimportScreenName.nextTransaction').value"
     [coolVideo]="out.export1?.[9]?.gexportScreenName.screenField?.nextTransaction"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="4"
     style="left: 91.25%; top: 52%; width: 5%; height: 4%;" coolCol="74"
     coolRow="14" coolLength="4" [hidden]="9 >= length(in.import1)">
   
   <div coolType="literal"
     style="left: 1.25%; top: 56%; width: 43.75%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="35">Document Return Address Information</div>
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="in.outDocRtrnAddr.servProvLastName"
     [coolVideo]="out.outDocRtrnAddr.screenField?.servProvLastName" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="17"
     style="left: 1.25%; top: 60%; width: 21.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="17">
   <input type="text" coolType="field" name="field_16_21"
     [(ngModel)]="in.outDocRtrnAddr.servProvFirstName"
     [coolVideo]="out.outDocRtrnAddr.screenField?.servProvFirstName" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="12"
     style="left: 25%; top: 60%; width: 15%; height: 4%;" coolCol="21"
     coolRow="16" coolLength="12">
   <input type="text" coolType="field" name="field_16_34"
     [(ngModel)]="in.outDocRtrnAddr.servProvMi"
     [coolVideo]="out.outDocRtrnAddr.screenField?.servProvMi" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="1"
     style="left: 41.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="34"
     coolRow="16" coolLength="1">
   <input type="text" coolType="field" name="field_16_43"
     [(ngModel)]="in.outDocRtrnAddr.officeName"
     [coolVideo]="out.outDocRtrnAddr.screenField?.officeName" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="30"
     style="left: 52.5%; top: 60%; width: 37.5%; height: 4%;" coolCol="43"
     coolRow="16" coolLength="30">
   
   <div coolType="prompt"
     style="left: 12.5%; top: 64%; width: 8.75%; height: 4%;" coolCol="11"
     coolRow="17" coolLength="7">User ID</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 23.75%; top: 64%; width: 10%; height: 4%;" coolCol="20"
     coolRow="17" coolLength="8">{{in.outDocRtrnAddr.servProvUserId}}</div>
   <input type="text" coolType="field" name="field_17_43"
     [(ngModel)]="in.outDocRtrnAddr.offcAddrStreet1"
     [coolVideo]="out.outDocRtrnAddr.screenField?.offcAddrStreet1" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="25"
     style="left: 52.5%; top: 64%; width: 31.25%; height: 4%;" coolCol="43"
     coolRow="17" coolLength="25">
   
   <div coolType="prompt"
     style="left: 11.25%; top: 68%; width: 10%; height: 4%;" coolCol="10"
     coolRow="18" coolLength="8">SP Title</div>
   <input type="text" coolType="field" name="field_18_20"
     [(ngModel)]="in.outDocRtrnAddr.ospRoleCode"
     [coolVideo]="out.outDocRtrnAddr.screenField?.ospRoleCode" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 23.75%; top: 68%; width: 2.5%; height: 4%;" coolCol="20"
     coolRow="18" coolLength="2">
   <input type="text" coolType="field" name="field_18_43"
     [(ngModel)]="in.outDocRtrnAddr.offcAddrStreet2"
     [coolVideo]="out.outDocRtrnAddr.screenField?.offcAddrStreet2" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="25"
     style="left: 52.5%; top: 68%; width: 31.25%; height: 4%;" coolCol="43"
     coolRow="18" coolLength="25">
   
   <div coolType="prompt" style="left: 1.25%; top: 72%; width: 20%; height: 4%;"
     coolCol="2" coolRow="19" coolLength="16">SC Certification</div>
   <input type="text" coolType="field" name="field_19_20"
     [(ngModel)]="in.outDocRtrnAddr.ospCertificationNumber"
     [coolVideo]="out.outDocRtrnAddr.screenField?.ospCertificationNumber"
     coolAutotab coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="10"
     style="left: 23.75%; top: 72%; width: 12.5%; height: 4%;" coolCol="20"
     coolRow="19" coolLength="10">
   <input type="text" coolType="field" name="field_19_43"
     [(ngModel)]="in.outDocRtrnAddr.offcAddrCity"
     [coolVideo]="out.outDocRtrnAddr.screenField?.offcAddrCity" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="15"
     style="left: 52.5%; top: 72%; width: 18.75%; height: 4%;" coolCol="43"
     coolRow="19" coolLength="15">
   <input type="text" coolType="field" name="field_19_60"
     [(ngModel)]="in.outDocRtrnAddr.offcAddrState"
     [coolVideo]="out.outDocRtrnAddr.screenField?.offcAddrState" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 73.75%; top: 72%; width: 2.5%; height: 4%;" coolCol="60"
     coolRow="19" coolLength="2">
   <input type="text" coolType="field" name="field_19_64"
     [(ngModel)]="in.outDocRtrnAddr.offcAddrZip"
     [coolVideo]="out.outDocRtrnAddr.screenField?.offcAddrZip" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="5"
     style="left: 78.75%; top: 72%; width: 6.25%; height: 4%;" coolCol="64"
     coolRow="19" coolLength="5">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 86.25%; top: 72%; width: 5%; height: 4%;" coolCol="70"
     coolRow="19" coolLength="4">{{in.outDocRtrnAddr.offcAddrZip4}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 92.5%; top: 72%; width: 3.75%; height: 4%;" coolCol="75"
     coolRow="19" coolLength="3">{{in.outDocRtrnAddr.offcAddrZip3}}</div>
   <input type="text" coolType="field" name="field_20_43"
     [(ngModel)]="in.outDocRtrnAddr.ospWorkPhoneAreaCode"
     [coolVideo]="out.outDocRtrnAddr.screenField?.ospWorkPhoneAreaCode"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 52.5%; top: 76%; width: 3.75%; height: 4%;" coolCol="43"
     coolRow="20" coolLength="3">
   <input type="text" coolType="field" name="field_20_47"
     [(ngModel)]="in.outDocRtrnAddr.ospWorkPhoneNumber"
     [coolVideo]="out.outDocRtrnAddr.screenField?.ospWorkPhoneNumber"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="0000000;#" coolBlankWhenZero [attr.maxlength]="7"
     style="left: 57.5%; top: 76%; width: 8.75%; height: 4%;" coolCol="47"
     coolRow="20" coolLength="7">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 67.5%; top: 76%; width: 6.25%; height: 4%;" coolCol="55"
     coolRow="20" coolLength="5">{{in.outDocRtrnAddr.ospWorkPhoneExtension}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 86.25%; top: 80%; width: 10%; height: 4%;" coolCol="70"
     coolRow="21" coolLength="8">{{in.scrolling.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 90%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="72">PF KEY:  1 Help  2 Display  4 List  7 Prev  8 Next  9 Return  12 Signoff</div>
   
   <div coolType="literal"
     style="left: 10%; top: 92%; width: 21.25%; height: 4%;" coolCol="9"
     coolRow="24" coolLength="17">15 SVPO  24 Print</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="SVPO" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=SVPO</a>
   <a coolType="action" coolCommand="PRINT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F12">F24=PRINT</a>
   </div>