<!--Name: SP_EVLS_LIST_EVENTS, ID: 371778650, model: 746-->
<div coolContent coolName="SP_EVLS_LIST_EVENTS" coolType="SCREEN"
  (coolInit)="scrollSize = 200; pageSize = 13">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 32.5%; top: 0; width: 28.75%; height: 4%;" coolCol="27"
     coolRow="1" coolLength="23">CSE - Event List - EVLS</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 8.75%; top: 16%; width: 23.75%; height: 4%;" coolCol="8"
     coolRow="5" coolLength="19">Starting Event Name</div>
   <input type="text" coolType="field" name="field_5_30"
     [(ngModel)]="in.start.name" [coolVideo]="out.start.screenField?.name"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="40"
     style="left: 36.25%; top: 16%; width: 50%; height: 4%;" coolCol="30"
     coolRow="5" coolLength="40">
   
   <div coolType="prompt" style="left: 0; top: 24%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="7" coolLength="3">Sel</div>
   
   <div coolType="prompt" style="left: 5%; top: 24%; width: 8.75%; height: 4%;"
     coolCol="5" coolRow="7" coolLength="7">Event #</div>
   
   <div coolType="prompt" style="left: 20%; top: 24%; width: 5%; height: 4%;"
     coolCol="17" coolRow="7" coolLength="4">Name</div>
   
   <div coolType="prompt" style="left: 68.75%; top: 24%; width: 5%; height: 4%;"
     coolCol="56" coolRow="7" coolLength="4">Type</div>
   
   <div coolType="prompt" style="left: 90%; top: 24%; width: 8.75%; height: 4%;"
     coolCol="73" coolRow="7" coolLength="7">Bus Obj</div>
   <input type="text" coolType="field" name="field_8_2"
     [(ngModel)]="ref(in.group, pageOffset, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="1" [hidden]="pageOffset >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 28%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="8" coolLength="5" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 28%; width: 50%; height: 4%;" coolCol="14"
     coolRow="8" coolLength="40" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 28%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="8" coolLength="15" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="8" coolLength="3" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_9_2"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 32%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="9" coolLength="5" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 32%; width: 50%; height: 4%;" coolCol="14"
     coolRow="9" coolLength="40" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 32%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="9" coolLength="15" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 32%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="9" coolLength="3" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 36%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="10" coolLength="5" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 36%; width: 50%; height: 4%;" coolCol="14"
     coolRow="10" coolLength="40" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 36%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="10" coolLength="15" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 36%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="10" coolLength="3" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_11_2"
     [(ngModel)]="ref(in.group, pageOffset + 3, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 3]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 40%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="11" coolLength="5" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 40%; width: 50%; height: 4%;" coolCol="14"
     coolRow="11" coolLength="40" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 40%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="11" coolLength="15" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 40%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="11" coolLength="3" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.group, pageOffset + 4, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 4]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 4 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 44%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="12" coolLength="5" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 44%; width: 50%; height: 4%;" coolCol="14"
     coolRow="12" coolLength="40" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 44%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="15" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 44%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="12" coolLength="3" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.group, pageOffset + 5, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 5]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 5 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 48%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="13" coolLength="5" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 48%; width: 50%; height: 4%;" coolCol="14"
     coolRow="13" coolLength="40" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 48%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="13" coolLength="15" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 48%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="13" coolLength="3" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.group, pageOffset + 6, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 6]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 6 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 52%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="14" coolLength="5" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 52%; width: 50%; height: 4%;" coolCol="14"
     coolRow="14" coolLength="40" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 52%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="14" coolLength="15" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 52%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="14" coolLength="3" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.group, pageOffset + 7, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 7]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 7 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 56%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="15" coolLength="5" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 56%; width: 50%; height: 4%;" coolCol="14"
     coolRow="15" coolLength="40" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 56%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="15" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 56%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.group, pageOffset + 8, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 8]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 8 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 60%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="16" coolLength="5" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 60%; width: 50%; height: 4%;" coolCol="14"
     coolRow="16" coolLength="40" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 60%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="16" coolLength="15" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 60%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="16" coolLength="3" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.group, pageOffset + 9, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 9]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 9 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 64%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="17" coolLength="5" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 64%; width: 50%; height: 4%;" coolCol="14"
     coolRow="17" coolLength="40" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 64%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="17" coolLength="15" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 64%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="17" coolLength="3" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.group, pageOffset + 10, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 10]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 10 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 68%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="18" coolLength="5" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 68%; width: 50%; height: 4%;" coolCol="14"
     coolRow="18" coolLength="40" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 68%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="18" coolLength="15" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 68%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="18" coolLength="3" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.group, pageOffset + 11, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 11]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 11 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 72%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="19" coolLength="5" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 72%; width: 50%; height: 4%;" coolCol="14"
     coolRow="19" coolLength="40" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 72%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="19" coolLength="15" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 72%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="19" coolLength="3" [hidden]="pageOffset + 11 >= length(in.group)">{{in.group?.[pageOffset + 11]?.grEvent.businessObjectCode}}</div>
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.group, pageOffset + 12, 'grCommon.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 12]?.grCommon.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1" [hidden]="pageOffset + 12 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 5%; top: 76%; width: 6.25%; height: 4%;" coolCol="5"
     coolRow="20" coolLength="5" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.grEvent.controlNumber|coolNumber:'00000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 76%; width: 50%; height: 4%;" coolCol="14"
     coolRow="20" coolLength="40" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.grEvent.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 76%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="20" coolLength="15" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.grEvent.type1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 91.25%; top: 76%; width: 3.75%; height: 4%;" coolCol="74"
     coolRow="20" coolLength="3" [hidden]="pageOffset + 12 >= length(in.group)">{{in.group?.[pageOffset + 12]?.grEvent.businessObjectCode}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 100%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="80">PFKEY : 1 Help  2 Display  3 Exit  7 Prev  8 Next  9 Return  11 Clear 12 Signoff</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 8.75%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="7">15 EVMN</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="EVMN" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=EVMN</a>
   </div>