<!--Name: SP_FDLM_FIELD_LIST_AND_MAINTAIN, ID: 372108937, model: 746-->
<div coolContent coolName="SP_FDLM_FIELD_LIST_AND_MAINTAIN" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 27.5%; top: 0; width: 45%; height: 4%;"
     coolCol="23" coolRow="1" coolLength="36">CSE - Field List and Maintain - FDLM</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_8"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 8.75%; top: 4%; width: 5%; height: 4%;" coolCol="8"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 8%; width: 21.25%; height: 4%;" coolCol="2"
     coolRow="3" coolLength="17">Start Description</div>
   <input type="text" coolType="field" name="field_3_21"
     [(ngModel)]="in.filter.description"
     [coolVideo]="out.filter.screenField?.description" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 25%; top: 8%; width: 18.75%; height: 4%;" coolCol="21"
     coolRow="3" coolLength="15">
   
   <div coolType="prompt"
     style="left: 48.75%; top: 8%; width: 12.5%; height: 4%;" coolCol="40"
     coolRow="3" coolLength="10">Dependancy</div>
   <input type="text" coolType="field" name="field_3_51"
     [(ngModel)]="in.filter.dependancy"
     [coolVideo]="out.filter.screenField?.dependancy" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="8"
     style="left: 62.5%; top: 8%; width: 10%; height: 4%;" coolCol="51"
     coolRow="3" coolLength="8">
   
   <div coolType="prompt" style="left: 75%; top: 8%; width: 12.5%; height: 4%;"
     coolCol="61" coolRow="3" coolLength="10">Subroutine</div>
   <input type="text" coolType="field" name="field_3_72"
     [(ngModel)]="in.filter.subroutineName"
     [coolVideo]="out.filter.screenField?.subroutineName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="8"
     style="left: 88.75%; top: 8%; width: 10%; height: 4%;" coolCol="72"
     coolRow="3" coolLength="8">
   
   <div coolType="prompt" style="left: 0; top: 12%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="4" coolLength="3">Sel</div>
   
   <div coolType="prompt" style="left: 6.25%; top: 12%; width: 5%; height: 4%;"
     coolCol="6" coolRow="4" coolLength="4">Name</div>
   
   <div coolType="prompt"
     style="left: 18.75%; top: 12%; width: 13.75%; height: 4%;" coolCol="16"
     coolRow="4" coolLength="11">Description</div>
   
   <div coolType="prompt" style="left: 67.5%; top: 12%; width: 10%; height: 4%;"
     coolCol="55" coolRow="4" coolLength="8">Depndncy</div>
   
   <div coolType="prompt" style="left: 80%; top: 12%; width: 10%; height: 4%;"
     coolCol="65" coolRow="4" coolLength="8">Subroutn</div>
   
   <div coolType="prompt"
     style="left: 92.5%; top: 12%; width: 7.5%; height: 4%;" coolCol="75"
     coolRow="4" coolLength="6">Screen</div>
   <input type="text" coolType="field" name="field_5_2"
     [(ngModel)]="ref(in.import1, 0, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[0]?.gcommon.screenField?.selectChar" coolAutotab
     #field_5_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="1">
   <input type="text" coolType="field" name="field_5_5"
     [(ngModel)]="ref(in.import1, 0, 'gfield.name').value"
     [coolVideo]="out.export1?.[0]?.gfield.screenField?.name" coolAutotab
     #field_5_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 16%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="5" coolLength="10">
   <input type="text" coolType="field" name="field_5_16"
     [(ngModel)]="ref(in.import1, 0, 'gfield.description').value"
     [coolVideo]="out.export1?.[0]?.gfield.screenField?.description" coolAutotab
     #field_5_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 16%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="5" coolLength="38">
   <input type="text" coolType="field" name="field_5_55"
     [(ngModel)]="ref(in.import1, 0, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[0]?.gfield.screenField?.dependancy" coolAutotab
     #field_5_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 16%; width: 10%; height: 4%;"
     coolCol="55" coolRow="5" coolLength="8">
   <input type="text" coolType="field" name="field_5_65"
     [(ngModel)]="ref(in.import1, 0, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[0]?.gfield.screenField?.subroutineName"
     coolAutotab #field_5_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 16%; width: 10%; height: 4%;" coolCol="65"
     coolRow="5" coolLength="8">
   <input type="text" coolType="field" name="field_5_75"
     [(ngModel)]="ref(in.import1, 0, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[0]?.gfield.screenField?.screenName" coolAutotab
     #field_5_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 16%; width: 5%; height: 4%;"
     coolCol="75" coolRow="5" coolLength="4">
   <input type="text" coolType="field" name="field_5_80"
     [(ngModel)]="ref(in.import1, 0, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[0]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_5_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="5" coolLength="1">
   <input type="text" coolType="field" name="field_6_2"
     [(ngModel)]="ref(in.import1, 1, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[1]?.gcommon.screenField?.selectChar" coolAutotab
     #field_6_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 20%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="1">
   <input type="text" coolType="field" name="field_6_5"
     [(ngModel)]="ref(in.import1, 1, 'gfield.name').value"
     [coolVideo]="out.export1?.[1]?.gfield.screenField?.name" coolAutotab
     #field_6_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 20%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="6" coolLength="10">
   <input type="text" coolType="field" name="field_6_16"
     [(ngModel)]="ref(in.import1, 1, 'gfield.description').value"
     [coolVideo]="out.export1?.[1]?.gfield.screenField?.description" coolAutotab
     #field_6_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 20%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="6" coolLength="38">
   <input type="text" coolType="field" name="field_6_55"
     [(ngModel)]="ref(in.import1, 1, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[1]?.gfield.screenField?.dependancy" coolAutotab
     #field_6_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 20%; width: 10%; height: 4%;"
     coolCol="55" coolRow="6" coolLength="8">
   <input type="text" coolType="field" name="field_6_65"
     [(ngModel)]="ref(in.import1, 1, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[1]?.gfield.screenField?.subroutineName"
     coolAutotab #field_6_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 20%; width: 10%; height: 4%;" coolCol="65"
     coolRow="6" coolLength="8">
   <input type="text" coolType="field" name="field_6_75"
     [(ngModel)]="ref(in.import1, 1, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[1]?.gfield.screenField?.screenName" coolAutotab
     #field_6_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 20%; width: 5%; height: 4%;"
     coolCol="75" coolRow="6" coolLength="4">
   <input type="text" coolType="field" name="field_6_80"
     [(ngModel)]="ref(in.import1, 1, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[1]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_6_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 20%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="6" coolLength="1">
   <input type="text" coolType="field" name="field_7_2"
     [(ngModel)]="ref(in.import1, 2, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[2]?.gcommon.screenField?.selectChar" coolAutotab
     #field_7_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 24%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="1">
   <input type="text" coolType="field" name="field_7_5"
     [(ngModel)]="ref(in.import1, 2, 'gfield.name').value"
     [coolVideo]="out.export1?.[2]?.gfield.screenField?.name" coolAutotab
     #field_7_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 24%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="7" coolLength="10">
   <input type="text" coolType="field" name="field_7_16"
     [(ngModel)]="ref(in.import1, 2, 'gfield.description').value"
     [coolVideo]="out.export1?.[2]?.gfield.screenField?.description" coolAutotab
     #field_7_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 24%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="7" coolLength="38">
   <input type="text" coolType="field" name="field_7_55"
     [(ngModel)]="ref(in.import1, 2, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[2]?.gfield.screenField?.dependancy" coolAutotab
     #field_7_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 24%; width: 10%; height: 4%;"
     coolCol="55" coolRow="7" coolLength="8">
   <input type="text" coolType="field" name="field_7_65"
     [(ngModel)]="ref(in.import1, 2, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[2]?.gfield.screenField?.subroutineName"
     coolAutotab #field_7_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 24%; width: 10%; height: 4%;" coolCol="65"
     coolRow="7" coolLength="8">
   <input type="text" coolType="field" name="field_7_75"
     [(ngModel)]="ref(in.import1, 2, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[2]?.gfield.screenField?.screenName" coolAutotab
     #field_7_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 24%; width: 5%; height: 4%;"
     coolCol="75" coolRow="7" coolLength="4">
   <input type="text" coolType="field" name="field_7_80"
     [(ngModel)]="ref(in.import1, 2, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[2]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_7_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 24%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="7" coolLength="1">
   <input type="text" coolType="field" name="field_8_2"
     [(ngModel)]="ref(in.import1, 3, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[3]?.gcommon.screenField?.selectChar" coolAutotab
     #field_8_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 28%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="8" coolLength="1">
   <input type="text" coolType="field" name="field_8_5"
     [(ngModel)]="ref(in.import1, 3, 'gfield.name').value"
     [coolVideo]="out.export1?.[3]?.gfield.screenField?.name" coolAutotab
     #field_8_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 28%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="8" coolLength="10">
   <input type="text" coolType="field" name="field_8_16"
     [(ngModel)]="ref(in.import1, 3, 'gfield.description').value"
     [coolVideo]="out.export1?.[3]?.gfield.screenField?.description" coolAutotab
     #field_8_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 28%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="8" coolLength="38">
   <input type="text" coolType="field" name="field_8_55"
     [(ngModel)]="ref(in.import1, 3, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[3]?.gfield.screenField?.dependancy" coolAutotab
     #field_8_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 28%; width: 10%; height: 4%;"
     coolCol="55" coolRow="8" coolLength="8">
   <input type="text" coolType="field" name="field_8_65"
     [(ngModel)]="ref(in.import1, 3, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[3]?.gfield.screenField?.subroutineName"
     coolAutotab #field_8_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 28%; width: 10%; height: 4%;" coolCol="65"
     coolRow="8" coolLength="8">
   <input type="text" coolType="field" name="field_8_75"
     [(ngModel)]="ref(in.import1, 3, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[3]?.gfield.screenField?.screenName" coolAutotab
     #field_8_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 28%; width: 5%; height: 4%;"
     coolCol="75" coolRow="8" coolLength="4">
   <input type="text" coolType="field" name="field_8_80"
     [(ngModel)]="ref(in.import1, 3, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[3]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_8_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="8" coolLength="1">
   <input type="text" coolType="field" name="field_9_2"
     [(ngModel)]="ref(in.import1, 4, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[4]?.gcommon.screenField?.selectChar" coolAutotab
     #field_9_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="1">
   <input type="text" coolType="field" name="field_9_5"
     [(ngModel)]="ref(in.import1, 4, 'gfield.name').value"
     [coolVideo]="out.export1?.[4]?.gfield.screenField?.name" coolAutotab
     #field_9_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 32%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="9" coolLength="10">
   <input type="text" coolType="field" name="field_9_16"
     [(ngModel)]="ref(in.import1, 4, 'gfield.description').value"
     [coolVideo]="out.export1?.[4]?.gfield.screenField?.description" coolAutotab
     #field_9_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 32%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="9" coolLength="38">
   <input type="text" coolType="field" name="field_9_55"
     [(ngModel)]="ref(in.import1, 4, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[4]?.gfield.screenField?.dependancy" coolAutotab
     #field_9_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 32%; width: 10%; height: 4%;"
     coolCol="55" coolRow="9" coolLength="8">
   <input type="text" coolType="field" name="field_9_65"
     [(ngModel)]="ref(in.import1, 4, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[4]?.gfield.screenField?.subroutineName"
     coolAutotab #field_9_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 32%; width: 10%; height: 4%;" coolCol="65"
     coolRow="9" coolLength="8">
   <input type="text" coolType="field" name="field_9_75"
     [(ngModel)]="ref(in.import1, 4, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[4]?.gfield.screenField?.screenName" coolAutotab
     #field_9_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 32%; width: 5%; height: 4%;"
     coolCol="75" coolRow="9" coolLength="4">
   <input type="text" coolType="field" name="field_9_80"
     [(ngModel)]="ref(in.import1, 4, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[4]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_9_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="9" coolLength="1">
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="ref(in.import1, 5, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[5]?.gcommon.screenField?.selectChar" coolAutotab
     #field_10_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="1">
   <input type="text" coolType="field" name="field_10_5"
     [(ngModel)]="ref(in.import1, 5, 'gfield.name').value"
     [coolVideo]="out.export1?.[5]?.gfield.screenField?.name" coolAutotab
     #field_10_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 36%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="10" coolLength="10">
   <input type="text" coolType="field" name="field_10_16"
     [(ngModel)]="ref(in.import1, 5, 'gfield.description').value"
     [coolVideo]="out.export1?.[5]?.gfield.screenField?.description" coolAutotab
     #field_10_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 36%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="10" coolLength="38">
   <input type="text" coolType="field" name="field_10_55"
     [(ngModel)]="ref(in.import1, 5, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[5]?.gfield.screenField?.dependancy" coolAutotab
     #field_10_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 36%; width: 10%; height: 4%;"
     coolCol="55" coolRow="10" coolLength="8">
   <input type="text" coolType="field" name="field_10_65"
     [(ngModel)]="ref(in.import1, 5, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[5]?.gfield.screenField?.subroutineName"
     coolAutotab #field_10_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 36%; width: 10%; height: 4%;" coolCol="65"
     coolRow="10" coolLength="8">
   <input type="text" coolType="field" name="field_10_75"
     [(ngModel)]="ref(in.import1, 5, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[5]?.gfield.screenField?.screenName" coolAutotab
     #field_10_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 36%; width: 5%; height: 4%;"
     coolCol="75" coolRow="10" coolLength="4">
   <input type="text" coolType="field" name="field_10_80"
     [(ngModel)]="ref(in.import1, 5, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[5]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_10_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="10" coolLength="1">
   <input type="text" coolType="field" name="field_11_2"
     [(ngModel)]="ref(in.import1, 6, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[6]?.gcommon.screenField?.selectChar" coolAutotab
     #field_11_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_11_5"
     [(ngModel)]="ref(in.import1, 6, 'gfield.name').value"
     [coolVideo]="out.export1?.[6]?.gfield.screenField?.name" coolAutotab
     #field_11_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 40%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="11" coolLength="10">
   <input type="text" coolType="field" name="field_11_16"
     [(ngModel)]="ref(in.import1, 6, 'gfield.description').value"
     [coolVideo]="out.export1?.[6]?.gfield.screenField?.description" coolAutotab
     #field_11_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 40%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="11" coolLength="38">
   <input type="text" coolType="field" name="field_11_55"
     [(ngModel)]="ref(in.import1, 6, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[6]?.gfield.screenField?.dependancy" coolAutotab
     #field_11_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 40%; width: 10%; height: 4%;"
     coolCol="55" coolRow="11" coolLength="8">
   <input type="text" coolType="field" name="field_11_65"
     [(ngModel)]="ref(in.import1, 6, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[6]?.gfield.screenField?.subroutineName"
     coolAutotab #field_11_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 40%; width: 10%; height: 4%;" coolCol="65"
     coolRow="11" coolLength="8">
   <input type="text" coolType="field" name="field_11_75"
     [(ngModel)]="ref(in.import1, 6, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[6]?.gfield.screenField?.screenName" coolAutotab
     #field_11_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 40%; width: 5%; height: 4%;"
     coolCol="75" coolRow="11" coolLength="4">
   <input type="text" coolType="field" name="field_11_80"
     [(ngModel)]="ref(in.import1, 6, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[6]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_11_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="11" coolLength="1">
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.import1, 7, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[7]?.gcommon.screenField?.selectChar" coolAutotab
     #field_12_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1">
   <input type="text" coolType="field" name="field_12_5"
     [(ngModel)]="ref(in.import1, 7, 'gfield.name').value"
     [coolVideo]="out.export1?.[7]?.gfield.screenField?.name" coolAutotab
     #field_12_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 44%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="12" coolLength="10">
   <input type="text" coolType="field" name="field_12_16"
     [(ngModel)]="ref(in.import1, 7, 'gfield.description').value"
     [coolVideo]="out.export1?.[7]?.gfield.screenField?.description" coolAutotab
     #field_12_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 44%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="12" coolLength="38">
   <input type="text" coolType="field" name="field_12_55"
     [(ngModel)]="ref(in.import1, 7, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[7]?.gfield.screenField?.dependancy" coolAutotab
     #field_12_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 44%; width: 10%; height: 4%;"
     coolCol="55" coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_65"
     [(ngModel)]="ref(in.import1, 7, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[7]?.gfield.screenField?.subroutineName"
     coolAutotab #field_12_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 44%; width: 10%; height: 4%;" coolCol="65"
     coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_75"
     [(ngModel)]="ref(in.import1, 7, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[7]?.gfield.screenField?.screenName" coolAutotab
     #field_12_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 44%; width: 5%; height: 4%;"
     coolCol="75" coolRow="12" coolLength="4">
   <input type="text" coolType="field" name="field_12_80"
     [(ngModel)]="ref(in.import1, 7, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[7]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_12_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="12" coolLength="1">
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.import1, 8, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[8]?.gcommon.screenField?.selectChar" coolAutotab
     #field_13_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1">
   <input type="text" coolType="field" name="field_13_5"
     [(ngModel)]="ref(in.import1, 8, 'gfield.name').value"
     [coolVideo]="out.export1?.[8]?.gfield.screenField?.name" coolAutotab
     #field_13_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 48%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="13" coolLength="10">
   <input type="text" coolType="field" name="field_13_16"
     [(ngModel)]="ref(in.import1, 8, 'gfield.description').value"
     [coolVideo]="out.export1?.[8]?.gfield.screenField?.description" coolAutotab
     #field_13_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 48%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="13" coolLength="38">
   <input type="text" coolType="field" name="field_13_55"
     [(ngModel)]="ref(in.import1, 8, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[8]?.gfield.screenField?.dependancy" coolAutotab
     #field_13_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 48%; width: 10%; height: 4%;"
     coolCol="55" coolRow="13" coolLength="8">
   <input type="text" coolType="field" name="field_13_65"
     [(ngModel)]="ref(in.import1, 8, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[8]?.gfield.screenField?.subroutineName"
     coolAutotab #field_13_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 48%; width: 10%; height: 4%;" coolCol="65"
     coolRow="13" coolLength="8">
   <input type="text" coolType="field" name="field_13_75"
     [(ngModel)]="ref(in.import1, 8, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[8]?.gfield.screenField?.screenName" coolAutotab
     #field_13_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 48%; width: 5%; height: 4%;"
     coolCol="75" coolRow="13" coolLength="4">
   <input type="text" coolType="field" name="field_13_80"
     [(ngModel)]="ref(in.import1, 8, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[8]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_13_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="13" coolLength="1">
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.import1, 9, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[9]?.gcommon.screenField?.selectChar" coolAutotab
     #field_14_2 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_5"
     [(ngModel)]="ref(in.import1, 9, 'gfield.name').value"
     [coolVideo]="out.export1?.[9]?.gfield.screenField?.name" coolAutotab
     #field_14_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 52%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="14" coolLength="10">
   <input type="text" coolType="field" name="field_14_16"
     [(ngModel)]="ref(in.import1, 9, 'gfield.description').value"
     [coolVideo]="out.export1?.[9]?.gfield.screenField?.description" coolAutotab
     #field_14_16 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="38"
     style="left: 18.75%; top: 52%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="14" coolLength="38">
   <input type="text" coolType="field" name="field_14_55"
     [(ngModel)]="ref(in.import1, 9, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[9]?.gfield.screenField?.dependancy" coolAutotab
     #field_14_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 52%; width: 10%; height: 4%;"
     coolCol="55" coolRow="14" coolLength="8">
   <input type="text" coolType="field" name="field_14_65"
     [(ngModel)]="ref(in.import1, 9, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[9]?.gfield.screenField?.subroutineName"
     coolAutotab #field_14_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 52%; width: 10%; height: 4%;" coolCol="65"
     coolRow="14" coolLength="8">
   <input type="text" coolType="field" name="field_14_75"
     [(ngModel)]="ref(in.import1, 9, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[9]?.gfield.screenField?.screenName" coolAutotab
     #field_14_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 52%; width: 5%; height: 4%;"
     coolCol="75" coolRow="14" coolLength="4">
   <input type="text" coolType="field" name="field_14_80"
     [(ngModel)]="ref(in.import1, 9, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[9]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_14_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.import1, 10, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[10]?.gcommon.screenField?.selectChar"
     coolAutotab #field_15_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1">
   <input type="text" coolType="field" name="field_15_5"
     [(ngModel)]="ref(in.import1, 10, 'gfield.name').value"
     [coolVideo]="out.export1?.[10]?.gfield.screenField?.name" coolAutotab
     #field_15_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 56%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="15" coolLength="10">
   <input type="text" coolType="field" name="field_15_16"
     [(ngModel)]="ref(in.import1, 10, 'gfield.description').value"
     [coolVideo]="out.export1?.[10]?.gfield.screenField?.description"
     coolAutotab #field_15_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="38"
     style="left: 18.75%; top: 56%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="15" coolLength="38">
   <input type="text" coolType="field" name="field_15_55"
     [(ngModel)]="ref(in.import1, 10, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[10]?.gfield.screenField?.dependancy" coolAutotab
     #field_15_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 56%; width: 10%; height: 4%;"
     coolCol="55" coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_65"
     [(ngModel)]="ref(in.import1, 10, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[10]?.gfield.screenField?.subroutineName"
     coolAutotab #field_15_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 56%; width: 10%; height: 4%;" coolCol="65"
     coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_75"
     [(ngModel)]="ref(in.import1, 10, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[10]?.gfield.screenField?.screenName" coolAutotab
     #field_15_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 56%; width: 5%; height: 4%;"
     coolCol="75" coolRow="15" coolLength="4">
   <input type="text" coolType="field" name="field_15_80"
     [(ngModel)]="ref(in.import1, 10, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[10]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_15_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="15" coolLength="1">
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.import1, 11, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[11]?.gcommon.screenField?.selectChar"
     coolAutotab #field_16_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1">
   <input type="text" coolType="field" name="field_16_5"
     [(ngModel)]="ref(in.import1, 11, 'gfield.name').value"
     [coolVideo]="out.export1?.[11]?.gfield.screenField?.name" coolAutotab
     #field_16_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 60%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="16" coolLength="10">
   <input type="text" coolType="field" name="field_16_16"
     [(ngModel)]="ref(in.import1, 11, 'gfield.description').value"
     [coolVideo]="out.export1?.[11]?.gfield.screenField?.description"
     coolAutotab #field_16_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="38"
     style="left: 18.75%; top: 60%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="16" coolLength="38">
   <input type="text" coolType="field" name="field_16_55"
     [(ngModel)]="ref(in.import1, 11, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[11]?.gfield.screenField?.dependancy" coolAutotab
     #field_16_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 60%; width: 10%; height: 4%;"
     coolCol="55" coolRow="16" coolLength="8">
   <input type="text" coolType="field" name="field_16_65"
     [(ngModel)]="ref(in.import1, 11, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[11]?.gfield.screenField?.subroutineName"
     coolAutotab #field_16_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 60%; width: 10%; height: 4%;" coolCol="65"
     coolRow="16" coolLength="8">
   <input type="text" coolType="field" name="field_16_75"
     [(ngModel)]="ref(in.import1, 11, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[11]?.gfield.screenField?.screenName" coolAutotab
     #field_16_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 60%; width: 5%; height: 4%;"
     coolCol="75" coolRow="16" coolLength="4">
   <input type="text" coolType="field" name="field_16_80"
     [(ngModel)]="ref(in.import1, 11, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[11]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_16_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="16" coolLength="1">
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.import1, 12, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[12]?.gcommon.screenField?.selectChar"
     coolAutotab #field_17_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1">
   <input type="text" coolType="field" name="field_17_5"
     [(ngModel)]="ref(in.import1, 12, 'gfield.name').value"
     [coolVideo]="out.export1?.[12]?.gfield.screenField?.name" coolAutotab
     #field_17_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 64%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="17" coolLength="10">
   <input type="text" coolType="field" name="field_17_16"
     [(ngModel)]="ref(in.import1, 12, 'gfield.description').value"
     [coolVideo]="out.export1?.[12]?.gfield.screenField?.description"
     coolAutotab #field_17_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="38"
     style="left: 18.75%; top: 64%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="17" coolLength="38">
   <input type="text" coolType="field" name="field_17_55"
     [(ngModel)]="ref(in.import1, 12, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[12]?.gfield.screenField?.dependancy" coolAutotab
     #field_17_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 64%; width: 10%; height: 4%;"
     coolCol="55" coolRow="17" coolLength="8">
   <input type="text" coolType="field" name="field_17_65"
     [(ngModel)]="ref(in.import1, 12, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[12]?.gfield.screenField?.subroutineName"
     coolAutotab #field_17_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 64%; width: 10%; height: 4%;" coolCol="65"
     coolRow="17" coolLength="8">
   <input type="text" coolType="field" name="field_17_75"
     [(ngModel)]="ref(in.import1, 12, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[12]?.gfield.screenField?.screenName" coolAutotab
     #field_17_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 64%; width: 5%; height: 4%;"
     coolCol="75" coolRow="17" coolLength="4">
   <input type="text" coolType="field" name="field_17_80"
     [(ngModel)]="ref(in.import1, 12, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[12]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_17_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="17" coolLength="1">
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.import1, 13, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[13]?.gcommon.screenField?.selectChar"
     coolAutotab #field_18_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1">
   <input type="text" coolType="field" name="field_18_5"
     [(ngModel)]="ref(in.import1, 13, 'gfield.name').value"
     [coolVideo]="out.export1?.[13]?.gfield.screenField?.name" coolAutotab
     #field_18_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 68%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="18" coolLength="10">
   <input type="text" coolType="field" name="field_18_16"
     [(ngModel)]="ref(in.import1, 13, 'gfield.description').value"
     [coolVideo]="out.export1?.[13]?.gfield.screenField?.description"
     coolAutotab #field_18_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="38"
     style="left: 18.75%; top: 68%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="18" coolLength="38">
   <input type="text" coolType="field" name="field_18_55"
     [(ngModel)]="ref(in.import1, 13, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[13]?.gfield.screenField?.dependancy" coolAutotab
     #field_18_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 68%; width: 10%; height: 4%;"
     coolCol="55" coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_65"
     [(ngModel)]="ref(in.import1, 13, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[13]?.gfield.screenField?.subroutineName"
     coolAutotab #field_18_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 68%; width: 10%; height: 4%;" coolCol="65"
     coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_75"
     [(ngModel)]="ref(in.import1, 13, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[13]?.gfield.screenField?.screenName" coolAutotab
     #field_18_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 68%; width: 5%; height: 4%;"
     coolCol="75" coolRow="18" coolLength="4">
   <input type="text" coolType="field" name="field_18_80"
     [(ngModel)]="ref(in.import1, 13, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[13]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_18_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="18" coolLength="1">
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.import1, 14, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[14]?.gcommon.screenField?.selectChar"
     coolAutotab #field_19_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1">
   <input type="text" coolType="field" name="field_19_5"
     [(ngModel)]="ref(in.import1, 14, 'gfield.name').value"
     [coolVideo]="out.export1?.[14]?.gfield.screenField?.name" coolAutotab
     #field_19_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 72%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="19" coolLength="10">
   <input type="text" coolType="field" name="field_19_16"
     [(ngModel)]="ref(in.import1, 14, 'gfield.description').value"
     [coolVideo]="out.export1?.[14]?.gfield.screenField?.description"
     coolAutotab #field_19_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="38"
     style="left: 18.75%; top: 72%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="19" coolLength="38">
   <input type="text" coolType="field" name="field_19_55"
     [(ngModel)]="ref(in.import1, 14, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[14]?.gfield.screenField?.dependancy" coolAutotab
     #field_19_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 72%; width: 10%; height: 4%;"
     coolCol="55" coolRow="19" coolLength="8">
   <input type="text" coolType="field" name="field_19_65"
     [(ngModel)]="ref(in.import1, 14, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[14]?.gfield.screenField?.subroutineName"
     coolAutotab #field_19_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 72%; width: 10%; height: 4%;" coolCol="65"
     coolRow="19" coolLength="8">
   <input type="text" coolType="field" name="field_19_75"
     [(ngModel)]="ref(in.import1, 14, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[14]?.gfield.screenField?.screenName" coolAutotab
     #field_19_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 72%; width: 5%; height: 4%;"
     coolCol="75" coolRow="19" coolLength="4">
   <input type="text" coolType="field" name="field_19_80"
     [(ngModel)]="ref(in.import1, 14, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[14]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_19_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="19" coolLength="1">
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.import1, 15, 'gcommon.selectChar').value"
     [coolVideo]="out.export1?.[15]?.gcommon.screenField?.selectChar"
     coolAutotab #field_20_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1">
   <input type="text" coolType="field" name="field_20_5"
     [(ngModel)]="ref(in.import1, 15, 'gfield.name').value"
     [coolVideo]="out.export1?.[15]?.gfield.screenField?.name" coolAutotab
     #field_20_5 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10" style="left: 5%; top: 76%; width: 12.5%; height: 4%;"
     coolCol="5" coolRow="20" coolLength="10">
   <input type="text" coolType="field" name="field_20_16"
     [(ngModel)]="ref(in.import1, 15, 'gfield.description').value"
     [coolVideo]="out.export1?.[15]?.gfield.screenField?.description"
     coolAutotab #field_20_16 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="38"
     style="left: 18.75%; top: 76%; width: 47.5%; height: 4%;" coolCol="16"
     coolRow="20" coolLength="38">
   <input type="text" coolType="field" name="field_20_55"
     [(ngModel)]="ref(in.import1, 15, 'gfield.dependancy').value"
     [coolVideo]="out.export1?.[15]?.gfield.screenField?.dependancy" coolAutotab
     #field_20_55 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="8" style="left: 67.5%; top: 76%; width: 10%; height: 4%;"
     coolCol="55" coolRow="20" coolLength="8">
   <input type="text" coolType="field" name="field_20_65"
     [(ngModel)]="ref(in.import1, 15, 'gfield.subroutineName').value"
     [coolVideo]="out.export1?.[15]?.gfield.screenField?.subroutineName"
     coolAutotab #field_20_65 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 80%; top: 76%; width: 10%; height: 4%;" coolCol="65"
     coolRow="20" coolLength="8">
   <input type="text" coolType="field" name="field_20_75"
     [(ngModel)]="ref(in.import1, 15, 'gfield.screenName').value"
     [coolVideo]="out.export1?.[15]?.gfield.screenField?.screenName" coolAutotab
     #field_20_75 coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="4" style="left: 92.5%; top: 76%; width: 5%; height: 4%;"
     coolCol="75" coolRow="20" coolLength="4">
   <input type="text" coolType="field" name="field_20_80"
     [(ngModel)]="ref(in.import1, 15, 'gimportScreenPrompt.promptField').value"
     [coolVideo]="out.export1?.[15]?.gexportScreenPrompt.screenField?.promptField"
     coolAutotab #field_20_80 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 98.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="80"
     coolRow="20" coolLength="1">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 86.25%; top: 80%; width: 10%; height: 4%;" coolCol="70"
     coolRow="21" coolLength="8">{{in.scrolling.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 92.5%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="74">PF KEY: 1 Help  2 Display  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 92%; width: 51.25%; height: 4%;" coolCol="8"
     coolRow="24" coolLength="41">9 Return  10 Delete  11 Clear  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>