<!--Name: SP_INFM_INFRASTRUCTURE_MGMT_MENU, ID: 371751054, model: 746-->
<div coolContent coolName="SP_INFM_INFRASTRUCTURE_MGMT_MENU" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 22.5%; top: 0; width: 53.75%; height: 4%;" coolCol="19"
     coolRow="1" coolLength="43">CSE - Infrastructure Management Menu - INFM</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="literal" style="left: 15%; top: 12%; width: 45%; height: 4%;"
     coolCol="13" coolRow="4" coolLength="36">1  ATLM    Activity List Maintenance</div>
   
   <div coolType="literal"
     style="left: 15%; top: 16%; width: 53.75%; height: 4%;" coolCol="13"
     coolRow="5" coolLength="43">2  ADLM    Activity Detail List Maintenance</div>
   
   <div coolType="literal"
     style="left: 15%; top: 20%; width: 58.75%; height: 4%;" coolCol="13"
     coolRow="6" coolLength="47">3  ASLM    Activity Start Stop List Maintenance</div>
   
   <div coolType="literal"
     style="left: 15%; top: 24%; width: 67.5%; height: 4%;" coolCol="13"
     coolRow="7" coolLength="54">4  TRLM    Activity Distribution Rule List Maintenance</div>
   
   <div coolType="literal"
     style="left: 15%; top: 28%; width: 26.25%; height: 4%;" coolCol="13"
     coolRow="8" coolLength="21">5  ALLS    Alert List</div>
   
   <div coolType="literal" style="left: 15%; top: 32%; width: 35%; height: 4%;"
     coolCol="13" coolRow="9" coolLength="28">6  ALMN    Alert Maintenance</div>
   
   <div coolType="literal"
     style="left: 15%; top: 36%; width: 63.75%; height: 4%;" coolCol="13"
     coolRow="10" coolLength="51">7  DRLM    Alert Distribution Rule List Maintenance</div>
   
   <div coolType="literal"
     style="left: 15%; top: 40%; width: 26.25%; height: 4%;" coolCol="13"
     coolRow="11" coolLength="21">8  EVLS    Event List</div>
   
   <div coolType="literal" style="left: 15%; top: 44%; width: 35%; height: 4%;"
     coolCol="13" coolRow="12" coolLength="28">9  EVMN    Event Maintenance</div>
   
   <div coolType="literal"
     style="left: 13.75%; top: 48%; width: 51.25%; height: 4%;" coolCol="12"
     coolRow="13" coolLength="41">10  EDLM    Event Detail List Maintenance</div>
   
   <div coolType="literal"
     style="left: 13.75%; top: 52%; width: 56.25%; height: 4%;" coolCol="12"
     coolRow="14" coolLength="45">11  LSLM    Life Cycle State List Maintenance</div>
   
   <div coolType="literal"
     style="left: 13.75%; top: 56%; width: 67.5%; height: 4%;" coolCol="12"
     coolRow="15" coolLength="54">12  LTLM    Life Cycle Transformation List Maintenance</div>
   
   <div coolType="literal"
     style="left: 13.75%; top: 60%; width: 46.25%; height: 4%;" coolCol="12"
     coolRow="16" coolLength="37">13  DMNU    Document Maintenance Menu</div>
   
   <div coolType="prompt"
     style="left: 18.75%; top: 72%; width: 31.25%; height: 4%;" coolCol="16"
     coolRow="19" coolLength="25">Please select an option :</div>
   <input type="text" coolType="field" name="field_19_42"
     [(ngModel)]="in.selection.count"
     [coolVideo]="out.selection.screenField?.count" coolAutotab coolFocus
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000000000;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 51.25%; top: 72%; width: 2.5%; height: 4%;" coolCol="42"
     coolRow="19" coolLength="2">
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="23" coolLength="78"
     style="left: 0; top: 88%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 92%; width: 42.5%; height: 4%;"
     coolCol="1" coolRow="24" coolLength="34">PFKEY : 1 Help  3 Exit  12 Signoff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>