<!--Name: SP_LAAL_LEGAL_ACT_ASGNMT_LIST, ID: 945046515, model: 746-->
<div coolContent coolName="SP_LAAL_LEGAL_ACT_ASGNMT_LIST" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 48.75%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="39">CSE - Legal Case Assignment List - LAAL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="prompt"
     style="left: 23.75%; top: 4%; width: 7.5%; height: 4%;" coolCol="20"
     coolRow="2" coolLength="6">Office</div>
   <input type="text" coolType="field" name="field_2_28"
     [(ngModel)]="in.office.systemGeneratedId"
     [coolVideo]="out.office.screenField?.systemGeneratedId" coolAutotab
     coolReadonly coolAlign="right" coolColor="cyan" coolNumber="0000;#"
     coolBlankWhenZero [attr.maxlength]="4"
     style="left: 33.75%; top: 4%; width: 5%; height: 4%;" coolCol="28"
     coolRow="2" coolLength="4">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 40%; top: 4%; width: 37.5%; height: 4%;" coolCol="33"
     coolRow="2" coolLength="30">{{in.office.name}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 16.25%; top: 8%; width: 15%; height: 4%;"
     coolCol="14" coolRow="3" coolLength="12">Service Prov</div>
   <input type="text" coolType="field" name="field_3_27"
     [(ngModel)]="in.serviceProvider.systemGeneratedId"
     [coolVideo]="out.serviceProvider.screenField?.systemGeneratedId"
     coolAutotab coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="00000;#" coolBlankWhenZero [attr.maxlength]="5"
     style="left: 32.5%; top: 8%; width: 6.25%; height: 4%;" coolCol="27"
     coolRow="3" coolLength="5">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 40%; top: 8%; width: 25%; height: 4%;" coolCol="33"
     coolRow="3" coolLength="20">{{in.serviceProvider.lastName}}</div>
   <input type="text" coolType="field" name="field_3_54"
     [(ngModel)]="in.searchPromptSvpo.selectChar"
     [coolVideo]="out.searchPromptSvpo.screenField?.selectChar" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 66.25%; top: 8%; width: 1.25%; height: 4%;" coolCol="54"
     coolRow="3" coolLength="1">
   
   <div coolType="prompt" style="left: 68.75%; top: 8%; width: 5%; height: 4%;"
     coolCol="56" coolRow="3" coolLength="4">Role</div>
   <input type="text" coolType="field" name="field_3_61"
     [(ngModel)]="in.officeServiceProvider.roleCode"
     [coolVideo]="out.officeServiceProvider.screenField?.roleCode" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 75%; top: 8%; width: 2.5%; height: 4%;" coolCol="61"
     coolRow="3" coolLength="2">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 16%; width: 13.75%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="11">Standard No</div>
   <input type="text" coolType="field" name="field_5_14"
     [(ngModel)]="in.searchLegalAction.standardNumber"
     [coolVideo]="out.searchLegalAction.screenField?.standardNumber" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="12"
     style="left: 16.25%; top: 16%; width: 15%; height: 4%;" coolCol="14"
     coolRow="5" coolLength="12">
   
   <div coolType="prompt"
     style="left: 32.5%; top: 16%; width: 12.5%; height: 4%;" coolCol="27"
     coolRow="5" coolLength="10">Trib State</div>
   <input type="text" coolType="field" name="field_5_38"
     [(ngModel)]="in.searchFipsTribAddress.state"
     [coolVideo]="out.searchFipsTribAddress.screenField?.state" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 46.25%; top: 16%; width: 2.5%; height: 4%;" coolCol="38"
     coolRow="5" coolLength="2">
   <input type="text" coolType="field" name="field_5_41"
     [(ngModel)]="in.searchTribunalPrompt.selectChar"
     [coolVideo]="out.searchTribunalPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 50%; top: 16%; width: 1.25%; height: 4%;"
     coolCol="41" coolRow="5" coolLength="1">
   
   <div coolType="prompt"
     style="left: 52.5%; top: 16%; width: 7.5%; height: 4%;" coolCol="43"
     coolRow="5" coolLength="6">County</div>
   <input type="text" coolType="field" name="field_5_50"
     [(ngModel)]="in.searchFipsTribAddress.county"
     [coolVideo]="out.searchFipsTribAddress.screenField?.county" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 61.25%; top: 16%; width: 2.5%; height: 4%;" coolCol="50"
     coolRow="5" coolLength="2">
   
   <div coolType="prompt" style="left: 65%; top: 16%; width: 8.75%; height: 4%;"
     coolCol="53" coolRow="5" coolLength="7">Country</div>
   <input type="text" coolType="field" name="field_5_61"
     [(ngModel)]="in.searchFipsTribAddress.country"
     [coolVideo]="out.searchFipsTribAddress.screenField?.country" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="2"
     style="left: 75%; top: 16%; width: 2.5%; height: 4%;" coolCol="61"
     coolRow="5" coolLength="2">
   
   <div coolType="prompt" style="left: 80%; top: 16%; width: 8.75%; height: 4%;"
     coolCol="65" coolRow="5" coolLength="7">Created</div>
   <input type="text" coolType="field" name="field_5_73"
     [(ngModel)]="in.searchLegalAction.createdTstamp"
     [coolVideo]="out.searchLegalAction.screenField?.createdTstamp" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 90%; top: 16%; width: 10%; height: 4%;"
     coolCol="73" coolRow="5" coolLength="8">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 6.25%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="5">Class</div>
   <input type="text" coolType="field" name="field_6_8"
     [(ngModel)]="in.searchLegalAction.classification"
     [coolVideo]="out.searchLegalAction.screenField?.classification" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 8.75%; top: 20%; width: 1.25%; height: 4%;" coolCol="8"
     coolRow="6" coolLength="1">
   <input type="text" coolType="field" name="field_6_10"
     [(ngModel)]="in.searchClassPrompt.selectChar"
     [coolVideo]="out.searchClassPrompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 11.25%; top: 20%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="6" coolLength="1">
   
   <div coolType="prompt"
     style="left: 16.25%; top: 20%; width: 15%; height: 4%;" coolCol="14"
     coolRow="6" coolLength="12">Action Taken</div>
   <input type="text" coolType="field" name="field_6_27"
     [(ngModel)]="in.searchActionTaken.description"
     [coolVideo]="out.searchActionTaken.screenField?.description" coolAutotab
     coolReadonly coolColor="cyan" coolUpper [attr.maxlength]="30"
     style="left: 32.5%; top: 20%; width: 37.5%; height: 4%;" coolCol="27"
     coolRow="6" coolLength="30">
   <input type="text" coolType="field" name="field_6_58"
     [(ngModel)]="in.searchActionTaknPrompt.selectChar"
     [coolVideo]="out.searchActionTaknPrompt.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 71.25%; top: 20%; width: 1.25%; height: 4%;" coolCol="58"
     coolRow="6" coolLength="1">
   
   <div coolType="prompt"
     style="left: 82.5%; top: 20%; width: 6.25%; height: 4%;" coolCol="67"
     coolRow="6" coolLength="5">Filed</div>
   <input type="text" coolType="field" name="field_6_73"
     [(ngModel)]="in.searchLegalAction.filedDate"
     [coolVideo]="out.searchLegalAction.screenField?.filedDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 90%; top: 20%; width: 10%; height: 4%;"
     coolCol="73" coolRow="6" coolLength="8">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 24%; width: 8.75%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="7">Case No</div>
   <input type="text" coolType="field" name="field_7_14"
     [(ngModel)]="in.searchCase.number"
     [coolVideo]="out.searchCase.screenField?.number" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 16.25%; top: 24%; width: 12.5%; height: 4%;" coolCol="14"
     coolRow="7" coolLength="10">
   
   <div coolType="prompt"
     style="left: 38.75%; top: 24%; width: 10%; height: 4%;" coolCol="32"
     coolRow="7" coolLength="8">Override</div>
   <input type="text" coolType="field" name="field_7_41"
     [(ngModel)]="in.searchLegalActionAssigment.overrideInd"
     [coolVideo]="out.searchLegalActionAssigment.screenField?.overrideInd"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1" style="left: 50%; top: 24%; width: 1.25%; height: 4%;"
     coolCol="41" coolRow="7" coolLength="1">
   
   <div coolType="prompt"
     style="left: 61.25%; top: 24%; width: 18.75%; height: 4%;" coolCol="50"
     coolRow="7" coolLength="15">LACT/ASIN Count</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 81.25%; top: 24%; width: 7.5%; height: 4%;" coolCol="66"
     coolRow="7" coolLength="6">{{in.asgnCount.count|coolNumber:'#####0;#':0}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="1">S</div>
   
   <div coolType="prompt"
     style="left: 3.75%; top: 32%; width: 8.75%; height: 4%;" coolCol="4"
     coolRow="9" coolLength="7">Case No</div>
   
   <div coolType="prompt"
     style="left: 17.5%; top: 32%; width: 13.75%; height: 4%;" coolCol="15"
     coolRow="9" coolLength="11">Standard No</div>
   
   <div coolType="prompt"
     style="left: 33.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="9" coolLength="1">O</div>
   
   <div coolType="prompt"
     style="left: 36.25%; top: 32%; width: 8.75%; height: 4%;" coolCol="30"
     coolRow="9" coolLength="7">Created</div>
   
   <div coolType="prompt"
     style="left: 47.5%; top: 32%; width: 6.25%; height: 4%;" coolCol="39"
     coolRow="9" coolLength="5">Filed</div>
   
   <div coolType="prompt"
     style="left: 58.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="9" coolLength="1">C</div>
   
   <div coolType="prompt"
     style="left: 61.25%; top: 32%; width: 15%; height: 4%;" coolCol="50"
     coolRow="9" coolLength="12">Action Taken</div>
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="ref(in.group, 0, 'common.selectChar').value"
     [coolVideo]="out.group?.[0]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="1" [hidden]="!length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 36%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="10" coolLength="10" [hidden]="!length(in.group)">{{in.group?.[0]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 36%; width: 15%; height: 4%;" coolCol="15"
     coolRow="10" coolLength="12" [hidden]="!length(in.group)">{{in.group?.[0]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="10" coolLength="1" [hidden]="!length(in.group)">{{in.group?.[0]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 36%; width: 10%; height: 4%;" coolCol="30"
     coolRow="10" coolLength="8" [hidden]="!length(in.group)">{{in.group?.[0]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 36%; width: 10%; height: 4%;" coolCol="39"
     coolRow="10" coolLength="8" [hidden]="!length(in.group)">{{in.group?.[0]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="10" coolLength="1" [hidden]="!length(in.group)">{{in.group?.[0]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 36%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="10" coolLength="30" [hidden]="!length(in.group)">{{in.group?.[0]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_11_2"
     [(ngModel)]="ref(in.group, 1, 'common.selectChar').value"
     [coolVideo]="out.group?.[1]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="11" coolLength="1" [hidden]="1 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 40%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="11" coolLength="10" [hidden]="1 >= length(in.group)">{{in.group?.[1]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 40%; width: 15%; height: 4%;" coolCol="15"
     coolRow="11" coolLength="12" [hidden]="1 >= length(in.group)">{{in.group?.[1]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="11" coolLength="1" [hidden]="1 >= length(in.group)">{{in.group?.[1]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 40%; width: 10%; height: 4%;" coolCol="30"
     coolRow="11" coolLength="8" [hidden]="1 >= length(in.group)">{{in.group?.[1]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 40%; width: 10%; height: 4%;" coolCol="39"
     coolRow="11" coolLength="8" [hidden]="1 >= length(in.group)">{{in.group?.[1]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="11" coolLength="1" [hidden]="1 >= length(in.group)">{{in.group?.[1]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 40%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="11" coolLength="30" [hidden]="1 >= length(in.group)">{{in.group?.[1]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.group, 2, 'common.selectChar').value"
     [coolVideo]="out.group?.[2]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1" [hidden]="2 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 44%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="12" coolLength="10" [hidden]="2 >= length(in.group)">{{in.group?.[2]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 44%; width: 15%; height: 4%;" coolCol="15"
     coolRow="12" coolLength="12" [hidden]="2 >= length(in.group)">{{in.group?.[2]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="12" coolLength="1" [hidden]="2 >= length(in.group)">{{in.group?.[2]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 44%; width: 10%; height: 4%;" coolCol="30"
     coolRow="12" coolLength="8" [hidden]="2 >= length(in.group)">{{in.group?.[2]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 44%; width: 10%; height: 4%;" coolCol="39"
     coolRow="12" coolLength="8" [hidden]="2 >= length(in.group)">{{in.group?.[2]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="12" coolLength="1" [hidden]="2 >= length(in.group)">{{in.group?.[2]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 44%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="12" coolLength="30" [hidden]="2 >= length(in.group)">{{in.group?.[2]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.group, 3, 'common.selectChar').value"
     [coolVideo]="out.group?.[3]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1" [hidden]="3 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 48%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="13" coolLength="10" [hidden]="3 >= length(in.group)">{{in.group?.[3]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 48%; width: 15%; height: 4%;" coolCol="15"
     coolRow="13" coolLength="12" [hidden]="3 >= length(in.group)">{{in.group?.[3]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="13" coolLength="1" [hidden]="3 >= length(in.group)">{{in.group?.[3]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 48%; width: 10%; height: 4%;" coolCol="30"
     coolRow="13" coolLength="8" [hidden]="3 >= length(in.group)">{{in.group?.[3]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 48%; width: 10%; height: 4%;" coolCol="39"
     coolRow="13" coolLength="8" [hidden]="3 >= length(in.group)">{{in.group?.[3]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="13" coolLength="1" [hidden]="3 >= length(in.group)">{{in.group?.[3]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 48%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="13" coolLength="30" [hidden]="3 >= length(in.group)">{{in.group?.[3]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.group, 4, 'common.selectChar').value"
     [coolVideo]="out.group?.[4]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1" [hidden]="4 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 52%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="14" coolLength="10" [hidden]="4 >= length(in.group)">{{in.group?.[4]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 52%; width: 15%; height: 4%;" coolCol="15"
     coolRow="14" coolLength="12" [hidden]="4 >= length(in.group)">{{in.group?.[4]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="14" coolLength="1" [hidden]="4 >= length(in.group)">{{in.group?.[4]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 52%; width: 10%; height: 4%;" coolCol="30"
     coolRow="14" coolLength="8" [hidden]="4 >= length(in.group)">{{in.group?.[4]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 52%; width: 10%; height: 4%;" coolCol="39"
     coolRow="14" coolLength="8" [hidden]="4 >= length(in.group)">{{in.group?.[4]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="14" coolLength="1" [hidden]="4 >= length(in.group)">{{in.group?.[4]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 52%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="14" coolLength="30" [hidden]="4 >= length(in.group)">{{in.group?.[4]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.group, 5, 'common.selectChar').value"
     [coolVideo]="out.group?.[5]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1" [hidden]="5 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 56%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="15" coolLength="10" [hidden]="5 >= length(in.group)">{{in.group?.[5]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 56%; width: 15%; height: 4%;" coolCol="15"
     coolRow="15" coolLength="12" [hidden]="5 >= length(in.group)">{{in.group?.[5]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="15" coolLength="1" [hidden]="5 >= length(in.group)">{{in.group?.[5]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 56%; width: 10%; height: 4%;" coolCol="30"
     coolRow="15" coolLength="8" [hidden]="5 >= length(in.group)">{{in.group?.[5]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 56%; width: 10%; height: 4%;" coolCol="39"
     coolRow="15" coolLength="8" [hidden]="5 >= length(in.group)">{{in.group?.[5]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="15" coolLength="1" [hidden]="5 >= length(in.group)">{{in.group?.[5]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 56%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="15" coolLength="30" [hidden]="5 >= length(in.group)">{{in.group?.[5]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.group, 6, 'common.selectChar').value"
     [coolVideo]="out.group?.[6]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1" [hidden]="6 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 60%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="16" coolLength="10" [hidden]="6 >= length(in.group)">{{in.group?.[6]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 60%; width: 15%; height: 4%;" coolCol="15"
     coolRow="16" coolLength="12" [hidden]="6 >= length(in.group)">{{in.group?.[6]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="16" coolLength="1" [hidden]="6 >= length(in.group)">{{in.group?.[6]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 60%; width: 10%; height: 4%;" coolCol="30"
     coolRow="16" coolLength="8" [hidden]="6 >= length(in.group)">{{in.group?.[6]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 60%; width: 10%; height: 4%;" coolCol="39"
     coolRow="16" coolLength="8" [hidden]="6 >= length(in.group)">{{in.group?.[6]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="16" coolLength="1" [hidden]="6 >= length(in.group)">{{in.group?.[6]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 60%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="16" coolLength="30" [hidden]="6 >= length(in.group)">{{in.group?.[6]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.group, 7, 'common.selectChar').value"
     [coolVideo]="out.group?.[7]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1" [hidden]="7 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 64%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="17" coolLength="10" [hidden]="7 >= length(in.group)">{{in.group?.[7]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 64%; width: 15%; height: 4%;" coolCol="15"
     coolRow="17" coolLength="12" [hidden]="7 >= length(in.group)">{{in.group?.[7]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="17" coolLength="1" [hidden]="7 >= length(in.group)">{{in.group?.[7]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 64%; width: 10%; height: 4%;" coolCol="30"
     coolRow="17" coolLength="8" [hidden]="7 >= length(in.group)">{{in.group?.[7]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 64%; width: 10%; height: 4%;" coolCol="39"
     coolRow="17" coolLength="8" [hidden]="7 >= length(in.group)">{{in.group?.[7]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="17" coolLength="1" [hidden]="7 >= length(in.group)">{{in.group?.[7]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 64%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="17" coolLength="30" [hidden]="7 >= length(in.group)">{{in.group?.[7]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.group, 8, 'common.selectChar').value"
     [coolVideo]="out.group?.[8]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1" [hidden]="8 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 68%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="18" coolLength="10" [hidden]="8 >= length(in.group)">{{in.group?.[8]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 68%; width: 15%; height: 4%;" coolCol="15"
     coolRow="18" coolLength="12" [hidden]="8 >= length(in.group)">{{in.group?.[8]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="18" coolLength="1" [hidden]="8 >= length(in.group)">{{in.group?.[8]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 68%; width: 10%; height: 4%;" coolCol="30"
     coolRow="18" coolLength="8" [hidden]="8 >= length(in.group)">{{in.group?.[8]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 68%; width: 10%; height: 4%;" coolCol="39"
     coolRow="18" coolLength="8" [hidden]="8 >= length(in.group)">{{in.group?.[8]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="18" coolLength="1" [hidden]="8 >= length(in.group)">{{in.group?.[8]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 68%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="18" coolLength="30" [hidden]="8 >= length(in.group)">{{in.group?.[8]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.group, 9, 'common.selectChar').value"
     [coolVideo]="out.group?.[9]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1" [hidden]="9 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 72%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="19" coolLength="10" [hidden]="9 >= length(in.group)">{{in.group?.[9]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 72%; width: 15%; height: 4%;" coolCol="15"
     coolRow="19" coolLength="12" [hidden]="9 >= length(in.group)">{{in.group?.[9]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="19" coolLength="1" [hidden]="9 >= length(in.group)">{{in.group?.[9]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 72%; width: 10%; height: 4%;" coolCol="30"
     coolRow="19" coolLength="8" [hidden]="9 >= length(in.group)">{{in.group?.[9]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 72%; width: 10%; height: 4%;" coolCol="39"
     coolRow="19" coolLength="8" [hidden]="9 >= length(in.group)">{{in.group?.[9]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="19" coolLength="1" [hidden]="9 >= length(in.group)">{{in.group?.[9]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 72%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="19" coolLength="30" [hidden]="9 >= length(in.group)">{{in.group?.[9]?.legalAction.actionTaken}}</div>
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.group, 10, 'common.selectChar').value"
     [coolVideo]="out.group?.[10]?.common.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1" [hidden]="10 >= length(in.group)">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 3.75%; top: 76%; width: 12.5%; height: 4%;" coolCol="4"
     coolRow="20" coolLength="10" [hidden]="10 >= length(in.group)">{{in.group?.[10]?.case1.number}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 17.5%; top: 76%; width: 15%; height: 4%;" coolCol="15"
     coolRow="20" coolLength="12" [hidden]="10 >= length(in.group)">{{in.group?.[10]?.legalAction.standardNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="20" coolLength="1" [hidden]="10 >= length(in.group)">{{in.group?.[10]?.legalActionAssigment.overrideInd}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 36.25%; top: 76%; width: 10%; height: 4%;" coolCol="30"
     coolRow="20" coolLength="8" [hidden]="10 >= length(in.group)">{{in.group?.[10]?.legalAction.createdTstamp|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 47.5%; top: 76%; width: 10%; height: 4%;" coolCol="39"
     coolRow="20" coolLength="8" [hidden]="10 >= length(in.group)">{{in.group?.[10]?.legalAction.filedDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 58.75%; top: 76%; width: 1.25%; height: 4%;" coolCol="48"
     coolRow="20" coolLength="1" [hidden]="10 >= length(in.group)">{{in.group?.[10]?.legalAction.classification}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 76%; width: 37.5%; height: 4%;" coolCol="50"
     coolRow="20" coolLength="30" [hidden]="10 >= length(in.group)">{{in.group?.[10]?.legalAction.actionTaken}}</div>
   
   <div coolType="literal" style="left: 45%; top: 80%; width: 5%; height: 4%;"
     coolCol="37" coolRow="21" coolLength="4">Page</div>
   
   <div coolType="field" coolAlign="right" coolColor="white"
     style="left: 51.25%; top: 80%; width: 3.75%; height: 4%;" coolCol="42"
     coolRow="21" coolLength="3">{{in.screenNumber.count|coolNumber:'##0;#':0}}</div>
   
   <div coolType="literal"
     style="left: 56.25%; top: 80%; width: 2.5%; height: 4%;" coolCol="46"
     coolRow="21" coolLength="2">of</div>
   
   <div coolType="field" coolAlign="right" coolColor="white"
     style="left: 60%; top: 80%; width: 3.75%; height: 4%;" coolCol="49"
     coolRow="21" coolLength="3">{{in.maxScreenNumber.count|coolNumber:'##0;#':0}}</div>
   
   <div coolType="prompt" style="left: 82.5%; top: 80%; width: 5%; height: 4%;"
     coolCol="67" coolRow="21" coolLength="4">More</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 88.75%; top: 80%; width: 1.25%; height: 4%;" coolCol="72"
     coolRow="21" coolLength="1">{{in.scrollingAttributes.minusFlag}}</div>
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 91.25%; top: 80%; width: 1.25%; height: 4%;" coolCol="74"
     coolRow="21" coolLength="1">{{in.scrollingAttributes.plusFlag}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 85%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="68">PF Key:  1 Help  2 Display  3 Exit  4 List  7 Prev  8 Next  11 Clear</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 92%; width: 87.5%; height: 4%;" coolCol="10"
     coolRow="24" coolLength="70">12 Signoff  15 LACT  16 LACT/ASIN  17 LGRQ  18 Print  19 IWGL  20 COMP</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="LACT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=LACT</a>
   <a coolType="action" coolCommand="ASIN" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=ASIN</a>
   <a coolType="action" coolCommand="LGRQ" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=LGRQ</a>
   <a coolType="action" coolCommand="PRINT" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=PRINT</a>
   <a coolType="action" coolCommand="IWGL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F7">F19=IWGL</a>
   <a coolType="action" coolCommand="COMP" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F8">F20=COMP</a>
   </div>