<!--Name: SP_MONA_MANAGE_MONITORED_ACTIVTY, ID: 371929773, model: 746-->
<div coolContent coolName="SP_MONA_MANAGE_MONITORED_ACTIVTY" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 52.5%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="42">CSE - Monitored Activity Management - MONA</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 8%; width: 7.5%; height: 4%;"
     coolCol="2" coolRow="3" coolLength="6">SrvPrv</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 10%; top: 8%; width: 8.75%; height: 4%;" coolCol="9"
     coolRow="3" coolLength="7">{{in.headerServiceProvider.userId}}</div>
   <input type="text" coolType="field" name="field_3_17"
     [(ngModel)]="in.headerPromptSvpo.promptField"
     [coolVideo]="out.headerPromptSvpo.screenField?.promptField" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" style="left: 20%; top: 8%; width: 1.25%; height: 4%;"
     coolCol="17" coolRow="3" coolLength="1">
   
   <div coolType="prompt"
     style="left: 23.75%; top: 8%; width: 3.75%; height: 4%;" coolCol="20"
     coolRow="3" coolLength="3">Off</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 28.75%; top: 8%; width: 5%; height: 4%;" coolCol="24"
     coolRow="3" coolLength="4">{{in.headerOffice.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="prompt"
     style="left: 36.25%; top: 8%; width: 3.75%; height: 4%;" coolCol="30"
     coolRow="3" coolLength="3">Rol</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 41.25%; top: 8%; width: 2.5%; height: 4%;" coolCol="34"
     coolRow="3" coolLength="2">{{in.headerOfficeServiceProvider.roleCode}}</div>
   
   <div coolType="prompt"
     style="left: 46.25%; top: 8%; width: 2.5%; height: 4%;" coolCol="38"
     coolRow="3" coolLength="2">Dt</div>
   <input type="text" coolType="field" name="field_3_41"
     [(ngModel)]="in.headerFilterStartRange.date"
     [coolVideo]="out.headerFilterStartRange.screenField?.date" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 50%; top: 8%; width: 10%; height: 4%;"
     coolCol="41" coolRow="3" coolLength="8">
   <input type="text" coolType="field" name="field_3_50"
     [(ngModel)]="in.headerFilterDateType.text4"
     [coolVideo]="out.headerFilterDateType.screenField?.text4" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 61.25%; top: 8%; width: 5%; height: 4%;" coolCol="50"
     coolRow="3" coolLength="4">
   <input type="text" coolType="field" name="field_3_55"
     [(ngModel)]="in.headerPromptDateFilter.promptField"
     [coolVideo]="out.headerPrompDateFilter.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 67.5%; top: 8%; width: 1.25%; height: 4%;" coolCol="55"
     coolRow="3" coolLength="1">
   
   <div coolType="prompt" style="left: 70%; top: 8%; width: 10%; height: 4%;"
     coolCol="57" coolRow="3" coolLength="8">Show all</div>
   <input type="text" coolType="field" name="field_3_66"
     [(ngModel)]="in.headerShowAll.oneChar"
     [coolVideo]="out.headerShowAll.screenField?.oneChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 81.25%; top: 8%; width: 1.25%; height: 4%;" coolCol="66"
     coolRow="3" coolLength="1">
   
   <div coolType="prompt"
     style="left: 83.75%; top: 8%; width: 7.5%; height: 4%;" coolCol="68"
     coolRow="3" coolLength="6">AsgRgn</div>
   <input type="text" coolType="field" name="field_3_75"
     [(ngModel)]="in.headerMonitoredActivityAssignment.reasonCode"
     [coolVideo]="out.headerMonitoredActivityAssignment.screenField?.reasonCode"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="3"
     style="left: 92.5%; top: 8%; width: 3.75%; height: 4%;" coolCol="75"
     coolRow="3" coolLength="3">
   <input type="text" coolType="field" name="field_3_79"
     [(ngModel)]="in.headerPromptMonActAsn.promptField"
     [coolVideo]="out.headerPromptMonActAsn.screenField?.promptField"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     style="left: 97.5%; top: 8%; width: 1.25%; height: 4%;" coolCol="79"
     coolRow="3" coolLength="1">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 12%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="4" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_4_9"
     [(ngModel)]="in.headerInfrastructure.caseNumber"
     [coolVideo]="out.headerInfrastructure.screenField?.caseNumber" coolAutotab
     coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 10%; top: 12%; width: 12.5%; height: 4%;" coolCol="9"
     coolRow="4" coolLength="10">
   
   <div coolType="prompt" style="left: 25%; top: 12%; width: 7.5%; height: 4%;"
     coolCol="21" coolRow="4" coolLength="6">Person</div>
   <input type="text" coolType="field" name="field_4_28"
     [(ngModel)]="in.headerInfrastructure.csePersonNumber"
     [coolVideo]="out.headerInfrastructure.screenField?.csePersonNumber"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 33.75%; top: 12%; width: 12.5%; height: 4%;" coolCol="28"
     coolRow="4" coolLength="10">
   
   <div coolType="prompt"
     style="left: 48.75%; top: 12%; width: 3.75%; height: 4%;" coolCol="40"
     coolRow="4" coolLength="3">CC#</div>
   <input type="text" coolType="field" name="field_4_44"
     [(ngModel)]="in.headerLegalAction.courtCaseNumber"
     [coolVideo]="out.headerLegalAction.screenField?.courtCaseNumber"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 53.75%; top: 12%; width: 21.25%; height: 4%;" coolCol="44"
     coolRow="4" coolLength="17">
   
   <div coolType="prompt"
     style="left: 77.5%; top: 12%; width: 2.5%; height: 4%;" coolCol="63"
     coolRow="4" coolLength="2">ST</div>
   <input type="text" coolType="field" name="field_4_66"
     [(ngModel)]="in.headerFips.stateAbbreviation"
     [coolVideo]="out.headerFips.screenField?.stateAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 81.25%; top: 12%; width: 2.5%; height: 4%;" coolCol="66"
     coolRow="4" coolLength="2">
   
   <div coolType="prompt" style="left: 85%; top: 12%; width: 2.5%; height: 4%;"
     coolCol="69" coolRow="4" coolLength="2">CO</div>
   <input type="text" coolType="field" name="field_4_72"
     [(ngModel)]="in.headerFips.countyAbbreviation"
     [coolVideo]="out.headerFips.screenField?.countyAbbreviation" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 88.75%; top: 12%; width: 2.5%; height: 4%;" coolCol="72"
     coolRow="4" coolLength="2">
   
   <div coolType="prompt"
     style="left: 92.5%; top: 12%; width: 2.5%; height: 4%;" coolCol="75"
     coolRow="4" coolLength="2">CY</div>
   <input type="text" coolType="field" name="field_4_78"
     [(ngModel)]="in.headerFipsTribAddress.country"
     [coolVideo]="out.headerFipsTribAddress.screenField?.country" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 96.25%; top: 12%; width: 2.5%; height: 4%;" coolCol="78"
     coolRow="4" coolLength="2">
   
   <div coolType="literal"
     style="left: 1.25%; top: 16%; width: 98.75%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="79">Sel  Type FdNComp   ONComp    Start Dt  Close Dt  Rsn   Source   Case #    Unit</div>
   <input type="text" coolType="field" name="field_6_3"
     [(ngModel)]="ref(in.group, 0, 'common.selectChar').value"
     [coolVideo]="out.group?.[0]?.common.screenField?.selectChar" coolAutotab
     #field_6_3 coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 20%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="6" coolLength="1">
   <input type="text" coolType="field" name="field_6_7"
     [(ngModel)]="ref(in.group, 0, 'monitoredActivity.typeCode').value"
     [coolVideo]="out.group?.[0]?.monitoredActivity.screenField?.typeCode"
     coolAutotab #field_6_7 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="3"
     style="left: 7.5%; top: 20%; width: 3.75%; height: 4%;" coolCol="7"
     coolRow="6" coolLength="3">
   <input type="text" coolType="field" name="field_6_12"
     [(ngModel)]="ref(in.group, 0, 'monitoredActivity.fedNonComplianceDate').value"
     [coolVideo]="out.group?.[0]?.monitoredActivity.screenField?.fedNonComplianceDate"
     coolAutotab #field_6_12 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 13.75%; top: 20%; width: 10%; height: 4%;" coolCol="12"
     coolRow="6" coolLength="8">
   <input type="text" coolType="field" name="field_6_22"
     [(ngModel)]="ref(in.group, 0, 'monitoredActivity.otherNonComplianceDate').value"
     [coolVideo]="out.group?.[0]?.monitoredActivity.screenField?.otherNonComplianceDate"
     coolAutotab #field_6_22 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 26.25%; top: 20%; width: 10%; height: 4%;" coolCol="22"
     coolRow="6" coolLength="8">
   <input type="text" coolType="field" name="field_6_32"
     [(ngModel)]="ref(in.group, 0, 'monitoredActivity.startDate').value"
     [coolVideo]="out.group?.[0]?.monitoredActivity.screenField?.startDate"
     coolAutotab #field_6_32 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 38.75%; top: 20%; width: 10%; height: 4%;" coolCol="32"
     coolRow="6" coolLength="8">
   <input type="text" coolType="field" name="field_6_42"
     [(ngModel)]="ref(in.group, 0, 'monitoredActivity.closureDate').value"
     [coolVideo]="out.group?.[0]?.monitoredActivity.screenField?.closureDate"
     coolAutotab #field_6_42 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 51.25%; top: 20%; width: 10%; height: 4%;" coolCol="42"
     coolRow="6" coolLength="8">
   <input type="text" coolType="field" name="field_6_52"
     [(ngModel)]="ref(in.group, 0, 'monitoredActivity.closureReasonCode').value"
     [coolVideo]="out.group?.[0]?.monitoredActivity.screenField?.closureReasonCode"
     coolAutotab #field_6_52 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 63.75%; top: 20%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="6" coolLength="3">
   <input type="text" coolType="field" name="field_6_56"
     [(ngModel)]="ref(in.group, 0, 'promptReason.promptField').value"
     [coolVideo]="out.group?.[0]?.promptReason.screenField?.promptField"
     coolAutotab #field_6_56 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 68.75%; top: 20%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="6" coolLength="1">
   <input type="text" coolType="field" name="field_6_58"
     [(ngModel)]="ref(in.group, 0, 'monitoredActivity.createdBy').value"
     [coolVideo]="out.group?.[0]?.monitoredActivity.screenField?.createdBy"
     coolAutotab #field_6_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="8"
     style="left: 71.25%; top: 20%; width: 10%; height: 4%;" coolCol="58"
     coolRow="6" coolLength="8">
   <input type="text" coolType="field" name="field_6_67"
     [(ngModel)]="ref(in.group, 0, 'infrastructure.caseNumber').value"
     [coolVideo]="out.group?.[0]?.infrastructure.screenField?.caseNumber"
     coolAutotab #field_6_67 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 82.5%; top: 20%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="6" coolLength="10">
   <input type="text" coolType="field" name="field_6_78"
     [(ngModel)]="ref(in.group, 0, 'infrastructure.caseUnitNumber').value"
     [coolVideo]="out.group?.[0]?.infrastructure.screenField?.caseUnitNumber"
     coolAutotab #field_6_78 coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 96.25%; top: 20%; width: 3.75%; height: 4%;" coolCol="78"
     coolRow="6" coolLength="3">
   <input type="text" coolType="field" name="field_7_6"
     [(ngModel)]="ref(in.group, 0, 'monitoredActivity.name').value"
     [coolVideo]="out.group?.[0]?.monitoredActivity.screenField?.name"
     coolAutotab #field_7_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="40"
     style="left: 6.25%; top: 24%; width: 50%; height: 4%;" coolCol="6"
     coolRow="7" coolLength="40">
   <input type="text" coolType="field" name="field_7_47"
     [(ngModel)]="ref(in.group, 0, 'infrastructure.csePersonNumber').value"
     [coolVideo]="out.group?.[0]?.infrastructure.screenField?.csePersonNumber"
     coolAutotab #field_7_47 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 57.5%; top: 24%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="7" coolLength="10">
   <input type="text" coolType="field" name="field_7_58"
     [(ngModel)]="ref(in.group, 0, 'csePersonsWorkSet.formattedName').value"
     [coolVideo]="out.group?.[0]?.csePersonsWorkSet.screenField?.formattedName"
     coolAutotab #field_7_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="23"
     style="left: 71.25%; top: 24%; width: 28.75%; height: 4%;" coolCol="58"
     coolRow="7" coolLength="23">
   <input type="text" coolType="field" name="field_8_6"
     [(ngModel)]="ref(in.group, 0, 'infrastructure.detail').value"
     [coolVideo]="out.group?.[0]?.infrastructure.screenField?.detail"
     coolAutotab #field_8_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="55"
     style="left: 6.25%; top: 28%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="8" coolLength="55">
   <input type="text" coolType="field" name="field_8_64"
     [(ngModel)]="ref(in.group, 0, 'legalAction.courtCaseNumber').value"
     [coolVideo]="out.group?.[0]?.legalAction.screenField?.courtCaseNumber"
     coolAutotab #field_8_64 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="17"
     style="left: 78.75%; top: 28%; width: 21.25%; height: 4%;" coolCol="64"
     coolRow="8" coolLength="17">
   <input type="text" coolType="field" name="field_9_3"
     [(ngModel)]="ref(in.group, 1, 'common.selectChar').value"
     [coolVideo]="out.group?.[1]?.common.screenField?.selectChar" coolAutotab
     #field_9_3 coolFocus coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 2.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="9" coolLength="1">
   <input type="text" coolType="field" name="field_9_7"
     [(ngModel)]="ref(in.group, 1, 'monitoredActivity.typeCode').value"
     [coolVideo]="out.group?.[1]?.monitoredActivity.screenField?.typeCode"
     coolAutotab #field_9_7 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="3"
     style="left: 7.5%; top: 32%; width: 3.75%; height: 4%;" coolCol="7"
     coolRow="9" coolLength="3">
   <input type="text" coolType="field" name="field_9_12"
     [(ngModel)]="ref(in.group, 1, 'monitoredActivity.fedNonComplianceDate').value"
     [coolVideo]="out.group?.[1]?.monitoredActivity.screenField?.fedNonComplianceDate"
     coolAutotab #field_9_12 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 13.75%; top: 32%; width: 10%; height: 4%;" coolCol="12"
     coolRow="9" coolLength="8">
   <input type="text" coolType="field" name="field_9_22"
     [(ngModel)]="ref(in.group, 1, 'monitoredActivity.otherNonComplianceDate').value"
     [coolVideo]="out.group?.[1]?.monitoredActivity.screenField?.otherNonComplianceDate"
     coolAutotab #field_9_22 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 26.25%; top: 32%; width: 10%; height: 4%;" coolCol="22"
     coolRow="9" coolLength="8">
   <input type="text" coolType="field" name="field_9_32"
     [(ngModel)]="ref(in.group, 1, 'monitoredActivity.startDate').value"
     [coolVideo]="out.group?.[1]?.monitoredActivity.screenField?.startDate"
     coolAutotab #field_9_32 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 38.75%; top: 32%; width: 10%; height: 4%;" coolCol="32"
     coolRow="9" coolLength="8">
   <input type="text" coolType="field" name="field_9_42"
     [(ngModel)]="ref(in.group, 1, 'monitoredActivity.closureDate').value"
     [coolVideo]="out.group?.[1]?.monitoredActivity.screenField?.closureDate"
     coolAutotab #field_9_42 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 51.25%; top: 32%; width: 10%; height: 4%;" coolCol="42"
     coolRow="9" coolLength="8">
   <input type="text" coolType="field" name="field_9_52"
     [(ngModel)]="ref(in.group, 1, 'monitoredActivity.closureReasonCode').value"
     [coolVideo]="out.group?.[1]?.monitoredActivity.screenField?.closureReasonCode"
     coolAutotab #field_9_52 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 63.75%; top: 32%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="9" coolLength="3">
   <input type="text" coolType="field" name="field_9_56"
     [(ngModel)]="ref(in.group, 1, 'promptReason.promptField').value"
     [coolVideo]="out.group?.[1]?.promptReason.screenField?.promptField"
     coolAutotab #field_9_56 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 68.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="9" coolLength="1">
   <input type="text" coolType="field" name="field_9_58"
     [(ngModel)]="ref(in.group, 1, 'monitoredActivity.createdBy').value"
     [coolVideo]="out.group?.[1]?.monitoredActivity.screenField?.createdBy"
     coolAutotab #field_9_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="8"
     style="left: 71.25%; top: 32%; width: 10%; height: 4%;" coolCol="58"
     coolRow="9" coolLength="8">
   <input type="text" coolType="field" name="field_9_67"
     [(ngModel)]="ref(in.group, 1, 'infrastructure.caseNumber').value"
     [coolVideo]="out.group?.[1]?.infrastructure.screenField?.caseNumber"
     coolAutotab #field_9_67 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 82.5%; top: 32%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="9" coolLength="10">
   <input type="text" coolType="field" name="field_9_78"
     [(ngModel)]="ref(in.group, 1, 'infrastructure.caseUnitNumber').value"
     [coolVideo]="out.group?.[1]?.infrastructure.screenField?.caseUnitNumber"
     coolAutotab #field_9_78 coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 96.25%; top: 32%; width: 3.75%; height: 4%;" coolCol="78"
     coolRow="9" coolLength="3">
   <input type="text" coolType="field" name="field_10_6"
     [(ngModel)]="ref(in.group, 1, 'monitoredActivity.name').value"
     [coolVideo]="out.group?.[1]?.monitoredActivity.screenField?.name"
     coolAutotab #field_10_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="40"
     style="left: 6.25%; top: 36%; width: 50%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="40">
   <input type="text" coolType="field" name="field_10_47"
     [(ngModel)]="ref(in.group, 1, 'infrastructure.csePersonNumber').value"
     [coolVideo]="out.group?.[1]?.infrastructure.screenField?.csePersonNumber"
     coolAutotab #field_10_47 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 57.5%; top: 36%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="10" coolLength="10">
   <input type="text" coolType="field" name="field_10_58"
     [(ngModel)]="ref(in.group, 1, 'csePersonsWorkSet.formattedName').value"
     [coolVideo]="out.group?.[1]?.csePersonsWorkSet.screenField?.formattedName"
     coolAutotab #field_10_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="23"
     style="left: 71.25%; top: 36%; width: 28.75%; height: 4%;" coolCol="58"
     coolRow="10" coolLength="23">
   <input type="text" coolType="field" name="field_11_6"
     [(ngModel)]="ref(in.group, 1, 'infrastructure.detail').value"
     [coolVideo]="out.group?.[1]?.infrastructure.screenField?.detail"
     coolAutotab #field_11_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="55"
     style="left: 6.25%; top: 40%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="11" coolLength="55">
   <input type="text" coolType="field" name="field_11_64"
     [(ngModel)]="ref(in.group, 1, 'legalAction.courtCaseNumber').value"
     [coolVideo]="out.group?.[1]?.legalAction.screenField?.courtCaseNumber"
     coolAutotab #field_11_64 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="17"
     style="left: 78.75%; top: 40%; width: 21.25%; height: 4%;" coolCol="64"
     coolRow="11" coolLength="17">
   <input type="text" coolType="field" name="field_12_3"
     [(ngModel)]="ref(in.group, 2, 'common.selectChar').value"
     [coolVideo]="out.group?.[2]?.common.screenField?.selectChar" coolAutotab
     #field_12_3 coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="12" coolLength="1">
   <input type="text" coolType="field" name="field_12_7"
     [(ngModel)]="ref(in.group, 2, 'monitoredActivity.typeCode').value"
     [coolVideo]="out.group?.[2]?.monitoredActivity.screenField?.typeCode"
     coolAutotab #field_12_7 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="3"
     style="left: 7.5%; top: 44%; width: 3.75%; height: 4%;" coolCol="7"
     coolRow="12" coolLength="3">
   <input type="text" coolType="field" name="field_12_12"
     [(ngModel)]="ref(in.group, 2, 'monitoredActivity.fedNonComplianceDate').value"
     [coolVideo]="out.group?.[2]?.monitoredActivity.screenField?.fedNonComplianceDate"
     coolAutotab #field_12_12 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 13.75%; top: 44%; width: 10%; height: 4%;" coolCol="12"
     coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_22"
     [(ngModel)]="ref(in.group, 2, 'monitoredActivity.otherNonComplianceDate').value"
     [coolVideo]="out.group?.[2]?.monitoredActivity.screenField?.otherNonComplianceDate"
     coolAutotab #field_12_22 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 26.25%; top: 44%; width: 10%; height: 4%;" coolCol="22"
     coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_32"
     [(ngModel)]="ref(in.group, 2, 'monitoredActivity.startDate').value"
     [coolVideo]="out.group?.[2]?.monitoredActivity.screenField?.startDate"
     coolAutotab #field_12_32 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 38.75%; top: 44%; width: 10%; height: 4%;" coolCol="32"
     coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_42"
     [(ngModel)]="ref(in.group, 2, 'monitoredActivity.closureDate').value"
     [coolVideo]="out.group?.[2]?.monitoredActivity.screenField?.closureDate"
     coolAutotab #field_12_42 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 51.25%; top: 44%; width: 10%; height: 4%;" coolCol="42"
     coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_52"
     [(ngModel)]="ref(in.group, 2, 'monitoredActivity.closureReasonCode').value"
     [coolVideo]="out.group?.[2]?.monitoredActivity.screenField?.closureReasonCode"
     coolAutotab #field_12_52 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 63.75%; top: 44%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="12" coolLength="3">
   <input type="text" coolType="field" name="field_12_56"
     [(ngModel)]="ref(in.group, 2, 'promptReason.promptField').value"
     [coolVideo]="out.group?.[2]?.promptReason.screenField?.promptField"
     coolAutotab #field_12_56 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 68.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="12" coolLength="1">
   <input type="text" coolType="field" name="field_12_58"
     [(ngModel)]="ref(in.group, 2, 'monitoredActivity.createdBy').value"
     [coolVideo]="out.group?.[2]?.monitoredActivity.screenField?.createdBy"
     coolAutotab #field_12_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="8"
     style="left: 71.25%; top: 44%; width: 10%; height: 4%;" coolCol="58"
     coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_67"
     [(ngModel)]="ref(in.group, 2, 'infrastructure.caseNumber').value"
     [coolVideo]="out.group?.[2]?.infrastructure.screenField?.caseNumber"
     coolAutotab #field_12_67 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 82.5%; top: 44%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="12" coolLength="10">
   <input type="text" coolType="field" name="field_12_78"
     [(ngModel)]="ref(in.group, 2, 'infrastructure.caseUnitNumber').value"
     [coolVideo]="out.group?.[2]?.infrastructure.screenField?.caseUnitNumber"
     coolAutotab #field_12_78 coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 96.25%; top: 44%; width: 3.75%; height: 4%;" coolCol="78"
     coolRow="12" coolLength="3">
   <input type="text" coolType="field" name="field_13_6"
     [(ngModel)]="ref(in.group, 2, 'monitoredActivity.name').value"
     [coolVideo]="out.group?.[2]?.monitoredActivity.screenField?.name"
     coolAutotab #field_13_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="40"
     style="left: 6.25%; top: 48%; width: 50%; height: 4%;" coolCol="6"
     coolRow="13" coolLength="40">
   <input type="text" coolType="field" name="field_13_47"
     [(ngModel)]="ref(in.group, 2, 'infrastructure.csePersonNumber').value"
     [coolVideo]="out.group?.[2]?.infrastructure.screenField?.csePersonNumber"
     coolAutotab #field_13_47 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 57.5%; top: 48%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="13" coolLength="10">
   <input type="text" coolType="field" name="field_13_58"
     [(ngModel)]="ref(in.group, 2, 'csePersonsWorkSet.formattedName').value"
     [coolVideo]="out.group?.[2]?.csePersonsWorkSet.screenField?.formattedName"
     coolAutotab #field_13_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="23"
     style="left: 71.25%; top: 48%; width: 28.75%; height: 4%;" coolCol="58"
     coolRow="13" coolLength="23">
   <input type="text" coolType="field" name="field_14_6"
     [(ngModel)]="ref(in.group, 2, 'infrastructure.detail').value"
     [coolVideo]="out.group?.[2]?.infrastructure.screenField?.detail"
     coolAutotab #field_14_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="55"
     style="left: 6.25%; top: 52%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="55">
   <input type="text" coolType="field" name="field_14_64"
     [(ngModel)]="ref(in.group, 2, 'legalAction.courtCaseNumber').value"
     [coolVideo]="out.group?.[2]?.legalAction.screenField?.courtCaseNumber"
     coolAutotab #field_14_64 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="17"
     style="left: 78.75%; top: 52%; width: 21.25%; height: 4%;" coolCol="64"
     coolRow="14" coolLength="17">
   <input type="text" coolType="field" name="field_15_3"
     [(ngModel)]="ref(in.group, 3, 'common.selectChar').value"
     [coolVideo]="out.group?.[3]?.common.screenField?.selectChar" coolAutotab
     #field_15_3 coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 56%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="15" coolLength="1">
   <input type="text" coolType="field" name="field_15_7"
     [(ngModel)]="ref(in.group, 3, 'monitoredActivity.typeCode').value"
     [coolVideo]="out.group?.[3]?.monitoredActivity.screenField?.typeCode"
     coolAutotab #field_15_7 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="3"
     style="left: 7.5%; top: 56%; width: 3.75%; height: 4%;" coolCol="7"
     coolRow="15" coolLength="3">
   <input type="text" coolType="field" name="field_15_12"
     [(ngModel)]="ref(in.group, 3, 'monitoredActivity.fedNonComplianceDate').value"
     [coolVideo]="out.group?.[3]?.monitoredActivity.screenField?.fedNonComplianceDate"
     coolAutotab #field_15_12 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 13.75%; top: 56%; width: 10%; height: 4%;" coolCol="12"
     coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_22"
     [(ngModel)]="ref(in.group, 3, 'monitoredActivity.otherNonComplianceDate').value"
     [coolVideo]="out.group?.[3]?.monitoredActivity.screenField?.otherNonComplianceDate"
     coolAutotab #field_15_22 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 26.25%; top: 56%; width: 10%; height: 4%;" coolCol="22"
     coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_32"
     [(ngModel)]="ref(in.group, 3, 'monitoredActivity.startDate').value"
     [coolVideo]="out.group?.[3]?.monitoredActivity.screenField?.startDate"
     coolAutotab #field_15_32 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 38.75%; top: 56%; width: 10%; height: 4%;" coolCol="32"
     coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_42"
     [(ngModel)]="ref(in.group, 3, 'monitoredActivity.closureDate').value"
     [coolVideo]="out.group?.[3]?.monitoredActivity.screenField?.closureDate"
     coolAutotab #field_15_42 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 51.25%; top: 56%; width: 10%; height: 4%;" coolCol="42"
     coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_52"
     [(ngModel)]="ref(in.group, 3, 'monitoredActivity.closureReasonCode').value"
     [coolVideo]="out.group?.[3]?.monitoredActivity.screenField?.closureReasonCode"
     coolAutotab #field_15_52 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 63.75%; top: 56%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="15" coolLength="3">
   <input type="text" coolType="field" name="field_15_56"
     [(ngModel)]="ref(in.group, 3, 'promptReason.promptField').value"
     [coolVideo]="out.group?.[3]?.promptReason.screenField?.promptField"
     coolAutotab #field_15_56 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 68.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="15" coolLength="1">
   <input type="text" coolType="field" name="field_15_58"
     [(ngModel)]="ref(in.group, 3, 'monitoredActivity.createdBy').value"
     [coolVideo]="out.group?.[3]?.monitoredActivity.screenField?.createdBy"
     coolAutotab #field_15_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="8"
     style="left: 71.25%; top: 56%; width: 10%; height: 4%;" coolCol="58"
     coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_67"
     [(ngModel)]="ref(in.group, 3, 'infrastructure.caseNumber').value"
     [coolVideo]="out.group?.[3]?.infrastructure.screenField?.caseNumber"
     coolAutotab #field_15_67 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 82.5%; top: 56%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="15" coolLength="10">
   <input type="text" coolType="field" name="field_15_78"
     [(ngModel)]="ref(in.group, 3, 'infrastructure.caseUnitNumber').value"
     [coolVideo]="out.group?.[3]?.infrastructure.screenField?.caseUnitNumber"
     coolAutotab #field_15_78 coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 96.25%; top: 56%; width: 3.75%; height: 4%;" coolCol="78"
     coolRow="15" coolLength="3">
   <input type="text" coolType="field" name="field_16_6"
     [(ngModel)]="ref(in.group, 3, 'monitoredActivity.name').value"
     [coolVideo]="out.group?.[3]?.monitoredActivity.screenField?.name"
     coolAutotab #field_16_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="40"
     style="left: 6.25%; top: 60%; width: 50%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="40">
   <input type="text" coolType="field" name="field_16_47"
     [(ngModel)]="ref(in.group, 3, 'infrastructure.csePersonNumber').value"
     [coolVideo]="out.group?.[3]?.infrastructure.screenField?.csePersonNumber"
     coolAutotab #field_16_47 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 57.5%; top: 60%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="16" coolLength="10">
   <input type="text" coolType="field" name="field_16_58"
     [(ngModel)]="ref(in.group, 3, 'csePersonsWorkSet.formattedName').value"
     [coolVideo]="out.group?.[3]?.csePersonsWorkSet.screenField?.formattedName"
     coolAutotab #field_16_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="23"
     style="left: 71.25%; top: 60%; width: 28.75%; height: 4%;" coolCol="58"
     coolRow="16" coolLength="23">
   <input type="text" coolType="field" name="field_17_6"
     [(ngModel)]="ref(in.group, 3, 'infrastructure.detail').value"
     [coolVideo]="out.group?.[3]?.infrastructure.screenField?.detail"
     coolAutotab #field_17_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="55"
     style="left: 6.25%; top: 64%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="17" coolLength="55">
   <input type="text" coolType="field" name="field_17_64"
     [(ngModel)]="ref(in.group, 3, 'legalAction.courtCaseNumber').value"
     [coolVideo]="out.group?.[3]?.legalAction.screenField?.courtCaseNumber"
     coolAutotab #field_17_64 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="17"
     style="left: 78.75%; top: 64%; width: 21.25%; height: 4%;" coolCol="64"
     coolRow="17" coolLength="17">
   <input type="text" coolType="field" name="field_18_3"
     [(ngModel)]="ref(in.group, 4, 'common.selectChar').value"
     [coolVideo]="out.group?.[4]?.common.screenField?.selectChar" coolAutotab
     #field_18_3 coolFocus coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 2.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="3"
     coolRow="18" coolLength="1">
   <input type="text" coolType="field" name="field_18_7"
     [(ngModel)]="ref(in.group, 4, 'monitoredActivity.typeCode').value"
     [coolVideo]="out.group?.[4]?.monitoredActivity.screenField?.typeCode"
     coolAutotab #field_18_7 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="3"
     style="left: 7.5%; top: 68%; width: 3.75%; height: 4%;" coolCol="7"
     coolRow="18" coolLength="3">
   <input type="text" coolType="field" name="field_18_12"
     [(ngModel)]="ref(in.group, 4, 'monitoredActivity.fedNonComplianceDate').value"
     [coolVideo]="out.group?.[4]?.monitoredActivity.screenField?.fedNonComplianceDate"
     coolAutotab #field_18_12 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 13.75%; top: 68%; width: 10%; height: 4%;" coolCol="12"
     coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_22"
     [(ngModel)]="ref(in.group, 4, 'monitoredActivity.otherNonComplianceDate').value"
     [coolVideo]="out.group?.[4]?.monitoredActivity.screenField?.otherNonComplianceDate"
     coolAutotab #field_18_22 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 26.25%; top: 68%; width: 10%; height: 4%;" coolCol="22"
     coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_32"
     [(ngModel)]="ref(in.group, 4, 'monitoredActivity.startDate').value"
     [coolVideo]="out.group?.[4]?.monitoredActivity.screenField?.startDate"
     coolAutotab #field_18_32 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 38.75%; top: 68%; width: 10%; height: 4%;" coolCol="32"
     coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_42"
     [(ngModel)]="ref(in.group, 4, 'monitoredActivity.closureDate').value"
     [coolVideo]="out.group?.[4]?.monitoredActivity.screenField?.closureDate"
     coolAutotab #field_18_42 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 51.25%; top: 68%; width: 10%; height: 4%;" coolCol="42"
     coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_52"
     [(ngModel)]="ref(in.group, 4, 'monitoredActivity.closureReasonCode').value"
     [coolVideo]="out.group?.[4]?.monitoredActivity.screenField?.closureReasonCode"
     coolAutotab #field_18_52 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="3"
     style="left: 63.75%; top: 68%; width: 3.75%; height: 4%;" coolCol="52"
     coolRow="18" coolLength="3">
   <input type="text" coolType="field" name="field_18_56"
     [(ngModel)]="ref(in.group, 4, 'promptReason.promptField').value"
     [coolVideo]="out.group?.[4]?.promptReason.screenField?.promptField"
     coolAutotab #field_18_56 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 68.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="56"
     coolRow="18" coolLength="1">
   <input type="text" coolType="field" name="field_18_58"
     [(ngModel)]="ref(in.group, 4, 'monitoredActivity.createdBy').value"
     [coolVideo]="out.group?.[4]?.monitoredActivity.screenField?.createdBy"
     coolAutotab #field_18_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="8"
     style="left: 71.25%; top: 68%; width: 10%; height: 4%;" coolCol="58"
     coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_67"
     [(ngModel)]="ref(in.group, 4, 'infrastructure.caseNumber').value"
     [coolVideo]="out.group?.[4]?.infrastructure.screenField?.caseNumber"
     coolAutotab #field_18_67 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 82.5%; top: 68%; width: 12.5%; height: 4%;" coolCol="67"
     coolRow="18" coolLength="10">
   <input type="text" coolType="field" name="field_18_78"
     [(ngModel)]="ref(in.group, 4, 'infrastructure.caseUnitNumber').value"
     [coolVideo]="out.group?.[4]?.infrastructure.screenField?.caseUnitNumber"
     coolAutotab #field_18_78 coolReadonly coolAlign="right" coolColor="cyan"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 96.25%; top: 68%; width: 3.75%; height: 4%;" coolCol="78"
     coolRow="18" coolLength="3">
   <input type="text" coolType="field" name="field_19_6"
     [(ngModel)]="ref(in.group, 4, 'monitoredActivity.name').value"
     [coolVideo]="out.group?.[4]?.monitoredActivity.screenField?.name"
     coolAutotab #field_19_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="40"
     style="left: 6.25%; top: 72%; width: 50%; height: 4%;" coolCol="6"
     coolRow="19" coolLength="40">
   <input type="text" coolType="field" name="field_19_47"
     [(ngModel)]="ref(in.group, 4, 'infrastructure.csePersonNumber').value"
     [coolVideo]="out.group?.[4]?.infrastructure.screenField?.csePersonNumber"
     coolAutotab #field_19_47 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="10"
     style="left: 57.5%; top: 72%; width: 12.5%; height: 4%;" coolCol="47"
     coolRow="19" coolLength="10">
   <input type="text" coolType="field" name="field_19_58"
     [(ngModel)]="ref(in.group, 4, 'csePersonsWorkSet.formattedName').value"
     [coolVideo]="out.group?.[4]?.csePersonsWorkSet.screenField?.formattedName"
     coolAutotab #field_19_58 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="23"
     style="left: 71.25%; top: 72%; width: 28.75%; height: 4%;" coolCol="58"
     coolRow="19" coolLength="23">
   <input type="text" coolType="field" name="field_20_6"
     [(ngModel)]="ref(in.group, 4, 'infrastructure.detail').value"
     [coolVideo]="out.group?.[4]?.infrastructure.screenField?.detail"
     coolAutotab #field_20_6 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="55"
     style="left: 6.25%; top: 76%; width: 68.75%; height: 4%;" coolCol="6"
     coolRow="20" coolLength="55">
   <input type="text" coolType="field" name="field_20_64"
     [(ngModel)]="ref(in.group, 4, 'legalAction.courtCaseNumber').value"
     [coolVideo]="out.group?.[4]?.legalAction.screenField?.courtCaseNumber"
     coolAutotab #field_20_64 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="17"
     style="left: 78.75%; top: 76%; width: 21.25%; height: 4%;" coolCol="64"
     coolRow="20" coolLength="17">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 88.75%; top: 80%; width: 10%; height: 4%;" coolCol="72"
     coolRow="21" coolLength="8">{{in.scroll.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 93.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="75">PF Key: 1 Help  2 Disp  3 Exit  4 List  5 Add  6 Upd(close)  7 Prev  8 Next</div>
   
   <div coolType="literal" style="left: 10%; top: 92%; width: 85%; height: 4%;"
     coolCol="9" coolRow="24" coolLength="68">9 Return  11 Clear  12 Signoff  15 DETAIL  16 NATE  17 ATLM  18 ASIN</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="DETAIL" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=DETAIL</a>
   <a coolType="action" coolCommand="NATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=NATE</a>
   <a coolType="action" coolCommand="ATLM" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F5">F17=ATLM</a>
   <a coolType="action" coolCommand="ASIN" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F6">F18=ASIN</a>
   </div>