<!--Name: SP_NATE_MAINT_NARRATIVE_DETAIL, ID: 370960208, model: 746-->
<div coolContent coolName="SP_NATE_MAINT_NARRATIVE_DETAIL" coolType="SCREEN">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 23.75%; top: 0; width: 52.5%; height: 4%;" coolCol="20"
     coolRow="1" coolLength="42">CSE  -  Maintain Narrative Detail  -  NATE</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 12%; width: 5%; height: 4%;"
     coolCol="2" coolRow="4" coolLength="4">Type</div>
   
   <div coolType="prompt" style="left: 20%; top: 12%; width: 5%; height: 4%;"
     coolCol="17" coolRow="4" coolLength="4">Date</div>
   
   <div coolType="prompt"
     style="left: 32.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="4" coolLength="1">F</div>
   
   <div coolType="prompt"
     style="left: 36.25%; top: 12%; width: 2.5%; height: 4%;" coolCol="30"
     coolRow="4" coolLength="2">St</div>
   
   <div coolType="prompt" style="left: 41.25%; top: 12%; width: 5%; height: 4%;"
     coolCol="34" coolRow="4" coolLength="4">Case</div>
   
   <div coolType="prompt" style="left: 55%; top: 12%; width: 3.75%; height: 4%;"
     coolCol="45" coolRow="4" coolLength="3">Unt</div>
   
   <div coolType="prompt"
     style="left: 61.25%; top: 12%; width: 13.75%; height: 4%;" coolCol="50"
     coolRow="4" coolLength="11">Court Order</div>
   
   <div coolType="prompt" style="left: 85%; top: 12%; width: 12.5%; height: 4%;"
     coolCol="69" coolRow="4" coolLength="10">Created By</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 16%; width: 15%; height: 4%;" coolCol="2"
     coolRow="5" coolLength="12">{{in.headerInfrastructure.eventType}}</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 20%; top: 16%; width: 10%; height: 4%;" coolCol="17"
     coolRow="5" coolLength="8">{{in.headerDateWorkArea.date|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 32.5%; top: 16%; width: 1.25%; height: 4%;" coolCol="27"
     coolRow="5" coolLength="1">{{in.headerInfrastructure.function}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="30"
     coolRow="5" coolLength="1">{{in.headerInfrastructure.processStatus}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 41.25%; top: 16%; width: 12.5%; height: 4%;" coolCol="34"
     coolRow="5" coolLength="10">{{in.processed.caseNumber}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 55%; top: 16%; width: 3.75%; height: 4%;" coolCol="45"
     coolRow="5" coolLength="3">{{in.headerInfrastructure.caseUnitNumber|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 16%; width: 21.25%; height: 4%;" coolCol="50"
     coolRow="5" coolLength="17">{{in.headerLegalAction.courtCaseNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 85%; top: 16%; width: 10%; height: 4%;" coolCol="69"
     coolRow="5" coolLength="8">{{in.headerInfrastructure.createdBy}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 20%; width: 17.5%; height: 4%;" coolCol="2"
     coolRow="6" coolLength="14">History Detail</div>
   
   <div coolType="prompt"
     style="left: 53.75%; top: 20%; width: 10%; height: 4%;" coolCol="44"
     coolRow="6" coolLength="8">Person #</div>
   
   <div coolType="prompt"
     style="left: 68.75%; top: 20%; width: 18.75%; height: 4%;" coolCol="56"
     coolRow="6" coolLength="15">CSE Person Name</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 1.25%; top: 24%; width: 50%; height: 4%;" coolCol="2"
     coolRow="7" coolLength="40">{{in.headerInfrastructure.eventDetailName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 53.75%; top: 24%; width: 12.5%; height: 4%;" coolCol="44"
     coolRow="7" coolLength="10">{{in.headerInfrastructure.csePersonNumber}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 68.75%; top: 24%; width: 27.5%; height: 4%;" coolCol="56"
     coolRow="7" coolLength="22">{{in.headerCsePersonsWorkSet.formattedName}}</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 32%; width: 7.5%; height: 4%;" coolCol="2"
     coolRow="9" coolLength="6">Case #</div>
   <input type="text" coolType="field" name="field_9_9"
     [(ngModel)]="in.headerInfrastructure.caseNumber"
     [coolVideo]="out.headerInfrastructure.screenField?.caseNumber" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="10"
     style="left: 10%; top: 32%; width: 12.5%; height: 4%;" coolCol="9"
     coolRow="9" coolLength="10">
   
   <div coolType="prompt" style="left: 32.5%; top: 32%; width: 10%; height: 4%;"
     coolCol="27" coolRow="9" coolLength="8">Extl Evt</div>
   <input type="text" coolType="field" name="field_9_36"
     [(ngModel)]="in.externalEvent.eventDetailName"
     [coolVideo]="out.externalEvent.screenField?.eventDetailName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 43.75%; top: 32%; width: 2.5%; height: 4%;" coolCol="36"
     coolRow="9" coolLength="2">
   <input type="text" coolType="field" name="field_9_39"
     [(ngModel)]="in.prompt.selectChar"
     [coolVideo]="out.prompt.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 47.5%; top: 32%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="9" coolLength="1">
   
   <div coolType="prompt"
     style="left: 53.75%; top: 32%; width: 13.75%; height: 4%;" coolCol="44"
     coolRow="9" coolLength="11">Filter Date</div>
   <input type="text" coolType="field" name="field_9_56"
     [(ngModel)]="in.filter.date" [coolVideo]="out.filter.screenField?.date"
     coolAutotab coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 68.75%; top: 32%; width: 10%; height: 4%;" coolCol="56"
     coolRow="9" coolLength="8">
   
   <div coolType="prompt"
     style="left: 1.25%; top: 36%; width: 2.5%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="2">AR</div>
   <input type="text" coolType="field" name="field_10_5"
     [(ngModel)]="in.ar.formattedName"
     [coolVideo]="out.ar.screenField?.formattedName" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="22"
     style="left: 5%; top: 36%; width: 27.5%; height: 4%;" coolCol="5"
     coolRow="10" coolLength="22">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 33.75%; top: 36%; width: 12.5%; height: 4%;" coolCol="28"
     coolRow="10" coolLength="10">{{in.ar.number}}</div>
   
   <div coolType="prompt"
     style="left: 53.75%; top: 36%; width: 2.5%; height: 4%;" coolCol="44"
     coolRow="10" coolLength="2">AP</div>
   <input type="text" coolType="field" name="field_10_47"
     [(ngModel)]="in.ap.formattedName"
     [coolVideo]="out.ap.screenField?.formattedName" coolAutotab coolReadonly
     coolColor="cyan" coolUpper [attr.maxlength]="22"
     style="left: 57.5%; top: 36%; width: 27.5%; height: 4%;" coolCol="47"
     coolRow="10" coolLength="22">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 86.25%; top: 36%; width: 12.5%; height: 4%;" coolCol="70"
     coolRow="10" coolLength="10">{{in.ap.number}}</div>
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.detail, 0, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[0]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_12_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1">
   <input type="text" coolType="field" name="field_12_4"
     [(ngModel)]="ref(in.detail, 0, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[0]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_12_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 44%; width: 10%; height: 4%;" coolCol="4"
     coolRow="12" coolLength="8">
   <input type="text" coolType="field" name="field_12_13"
     [(ngModel)]="ref(in.detail, 0, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[0]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_12_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 44%; width: 85%; height: 4%;" coolCol="13"
     coolRow="12" coolLength="68">
   <input type="text" coolType="field" name="field_13_2"
     [(ngModel)]="ref(in.detail, 1, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[1]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_13_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="13" coolLength="1">
   <input type="text" coolType="field" name="field_13_4"
     [(ngModel)]="ref(in.detail, 1, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[1]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_13_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 48%; width: 10%; height: 4%;" coolCol="4"
     coolRow="13" coolLength="8">
   <input type="text" coolType="field" name="field_13_13"
     [(ngModel)]="ref(in.detail, 1, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[1]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_13_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 48%; width: 85%; height: 4%;" coolCol="13"
     coolRow="13" coolLength="68">
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.detail, 2, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[2]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_14_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1">
   <input type="text" coolType="field" name="field_14_4"
     [(ngModel)]="ref(in.detail, 2, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[2]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_14_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 52%; width: 10%; height: 4%;" coolCol="4"
     coolRow="14" coolLength="8">
   <input type="text" coolType="field" name="field_14_13"
     [(ngModel)]="ref(in.detail, 2, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[2]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_14_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 52%; width: 85%; height: 4%;" coolCol="13"
     coolRow="14" coolLength="68">
   <input type="text" coolType="field" name="field_15_2"
     [(ngModel)]="ref(in.detail, 3, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[3]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_15_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="15" coolLength="1">
   <input type="text" coolType="field" name="field_15_4"
     [(ngModel)]="ref(in.detail, 3, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[3]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_15_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 56%; width: 10%; height: 4%;" coolCol="4"
     coolRow="15" coolLength="8">
   <input type="text" coolType="field" name="field_15_13"
     [(ngModel)]="ref(in.detail, 3, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[3]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_15_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 56%; width: 85%; height: 4%;" coolCol="13"
     coolRow="15" coolLength="68">
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.detail, 4, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[4]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_16_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1">
   <input type="text" coolType="field" name="field_16_4"
     [(ngModel)]="ref(in.detail, 4, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[4]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_16_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 60%; width: 10%; height: 4%;" coolCol="4"
     coolRow="16" coolLength="8">
   <input type="text" coolType="field" name="field_16_13"
     [(ngModel)]="ref(in.detail, 4, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[4]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_16_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 60%; width: 85%; height: 4%;" coolCol="13"
     coolRow="16" coolLength="68">
   <input type="text" coolType="field" name="field_17_2"
     [(ngModel)]="ref(in.detail, 5, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[5]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_17_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="17" coolLength="1">
   <input type="text" coolType="field" name="field_17_4"
     [(ngModel)]="ref(in.detail, 5, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[5]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_17_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 64%; width: 10%; height: 4%;" coolCol="4"
     coolRow="17" coolLength="8">
   <input type="text" coolType="field" name="field_17_13"
     [(ngModel)]="ref(in.detail, 5, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[5]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_17_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 64%; width: 85%; height: 4%;" coolCol="13"
     coolRow="17" coolLength="68">
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.detail, 6, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[6]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_18_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1">
   <input type="text" coolType="field" name="field_18_4"
     [(ngModel)]="ref(in.detail, 6, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[6]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_18_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 68%; width: 10%; height: 4%;" coolCol="4"
     coolRow="18" coolLength="8">
   <input type="text" coolType="field" name="field_18_13"
     [(ngModel)]="ref(in.detail, 6, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[6]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_18_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 68%; width: 85%; height: 4%;" coolCol="13"
     coolRow="18" coolLength="68">
   <input type="text" coolType="field" name="field_19_2"
     [(ngModel)]="ref(in.detail, 7, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[7]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_19_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="19" coolLength="1">
   <input type="text" coolType="field" name="field_19_4"
     [(ngModel)]="ref(in.detail, 7, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[7]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_19_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 72%; width: 10%; height: 4%;" coolCol="4"
     coolRow="19" coolLength="8">
   <input type="text" coolType="field" name="field_19_13"
     [(ngModel)]="ref(in.detail, 7, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[7]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_19_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 72%; width: 85%; height: 4%;" coolCol="13"
     coolRow="19" coolLength="68">
   <input type="text" coolType="field" name="field_20_2"
     [(ngModel)]="ref(in.detail, 8, 'dtlCommon.selectChar').value"
     [coolVideo]="out.detail?.[8]?.dtlCommon.screenField?.selectChar"
     coolAutotab #field_20_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 76%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="20" coolLength="1">
   <input type="text" coolType="field" name="field_20_4"
     [(ngModel)]="ref(in.detail, 8, 'dtlNarrativeDetail.createdTimestamp').value"
     [coolVideo]="out.detail?.[8]?.dtlNarrativeDetail.screenField?.createdTimestamp"
     coolAutotab #field_20_4 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 3.75%; top: 76%; width: 10%; height: 4%;" coolCol="4"
     coolRow="20" coolLength="8">
   <input type="text" coolType="field" name="field_20_13"
     [(ngModel)]="ref(in.detail, 8, 'dtlNarrativeDetail.narrativeText').value"
     [coolVideo]="out.detail?.[8]?.dtlNarrativeDetail.screenField?.narrativeText"
     coolAutotab #field_20_13 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="68"
     style="left: 15%; top: 76%; width: 85%; height: 4%;" coolCol="13"
     coolRow="20" coolLength="68">
   
   <div coolType="field" coolColor="white" coolUpper
     style="left: 87.5%; top: 80%; width: 10%; height: 4%;" coolCol="71"
     coolRow="21" coolLength="8">{{in.scroll.scrollingMessage}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 2.5%; top: 88%; width: 85%; height: 4%;"
     coolCol="3" coolRow="23" coolLength="68">PF Key:  1 Help 2 Display 3 Exit 4 List 5 Add 7 Prev 8 Next 9 Return</div>
   
   <div coolType="literal"
     style="left: 12.5%; top: 92%; width: 56.25%; height: 4%;" coolCol="11"
     coolRow="24" coolLength="45">10 Delete 11 Clear 12 Signoff 15 CSLN 16 HIST</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   <a coolType="action" coolCommand="CSLN" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F3">F15=CSLN</a>
   <a coolType="action" coolCommand="HIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="Shift+F4">F16=HIST</a>
   </div>