<!--Name: SP_OFCL_LIST_OFFICE, ID: 371782750, model: 746-->
<div coolContent coolName="SP_OFCL_LIST_OFFICE" coolType="SCREEN"
  (coolInit)="scrollSize = 165; pageSize = 11">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal"
     style="left: 33.75%; top: 0; width: 31.25%; height: 4%;" coolCol="28"
     coolRow="1" coolLength="25">CSE - List Offices - OFCL</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt" style="left: 10%; top: 8%; width: 16.25%; height: 4%;"
     coolCol="9" coolRow="3" coolLength="13">Starting Name</div>
   <input type="text" coolType="field" name="field_3_24"
     [(ngModel)]="in.startingOffice.name"
     [coolVideo]="out.startingOffice.screenField?.name" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="30"
     style="left: 28.75%; top: 8%; width: 37.5%; height: 4%;" coolCol="24"
     coolRow="3" coolLength="30">
   
   <div coolType="prompt"
     style="left: 10%; top: 12%; width: 16.25%; height: 4%;" coolCol="9"
     coolRow="4" coolLength="13">Starting City</div>
   <input type="text" coolType="field" name="field_4_24"
     [(ngModel)]="in.startingOfficeAddress.city"
     [coolVideo]="out.startingOfficeAddress.screenField?.city" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="15"
     style="left: 28.75%; top: 12%; width: 18.75%; height: 4%;" coolCol="24"
     coolRow="4" coolLength="15">
   
   <div coolType="literal" style="left: 10%; top: 16%; width: 10%; height: 4%;"
     coolCol="9" coolRow="5" coolLength="8">Show All</div>
   <input type="text" coolType="field" name="field_5_18"
     [(ngModel)]="in.showAll.text1" [coolVideo]="out.showAll.screenField?.text1"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 21.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="18"
     coolRow="5" coolLength="1">
   
   <div coolType="prompt" style="left: 57.5%; top: 16%; width: 5%; height: 4%;"
     coolCol="47" coolRow="5" coolLength="4">Type</div>
   <input type="text" coolType="field" name="field_5_52"
     [(ngModel)]="in.startingOffice.typeCode"
     [coolVideo]="out.startingOffice.screenField?.typeCode" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 63.75%; top: 16%; width: 1.25%; height: 4%;" coolCol="52"
     coolRow="5" coolLength="1">
   <input type="text" coolType="field" name="field_5_54"
     [(ngModel)]="in.promptOfficeType.flag"
     [coolVideo]="out.promptOfficeType.screenField?.flag" coolAutotab coolFocus
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 66.25%; top: 16%; width: 1.25%; height: 4%;" coolCol="54"
     coolRow="5" coolLength="1">
   
   <div coolType="field" coolColor="green" coolUpper
     style="left: 68.75%; top: 16%; width: 25%; height: 4%;" coolCol="56"
     coolRow="5" coolLength="20">{{in.officeTypeDesc.description}}</div>
   
   <div coolType="literal"
     style="left: 10%; top: 20%; width: 8.75%; height: 4%;" coolCol="9"
     coolRow="6" coolLength="7">Sort by</div>
   <input type="text" coolType="field" name="field_6_18"
     [(ngModel)]="in.sortBy.selectChar"
     [coolVideo]="out.sortBy.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 21.25%; top: 20%; width: 1.25%; height: 4%;" coolCol="18"
     coolRow="6" coolLength="1">
   
   <div coolType="literal"
     style="left: 25%; top: 20%; width: 36.25%; height: 4%;" coolCol="21"
     coolRow="6" coolLength="29">(N)umber (T)ype N(A)me (C)ity</div>
   
   <div coolType="prompt"
     style="left: 2.5%; top: 28%; width: 3.75%; height: 4%;" coolCol="3"
     coolRow="8" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 8.75%; top: 28%; width: 3.75%; height: 4%;" coolCol="8"
     coolRow="8" coolLength="3">Num</div>
   
   <div coolType="prompt" style="left: 15%; top: 28%; width: 5%; height: 4%;"
     coolCol="13" coolRow="8" coolLength="4">Type</div>
   
   <div coolType="prompt" style="left: 22.5%; top: 28%; width: 5%; height: 4%;"
     coolCol="19" coolRow="8" coolLength="4">Name</div>
   
   <div coolType="prompt" style="left: 61.25%; top: 28%; width: 5%; height: 4%;"
     coolCol="50" coolRow="8" coolLength="4">City</div>
   
   <div coolType="prompt" style="left: 80%; top: 28%; width: 6.25%; height: 4%;"
     coolCol="65" coolRow="8" coolLength="5">Phone</div>
   <input type="text" coolType="field" name="field_9_4"
     [(ngModel)]="ref(in.group, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 32%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 32%; width: 5%; height: 4%;" coolCol="8"
     coolRow="9" coolLength="4" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 32%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="9" coolLength="1" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 32%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="9" coolLength="30" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 32%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="9" coolLength="13" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 32%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="9" coolLength="3" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 32%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="9" coolLength="7" [hidden]="pageOffset >= length(in.group)">{{in.group?.[pageOffset]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_10_4"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 36%; width: 5%; height: 4%;" coolCol="8"
     coolRow="10" coolLength="4" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="10" coolLength="1" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 36%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="10" coolLength="30" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 36%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="10" coolLength="13" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 36%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="10" coolLength="3" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 36%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="10" coolLength="7" [hidden]="pageOffset + 1 >= length(in.group)">{{in.group?.[pageOffset + 1]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_11_4"
     [(ngModel)]="ref(in.group, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 40%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 40%; width: 5%; height: 4%;" coolCol="8"
     coolRow="11" coolLength="4" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 40%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="11" coolLength="1" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 40%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="11" coolLength="30" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 40%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="11" coolLength="13" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 40%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="11" coolLength="3" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 40%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="11" coolLength="7" [hidden]="pageOffset + 2 >= length(in.group)">{{in.group?.[pageOffset + 2]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_12_4"
     [(ngModel)]="ref(in.group, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 44%; width: 5%; height: 4%;" coolCol="8"
     coolRow="12" coolLength="4" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 44%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="12" coolLength="30" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 44%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="12" coolLength="13" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 44%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="12" coolLength="3" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 44%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="12" coolLength="7" [hidden]="pageOffset + 3 >= length(in.group)">{{in.group?.[pageOffset + 3]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_13_4"
     [(ngModel)]="ref(in.group, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 48%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 4 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 48%; width: 5%; height: 4%;" coolCol="8"
     coolRow="13" coolLength="4" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 48%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="13" coolLength="1" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 48%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="13" coolLength="30" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 48%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="13" coolLength="13" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 48%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="13" coolLength="3" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 48%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="13" coolLength="7" [hidden]="pageOffset + 4 >= length(in.group)">{{in.group?.[pageOffset + 4]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_14_4"
     [(ngModel)]="ref(in.group, pageOffset + 5, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 5]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 5 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 52%; width: 5%; height: 4%;" coolCol="8"
     coolRow="14" coolLength="4" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 52%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="14" coolLength="30" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 52%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="14" coolLength="13" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 52%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="14" coolLength="3" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 52%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="14" coolLength="7" [hidden]="pageOffset + 5 >= length(in.group)">{{in.group?.[pageOffset + 5]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_15_4"
     [(ngModel)]="ref(in.group, pageOffset + 6, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 6]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 56%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 6 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 56%; width: 5%; height: 4%;" coolCol="8"
     coolRow="15" coolLength="4" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 56%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="15" coolLength="1" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 56%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="15" coolLength="30" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 56%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="15" coolLength="13" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 56%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 56%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="15" coolLength="7" [hidden]="pageOffset + 6 >= length(in.group)">{{in.group?.[pageOffset + 6]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_16_4"
     [(ngModel)]="ref(in.group, pageOffset + 7, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 7]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 7 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 60%; width: 5%; height: 4%;" coolCol="8"
     coolRow="16" coolLength="4" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 60%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="16" coolLength="30" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 60%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="16" coolLength="13" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 60%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="16" coolLength="3" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 60%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="16" coolLength="7" [hidden]="pageOffset + 7 >= length(in.group)">{{in.group?.[pageOffset + 7]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_17_4"
     [(ngModel)]="ref(in.group, pageOffset + 8, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 8]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 64%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 8 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 64%; width: 5%; height: 4%;" coolCol="8"
     coolRow="17" coolLength="4" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 64%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="17" coolLength="1" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 64%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="17" coolLength="30" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 64%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="17" coolLength="13" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 64%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="17" coolLength="3" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 64%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="17" coolLength="7" [hidden]="pageOffset + 8 >= length(in.group)">{{in.group?.[pageOffset + 8]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_18_4"
     [(ngModel)]="ref(in.group, pageOffset + 9, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 9]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 9 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 68%; width: 5%; height: 4%;" coolCol="8"
     coolRow="18" coolLength="4" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 68%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="18" coolLength="30" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 68%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="18" coolLength="13" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 68%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="18" coolLength="3" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 68%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="18" coolLength="7" [hidden]="pageOffset + 9 >= length(in.group)">{{in.group?.[pageOffset + 9]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   <input type="text" coolType="field" name="field_19_4"
     [(ngModel)]="ref(in.group, pageOffset + 10, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 10]?.common.screenField?.selectChar"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="1"
     style="left: 3.75%; top: 72%; width: 1.25%; height: 4%;" coolCol="4"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 10 >= length(in.group)">
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 8.75%; top: 72%; width: 5%; height: 4%;" coolCol="8"
     coolRow="19" coolLength="4" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.office.systemGeneratedId|coolNumber:'0000;#':1}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 72%; width: 1.25%; height: 4%;" coolCol="14"
     coolRow="19" coolLength="1" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.office.typeCode}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 22.5%; top: 72%; width: 37.5%; height: 4%;" coolCol="19"
     coolRow="19" coolLength="30" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.office.name}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 61.25%; top: 72%; width: 16.25%; height: 4%;" coolCol="50"
     coolRow="19" coolLength="13" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.officeAddress.city}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 80%; top: 72%; width: 3.75%; height: 4%;" coolCol="65"
     coolRow="19" coolLength="3" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.office.mainPhoneAreaCode|coolNumber:'000;#':1}}</div>
   
   <div coolType="field" coolAlign="right" coolColor="cyan"
     style="left: 85%; top: 72%; width: 8.75%; height: 4%;" coolCol="69"
     coolRow="19" coolLength="7" [hidden]="pageOffset + 10 >= length(in.group)">{{in.group?.[pageOffset + 10]?.office.mainPhoneNumber|coolNumber:'0000000;#':1}}</div>
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 85%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="68">PF KEY:  1 Help  2 Display  3 Exit  4 List  7 Prev  8 Next  9 Return</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 92%; width: 26.25%; height: 4%;" coolCol="10"
     coolRow="24" coolLength="21">11 Clear  12 Sign Off</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>