<!--Name: SP_OFFC_OFFICE_MAINTENANCE, ID: 371782914, model: 746-->
<div coolContent coolName="SP_OFFC_OFFICE_MAINTENANCE" coolType="SCREEN"
  (coolInit)="scrollSize = 16; pageSize = 2">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 30%; top: 0; width: 38.75%; height: 4%;"
     coolCol="25" coolRow="1" coolLength="31">CSE - Office Maintenance - OFFC</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 22.5%; top: 12%; width: 16.25%; height: 4%;" coolCol="19"
     coolRow="4" coolLength="13" coolColor="white">Office Number</div>
   <input type="text" coolType="field" name="field_4_34"
     [(ngModel)]="in.office2.systemGeneratedId"
     [coolVideo]="out.office2.screenField?.systemGeneratedId" coolAutotab
     coolFocus coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 41.25%; top: 12%; width: 5%; height: 4%;" coolCol="34"
     coolRow="4" coolLength="4">
   <input type="text" coolType="field" name="field_4_39"
     [(ngModel)]="in.promptOffice.flag"
     [coolVideo]="out.promptOffice.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 47.5%; top: 12%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="4" coolLength="1">
   
   <div coolType="prompt" style="left: 33.75%; top: 16%; width: 5%; height: 4%;"
     coolCol="28" coolRow="5" coolLength="4">Name</div>
   <input type="text" coolType="field" name="field_5_34"
     [(ngModel)]="in.office2.name" [coolVideo]="out.office2.screenField?.name"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="30"
     style="left: 41.25%; top: 16%; width: 37.5%; height: 4%;" coolCol="34"
     coolRow="5" coolLength="30">
   
   <div coolType="prompt" style="left: 33.75%; top: 20%; width: 5%; height: 4%;"
     coolCol="28" coolRow="6" coolLength="4">Type</div>
   <input type="text" coolType="field" name="field_6_34"
     [(ngModel)]="in.office2.typeCode"
     [coolVideo]="out.office2.screenField?.typeCode" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="1"
     style="left: 41.25%; top: 20%; width: 1.25%; height: 4%;" coolCol="34"
     coolRow="6" coolLength="1">
   <input type="text" coolType="field" name="field_6_36"
     [(ngModel)]="in.promptOfficeType.flag"
     [coolVideo]="out.promptOfficeType.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 43.75%; top: 20%; width: 1.25%; height: 4%;" coolCol="36"
     coolRow="6" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 46.25%; top: 20%; width: 50%; height: 4%;" coolCol="38"
     coolRow="6" coolLength="40">{{in.officeTypeDesc.description}}</div>
   
   <div coolType="prompt"
     style="left: 32.5%; top: 24%; width: 6.25%; height: 4%;" coolCol="27"
     coolRow="7" coolLength="5">Phone</div>
   <input type="text" coolType="field" name="field_7_34"
     [(ngModel)]="in.office2.mainPhoneAreaCode"
     [coolVideo]="out.office2.screenField?.mainPhoneAreaCode" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 41.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="34"
     coolRow="7" coolLength="3">
   <input type="text" coolType="field" name="field_7_38"
     [(ngModel)]="in.office2.mainPhoneNumber"
     [coolVideo]="out.office2.screenField?.mainPhoneNumber" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000000;#" coolBlankWhenZero [attr.maxlength]="7"
     style="left: 46.25%; top: 24%; width: 8.75%; height: 4%;" coolCol="38"
     coolRow="7" coolLength="7">
   
   <div coolType="prompt"
     style="left: 61.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="50"
     coolRow="7" coolLength="3">Fax</div>
   <input type="text" coolType="field" name="field_7_54"
     [(ngModel)]="in.office2.mainFaxAreaCode"
     [coolVideo]="out.office2.screenField?.mainFaxAreaCode" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 66.25%; top: 24%; width: 3.75%; height: 4%;" coolCol="54"
     coolRow="7" coolLength="3">
   <input type="text" coolType="field" name="field_7_58"
     [(ngModel)]="in.office2.mainFaxPhoneNumber"
     [coolVideo]="out.office2.screenField?.mainFaxPhoneNumber" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000000;#" coolBlankWhenZero [attr.maxlength]="7"
     style="left: 71.25%; top: 24%; width: 8.75%; height: 4%;" coolCol="58"
     coolRow="7" coolLength="7">
   
   <div coolType="prompt"
     style="left: 28.75%; top: 28%; width: 10%; height: 4%;" coolCol="24"
     coolRow="8" coolLength="8" coolColor="white">Eff Date</div>
   <input type="text" coolType="field" name="field_8_34"
     [(ngModel)]="in.office2.effectiveDate"
     [coolVideo]="out.office2.screenField?.effectiveDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 41.25%; top: 28%; width: 10%; height: 4%;" coolCol="34"
     coolRow="8" coolLength="8">
   
   <div coolType="prompt" style="left: 60%; top: 28%; width: 5%; height: 4%;"
     coolCol="49" coolRow="8" coolLength="4" coolColor="white">FIPS</div>
   <input type="text" coolType="field" name="field_8_54"
     [(ngModel)]="in.fips.state" [coolVideo]="out.fips.screenField?.state"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 66.25%; top: 28%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="8" coolLength="2">
   <input type="text" coolType="field" name="field_8_57"
     [(ngModel)]="in.fips.county" [coolVideo]="out.fips.screenField?.county"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="000;#" coolBlankWhenZero [attr.maxlength]="3"
     style="left: 70%; top: 28%; width: 3.75%; height: 4%;" coolCol="57"
     coolRow="8" coolLength="3">
   <input type="text" coolType="field" name="field_8_61"
     [(ngModel)]="in.fips.location" [coolVideo]="out.fips.screenField?.location"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     placeholder="00" coolNumber="00;#" coolBlankWhenZero [attr.maxlength]="2"
     style="left: 75%; top: 28%; width: 2.5%; height: 4%;" coolCol="61"
     coolRow="8" coolLength="2">
   <input type="text" coolType="field" name="field_8_64"
     [(ngModel)]="in.listFips.flag" [coolVideo]="out.listFips.screenField?.flag"
     coolAutotab coolColor="green" coolHighlight="underscore" placeholder="+"
     coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 78.75%; top: 28%; width: 1.25%; height: 4%;" coolCol="64"
     coolRow="8" coolLength="1">
   
   <div coolType="prompt"
     style="left: 28.75%; top: 32%; width: 10%; height: 4%;" coolCol="24"
     coolRow="9" coolLength="8" coolColor="white">End Date</div>
   <input type="text" coolType="field" name="field_9_34"
     [(ngModel)]="in.office2.discontinueDate"
     [coolVideo]="out.office2.screenField?.discontinueDate" coolAutotab
     coolColor="green" coolHighlight="underscore" coolDate="MMddyyyy"
     [attr.maxlength]="8"
     style="left: 41.25%; top: 32%; width: 10%; height: 4%;" coolCol="34"
     coolRow="9" coolLength="8">
   
   <div coolType="prompt" style="left: 60%; top: 32%; width: 5%; height: 4%;"
     coolCol="49" coolRow="9" coolLength="4">Cnty</div>
   <input type="text" coolType="field" name="field_9_54"
     [(ngModel)]="in.cseOrganization.code"
     [coolVideo]="out.cseOrganization.screenField?.code" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="2"
     style="left: 66.25%; top: 32%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="9" coolLength="2">
   <input type="text" coolType="field" name="field_9_57"
     [(ngModel)]="in.listCounty.flag"
     [coolVideo]="out.listCounty.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 70%; top: 32%; width: 1.25%; height: 4%;" coolCol="57"
     coolRow="9" coolLength="1">
   
   <div coolType="prompt"
     style="left: 10%; top: 36%; width: 28.75%; height: 4%;" coolCol="9"
     coolRow="10" coolLength="23">Customer Service Center</div>
   <input type="text" coolType="field" name="field_10_34"
     [(ngModel)]="in.customerServiceCenter.systemGeneratedId"
     [coolVideo]="out.customerServiceCenter.screenField?.systemGeneratedId"
     coolAutotab coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 41.25%; top: 36%; width: 5%; height: 4%;" coolCol="34"
     coolRow="10" coolLength="4">
   <input type="text" coolType="field" name="field_10_39"
     [(ngModel)]="in.promptCustomerServiceC.flag"
     [coolVideo]="out.promptCustomerServiceC.screenField?.flag" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1" [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 47.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="39"
     coolRow="10" coolLength="1">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 50%; top: 36%; width: 37.5%; height: 4%;" coolCol="41"
     coolRow="10" coolLength="30">{{in.customerServiceCenter.name}}</div>
   
   <div coolType="literal"
     style="left: 8.75%; top: 44%; width: 8.75%; height: 4%;" coolCol="8"
     coolRow="12" coolLength="7">Address</div>
   
   <div coolType="prompt" style="left: 10%; top: 48%; width: 5%; height: 4%;"
     coolCol="9" coolRow="13" coolLength="4" coolColor="white">Type</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 52%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="3" coolColor="white">Sel</div>
   <input type="text" coolType="field" name="field_14_6"
     [(ngModel)]="ref(in.group, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab #field_14_6 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="1" [hidden]="pageOffset >= 16">
   <input type="text" coolType="field" name="field_14_10"
     [(ngModel)]="ref(in.group, pageOffset, 'officeAddress.type1').value"
     [coolVideo]="out.group?.[pageOffset]?.officeAddress.screenField?.type1"
     coolAutotab #field_14_10 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="14" coolLength="1" [hidden]="pageOffset >= 16">
   <input type="text" coolType="field" name="field_14_12"
     [(ngModel)]="ref(in.group, pageOffset, 'promptAddressType.flag').value"
     [coolVideo]="out.group?.[pageOffset]?.promptAddressType.screenField?.flag"
     coolAutotab #field_14_12 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 13.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="12"
     coolRow="14" coolLength="1" [hidden]="pageOffset >= 16">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 52%; width: 10%; height: 4%;" coolCol="14"
     coolRow="14" coolLength="8" [hidden]="pageOffset >= 16">{{in.group?.[pageOffset]?.addTypeDesc.description}}</div>
   
   <div coolType="prompt"
     style="left: 31.25%; top: 52%; width: 7.5%; height: 4%;" coolCol="26"
     coolRow="14" coolLength="6">Street</div>
   <input type="text" coolType="field" name="field_14_34"
     [(ngModel)]="ref(in.group, pageOffset, 'officeAddress.street1').value"
     [coolVideo]="out.group?.[pageOffset]?.officeAddress.screenField?.street1"
     coolAutotab #field_14_34 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 41.25%; top: 52%; width: 31.25%; height: 4%;" coolCol="34"
     coolRow="14" coolLength="25" [hidden]="pageOffset >= 16">
   <input type="text" coolType="field" name="field_15_34"
     [(ngModel)]="ref(in.group, pageOffset, 'officeAddress.street2').value"
     [coolVideo]="out.group?.[pageOffset]?.officeAddress.screenField?.street2"
     coolAutotab #field_15_34 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 41.25%; top: 56%; width: 31.25%; height: 4%;" coolCol="34"
     coolRow="15" coolLength="25" [hidden]="pageOffset >= 16">
   
   <div coolType="prompt" style="left: 33.75%; top: 60%; width: 5%; height: 4%;"
     coolCol="28" coolRow="16" coolLength="4" coolColor="white">City</div>
   <input type="text" coolType="field" name="field_16_34"
     [(ngModel)]="ref(in.group, pageOffset, 'officeAddress.city').value"
     [coolVideo]="out.group?.[pageOffset]?.officeAddress.screenField?.city"
     coolAutotab #field_16_34 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="15"
     style="left: 41.25%; top: 60%; width: 18.75%; height: 4%;" coolCol="34"
     coolRow="16" coolLength="15" [hidden]="pageOffset >= 16">
   
   <div coolType="prompt"
     style="left: 62.5%; top: 60%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="16" coolLength="2" coolColor="white">St</div>
   <input type="text" coolType="field" name="field_16_54"
     [(ngModel)]="ref(in.group, pageOffset, 'officeAddress.stateProvince').value"
     [coolVideo]="out.group?.[pageOffset]?.officeAddress.screenField?.stateProvince"
     coolAutotab #field_16_54 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 66.25%; top: 60%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="16" coolLength="2" [hidden]="pageOffset >= 16">
   
   <div coolType="prompt"
     style="left: 73.75%; top: 60%; width: 3.75%; height: 4%;" coolCol="60"
     coolRow="16" coolLength="3">Zip</div>
   <input type="text" coolType="field" name="field_16_64"
     [(ngModel)]="ref(in.group, pageOffset, 'officeAddress.zip').value"
     [coolVideo]="out.group?.[pageOffset]?.officeAddress.screenField?.zip"
     coolAutotab #field_16_64 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 78.75%; top: 60%; width: 6.25%; height: 4%;" coolCol="64"
     coolRow="16" coolLength="5" [hidden]="pageOffset >= 16">
   <input type="text" coolType="field" name="field_16_70"
     [(ngModel)]="ref(in.group, pageOffset, 'officeAddress.zip4').value"
     [coolVideo]="out.group?.[pageOffset]?.officeAddress.screenField?.zip4"
     coolAutotab #field_16_70 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="4"
     style="left: 86.25%; top: 60%; width: 5%; height: 4%;" coolCol="70"
     coolRow="16" coolLength="4" [hidden]="pageOffset >= 16">
   
   <div coolType="prompt" style="left: 10%; top: 64%; width: 5%; height: 4%;"
     coolCol="9" coolRow="17" coolLength="4" coolColor="white">Type</div>
   
   <div coolType="prompt"
     style="left: 1.25%; top: 68%; width: 3.75%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="3" coolColor="white">Sel</div>
   <input type="text" coolType="field" name="field_18_6"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab #field_18_6 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 6.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 1 >= 16">
   <input type="text" coolType="field" name="field_18_10"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'officeAddress.type1').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.officeAddress.screenField?.type1"
     coolAutotab #field_18_10 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 11.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="10"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 1 >= 16">
   <input type="text" coolType="field" name="field_18_12"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'promptAddressType.flag').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.promptAddressType.screenField?.flag"
     coolAutotab #field_18_12 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     [coolPermittedValues]="['Y','N','?','+','S',' ','*']"
     style="left: 13.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="12"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 1 >= 16">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 16.25%; top: 68%; width: 10%; height: 4%;" coolCol="14"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 1 >= 16">{{in.group?.[pageOffset + 1]?.addTypeDesc.description}}</div>
   
   <div coolType="prompt"
     style="left: 31.25%; top: 68%; width: 7.5%; height: 4%;" coolCol="26"
     coolRow="18" coolLength="6" coolColor="white">Street</div>
   <input type="text" coolType="field" name="field_18_34"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'officeAddress.street1').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.officeAddress.screenField?.street1"
     coolAutotab #field_18_34 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 41.25%; top: 68%; width: 31.25%; height: 4%;" coolCol="34"
     coolRow="18" coolLength="25" [hidden]="pageOffset + 1 >= 16">
   <input type="text" coolType="field" name="field_19_34"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'officeAddress.street2').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.officeAddress.screenField?.street2"
     coolAutotab #field_19_34 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="25"
     style="left: 41.25%; top: 72%; width: 31.25%; height: 4%;" coolCol="34"
     coolRow="19" coolLength="25" [hidden]="pageOffset + 1 >= 16">
   
   <div coolType="prompt" style="left: 33.75%; top: 76%; width: 5%; height: 4%;"
     coolCol="28" coolRow="20" coolLength="4" coolColor="white">City</div>
   <input type="text" coolType="field" name="field_20_34"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'officeAddress.city').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.officeAddress.screenField?.city"
     coolAutotab #field_20_34 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="15"
     style="left: 41.25%; top: 76%; width: 18.75%; height: 4%;" coolCol="34"
     coolRow="20" coolLength="15" [hidden]="pageOffset + 1 >= 16">
   
   <div coolType="prompt"
     style="left: 62.5%; top: 76%; width: 2.5%; height: 4%;" coolCol="51"
     coolRow="20" coolLength="2" coolColor="white">St</div>
   <input type="text" coolType="field" name="field_20_54"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'officeAddress.stateProvince').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.officeAddress.screenField?.stateProvince"
     coolAutotab #field_20_54 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="2"
     style="left: 66.25%; top: 76%; width: 2.5%; height: 4%;" coolCol="54"
     coolRow="20" coolLength="2" [hidden]="pageOffset + 1 >= 16">
   
   <div coolType="prompt"
     style="left: 73.75%; top: 76%; width: 3.75%; height: 4%;" coolCol="60"
     coolRow="20" coolLength="3" coolColor="white">Zip</div>
   <input type="text" coolType="field" name="field_20_64"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'officeAddress.zip').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.officeAddress.screenField?.zip"
     coolAutotab #field_20_64 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 78.75%; top: 76%; width: 6.25%; height: 4%;" coolCol="64"
     coolRow="20" coolLength="5" [hidden]="pageOffset + 1 >= 16">
   <input type="text" coolType="field" name="field_20_70"
     [(ngModel)]="ref(in.group, pageOffset + 1, 'officeAddress.zip4').value"
     [coolVideo]="out.group?.[pageOffset + 1]?.officeAddress.screenField?.zip4"
     coolAutotab #field_20_70 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="4"
     style="left: 86.25%; top: 76%; width: 5%; height: 4%;" coolCol="70"
     coolRow="20" coolLength="4" [hidden]="pageOffset + 1 >= 16">
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="71" coolRow="21" coolLength="9"
     style="left: 87.5%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="79"
     style="left: 0; top: 84%; width: 98.75%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 93.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="75">PF KEY:  1 Help  2 Display  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 92%; width: 38.75%; height: 4%;" coolCol="10"
     coolRow="24" coolLength="31">10 Delete  11 Clear  12 SignOff</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>