<!--Name: SP_SVPO_OFFC_SERV_PROVIDER_MAINT, ID: 371790997, model: 746-->
<div coolContent coolName="SP_SVPO_OFFC_SERV_PROVIDER_MAINT" coolType="SCREEN"
  (coolInit)="scrollSize = 50; pageSize = 5">
   <div coolType="field" coolIntensity="dark" coolUpper
     style="left: 1.25%; top: 0; width: 10%; height: 4%;" coolCol="2"
     coolRow="1" coolLength="8">{{global.tranCode}}</div>
   
   <div coolType="literal" style="left: 16.25%; top: 0; width: 65%; height: 4%;"
     coolCol="14" coolRow="1" coolLength="52">CSE - Maintain Service Providers in an Office - SVPO</div>
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 0; width: 10%; height: 4%;" coolCol="73" coolRow="1"
     coolLength="8">{{global.currentDate|coolDate:'MMddyyyy':0}}</div>
   
   <div coolType="prompt" style="left: 1.25%; top: 4%; width: 5%; height: 4%;"
     coolCol="2" coolRow="2" coolLength="4">NEXT</div>
   <input type="text" coolType="field" name="field_2_7"
     [(ngModel)]="in.standard.nextTransaction"
     [coolVideo]="out.standard.screenField?.nextTransaction" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper [attr.maxlength]="4"
     style="left: 7.5%; top: 4%; width: 5%; height: 4%;" coolCol="7" coolRow="2"
     coolLength="4">
   
   <div coolType="field" coolColor="cyan"
     style="left: 90%; top: 4%; width: 10%; height: 4%;" coolCol="73"
     coolRow="2" coolLength="8">{{global.currentTime|coolTime:'HH:mm:ss':1}}</div>
   
   <div coolType="prompt"
     style="left: 22.5%; top: 8%; width: 11.25%; height: 4%;" coolCol="19"
     coolRow="3" coolLength="9" coolColor="white">Office No</div>
   <input type="text" coolType="field" name="field_3_30"
     [(ngModel)]="in.office.systemGeneratedId"
     [coolVideo]="out.office.screenField?.systemGeneratedId" coolAutotab
     coolAlign="right" coolColor="green" coolHighlight="underscore"
     coolNumber="0000;#" coolBlankWhenZero [attr.maxlength]="4"
     style="left: 36.25%; top: 8%; width: 5%; height: 4%;" coolCol="30"
     coolRow="3" coolLength="4">
   <input type="text" coolType="field" name="field_3_35"
     [(ngModel)]="in.listOffice.selectChar"
     [coolVideo]="out.listOffice.screenField?.selectChar" coolAutotab
     coolColor="green" coolHighlight="underscore" placeholder="+" coolUpper
     [attr.maxlength]="1"
     style="left: 42.5%; top: 8%; width: 1.25%; height: 4%;" coolCol="35"
     coolRow="3" coolLength="1">
   <input type="text" coolType="field" name="field_3_37"
     [(ngModel)]="in.office.name" [coolVideo]="out.office.screenField?.name"
     coolAutotab coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="30" style="left: 45%; top: 8%; width: 37.5%; height: 4%;"
     coolCol="37" coolRow="3" coolLength="30">
   
   <div coolType="prompt" style="left: 28.75%; top: 12%; width: 5%; height: 4%;"
     coolCol="24" coolRow="4" coolLength="4">City</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 12%; width: 18.75%; height: 4%;" coolCol="30"
     coolRow="4" coolLength="15">{{in.officeAddress.city}}</div>
   
   <div coolType="prompt" style="left: 28.75%; top: 16%; width: 5%; height: 4%;"
     coolCol="24" coolRow="5" coolLength="4">Type</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 16%; width: 50%; height: 4%;" coolCol="30"
     coolRow="5" coolLength="40">{{in.officeType.description}}</div>
   
   <div coolType="prompt" style="left: 5%; top: 24%; width: 28.75%; height: 4%;"
     coolCol="5" coolRow="7" coolLength="23" coolColor="white">Starting Srv Prvdr Last</div>
   <input type="text" coolType="field" name="field_7_29"
     [(ngModel)]="in.search.lastName"
     [coolVideo]="out.search.screenField?.lastName" coolAutotab
     coolColor="green" coolHighlight="underscore" coolUpper
     [attr.maxlength]="17"
     style="left: 35%; top: 24%; width: 21.25%; height: 4%;" coolCol="29"
     coolRow="7" coolLength="17">
   
   <div coolType="literal"
     style="left: 6.25%; top: 28%; width: 3.75%; height: 4%;" coolCol="6"
     coolRow="8" coolLength="3">Srv</div>
   
   <div coolType="prompt" style="left: 0; top: 32%; width: 3.75%; height: 4%;"
     coolCol="1" coolRow="9" coolLength="3">Sel</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 32%; width: 7.5%; height: 4%;" coolCol="6"
     coolRow="9" coolLength="6">Prv No</div>
   
   <div coolType="prompt" style="left: 15%; top: 32%; width: 5%; height: 4%;"
     coolCol="13" coolRow="9" coolLength="4">Last</div>
   
   <div coolType="prompt"
     style="left: 36.25%; top: 32%; width: 2.5%; height: 4%;" coolCol="30"
     coolRow="9" coolLength="2">FI</div>
   
   <div coolType="prompt" style="left: 40%; top: 32%; width: 8.75%; height: 4%;"
     coolCol="33" coolRow="9" coolLength="7">User Id</div>
   
   <div coolType="prompt" style="left: 50%; top: 32%; width: 6.25%; height: 4%;"
     coolCol="41" coolRow="9" coolLength="5">Phone</div>
   
   <div coolType="prompt"
     style="left: 72.5%; top: 32%; width: 6.25%; height: 4%;" coolCol="59"
     coolRow="9" coolLength="5">Title</div>
   
   <div coolType="prompt"
     style="left: 81.25%; top: 32%; width: 7.5%; height: 4%;" coolCol="66"
     coolRow="9" coolLength="6">Bar No</div>
   <input type="text" coolType="field" name="field_10_2"
     [(ngModel)]="ref(in.import1, pageOffset, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.common.screenField?.selectChar"
     coolAutotab #field_10_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="10" coolLength="1" [hidden]="pageOffset >= 50">
   <input type="text" coolType="field" name="field_10_6"
     [(ngModel)]="ref(in.import1, pageOffset, 'serviceProvider.systemGeneratedId').value"
     [coolVideo]="out.export1?.[pageOffset]?.serviceProvider.screenField?.systemGeneratedId"
     coolAutotab #field_10_6 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="00000;#" coolBlankWhenZero
     [attr.maxlength]="5"
     style="left: 6.25%; top: 36%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="10" coolLength="5" [hidden]="pageOffset >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 36%; width: 17.5%; height: 4%;" coolCol="13"
     coolRow="10" coolLength="14" [hidden]="pageOffset >= 50">{{in.import1?.[pageOffset]?.serviceProvider.lastName}}</div>
   <input type="text" coolType="field" name="field_10_28"
     [(ngModel)]="ref(in.import1, pageOffset, 'listServiceProvider.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.listServiceProvider.screenField?.selectChar"
     coolAutotab #field_10_28 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 33.75%; top: 36%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="10" coolLength="1" [hidden]="pageOffset >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 36%; width: 1.25%; height: 4%;" coolCol="30"
     coolRow="10" coolLength="1" [hidden]="pageOffset >= 50">{{in.import1?.[pageOffset]?.serviceProvider.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 36%; width: 10%; height: 4%;" coolCol="32"
     coolRow="10" coolLength="8" [hidden]="pageOffset >= 50">{{in.import1?.[pageOffset]?.serviceProvider.userId}}</div>
   <input type="text" coolType="field" name="field_10_41"
     [(ngModel)]="ref(in.import1, pageOffset, 'officeServiceProvider.workPhoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset]?.officeServiceProvider.screenField?.workPhoneAreaCode"
     coolAutotab #field_10_41 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3" style="left: 50%; top: 36%; width: 3.75%; height: 4%;"
     coolCol="41" coolRow="10" coolLength="3" [hidden]="pageOffset >= 50">
   <input type="text" coolType="field" name="field_10_45"
     [(ngModel)]="ref(in.import1, pageOffset, 'officeServiceProvider.workPhoneNumber').value"
     [coolVideo]="out.export1?.[pageOffset]?.officeServiceProvider.screenField?.workPhoneNumber"
     coolAutotab #field_10_45 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0000000;#" coolBlankWhenZero
     [attr.maxlength]="7" style="left: 55%; top: 36%; width: 8.75%; height: 4%;"
     coolCol="45" coolRow="10" coolLength="7" [hidden]="pageOffset >= 50">
   <input type="text" coolType="field" name="field_10_53"
     [(ngModel)]="ref(in.import1, pageOffset, 'officeServiceProvider.workPhoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset]?.officeServiceProvider.screenField?.workPhoneExtension"
     coolAutotab #field_10_53 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 65%; top: 36%; width: 6.25%; height: 4%;" coolCol="53"
     coolRow="10" coolLength="5" [hidden]="pageOffset >= 50">
   <input type="text" coolType="field" name="field_10_60"
     [(ngModel)]="ref(in.import1, pageOffset, 'officeServiceProvider.roleCode').value"
     [coolVideo]="out.export1?.[pageOffset]?.officeServiceProvider.screenField?.roleCode"
     coolAutotab #field_10_60 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="2"
     style="left: 73.75%; top: 36%; width: 2.5%; height: 4%;" coolCol="60"
     coolRow="10" coolLength="2" [hidden]="pageOffset >= 50">
   <input type="text" coolType="field" name="field_10_63"
     [(ngModel)]="ref(in.import1, pageOffset, 'listRole.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset]?.listRole.screenField?.selectChar"
     coolAutotab #field_10_63 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 77.5%; top: 36%; width: 1.25%; height: 4%;" coolCol="63"
     coolRow="10" coolLength="1" [hidden]="pageOffset >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 36%; width: 12.5%; height: 4%;" coolCol="65"
     coolRow="10" coolLength="10" [hidden]="pageOffset >= 50">{{in.import1?.[pageOffset]?.serviceProvider.certificationNumber}}</div>
   
   <div coolType="prompt"
     style="left: 6.25%; top: 40%; width: 16.25%; height: 4%;" coolCol="6"
     coolRow="11" coolLength="13">Genetic Accnt</div>
   <input type="text" coolType="field" name="field_11_20"
     [(ngModel)]="ref(in.import1, pageOffset, 'geneticTestAccount.accountNumber').value"
     [coolVideo]="out.export1?.[pageOffset]?.geneticTestAccount.screenField?.accountNumber"
     coolAutotab #field_11_20 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 23.75%; top: 40%; width: 10%; height: 4%;" coolCol="20"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= 50">
   
   <div coolType="prompt"
     style="left: 36.25%; top: 40%; width: 10%; height: 4%;" coolCol="30"
     coolRow="11" coolLength="8">IRS Code</div>
   <input type="text" coolType="field" name="field_11_39"
     [(ngModel)]="ref(in.import1, pageOffset, 'officeServiceProvider.localContactCodeForIrs').value"
     [coolVideo]="out.export1?.[pageOffset]?.officeServiceProvider.screenField?.localContactCodeForIrs"
     coolAutotab #field_11_39 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 47.5%; top: 40%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="11" coolLength="3" [hidden]="pageOffset >= 50">
   
   <div coolType="literal"
     style="left: 53.75%; top: 40%; width: 10%; height: 4%;" coolCol="44"
     coolRow="11" coolLength="8">Eff Date</div>
   <input type="text" coolType="field" name="field_11_53"
     [(ngModel)]="ref(in.import1, pageOffset, 'officeServiceProvider.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset]?.officeServiceProvider.screenField?.effectiveDate"
     coolAutotab #field_11_53 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 65%; top: 40%; width: 10%; height: 4%;"
     coolCol="53" coolRow="11" coolLength="8" [hidden]="pageOffset >= 50">
   
   <div coolType="prompt" style="left: 77.5%; top: 40%; width: 10%; height: 4%;"
     coolCol="63" coolRow="11" coolLength="8">End Date</div>
   <input type="text" coolType="field" name="field_11_72"
     [(ngModel)]="ref(in.import1, pageOffset, 'officeServiceProvider.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset]?.officeServiceProvider.screenField?.discontinueDate"
     coolAutotab #field_11_72 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 88.75%; top: 40%; width: 10%; height: 4%;" coolCol="72"
     coolRow="11" coolLength="8" [hidden]="pageOffset >= 50">
   <input type="text" coolType="field" name="field_12_2"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.common.screenField?.selectChar"
     coolAutotab #field_12_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_12_6"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'serviceProvider.systemGeneratedId').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.serviceProvider.screenField?.systemGeneratedId"
     coolAutotab #field_12_6 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="00000;#" coolBlankWhenZero
     [attr.maxlength]="5"
     style="left: 6.25%; top: 44%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="12" coolLength="5" [hidden]="pageOffset + 1 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 44%; width: 17.5%; height: 4%;" coolCol="13"
     coolRow="12" coolLength="14" [hidden]="pageOffset + 1 >= 50">{{in.import1?.[pageOffset + 1]?.serviceProvider.lastName}}</div>
   <input type="text" coolType="field" name="field_12_28"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'listServiceProvider.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.listServiceProvider.screenField?.selectChar"
     coolAutotab #field_12_28 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 33.75%; top: 44%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 44%; width: 1.25%; height: 4%;" coolCol="30"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 50">{{in.import1?.[pageOffset + 1]?.serviceProvider.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 44%; width: 10%; height: 4%;" coolCol="32"
     coolRow="12" coolLength="8" [hidden]="pageOffset + 1 >= 50">{{in.import1?.[pageOffset + 1]?.serviceProvider.userId}}</div>
   <input type="text" coolType="field" name="field_12_41"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'officeServiceProvider.workPhoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.officeServiceProvider.screenField?.workPhoneAreaCode"
     coolAutotab #field_12_41 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3" style="left: 50%; top: 44%; width: 3.75%; height: 4%;"
     coolCol="41" coolRow="12" coolLength="3" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_12_45"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'officeServiceProvider.workPhoneNumber').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.officeServiceProvider.screenField?.workPhoneNumber"
     coolAutotab #field_12_45 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0000000;#" coolBlankWhenZero
     [attr.maxlength]="7" style="left: 55%; top: 44%; width: 8.75%; height: 4%;"
     coolCol="45" coolRow="12" coolLength="7" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_12_53"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'officeServiceProvider.workPhoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.officeServiceProvider.screenField?.workPhoneExtension"
     coolAutotab #field_12_53 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 65%; top: 44%; width: 6.25%; height: 4%;" coolCol="53"
     coolRow="12" coolLength="5" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_12_60"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'officeServiceProvider.roleCode').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.officeServiceProvider.screenField?.roleCode"
     coolAutotab #field_12_60 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="2"
     style="left: 73.75%; top: 44%; width: 2.5%; height: 4%;" coolCol="60"
     coolRow="12" coolLength="2" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_12_63"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'listRole.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.listRole.screenField?.selectChar"
     coolAutotab #field_12_63 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 77.5%; top: 44%; width: 1.25%; height: 4%;" coolCol="63"
     coolRow="12" coolLength="1" [hidden]="pageOffset + 1 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 44%; width: 12.5%; height: 4%;" coolCol="65"
     coolRow="12" coolLength="10" [hidden]="pageOffset + 1 >= 50">{{in.import1?.[pageOffset + 1]?.serviceProvider.certificationNumber}}</div>
   <input type="text" coolType="field" name="field_13_20"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'geneticTestAccount.accountNumber').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.geneticTestAccount.screenField?.accountNumber"
     coolAutotab #field_13_20 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 23.75%; top: 48%; width: 10%; height: 4%;" coolCol="20"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_13_39"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'officeServiceProvider.localContactCodeForIrs').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.officeServiceProvider.screenField?.localContactCodeForIrs"
     coolAutotab #field_13_39 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 47.5%; top: 48%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="13" coolLength="3" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_13_53"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'officeServiceProvider.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.officeServiceProvider.screenField?.effectiveDate"
     coolAutotab #field_13_53 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 65%; top: 48%; width: 10%; height: 4%;"
     coolCol="53" coolRow="13" coolLength="8" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_13_72"
     [(ngModel)]="ref(in.import1, pageOffset + 1, 'officeServiceProvider.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 1]?.officeServiceProvider.screenField?.discontinueDate"
     coolAutotab #field_13_72 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 88.75%; top: 48%; width: 10%; height: 4%;" coolCol="72"
     coolRow="13" coolLength="8" [hidden]="pageOffset + 1 >= 50">
   <input type="text" coolType="field" name="field_14_2"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.common.screenField?.selectChar"
     coolAutotab #field_14_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_14_6"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'serviceProvider.systemGeneratedId').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.serviceProvider.screenField?.systemGeneratedId"
     coolAutotab #field_14_6 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="00000;#" coolBlankWhenZero
     [attr.maxlength]="5"
     style="left: 6.25%; top: 52%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="14" coolLength="5" [hidden]="pageOffset + 2 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 52%; width: 17.5%; height: 4%;" coolCol="13"
     coolRow="14" coolLength="14" [hidden]="pageOffset + 2 >= 50">{{in.import1?.[pageOffset + 2]?.serviceProvider.lastName}}</div>
   <input type="text" coolType="field" name="field_14_28"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'listServiceProvider.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.listServiceProvider.screenField?.selectChar"
     coolAutotab #field_14_28 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 33.75%; top: 52%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 2 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 52%; width: 1.25%; height: 4%;" coolCol="30"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 2 >= 50">{{in.import1?.[pageOffset + 2]?.serviceProvider.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 52%; width: 10%; height: 4%;" coolCol="32"
     coolRow="14" coolLength="8" [hidden]="pageOffset + 2 >= 50">{{in.import1?.[pageOffset + 2]?.serviceProvider.userId}}</div>
   <input type="text" coolType="field" name="field_14_41"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'officeServiceProvider.workPhoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.officeServiceProvider.screenField?.workPhoneAreaCode"
     coolAutotab #field_14_41 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3" style="left: 50%; top: 52%; width: 3.75%; height: 4%;"
     coolCol="41" coolRow="14" coolLength="3" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_14_45"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'officeServiceProvider.workPhoneNumber').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.officeServiceProvider.screenField?.workPhoneNumber"
     coolAutotab #field_14_45 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0000000;#" coolBlankWhenZero
     [attr.maxlength]="7" style="left: 55%; top: 52%; width: 8.75%; height: 4%;"
     coolCol="45" coolRow="14" coolLength="7" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_14_53"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'officeServiceProvider.workPhoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.officeServiceProvider.screenField?.workPhoneExtension"
     coolAutotab #field_14_53 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 65%; top: 52%; width: 6.25%; height: 4%;" coolCol="53"
     coolRow="14" coolLength="5" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_14_60"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'officeServiceProvider.roleCode').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.officeServiceProvider.screenField?.roleCode"
     coolAutotab #field_14_60 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="2"
     style="left: 73.75%; top: 52%; width: 2.5%; height: 4%;" coolCol="60"
     coolRow="14" coolLength="2" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_14_63"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'listRole.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.listRole.screenField?.selectChar"
     coolAutotab #field_14_63 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 77.5%; top: 52%; width: 1.25%; height: 4%;" coolCol="63"
     coolRow="14" coolLength="1" [hidden]="pageOffset + 2 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 52%; width: 12.5%; height: 4%;" coolCol="65"
     coolRow="14" coolLength="10" [hidden]="pageOffset + 2 >= 50">{{in.import1?.[pageOffset + 2]?.serviceProvider.certificationNumber}}</div>
   <input type="text" coolType="field" name="field_15_20"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'geneticTestAccount.accountNumber').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.geneticTestAccount.screenField?.accountNumber"
     coolAutotab #field_15_20 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 23.75%; top: 56%; width: 10%; height: 4%;" coolCol="20"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_15_39"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'officeServiceProvider.localContactCodeForIrs').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.officeServiceProvider.screenField?.localContactCodeForIrs"
     coolAutotab #field_15_39 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 47.5%; top: 56%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="15" coolLength="3" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_15_53"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'officeServiceProvider.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.officeServiceProvider.screenField?.effectiveDate"
     coolAutotab #field_15_53 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 65%; top: 56%; width: 10%; height: 4%;"
     coolCol="53" coolRow="15" coolLength="8" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_15_72"
     [(ngModel)]="ref(in.import1, pageOffset + 2, 'officeServiceProvider.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 2]?.officeServiceProvider.screenField?.discontinueDate"
     coolAutotab #field_15_72 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 88.75%; top: 56%; width: 10%; height: 4%;" coolCol="72"
     coolRow="15" coolLength="8" [hidden]="pageOffset + 2 >= 50">
   <input type="text" coolType="field" name="field_16_2"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.common.screenField?.selectChar"
     coolAutotab #field_16_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_16_6"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'serviceProvider.systemGeneratedId').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.serviceProvider.screenField?.systemGeneratedId"
     coolAutotab #field_16_6 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="00000;#" coolBlankWhenZero
     [attr.maxlength]="5"
     style="left: 6.25%; top: 60%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="16" coolLength="5" [hidden]="pageOffset + 3 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 60%; width: 17.5%; height: 4%;" coolCol="13"
     coolRow="16" coolLength="14" [hidden]="pageOffset + 3 >= 50">{{in.import1?.[pageOffset + 3]?.serviceProvider.lastName}}</div>
   <input type="text" coolType="field" name="field_16_28"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'listServiceProvider.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.listServiceProvider.screenField?.selectChar"
     coolAutotab #field_16_28 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 33.75%; top: 60%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 3 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 60%; width: 1.25%; height: 4%;" coolCol="30"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 3 >= 50">{{in.import1?.[pageOffset + 3]?.serviceProvider.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 60%; width: 10%; height: 4%;" coolCol="32"
     coolRow="16" coolLength="8" [hidden]="pageOffset + 3 >= 50">{{in.import1?.[pageOffset + 3]?.serviceProvider.userId}}</div>
   <input type="text" coolType="field" name="field_16_41"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'officeServiceProvider.workPhoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.officeServiceProvider.screenField?.workPhoneAreaCode"
     coolAutotab #field_16_41 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3" style="left: 50%; top: 60%; width: 3.75%; height: 4%;"
     coolCol="41" coolRow="16" coolLength="3" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_16_45"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'officeServiceProvider.workPhoneNumber').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.officeServiceProvider.screenField?.workPhoneNumber"
     coolAutotab #field_16_45 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0000000;#" coolBlankWhenZero
     [attr.maxlength]="7" style="left: 55%; top: 60%; width: 8.75%; height: 4%;"
     coolCol="45" coolRow="16" coolLength="7" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_16_53"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'officeServiceProvider.workPhoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.officeServiceProvider.screenField?.workPhoneExtension"
     coolAutotab #field_16_53 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 65%; top: 60%; width: 6.25%; height: 4%;" coolCol="53"
     coolRow="16" coolLength="5" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_16_60"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'officeServiceProvider.roleCode').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.officeServiceProvider.screenField?.roleCode"
     coolAutotab #field_16_60 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="2"
     style="left: 73.75%; top: 60%; width: 2.5%; height: 4%;" coolCol="60"
     coolRow="16" coolLength="2" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_16_63"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'listRole.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.listRole.screenField?.selectChar"
     coolAutotab #field_16_63 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 77.5%; top: 60%; width: 1.25%; height: 4%;" coolCol="63"
     coolRow="16" coolLength="1" [hidden]="pageOffset + 3 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 60%; width: 12.5%; height: 4%;" coolCol="65"
     coolRow="16" coolLength="10" [hidden]="pageOffset + 3 >= 50">{{in.import1?.[pageOffset + 3]?.serviceProvider.certificationNumber}}</div>
   <input type="text" coolType="field" name="field_17_20"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'geneticTestAccount.accountNumber').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.geneticTestAccount.screenField?.accountNumber"
     coolAutotab #field_17_20 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 23.75%; top: 64%; width: 10%; height: 4%;" coolCol="20"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_17_39"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'officeServiceProvider.localContactCodeForIrs').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.officeServiceProvider.screenField?.localContactCodeForIrs"
     coolAutotab #field_17_39 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 47.5%; top: 64%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="17" coolLength="3" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_17_53"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'officeServiceProvider.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.officeServiceProvider.screenField?.effectiveDate"
     coolAutotab #field_17_53 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 65%; top: 64%; width: 10%; height: 4%;"
     coolCol="53" coolRow="17" coolLength="8" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_17_72"
     [(ngModel)]="ref(in.import1, pageOffset + 3, 'officeServiceProvider.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 3]?.officeServiceProvider.screenField?.discontinueDate"
     coolAutotab #field_17_72 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 88.75%; top: 64%; width: 10%; height: 4%;" coolCol="72"
     coolRow="17" coolLength="8" [hidden]="pageOffset + 3 >= 50">
   <input type="text" coolType="field" name="field_18_2"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'common.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.common.screenField?.selectChar"
     coolAutotab #field_18_2 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="1"
     style="left: 1.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="2"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 4 >= 50">
   <input type="text" coolType="field" name="field_18_6"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'serviceProvider.systemGeneratedId').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.serviceProvider.screenField?.systemGeneratedId"
     coolAutotab #field_18_6 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="00000;#" coolBlankWhenZero
     [attr.maxlength]="5"
     style="left: 6.25%; top: 68%; width: 6.25%; height: 4%;" coolCol="6"
     coolRow="18" coolLength="5" [hidden]="pageOffset + 4 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 15%; top: 68%; width: 17.5%; height: 4%;" coolCol="13"
     coolRow="18" coolLength="14" [hidden]="pageOffset + 4 >= 50">{{in.import1?.[pageOffset + 4]?.serviceProvider.lastName}}</div>
   <input type="text" coolType="field" name="field_18_28"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'listServiceProvider.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.listServiceProvider.screenField?.selectChar"
     coolAutotab #field_18_28 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 33.75%; top: 68%; width: 1.25%; height: 4%;" coolCol="28"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 4 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 36.25%; top: 68%; width: 1.25%; height: 4%;" coolCol="30"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 4 >= 50">{{in.import1?.[pageOffset + 4]?.serviceProvider.firstName}}</div>
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 38.75%; top: 68%; width: 10%; height: 4%;" coolCol="32"
     coolRow="18" coolLength="8" [hidden]="pageOffset + 4 >= 50">{{in.import1?.[pageOffset + 4]?.serviceProvider.userId}}</div>
   <input type="text" coolType="field" name="field_18_41"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'officeServiceProvider.workPhoneAreaCode').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.officeServiceProvider.screenField?.workPhoneAreaCode"
     coolAutotab #field_18_41 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3" style="left: 50%; top: 68%; width: 3.75%; height: 4%;"
     coolCol="41" coolRow="18" coolLength="3" [hidden]="pageOffset + 4 >= 50">
   <input type="text" coolType="field" name="field_18_45"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'officeServiceProvider.workPhoneNumber').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.officeServiceProvider.screenField?.workPhoneNumber"
     coolAutotab #field_18_45 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="0000000;#" coolBlankWhenZero
     [attr.maxlength]="7" style="left: 55%; top: 68%; width: 8.75%; height: 4%;"
     coolCol="45" coolRow="18" coolLength="7" [hidden]="pageOffset + 4 >= 50">
   <input type="text" coolType="field" name="field_18_53"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'officeServiceProvider.workPhoneExtension').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.officeServiceProvider.screenField?.workPhoneExtension"
     coolAutotab #field_18_53 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="5"
     style="left: 65%; top: 68%; width: 6.25%; height: 4%;" coolCol="53"
     coolRow="18" coolLength="5" [hidden]="pageOffset + 4 >= 50">
   <input type="text" coolType="field" name="field_18_60"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'officeServiceProvider.roleCode').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.officeServiceProvider.screenField?.roleCode"
     coolAutotab #field_18_60 coolReadonly coolColor="cyan" coolUpper
     [attr.maxlength]="2"
     style="left: 73.75%; top: 68%; width: 2.5%; height: 4%;" coolCol="60"
     coolRow="18" coolLength="2" [hidden]="pageOffset + 4 >= 50">
   <input type="text" coolType="field" name="field_18_63"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'listRole.selectChar').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.listRole.screenField?.selectChar"
     coolAutotab #field_18_63 coolColor="green" coolHighlight="underscore"
     placeholder="+" coolUpper [attr.maxlength]="1"
     style="left: 77.5%; top: 68%; width: 1.25%; height: 4%;" coolCol="63"
     coolRow="18" coolLength="1" [hidden]="pageOffset + 4 >= 50">
   
   <div coolType="field" coolColor="cyan" coolUpper
     style="left: 80%; top: 68%; width: 12.5%; height: 4%;" coolCol="65"
     coolRow="18" coolLength="10" [hidden]="pageOffset + 4 >= 50">{{in.import1?.[pageOffset + 4]?.serviceProvider.certificationNumber}}</div>
   <input type="text" coolType="field" name="field_19_20"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'geneticTestAccount.accountNumber').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.geneticTestAccount.screenField?.accountNumber"
     coolAutotab #field_19_20 coolColor="green" coolHighlight="underscore"
     coolUpper [attr.maxlength]="8"
     style="left: 23.75%; top: 72%; width: 10%; height: 4%;" coolCol="20"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 4 >= 50">
   <input type="text" coolType="field" name="field_19_39"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'officeServiceProvider.localContactCodeForIrs').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.officeServiceProvider.screenField?.localContactCodeForIrs"
     coolAutotab #field_19_39 coolAlign="right" coolColor="green"
     coolHighlight="underscore" coolNumber="000;#" coolBlankWhenZero
     [attr.maxlength]="3"
     style="left: 47.5%; top: 72%; width: 3.75%; height: 4%;" coolCol="39"
     coolRow="19" coolLength="3" [hidden]="pageOffset + 4 >= 50">
   <input type="text" coolType="field" name="field_19_53"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'officeServiceProvider.effectiveDate').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.officeServiceProvider.screenField?.effectiveDate"
     coolAutotab #field_19_53 coolReadonly coolColor="cyan" coolDate="MMddyyyy"
     [attr.maxlength]="8" style="left: 65%; top: 72%; width: 10%; height: 4%;"
     coolCol="53" coolRow="19" coolLength="8" [hidden]="pageOffset + 4 >= 50">
   <input type="text" coolType="field" name="field_19_72"
     [(ngModel)]="ref(in.import1, pageOffset + 4, 'officeServiceProvider.discontinueDate').value"
     [coolVideo]="out.export1?.[pageOffset + 4]?.officeServiceProvider.screenField?.discontinueDate"
     coolAutotab #field_19_72 coolColor="green" coolHighlight="underscore"
     coolDate="MMddyyyy" [attr.maxlength]="8"
     style="left: 88.75%; top: 72%; width: 10%; height: 4%;" coolCol="72"
     coolRow="19" coolLength="8" [hidden]="pageOffset + 4 >= 50">
   
   <div coolType="pagination" [hidden]="scrollSize < scrollAmt + pageOffset"
     coolCol="70" coolRow="21" coolLength="9"
     style="left: 86.25%; top: 80%; width: 11.25%; height: 4%;">{{pagination}}</div>
   
   <div coolType="error-message" [coolMessageType]="window.messageType"
     coolCol="1" coolRow="22" coolLength="78"
     style="left: 0; top: 84%; width: 97.5%; height: 4%;">{{window.errmsg}}</div>
   
   <div coolType="literal" style="left: 0; top: 88%; width: 93.75%; height: 4%;"
     coolCol="1" coolRow="23" coolLength="75">PF KEY:  1 Help  2 Display  3 Exit  4 List  5 Add  6 Update  7 Prev  8 Next</div>
   
   <div coolType="literal"
     style="left: 11.25%; top: 92%; width: 52.5%; height: 4%;" coolCol="10"
     coolRow="24" coolLength="42">9 Return  10 Delete  11 Clear  12 Sign Off</div>
   </div>
<div coolCommands>
   <a coolType="action" coolCommand="ENTER" tabindex="2" href="#"
     coolAccesskey="ENTER">ENTER</a>
   <a coolType="action" coolCommand="HELP" tabindex="2" href="#"
     class="invisible" coolAccesskey="F1">F01=HELP</a>
   <a coolType="action" coolCommand="DISPLAY" tabindex="2" href="#"
     class="invisible" coolAccesskey="F2">F02=DISPLAY</a>
   <a coolType="action" coolCommand="EXIT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F3">F03=EXIT</a>
   <a coolType="action" coolCommand="LIST" tabindex="2" href="#"
     class="invisible" coolAccesskey="F4">F04=LIST</a>
   <a coolType="action" coolCommand="ADD" tabindex="2" href="#"
     class="invisible" coolAccesskey="F5">F05=ADD</a>
   <a coolType="action" coolCommand="UPDATE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F6">F06=UPDATE</a>
   <a coolType="action" coolCommand="PREV" tabindex="2" href="#"
     class="invisible" coolAccesskey="F7">F07=PREV</a>
   <a coolType="action" coolCommand="NEXT" tabindex="2" href="#"
     class="invisible" coolAccesskey="F8">F08=NEXT</a>
   <a coolType="action" coolCommand="RETURN" tabindex="2" href="#"
     class="invisible" coolAccesskey="F9">F09=RETURN</a>
   <a coolType="action" coolCommand="DELETE" tabindex="2" href="#"
     class="invisible" coolAccesskey="F10">F10=DELETE</a>
   <a coolType="action" coolCommand="CLEAR" tabindex="2" href="#"
     class="invisible" coolAccesskey="F11">F11=CLEAR</a>
   <a coolType="action" coolCommand="SIGNOFF" tabindex="2" href="#"
     class="invisible" coolAccesskey="F12">F12=SIGNOFF</a>
   </div>